[2016-08-04 21:07] jonathandturner opened #35329 "E0325 needs to be updated to new format"
From: src/test/compile-fail/impl-wrong-item-for-trait.rs

Error E0324 needs a span_label, updated title, and a note, updating it from:

[code]

To:

[code]

Bonus: show the original part of the trait that conflicts

[code]

Note: likely related to https://github.com/rust-lang/rust/issues/35327 and https://github.com/rust-lang/rust/issues/35325

[2016-08-04 21:14] jonathandturner opened #35330 "Old school errors not showing labels as notes"
Originally, we had intended that old school errors would treat most labels as notes just so we would have similar information between the two formats.  With the latest refactor, this seems to have been removed.

This may or may not be related: https://gist.github.com/trixnz/ad11e68687529e164427df8f8eb63116

[code]

Same error after `unset RUST_NEW_ERROR_FORMAT`

[code]

[2016-08-04 21:24] GuillaumeGomez commented on #35257
@Limeth: It should be merged in no time. Just hold on a bit more!

[2016-08-04 21:44] arielb1 opened #35334 "auto-linux-64-debug-opt bot is very slow"
e.g. https://buildbot.rust-lang.org/builders/auto-linux-64-debug-opt/builds/3365/steps/compile/logs/stdio

elapsedTime=10409.032992
cc @alexcrichton

[2016-08-04 21:44] nikomatsakis commented on #35112
Agreed, it seems very clear that accessing an extern static should be unsafe -- just as calling an extern fn is unsafe. Just a plain oversight. There are many ways for this to go wrong:

- the C code could mutate the static
- the type might not match what the C type is
- etc

So we should add a forwards-compatibility lint and make it unsafe to access an extern static. I agree we'll want to have a

[2016-08-04 21:46] nikomatsakis commented on #35035
This seems related to the RFC around signal handlers. Are signal handlers the main reason that there is a sync requirement? I agree it can be burdensome and *seems* unnecessary, except for that.

cc @alexcrichton

[2016-08-04 21:47] nikomatsakis commented on #35035
cc @rust-lang/lang -- thoughts on whether thread-local values must be sync?

[2016-08-04 21:52] nikomatsakis commented on #30503
So @nrc and I discussed this -- but we're the only ones in the @rust-lang/lang meeting due to various reasons -- we both feel like we should accept this change (use the semantic type, not the type alias) and probably also adopt the simpler version of @eddyb's proposal that is [described on internals](https://internals.rust-lang.org/t/rfc-reduce-false-positives-for-private-type-in-public-interface/

[2016-08-04 21:59] nikomatsakis commented on #27554
Going to close this issue -- this is the desired semantics -- but we do need to write an amendment to the RFC, I think.

[2016-08-04 21:59] #27554 closed

[2016-08-04 22:00] nikomatsakis commented on #26158
@arielb1 can you clarify what are the thorny cases and where things get confusing?

[2016-08-04 22:00] nrc commented on #23121
Possible problem: https://github.com/rust-lang/rust/issues/26158

[2016-08-04 22:00] nikomatsakis commented on #21878
Agreed, no bug here. TL;DR inference fallback can be surprising. Also not so relevant with `!`.

[2016-08-04 22:00] #21878 closed

[2016-08-04 22:01] jonathandturner opened #35335 "E0326 needs to be updated to new format"
From: src/test/compile-fail/associated-const-impl-wrong-type.rs

Just a "bonus" or two for this one.  E0326 already uses the new format, but it isn't getting as much benefit as it could.  Here, also show the conflicting part of the trait, so updating it from:

[code]

To:

[code]

If we really wanted to get fancy, we could narrow the spans on the type itself:

[code]

[2016-08-04 22:16] michaelwoerister commented on #35165
@terrynsun Absolutely!

You might want to take a look at the implementation of [compiletest::runtest::run_cfail_test](https://github.com/rust-lang/rust/blob/545a3a94fcbdd68c4eeb60848c8eae2118c639c7/src/tools/compiletest/src/runtest.rs#L129) for clues on what to add to [compiletest::runtest::run_rpass_test](https://github.com/rust-lang/rust/blob/545a3a94fcbdd68c4eeb60848c8eae2118c639c7/src/tools/co

[2016-08-04 22:18] jonathandturner opened #35336 "E0368 needs to be updated to new format"
From: src/test/compile-fail/issue-5239-1.rs

Error E0368 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-04 22:21] birryree commented on #35336
I'll work on this.

[2016-08-04 22:23] jonathandturner opened #35337 "E0373 needs to be updated to new format"
From: src/test/compile-fail/issue-4335.rs

The error E0373 needs a span_note changed to a span_label and a new span_label, updating it from:

[code]

To:

[code]

[2016-08-04 22:28] jonathandturner opened #35338 "E0379 needs to be updated to new format"
From: src/test/compile-fail/const-fn-mismatch.rs

Error E0379 needs to a span_label, updating it from:

[code]

to:

[code]

Bonus: shrink the span to focus on the `const` part:

[code]

[2016-08-04 22:34] jonathandturner opened #35339 "E0388 needs to be updated to new format"
From: src/test/compile-fail/E0017.rs

Error E0388 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-04 22:35] jonathandturner opened #35341 "E0391 needs to be updated to new format"
From: src/test/compile-fail/issue-20825.rs

Error E0391 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-04 22:40] jonathandturner opened #35342 "E0404 needs to be updated to new format"
From: src/test/ui/codemap_tests/two_files.rs

Error E0404 needs a span_label, updating it from:

[code]

to:

[code]

Note: this is a UI test, so you'll need to update the corresponding `src/test/ui/codemap_tests/two_files.stderr` file.

You can test the UI tests by running:

[code]

[2016-08-04 22:52] jonathandturner opened #35343 "E0425 needs to be updated to new format"
From: src/test/compile-fail/E0033.rs

Error E0425 needs a span_label, updating it from:

[code]

To:

[code]

Note, this assumes we can know this information when we're making the label.

**Edit:** I've updated the default label above

[2016-08-04 22:56] jonathandturner opened #35344 "E0432 needs to be updated to new format"
From: src/test/compile-fail/issue-32833.rs

Error E0432 needs a span_label and an updated title, updating it from:

[code]

To:

[code]

[2016-08-04 22:59] jonathandturner opened #35345 "E0433 needs to be updated to new format"
From: src/test/compile-fail/derived-errors/issue-31997-1.rs

Error E0433 needs a span_label, updating it from:

[code]

To:

[code]

Bonus, focus the span on just the part that is causing the issue:

[code]

[2016-08-04 23:30] jonathandturner opened #35347 "292 error messages are missing unit tests"
The following errors are missing unit tests in the test directory(292 in total).  I know we "test using --explain" I don't think this is really sufficient to ensure that the error message has high quality since we're only really running the explain and not looking at the error message itself.

E0003
E0006
E0014
E0019
E0020
E0066
E0068
E0073
E0074
E0082
E0085
E0086
E0090
E0103
E0104
E0122
E0123
E01

[2016-08-05 00:02] jonathandturner commented on #35233
For anyone interested in doing one of these, I've put a new batch of error codes into the list.

I've also updated the blog as people had issues here or there, so please check it out.

[2016-08-05 00:28] yossi-k commented on #35233
I'd like to take 322 and 433 as well.

[2016-08-05 01:19] jirutka opened #35349 "--jemalloc-root actually expects file path, not a directory"
`--jemalloc-root` [has description](https://github.com/rust-lang/rust/blob/34d14e7eed48c755a660224266e2c86669cf5483/configure#L633): “set **directory** where libjemalloc_pic.a is located”, but it actually expects full path of `libjemalloc_pic.a`, not a directory.

When I set `--jemalloc-root=/usr/lib` (and --enable-rustbuild), then build fails:

[code]

The problem is in [src/liballoc_jemalloc/bui

[2016-08-05 01:48] nikomatsakis commented on #35232
My latest version runs in 2.5s -- but it still spoils the unit tests. I have to fix that next, as we talked about @michaelwoerister.

[2016-08-05 01:48] nikomatsakis commented on #35232
(Still seems like we could go faster...)

[2016-08-05 02:03] silenuss commented on #35200
Ok, I'm finally sitting down to work on this.

[2016-08-05 04:20] KiChjang commented on #35233
I'll get 206.

[2016-08-05 04:20] nrc commented on #34831
\o/ This was fixed with a complete nuke of the perf server and a cmake upgrade.

[2016-08-05 04:20] #34831 closed

[2016-08-05 06:07] alexcrichton commented on #35035
I think this is kinda a duplicate of https://github.com/rust-lang/rust/issues/17954, I believe the `Sync` behavior has been brought up there.

AFAIK the `Sync` requirement is because `static` variables require `Sync`, and no one ever got around to making that check conditional on whether `#[thread_local]` was present or not. That is, I don't believe it's intentional. It makes sense to me to remove

[2016-08-05 06:34] kc1212 commented on #35233
Can I take 388 please

[2016-08-05 06:57] mikhail-m1 commented on #35233
I'll take 201.

[2016-08-05 07:11] Archytaus commented on #35233
I'll take E0404 and E0391 thanks.

[2016-08-05 07:12] medzin commented on #35233
I'll take 432.

[2016-08-05 07:12] medzin commented on #35344
I'll take it.

[2016-08-05 07:15] shantanuraj commented on #35233
I'll try 206 and 207

[2016-08-05 07:16] prabodhtiwari commented on #35233
I'll take 432 and 425

[2016-08-05 08:02] balrampandey19 commented on #35233
I'll Take E0277

[2016-08-05 08:38] nikomatsakis commented on #35232
OK, got it down to 1.8s.

[2016-08-05 08:39] poveda-ruiz commented on #35233
I'm gonna release E0088 and E0089 if someone else wants them :D

[2016-08-05 09:19] medzin commented on #35233
@prabodhtiwari ok then take the 432, I'll will take E0388

[2016-08-05 09:20] medzin commented on #35339
I will do it.

[2016-08-05 09:32] prabodhtiwari commented on #35233
@medzin sorry didnt notice you take 432 i will take another one

[2016-08-05 09:37] medzin commented on #35233
No problem :)

[2016-08-05 10:27] mrabault commented on #35233
I'll try E201.

[2016-08-05 11:00] medzin commented on #35233
I'll do E0252.

[2016-08-05 11:00] medzin commented on #35306
I will do it.

[2016-08-05 11:09] nagisa opened #35361 "__rust_*alloc functions are not documented"
Behaviour of these functions, behaviour of arguments they take and everything else about these functions is not documented in any way.

Alas, jemalloc doesn’t really document its functions well itself, so short of reading the whole source of jemalloc on every upgrade, I doubt there’s a sensible way to exhaustively document these functions.

[2016-08-05 11:11] emilymaier commented on #31322
Are you sure you had the right one? I'm also working on musl cross-compilation, and I was able to use 1.10.0 stable to build the same version again. The biggest annoyance I had was patching the build system so that it generates the correct bootstrap key to unlock the old rustc. I noticed that the return_address intrinsic has been removed and readded several times recently, maybe there's a discrepa

[2016-08-05 12:01] medzin commented on #35312
I will do it.

[2016-08-05 12:24] trixnz commented on #35233
Taking E0326 and E0373.

[2016-08-05 12:24] trixnz commented on #35335
Taking care of this one.

[2016-08-05 12:24] trixnz commented on #35337
Taking care of this one.

[2016-08-05 12:59] parantapa commented on #35233
Taking E0318

[2016-08-05 13:20] Keats commented on #35233
I'll take 323, 324 and 325, they seem related

[2016-08-05 13:23] yossi-k commented on #35233
i want to grab 265 as well

[2016-08-05 13:23] yossi-k commented on #35309
on it

[2016-08-05 13:36] dmilith opened #35367 "make install fails on OSX 10.11"
[code]

[2016-08-05 13:42] dmilith commented on #35367
Options and build details https://github.com/VerKnowSys/sofin-definitions/blob/stable/definitions/rustc.def

[2016-08-05 13:48] mrabault commented on #35305
I'd like to do this one.

[2016-08-05 13:50] mrabault commented on #35233
Okay so I'll do E0229 instead. I don't understand, E0201 was free when I wrote my message ...

[2016-08-05 13:51] dmilith commented on #35367
[code]

[2016-08-05 13:59] jonathandturner commented on #35233
@mrabault - sorry about that.  I've been updating the issue by hand when people comment on this thread.  It should be up to date now.

[2016-08-05 14:03] mrabault commented on #35233
No problem !

[2016-08-05 14:05] razielgn commented on #35233
Taking 306.

[2016-08-05 14:20] pyfisch commented on #29641
Will it be possible to use box patterns with smart pointers?

[2016-08-05 14:21] prabodhtiwari commented on #35233
i will take 0088 and 0089

[2016-08-05 14:37] #16490 closed

[2016-08-05 14:37] #35128 closed

[2016-08-05 14:43] Stebalien opened #35369 "Allow implementing traits with statically uncallable methods"
Basically, given:

[code]

The following is valid:

[code]

But the following isn't:

[code]

This means that, for example, `Iterator` can't be implemented types that are known to be DSTs, only types that *may* be DSTs. This is an inconsistent and an unnecessary limitation.

[2016-08-05 15:41] jonathandturner commented on #35312
I must have been asleep when I wrote the label.  Updated it so it reads better.

[2016-08-05 16:03] steveklabnik commented on #35361
I don't generally document internals, so someone else will have to take this one up.

[2016-08-05 16:03] steveklabnik commented on #35361
What would resolve this ticket, then?

[2016-08-05 16:15] jirutka commented on #31322
No, it stopped much later. I rerun it with `make check -k`, to be sure, and the result is the same: `2468 passed; 1 failed; 5 ignored; 0 measured`.

I really don’t enjoy cross-compiling rustc, it takes _ages_ even on powerful server…

Are you absolutely sure? When I look at [stage0.txt](https://github.com/rust-lang/rust/blob/1.10.0/src/stage0.txt#L15) at git tag 1.10.0, there’s `1.9.0-2016-05-24`.

[2016-08-05 16:24] jirutka commented on #31322
I can’t believe it… when I figure out how to unlock rustc, it failed again on different error:

[code]

Trying to compile rustc-1.10.0 with `--release-channel=stable` using beta-2016-07-06.

[2016-08-05 16:37] nagisa commented on #35361
I guess somebody will have to:

1) chat with @alexcrichton and figure out what intended semantics of each function and their arguments are (and verify the stuff figured out);
2) read source code/manpages/documentation for functions used in implementation of current allocators (jemalloc/system/winapi) and figure out the semantics from that;

For example:

People writing unsafe code do rely on these

[2016-08-05 16:40] alexcrichton commented on #35361
These are all documented in [heap.rs](https://github.com/rust-lang/rust/blob/master/src/liballoc/heap.rs) to some extent.

[2016-08-05 16:44] nagisa commented on #35361
Oh. Docs seem sufficient there.

[2016-08-05 16:44] #35361 closed

[2016-08-05 17:57] malbarbo commented on #33417
In my POV all associated types that represents errors should be bounded by `Error`. Sadly, we already [left](https://github.com/rust-lang/rust/issues/29104) one type without it: `FromStr::Err` (The only other public types are `TryInto` and `TryFrom`, checked  with `ack 'type Err;'` and `ack 'type Error;'`). Let not make this again.

[2016-08-05 18:12] camlorn commented on #28356
@DemiMarie
That would be unsafe.  Create a cycle that is accessible from the stack but for which there is no `Rc` on the stack.  Watch your program die.

You'd also need special compiler machinery for tracking the accessibility of stuff from the stack, and at that point we might as well just add a full GC.

[2016-08-05 18:17] nagisa opened #35377 "`variant` does not name a *tuple* variant or *tuple* struct for data-less variant"
[code]

results in

[code]

instead of pointing user out that this variant is struct-like and they forgot to match on it properly.

[2016-08-05 18:26] GuillaumeGomez commented on #35347
Already working on it. I assign it to myself to avoid conflicts.

[2016-08-05 18:43] paulfanelli commented on #35214
@jonathandturner  I think I've got most of this fix/working, but I'm having a problem fixing one of the unit test cases - issue-3044.rs.  The other related test cases (issue-18819, issue-4935, method-call-err-msg, not-enough-arguments, overloaded-calls-bad and variadic-ffi-3) I was able to fix by following your blog guide.  For some reason, issue-3044 is 'different' and I don't understand why.  No

[2016-08-05 18:45] nikomatsakis opened #35379 "The `TypeId` hash should not use the SVH"
It is incompatible with incremental compilation. It should use the crate-name/crate-disambiguator and the stuff for deterministically hashing def-paths (some of which has not yet landed).

cc @michaelwoerister

[2016-08-05 18:52] emilymaier commented on #31322
I used the 1.10.0 stable, not a later beta. Are you sure the stable rustc is what got used last time? I believe the bootstrapping code looks in /usr/local/bin by default for the rustc to use if you select the local rebuild option. BTW, here are the configuration options I used; they've worked on multiple machines so far:

[2016-08-05 18:52] michaelwoerister commented on #35379
:+1:

[2016-08-05 19:12] jirutka commented on #31322
@emilymaier, @japaric wrote [here](https://github.com/rust-lang/rust/issues/31322#issuecomment-237674448) that stable 1.10.0 must be build with "beta-2016-07-06".

You’re building a nightly release (`--release-channel=nightly`), but I wanna build stable, that’s a little different. I can build nightly too, the problem is with beta/stable.

I’ve cross-compiled stable 1.10.0 now and going to try loca

[2016-08-05 19:18] likandia commented on #35233
Looks like I'm really late, but just putting this here in case someone wants to free something up :)

[2016-08-05 19:35] brson commented on #2873
@jhod0 Looks potentially desirable. Maybe worth having another issue for?

[2016-08-05 19:42] jonathandturner opened #35381 "E0204 needs to be updated to new format"
From: src/test/compile-fail/E0204.rs

Error E0204 needs a span_label and updated title, changing it from:

[code]

To:

[code]

Note: I'm not sure the "expansion of..." part is helpful, you could also remove that.

Seems related to https://github.com/rust-lang/rust/issues/35382

[2016-08-05 19:46] jonathandturner opened #35382 "E0205 needs to be updated to new format"
From: src/test/compile-fail/E0205.rs

Error E0205 needs a span label and updated title, changing it from:

[code]

to:

[code]

Bonus: the span for the second one could be shrunk to just the Copy part:

[code]

Note: I'm not sure the "expansion of..." part is helpful, you could also remove that.

Seems related to https://github.com/rust-lang/rust/issues/35381

[2016-08-05 19:48] GuillaumeGomez commented on #35233
@likandia: E0204 and E0205 are both available.

[2016-08-05 19:49] jonathandturner opened #35383 "E0214 needs to be updated to new format"
From: src/test/compile-fail/E0214.rs

Error E0214 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: shrink the span to only the parenthesized expression:

[code]

[2016-08-05 19:52] malbarbo opened #35384 "Pointer implementation for Rc and Arc should print the address of pointed value"
Consider this example:

[code]

the code runs fine but the printed values are different:

[code]

The `Pointer` implementation for `Rc` and `Arc` prints the address of the inner data (`RcBox` and `ArcInner`) instead of the address of the stored value. This seems to be inconsistent with the `Pointer` implementation for `Box`, `Shared` and `Unique`.

If this is a real issue, I can write a patch to f

[2016-08-05 19:52] jonathandturner opened #35385 "E0220 needs to be updated to new format"
From: src/test/compile-fail/E0220.rs

Error E0220 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-05 19:53] petrochenkov commented on #35377
The "tuple" part is fixed on nightly, now the error is
[code]

[2016-08-05 19:54] jonathandturner opened #35386 "E0221 needs to be updated to new format"
From: src/test/compile-fail/E0221.rs

Error E0221 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-05 19:58] jonathandturner opened #35387 "E0223 needs to be updated to new format"
From:

Error E0223 needs a span_label, updated title, and a note, changing it from:

[code]

To:

[code]

[2016-08-05 20:02] jonathandturner opened #35388 "E0225 needs to be updated to new format"
From: src/test/compile-fail/E0225.rs

Error E0225 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-05 20:05] jonathandturner opened #35389 "E0243 needs to be updated to new format"
From: src/test/compile-fail/E0243.rs

Error E0243 needs a span_label and an updated title, changing it from:

[code]

To:

[code]

Seems related to https://github.com/rust-lang/rust/issues/35390

[2016-08-05 20:07] jonathandturner opened #35390 "E0244 needs to be updated to new format"
From: src/test/compile-fail/E0244.rs

Error E0244 needs a span_label and an updated title, changing it from:

[code]

To:

[code]

Seems related to: https://github.com/rust-lang/rust/issues/35389

[2016-08-05 20:09] jonathandturner opened #35391 "E0248 needs to be updated to new format"
From: src/test/compile-fail/E0248.rs

Error E0248 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-05 20:12] jonathandturner commented on #35233
@likandia - I added a few more, so there should be more free

[2016-08-05 20:31] nikomatsakis commented on #35292
PS I have a fix for this on One Of My Branches

[2016-08-05 20:42] jonathandturner commented on #35214
@paulfanelli - can you show the errors you get when you try to get issue-3044 to pass?

[2016-08-05 20:42] Keats commented on #35233
I'll take 243 and 244

[2016-08-05 20:46] jonathandturner commented on #35233
Helpful tip if you're working on one of these and get a little stuck: look through the PRs for error codes that have been accepted and see how they did the fix.  This might give you ideas for yours.

[2016-08-05 20:50] TheZoq2 commented on #35191
I wouldn't mind working on the bonus part of this issue too but i'm not sure what to change the span to. To me, it might make more sense to change it to

[code]
or
[code]

[2016-08-05 20:58] jonathandturner commented on #35191
Yeah, I like:

[code]

[2016-08-05 21:02] TheZoq2 commented on #35191
Alright, i'll try implementing that

[2016-08-05 21:09] paulfanelli commented on #35214
@jonathandturner  I think I fixed the problem.  I'm now trying to get my code checked in and pushed to by fork.  Having some ssh key/cert issues.  I think once I do that, I can do a PR?

[2016-08-05 21:23] munyari commented on #35233
I'll take 204, 205 and 214.

[2016-08-05 21:25] paulfanelli commented on #35214
I just submitted a PR, but not sure if I did it correctly.

[2016-08-05 21:27] munyari commented on #35383
taking this

[2016-08-05 21:42] #29359 closed

[2016-08-05 21:42] #29380 closed

[2016-08-05 21:42] #35258 closed

[2016-08-05 21:42] #35247 closed

[2016-08-05 21:42] #35220 closed

[2016-08-05 21:43] #35215 closed

[2016-08-05 21:43] #35216 closed

[2016-08-05 21:43] #35222 closed

[2016-08-05 21:43] #35272 closed

[2016-08-05 21:43] #35273 closed

[2016-08-05 21:43] #35190 closed

[2016-08-05 21:43] #35253 closed

[2016-08-05 21:43] #35248 closed

[2016-08-05 21:43] #35255 closed

[2016-08-05 21:43] #35265 closed

[2016-08-05 21:43] #35252 closed

[2016-08-05 21:43] #35217 closed

[2016-08-05 21:43] #35336 closed

[2016-08-05 21:43] #35341 closed

[2016-08-05 21:46] chamoysvoice commented on #35233
I'll take 220, 221 :+1:

[2016-08-05 21:54] apasel422 commented on #35384
It's sort of inconsistent, but also sort of consistent. `{Box, Shared, Unique}` don't have inner data, so the only thing they _could_ point to is the value.

[2016-08-05 22:03] mgattozzi commented on #29368
@steveklabnik I'd be willing to help further document this module. Are there any trouble spots in particular that could use further clarification or items within the module that could use more documentation or examples?

[2016-08-05 22:09] mgattozzi commented on #34920
@GuillaumeGomez since this change got merged you might want to close the issue. I just came across this browsing the docs tag thinking it was still open.

[2016-08-05 22:19] moises-silva commented on #27812
Dear past @tcr3dr ,  Thanks from the future!

[2016-08-05 22:24] jonathandturner commented on #35233
First batch has landed!  Great work, everyone.

[2016-08-05 22:33] nagisa opened #35398 "myriad-closures test takes ages to compile"
About 2.5 minutes of rustc on my machine. Can we test that stuff in a different way? Maybe only run test on CI?

[2016-08-05 22:35] nagisa opened #35399 "[rustbuild] -j option is ignored for tests"
With rustbuid `python src/bootstrap/bootstrap.py --step check --stage 1 -j8`, during tests only one stage of tests will be run at a time and only one core will be utilized by the test runner.

The script should take care to pass over the flag.

[2016-08-05 22:54] alexcrichton opened #35400 "Extraneous "missing field" error after parse error"
When compiling this code:

[code]

I get:

[code]

We probably shouldn't emit the second error!

cc @nrc

[2016-08-05 23:01] alexcrichton commented on #35399
The test runner is always libtest, so I thought, which always uses all cores. In that sense `-j1` isn't transmitted correctly, but "use all cores" should be the default. Did you see this not as the behavior though?

[2016-08-05 23:17] KiChjang commented on #35233
Taking  E0223 as well.

[2016-08-05 23:29] KiChjang opened #35404 "Prettify E0379"
Original issue #35338, PR #35364.

From: src/test/compile-fail/const-fn-mismatch.rs

Bonus: shrink the span to focus on the const part:
[code]

[2016-08-06 00:37] nagisa commented on #35399
I’m telling what I’m seeing on my system. It only runs run-pass tests on one core for me and nothing else (i.e. only one core is maxed). I haven’t gotten past the run-pass tests to see if the test runner would even try to run the other tests because I have test failures in `run-pass/backtrace-debuginfo-aux.rs` and `run-pass/mod_file_aux.rs` which I haven’t investigated yet.

[2016-08-06 00:50] mrhota commented on #31681
@eefriedman LLVM bug 27859 is closed.

[2016-08-06 01:05] jirutka commented on #31322
Uff, the first abuild for rust and cargo is finally done (see [here](https://github.com/alpinelinux/aports/pull/193/files)) and just building on our infra. However, I’m really not happy with Rust and especially Cargo from the position of package maintainer… I’ll write more later.

[2016-08-06 01:08] jirutka commented on #31322
I’ve disabled jemalloc test and run `make check -k` on rustc 1.10.0 built on Alpine:

[code]

Full log: [make-check.txt](https://github.com/rust-lang/rust/files/404817/make-check.txt)

[2016-08-06 02:05] eddyb opened #35408 "rustc built by MIR overflows its stack for crates with very deep ASTs."
These examples have been found on crater:
- [ ] [`boiler`](https://crates.io/crates/boiler) ([failure](https://tools.taskcluster.net/task-inspector/#EILyCYnlRbS82RuQCWat4g/0))
- [ ] [`procinfo`](https://crates.io/crates/procinfo) ([failure](https://tools.taskcluster.net/task-inspector/#kEbUuqQvSXO7CwxiiMVKpw/0))
- [ ] [`marksman_escape`](https://crates.io/crates/marksman_escape) ([failure](https:/

[2016-08-06 02:33] KiChjang commented on #35387
Test case in src/test/compile-fail/associated-types-in-ambiguous-context.rs

[2016-08-06 02:50] birryree commented on #35280
@jonathandturner @nikomatsakis I'm working on the bonus portion of this issue but I'm wondering if either of you have any pointers about where to start exploring with manipulating the spans and getting more context out of it so that I can get something that looks like this:

[code]

Into this expanded context?

[code]

[2016-08-06 03:59] chamoysvoice commented on #35385
¿Should I remove E0191?

[2016-08-06 05:11] #35115 closed

[2016-08-06 05:11] #35135 closed

[2016-08-06 07:27] Chaser53 opened #35416 "Repr Enum Bug"
I stumbled across this while I was trying to do some _very, extremely unsafe_ casting between any/all types to i64. I found the `#[repr(<type>)` syntax earlier today and decided to give this a spin. It did not make the compiler happy at all.

[code]
yields

[code]

Side note: there are a bunch of C libraries that I have used that have duplicate enum entries

i.e.
[code]

Currently, we are not allo

[2016-08-06 07:51] stygstra commented on #20847
This appears to be fixed:

[code]

[code]

[2016-08-06 07:51] #20847 closed

[2016-08-06 07:54] sanmai-NL commented on #25664
I would like to take this issue up again.

What is the status?
Where is help needed?

Specifically on [licenses repeated in source code files](e.g. [`mk/main.mk`](https://github.com/rust-lang/rust/blob/a005b6785935d7e92e87774c8f585839ddd12e46/mk/main.mk#L1-L9)), I hope we will soon make good improvement across the board. I propose that we remove them or reduce them to at most a single line.

**Arg

[2016-08-06 08:55] jonas-schievink commented on #35416
Duplicate of #34571

[2016-08-06 08:58] Chaser53 commented on #35416
Cheers. I didn't even think to check if this was already reported.

[2016-08-06 09:27] #33703 closed

[2016-08-06 09:30] nikomatsakis commented on #35035
Ah yeah I'd forgotten completely about #17954.

[2016-08-06 09:34] ticki commented on #35035
https://github.com/rust-lang/rfcs/pull/1705

[2016-08-06 11:05] shyaamsundhar commented on #35391
I am new here. I too want to contribute. Can I take this?

[2016-08-06 11:12] GuillaumeGomez commented on #34920
@mgattozzi: Thanks for notifying me!

[2016-08-06 11:12] #34920 closed

[2016-08-06 11:54] petevine commented on #33980
https://github.com/rust-lang/rust/issues/31322#issuecomment-237896247

[2016-08-06 12:05] icanrealizeum commented on #29293
Still happening:

0m0.062s vs 0m0.454s

[code]

[2016-08-06 12:51] nagisa commented on #35330
Maybe it would make sense to have a separate `LABEL` marker for the labels?

[2016-08-06 13:30] nagisa commented on #35399
Okay, I was semi-wrong about it. I was just looking at utilisation while the [myriad-closures](https://github.com/rust-lang/rust/issues/35398) test was running after all other tests were already complete, giving impression that only one core is used.

rustbuild still only runs different classes of tests sequentially, though.

[2016-08-06 13:58] seblw commented on #35233
anyway wants E0191? I won't manage to find time for this.

[2016-08-06 14:10] jonathandturner commented on #35233
@seblw - I'll free up E0191 so someone else can get it.

[2016-08-06 14:28] jonathandturner commented on #35330
@nagisa - yeah, though we should chat with @nikomatsakis.  He's been leaning towards more tests being UI tests that check for these things, so you can check layout at the same time.

[2016-08-06 14:31] jonathandturner commented on #35391
@shyaamsundhar - I've updated the list so that you have this issue (E0248)

[2016-08-06 14:59] phil-opp opened #35422 "ICE: 'index out of bounds: the len is 0 but the index is 478'"
I get the following ICE when I try to compile faulty inline assembly:

[code]

[code]

I could not find a minimal example yet.

The biggest problem is that no inline assembly error is shown. Just the above ICE.

Older nightlies (e.g. `rustc 1.12.0-nightly (b6c1ef374 2016-07-14)`) do it better. They throw the same ICE, but they also output an inline assembly error:

[code]

(Using intel syntax with

[2016-08-06 15:32] phil-opp commented on #34881
@asdfopiweut I can reproduce it on my machine and [on playpen](https://is.gd/gEHuKp). The same error: `expected expression, found <eof>`. So I think this issue should also get `A-macros`.

cc @sanxiyn

[2016-08-06 15:33] sciyoshi commented on #35233
I'll take 191 and 225 as well

[2016-08-06 15:37] japaric commented on #31322
Ahh, my bad. I looked at HEAD's stage0.txt; I should have checked out 1.10 first.

This is pretty much how bootstrapping compilers work.

You can't use unstable features on the stable channel; this is one of core principles of Rust: stability. The bootstrap_key is a escape hatch to let stable compilers use unstable features.

Now, why one has to build a stable compiler with a previous stable compi

[2016-08-06 15:55] CDLuminate opened #35423 "[Compiler panic] internal compiler error: src/librustc_trans/_match.rs:943: only string and byte strings supported in compare_values"
I'm learning rust with the official doc, and accidentally encountered this issue.

I tried this code:

[code]

I expected to see this happen:

[code]

Instead, this happened:

[code]

## Meta

`rustc --version --verbose`:

[code]
and my operating system is `Debian/Sid`, the rustc compiler is from Debian official archive.

Backtrace:
[code]

[2016-08-06 16:03] CDLuminate commented on #35423
This also let the compiler panic:
[code]

it fails
[code]

backtrace
[code]

[2016-08-06 16:23] japaric commented on #34867
@petevine  #34873 landed. Can this be closed?

[2016-08-06 16:32] #34867 closed

[2016-08-06 16:37] eshellman commented on #25664
The copyright year only matters 95 years after the date of first publication (treating this as a work of corporate authorship). So this repo begins to enter the US public domain in 2098 under current law. Best practice is to maintain copyright notice in a single file and let VCS sweat the details.

[2016-08-06 16:40] colin-kiegel commented on #30576
No issue anymore with rustc 1.10. Apparently this has been fixed somewhere between 2015-12-30 and now.

[2016-08-06 16:40] #30576 closed

[2016-08-06 16:56] insanitybit opened #35424 "Confusing error message when using traits of different versions"
E0277:
You tried to use a type which doesn't implement some trait in a place which
expected that trait. [...]

Unfortunately, this is very confusing when you do implement that trait, but the trait you implement is for a different version from what a consumer expects. It would be very helpful if rustc could point this out, something along the lines of "A trait of this name exists/ is implemented fo

[2016-08-06 16:57] #35219 closed

[2016-08-06 16:57] #35271 closed

[2016-08-06 16:57] #35245 closed

[2016-08-06 16:57] #35338 closed

[2016-08-06 16:57] #35302 closed

[2016-08-06 16:57] #35315 closed

[2016-08-06 16:57] #35325 closed

[2016-08-06 16:57] #35246 closed

[2016-08-06 16:57] #35305 closed

[2016-08-06 16:57] #35191 closed

[2016-08-06 16:57] #35337 closed

[2016-08-06 17:07] TimNN commented on #35424
I believe this is a duplicate of the original issue described in #22750.

[2016-08-06 17:14] TimNN commented on #33498
This seems to be fixed on playpen nightly.

[2016-08-06 17:15] TimNN commented on #35423
The second issue looks like a duplicate of #33498 and both issues seem to be fixed on nightly.

[2016-08-06 17:22] shyaamsundhar commented on #35391
@jonathandturner  Thanks

[2016-08-06 18:09] insanitybit commented on #35424
Seems to be, yes.

[2016-08-06 19:12] KiChjang commented on #35404
I'm taking this.

[2016-08-06 19:16] frewsxcv opened #35428 "Add `is_empty` function to `ExactSizeIterator`"
Tracking issue for functionality introduced in https://github.com/rust-lang/rust/pull/34357

[2016-08-06 19:17] frewsxcv commented on #35428
Added reference to this issue in https://github.com/rust-lang/rust/pull/35429

[2016-08-06 19:56] jonathandturner commented on #35233
Alright, batch #2 is in!  Another big thanks to everyone who contributed.

I've updated the signups and we're back to no more free ones.  But no have no worry, there should be more coming in the next few days.

If you find yourself getting stuck, you can ask for help from some of the other people who have gotten their PRs in.  If you don't think you'll have the time to do it, let me know and I'll

[2016-08-06 20:02] frewsxcv commented on #20847
Added a regression test in https://github.com/rust-lang/rust/pull/35432

[2016-08-06 20:21] icanrealizeum commented on #29293
There's this similar-looking bug for the linux kernel: https://bugzilla.kernel.org/show_bug.cgi?id=151621
whereby umount-ing something(probably not just btrfs) will spend quite some time freeing pagecache pages, usually between 7 and 127 seconds. So if your shutdown takes a longer than usual time(no? just me then? okay) then this might be it.

Sorry, just had to mention it.

[2016-08-06 20:30] jirutka commented on #31322
I understand that. But simple option with strong warning about not using for building crates would be sufficient, instead of this obfuscation.

Yes, because the old build system doesn’t work here at all. I had tried to patch it to link musl dynamically, but without success, still failing, so eventually gave up.

I’ve tried this:

1. Build rustc using rustbuild using [abuild](https://github.com/alp

[2016-08-06 20:52] programble opened #35435 "pub_restricted field warning spans include close-paren"
Warnings on pub_restricted fields produce odd spans including the close-paren:

###### `src/lib.rs`

[code]

###### `src/foo.rs`

[code]

###### `cargo build`

[code]

###### `rustc --version`

[code]

[2016-08-06 20:54] chneukirchen commented on #31322
For the record, are in the process of integrating this approach into Void Linux (a distro with glibc and musl flavours), with great success so far: https://github.com/voidlinux/void-packages/issues/4570

[2016-08-06 21:18] sciyoshi commented on #35233
@jonathandturner looks like @munyari already took E0191, but I'll do 225

[2016-08-06 22:59] japaric opened #35437 "Port `compiler-rt` intrinsics to Rust"
## Rationale

For our goal of "on the fly compilation of std" (or any other set of "standard" crates), we want to minimize the number of C dependencies required to build `std` as these complicate the compilation process: users need a C (cross) compiler and we (rust-lang/rust) have to support (cross) compiling each of these C dependencies, which are wrapped in crates, to every target (even custom o

[2016-08-06 23:26] pcn commented on #35194
Hi, I've got my attempt at updating E0010. It's based on my reading of http://www.jonathanturner.org/2016/08/helping-out-with-rust-errors.html, and it seems to output what I'd expect when I test it.

[2016-08-06 23:37] jethrogb opened #35440 "Can't specify linker arguments with space in them"
Executing `rustc -C link-args=...` results in the `...` being split by whitespace and each element being supplied as a single argument to the linker. This means it's not possible to specify a linker argument with whitespace in it (for example, a path to a linker script) on the command line. The same applies to the `#[link_args]` attribute. Possible solutions are parsing some kind of escaping (frag

[2016-08-07 00:05] #35424 closed

[2016-08-07 00:06] alexcrichton commented on #33498
Yay! tagging as needstest

[2016-08-07 00:12] alexcrichton commented on #35399
Yes rustbuild runs tests serially, and all tests are internally parallelized by default. Not sure what more we would do?

[2016-08-07 00:13] #35416 closed

[2016-08-07 00:19] jonathandturner opened #35442 "Write more unicode tests"
We had only a couple unicode tests before and it's difficult to see how accurate they were because of how they were testing.

I've since moved the main one to a UI test, which is better, but I think unicode needs to be more thoroughly tested using the new UI mode.

This issue is a todo item to go and add a few more ui tests for various unicode to ensure we've got better coverage.

[2016-08-07 00:30] #35399 closed

[2016-08-07 02:07] sanxiyn commented on #35440
See rust-lang/rfcs#1509 for a discussion and a design.

[2016-08-07 02:44] sciyoshi commented on #35233
And @razielgn took 225 right before I was gonna submit :)

[2016-08-07 06:00] jseyfried opened #35450 "macros: metavariables in `tt` fragments can hang"
@durka reported this in https://github.com/rust-lang/rust/pull/34925#issuecomment-237141409.
[code]

[2016-08-07 06:44] Havvy opened #35451 "Document Why From Isn't Always Implemented"
Apparently the `From<T>` trait isn't always implemented for things where it could be. See also, [Why there is no `impl<'a, T: Clone> From<&'a T> for T`?](https://www.reddit.com/r/rust/comments/4whhrc/why_there_is_no_impla_t_clone_froma_t_for_t/).

Should we add documentation explaining why they aren't implemented for those types?

If so, other than `impl <'a, T: Clone> From<&'a T> for T`, are ther

[2016-08-07 06:55] steveklabnik commented on #35451
In general, documenting "why not" is tough, as there are millions of "why not"s, compared to exactly one "why".

[2016-08-07 07:08] Havvy commented on #35451
Another option is to leave these "why not"s for The Rust Book, though having it in the official documentation says its been decided officially and it's not an oversight.

[2016-08-07 07:11] birkenfeld commented on #32024
This was implemented by #33867 and can be closed.

[2016-08-07 07:28] crumblingstatue commented on #32024
Neat!

[2016-08-07 07:28] #32024 closed

[2016-08-07 07:53] TimNN commented on #35437
I'm probably missing some information about the details of `compiler-rt`, but wouldn't a third way to go be to implement some intrinsic in rust and then remove the corresponding c file? Wouldn't this give us (some of) the advantage of (2) without the disadvantage?

[2016-08-07 09:13] OJFord opened #35457 "Book chapter ordering changed? Text inconsistent"
It appears that the chapter ordering may have changed.

As it stands, 4.8 Ownership gives a basic `vec!` example and says not to worry, it will be explained later; in fact, it was explained just now in 4.7 Vectors.

Similarly, 4.10 Lifetimes appears to assume familiarity with 4.12 Structs.

The simplest solution might be to switch chapter 4.7 with 4.12 - but I realise that may be the entirely deli

[2016-08-07 11:10] GuillaumeGomez commented on #33498
I'm adding test then.

[2016-08-07 12:53] futile commented on #29053
This seems to be fixed on nightly (but still crashes on stable & beta): https://is.gd/KqgBhe

[2016-08-07 13:43] CDLuminate opened #35459 "[question: python extension] how can I write extension(FFI) library to python3 with Rust"
I'm still learning rust and I'd like to try writing extension in rust for python.
I succeed with some hacks, but that makes me more confused.

I wrote this code:
[code]
I compiled it with
[code]
then I found the kernel function entrace point with binutil
[code]
after that I wrote such an python3 script
[code]
and it works
[code]

According to mark `//[1]` from the rust code we know the kernel func

[2016-08-07 13:57] TimNN commented on #35459
`ctypes` expects functions to have the C ABI (as far as I know), which is not the default for rust functions. I recommend you take a look at the [ffi chapter in the book](https://doc.rust-lang.org/book/ffi.html). Also rust slices (and unsized types in general), such as `[u8]` and `str` are not considered "ffi safe" and should not be used in the C interface of a library.

You'll probably want somth

[2016-08-07 14:02] shepmaster commented on #35459
Also [The Rust FFI Omnibus](http://jakegoulding.com/rust-ffi-omnibus/) includes Python examples.

[2016-08-07 14:04] jonathandturner opened #35460 "Sort help messages with spans after those without"
From https://github.com/Manishearth/rust-clippy/issues/1148

Looks like help (and potentially other types) with spans may not be sorted to display after the those without spans.

When clippy reports a suggestion with a macro in the code, it seems to print the expanded form. Using the example from README.md, you can see it is not behaving as expected:

[code]

results in:

[code]

[2016-08-07 14:07] steveklabnik commented on #35457
It's not exactly just that; it's also that people added different things over time. So it was "oh hey this info is missing" but that accidentally introduced a forward reference.

We're currently in the process of entirely re-writing the book, work is being done over here: https://github.com/rust-lang/book As such, I'm not really making big changes to the existing book, if you or someone else wants

[2016-08-07 14:07] #35457 closed

[2016-08-07 14:08] shepmaster opened #35461 "Documentation tests that are not preceded by a blank line are not run"
# To reproduce

Create a new project and place this as **src/lib.rs**

[code]

Run `cargo test`

# What I expected

To see two failed tests.

# What actually happened

Only the second test is run.

# Meta

[code]

[2016-08-07 14:13] TimNN commented on #35461
I believe this is a duplicate of #28712.

[2016-08-07 14:14] OJFord commented on #35457
Sounds good; the new version looks like the more factored structure will help prevent issues like this. :)

It's not a big deal, I only noticed because I'm reading through 'cover' to 'cover'. If a PR does pop up you'll know I'm avoiding something else!

Cheers.

[2016-08-07 14:17] KennethAdamMiller commented on #34987
Wow! Awesome!

Ok, I can start down parallel paths then XD

[2016-08-07 14:19] shepmaster commented on #35461
@TimNN quite right, thank you for being better at searching than I am!

[2016-08-07 14:19] #35461 closed

[2016-08-07 14:25] CDLuminate commented on #35459
@TimNN @shepmaster
Thank you for quick answer!

The snippet works well and to my suprise the generated symbol in rust library is quite clean:
[code]
and the python ffi caller script is not confusing anymore:
[code]

Well, I think the official doc should be updated to point out that by default rust library ABI is not quite compatible as C ABI.

[2016-08-07 15:05] nagisa opened #35463 "HashMap has no way to avoid key copy or double hash for insertion"
Currently all HashMap APIs which make insertion into a map possible (`insert`, `entry`) require the key by-value. If avoiding a `clone` is desired, the user must instead use something like `if !map.contains(key) { map.insert(key.clone(), val); }`, which results in key getting hashed twice.

Ideally, something like `HashMap::insert_clone(key: &K, val: V) where K: Clone` or `HashMap::entry_clone(key

[2016-08-07 15:06] nagisa commented on #35463
Note that internal APIs have the ways to achieve this. `HashMap::search` takes a key by reference and returns InternalEntry, which, if converted to plain entry, gets provided the key by value.

[2016-08-07 15:12] nagisa commented on #35463
Another option is to have a method like `HashMap::occupied_entry(key: &K) -> Option<OccupiedEntry>`.

[2016-08-07 16:04] crypto-universe commented on #35323
Hi! I'd like to contribute. It will be my first pull request. May I take this issue?

[2016-08-07 16:13] Stebalien commented on #35463
Personally, I'd use `ToOwned` instead of `Clone`. IIRC, I believe there was extensive discussion about this in some RFC issues.

[2016-08-07 16:15] nagisa commented on #35463
Ah, right, as always, I don’t care about bounds very much as long as it is possible to avoid both extra allocation when hashmap already has the key and double hashing when it doesn’t.

[2016-08-07 16:39] crypto-universe commented on #35233
Are there any free issues to fix? I'd like to jump in :)

[2016-08-07 16:43] #35306 closed

[2016-08-07 16:44] yaitskov commented on #24007
then it fails with

[code]

[2016-08-07 16:52] chamoysvoice commented on #35233
@crypto-universe would you like to take 0221?

[2016-08-07 17:31] japaric commented on #35437
@TimNN We can do that too but it doesn't give us the advantage of (2) because we would still rely on a external C (cross) compiler to compile all the intrinsics that haven't yet been ported to Rust. The advantage of (2) is that we can *immediately* get rid of the dependency on a external C (cross) compiler.

[2016-08-07 17:54] TimNN commented on #35437
Ah, I see, I should probably have read that section more carefully; thanks for clearing that up.

[2016-08-07 17:59] japaric commented on #35437
Note that (at least on Linux) this already happens today, will still happen until #35021 lands and probably has been the case for a long time. Evidence below:

[code]

[code]

Note: `-l gcc_s` appears *before* `-l compiler-rt`

[code]

Note: `@plt` dynamic loading)

[code]

Note: `U` (undefined) and `@GCC_3.5` (symbol versioning)

The intrinsics for floating point operations come from `libgcc_s.so

[2016-08-07 18:11] techtonik opened #35471 "Rust on Windows Vista (crash with SetThreadErrorMode)"
`rust-1.10.0-i686-pc-windows-gnu.msi` contains compiler that doesn't run on Vista - crashes with missing `SetThreadErrorMode` in `KERNEL32.dll`. I thought that I can use Rust as a platform independent C replacement, but it seems not possible. Maybe there are binaries without those Windows 10 specific optimizations that I missed?

![image](https://cloud.githubusercontent.com/assets/515889/17464247/

[2016-08-07 18:36] nagisa commented on #35471
The compiler itself requires at least Window 7 (Windows Server 2008 R2) to run. Programs compiled with Rust *may* run with Windows all the way back to XP, but some features exposed by the standard library (most notably locking) will not work.

[2016-08-07 18:42] japaric opened #35474 "rustc-builtins: use the target *specification* (rather than its triple) in build.rs"
follow up of #35021

`rustc-builtins`' `build.rs` uses `$TARGET` to decide which intrinsics to compile. This won't work well with custom targets because these targets can have arbitrary triples (e.g. `cortex-m0`) that don't reflect the actual target specification (ARM architecture, no OS, etc). To make `rustc-builtins` more robust we should use the target specification (`target_arch`, `target_os`,

[2016-08-07 18:44] nagisa commented on #35474
I was planning to write an RFC on the topic of built-in and custom targets overall. I’ll try to get to it once I finish my other in-progress stuff.

[2016-08-07 20:11] llogiq commented on #30668
Probably related to https://github.com/rust-lang/rust/issues/28970

[2016-08-07 20:22] crypto-universe commented on #35233
@chamoysvoice sure! Thanks!

[2016-08-07 20:42] durka commented on #35450
Oh huh, so you didn't even need a nested macro.

[2016-08-07 20:50] #35276 closed

[2016-08-07 20:50] #35277 closed

[2016-08-07 20:50] #35304 closed

[2016-08-07 20:50] #35312 closed

[2016-08-07 20:50] #35257 closed

[2016-08-07 20:50] #35387 closed

[2016-08-07 20:50] #35388 closed

[2016-08-07 20:50] #35389 closed

[2016-08-07 20:50] #35254 closed

[2016-08-07 20:50] #35243 closed

[2016-08-07 20:50] #35244 closed

[2016-08-07 20:50] #35249 closed

[2016-08-07 20:50] #35250 closed

[2016-08-07 20:50] #35251 closed

[2016-08-07 20:51] jseyfried commented on #35450
@durka Good point, updated the title.

[2016-08-07 21:12] jonathandturner commented on #35233
Batch 3 is in!

Thanks to everyone who has been sharing their tasks.  Love seeing that.  I should have more tasks on the list starting tomorrow.

[2016-08-07 23:39] dcci opened #35478 "Propose a FIXIT when the return type is missing from the function definition"
[code]

This obviously fails with:

[code]

I think the compiler should try to propose a `FIXIT`, e.g.
`maybe did you mean fn get_numbers(arr1 : String) -> Vec<i32>`

Also, `rustc --explain E0308` doesn't list the missing `-> return_type` case as "common mistake". Not sure if it's really worth listing it, but still, worth mentioning.

[2016-08-08 00:02] KiChjang commented on #35191
@TheZoq2 Did you manage to include the bonus in your PR (#35380)? If not, I can take over.

[2016-08-08 00:03] KiChjang commented on #35194
This should be fixed by #35439.

[2016-08-08 00:04] KiChjang commented on #35200
This should be fixed by #35410.

[2016-08-08 00:05] Aatch commented on #35459
The issue tracker isn't an appropriate place for these kinds of questions. We're happy to help, but please use the [forums](https://users.rust-lang.org) or IRC (#rust or #rust-beginners on irc.mozilla.org).

[2016-08-08 00:05] #35459 closed

[2016-08-08 00:06] KiChjang commented on #35201
Should be fixed by #35413.

[2016-08-08 00:07] KiChjang commented on #35208
Should be fixed by #35357.

[2016-08-08 00:07] KiChjang commented on #35209
Should be fixed by #35355.

[2016-08-08 00:07] Aatch commented on #35435
There's most like some code that is still assuming that privacy modifiers are a single token.

[2016-08-08 00:09] KiChjang commented on #35213
The bonus for this issue hasn't been attempted yet.

[2016-08-08 00:11] nicka101 opened #35479 "std::process::Command is inconsistent between platforms"
When using std::process::Command with a clean environment (i.e. using env_clear when building the command), the behaviour of spawn is not consistent between Windows and Unix-like OSes. On Unix-like OSes, it behaves as expected and manages to spawn the process based on its working directory, however on Windows it always returns an error with the message "other os error", which seems to be related t

[2016-08-08 00:11] KiChjang commented on #35215
Bonus tracking issue: #35290

[2016-08-08 00:20] KiChjang commented on #35223
Should be fixed by #35283.

[2016-08-08 00:29] Aatch commented on #35479
Do you have some example code? It doesn't need to be a full reproduction (since that requires extra stuff), but just to see if there are any confounding details. As far as I can tell, if there is no PATH variable set, it'll use the program you supply, which seems like the expected behaviour here.

It's more likely to be an inconsistency in the platforms itself, either with the expected environment

[2016-08-08 00:32] KiChjang commented on #35224
Looks like #35353 didn't attempt the bonus. @poveda-ruiz are you going to finish this? Otherwise, I'm taking over.

[2016-08-08 00:52] KiChjang commented on #35382
@munyari Are you still working on the bonus part for this issue? Otherwise I can take over.

[2016-08-08 00:53] KiChjang commented on #35381
@munyari Are you also working on the bonus part of this issue?

[2016-08-08 00:54] KiChjang commented on #35390
Should be fixed by #35419.

[2016-08-08 00:57] KiChjang commented on #35327
Should be fixed by #35372.

[2016-08-08 00:58] KiChjang commented on #35329
Should be fixed by #35372.

[2016-08-08 00:58] munyari commented on #35382
Feel free to take them both @KiChjang

[2016-08-08 01:06] japaric commented on #35437
I've started with this approach in [this repository](https://github.com/japaric/rustc-builtins). I've only ported a few intrinsics, mainly the ones that are needed for ARM Cortex-M targets to get basic stuff like `ptr::copy_nonoverlapping` working, but I'm already [using it](https://github.com/japaric/cu/pull/37#issuecomment-238113271) in one of my projects.

[2016-08-08 01:11] KiChjang commented on #35342
Should be fixed by #35359.

[2016-08-08 01:16] retep998 commented on #26258
Rust still relies on things which are not guaranteed by Microsoft to remain stable across versions. Fortunately the stuff that Rust currently relies on hasn't changed between the versions of msvc that we currently support.

[2016-08-08 01:20] japaric opened #35481 "duplicate ARM targets in `rustc --print target-list`"
### STR

[code]

### Meta

[code]

[2016-08-08 02:13] nicka101 commented on #35479
This is a simple reproduction of the issue:
https://gist.github.com/nicka101/a22032bcb3b5181bafc8feda5842c205
Obviously the working directory path and possibly the binary name differ between the platforms, I used echo as the binary for both, in /bin on Debian and in C:\\Program Files\\Git\\usr\\bin\\ on Windows.

[2016-08-08 03:22] durka commented on #35479
Related to #31259?

[2016-08-08 03:37] KiChjang commented on #35382
I'm not quite in favour of removing the "in the expansion of" note. This is produced in `librustc_errors/emitter.rs`, and it is called when there is an error in macro invocation. `#[derive(Copy)]` is a special case, since the attribute expands into a macro. I'm not too keen on adding additional logic in `emitter.rs` just to handle this special case.

[2016-08-08 04:10] frewsxcv opened #35483 "rustdoc generates playpen links with incorrect indentation"
Steps to reproduce:
1. https://doc.rust-lang.org/std/env/fn.args.html
2. Click on "Run" in the example block

Playpen opens up with this code snippet:

[code]

It _should_ instead open up with this snippet:

[code]

[2016-08-08 04:42] durka commented on #35483
Introduced sometime between 1.9.0 and 1.10.0.

[2016-08-08 04:48] nicka101 commented on #35479
It does seem to be the same underlying issue, though I'd note that PATH is the only requirement for the process to __start__ and that setting PATH to the working directory on env_clear is sufficient and would emulate *nix behaviour.

[2016-08-08 05:05] #35301 closed

[2016-08-08 05:25] nrc commented on #27336
@eddyb to clarify some points about your suggestion:

* it must be enforced at usage sites, not in definitions? In your example, it is `let _ = Foo(box x)` that is the problem, specifically if the type of `x` cannot be fully inferred?
* do you intend to forbid defaults for functions entirely? Could you give an example of functions with defaults which are more problematic than types?
* could you ex

[2016-08-08 05:33] alexcrichton commented on #31322
@japaric

Solving this problem is I think going into RFC territory as it not only affects musl but also MSVC, so with those both in play it will likely escalate the solution. If the solution though is quite minor and easy to plumb, it may not need an RFC.

[2016-08-08 05:52] eddyb commented on #27336
Yes, however, the enforcement on uses is more permissive than today's type-checking, i.e. it would only allow more code to compile. And it's not the type of `x`, but the fact that `box x` could have any `A`, and the lack of a default on `Foo` represents a hazard.

It's not functions *with* defaults, it's functions with *any* type parameters that would cause problems in such as scheme. Without thei

[2016-08-08 06:02] nrc commented on #27336
Thanks for the explanations!

So, we apply the same rules to type parameters on both functions and types?

And to summarise your rule, is it accurate to say "wherever we perform inference, if an inference variable has a default, then it is an error if that variable unifies with any other inference variables, unless they have the same default or the variable also unifies with a concrete type"?

[2016-08-08 06:18] eddyb commented on #27336
@nrc Well, we *could* apply the same rules, we could deny/ignore defaults on functions, or we could make functions go somewhere in between, using defaults that we can gather from their signature, combined with their own defaults, in cases where they would be unambiguous.
I tried to list the options, and I prefer the hybrid rule for functions, but it's just one option of several.

As for your formu

[2016-08-08 06:59] #20293 closed

[2016-08-08 07:05] vadimcn opened #35487 "Inlining breaks LLDB expression evaluator"
Compile this code with `-Copt-level=0`:

[code]

In LLDB, set a breakpoint on line 8, then run the program.
After breaking, type `print a`'.    Result:

[code]

Interestingly, the `frame variable` command shows the expected value: `(int) a = 1`.

Meta:
LLDB version: lldb-360.1.25 (OSX XCode 8)
Rustc version: rustc 1.10.0 (cfcb716cf 2016-07-03) x86_64-apple-darwin

[2016-08-08 07:11] vadimcn commented on #35487
Note: this is very likely an LLDB bug, because the equivalent C++ code exhibits the same behavior.
[code]
The extra lexical scope in `inlined_fn` is important - without it, evaluation produces the correct result: `(int) $0 = 1`

GDB works correctly.

[2016-08-08 07:34] IvanUkhov opened #35488 "Missing documentation when re-exporting enumeration variants"
When a private child module defines an enum and pub-uses its variants, and the parent module re-exports the content of the child module:

[code]

it is not visible in the documentation of the parent module that the variants of the enum are directly accessible to the user. However, if the child module was public, the pub-use of the variants would be shown on the pages of both modules.

Regards,
Iva

[2016-08-08 08:13] TheZoq2 commented on #35191
I did not, and it looks like you already submitted a pull request for it?

[2016-08-08 08:23] Amanieu commented on #35437
I think we should also include some other functions that are required by Rust but not provided by compiler-rt:
- `fmod` and `fmodf`
- `memcmp`, `memcpy`, `memmove` and `memset`

These should be defined as weak symbols so that an optimized implementation from libc can be used if available.

[2016-08-08 10:10] ollie27 commented on #35483
This was caused by #33512 which fixed #25944. There is an open PR about this: #35012.

[2016-08-08 11:17] chneukirchen commented on #31322
IMO as a packager, i'd expect dynamic linking to be the default, and have a special rustc flag to enable static linking, nevermind of the libc used (same as plain "gcc").

(That static linking may not work for glibc is their problem, not the tool chain's.)

I don't think it's too late to change the default now, the musl target seems to be experimental still.

[2016-08-08 11:47] svark opened #35490 "Panic in libtest"
Panic in libtest

I tried this command:

`cargo test -no-run
`
I expected that cargo or rustc identify that the option -no-run provided is unknown.
(as per @alexcrichton this needs fixing in rustc)
Instead, this happened:

Running exe_name
 thread 'main' panicked at '"Unrecognized option: \'n\'."', ../src/libtest/lib.rs:246
## Meta

`rustc --version --verbose`:
rustc 1.12.0-nightly (b5ad2779e 2016

[2016-08-08 12:06] emilymaier commented on #31322
I tried changing the musl target to have both options without adding a new target and it got a bit complex, as the linking code now needed to choose between two sets of args, and .so generation for musl was broken in several different ways. I don't have a working solution yet.

[2016-08-08 15:01] jonathandturner commented on #35382
@KiChjang - +1 on not making it special logic.  There's a [separate thread](https://internals.rust-lang.org/t/improving-macro-errors/3809/5) on improving macro errors.  This should let us fix them more completely.

[2016-08-08 15:13] jonathandturner commented on #35233
Just a heads up - looks like the build servers are having some issues.  We're looking into it.  I'll post here when they're back up.

[2016-08-08 15:42] japaric commented on #35437
@Amanieu Sounds like a good idea to me. But, is there a mechanism to mark a symbol as weak from *within Rust*? I've done it before for executables but using a linker script; that won't work for rlibs because building those doesn't involve the linker.

[2016-08-08 16:02] poveda-ruiz commented on #35224
Take it over, I don't know how to do it :)

[2016-08-08 16:12] alexcrichton commented on #35474
Would certainly be nice to have! This logic should probably all live in gcc-rs anyway, and I wouldn't mind piling on more parsing/configuration to that crate, but if @nagisa's got an RFC along these lines sounds good to me to wait for that as well

[2016-08-08 16:14] retep998 commented on #35437
On Windows, the PE/COFF specification describes weak externals which can be used for the purpose of defining symbols such as `memcpy` and whatnot so it can work without the CRT, but if you do link the CRT it'll use those instead.

[2016-08-08 16:20] japaric commented on #31322
@jirutka

Making it hard to use unstable features in stable/beta is pretty much intentional.

Ok, it can wait then.

@alexcrichton

I think that regardless of how we chose to expose the static vs dynamic linking to the user, we'll want to provide two different musl rustc: one dynamically linked for e.g. musl based distros and one statically linked for e.g. bootstrapping (due to its "run anywhere"

[2016-08-08 16:29] japaric commented on #35437
@retep998 Ok, that sounds like there might exists a LLVM thing to mark a symbol as "weak". I guess my actual question was: is there any Rust attribute to mark a function as weak?

[2016-08-08 16:40] jupp0r commented on #31322
@japaric

I'd expect both rustc versions to be able to produce static as well as dynamic binaries. Right now we have this situation (x - supported) (? - unsupported)
[code]
I think most people are either interested in the bottom row for reasons of producing a completely static binary, even when linking against native libraries or in the right column in order to bootstrap on any linux distro. Is th

[2016-08-08 16:53] alexcrichton commented on #35367
cc @brson

Does this look familiar?

[code]

[2016-08-08 16:58] alexcrichton commented on #35202
This may just be a Cargo bug because rustbuild is relying on Cargo to detect this kind of change to files, so it may be helpful to reproduce without rustbuild and report an issue to rust-lang/cargo

[2016-08-08 17:12] japaric commented on #31322
I agree. Whether that feature should always be exposed as flag or as a second target on all platforms is still undecided. So far, x86 Linux and ARM Linux use the second target (the musl target) approach.

Building a static binary with a dynamic rustc is also supported, via cross compilation to the musl target.

IMO, the use cases in order of importance/frequency are: dynamic binary (the default),

[2016-08-08 17:15] alexcrichton commented on #35437
@japaric I'd personally prefer the incremental approach of just moving intrinsics from C to Rust over time. That way we can ensure that everyone keeps building locally, and we could even add cargo features perhaps to disable all C intrinsics so if all the Rust intrinsics suffice for your target you can get by with pure Rust anyway.

[2016-08-08 17:34] alexcrichton commented on #31322
@japaric

Perhaps, yes, but if we extend the concept of a target to also take into account extra configuration (like how we link libc) then we may not necessarily diverge literally in the name of the target. I definitely agree however that we're always going to be producing two artifacts! It's just a question of what to call them :(

I wouldn't feel too too bad about adding new target names, if we

[2016-08-08 17:38] shepmaster commented on #35437
Perhaps `#[linkage = "extern_weak"]`? For AVR work, I just used some custom assembly...

[2016-08-08 17:42] jonathandturner opened #35495 "E0002 needs to be updated to new format"
From: src/test/compile-fail/E0002.rs

Errror E0002 needs a label and help moved to a simple help, updating it from:

[code]

To:

[code]

[2016-08-08 17:49] likandia commented on #35233
Okay if I take E0002?

[2016-08-08 17:50] jonathandturner commented on #35233
I'll add you to E0002, @likandia

[2016-08-08 17:51] srdja commented on #35495
I can work on this.

[2016-08-08 17:51] jonathandturner opened #35496 "E0008 needs to be updated to new format"
From: src/test/compile-fail/E0008.rs

Error E0008 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-08 17:56] srdja commented on #35233
Can I take E0008?

[2016-08-08 17:57] jonathandturner commented on #35233
@srdja - you got it

[2016-08-08 18:00] jonathandturner opened #35497 "E0026 needs to be updated to new format"
From: src/test/compile-fail/E0026.rs

Error E0026 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-08 18:02] razielgn commented on #35233
Grabbing `E0026`. 😄

[2016-08-08 18:02] jonathandturner opened #35498 "E0033 needs to be updated to new format"
From: src/test/compile-fail/E0033.rs

Error E0033 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-08 18:05] jupp0r commented on #31322
Does this approach work if you link against native libraries? My specific use case is producing a static linux binary including libclang.

[2016-08-08 18:05] scottcarr opened #35499 "[MIR] span_mirbug! should be an error"
IIUC, span_mirbug! was an warning while MIR was in development.  It's time to make span_mirbug! an error.  (Or if it's really supposed to be a warning, rename the macro)

https://github.com/rust-lang/rust/blob/master/src/librustc_mir/transform/type_check.rs#L29-L36

[2016-08-08 18:06] emilymaier commented on #31322
I didn't get that far. The more immediate problem I had was building liblibc, as I wanted the .rlib to include libc.a and the .so to link to libc.so, but the link args only permitted one or the other for building a single target as far as I could tell.

[2016-08-08 18:08] jonathandturner opened #35500 "E0038 needs to be updated to new format"
From: src/test/compile-fail/E0038.rs

Error E0038 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: not sure how difficult this would be, but we should underline where the issue occurs if possible.  Something like:

[code]

[2016-08-08 18:12] jonathandturner opened #35501 "E0045 needs to be updated to new format"
From: src/test/compile-fail/E0045.rs

Error E0045 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: Underline only the variadic part of the call.

[code]

[2016-08-08 18:14] brson commented on #29053
Only thing left to do here is land a test for it.

[2016-08-08 18:17] munyari commented on #35233
33 and 38 please!

[2016-08-08 18:20] steveklabnik commented on #29368
@mgattozzi things I can see right now:

1. some stuff could use examples, not just on the individual methods, but also generally
2. https://doc.rust-lang.org/std/path/struct.Iter.html should link to the method that creates it, see the various iterator structs in `std::iter` for some boilerplate text.

[2016-08-08 18:22] jonathandturner commented on #35233
@razielgn and @munyari - done!

[2016-08-08 18:23] KiChjang commented on #35233
I'm taking the E0051 bonus (should be E0053 btw).

[2016-08-08 18:23] arielb1 commented on #1311
triage: ?

[2016-08-08 18:24] jonathandturner commented on #35233
@KiChjang - good catch :)  It's yours

[2016-08-08 18:25] futile commented on #29053
I can add that.

[2016-08-08 18:29] intrepion commented on #35233
I noticed that some of the pull requests aren't including updated unit tests.  I'm wondering if that might count as another bonus part.

[2016-08-08 18:29] steveklabnik commented on #21073
This ICE seems to be fixed on

[code]

I have a hunch that this is due to MIR being turned on, though I'm not sure. Please let me know if this still ICEs for you, but closing for now :confetti_ball:

[2016-08-08 18:29] #21073 closed

[2016-08-08 18:29] steveklabnik commented on #22894
This ICE seems to be fixed on

[code]

I have a hunch that this is due to MIR being turned on, though I'm not sure. Please let me know if this still ICEs for you, but closing for now :confetti_ball:

[2016-08-08 18:29] #22894 closed

[2016-08-08 18:29] steveklabnik commented on #26263
This ICE seems to be fixed on

[code]

I have a hunch that this is due to MIR being turned on, though I'm not sure. Please let me know if this still ICEs for you, but closing for now :confetti_ball:

[2016-08-08 18:29] #26263 closed

[2016-08-08 18:29] steveklabnik commented on #26989
This ICE seems to be fixed on

[code]

I have a hunch that this is due to MIR being turned on, though I'm not sure. Please let me know if this still ICEs for you, but closing for now :confetti_ball:

[2016-08-08 18:29] #26989 closed

[2016-08-08 18:29] steveklabnik commented on #27249
This ICE seems to be fixed on

[code]

I have a hunch that this is due to MIR being turned on, though I'm not sure. Please let me know if this still ICEs for you, but closing for now :confetti_ball:

[2016-08-08 18:29] #27249 closed

[2016-08-08 18:29] steveklabnik commented on #27455
This ICE seems to be fixed on

[code]

I have a hunch that this is due to MIR being turned on, though I'm not sure. Please let me know if this still ICEs for you, but closing for now :confetti_ball:

[2016-08-08 18:29] #27455 closed

[2016-08-08 18:29] steveklabnik commented on #28104
This ICE seems to be fixed on

[code]

I have a hunch that this is due to MIR being turned on, though I'm not sure. Please let me know if this still ICEs for you, but closing for now :confetti_ball:

[2016-08-08 18:29] #28104 closed

[2016-08-08 18:29] steveklabnik commented on #30386
This ICE seems to be fixed on

[code]

I have a hunch that this is due to MIR being turned on, though I'm not sure. Please let me know if this still ICEs for you, but closing for now :confetti_ball:

[2016-08-08 18:29] #30386 closed

[2016-08-08 18:30] jonathandturner opened #35502 "E0067 needs to be updated to new format"
From: src/test/compile-fail/E0067.rs

Error E0067 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-08 18:32] jonathandturner commented on #35233
@intrepion - we're trying to catch PRs without unit tests so that they always have one.  That said, people can always worth together.

[2016-08-08 18:33] jonathandturner opened #35503 "E0070 needs to be updated to new format"
From: src/test/compile-fail/E0070.rs

Error E0070 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-08 18:52] mikhail-m1 commented on #35233
I'll take 45

[2016-08-08 19:15] jonathandturner opened #35506 "E0072 needs to be updated to new format"
From: src/test/compile-fail/E0072.rs

Error E0072 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: put the span on the name of the struct:

[code]

[2016-08-08 19:23] japaric commented on #35437
@shepmaster

`#[linkage = "weak"]` does the trick (on Linux at least):

[code]

[code]

@alexcrichton Sounds good to me. One thing I like about having `rustc-builtins` in its own repo is that I've set up testing infrastructure (Travis + AppVeyor) to test the intrinsics for several targets (using QEMU), which I think is not trivial to integrate with the buildbots. Also, fast test times. Perhaps we

[2016-08-08 19:29] jonathandturner opened #35508 "E0128 needs to be updated to new format"
From: src/test/compile-fail/E0128.rs

Error E0128 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-08 19:30] jonathandturner opened #35509 "E0133 needs to be updated to new format"
From: src/test/compile-fail/E0133.rs

Error E0133 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-08 19:32] jonathandturner opened #35510 "E0138 needs to be updated to new format"
From: src/test/compile-fail/E0138.rs

E0138 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: would be better to just underline the name of the function and show the other start function:

[code]

[2016-08-08 19:40] jonathandturner opened #35511 "E0195 needs to be updated to new format"
From: src/test/compile-fail/E0195.rs

Error E0195 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: Underline the lifetimes and show the original trait requirement:

[code]

[2016-08-08 19:45] jonathandturner opened #35512 "E0253 needs to be updated to new format"
From: src/test/compile-fail/E0253.rs

E0253 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-08 19:46] retep998 commented on #35437
[code]
Doesn't look like it works on Windows. If it worked there would be a `WeakExternal` in there.

[2016-08-08 19:47] jonathandturner opened #35513 "E0254 needs to be updated to new format"
From: src/test/compile-fail/E0254.rs

E0254 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-08 19:48] japaric commented on #31322
@jupp0r

Sure, as long as the crate with the Rust bindings to libclang (and actually, all your other dependencies that bind to a C library) tells Cargo that it will statically link to `libclang.a`. But I bet that the crate (and probably the others) is configured to link dynamically to `libclang.so`.

BTW, which clang crate are you using?

@emilymaier

My understanding is that a libfoo.rlib will ei

[2016-08-08 19:48] jonathandturner opened #35514 "E0259 needs to be updated to new format"
From: src/test/compile-fail/E0259.rs

E0259 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-08 19:49] alexcrichton commented on #35437
@japaric I'd be down for that! I agree that moving CI off buildbot is always best :)

[2016-08-08 19:52] jonathandturner opened #35515 "E0260 needs to be updated to new format"
From: src/test/compile-fail/E0260.rs

E0260 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: Underline the name of the conflicting definition, if possible:

[code]

[2016-08-08 19:54] jonathandturner opened #35516 "E0261 needs to be updated to new format"
From: src/test/compile-fail/E0261.rs

E0261 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-08 19:54] retep998 commented on #35437
@japaric Also `#[linkage]` is broken anyway at the moment https://github.com/rust-lang/rust/issues/33992

[2016-08-08 19:56] jonathandturner opened #35517 "E0262 needs to be updated to new format"
From: src/test/compile-fail/E0262.rs

E0262 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-08 19:57] mgattozzi commented on #29368
Alright I'll start working on it this week. I'll link the branch I'll be working on here once I start so anyone can look at the progress, then put in a PR when it's ready.

[2016-08-08 19:59] jonathandturner opened #35518 "E0263 needs to be updated to new format"
From: src/test/compile-fail/E0263.rs

E0263 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: underline and label the previous declaration:

[code]

[2016-08-08 20:01] jonathandturner opened #35519 "E0267 needs to be updated to new format"
From: src/test/compile-fail/E0267.rs

E0267 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-08 20:03] jonathandturner opened #35520 "E0268 needs to be updated to new format"
From: src/test/compile-fail/E0268.rs

E0268 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-08 20:05] jonathandturner opened #35521 "E0297 needs to be updated to new format"
From: src/test/compile-fail/E0297.rs

E0297 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: narrow the span to focus on the "for `<pattern>`" piece:

[code]

[2016-08-08 20:09] jonathandturner opened #35522 "E0301 needs to be updated to new format"
From: src/test/compile-fail/E0301.rs

E0301 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-08 20:11] jonathandturner opened #35523 "E0302 needs to be updated to new format"
From: src/test/compile-fail/E0302.rs

E0302 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-08 20:17] jonathandturner commented on #35233
Good news!  Looks like the build bots are working again, so we're back in business.

I've celebrated by adding more error codes to the list.  If you've been wanting to do a "bonus", there's a lot of new bonuses as well.

[2016-08-08 20:42] garekkream commented on #35233
I can take 301 and 302.

[2016-08-08 20:49] clementmiao commented on #35503
I would like to take this issue. First time compiler hacker :)

[2016-08-08 20:49] clementmiao commented on #35502
I would like to take this issue. First time compiler hacker :)

[2016-08-08 20:49] jonathandturner commented on #35323
@crypto-universe - Looks like this one is currently set to: @yossi-k.  I'll let them chime in here if they want to take this one or not.

There's a list here: https://github.com/rust-lang/rust/issues/35233 where you can see which ones are free.  I just added more if you want to grab a free one.

[2016-08-08 20:51] jonathandturner commented on #35503
@clementmiao - I've updated the list to reflect you having E0067 and E0070.  Have fun!  If you get stuck, you can look through the accepted PRs to see how other people did their fixes.

[2016-08-08 21:09] arielb1 commented on #35233
I did the check_match ones

[2016-08-08 21:15] lukehinds commented on #35233
Hi, I think I will have a go and help my feet get wet, so  E0253 & E0254

[2016-08-08 21:22] Vassah commented on #35229
Addressed in [#35528](@jonathandturner) pending merge.

[2016-08-08 21:22] Vassah commented on #35228
Addressed in [#35528](https://github.com/rust-lang/rust/pull/35528) pending merge.

[2016-08-08 21:32] Limeth commented on #35233
I will try to do [E0263](https://github.com/rust-lang/rust/issues/35518).

[2016-08-08 21:33] Limeth commented on #35518
I'm on it.

[2016-08-08 21:33] jonathandturner opened #35529 "E0004 bonus update: spans can't cross nodes"
From https://github.com/rust-lang/rust/pull/35485

After talking with @arielb1 (and seeing @nrc's comments) - let's actually change the span to be one we can do safely:

From:

[code]

To:

[code]

CC: @KiChjang

[2016-08-08 21:43] jonathandturner commented on #35233
@arielb1 - other people have signed up for some of those error codes in that PR, but there are free error codes you can take if you like.  You can also collaborate with the people who volunteered for those codes.

[2016-08-08 21:44] KiChjang commented on #35529
Okay, this should be a simple fix, I'm taking it.

[2016-08-08 21:47] arielb1 commented on #35529
I have a mega-pr #35308 that includes it.

[2016-08-08 21:49] arielb1 commented on #35529
Still, I find spanning the scrutinee is a bit odd. But spanning the whole `match` isn't so pretty, so...

[2016-08-08 21:49] KiChjang commented on #35529
Commented on your PR.

[2016-08-08 21:55] arielb1 commented on #35495
This error is basically a hack and should be merged into E0004.

[2016-08-08 21:58] pcwalton opened #35531 "`array.push(Foo { ... })` should construct `Foo` in-place"
Right now when you push an immediate we construct a temporary copy on the stack and then move it into place on the heap. This is wasteful and results in a good deal of code bloat. Can we do better (with MIR perhaps)?

One possible sketch of a solution is to implement MIR inlining and then use some variant of #32966 that can prove that the construction of the argument to `push()` does not touch the

[2016-08-08 21:59] pcwalton commented on #35531
See also #27779 and #30172

[2016-08-08 22:00] pcwalton commented on #30172
Wanted for WebRender.

[2016-08-08 22:00] pcwalton commented on #27779
Wanted for WebRender.

[2016-08-08 22:17] nagisa commented on #35499
Not before we’re absolutely sure there’s really no more warnings produced by this.

[2016-08-08 22:20] eddyb commented on #35531
A [simple test]( https://play.rust-lang.org/?gist=2b2399ddfdf55caff7b75824ed3d0c57) I put together quickly results in IR that looks like this:
[code]

There `%.pre` is the data pointer loaded from the `Vec` itself.

@pcwalton The problem occurs in more complex cases, could you try adjusting the one I linked to be more like what you're seeing copies with?

[2016-08-08 22:22] circuitfox commented on #35233
I'd like to take 072 and 128

[2016-08-08 22:31] michaelwoerister commented on #35487
That makes me sad `:(`

[2016-08-08 22:44] nikomatsakis commented on #35531
I thought we had some initial impl of placement new?

[2016-08-08 22:50] pcwalton opened #35535 "Bad codegen: unnecessary on-stack copy in WebRender 2"
Here's an unncessary on-stack copy in WebRender 2 with an inefficient `mov` chain.

Original code: https://github.com/servo/webrender/blob/master/src/tiling.rs#L111

    fn add_layer_to_ubo(layer_ubos: &mut Vec<Vec<PackedLayer>>,
                        layer_to_ubo_map: &mut Vec<Option<usize>>,
                        layer_index: StackingContextIndex,
                        ctx: &RenderTargetCo

[2016-08-08 22:50] pcwalton commented on #35535
cc @eddyb

[2016-08-08 23:14] hank-der-hafenarbeiter commented on #35345
Not so sure about how the bonus part can be implemented.

Here:
[code]

The type/module name (if you don't want to parse it from `msg`) is not available and the span is the wrong size.

A solution would be to make `fn resolve_module_path_from_root(...)` and `fn resolve_module_path(...)` give hand you a message and the name of the module seperately. So:

[code]

would become
[code]

Problem now is

[2016-08-08 23:31] jonathandturner commented on #35345
Yeah, this one looks like it might take some significant changes.  When I wrote the bonuses, I wasn't sure which ones would be doable with the information local to the error.

Pinging @arielb1 and @nikomatsakis, who know this area better than I do and who might be able say for sure if this is doable.

[2016-08-09 00:07] Amanieu opened #35540 "#![no_builtins] should prevent a crate from participating in LTO"
This attribute is needed to prevent LLVM from optimizing a `memcpy` implementation into a recursive call. However this attribute is not preserved in LTO builds: the attribute only works if it is set at the top-level crate.

Since crates containing implementations of built-in functions aren't meant to be called directly, they don't benefit from LTO and should be linked as a separate object.

One wo

[2016-08-09 00:42] nikomatsakis commented on #35345
Actually @jseyfried knows this area of the code *best* -- it does seem like you'd have to tweak things a bit to get the tighter span.

[2016-08-09 00:42] jhod0 commented on #35284
@zackmdavis ok, I'll work on a PR

It's a little more complicated than just linking those errors, because linking those errors exposes some failing doctests that need to be fixed.

Fortunately, there aren't all that many error explanations in these crates, and therefore Rust users are not currently missing all that much from them.

[2016-08-09 00:43] jhod0 commented on #32777
@zackmdavis I think Guillaume was referring to the duplicate E0519s - that is mentioned earlier in this comment thread

[2016-08-09 01:24] eddyb commented on #35535
This is interesting, [the longest BB in ASM](https://gist.github.com/pcwalton/2ca2e9755eb75f7e61ccd252ff87ec9d#file-out-reduced-s-L156-L216) comes from [this small sequence of `llvm.memcpy` calls](https://gist.github.com/pcwalton/3dbfe14ea18a70bd96f7c74e27696663#file-out-reduced-ll-L247-L257).

[2016-08-09 01:28] brson commented on #25664
@sanmai-NL the issues you are raising seem to be different from this issue, which is about ensuring that individual rust-lang repos declare a license (and on that basis I think we can close this issue - most of the remaining undeclared repos are not worth the effort). So you might consider opening another issue if you think the Rust source copyright is not handled properly.

That said, the exact h

[2016-08-09 01:39] eddyb commented on #35535
I got clang to [emit similar IR](https://godbolt.org/g/Yj1z2L), but it [lowers into XMM moves](https://godbolt.org/g/HK9RIi) (done in a fashion that could potentially load a whole cache-line in parallel).

[2016-08-09 02:39] retep998 commented on #32689
I did a quick test and `GetFullPathNameW` does indeed work fine when supplied with paths that are longer than `MAX_PATH`. Therefore I would feel confident in having libstd automatically invoke `GetFullPathNameW` on any non-verbatim paths that are over `MAX_PATH` and add the verbatim prefix before passing the path to any OS functions.

[2016-08-09 02:41] apasel422 commented on #35531
CC #32366.

[2016-08-09 03:47] EugeneGonzalez commented on #35233
I'd like to claim E0259 and E0260.

[2016-08-09 05:16] creativcoder commented on #35506
I'd like to work on this.

[2016-08-09 05:17] creativcoder commented on #35513
I'd like to work on this.

[2016-08-09 05:38] DemiMarie commented on #31322
@japaric Should there be a way for a crate to link dynamically to an external library if and only if it itself is to be linked dynamically?

[2016-08-09 05:41] jupp0r commented on #31322
@japaric @DemiMarie:

https://github.com/KyleMayes/clang-sys does an excellent job of enabling dynamic or static linking of external libraries via cargo feature flags.

[2016-08-09 05:59] DemiMarie commented on #32689
Should I try to implement this?

On Aug 8, 2016 10:40 PM, "Peter Atashian" <notifications@github.com> wrote:

[2016-08-09 06:01] wdv4758h opened #35543 "Create directory for dump-mir-dir automatically"
I have tried this command to dump MIR things :

[code]

But it won't create the directory for me, I need to create the directory before running the command.
If the directory doesn't exist, it won't show any error message and it won't generate any MIR file.

I think we should create the directory automatically.
Even not doing so, we should show some error message.

Addtionally, I wonder what are ot

[2016-08-09 06:13] retep998 commented on #32689
@DemiMarie I don't see why not. Feel free to give it a shot.

[2016-08-09 07:21] dmilith opened #35544 "Panic with -v or --verbose without additional params."
FreeBSD 11.0, x86_64, Rust 1.10.0, Cargo 0.11.0 sha, It's release, so stack is useless.. but still:

[code]

[2016-08-09 07:52] #34683 closed

[2016-08-09 08:33] pcwalton commented on #35535
Does it have to do with the floats? Shot in the dark here.

[2016-08-09 09:16] shyaamsundhar commented on #35233
I will take E0267 and E0268

[2016-08-09 09:17] shyaamsundhar commented on #35519
I will take this.

[2016-08-09 09:17] shyaamsundhar commented on #35520
I will take this

[2016-08-09 09:25] techtonik commented on #35471
@nagisa is it possible to to use software emulation for missing features on development machines? It will help to save the day. Also, can Rust detect and warn when such feature would be missing on target platform and compiled program won't run?

[2016-08-09 09:39] shyaamsundhar commented on #35519
A small doubt E0267 and E0268 has changes in the same file ("src\librustc_passes\loops.rs")...
Can I give a single commit to solve both these tickets?

[2016-08-09 10:22] petrochenkov commented on #35471
@techtonik

Sure, there's an issue about this: https://github.com/rust-lang/rust/issues/26654
Unfortunately no one had enough motivation to implement the emulation so far.
There were attempts though - https://github.com/rust-lang/rust/pull/27036, you can try to resurrect that PR if you need XP/Vista support.
RFC 1632 (https://github.com/rust-lang/rfcs/pull/1632) worked the problem around by not us

[2016-08-09 10:25] nagisa commented on #35471
It would certainly be possible to switch out our use of SetThreadErrorMode with [SetErrorMode](https://msdn.microsoft.com/en-us/library/windows/desktop/ms680621(v=vs.85).aspx), but I’m pretty sure there’s more cases like this, many of which are not as trivially solved.

Everything is possible, but not necessarily feasible. At the moment targetting Windows does not differentiate between you targett

[2016-08-09 11:15] fkjogu opened #35545 "Type alias of type instance of generic tuple struct can't be used interchangably with a tuple struct of this type"
Having a type alias to a specific type instance of a generic tuple struct, does not behave like a non generic tuple struct of this type. For example
[code]
gives

[code]

I expected `Bar` to be identically to `struct Bar(i32)`.

Rustc version: `rustc 1.12.0-nightly (b30eff7ba 2016-08-05)`.

See https://is.gd/6Qr4P6 for a playbook.

[2016-08-09 11:25] TimNN commented on #35545
This does not work even without generic parameters:

[code]

This is a duplicate of #17422 which was closed:

Basically, as far as I understand the situation, `Bar(42)` basically looks for a "function" (constructor) called `Bar` however `Bar` in only a type (these are two separate namespaces). See also [this comment](https://github.com/rust-lang/rust/issues/4508#issuecomment-48074635), linked from

[2016-08-09 11:28] apasel422 opened #35546 "LLVM assertion failure with moving boxed DST"
The following successfully typechecks on `rustc 1.12.0-nightly (b30eff7ba 2016-08-05)`, but generates an LLVM assertion failure:

[code]
Error:
[code]
Note that replacing `*head = node.next` with `*head = node.next.take()` (and making `node` mutable) allows compilation to succeed.

[2016-08-09 11:29] fkjogu commented on #35545
Oh, did not find the other issue for some reason. Thx. Closing this.

[2016-08-09 11:29] #35545 closed

[2016-08-09 11:53] creativcoder commented on #35515
I'd like to work on this.

[2016-08-09 13:13] eddyb commented on #35535
@pcwalton No difference after changing `u64` to `f64`.

[2016-08-09 13:15] alexbool commented on #32979
In my particular case it was fixed after LLVM upgrade I think

[2016-08-09 13:32] bfops opened #35547 "LLVM error and build failure: "piece covers entire variable""
This aggressive build failure happens consistently if you try to build [rust-clippy](https://github.com/Manishearth/rust-clippy) with `opt-level=1` set. Here's a fork that does it out of the box: `https://github.com/bfops/rust-clippy.git`.

[code]

[2016-08-09 13:33] jorendorff commented on #30942
I used antlr4 to make https://github.com/jorendorff/rust-grammar and it has a few drawbacks:

* antlr4 is too lax about ambiguity: if two productions match a program, antlr simply selects whichever production appeared first in the grammar. So my grammar is almost certainly full of ambiguities I don't know about.

* antlr4 doesn't support lookahead except by a gruesome hack

* There are places wher

[2016-08-09 13:54] shanegibbs opened #35548 "Compiler crashed when rebuilding project in different OS"
Project was built in linux. The `target` dir still existed when I tried compiling on MacOS.

I tried this code:

`cargo test`

I expected to see this happen: Rebuild project and run tests.

Instead, this happened: Compiler crashed
## Meta

`rustc --version --verbose`:

[code]

Backtrace:

[code]

[2016-08-09 14:02] hank-der-hafenarbeiter commented on #35345
I've been looking around `src/librustc_resolve/lib.rs` some more:

The span is generated in `fn resolve_path(..., path:&Path, ...) `:

[code]

Since we want to point to the segment of the path that couldn't be resolved, we could go into `src/libsyntax/ast.rs` and give `struct PathSegment` a `Span`-member:

[code]
So when a segment of the path generates an error you can get the span of that segment

[2016-08-09 14:33] nikomatsakis commented on #32948
Removing from milestone since this is just needs-test now.

[2016-08-09 14:49] dmilith commented on #35367
I also tried rustbuild method under OSX, but it just crashes before finishing a build, yet using autotools method I was able to complete "rustc-stage3", it fails later :)

[2016-08-09 14:51] jonathandturner commented on #35515
@creativcoder - looks like @EugeneGonzalez claimed this one, but feel free to look at the [list](https://github.com/rust-lang/rust/issues/35233) as there are some open ones no one has claimed

[2016-08-09 14:56] nikomatsakis commented on #35330
@jonathandturner I am reminded that I had planned to start a thread on internals to talk it over. I am not sure what I think would be best, but I feel pretty sure that I do not like the fact that `//~ foo` works (i.e., I think I would prefer limiting things to `//~ [ERROR|WARNING|NOTE|HELP]`, which would then at least get the rule that notes/helps must be exhaustively checked if they are checked a

[2016-08-09 15:01] jonathandturner commented on #35506
@creativcoder - Looks like @circuitfox has already taken this one.  There are some other free ones on the [list](https://github.com/rust-lang/rust/issues/35233) if you're interested.

[2016-08-09 15:02] jonathandturner commented on #35513
@creativcoder - Looks like @lukehinds has already taken this one. There are some other free ones on the list if you're interested.

[2016-08-09 15:04] jonathandturner commented on #35519
Yes, please group them into one PR.

[2016-08-09 15:12] michaelwoerister opened #35549 "incr. comp.: Don't compute HIR hash values twice"
When loading the dependency graph during incremental compilation, we already have to compute the ICH of most (or all?) HIR nodes in the current codebase. These hashes could be cached instead of calculating them again later when saving the dep-graph back out.

cc @nikomatsakis

[2016-08-09 15:13] nikomatsakis commented on #35549
One quite note: It's not clear to me that caching this is better...but it probably is. Using more memory tends to not cost that much in terms of running time, ultimately.

[2016-08-09 15:51] japaric commented on #31322
@DemiMarie That can be done in the build.rs: one can pick between `cargo:rustc-link-lib=foo` or `cargo:rustc-link-lib=static=foo` but it would be up to the crate author to enforce the restriction you mention.

@jupp0r Oh, that's nice. That crate with the `static` feature enabled plus the current `x86_64-musl` target would let you build statically linked binaries.

[2016-08-09 15:54] michaelwoerister commented on #32754
Since not addressing this issue might lead to a lot of unreproducible bug reports because of a corrupted cache directory, we decided to add it to the alpha milestone.

[2016-08-09 15:59] japaric commented on #35474
TIL: `rustc --print cfg` is a thing. We could use that.

[2016-08-09 16:45] alexcrichton opened #35550 "Confusing error message related to Sized when actually trait import needed"
[This gist](https://gist.github.com/alexcrichton/e13cc7c775e382514d8b710dfeddf5f4) contains all the code, the relevant file being [this one](https://gist.github.com/alexcrichton/e13cc7c775e382514d8b710dfeddf5f4#file-main-rs).

When compiling, I get:

[code]

The real error here is that I forgot to import the `Stream` trait, but instead I'm seeing a few points which confused me:
- Talking about `Si

[2016-08-09 16:53] creativcoder commented on #35233
I will take E0262, E0261, E0195.

[2016-08-09 16:54] creativcoder commented on #35516
I'd like to work on it.

[2016-08-09 16:54] creativcoder commented on #35517
I'd like to work on it.

[2016-08-09 16:54] creativcoder commented on #35511
I'd like to work on it.

[2016-08-09 16:56] creativcoder commented on #35515
Sure. I'll go have a look.

[2016-08-09 16:59] RustPowers opened #35551 "Improve `std::collections`"
1. Move `std::vec` to the module `std::collections`. Why? He's taken out of context. Directly hardly anyone uses `std::vec` module. In addition, the `Vec` object is re-exported with `std::preluge`, so the breaking is small.
2. Remove re-exports in `std::collections` and add `std::collections::preluge`. (Similar to the module `std::io::preluge`)

[2016-08-09 17:01] retep998 commented on #35471
@nagisa Choosing which version of Windows you want to target could actually be done by telling winapi which version you want, and then it informs downstream dependencies of that choice https://github.com/rust-lang/cargo/issues/2980. Of course it doesn't work too well for std at the moment but in a future where something like https://github.com/rust-lang/rfcs/pull/1133 has been implemented it could

[2016-08-09 17:03] circuitfox commented on #35508
Working on this now.

[2016-08-09 17:05] nikomatsakis commented on #35280
@birryree any chance we can chat on IRC? :)

[2016-08-09 17:25] apasel422 commented on #35551
1. Please see #34944.
2. Removing the re-exports would be a breaking change.

[2016-08-09 17:35] nikomatsakis commented on #35280
@birryree ok I did a bit of investigating. At the point where error E0194 is issued, we have access to a `ty::Generics` which in turn contains `TypeParameterDef` data (in fact, we are iterating over those). These data-structures, like most of `ty`, is not directly tied to the source (it may for example originate from another crate, for which the source nodes are not available), but -- at least for

[2016-08-09 18:05] theypsilon commented on #35184
@jonathandturner there is maybe an issue with this pull request, because I'm using the spec of your tutorial instead of the one said here. They are almost identical, but there is a minor difference.

Here says: ^^^^^ re-assignment of immutable `x`
In tutorial: ^^^^^ re-assignment of immutable variable

And the implemented is the later, should I do the former instead? I noticed a bit late, sorry fo

[2016-08-09 18:12] jonathandturner commented on #35184
@theypsilon - what you implemented looks good to me.  We'll no doubt improve the wording over time, but this looks good for a first pass.

[2016-08-09 18:16] theypsilon commented on #35184
Understood, thanks.

[2016-08-09 18:28] brson commented on #15838
Just nominating this for re-triage. It was a critical part of the elision RFC, and still not implemented.

cc @jonathandturner @GuillaumeGomez important error messages need to get done.

[2016-08-09 18:40] pcwalton commented on #35535
I believe there are three useless moves here: `[rbp-168] -> [rbp-480] -> [rbp-608] -> [rdx+rax]` (the last being into the vector). All happen after the call to `invert`.

[2016-08-09 18:42] murarth opened #35553 "Tracking issue for `String::insert_str`"
Tracking issue for `String::insert_str`, introduced in #34771

[2016-08-09 18:42] eddyb commented on #35535
In the LLVM IR, the 3 `llvm.memcpy` chain is: `%46` -> `%47` -> `%value.i.sroa.8.0..sroa_cast30` -> `%value.i.sroa.8.0..sroa_cast`.

[2016-08-09 18:47] ExpHP commented on #32311
Hm, my elation turned into sadness today when I added a `contains` method to my own iterator extension trait, only to find that _it somehow shadowed the inherent method on Range:_

    src/grid/hexagonal.rs:63:43: 63:44 note: expected type `&usize`
    src/grid/hexagonal.rs:63:43: 63:44 note:    found type `usize`
    src/grid/hexagonal.rs:63:43: 63:44 note: expected &-ptr, found usize
    src/gri

[2016-08-09 19:12] apasel422 commented on #35553
CC #35554.

[2016-08-09 20:04] crypto-universe commented on #35386
![e0221_1](https://cloud.githubusercontent.com/assets/16171996/17531655/264926c4-5e7d-11e6-9037-bc3cb2b99956.png)
Is it expected result?

[2016-08-09 20:14] jonathandturner commented on #35386
@crypto-universe - yes, that's expected.  Though, as you probably suspect, it's not idea.  Would be great to know where the other possibilities are coming from.

I didn't put the bonus on here, but if you wanted to try to tackle a bonus, you could see if the information is available to see where those types are coming from.

[2016-08-09 20:34] crypto-universe commented on #35386
Got the idea. I'll spend some time on this.

[2016-08-09 21:04] #32015 closed

[2016-08-09 21:04] #34991 closed

[2016-08-09 21:05] #35167 closed

[2016-08-09 21:05] #35232 closed

[2016-08-09 21:05] #35292 closed

[2016-08-09 21:11] mikhail-m1 commented on #35501
I'd like to discus bonus part fix,

I've find out than function (FnDecl) with ellipsis doesn't contain span information about ellipsis.
I see three variants to solve it but each has some minus:
- evaluate span position from FnDecl items, start take from last argument, end from result of decl span. minus - not exact match, may be some bugs in multiline cases.
- add ellipsis span information in to F

[2016-08-09 21:46] GuillaumeGomez commented on #15838
@brson: Taking a look next week!

[2016-08-09 22:40] jonathandturner commented on #35501
After playing with it, I think you're right.  This seems like it would take updating how FnDecl handles variadic fns in a more robust way.  This doesn't seem worth it, since this isn't really a fully supported feature (I think it's only for C interop?)

Fun to poke around and see what was available, though.

[2016-08-09 23:00] jonathandturner commented on #35501
Yeah, let's mark this bonus as "not worth it, for now".  We might come back to it later if more span information gets put in.

[2016-08-10 01:21] DemiMarie commented on #30942
@jorendorff I suggest using a macro preprocessor or build step to reduce some of the code duplication.

[2016-08-10 02:12] #34826 closed

[2016-08-10 02:18] techtonik commented on #35471
Is there any attempt to collect and document those issues for learning and making consensus?

[2016-08-10 03:21] ExpHP commented on #29000
This still occurs, and is making me exceptionally paranoid.

[2016-08-10 03:23] m4b commented on #34978
This seems to be resolved now with last PR.  I suggest we close unless others are still experiencing?

[2016-08-10 03:30] alexcrichton commented on #34978
This indeed works for me as well, thanks @m4b!

[2016-08-10 03:30] #34978 closed

[2016-08-10 05:26] wdv4758h commented on #35233
I will take E0133 and E0138.

[2016-08-10 05:49] emilio opened #35560 "Only the first expression in an `include!`d file is included."
If you have a file that invokes a macro and you `include!` it, the following happens:
### `main.rs`

[code]
### `helper.rs`

[code]
### STR

[code]
#### Expected output

Should print `foo` and `bar`, just as if the code would have been inlined.

Tested with latest nightly and stable:

[code]

[2016-08-10 08:11] petrochenkov opened #35566 "ICE: inlinable function call in a function with debug info must have a !dbg location"
Happens at stage 1 during rustc bootstrap with enabled debug info and MIR on Windows/GNU.

[code]

Result:

[code]

This looks very similar to https://github.com/rust-lang/rust/pull/35141
cc @eddyb @nagisa

[2016-08-10 09:09] nikomatsakis commented on #35123
Removing from milestone since the current solution is good enough for the time being, I believe.

[2016-08-10 09:20] nikomatsakis commented on #35123
Tagging with E-mentor. This would be a good entry point for people looking to help out with incremental compilation. The remaining work is to edit the code in use crate-name/disambiguator in `src/librustc_incremental/persist/directory.rs` so that instead of calling `krate_still_valid` to check whether a given crate-number is still valid, it creates a mapping from the old crate numbers to the new o

[2016-08-10 09:20] nikomatsakis commented on #34765
This was fixed by #35166.

[2016-08-10 09:20] #34765 closed

[2016-08-10 09:51] nikomatsakis commented on #34511
On the PR #35091, @arielb1 wrote:

I thought it would make more sense to discuss here. @arielb1, can you elaborate more on what you have in mind? In terms of the analogies I made above, I guess you are fundamentally talking about "pruning" the set of lifetimes that would appear either as parameters on the newtype or in the projection (i.e., `<() as FooReturn<'a>>::Type` instead of `<() as FooRetur

[2016-08-10 12:03] nox commented on #27738
Can we reopen this? We are going to need this in Servo for exactly the reason @Diggsey mentioned.

Cc @asajeffrey.

[2016-08-10 12:57] TheOpenDevProject commented on #35509
I will take this.

[2016-08-10 13:13] futile commented on #2873
This is probably closed by #35405 ? The suggestion made @jhod0 should probably go into its own issue, I suppose.

[2016-08-10 13:42] asajeffrey commented on #27738
I ended up reimplementing the interface on top of regular mutexes https://github.com/servo/servo/blob/master/components/util/remutex.rs. The main use case is data structures that are reentrant but not thread-safe, and use interior mutability. In our case that was IPC channels, but you can do similar examples with cells.

[2016-08-10 13:50] nikomatsakis commented on #35369
Dup of https://github.com/rust-lang/rust/issues/20021

[2016-08-10 13:50] #35369 closed

[2016-08-10 13:51] nikomatsakis commented on #35369
(I closed in favor of #20021 as it has more discussion)

[2016-08-10 14:21] adrianbrink commented on #35233
E0133 and E0138 please :-)

[2016-08-10 15:10] brson opened #35568 "Clarify Rust's relationship to OO in the FAQ"
What is or isn't OO is a complex topic, one that requires a lot of nuance to explain. There are many different conceptions of what OO means. The FAQ doesn't do a good job of making the Rust OO situation clear.

There are two questions on this subject:

- https://www.rust-lang.org/en-US/faq.html#is-rust-object-oriented
- https://www.rust-lang.org/en-US/faq.html#how-do-i-map-object-oriented-concepts

[2016-08-10 15:31] TimNN commented on #35560
This is unrelated to the macros used in the included file, the following exhibits the same problem:

**`main.rs`:**

[code]

**`helper.rs`:**

[code]

It looks like the issue is rather that `include!` inside of a function expands to the first statement only.

Wrapping the contents of `helper.rs` in braces prints all three lines.

Also note that the documentation of `include!` says:

Thus the curre

[2016-08-10 15:44] jonas-schievink commented on #35560
But the contents of `helper.rs` aren't a valid expression, it's only valid as a list of statements. Maybe it's parsed as an expression and the remainder is thrown away (like macros used to do)?

[2016-08-10 15:47] idupree opened #35570 "ICE - trait lifetime polymorphism + associated type"
[code]

stable: `error: internal compiler error: ../src/librustc_trans/debuginfo/metadata.rs:306: get_unique_type_id_of_type() - unexpected type: <() as Trait2<'static>>::Ty`

nightly: `thread 'rustc' panicked at 'assertion failed: ty.is_normalized_for_trans()', ../src/librustc_trans/collector.rs:534`

The stable version's ICE error message also appears in nightly if I write a transmute inside ice

[2016-08-10 16:09] emilio commented on #35560
Oh I see. If file contents are thrown away though, I think at least a warning would come handy, but yeah, I see now, thanks!

[2016-08-10 16:24] ljedrz opened #35572 "Comparing &str against &'static str works, but &std::string::String against &'static str fails"
I'm not sure this is an issue, it might just be unintuitive or undocumented.

Consider the following code:
[code]
It works nicely; however, when I applied a method to the input value that turned it to a ```String``` and prefixed it with a ```&``` expecting it to behave like ```&str```, the ```match``` no longer works and the following code:
[code]
returns the following error:
[code]
Is this expect

[2016-08-10 16:26] steveklabnik commented on #35572
I believe this is expected, and not one of the areas that `Deref` coercion kicks in. But I'm not sure.

[2016-08-10 16:45] nikomatsakis commented on #35111
I'll tackle this.

[2016-08-10 16:49] lu-zero commented on #35059
Would make sense changing  `MacResult` so it can forward the parsing errors?

[2016-08-10 16:54] jonathandturner commented on #35233
@adrianbrink - sorry, looks like @wdv4758h beat you to it.  Maybe you two can split them and do one a piece?

I'll try to add more soon.

[2016-08-10 16:57] Mark-Simulacrum commented on #35572
I think this is the same as the issues described here: #28606.

[2016-08-10 17:11] wdv4758h commented on #35233
Oops ! I didn't notice the message.
I have sent the PRs for both issues, but there is a bonus part in E0138.
Hopefully, I have only implemented half of the bonus part (and thinking how to solve the remaining part).
@adrianbrink I can leave the remaining part for you, if you want.

[2016-08-10 17:14] ljedrz commented on #35572
Yes, this is indeed a duplicate; I'll close this one, then.

[2016-08-10 17:14] #35572 closed

[2016-08-10 18:26] michaelwoerister commented on #35111
It would also be good to see if we are reading data from external crates that is not linked to a specific `DefId` (i.e. "global" data like the disambiguator) but still influences codegen in some way.

[2016-08-10 19:13] 0tt commented on #32094
Creates inconsistencies between x = x / y and x /= y, requiring an unnecessary dereference for iteration: https://is.gd/DIyCYY

[2016-08-10 20:13] #33817 closed

[2016-08-10 20:14] #33498 closed

[2016-08-10 20:14] #35382 closed

[2016-08-10 20:14] #35268 closed

[2016-08-10 20:14] #35497 closed

[2016-08-10 20:19] brson commented on #32650
Nominating for discussion. @rust-lang/compiler @jonathandturner @GuillaumeGomez this is conceptually quite simple to do. Do we want to write up the tasks and ask for contributions?

[2016-08-10 21:08] nrc commented on #32650
cc @rust-lang/tools too

I'm a little wary about this, although it is small in itself, I can imagine we then end up adding paging options or other error display stuff to the compiler and end up with a pile of command line options, etc.

I'd prefer that the compiler just offers a single best-effort error message presentation style, and if you want something else, you run the compiler through an ext

[2016-08-10 21:39] crypto-universe commented on #35233
Are there any free tasks?

[2016-08-10 21:40] jonathandturner commented on #35233
@crypto-universe sadly, not yet.  I'm hoping to put up more tasks soon.

[2016-08-10 21:44] crypto-universe commented on #35233
@jonathandturner If you have any - assign to me, please. Someone commited my task earlier, than me and now I have nothing to do :)

[2016-08-10 22:15] lukehinds commented on #35233
@crypto-universe you can take the other one I was going to work on E0254 https://github.com/rust-lang/rust/issues/35513 (I already have made a PR for E0253)

[2016-08-10 22:30] nagisa opened #35579 "rustc claims no_std is stable since 1.0.0"
[code]

but no_std was stabilised [much later](https://github.com/rust-lang/rust/pull/30187).

[2016-08-10 22:33] nagisa commented on #35579
This is an easy bug, involving an update of the version number in [this list](https://github.com/rust-lang/rust/blob/1f2ae3849cf024457253be745ff514a403e90b44/src/libsyntax/feature_gate.rs#L103). Checking that other version numbers for stabilised features are correct could also be done.

[2016-08-10 22:34] alexcrichton commented on #27738
Note that this was never an exported interface of the standard library, so we'd probably require an RFC to add this feature to the standard library

[2016-08-10 22:38] vadimcn commented on #32650
My feelings on this matter are close to @nrc's.
However, as a practical matter:
- Does Linux have any standard tools that can parse and page JSON record-by-record?
- Even the above exists, you still need a tool that will take JSON output and convert it into human-readable format.

Perhaps we could settle on adding rustc parameter to suppress errors beyond the first N?

[2016-08-10 22:41] telotortium commented on #32650
You could do what Git does and automatically send output longer than the number of rows on the terminal to `$PAGER`.

[2016-08-10 22:46] jonathandturner commented on #32650
To pile on a "me too" to @nrc and @vadimcn - it'd be much better to use a second tool to turn the output from the compiler into what you want.  There some precedence, like tools like [dybuk](https://github.com/ticki/dybuk) do their own parsing and recreating the errors.  I can imagine a tool that reads in the errors and then replays them backward as another one.

[2016-08-10 22:48] jonathandturner commented on #32650
Worth mentioning, too, that the errors are streamed rather than buffered.  That's to give feedback sooner rather than forcing the programmer to wait.

As we add more error recovery to the compiler, it will likely mean longer wait times before you see an error if you buffer until the compile finishes because the compiler will be able to recover and go for longer in the presence of errors.

[2016-08-10 22:58] crypto-universe commented on #35233
@lukehinds Thanks a lot! I'll take E0254.

By the way, did you see such problem during check-cfail?
[code]

[2016-08-10 23:00] jonathandturner commented on #35233
@crypto-universe - I've seen that sometimes.  You'll likely need to run:

[code]

And try again

[2016-08-10 23:24] #35481 closed

[2016-08-10 23:39] viraptor opened #35580 "Box<Error> leads to confusing error message since 'static isn't visible in user code"
I've got the following code (this is the smallest I could get it to):

[code]

Which reports about `do_stuff(&res)`: "reference must be valid for the static lifetime..." but it never says why. With some extra code, the error actually shows extra information that `expected std::result::Result<SomeStruct, Box<std::error::Error + 'static>>, found std::result::Result<SomeStruct, Box<std::error::Error>

[2016-08-11 00:31] jdm opened #35582 "quote_item! that outputs a type that is missing a type parameter yields an inscrutable error message"
When I add

[code]

to Servo's script crate, I get this awful error message:

[code]

The important part of the plugin that deals with `#[_generate_reflector` is the following:

[code]

Our plugin implementation is clearly not dealing with type parameters, but it took me a long time to track down the code that was at fault because the spans were missing.

[2016-08-11 00:46] asajeffrey commented on #27738
Given that reentrant mutexes can be implemented on top of stdlib's mutexes, should they be in std or a crate? One argument for putting them in std would be if there's an efficiency gain from using native reentrant mutexes.

[2016-08-11 00:48] nox commented on #27738
Given the stdlib's reentrant mutexes AFAIK aren't implemented on top of `Mutex` and they already live in there, I would rather write an RFC and just expose them.

[2016-08-11 01:01] wesleywiser opened #35583 "E0164 should be smarter"
[code]

results in

[code]

There should be a `note` or `hint` saying that user need to use the struct matching syntax (`A::B { c: 1 }`). When I first read the error, I thought I had mistyped the name or forgotten to import it.

This might be a duplicate of #35377.

[2016-08-11 01:04] viraptor commented on #35580
Apparently this doesn't even have to be a `'static`, but is just an effect of compiler adding the default lifetime, which makes the error even more cryptic. See https://stackoverflow.com/questions/38884989/where-did-the-static-lifetime-come-from/38885733#38885733

[2016-08-11 01:33] whitequark opened #35584 "#[cfg_attr(..., path = "...)] produces a spurious unused attribute warning"
Ex., this code:
[code]
results in this on `rustc 1.12.0-nightly (576f76659 2016-08-09)`:
[code]
(this is when building with `target_arch = "x86"`, of course)

[2016-08-11 01:33] whitequark commented on #25544
Heads up: https://github.com/rust-lang/rust/issues/35584

[2016-08-11 01:45] eddyb commented on #35584
cc @jseyfried

[2016-08-11 02:11] bobtwinkles commented on #32069
Issue has been resolved, closing.

[2016-08-11 02:11] #32069 closed

[2016-08-11 08:20] ljedrz opened #35587 "The Copy trait is not listed for numeric types in the docs"
The Copy trait is missing in the Trait Implementations list in the docs for numeric types.

[2016-08-11 09:27] KiChjang commented on #35212
Okay, this isn't quite easy at all. I originally thought of simply grabbing the `hir::FnDecl` and do a search on its `inputs` field, to find the argument that corresponds to the type that resulted in an error. This doesn't work for 2 reasons: 1) there is not a mapping between a `ty::TyS` and an `hir::Ty`, i.e. given an `hir::Ty`, there is not a way to find the `ty::TyS` that corresponds to it. 2)

[2016-08-11 09:40] oli-obk commented on #34579
My changes fully evaluate array length, so there are no more constants left, but just a number.

[2016-08-11 09:44] bluss commented on #32094
@nodakai Then generic code can only handle either of them, but not both.

[2016-08-11 11:00] adrianbrink commented on #35233
@wdv4758h thank you :-)

[2016-08-11 11:02] Christopher22 opened #35589 ""0u8.." panics"
The range for `u8` does not work properly, it panics at the (valid) value 255. If this behavior is expected for bytes it should be documentated.

I tried [this code](https://play.rust-lang.org/?code=fn%20main%28%29%20%7B%0A%20%20%20%20assert_eq!%28%280u8..%29.last%28%29%2C%20Some%28255%29%29%3B%0A%7D%0A&version=stable&backtrace=1) to check correctness and it panics:
`fn main() {
    assert_eq!((0u

[2016-08-11 12:04] #34787 closed

[2016-08-11 12:32] TimNN commented on #35589
Mh, this issue looks interesting. Frist of all, in my opinition, `(0..).last()` would always overflow / be an "endless loop" since you're trying to get the last element of an open ended sequence.

I've been trying some things and found the following "interesting behaviour":

The code `println!("{:?}", (255u8..).next());`:

* tiggers `arithmetic operation overflowed` on **stable/debug**
* causes `t

[2016-08-11 12:33] sylvestre opened #35590 "rust should not assume NEON on armhf"
Reported here:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=834003
To quote Steve:

[2016-08-11 13:02] lucab commented on #35590
/cc @alexcrichton @fabricedesre @petevine

This is seems to be coming from https://github.com/rust-lang/rust/pull/30948#issuecomment-173078458. I guess this may have gone unnoticed so far because original porting has been done on a RPi2 with NEON.

[2016-08-11 13:34] petevine commented on #35590
That's correct, strictly speaking, as originally there was just one `armhf` triple and it defaulted to `ARMv6`. (the current `arm-unknown-`). It was never a problem because rust std library remains minimalistic and most of the code has to be compiled from crates. (that's when `-C target-cpu` and `-C target-feature` kick in and the resulting code suffers no penalty)

However, if the official distri

[2016-08-11 15:11] Amanieu commented on #35590
Only the `armv7-unknown-linux-gnueabihf` target uses neon. In particular, the `arm-unknown-linux-gnueabihf` (note the lack of v7) target does *not*. It seems to me that this issue can be solved by having debian armhf use the `arm-unknown-linux-gnueabihf` target instead.

[2016-08-11 15:21] infinity0 commented on #35590
That optimises for arm v6 so it wouldn't be ideal.
[code]

[2016-08-11 15:21] petevine commented on #35590
On the other hand, I might be privvy to one little tidbit why the targets might not be equivalent nowadays, but only in the case of  mixed C,C++/Rust codebases, namely the `gcc-rs` crate.

It forces `-march=armv6` for the `arm-` target which is obviously necessary for cross-compilation but leads to benchmarkable performance loss on an `ARMv7` system (see [parity](https://github.com/ethcore/parity/

[2016-08-11 15:25] petevine commented on #35590
@infinity0 This is why you'd have to tweak the codegen, preferably via a wrapper script.

[2016-08-11 15:27] Amanieu commented on #35471
The problem here is that it's LLVM that requires at least Windows 7 to run, rather than the Rust compiler itself.

Note that this only applies to rustc: most Rust programs will run fine on Windows XP and above (barring some issues with locking, which is a separate issue).

[2016-08-11 15:46] lucab commented on #35590
What we are arguing here is that rustc has two profiles for gnueabihf targets, none of which corresponds to the traditional definition of Linux ARMv7-HF ports.

While above suggestions of probing the ISA, picking another target, and tweaking codegen are perfectly fine solution for specific users/machines, this doesn't work in the context of packaged binaries (which are moved across machines) and n

[2016-08-11 15:53] michaelwoerister opened #35593 "println!() breaks incr. comp."
The following test, when added to the `incremental` test suite, fails:
[code]
Something causes the hash for `main` to be different in the two revisions.

[2016-08-11 15:54] michaelwoerister commented on #35593
cc @nikomatsakis

[2016-08-11 15:55] Amanieu commented on #35590
The Rust ARM targets don't line up with the debian/gnu ones at all.

Rust:
- `arm-unknown-linux-gnueabi`: ARMv6, soft float
- `arm-unknown-linux-gnueabihf`: ARMv6, VFPv2
- `armv7-unknown-linux-gnueabihf`: ARMv7, VFPv3 + NEON

Debian/GNU:
- `armel`/`arm-linux-gnueabi`: ARMv4t
- `armhf`/`arm-linux-gnueabihf`: ARMv7, VFPv3 (no NEON)

I still think the best solution in this case would be for Debian ar

[2016-08-11 15:55] petevine commented on #35590
@lucab That's precisely what myself and @amanieu meant - binaries would have to be built with the following command:

`rustc --target=arm-unknown-linux-gnueabihf -C target-cpu=cortex-a8 -C target-feature=+v7,+thumb2,+vfp3,+d16`

[2016-08-11 16:25] nikomatsakis commented on #32650
I'm much more in favor of using a pager; but I guess that doesn't help with `cargo watch`. Still, `cargo watch` could capture the output and reverse the order itself, which seems better. (I'll note that we added the "easy presentation" info to JSON that I've been talking about, this would be a great use-case for it. =)

[2016-08-11 16:35] tomaka commented on #35121
Shouldn't `!` automatically implement *all* traits?

This kind of code is fairly common:

[code]

I'd expect `!` to be usable for `Bar`:

[code]

But this is only possible if `!` implements all traits.

[2016-08-11 16:56] steveklabnik commented on #35587
This is a duplicate of https://github.com/rust-lang/rust/issues/25893, but thank you for filing!

[2016-08-11 16:56] #35587 closed

[2016-08-11 16:58] suhr commented on #35121
@tomaka There's RFC about it: https://github.com/rust-lang/rfcs/pull/1637

The problem is that if `!` implements `Trait` it also should implement `!Trait`...

[2016-08-11 17:18] Manishearth commented on #31645
- #35591 (r=jntrnr)

[2016-08-11 17:20] chamoysvoice commented on #35385
Requirements changed a little bit, instead of

a more semantic and still short phrase is:

NOTE: the full error label is still included on the top part aside to E0220

[2016-08-11 17:29] nagisa commented on #32650
I’m very against using any sort of pager. Any proper terminal emulator is already as functional or more functional than your average pager, why cripple that?

[2016-08-11 18:13] jonathandturner commented on #35212
Yeah, I'm also not a fan of adding the spans to `ty`.  If we can't add the span to an `ast` node, we may just have to not shrink this particular span.

[2016-08-11 18:30] nikomatsakis commented on #32650
@nagisa presumably you could control it in whatever way e.g. git lets you control it. But a pager has a lot of advantages. For example, you see the first error... first. If you have to page-up as in a "proper" terminal emulator, that's annoying, because you can easily page up into older errors. If your terminal emulator is so fancy as to somehow jump to the top of the current rustc run, that's gre

[2016-08-11 18:36] tomaka commented on #35121
Then special-case `!` so that it ignores any trait requirement?

[2016-08-11 18:46] canndrew commented on #35121
@tomaka `!` can't automatically implement *all* traits because traits can have static methods and associated types/consts. It can automatically implement traits that just have non-static methods though (ie. methods that take a `Self`).

As for `!Trait`, someone suggested that `!` could auto-implement both `Trait` *and* `!Trait`. I'm not sure whether that's sound but I suspect that negative traits

[2016-08-11 18:48] canndrew commented on #35121
But yes, it might be nice if `!` could auto-implement `Baz` in the example you gave for precisely these sorts of cases.

[2016-08-11 18:53] techtonik commented on #35471
So is there an issue in LLVM that can be referenced from here?

[2016-08-11 19:07] japaric opened #35599 "i686-musl + catch_unwind = fatal runtime error: failed to initiate panic, error 5"
### STR

[code]

[code]
### Meta

[code]

cc @alexcrichton

[2016-08-11 19:13] jonathandturner commented on #35343
A note to who is doing this one, it seems E0425 is used for a few styles of errors.  For example:

[code]

The "Did you mean `variable`?" part should be a label, if it exists.  Which turns the above into:

[code]

[2016-08-11 19:15] jonathandturner commented on #35343
One more note.  I've updated the default label.  Basically, we'll have a default label if there is no "did you mean..." part, otherwise if there is a "did you mean..." we'll use that as the label.

[2016-08-11 19:16] jonathandturner commented on #35343
For @prabodhtiwari (who I think volunteered for this one).  I made a couple changes.  If you have any questions, just tag me and ask.

[2016-08-11 19:37] talchas opened #35600 "Associated types with the same name as a function make an unimplementable trait"
[code]

is accepted (though generally considered bad style), but is unimplementable:

[code]

gives the error "item `bar` is an associated method, which doesn't match its trait `<() as Foo>`"

This seems kinda silly. Allowing this non-conflicting name reuse might be useful for macros as long as procedural macros don't yet exist and concat_idents is useless. Forbidding it outright seems fine, but s

[2016-08-11 19:46] durka commented on #35600
I think it should be forbidden. How would you ever refer to the type and function?

[2016-08-11 20:07] nikomatsakis commented on #35408
triage: P-high

[2016-08-11 20:10] nikomatsakis commented on #32650
We discussed this in the @rust-lang/compiler meeting, so I'm removing the nominated tag -- there was not a lot of enthusiasm, for the reasons that have been presented on the thread already (e.g. by @nrc).

[2016-08-11 20:13] nikomatsakis commented on #15872
See [here](https://github.com/rust-lang/rust/issues/15838#issuecomment-89071700) for a summary of the current status.

[2016-08-11 20:13] nikomatsakis commented on #15838
Closing in favor of https://github.com/rust-lang/rust/issues/15872 -- the remaining work is about implementing elision for impls, not really about the error message.

[2016-08-11 20:13] #15838 closed

[2016-08-11 20:14] #30503 closed

[2016-08-11 20:14] #34293 closed

[2016-08-11 20:19] nikomatsakis commented on #35044
Update from @rust-lang/compiler meeting. @eddyb took a stab at fixing it but did not succeed. The problem is that, in the old code, literals (like `"foo"`) and `&_` are considered incompatible, and hence the match code just kind of does the wrong thing.

@eddyb points out that, on stable, this code does not currently compile. So to fix this for beta we could add some custom check that denies using

[2016-08-11 20:20] alexcrichton commented on #35599
cc @vadimcn, maybe related to the changes in the personality?

[2016-08-11 20:20] nikomatsakis commented on #34754
Update from @rust-lang/compiler meeting: fix is in the queue, upping priority since this is a regression.

[2016-08-11 20:21] nikomatsakis commented on #29149
Update from @rust-lang/compiler meeting: I implemented some portion of this code to use the more restrictive check, but got stalled last week. Will try to finish up ASAP.

[2016-08-11 20:24] jonathandturner commented on #15872
Should this be P-low since @brson notes it as a [critical part](https://github.com/rust-lang/rust/issues/15838#issuecomment-238646065) of the implementation?

[2016-08-11 20:26] aturon commented on #15872
@jonathandturner I think there's some confusion -- @brson was referring to error messages, which I believe at this point are largely as specified (but would be worth checking). This issue, OTOH, is about adding an additional point of elision.

I'm nominating this for lang team discussion -- the RFC for this feature is quite old, and at this point I think we should revisit whether we even want to d

[2016-08-11 20:45] #2873 closed

[2016-08-11 20:45] brson commented on #2873
Thanks @futile !

[2016-08-11 20:45] nikomatsakis commented on #32409
The ambiguous syntax has come up some more on <https://github.com/rust-lang/rfcs/pull/1575>, where it interferes with the idea of having a "visibility matcher". Some proposals were made for alternative syntax options there:

- `pub{path}`
- `pub@path`
- `pub(in path)`

Most of these were covered (and rejected) in [my prior comment](https://github.com/rust-lang/rust/issues/32409#issuecomment-205553

[2016-08-11 20:48] frewsxcv opened #35601 "Introduce `as_slice`/`as_mut_slice` methods on `std::vec::IntoIter` struct."
Tracking issue for: https://github.com/rust-lang/rust/pull/35447

[2016-08-11 20:49] alexcrichton opened #35602 "FusedIterator marker trait for iter::Fuse specialization"
Tracking issue for https://github.com/rust-lang/rfcs/pull/1581

[2016-08-11 20:56] alexcrichton opened #35603 "Tracking issue for Atomic*::{get_mut, into_inner}"
Tracking issue for https://github.com/rust-lang/rfcs/pull/1649

[2016-08-11 20:57] brson commented on #35474
`rustc --print cfg` seems fine.

[2016-08-11 20:58] Amanieu commented on #35471
Not that I know of. Dropping support for older versions of Windows was an explicit decision from the LLVM developers. See http://llvm.org/releases/3.8.1/docs/ReleaseNotes.html.

[2016-08-11 21:02] vadimcn commented on #35599
Sure it's possible :)
@japaric: Can I assume that this worked before?  Say, on nightly-2016-06-22?

[2016-08-11 21:05] talchas commented on #35600
In type context `Foo::bar` is the type, in expression context `Foo::bar` is the function, same as other cases like `type foo = i32; fn foo() {}`.

[2016-08-11 21:12] brson commented on #35367
@alexcrichton No, but those lines indicate some serious bogosity.

[Here's the code in question](https://github.com/rust-lang/rust-installer/blob/master/gen-installer.sh#L326).

You can see in the output that the `cp` error is indicating a relative working directory appended with _an absolute path_, and the final 'gen-install' error should be printing a relative path. I'd guess that OS X 10.11's `

[2016-08-11 21:13] alexcrichton commented on #27787
Unfortunately we were unable to get around to implementing these APIs this cycle, so we're going to punt this to the next.

[2016-08-11 21:14] alexcrichton commented on #27708
Discussed recently, the libs team decided to **stabilize**.

Our conclusion was to call these methods `as_ptr` returning a raw pointer.

[2016-08-11 21:14] Stebalien commented on #32409
We could always just use another keyword (`scope`, `scoped`, `restrict`, `restricted`, `vis`, etc...):

* `restricted(path)`
* `restricted path`

And all related variants...

[2016-08-11 21:14] alexcrichton commented on #27709
Discussed recently, the libs team decided to **stabilize** the shared methods and the `is_unspecified` method on `Ipv4Addr`

[2016-08-11 21:15] alexcrichton commented on #32313
Discussed recently, the libs team decided to **stabilize**.

[2016-08-11 21:15] alexcrichton commented on #32630
Discussed recently, the libs team decided to **stabilize**.

[2016-08-11 21:15] alexcrichton commented on #32713
Discussed recently, the libs team decided to **stabilize**.

[2016-08-11 21:15] alexcrichton commented on #33417
Discussed recently, the libs team decided to punt on stabilizing these traits until the `!` type is worked out.

[2016-08-11 21:15] alexcrichton commented on #34029
Discussed recently, the libs team decided to **stabilize**.

[2016-08-11 21:15] alexcrichton commented on #34392
Discussed recently, the libs team decided to **stabilize**.

[2016-08-11 21:15] alexcrichton commented on #34529
Discussed recently, the libs team decided to **stabilize**.

[2016-08-11 21:30] nagisa opened #35604 "[MIR tests] error could be better than “ran out of MIR”"
is what the test runner reports when any sort of error happens (missing file, mismatched line(s), etc). Doesn’t help out writing tests at all.

[2016-08-11 21:42] japaric commented on #35599
Not sure, I haven't really used `catch_unwind` with this target before, but the snippet also fails with beta (`rustc 1.11.0-beta.3 (052e32bd9 2016-08-08)`) and with an older nightly (`rustc 1.11.0-nightly (6dcc2c1de 2016-06-22)`).

[2016-08-11 22:00] alexcrichton commented on #34285
The libs team discussed this recently and concluded:

* It does seem odd to use `Into` for *removal* from the map, so we'd prefer to avoid.
* Eventually adding `Into` seems good, but perhaps not necessary immediately
* `VacantEntry::into_key` seems good enough for now, we can always add `Into<K>` later if necessary.
* The `remove` method is unfortunately already taken
* The `take` method is used o

[2016-08-11 22:11] alexcrichton commented on #35590
Thanks for the report @lucab and @sylvestre! I believe @Amanieu correctly summarized the Rust state of affairs [here](https://github.com/rust-lang/rust/issues/35590#issuecomment-239205054), but could you confirm the Debian/GNU state of affairs? It'd be helpful to understand what exactly the targets Linux distros are expecting and how they're compiled.

This was also [discussed previously here](htt

[2016-08-11 22:29] joshtriplett commented on #10047
Switching to the OS RNG (/dev/urandom) doesn't seem like it has high value.  However, if Rust wants to consider switching to a platform-specific RNG to gain performance (which seems reasonable if the user hasn't *explicitly* used a seeded RNG to get reproducible result, such as for a game with replays), then several possibilities seem worth investigating, such as the use of hardware random number

[2016-08-11 22:40] joshtriplett opened #35609 "Error message for non-exhaustive patterns on tuples with an enum fills in all tuple components with successive enum values"
I can reproduce this in both stable and nightly.  Minimal test case:

[code]

Error message from nightly:
[code]

The error from stable looks similar, just with a different template:
[code]

If the matched item uses a different tuple nesting structure, the error message will fill in all the components of that structure with the enum values:

[code]

[code]

If the number of slots to fill in in the

[2016-08-11 22:42] Jragonmiris commented on #20168
Maybe have an `unsafe fn` for the non-`'static` case? Uses of non-`'static` TypeIds would pretty much only be realistically usable in a scenario that bypasses the borrow checker anyway. Internally an `unsafe_type_id::<Foo<'a>>()` would effectively just yield the same ID as `type_id::<Foo<'static>>`.

[2016-08-11 22:48] nagisa commented on #35589
That’s amusing. I feel like overflow on debug was intentional (i.e. the stable/debug behaviour is the intended one).

[2016-08-11 22:51] nagisa commented on #35589
Duplicate of https://github.com/rust-lang/rust/issues/25708 by the way, but @TimNN points out a regression, so probably shouldn’t be closed?

[2016-08-11 22:52] Jragonmiris commented on #27745
I tried to tackle it, but it looks like the main problem is that `TypeId::of` isn't constant and **can't** be constant. It calls `intrinsics::type_id` which, on any attempt to make it a const function yields the cryptic error "unmatched visibility pub". This would be a simple change if `TypeId::of` was a const fn.

(Though making an extern function const is probably dicey from a compiler perspecti

[2016-08-11 22:53] nagisa commented on #23833
Not an issue anymore, should be closed.

[2016-08-11 22:53] nagisa commented on #13768
Not an issue anymore. Should be closed.

[2016-08-11 22:55] #13768 closed

[2016-08-11 22:55] #23833 closed

[2016-08-11 23:03] alexcrichton commented on #35599
Oh if it never worked then I wonder if libunwind that we're using is just busted?

[2016-08-11 23:04] nagisa commented on #13018
LLVM IR we produce is still as junk as was before, even with MIR.

[2016-08-11 23:06] nagisa commented on #13018
It might sense to attempt reapplying the assume stuff. A year and half has passed since first attempt, so LLVM might be able to handle it this time.

[2016-08-11 23:12] vadimcn commented on #35599
I would place my bet on unwind tables not being registered properly.   How hard is it to set up a musl build?

[2016-08-11 23:40] alexcrichton commented on #35599
For me it was just:

[code]

[2016-08-11 23:55] insaneinside opened #35612 "`self` and `super` behave inconsistently in `use` statements and as module names"
Handling of `self` and `super` in `use` statements is inconsistent.  [Playpen](https://is.gd/znBchD):

[code]

There are probably several (related) issues here.
  * Inconsistent handling of keyword status for `self` and `super` as module names:  if we add a `mod self { }` to the above, we get the two "expected identifier, found keyword" errors we'd expect -- and no other output.  It appears that `

[2016-08-12 00:01] insaneinside commented on #35612
I'd be happy to take a shot at fixing these issues, but I'd like some feedback on my summary of what's going on before I do.

[2016-08-12 00:32] vadimcn commented on #35599
Okay, I've managed to repro this.
Looks like only i686-unknown-linux-musl is broken, x86_64-unknown-linux-musl works fine.

[2016-08-12 00:41] brson commented on #32650
Since there's little change of this enhancement happening I'm just closing.

[2016-08-12 00:41] #32650 closed

[2016-08-12 02:16] brson commented on #35568
Belongs over yonder: https://github.com/rust-lang/rust-www/issues/476

[2016-08-12 02:16] #35568 closed

[2016-08-12 02:34] anguslees commented on #35590
@alexcrichton: I confirm @Amanieu's Debian summary above.  Ignoring obsolete/historical ARM ports, Debian now has:
 - armel: ARMv4t, soft float.  https://wiki.debian.org/ArmEabiPort
 - armhf: ARMv7, thumb2, VFP3D16 (no NEON). https://wiki.debian.org/ArmHardFloatPort
 - arm64: ARMv8, 64bit. https://wiki.debian.org/Arm64Port

[2016-08-12 02:37] #35110 closed

[2016-08-12 02:37] #35256 closed

[2016-08-12 02:37] #35335 closed

[2016-08-12 02:37] #35224 closed

[2016-08-12 02:37] #29053 closed

[2016-08-12 02:37] #35529 closed

[2016-08-12 02:37] #35184 closed

[2016-08-12 02:37] #35508 closed

[2016-08-12 02:37] #35518 closed

[2016-08-12 02:37] #35509 closed

[2016-08-12 02:37] #35506 closed

[2016-08-12 02:54] jonathandturner commented on #35233
One more batch just landed.  We're one the home stretch now!

[2016-08-12 03:18] eddyb commented on #35612
Why do you say this? Judging by the errors, `use super::{self};` is equivalent to `use super;`.

[2016-08-12 03:57] gavinb commented on #35233
@GuillaumeGomez @jonathandturner I'm also interested in picking up some tasks if there's more on the way.

[2016-08-12 05:06] KalitaAlexey commented on #35600
@talchas What for did you need that? I don't see any reason to make it work.

[2016-08-12 05:17] talchas commented on #35600
Someone in #rust wanted the ability to generate an associated type for fn names in a macro that generates that trait, ala impl Trait (the fn would then return that associated type, and there would be some trait bound on the type). Given the lack of any usable concat_idents, this came up as an ugly but potentially workable way to have those names, except for this.

[2016-08-12 06:21] jseyfried commented on #35345
@hank-der-hafenarbeiter Yeah, I believe that would work.

The only downside I can think of is the increase in memory usage from the extra `Span`s -- we might want to measure to see if it's worth optimizing for the common case of single segment paths.

[2016-08-12 06:31] crypto-universe commented on #35233
@jonathandturner do you update the task list above? I don't see free tasks.

[2016-08-12 06:57] durka commented on #35600
Huh, I guess if it's not ambiguous for normal types then this should be
allowed for consistency (and dastardly macro hijinks).

On Aug 12, 2016 01:18, "talchas" <notifications@github.com> wrote:

[2016-08-12 07:43] sanxiyn commented on #35590
This was also discussed in #31800.

As I understand, the only reason Rust ARM is v6 is to support original RPi. I objected this does not match the traditional definition. @alexcrichton decided to just ignore the definition, since RPi needs to be supported. See #31800 for details.

[2016-08-12 08:03] glandium commented on #35590
Why not support the original RPi with an explicit armv6 triplet?

[2016-08-12 08:12] sanxiyn commented on #35590
Indeed. My proposal is: 1. Align Rust gnueabi/gnueabihf to v4/v7. 2. Keep (now misnamed) Rust armv7 for v7+neon. 3. Since RPi is weird, create new target just for RPi.

[2016-08-12 08:14] Amanieu commented on #35590
Rust requires at least ARMv6, since previous versions of the architecture don't support atomic operations.

[2016-08-12 08:15] petrochenkov commented on #35612
This is similar to https://github.com/rust-lang/rust/issues/29036

[2016-08-12 08:24] glandium commented on #35590
GCC provides a (I think lock-based) std::atomic. Yes, that's slow, but I don't see a reason why Rust shouldn't allow something similar (not saying that you should all be working on that, but you shouldn't prevent people from doing it if they want to).

[2016-08-12 08:32] petrochenkov commented on #35612
This is not true, try to experiment more. Keywords in identifier positions do the next things: 1) report a non-fatal error, 2) define an identifier with keyword name - this is a part of error recovery in parser.

So, `mod super` actually defines a module named `super`. This is ok because the code is already erroneous and we can do anything more or less reasonable, perfect error recovery is not gua

[2016-08-12 08:46] sanxiyn commented on #35590
Here is my understanding, excluding soft float targets for simplicity. Three targets would be best, v6/v7/v7+neon. Rust currently has v6/v7+neon. Debian wants v7. In short term, Debian can use v6 target without introducing a new target. Long term, adding v7 target seems preferable.

Then there is matter of naming. Rust currently calls v6/v7/v7+neon as armhf/???/armv7. I think they should be called

[2016-08-12 10:03] vks commented on #14916
Is there an option for not installing the docs? For me it takes by far the longest when updating.

[2016-08-12 10:34] viraptor opened #35619 "Incorrect lifetime suggested in diagnostics help message"
I got the following suggestion for correcting error:

[code]

But (irrelevant if this is going towards better solution or not) the suggestion is clearly illegal, because it's missing `'c` which exists in the return type.

[2016-08-12 11:05] fdietze commented on #32650
So what is the recommended way of dealing with this problem now?

Off Topic:
I tried to model this discussion as a graph.
http://lanzarote.informatik.rwth-aachen.de:9001/focus/HJ_DHGmLQeaSciC0j_haSQ/graph
Although there were some things that I couldn't express in the graph, I think It's easier to grasp than reading this thread.

[2016-08-12 13:33] jrvidal commented on #26251
I just compiled with the latest nightly and it seems to be working!

`rustc 1.12.0-nightly (0ef24eed2 2016-08-10)`

[2016-08-12 13:48] hank-der-hafenarbeiter commented on #35345
@jseyfried the span of a path is the combined path of it's path segments, aren't they? So if the span for the whole path is needed we can get that from combining the segment's spans. I don't know enough about how spans are generated and how much memory this would cost but considering that most of the time a span to the segment will be more helpful anyway this might very well be worth it.

If I can

[2016-08-12 13:54] michaelwoerister commented on #32754
@alexcrichton How far, do think, are we away from being able to use dependencies from `crates.io` in rustc? The `fs2` crate looks exactly like we need. But I guess at the moment I have to re-implement file-locking.

[2016-08-12 15:00] petrochenkov commented on #34511
I haven't seen interactions of `impl Trait` with privacy discussed anywhere.
Now `fn f() -> impl Trait` can return a private type `S: Trait` similarly to trait objects `fn f() -> Box<Trait>`. I.e. objects of private types can walk freely outside of their module in anonymized form.
This seems reasonable and desirable  - the type itself is an implementation detail, only its interface, available thro

[2016-08-12 15:27] ollie27 commented on #35600
It would make sense if this was allowed but it seems really buggy right now. For example the following works ([playpen](https://play.rust-lang.org/?gist=3732c832ae40dd3ad68c229b1486f686&version=nightly&backtrace=0)):

[code]

However this fails even though all that's different is the order of items in the trait definition which I thought shouldn't matter ([playpen](https://play.rust-lang.org/?gist

[2016-08-12 16:10] alexcrichton commented on #32754
@michaelwoerister still pretty far unfortunately, I'd plan on vendoring for now.

[2016-08-12 18:27] larsbergstrom commented on #35590
@alexcrichton We would certainly like *some* build of the rust standard libraries with Neon on by default for Servo. Without it, Servo is unbearably slow on any modern Android device, even if we turn it on for the Rust code in Servo itself.

[2016-08-12 18:30] brson commented on #30693
A potential solution: https://github.com/rust-lang/rust/issues/19603

[2016-08-12 18:52] AltSysrq opened #35624 "Strange/useless compile error arising from associated type, where clause, and lifetime bounds"
Originally reported [on the forums](https://users.rust-lang.org/t/weird-issue-with-lifetimes-and-associated-types/6870).

When an `impl` with two or more lifetimes (one bounding the other) implements a function which uses a `where` clause against its own associated type, the compiler produces a cryptic error complaining about the lifetimes and suggesting a "fix" which simply leaves the code unchan

[2016-08-12 20:03] brson commented on #35619
I agree that incorrect help suggestions are terrible and we should try much harder not to make them. I changed the title to be more about this specif message though since ISTM that "never suggest obviously illegal solutions" is quite a tall order. Let's solve this one!

cc @jonathandturner bogus help is super counterproductive.

[2016-08-12 20:08] brson commented on #35551
Thanks for the report but these changes have been discussed before and are not going to be made.

[2016-08-12 20:08] #35551 closed

[2016-08-12 20:11] brson commented on #35548
Maybe the SVH or whatever mechanism we use for metadata consistency checks these days is not hashing target information.

[2016-08-12 20:33] nikomatsakis opened #35625 "Tracking issue for `literal` fragment specifier (RFC 1576)"
Tracking issue for rust-lang/rfcs#1576.

[2016-08-12 20:35] nikomatsakis opened #35626 "Tracking issue for "clarified ADT kinds" (RFC 1506)"
Tracking issue for rust-lang/rfcs#1506.

**Status:**

**Still unstable, need a PR**

- [ ]  Numeric fields in struct expressions/patterns S { 0: a, 1: b } are not yet stabilized.
    - We've decided to stabilize the existing support, but we're still in need of a PR. If you're interested in contributing, [directions for stabilizing this feature can be found here](https://github.com/rust-lang/rust/i

[2016-08-12 20:43] nikomatsakis commented on #15872
We discussed in the @rust-lang/lang meeting today and decided that there is no reason to expire an RFC just because it's been a while. Basically, the motivation of the RFC still seems fairly relevant. That said, we would expect that if these changes were implemented, they would go through a stabilization period, and so if people felt like they were now bad, we could address that then.

It's worth

[2016-08-12 21:01] faebser commented on #35233
Are there any left over?

[2016-08-12 21:37] lucab commented on #35590
@larsbergstrom What is the baseline without it for comparison? The request here is to swap NEON for VFPv3-D16, not just to drop it.

Moreover, Android targets fall under androideabi, which we are not touching here.

For a comparison and historical view of the whole arm hardfloats story, see https://wiki.debian.org/ArmHardFloatPort/VfpComparison.

[2016-08-12 22:11] jonathandturner commented on #35233
@crypto-universe and @faebser - not yet.  Hopefully soon.  We're trying to land the next set of unit tests now.

[2016-08-12 22:41] michaelwoerister opened #35628 "'debug-opt' builds are timing out while building librustc"
See
https://buildbot.rust-lang.org/builders/auto-linux-64-debug-opt/builds/3453
https://buildbot.rust-lang.org/builders/auto-linux-64-debug-opt/builds/3454
https://buildbot.rust-lang.org/builders/auto-linux-64-debug-opt/builds/3455
and probably a few more.

[2016-08-12 22:50] Amanieu commented on #35590
@lucab: One of the key points of NEON, which isn't mentioned in that page is that it implies VFPv3-D32, whereas standard VFPv3 is VFPv3-D16. The difference here is that the former has 32-bit double-precision floating-point registers but the latter only has 16. Having more registers can help code generation in `f64`-heavy code.

[2016-08-12 23:24] brson commented on #35628
Can this crate legitimately be taking 30 minutes to build? http://perf.rust-lang.org/ says bootstrap time has gotten ... 92% better. wtf

[2016-08-12 23:36] Mark-Simulacrum commented on #35628
Well, the new numbers show only 0.1% decrease, I suspect that the 92% was noise from the LLVM problems.

[2016-08-12 23:49] petrochenkov commented on #32836
I have some preliminary implementation in https://github.com/petrochenkov/rust/tree/union, it contains all the necessary boilerplate, but missing some less copypast-y fragments as yet.
I'm not yet sure I'll be able to correctly implement drop checking/translation and borrow/move checking in reasonable time, but I'm going submit at least the implemented part in any case.

[2016-08-12 23:50] ashu01 opened #35629 "Link for different titles is broken in books/README.md"
Links in file https://github.com/rust-lang/rust/blob/master/src/doc/book/README.md are broken.
* [Getting started][gs] - Set up your computer for Rust development.
* [Tutorial: Guessing Game][gg] - Learn some Rust with a small project.
* [Syntax and Semantics][ss] - Each bit of Rust, broken down into small chunks.
* [Effective Rust][er] - Higher-level concepts for writing excellent Rust code.
* [N

[2016-08-12 23:59] jonathandturner opened #35630 "E0389 needs to be updated to new format"
From: src/test/compile-fail/E0389.rs

E0389 needs a span_label, taking it from:

[code]

To:

[code]

[2016-08-13 00:05] jonathandturner opened #35631 "E0392 needs to be updated to new format"
From:

E0392 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-13 00:11] jonathandturner opened #35632 "E0393 needs to be updated to new format"
From: src/test/compile-fail/E0393.rs

E0393 needs a span_label, updated title, and a note, changing it from:

[code]

To:

[code]

[2016-08-13 00:11] eddyb commented on #35628
@brson I have tried debug-opt locally and there's no such large measurable time difference, although rustbuild may have different behavior here.

[2016-08-13 00:13] jonathandturner opened #35633 "E0365 needs to be updated to new format"
From: src/test/compile-fail/E0365.rs

E0365 needs a span_label and a span_note changed to a note, updating it from:

[code]

To:

[code]

[2016-08-13 00:18] japaric commented on #35540
OK, I looked at the code around LTO and I think I know how to implement this. Will implement it and report back.

[2016-08-13 00:19] jonathandturner opened #35634 "E0370 needs to be updated to new format"
From: src/test/compile-fail/E0370.rs

E0370 needs a span_label, an updated title, and a new note, changing it from:

[code]

To:

[code]

[2016-08-13 00:31] jonathandturner opened #35635 "E0375 needs to be updated to new format"
From: src/test/compile-fail/E0375.rs

E0375 needs a span_label, an updated title, and a note, changing it from:

[code]

To:

[code]

Bonus: Underline `CoerceUnsized<Foo<U, T>>` (or, alternately `Foo<T, U>`)
[code]

[2016-08-13 00:33] jonathandturner commented on #35233
@crypto-universe and @faebser  and others looking for more error codes, I just added a couple more.

For those who volunteered earlier but haven't finished your bugs, yet... if you're still working, awesome.  If you don't think you're going to be able to get to them, please let someone else work on them.

We're hoping to do more of these in the future, so there should be plenty of things to do :)

[2016-08-13 01:20] larsbergstrom commented on #35590
@lucab I don't have strong opinions about the ARM non-Android situation, and am happy to defer to the experts in this thread.

So far as baseline goes, this was for Neon on some specific hardware and benchmarks that were pretty computationally intensive. We did see quite a bit of difference between soft/hard vp3/neon in that case, though clearly just getting to any hard float got the order-of-magn

[2016-08-13 01:38] sanxiyn commented on #35590
First, this issue is about ARM on Linux, not ARM on Android. My understanding is that Rust is simply matching [Google's documentation](https://developer.android.com/ndk/guides/abis.html) for ARM on Android, which is great.

Second, as far as I know Rust *does not* enable NEON for ARM on Android. So Servo must be doing something extra. This matches Google's documentation, see also #33414.

[2016-08-13 01:50] infinity0 opened #35636 "found two different crates with name `std`"
I'm trying to compile the following file:

[code]

This works with both 1.10 (stable) and 1.11 (beta) if I feed it the correct RUSTC_BOOTSTRAP_KEY. However for 1.12 (nightly 20160811) I'm getting this error:

[code]

I'm using my beta/nightly [PPA packages](https://launchpad.net/~infinity0/+archive/ubuntu/rust-nightly) for Ubuntu and not the "official" rust nightly, but I don't think I'm doing any

[2016-08-13 02:06] japaric commented on #35540
It works! I'll send a PR.

[2016-08-13 02:07] larsbergstrom commented on #35590
@sanxiyn Without going into details, these builds were done with a full custom rust compiler rebuild + servo rebuild.

[2016-08-13 02:29] durka commented on #35625
Is anyone working on implementation already? If not I can take a crack at it.

[2016-08-13 03:55] joshtriplett commented on #32836
@petrochenkov Awesome! Looks great so far.

[2016-08-13 04:29] ahmedcharles commented on #35629
This is not intended to be read on github.com directly, but instead, it's meant to be built into html which is either included into a tarball for distribution or for hosting, like it is here: https://doc.rust-lang.org/book/README.html

I.e. this is by design, not a bug.

[2016-08-13 05:02] ahmedcharles commented on #35630
src/test/compile-fail/E0389.rs doesn't exist and I can't seem to write a test file that triggers this error.

[2016-08-13 07:01] SpaceManiac opened #35642 "E0207 reports "unconstrained lifetime parameter" for type parameters"
E0207 always reads `unconstrained lifetime parameter` in the advanced diagnostics, regardless of whether the unconstrained parameter is a lifetime or type parameter.

The fix seems simple - substitute `format!("unconstrained lifetime parameter")` with `format!("unconstrained {} parameter", kind)` in [report_unused_parameter](https://github.com/rust-lang/rust/blob/f55ac6944a88d4da62b30a16cc95893ca0

[2016-08-13 08:40] ns-sundar opened #35645 "Compiler bug with misspelt enum name"
enum Token {
   Num(i32),
   AddSub(char),
   MulDiv(char),
   LeftParen(char),
   RightParen(char)
}

fn main() {
    println!("Hello World\n");

}

#[allow(dead_code)]
fn postfix_from_infix(infix: Vec<Token>) -> Vec<Token> {
   let postfix = Vec::<Token>::new();

   for token in infix {
      match token {
         Toekn::LeftParen(_) => break,
         _                   => {}
      }
   }

[2016-08-13 09:40] petrochenkov commented on #35645
Fixed on beta/nightly.

Working/minimized reproduction:
[code]

[2016-08-13 12:49] LeoTestard commented on #35625
I'll probably do it.

[2016-08-13 13:54] GuillaumeLestringant opened #35650 "Fragment specifiers in macro are not taken into account"
Here is a minimum example of the problem.

[code]

Compilation fails with following error.

Which means that the fragment qualifier is not taken into account to choose which variant of the macro is to be used.

[2016-08-13 13:56] jonathandturner commented on #35630
Have you done a 'git pull' recently?  Iirc, it's one of the test files that just landed.

[2016-08-13 14:04] sdroege opened #35651 "Provide a macro like std::file!() just for the function name"
Having such a macro would be useful for adding context information to logs.

[2016-08-13 16:08] durka commented on #35650
Yeah, macros don't do backtracking. You'll need to adjust the matchers to provide some other way to disambiguate.

[2016-08-13 16:13] carols10cents opened #35653 "In the current book, recommend rustup.rs over rustup.sh"
Specifically at https://doc.rust-lang.org/book/getting-started.html#installing-on-linux-or-mac, and recommend rustup.rs for Windows too, right?

We've [switched the new book to do this already](https://github.com/rust-lang/book/commit/8af84e7514be2a3aa72e3a421925cf68cb73f342), but in the meantime, the old book should recommend the new recommended toolchain :)

If it's too soon to do this because r

[2016-08-13 16:23] steveklabnik commented on #35653
@brson wants to wait a bit, and we'd need to then make sure to update the website in sync (see https://github.com/rust-lang/rust-www/issues/478)

[2016-08-13 16:53] GuillaumeLestringant commented on #35650
Yes, I *obviously* know that I could just put brackets or whatever around one of the patterns to make it distinct. But the whole point of having fragment qualifiers is *precisely* to distinguish between two otherwise identical patterns. If macros cannot do it although they have the perfect tool for it, then they are stupid and ought to be improved.

[2016-08-13 16:58] durka opened #35654 "feature(drop_types_in_const): type with drop flag in a const causes ICE/trap"
Code:

[code]

With MIR on:
[code]

With MIR off, the code compiles but traps (`Trace/BPT trap: 5`) at runtime.

[2016-08-13 17:03] durka commented on #35650
It wasn't obvious to me that you knew the workaround -- sorry for assuming!

Also see #33840.

[2016-08-13 17:27] GuillaumeLestringant commented on #35650
Thanks for pointing the PR. It is blocked for now, but I suppose there is still hope.

Sorry for being harsh. I have been raging for months over how annoyingly limited and stupid Rust macros are, and I finally found a case general and obvious enough to justify my complaining…

[2016-08-13 18:49] mikhail-m1 commented on #35233
I'll take E0375

[2016-08-13 19:01] mgoszcz2 commented on #35233
I can take E0365

[2016-08-13 19:54] #25636 closed

[2016-08-13 19:57] Stebalien commented on #27721
Can we say that, after returning `Done` once, a `Searcher` must continue to return `Done` forever more? That is, can I make this assumption when implementing `FusedIterator`?

[2016-08-13 20:08] nagisa commented on #35645
Duplicate of https://github.com/rust-lang/rust/issues/33293.

[2016-08-13 20:21] #35645 closed

[2016-08-13 22:14] DemiMarie commented on #32689
I just realized a problem: `GetFullPathName` has undefined behavior if it is passed a relative path name and another thread is concurrently calling `SetCurrentDirectory` (data race on the current directory).  So does every other Windows API function that takes a relative path name.

This means that Rust must either

- use its own version of the current directory, with proper synchronization
- make

[2016-08-13 23:32] ahmedcharles commented on #35165
I have a fix for this, I just need a few other PRs to land first.

[2016-08-13 23:33] ahmedcharles commented on #35630
It's there now, so it must have landed recently. Thanks.

[2016-08-13 23:39] terrynsun commented on #35233
I'll take E0380.

[2016-08-13 23:45] retep998 commented on #32689
@DemiMarie What do you mean by undefined behavior? The way it is implemented, all access to the current directory goes through a critical section, specifically `FastPebLock`. Memory unsafe data races do not occur. The reason it is recommended not to use it is because if you set the current directory and intend to do some stuff in that given directory, another thread might come along and change it

[2016-08-14 00:24] DemiMarie commented on #32689
Sorry, I did not know that.  The MSDN docs seemed to say otherwise.

On Aug 13, 2016 7:45 PM, "Peter Atashian" <notifications@github.com> wrote:

[2016-08-14 00:52] japaric commented on #24564
We now have `Atomic*` types for 8/16/32/64-bit atomic operations. An RFC for 128-bits have been accepted (#35118) but that doesn't include 128-bit atomics AFAIU (cc @Amanieu). If not, support for 128-bit atomics would have to be requested via an RFC. Should this be closed? cc @alexcrichton

[2016-08-14 00:55] terrynsun commented on #35165
Cool! Sorry for taking so long to try to work on this.

[2016-08-14 01:00] talexand opened #35658 "Compiler is overly eager to build following file lock wait"
## Steps to reproduce

1. Run emacs? (It makes and deletes autosave files in the same directories as working file buffers, which may help trigger it.)
  - `flycheck-rust` may be a contributor.
2. Iterate over a file and `cargo test` immediately after saving. Success if you see "waiting for file lock" in build output.
3. Observe that build process can't actually get the crate referenced properly (a

[2016-08-14 06:11] Amanieu commented on #24564
The intent was to include 128-bit atomics as part of the int128 RFC.

[2016-08-14 06:40] alexcrichton commented on #24564
Yeah I believe we can close this now, thanks for the heads up @japaric!

[2016-08-14 06:40] #24564 closed

[2016-08-14 07:26] alexcrichton commented on #35590
So for the three Debian targets we've got:

* armel - no solution in Rust today
* armhf - `armv7-unknown-linux-gnueabihf` minus NEON
* arm64 - `aarch64-unknown-linux-gnu`

It sounds like we can keep armv7 with VFPv3-D16, though, and it also wouldn't affect Servo as there it's primarily used on Android. If we make that change it means that armel will not be supported, but perhaps that's good enough

[2016-08-14 09:52] arielb1 commented on #34511
@nikomatsakis

The "explicit" way to write `foo` would be

[code]

Here there is no question about the lifetime bound. Obviously, having to write the lifetime bound each time would be quite repetitive. However, the way we deal with that kind of repetition is generally through lifetime elision. In the case of `foo`, elision would fail and force the programmer to explicitly specify lifetimes.

I am

[2016-08-14 09:58] canaltinova commented on #35233
I'd like to take E0392

[2016-08-14 10:06] tengwar commented on #28237
IMHO ..= looks weird. Swift's approach of ... and ..< looks better to me, because I prefer the ellipsis over two dots - ellipsis stands for omission and we are omitting the numbers between the start and the end of the range.

[2016-08-14 10:50] #35450 closed

[2016-08-14 11:09] bluss opened #35662 "LLVM pointer range loop / autovectorization regression"
The benchmarks in crate [matrixmultiply](https://github.com/bluss/matrixmultiply) version 0.1.8 degrade with MIR enabled. (commit https://github.com/bluss/matrixmultiply/commit/3d83647e7a4366e4483d711326f0f5cc07a61090)

Tested using `rustc 1.12.0-nightly (1deb02ea6 2016-08-12)`.

Typical output:

[code]

Sure, the matrix multiplication kernel uses some [major muckery](https://github.com/bluss/matr

[2016-08-14 14:29] creativcoder commented on #35233
I'll take E0393

[2016-08-14 15:41] shepmaster commented on #32519
Smaller example:

[code]

Removing the `default`s from the impl allows the code to compile. I have no idea on the validity of this as a bug or not, but I was surprised by it.

[2016-08-14 15:55] pmarcelll commented on #35662
This might be caused by the LLVM upgrade.

rustc 1.12.0-nightly (7333c4ac2 2016-07-31) (before the LLVM upgrade):
[code]

rustc 1.12.0-nightly (28ce3e8a5 2016-08-01) (after the LLVM upgrade, old-trans is still the default):
[code]

Measured on an Intel Haswell processor.

[2016-08-14 16:29] RockyTV commented on #35633
I'm working on this.

[2016-08-14 16:39] bluss commented on #35662
Thank you, great info.

[2016-08-14 17:55] ollie27 commented on #34713
I've uploaded an alternative which just renders `{ .. }` for completely opaque structs: #34713.

[2016-08-14 17:59] bugaevc commented on #34713
You've linked to this very issue ;) The correct link is #35667

[2016-08-14 18:01] ollie27 commented on #34713
oops, my bad, thanks

[2016-08-14 18:04] bugaevc commented on #34713
My proposal

stays if your alternative gets merged, for partly opaque structs.

By the way, are they a common thing? Are there some statistics for stdlib & crates.io?

[2016-08-14 18:36] SirVer opened #35668 "Impl trait crash: invalid region in impl Trait: ReEmpty"
This is on MacOS X with `rustc 1.12.0-nightly (1deb02ea6 2016-08-12)`.

This program:

[code]

crashes with

[code]

[2016-08-14 19:24] apasel422 commented on #33017
Triage: still an issue.

[2016-08-14 19:38] faebser commented on #35233
I take E0365

[2016-08-14 19:39] faebser commented on #35233
I'm going to work E0392

[2016-08-14 19:41] faebser commented on #35631
I'm going to work on this

[2016-08-14 19:45] canaltinova commented on #35233
@faebser Sorry but I already claimed and working on it.

[2016-08-14 19:47] crypto-universe commented on #35233
Give me 0389, please.

[2016-08-14 20:33] eddyb commented on #35662
Thanks to @dikaiosune I produced this minimized example: https://godbolt.org/g/3Nuofl. Seems to reproduce with clang 3.8 vs running LLVM 3.9's `opt -O3`.

[2016-08-14 21:31] ollie27 commented on #34713
I think the only instance in `std` is [`std::process::Child`](https://doc.rust-lang.org/nightly/std/process/struct.Child.html) so I don't think they're very common at all.

I guess we could also change "some fields omitted" to "private fields omitted" or "private/hidden fields omitted". There's also "some variants omitted" on enums although in that case it's only from `#[doc(hidden)]`: [`std::io::

[2016-08-14 21:37] jimblandy commented on #28237
Since I misunderstood this earlier (and so deleted my comment):

Per Rust's RFC process, this proposal has already been reviewed, discussed, and approved in [RFC pull request 1192][1]. The present issue tracks the implementation of what was previously decided there. The discussion covered many of the points people are raising here: alternative syntax (including no new syntax), the contrast with Ru

[2016-08-14 22:02] shepmaster commented on #28237
@jimblandy maybe we should have @nikomatsakis edit that polite reminder and guidance into the first comment in Really Big Print. 😇

[2016-08-14 22:10] nrc commented on #32650
@fdietze I recommend running the output of the compiler through a tool to get the output you want. Exactly which tool depends on what you want - but something as simple as `less` might be enough. Or maybe a more sophisticated pager?

[2016-08-14 22:16] insaneinside commented on #35651
1.  Macros are currently not namespaced.
2.  What would this macro do that [`file!`](https://doc.rust-lang.org/std/macro.file!.html) does not?

[2016-08-14 22:27] #26764 closed

[2016-08-14 22:27] #27372 closed

[2016-08-14 22:37] joshtriplett commented on #28237
@shepmaster That would probably be a good thing to add to a template used to file *all* tracking issues.

[2016-08-14 23:37] eddyb commented on #35662
@majnemer on IRC pointed out https://reviews.llvm.org/rL268972.

[2016-08-14 23:43] eddyb commented on #35662
@pmarcelll I misread some of those reports, so it's a combination of LLVM 3.9 and MIR trans being used?

On a Haswell, `-C target-cpu=native` should imply `sse4.2` AFAIK, so I'm not sure it's the linked issue for the original problem being observed here, only @dikaiosune's.

[2016-08-15 00:23] Aatch commented on #35658
I think this might be a cargo bug, not a compiler one. @rust-lang/tools, care to confirm?

[2016-08-15 00:35] Aatch commented on #35651
This requires an RFC, as there's a fair bit of ambiguity as to what the "name" of a function might be.

[2016-08-15 00:45] matthew-piziak commented on #29329
@steveklabnik Looks like `io`, `num`, `std::slice`, and `vec` are closed and can be checked off.

[2016-08-15 00:46] Aatch commented on #35668
/cc @rust-lang/compiler

[2016-08-15 00:53] eddyb commented on #35668
Ah, I didn't take into account the possibility of type errors resulting in `TyEmpty`.

[2016-08-15 01:00] cuviper commented on #23366
Now that #35409's 1bb14445160329c2ca5ff9c202e791ca0098d944 converted it away from an allocated note, it should be fine to be stripped.

[2016-08-15 01:36] anguslees commented on #35590
Just to put a counter-proposal on the table, another option would be to do
the gcc-ish thing: default to the most conservative milestones and use
options to enable additional hardware features.  Specifically:
- arm (v6 or whatever our minimum is), with non-default flags to enable v7,
neon, vfp, etc (perhaps even hard/soft float calling convention).
- aarch64, with presumably additional flags for f

[2016-08-15 01:36] #35435 closed

[2016-08-15 01:36] #35512 closed

[2016-08-15 01:36] #35510 closed

[2016-08-15 01:36] #35579 closed

[2016-08-15 01:36] #35502 closed

[2016-08-15 01:36] #35503 closed

[2016-08-15 01:36] #35522 closed

[2016-08-15 01:36] #35231 closed

[2016-08-15 01:36] #35523 closed

[2016-08-15 01:47] Aatch commented on #35654
I assume this is related to the drop flag (which I believe still exists, even if it is on it's last legs).

/cc @rust-lang/compiler

[2016-08-15 02:08] felixalias opened #35673 "MIPS: println! before return statement changes returned value"
Hi all,
Asked about this in rust-beginners and was advised it's probably a bug. On MIPS (specifically, on the [Tessel 2](https://github.com/tessel/tessel-rust), [technical overview](https://github.com/tessel/onboarding/blob/master/T2-TECHNICAL-OVERVIEW.md)) I'm getting different (incorrect) results from a function that does a bit of math, depending on:
- if I'm accessing a struct variable from sel

[2016-08-15 02:08] eddyb commented on #35654
Indeed, the `drop_types_in_const` feature doesn't work with drop flags yet. Hopefully we'll sort this out after the beta branches off.

[2016-08-15 02:14] Wilfred opened #35675 "Suggest using the enum when a variant is used as a type"
Consider the code:

[code]

The current error wording is:

[code]

I periodically make this exact mistake. It would be really nice if rustc could spot this error and say `did you mean Fruit?`

[2016-08-15 02:15] felixalias commented on #35673
Also, seems like I can make the problem go away by making my own floor():

[code]
.. computes the correct result.

[2016-08-15 02:51] Aatch commented on #35675
I'm not sure about your exact case, but I think such a suggestion for this:

[code]

Or, more likely, this:

[code]

Makes sense, and likely isn't too hard to implement.

[2016-08-15 03:00] withoutboats opened #35676 "Specialization ICE - unwrap in"
The unwrap in `Graph::parent` [here](https://github.com/rust-lang/rust/blob/f55ac6944a88d4da62b30a16cc95893ca050c328/src/librustc/traits/specialize/specialization_graph.rs#L267) is failing for me.

I am unable to reduce my code to a shareably small sample which hits this, but [this](https://is.gd/os3g7T) is a sample of the approximate shape of my code (again, no ICE though) and this is the backtra

[2016-08-15 03:07] retep998 commented on #35675
[code]
@Aatch I'm pretty sure that is invalid because `Apple` isn't a type and cannot be specified as the return type for `should_return_fruit`.

[2016-08-15 03:26] mitsuhiko commented on #24346
@alexcrichton typically instead of using atos one can also use llvm-symbolizer which is open source.

[2016-08-15 03:29] Aatch commented on #35673
Hmm, might be a constant-folding issue.

I made a C version of the code and it produces the same ASM as the Rust version on x86. A function that just supplies 9600 to `baud` is constant folded to the expected value. I also looked at the MIPS output from clang to see if anything was wrong there, but it looks fine. Furthermore, the constant-folding is correct here.

Could you post the MIPS ASM of th

[2016-08-15 03:32] Aatch commented on #35675
@retep998 that's the point. I meant that suggestion should work in those cases, but not the original example, as `Apple` isn't in scope.

By "more likely", I meant that it's more likely to come up than the first example.

[2016-08-15 03:39] mitsuhiko commented on #24346
Source to reference for the symbolizer: https://github.com/llvm-mirror/llvm/blob/master/tools/llvm-symbolizer/llvm-symbolizer.cpp

[2016-08-15 03:46] withoutboats commented on #35676
Here's an example of the ICE https://is.gd/cRMp7A

[code]

[2016-08-15 04:04] mitsuhiko commented on #24346
Just a quick brain dump: I discovered that `/System/Library/PrivateFrameworks/CoreSymbolication.framework/Versions/A/CoreSymbolication` exists on OS X. It's a private framework but there are some reverse engineered headers: https://github.com/mountainstorm/CoreSymbolication

[2016-08-15 04:11] withoutboats commented on #35676
I've pinpointed the issue more. If you replace `<Handle as Beta>::Event` in both `Delta` impls with the correct concrete type, this code compiles.

[2016-08-15 04:17] mitsuhiko commented on #24346
Seems reasonably straightforward: https://github.com/mitsuhiko/CoreSymbolication/blob/master/CoreSymbolication_test/CoreSymbolication/CoreSymbolication.m

Main issue is that this thing is clearly not intentionally supported by Apple (which is a shame, the API looks very friendly) so this would have to be used with caution.

[2016-08-15 05:15] tomjakubowski commented on #35658
I've observed this same bug on nightly but not beta or stable. It tends to crop up if you're running flycheck-rust and also using `M-x compile` or similar to build your project.

[2016-08-15 05:19] durka commented on #35654
@eddyb you mean, doesn't work with _stack_ drop flags? Note that it's broken (in different ways) with and without MIR, so I'm not sure this is new...

[2016-08-15 05:21] eddyb commented on #35654
@durka No, I mean *the* drop flags, the old ones embedded in every type implementing `Drop`.

[2016-08-15 05:22] mitsuhiko commented on #24346
Implemented against `backtrace-rs`: https://github.com/alexcrichton/backtrace-rs/pull/15

[2016-08-15 05:25] durka commented on #35654
OK, so the drop_types_in_const feature has never actually worked so far?

On Mon, Aug 15, 2016 at 1:22 AM, Eduard-Mihai Burtescu <
notifications@github.com> wrote:

[2016-08-15 05:25] Aatch commented on #35654
@durka presumably types with `#[unsafe_no_drop_flag]` worked.

[2016-08-15 05:28] eddyb commented on #35654
Indeed, `Option<Box<T>>` and `Option<Vec<T>>` included.

[2016-08-15 05:28] bluss commented on #35662
@eddyb Haswell has avx + avx2 too doesn't it, so it should imply those too

[2016-08-15 05:42] talexand commented on #35658
Good point. I do have flycheck running, which presumably is collecting build error output to do its job.

[2016-08-15 06:42] Aatch commented on #35676
Some digging suggests that specialisation graph isn't being created (or being incorrectly created) for `Beta`, at least as it pertains to the `Beta for Handle` impl. The problem is that there's no parent for that impl, I have a feeling there should be one though, but I'm not familiar enough with the code to be sure.

/cc @aturon @rust-lang/compiler

[2016-08-15 09:55] pmarcelll commented on #35662
If my benchmarking is correct and i386 means no SIMD at all, then it's not just an autovectorization regression.

rustc 1.12.0-nightly (7333c4a 2016-07-31):
[code]
rustc 1.12.0-nightly (28ce3e8 2016-08-01):

[code]

The last one is especially interesting because the `i386` version is faster than the `haswell` version.

[2016-08-15 10:28] nagisa opened #35677 "the method exists but the following trait bounds were not satisfied repeats the bounds multiple times"
[code]

reports

[code]

Note how it reports about `K` missing necessary bounds twice.

[2016-08-15 10:41] nagisa commented on #35673
Are you sure the float ABI between Rust and system libc matches? If the floor intrinsic lowers down to a libc call and the ABI mismatches, then you’ll see weird results like these with any non-native float op.

[2016-08-15 10:43] nagisa commented on #35673
See https://github.com/rust-lang/rust/pull/34967 and https://github.com/rust-lang/rust/pull/34910 and https://github.com/rust-lang/rust/pull/34967 which are all considerably recent changes to MIPS targets’ float ABI.

[2016-08-15 11:38] nagisa opened #35678 "[rustbuild] Support `exclude` in config.toml, not just as a flag"
debuginfo-gdb tests fail on my system due to gdb not existing/gdb being misconfigured/gdb being not actually gdb/gdb being too new/gdb being too old/gdb outputting stuff to stderr/etc. There should be a way to disable selected collections of tests altogether in rustbuild.

I tried setting debuginfo-tests to false, but it only appears to tweak whether `-g` gets passed to the tests by default.

[2016-08-15 11:39] KiChjang commented on #35212
Note to self: look into `FnCtxt.ast_ty_to_ty_cache` and `Inherited.locals`.

[2016-08-15 11:48] petevine commented on #31503
https://github.com/rust-lang/rust/issues/35662#issuecomment-239767510

[2016-08-15 13:40] michaelwoerister commented on #34754
So, this should be fixed (via #35534) but there is no nightly containing the fix yet.

[2016-08-15 15:35] #35516 closed

[2016-08-15 16:00] durka opened #35685 "wrong error message with if-let return type mismatch"
This function

[code]

Produces E0308 (correct) with the message "`if-let` arms have incompatible types" (nonsense).

[2016-08-15 16:02] durka commented on #35685
cc @jonathandturner @GuillaumeGomez

[2016-08-15 16:21] eddyb commented on #35662
Can you reduce this to something that fits on playpen but still exhibits a performance difference?

[2016-08-15 17:00] bluss commented on #35662
This shows the same kind of difference, even though it's quite long, since I wanted to keep the same kernel

https://play.rust-lang.org/?gist=528273eaf93142b0ce84c5f24de1ccd3&version=nightly&backtrace=0

In this reduced example, just like in matrixmultiply originally, it's still using vector instructions in the regressed version, just not the same ones, so it's not very effective.

[2016-08-15 17:15] nagisa commented on #35685
This is what is reported for `match` version of this:

[code]

I feel like this falls in the same category, and the issue could be fixed by highlighting the branch with conflicting type.

[2016-08-15 17:19] durka commented on #35685
Makes sense, since `if let` is desugared to `match` pretty early on. But IMO that error message is wrong too. The arms are compatible with each other, but they don't match the return type of the function. Also, it says "expected type `_`" and I thought we got rid of that.

[2016-08-15 17:25] nagisa commented on #35685
I think there’s multiple ways to interpret the message. I guess you’re interpreting it as

whereas another entirely valid interpretation is

[2016-08-15 17:25] durka commented on #35654
OK. Should I leave this open then?

[2016-08-15 17:26] nathanaeljones commented on #28224
I have a mixed C/Rust project targeting windows, linux, & mac. Lots of codecs are involved, and valgrind is an essential tool for verifying that integration tests aren't exposing a new bug in libpng or another dependency (this is a very common occurrence).

Does this change mean that I should move all of my integration tests to C++? Or is a custom build of rust required?

[2016-08-15 17:28] durka commented on #35685
Yes, you're right. Let's add those parentheticals as NOTEs in the error
message :)

On Mon, Aug 15, 2016 at 1:25 PM, Simonas Kazlauskas <
notifications@github.com> wrote:

[2016-08-15 17:35] ssokolow commented on #28224
I believe you just need to ask nightly rust to build your project with the system allocator rather than the bundled jemalloc.

[2016-08-15 17:48] eddyb commented on #35662
I've reduced it to a [reproducing](https://play.rust-lang.org/?gist=1d99bb8bf6be131bf9b777d1e607f589&version=nightly&backtrace=0) (5ns and 7ns) and [non-reproducing](https://play.rust-lang.org/?gist=6f82dd39d56d8c98d057b06d28107305&version=nightly&backtrace=0) (5ns and 5ns) version.
The difference between old trans and MIR trans is that MIR trans doesn't aggressively promote everything to copies f

[2016-08-15 18:18] alexcrichton commented on #35658
Yes Cargo doesn't hold locks on the output directory while tests are running, which can cause this problem. I also believe that this is a Cargo bug rather than a rustc bug, so may be most appropriate to reopen against rust-lang/cargo

[2016-08-15 18:20] alexcrichton commented on #24346
@emoon oh nice, thanks for the link!

@kdar ah yeah good point, although we're trying to shift more towards MSVC nowadays so the problem may be lessening there.

@mitsuhiko awesome! I wonder if `llvm-symbolizer` could be extracted to a small C interface, or if it's a little too entangled in LLVM's runtime right now?

[2016-08-15 18:23] eddyb commented on #35662
Looks like one `-arg-promotion` and `-scalar-evolution -demanded-bits -slp-vectorizer` are missing from rustc's pass setup: https://gist.github.com/eddyb/ec63fd2df8fffb22575f3ada7f5a8e93.
Running `opt` on the unoptimized IR from rustc results in vectorization.

[2016-08-15 18:23] shepmaster commented on #28224
Or if you produce a shared library, it will use the system allocator instead of jemalloc by default, which should allow valgrind to work.

[2016-08-15 18:26] TimNN opened #35687 "rustbuild: found crate `*` compiled by an incompatible version of rustc"
I regularly invoke rustbuild using `python ../../rust/src/bootstrap/bootstrap.py --step check --stage 2` and often get the following (or similar) error:

[code]

This can easily be fixed by removing the offending `deps` directory but is nevertheless annoying, there's probably some cleanup not happening.

This sometimes manifest itself differently, I believe something like `found multiple versions

[2016-08-15 18:30] mitsuhiko commented on #24346
@alexcrichton I looked more into that now and I the amount of stuff that pulls in is insane. Like in the many megabytes. I think given that CoreSymbolication is a thing we might not want to pursue this unless there are no options.

[2016-08-15 18:35] eddyb commented on #35662
I've reduced the MIR trans regression to this:
[code]
This is optimized out into nothing with old trans but not with MIR trans

Can someone confirm that *before* the LLVM update, both old trans and MIR trans produce an empty function (with `--emit=llvm-ir -C opt-level=3`)?

[2016-08-15 19:05] bluss commented on #35662
Yes, using the pre llvm upgrade nightly `rustc 1.12.0-nightly (7333c4ac2 2016-07-31)`

command `rustc --emit=llvm-ir -C opt-level=3 -Z orbit nano2.rs`

It does have an empty / simple function without the array init
[code]

[2016-08-15 19:16] nagisa opened #35689 "[tidy] binary checked into source false positive"
Tidy tries to ensure that no binary files get checked into the repository, however, while it finds the binary files, it does not actually checks whether files are committed/staged in git.

[2016-08-15 19:21] nathanaeljones commented on #28224
@ssokolow You mean the 'official' nightly build would do this? What flags would I provide?

[2016-08-15 19:42] shepmaster commented on #28224
The [documentation covers specifying allocators](https://doc.rust-lang.org/book/custom-allocators.html).

[2016-08-15 19:52] talexand commented on #35658
Migrated.

[2016-08-15 19:52] #35658 closed

[2016-08-15 19:54] nathanaeljones commented on #28224
Thank you! The "--enable-valgrind" context led me to misunderstand @ssokolow.

So to clarify, there's no compilation flag that can change this; I would need to inject source code `#[feature(alloc_system)] extern crate alloc_system;` into my tests, but only as a permutation for the nightly channel?

[2016-08-15 20:05] ssokolow commented on #28224
Yes. As I understand the situation, compiling jemalloc with `--enable-valgrind` either is or was a temporary measure before support will be/was dropped entirely.

[2016-08-15 20:51] JustAPerson commented on #35651
Whatever name is generated for debug symbols might be a start. When looking in gdb, those seem unambiguous after monomorphisation etc.

[2016-08-15 20:58] KiChjang commented on #35212
Progress: now able to shorten span for mismatched types, still needs to shorten spans for differing mutability. I ended up having to use `ccx.ast_ty_to_ty_cache` to look up the `NodeId` that corresponds to the correct `ty::Ty`.

![success](https://cloud.githubusercontent.com/assets/3248587/17679372/058c4b2e-62f0-11e6-92c0-0956f4382895.png)

[2016-08-15 21:00] jonathandturner commented on #35212
Niiiice. Looking forward to this fix.

[2016-08-15 21:03] steveklabnik commented on #35651
Yes, new macros need to go through the RFC process, even for relatively trivial ones. See https://github.com/rust-lang/rfcs/pull/1653 as an example. @sdroege please file one if you're interested in pursuing this!

[2016-08-15 21:03] #35651 closed

[2016-08-15 21:21] onodera-punpun commented on #19156
EDIT: It seems to install when running make install as su (read, not sudo)

[2016-08-15 21:59] jonathandturner opened #35692 "E0394 needs to be updated to new format"
From: src/test/compile-fail/E0394.rs

E0394 needs a span_label, updated title, and a note, changing it from:

[code]

To:

[code]

[2016-08-15 22:00] jonathandturner opened #35693 "E0395 needs to be updated to new format"
From: src/test/compile-fail/E0395.rs

E0395 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-15 22:02] jonathandturner opened #35694 "E0396 needs to be updated to new format"
From: src/test/compile-fail/E0396.rs

E0396 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-15 22:06] jonathandturner opened #35696 "E0403 needs to be updated to new format"
From: src/test/compile-fail/E0403.rs

E0403 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: Add a span_label for the conflicting first use:

[code]

[2016-08-15 22:08] nikomatsakis commented on #34511
@arielb1 hmm, I'm not 100% sure how to think about this proposed syntax in terms of the "desugarings" that I discussed. It allows you to specify what appears to be a lifetime bound, but the thing we are trying to infer is mostly what lifetimes appear in the hidden type. Does this suggest that at most one lifetime could be "hidden" (and that it would have to be specified exactly?)

It seems like it

[2016-08-15 22:09] jonathandturner opened #35697 "E0407 needs to be updated to new format"
From: src/test/compile-fail/E0407.rs

E0407 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: tighten the span to focus on `b`:

[code]

[2016-08-15 22:11] jonathandturner opened #35698 "E0408 needs to be updated to new format"
From: src/test/compile-fail/E0408.rs

E0408 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-15 22:14] jonathandturner opened #35699 "E0409 needs to be updated to new format"
From: src/test/compile-fail/E0409.rs

E0409 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: add the span_label for the previous binding:

[code]

[2016-08-15 22:16] jonathandturner opened #35700 "E0422 needs to be updated to new format"
From: src/test/compile-fail/E0422.rs

E0422 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-15 22:41] jonathandturner commented on #35233
Get them while they're hot!  More errors have been added.

And we're *so close* to having merged a 100 error code updates.  Great work everyone!

[2016-08-15 22:43] clementmiao commented on #35693
I can take this

[2016-08-15 22:43] clementmiao commented on #35694
I can take this!

[2016-08-15 22:45] crypto-universe commented on #35233
@jonathandturner I'd like to work on E0407.

[2016-08-15 22:53] jonathandturner commented on #35233
@crypto-universe and @clementmiao - I've updated the list with the ones you've chosen

[2016-08-15 23:29] jonathandturner opened #35703 "E0503 needs to be updated to new format"
From: src/test/compile-fail/regions-escape-loop-via-vec.rs

E0503 needs a span_label and a span_note converted to a span_label, updating:

[code]

To:

[code]

[2016-08-15 23:53] circuitfox commented on #35233
I'd like to do 403.

[2016-08-16 00:40] onodera-punpun commented on #19156
These are the build instructions: https://github.com/6c37/crux-ports/blob/3.2/rustc/Pkgfile, I can confirm that other CRUX users who try to compile this port get the same error.

[2016-08-16 00:54] japaric commented on #35590
@anguslees

That would be what the `arm-unknown-linux-gnueabi` and `arm-unknown-linux-gnueabihf` targets are in
the context of this issue.

Like those [GCC `configure` flags][0] that let you pick the "default" arch-level, float-abi,
target-cpu, etc, which are also the options used to compile the libraries (libc, libgcc_s,
libatomic, etc) that are part of the compiler bootstrap process?

[0]: https

[2016-08-16 01:07] japaric commented on #35673
I was checking the tessel-rust repository and saw this line:

The target system is running *uclibc*. `mips-unknown-linux-gnu` targets *glibc*-based mips systems. This combination is not guaranteed to work (You are actually lucky it has been working so far). There is also the issue that @nagisa mentioned: this target now produces hard float ABI code, the toolchain (the C libraries in it) adds soft

[2016-08-16 01:51] wesleywiser commented on #35703
I can take this

[2016-08-16 02:18] nrc opened #35705 "rustdoc: remove macro redirects"
PR #35234 changed macro URLs to remove the `!`. It left redirects in so as not to break existing URLs. At some point, we should remove these redirects so as not to accumulate too much cruft. Obviously this will require some message before we do so.

See FIXME in render.rs

[2016-08-16 02:34] sanxiyn commented on #35590
I disagree with @japaric and I think Rust Linux targets should match Linux distros' definition (it's not like there are multiple definitions, all major Linux distros agree), and I think it is reasonable to add one more target to Rust Linux targets, growing the number from 2 to 3. After all, Rust Android targets match Google's definition, and Rust iOS targets match Apple's definition.

[2016-08-16 02:43] dwrensha opened #35706 "impl trait: rustc stack overflow"
I get the error `thread 'rustc' has overflowed its stack` when I try to compile the following program:

[code]

[code]

[code]

[2016-08-16 03:33] JustAPerson commented on #16383
Try loading a type larger than `usize` into a `"m"` constrained input. Causes an ICE. I suspect this is mostly `asm!()` not rejecting an invalid input, but the error occurs in MIR.

[code]
[code]

On `rustc 1.12.0-nightly (1deb02ea6 2016-08-12)`.

[2016-08-16 04:13] sp3d commented on #35706
If I'm not mistaken this is a simpler program showing the same bug:
[code]

[2016-08-16 04:18] mikhail-m1 commented on #35233
I'll take 409

[2016-08-16 04:22] japaric commented on #35590
FWIW, removing the neon requirement from the armv7 target is in agreement with the policy of making rustc/std more portable. The target that results from that policy happens to match "major" distros' definition and, in general, that policy will yield a rustc/std that works on most distributions because portability is its very own definition. With the policy of 'match "major" distro definition', we

[2016-08-16 07:08] sdroege commented on #35651
Thanks, I'll look into that!

[2016-08-16 07:56] mitsuhiko commented on #24346
I looked a bit more into CoreSymbolizer now and it looks like Mozilla is using it somewhere in Firefox. Maybe someone could figure out what the stability of that thing is through them :)

[2016-08-16 09:00] alexbool opened #35711 "E0223 (ambiguous associated type) seems to be too restrictive in some contexts"
Consider following example:

[code]

It fails with

[code]

Then I open docs which say

[code]

Whoa, in my example it seems pretty obvious which type `X` I mean. It works when I use the suggestion from error message, but the syntax seems too verbose for this context.
Is it a bug? Am I missing something here?

Another example:

[code]

Fails with

[code]

[2016-08-16 10:37] infinity0 commented on #34902
Here's a [diff](https://people.debian.org/~infinity0/res/libcore.diff.html) of rust.metadata.bin from libcore.rlib, from 1.10.0. (2.0 MB, ~1700 lines, might make your browser slow.) Mostly ordering differences. @eddyb has suggested HashMap ordering as a culprit, and that would be replaced with FnvHashMap instead.

[2016-08-16 11:13] sanxiyn commented on #12182
UI test (added in #33588) can test spans now.

Still, I think UI test can't test spans not used by diagnostics. Such spans can still affect rustfmt, for example.

[2016-08-16 11:41] Manishearth opened #35714 "Inference should be able to determine closure argument types from usage"
[code]

([playpen](https://is.gd/x0lJ7S))

gives:

[code]

The typechecker should be able to figure out that the type is `Bar`, since that's what the closure is used with.

@nagisa mentioned that it might be that the closure is polymorphic over the argument, but that's not the case -- trying to feed it two types doesn't work ([example](https://is.gd/2cOx87)) and it's clear that the closure type ge

[2016-08-16 11:48] LeoTestard commented on #35625
Huh oh, we have an issue already: do we mean to include potentially minus-prefixed literals? If yes, we have a problem because 1. it means we have to return an Expr instead of a Lit, which means I'm not sure one will be able to use the bound fragment in a non-expr context (for example in a static array type?) and 2. it's no longer always a single-TT, so the benefits in terms of future-proofing are

[2016-08-16 12:41] nagisa commented on #35687
Seems to happen every time I rebase.

[2016-08-16 13:33] oli-obk commented on #26121
produces `cannot refer to other statics by value, use the address-of operator or a constant instead` on all of the above examples on stable rust

[2016-08-16 13:33] #26121 closed

[2016-08-16 13:50] DanielShaulov opened #35716 "Access to mutable static within items inside unsafe blocks leads to poor user experience"
The following produces an error about needing an unsafe block while already being in an unsafe block. It should produce an error about not being able to use a static value in another static.

[code]

https://is.gd/OgeJ7e

[2016-08-16 13:53] eddyb commented on #35714
The closure is type-checked first and no type has seen by then. Closures outside of call argument position are poorly supported and should be avoided where possible.

[2016-08-16 14:08] eddyb commented on #34902
If it's a `HashMap`, I don't know *which* one. cc @rust-lang/compiler

[2016-08-16 14:20] ollie27 commented on #35705
Personally I don't see much reason to ever remove the redirects. For example I would expect https://doc.rust-lang.org/std/macro.assert!.html to continue to work basically forever,

[2016-08-16 14:51] eddyb commented on #35662
*May* be fixed by backporting these 4 commits made by @majnemer (old -> new):
* https://github.com/llvm-mirror/llvm/commit/0c8a3440d651d778b2fa2ee5d20a37ecd53d3795 `[InstCombine] Infer inbounds on geps of allocas`
* https://github.com/llvm-mirror/llvm/commit/2a07d9fdb365a8c1f692142982b8707fa602b0a6 `[InstSimplify] Try hard to simplify pointer comparisons`
* https://github.com/llvm-mirror/llvm/comm

[2016-08-16 14:57] fitzgen commented on #24346
What makes you think that? I don't see any references to it in the source
code: http://searchfox.org/mozilla-central/search?q=coresymbollizer&path=

Afaik, the SPS profiler uses hand written stack walking code and if you're
using the gecko profiler add-on to get C++ names, it is opening a shell and
calling atos, otherwise you end up with just js names.

For the crash reports, those use Google brea

[2016-08-16 15:00] fitzgen commented on #24346
Oh interesting:
http://searchfox.org/mozilla-central/source/widget/cocoa/nsCocoaDebugUtils.h#11

On Aug 16, 2016 7:57 AM, "Nick Fitzgerald" <fitzgen@gmail.com> wrote:

[2016-08-16 15:04] nikomatsakis commented on #31436
I just wanted to cross-post some thoughts from https://github.com/rust-lang/rust/pull/35056#issuecomment-240129923. That PR introduces a `Carrier` trait with dummy type. The intention was to safeguard -- in particular, we wanted to stabilize `?` without having to stabilize its interaction with type inference. This combination of trait plus dummy type seemed like it would be safely conservative.

T

[2016-08-16 15:07] nikomatsakis commented on #31436
@Stebalien

As I was writing up that idea I just wrote, I was thinking about having types for enum variants, and how that might affect things.

One thing I noticed writing some code that uses `?` is that it is mildly annoying not to have any kind of "throw" keyword -- in particular, if you write `Err(foo)?`, the compiler doesn't *know* that this will return, so you have to write `return Err(foo)`.

[2016-08-16 15:09] nikomatsakis commented on #31436
Oh, I should add one other thing. The fact that we allow impls to influence type inference *should* mean that `foo.iter().map().collect()?`, in a context where the fn returns a `Result<..>`, I suspect no type annotations would be required, since if we know that the fn return type is `Result`, only one impl would potentially apply (locally, at least).

[2016-08-16 15:14] TimNN commented on #35716
So I think there are two issues here:

One  is mostly an ordering issue - which checks should be done first - by the compiler. That is, should the compiler first check for the required `unsafe` or should it first check that statics cannot be used in other statics.

The second is whether expressions inside of items defined inside of unsafe blocks should be considered as being inside an unsafe block