[2018-08-19 18:48] arielb1 commented on #52304
The requirement we want is that that "implicit" `impl Generator for [generator type]` makes sense.

That requires that the projections in that impl are alive as long as `[generator type]` is alive (we don't consider that as a "well-formed" requirement, but the "projection outlives" rules assume that). That does not hold if regions in the projections can be inferred to `ReEmpty` - we need to be che

[2018-08-19 18:52] arielb1 commented on #52304
I think that in closures, `CallSite` (from the fix to #29793) is serving that rule with lexical lifetimes - not sure what is checking that with NLL.

[2018-08-19 18:54] SimonSapin commented on #53491
We should only ship Nightly with those warnings once the recommended replacement is available at least on Stable. See similar discussion at https://github.com/rust-lang/rust/pull/52994#issuecomment-411413493

[2018-08-19 19:05] arielb1 commented on #52304
This can, in fact, be used as a soundness hole (assuming you can call `resume`):
[code]

[2018-08-19 19:06] arielb1 commented on #52304
Note: the version above is fixed by NLL. need to check whether fix is tight.

[2018-08-19 19:53] #53189 closed

[2018-08-19 20:28] aliblong opened #53505 "Panic compiling docs for `typenum`"
Here's the output with backtrace:

[code]

[2018-08-19 21:03] dvc94ch commented on #48168
Is that necessary for the rust gdb part? I think that 99% of users will use a ide for debugging. I currently use a python gdb gui which is a huge improvement over just using the cli, but I'll be adding lldb/gdb support to https://github.com/theia-ide/theia-rust-extension after https://github.com/theia-ide/theia/pull/2447 lands.

[2018-08-19 21:35] estebank commented on #50430
I believe that by default we should treat [`get_hardware` as `pub(super)` and `Hardware` as `pub(self)`](https://play.rust-lang.org/?gist=182dfb000c3a204cc445f857a3fcea12&version=nightly&mode=debug&edition=2015) (or [`get_hardware` as `pub(in hardware)` and `Hardware` as `pub(in hardware)`](https://play.rust-lang.org/?gist=522d9965f8d915bcaf26fbd33930c25a&version=nightly&mode=debug&edition=2015),

[2018-08-19 21:37] joshtriplett commented on #53128
@eddyb I had the same thought yesterday, which is why I worked on https://github.com/rust-lang/rust/pull/53479 . I do think we should stabilize `underscore_imports` as part of Rust 2018, since it fits naturally as a complimentary part of the module system updates. We do need the remaining issue fixed, though, namely that `use foo as _;` generates an unused import warning.

[2018-08-19 21:39] denzp commented on #38789
@bheisler I believe it somehow related to definition json. It doesn't happend to me with [json from ptx-linker](https://github.com/denzp/rust-ptx-linker/blob/master/targets/nvptx64-nvidia-cuda.json), but I saw the problem with another one.

[2018-08-19 21:46] sfackler commented on #53502
There are many warnings reported by example A:

[code]

[2018-08-19 22:07] petrochenkov commented on #53140
Fixed in https://github.com/rust-lang/rust/pull/53509

[2018-08-19 22:25] superseed commented on #53120
Here are a few thoughts coming from a Rust somewhat-newbie. First off, I want to say that something which really feels sane and nice with this language is the "immutable by default, private by default" approach.

Now, `pub` is nice because it's simple and expected in modern languages. I feel that having to un-learn this in the context of Rust and sprinkle another keyword everywhere instead is a bi

[2018-08-19 22:29] denzp commented on #38789
I'm finally proud to announce my progress on CUDA integration. I've made several tools to ease development and currently working on a tutorial and high-level crate (it will probably be a custom rustc driver because `compiler plugins` are de-facto deprecated).

First one is a [ptx-linker](https://github.com/denzp/rust-ptx-linker) that solves several important problems:
* recently mentioned issue ab

[2018-08-19 22:38] lucatrv commented on #53474
1. I confirm that `C:\Program Files (x86)\Microsoft Visual Studio\2017\WDExpress\VC\Auxiliary\Build\Microsoft.VCToolsVersion.default.txt` exists.
2. With Visual Studio Express 2017 there's no choice, Windows SDK is always installed.
3. I can build binaries with Rust after running `vcvarsx86_amd64.bat`.

If I do not mistake, "regular" Visual Studio releases are installed in `C:\Program Files (x86)\

[2018-08-19 22:56] scottmcm commented on #44524
I find the `fmt` example highly persuasive, and agree that seeing the lifetime there is unhelpful.
[code]

So if I'm understanding things right, then the proposed rules would be
- In output position, all lifetimes must be obvious (named, `'_`, or there because of `&`)
- In input position, only the lifetimes used in the output must be visible (at most one, if using elision)

(Hmm, I think that woul

[2018-08-19 23:17] cynecx opened #53510 "Unclear error message regarding try-op + type-inference + trait bounds"
[code]

Error:

[code]

Is it possible to improve the error on this one?

Playground: https://play.rust-lang.org/?gist=a98bbce6f339c98be03ac684ac032fff&version=nightly&mode=debug&edition=2018

[2018-08-19 23:32] Eabani commented on #53502
I agree, I have thoroughly looked and assumed that the unreachable code was due to the lack of an inject method for the dylib, I also completely overlooked the "matches any value"; on a side note, It would be pretty wise to implement a warning that tell you if you have a variable of the same name in the scope.
👍

[2018-08-19 23:33] varkor commented on #34447
If/when this is stabilised, it is worth considering whether adding `is_sorted_by_cached_key` would be a good idea, if `sort_by_key` is: https://github.com/rust-lang/rust/issues/53485.

[2018-08-19 23:35] #53502 closed

[2018-08-19 23:46] retep998 commented on #53474
My Visual Studio is installed in `C:\Program Files (x86)\Microsoft Visual Studio\2017\Community`. `Enterprise` is only for the Enterprise version of VS. Again, there is **nothing** in the code that is specific to `Enterprise` or `Community` or `WDExpress`. The code simply uses a COM api provided by Microsoft to ask where VS is installed, and then looks for `VC\Auxiliary\Build\Microsoft.VCToolsVers

[2018-08-20 00:21] orium opened #53512 "ICE when `use`ing macro defined in standard library"
On nightly `1.30.0-nightly (33b923fd4 2018-08-18)`:

If you try to compile

[code]

you get

[code]

On playground: https://play.rust-lang.org/?gist=5f24c022a2d8fd3f2256a88a6c92e8a1&version=nightly&mode=debug&edition=2015

[2018-08-20 00:25] qnighy commented on #48055
As a next step, I'll be working on trait object safety.

[2018-08-20 00:38] alexreg commented on #18952
Is this still occurring?

[2018-08-20 00:39] alexreg commented on #45510
@sifkarov Did you ever make a PR for this?

[2018-08-20 00:39] alexreg commented on #42736
Progress on this lately? :-)

[2018-08-20 00:40] petrochenkov commented on #53512
This looks very similar to https://github.com/rust-lang/rust/issues/53269, easy bug.
I'll fix this tomorrow if this wasn't already fixed by https://github.com/rust-lang/rust/pull/53471.

[2018-08-20 00:41] programmerjake commented on #49146
any status updates now that #51110 is merged?

[2018-08-20 00:47] alexreg commented on #29625
@Michael-F-Bryan @CodeSandwich This sounds like something for which an RFC would really be appreciated. It probably wouldn't be an overly long or intricate one to write, even. I would support it, for sure, and judging by an issue I saw about this not long ago (a long-standing one), others would too.

[2018-08-20 00:50] dtolnay opened #53515 "Wrong result after short circuit in const_let"
I would expect this program to print `true`. As of rustc 1.30.0-nightly (33b923fd4 2018-08-18) it prints `false`. If you change `const fn` to `fn` then it prints `true` as expected.

[code]

Mentioning @oli-obk.
Mentioning const_let tracking issue https://github.com/rust-lang/rust/issues/48821.

[2018-08-20 00:54] alexreg commented on #49146
@programmerjake I'm waiting for some feedback from @eddyb on https://github.com/rust-lang/rust/pull/52518 before it can get merged (hopefully very soon). He's been very busy lately (always in high demand), but he's gotten back to reviews and whatnot in the past few days, so I'm hopeful. After that, it will need some work by him personally, I suspect, since adding proper dataflow analysis is a comp

[2018-08-20 01:01] petrochenkov commented on #53263
Fixed in https://github.com/rust-lang/rust/pull/53516

[2018-08-20 02:32] termoshtt commented on #38789
@denzp Can ptx-linker link with libcore? I am creating a [toolchain](https://github.com/rust-accel/rust) to link libcore using llvm-link in [rust-accel/nvptx](https://github.com/rust-accel/nvptx). Linking of libcore will cause the symbol name issue as reported by @Jasper-Bekkers due to the difference between GAS and PTX, and I avoid it by [rewriting librustc_codegen_utils/symbol_names.rs](https://

[2018-08-20 02:56] dremon commented on #50176
I can reproduce this for "system" calling convention. When using "C" calling convention the symbols are exported correctly.

Happens for i686-pc-windows-gnu target, both debug and release. The x86_64-pc-windows-gnu target works. Tried it with different MinGW versions including cross-platform build (under Linux host).

[2018-08-20 06:48] behnam commented on #49726
(back after a long delay...)

So, about the type mentioned above:
https://github.com/rust-lang/rust/blob/d26f9e42df76603fd21b0fe5dd1e8001caf9bf81/src/libcore/unicode/version.rs#L11-L28

Since Unicode 11.0.0, published on June 2018, the text of The Unicode Standard, under Section "3.1 Versions of the Unicode Standard" (page 75, https://www.unicode.org/versions/Unicode11.0.0/ch03.pdf#page=4) has a n

[2018-08-20 07:18] SimonSapin commented on #49726
FWIW I’m still not very convinced that this is worth having a dedicated `struct` at all (over a tuple of integers).

[2018-08-20 07:27] behnam commented on #49726
Right. That was based on the PR review in #42998.

I'm neutral on this detail, as both types work for the purpose I described above.

[2018-08-20 07:34] denzp commented on #38789
@termoshtt The linker suppose to fix this, it has [a special "pass"](https://github.com/denzp/rust-ptx-linker/blob/master/src/passes/rename.rs) that does renaming. The problem can happen not only with `libcore` though: consts or [structs](https://github.com/denzp/rust-ptx-linker/blob/master/examples/intrinsics/src/lib.rs) can also produce invalid PTX sometimes:

[code]
[code]

I found the linker r

[2018-08-20 07:41] oli-obk commented on #53515
Uh.... Apparently short circuiting operators don't exist in consts:

https://github.com/rust-lang/rust/blob/d2048b6db375299b681d4f4728b8e7cad9f74d5f/src/librustc_mir/hair/cx/expr.rs#L328-L358

cc @eddyb

Since we did not have a way to observe short circuiting before the `const_let` feature, this transformation was correct.

Note that const fn is unnecessary:

[code]

[2018-08-20 07:48] Centril commented on #53125
Given that the FCP is now complete; any takers for writing up a stabilization PR?

[2018-08-20 08:00] oli-obk commented on #53443
I think they are closely related. We should probably run

[code]

in case `as_local_node_id` returns `None`. A repro for that would be nice though. It should probably suffice to add some lifetimes to the existential type or its concrete type.

[2018-08-20 08:08] oli-obk commented on #53331
Steps:

1. add `const` to https://github.com/rust-lang/rust/blob/master/src/libcore/num/mod.rs#L80
2. add the `rustc_const_unstable` attribute
3. add a test in `src/test/ui/const` that shows a const usage of the method (needs the feature gate specified in `rustc_const_unstable`
4. See whether the linked commit above can be partially reverted

[2018-08-20 08:34] oli-obk commented on #51929
Should be fine to add behind a feature gate.

The steps are basically the same as https://github.com/rust-lang/rust/pull/51171 and https://github.com/rust-lang/rust/pull/51299 (but you can do them in a single PR)

[2018-08-20 09:26] michaelwoerister commented on #50960
Oh wow, that's some find, @LionNatsu!
Thanks a lot for testing the changes, @glaubitz!

So it looks like rustc/LLVM is generating a wrong address for the `isDefinition` parameter in `llvm::LLVMRustDIBuilderCreateFunction()`. Maybe the Rust `bool` is different from the C `bool` on this platform. It would make sense because `isDefinition` is the first parameter after a `bool` parameter. Most of the

[2018-08-20 09:45] eddyb commented on #26925
I'm gonna leave a reminder here for @nikomatsakis to read https://arxiv.org/abs/1608.05233 (if he hasn't already) to see if it'd help rustc/Chalk in any way support the "coinductive" case.

[2018-08-20 09:48] gnzlbg commented on #53485
I have commented in the issue.

[2018-08-20 09:48] gnzlbg commented on #34447
I don't know when I can work on this, but I can mentor anyone wanting to implement this or wanting to port the implementation of the `is_sorted` crate.

[2018-08-20 10:17] cyplo commented on #18952
Looking at the link provided by Steve - it seems it's still failing on the nightly on playground (https://play.rust-lang.org/?gist=fe78a973c074edba7b422252bdf40bf1&version=nightly)
The error messages are slightly but not largely different now.

[2018-08-20 10:43] varkor opened #53525 "Unify E0243, E0244 and E0107"
[E0243](https://doc.rust-lang.org/error-index.html#E0243) and [E0244](https://doc.rust-lang.org/error-index.html#E0244) are both errors about providing the wrong number of generic arguments. Having both is unnecessary: it'd be better if they were unified with [E0107](https://doc.rust-lang.org/error-index.html#E0107) — the analogous error for lifetimes.

`GenericArgMismatchErrorCode` can go once th

[2018-08-20 10:54] RalfJung commented on #49441
After some talking with @Centril, I think ideally we want a lint that
* complains about `type SendVec<T: Send> = Vec<T>` because the bound is ignored
* complains about `type Baz<I> = <I as Iterator>::Item` because associated items should have a bound
* does not complain about `type Baz<I: Iterator> = <I as Iterator>::Item` because the bound is, de facto, enforced after expansion.

What makes this

[2018-08-20 11:01] iancormac84 commented on #53525
Minor nit: The link for E0107 actually points to E0243.

[2018-08-20 11:09] varkor commented on #53525
Fixed, thanks!

[2018-08-20 11:25] Emerentius commented on #50363
Exercism depends a lot on ignored-by-default tests so this would be really useful. A short look over libtest makes me believe that this would be very easy to add. I'll try my hand at it.

[2018-08-20 12:32] FelixMcFelix commented on #50865
@eddyb Using one of the impl Trait examples based on Iterators and comparing it against the equivalent for generics, the main difference seems to be *where* `foo` is codegenned. In the explicit type and generic cases this happens while codegenning the inner crate, but for impl Trait this happens when processing main.rs. This is why the non-impl Trait cases work despite having identical output from

[2018-08-20 12:55] SimonSapin commented on #53485
Oh, I didn’t realized that `Iterator::is_sorted_by_key` was not part of the RFC when I proposed FCP. I thought there was consensus to include it for consistence, both internal and with the existing `sort_by_key`/`min_by_key`/`max_by_key` methods which are also redundant with their respective method like `sort_by`.

We do have precedent of adding *some* APIs that can be expressed as a terse combina

[2018-08-20 13:07] oli-obk commented on #24111
@Centril suggested to stabilize a minimal version that is forward compatible to any future extensions:

* no generic arguments with trait bounds
* no arguments of `fn` pointer or `dyn Trait` type
    * checked recursively on the argument type so fields of arguments may also not be of these types
* no unsafe code (because we don't know whether there's stuff there that's problematic)
    * I persona

[2018-08-20 13:12] dtolnay commented on #48821
Short-circuiting operators need to be fixed before stabilizing `const_let`. Otherwise it is possible to observe wrong results when changing a `fn` to `const fn`. #53515

[2018-08-20 13:16] Centril commented on #24111
(nit: my proposal also included a recursive check for `fn` pointers or `dyn Trait` on the return type of `const fn`s)

[2018-08-20 13:29] jasonwilliams commented on #47183
I think this is a duplicate of https://github.com/rust-lang/rust/issues/29154
This issue was also raised in https://github.com/vadimcn/vscode-lldb/issues/127

[2018-08-20 13:30] luben commented on #53130
Is there a reason why ```use core::mem``` does not work?

[code]

[2018-08-20 13:30] japaric commented on #24111
To clarify, would something like this be accepted or not?

[code]

The bound is not part of the `const fn` itself.

[2018-08-20 13:34] mark-i-m commented on #24111
Also to clarify: is the proposal to stabilize those things and leave the rest behind the feature gate OR to stabilize those and make the rest an error altogether?

[2018-08-20 13:38] alexander-irbis commented on #53432
[code]

([Playground](http://play.rust-lang.org/?gist=8a10dd5bffe911b06f7ceb9b113ce7fc&version=nightly&mode=debug&edition=2015))

Output:

[code]

Errors:

[code]

[2018-08-20 13:51] tromey commented on #48168
It isn't necessary in the sense that gdb will still work without it.  However, I'd rather not limit what users can do.  For example I use this facility all the time.

OOC what is it?

One idea I had is that maybe we could have rustup check for required dependencies before installing.  Then, if the dependencies were missing, it could point users to a wiki page explaining how to install the dependen

[2018-08-20 13:53] andreytkachenko opened #53528 "NLL + impl Trait: Borrow checker error on else branch"
Here is an example:
[code]
here is the error:
[code]

[2018-08-20 13:57] tromey commented on #52452
I think the new output is more correct and so the thing to do is update the tests.

I looked through the gdb 8.1 git log, searching for a change that would affect this.  All I found, though, was this commit: https://sourceware.org/git/gitweb.cgi?p=binutils-gdb.git;a=commit;h=ec8df23454873916c6b6b918967af631b268acd8

... which claims that the change was in rustc, not gdb.

[2018-08-20 13:58] RalfJung commented on #24111
@mark-i-m the rest would stay behind a feature gate.

@oli-obk what is the problem with unsafe code? We do allow unsafe in `const X : Ty = ... `, which has all the same problems.

I think we do want to remain conservative around "unconst" operations -- operations that are safe but not const-safe (basically anything on raw pointers) -- but those are already disallowed entirely in const context, rig

[2018-08-20 13:59] YorickPeterse opened #53529 "Rust nightly 2018-08-17 or later causes random segmentation faults or panics"
<https://gitlab.com/inko-lang/inko> is a programming language that I am working on, and the VM is written in Rust. Up until Rust nightly 2018-08-17, everything works fine. Starting with the nightly from the 17th, I'm observing various crashes and different program behaviour. For example:

* On Windows it will either fail with a [memory allocation error](https://ci.appveyor.com/project/YorickPeters

[2018-08-20 14:09] ehuss commented on #53494
I think this is the same as #52376.

[2018-08-20 14:16] jonas-schievink commented on #53529
There's a lot of questionable unsafe code in that project. For example, [this function](https://gitlab.com/inko-lang/inko/blob/master/vm/src/binding.rs#L105) should really be marked as `unsafe` (same goes for [`CompiledCode::instruction`](https://gitlab.com/inko-lang/inko/blob/master/vm/src/compiled_code.rs#L96) and many other functions), many uses of `unsafe` in the bytecode parser are *really* o

[2018-08-20 14:25] YorickPeterse commented on #53529
@jonastepe Simply marking functions as `unsafe` to my knowledge doesn't influence the compiler's code generation. Many of the unsafe operations are safe in practise, as they will only fail if (for example) the input bytecode is invalid.

The various `unsafe` operations in the bytecode parser are there to convert sequences of bytes into particular types. To the best of my knowledge there is no stab

[2018-08-20 14:26] oli-obk commented on #48821
I already added it to the OP ;)

[2018-08-20 14:31] oli-obk commented on #24111
No, bounds on the impl block would also not be allowed under that proposal

I don't see any problems as noted in my comment. Every const unsafe feature/function needs to go through their own stabilization anyway.

[2018-08-20 14:31] jonas-schievink commented on #53529
Yes, but marking a function as `unsafe` requires all call sites to opt into that unsafety, and the functions I mentioned all assume that their arguments are valid (and cause UB if not). This additional constraint on the arguments is expressed by marking the function `unsafe` and documenting the safety constraints.

Check out the [byteorder](https://docs.rs/byteorder/) crate.

[2018-08-20 14:34] dvc94ch commented on #48168
https://github.com/cyrus-and/gdb-dashboard

[2018-08-20 14:36] YorickPeterse commented on #53529
This wouldn't achieve much, as _a lot_ would have to be marked unsafe as VMs and GCs inherently perform many operations Rust may consider unsafe. There are a few cases where I want to get rid of more risky code (e.g. the borrowing of `instruction` you highlighted), but all of this feels rather offtopic since it's very project specific.

I avoided it in the past because it also just used `mem::tran

[2018-08-20 15:07] Centril commented on #24111
@RalfJung I think the problem is *"@Centril is nervous that we missed something wrt. those are already disallowed entirely in const context".* ;) But we have to stabilize `unsafe { .. }` in `const fn` at some point so if you are sure there are no problems and that we caught all unconst operations then let's do it?

[2018-08-20 15:10] nagisa commented on #50960
@michaelwoerister Thanks for pinging me, I’m already subscribed to this thread :)

C’s `_Bool`/C++’s `bool` being different from Rust’s `bool` would be very, very bad, as we fairly recently said that Rust’s `bool` should be usable in an FFI context. I can’t really dig the promise out right now, will do that later today.

[2018-08-20 15:14] dvc94ch commented on #48168
One problem with that is that some distros (fedora) don't provide symlinks to old libs. So if I compile a lib with a dependency on libreadline with travis which uses libreadline.so.6 the dep isn't found on fedora which only has libreadline.so.7. A possible solution would be to change the lib names to libreadline.so in the binary before distributing. I currently am working around this on my machine

[2018-08-20 15:30] alexreg commented on #18952
I agree, the error message is still pretty confusing. Ideally, the error would be at the point of defining the second `impl Fn<...>` for the same type.

[2018-08-20 15:55] phil-opp commented on #51342
Seems like `no_mangle` is still required in release mode without LTO:

[code]

It works fine in debug mode and in release mode with LTO. When I add no_mangle, it also works in release mode without LTO. I'm using `rustc 1.30.0-nightly (33b923fd4 2018-08-18)`.

[2018-08-20 15:57] nagisa commented on #50960
C++’s `bool` has a size of 1 byte and ought to be passed this way (LLVM-IR):

[code]

So that is not a problem. I checked whether ABI matches for such function (which is essentially a untypedef’d `LLVMRustDIBuilderCreateFunction`, with last few arguments chopped off):

[code]

And it does:

[code]

My suspicion here falls solely on LLVM generating bad code.

[2018-08-20 15:59] nagisa commented on #50960
That being said, using `Bool = c_uint` instead of the `bool` would probably hide the problem.

[2018-08-20 16:05] cuviper commented on #50960
FWIW, we reviewed the `bool` ABI #46176, and in https://github.com/rust-lang/rust/pull/46176#issuecomment-358868675 I reported that powerpc *darwin* does have an unusual 4-byte `bool`.  On Linux it's still just a byte though.

[2018-08-20 16:46] YorickPeterse commented on #53529
To better understand what is going on I dumped the MIR output using `nightly-2018-08-16-x86_64-unknown-linux-gnu` and `nightly-x86_64-unknown-linux-gnu` (2018-08-18). After replacing a bunch of SHA hashes with placeholders (to reduce diff noise), I ended up with the exact same MIR before and after. Next I'll try LLVM IR.

[2018-08-20 16:47] mcr431 commented on #53525
Can I take this? Would be my first contribution so might take me a few days.

[2018-08-20 16:49] RalfJung commented on #24111
Another thing that came up on Discord are FP operations: We cannot currently guarantee that they will match real hardware. CTFE will follow IEEE exactly, but LLVM/hardware might not.

This also applies to `const` items, but those will never be runtime-executed -- whereas `const fn` might be. So it seems prudent to not stabilize FP operations in `const fn`.

OTOH, we already promote results of FP o

[2018-08-20 16:52] Centril commented on #24111
For future reference, the following article is relevant with respect to floating points and determinism:

+ https://gafferongames.com/post/floating_point_determinism/

[2018-08-20 16:52] YorickPeterse commented on #53529
It appears the LLVM IR uses a different order for things when using the different nightly versions. This generates _a lot_ of diff noise, so I'm not sure how useful this information will be. I tried to clean it up a bit by replacing various SHA hashes with placeholders, but even then there is _a lot_ of noise.

[2018-08-20 16:53] Centril commented on #24111
@RalfJung

I would be surprised if we could do this, but it is worth a try at least. :)

[2018-08-20 16:54] est31 commented on #24111
@RalfJung there might be interesting input further up in this thread https://github.com/rust-lang/rust/issues/24111#issuecomment-386764565

[2018-08-20 16:59] joshtriplett commented on #53130
@luben For your second comment: just delete the line `use simple_logger;` entirely. `extern_prelude` makes that redundant; you can just call `simple_logger::init()` or similar.

@eddyb Should the special-case version of that message reference `extern_prelude` instead? Because it's `extern_prelude` that makes `use cratename;` redundant.

[2018-08-20 17:03] YorickPeterse commented on #53529
The ASM output was a bit easier to clean up, but there are still _lots_ of differences. To be exact, `git diff --stat` reports:

[code]

Again this is probably because of ordering. The new version has 99 lines more, but I'm really not sure if that's expected or not.

[2018-08-20 17:11] steveklabnik commented on #53120
I watched a talk at RustConf this weekend that used a *lot* of `pub(crate)` in its code samples, and it really really made me wish for plain old `crate`. I am still very pro the original plan.

[2018-08-20 17:41] eddyb commented on #53130
@luben You need to use `#![no_std]` to get `core` instead of `std`.
Any particular usecase for accessing `core` without `#![no_std]`?

[2018-08-20 17:44] eddyb commented on #24111
Assuming we want to keep the keyword form `const fn`, I think stabilizing something *now*, that's limited enough, is a pretty decent solution (how did I not see it before?!)

[2018-08-20 17:45] eddyb commented on #52452
cc @alexcrichton Can we reasonably update the tests?

[2018-08-20 17:51] durka commented on #24111
When we do these piecemeal stabilizations, I just want to register a
request for a clear list of the restrictions and their justifications. It's
going to be frustrating when users make a seemingly innocuous change and
run into a a compile error, so we can at least make the errors good. I
recognize the reasoning is spread across many discussions, not all of which
I've followed, but I think there ou

[2018-08-20 17:54] durka commented on #44524
IMO, this is really weird and confusing. `'_` should be unique every time, just like `_` in patterns. Why are we allowing it to be used to connect lifetimes?

[2018-08-20 18:00] CryZe commented on #44524
Yeah, `'_` is a bit confusing when first learning it. But as a general rule: It behaves the same as elided lifetimes in references. So your example is akin to `fn function(x: &Foo) -> &Bar` where the lifetimes are obviously connected.

[2018-08-20 18:01] alexcrichton commented on #52452
So long as we're still running tests on CI seems fine by me (I forget if we have min-gdb-version yet)

[2018-08-20 18:01] RalfJung commented on #24111
@est31 As @rkruppe already wrote, those fuses would be illegal to perform without `-ffast-math` -- and I think LLVM handles that correctly.

From what I recall, basic arithmetic is not even all that problematic, but transcendental functions are. And those are not `const fn`, right? So my hope would be that in the end we can have parity between `const` items, promotion and `const fn` in this regard

[2018-08-20 18:04] durka commented on #44524
I still think that's harmful to understanding/learning. For example, let's
say I read the chapter about elided lifetimes, and then I go write a match:

match (a, b, c) => {
    (_, 2, _) => { println!("a == c") } // bug
    ...
}

Why does `_` work differently here? It's inconsistent.

On Mon, Aug 20, 2018 at 2:01 PM Christopher Serr <notifications@github.com>
wrote:

[2018-08-20 18:06] djrenren opened #53531 "Disallow attribute macros named cfg"
`#[cfg()]` runs before name resolution so no proc macro attribute named `cfg` could ever be called. We should make this a hard error at the declaration site to protect people from this confusion.

[2018-08-20 18:07] djrenren commented on #53531
I think this would be a good issue for mentoring. I'm happy to help out.

[2018-08-20 18:08] cuviper commented on #50960
So the function was reading the word's least-significant byte (as this is big-endian), and you're patching it to read the most-significant byte instead.  Does this imply that the caller did not properly extend the argument to 32-bit?  AIUI that's supposed to happen here:

https://github.com/rust-lang/rust/blob/bf1e461173e3936e4014cc951dfbdd7d9ec9190b/src/librustc_target/abi/call/powerpc.rs#L41

[2018-08-20 18:13] luben commented on #53130
Thanks for both the responses.  Makes sense. Actually I didn't need ```core::mem``` as I can use ```std::mem``` instead: I have copy/pasted some futures related code.

[2018-08-20 18:19] RalfJung opened #53532 "-Zdump-mir does not dump all the MIR: drop glue missing"
There seems to be no way currently to dump at least some of the MIR that rustc generates itself, e.g. for drop.

In the following code
[code]
I can clearly see miri execute an `Offset` binop (a binop which is only ever emitted by the auto-generated drop glue), but grepping the entire dump directory for `Offset` shows no hit.

[2018-08-20 18:36] varkor opened #53534 "Generic argument span for function type is incorrect"
https://github.com/rust-lang/rust/blob/1558ae7cfd5e1190d3388dcc6f0f734589e4e478/src/test/ui/unboxed-closures/unboxed-closure-sugar-wrong-trait.stderr#L1-L5
The unexpected type argument here should be just `isize` (it should end at the `)`). This syntax is just for function arguments, so it's probably something to do with the desugaring.

[2018-08-20 18:43] varkor commented on #53525
@mcr431: absolutely! The diagnostics are in `src/librustc_typeck/diagnostics.rs`. You'll want to add: `#### Note: this error code is no longer emitted by the compiler.` for E0243 and E0244 and change the text for E0107 to refer to all generic arguments (you can probably merge the examples from E0243 and E0244 into its examples).

You can then remove `GenericArgMismatchErrorCode` here:
https://gith

[2018-08-20 18:43] mark-i-m commented on #44580
#51880 is done :tada: :tada:

[2018-08-20 18:50] stjepang commented on #44524
@durka

That ship has already sailed. The following is valid code in stable Rust now:

[code]

I don't think so; `_` is not necessarily unique in patterns. So `_` means "something goes here, but I'm too lazy to give it a name". That something might or might not be equal to something else. It just doesn't have a name, that's all.

The same applies to anonymous lifetimes. And lifetime elision just m

[2018-08-20 18:51] mcr431 commented on #53525
@varkor Awesome, thanks!

[2018-08-20 18:58] YorickPeterse commented on #53529
Using https://github.com/rust-lang-nursery/cargo-bisect-rustc I found that nightly-2018-08-19 is the first version that introduces the regression, while nightly-2018-08-19 works fine.

[2018-08-20 19:01] tristanburgess commented on #52985
Leaving open per discussion starting at https://github.com/rust-lang/rust/pull/53316#issuecomment-413009557; need to investigate error handling at an earlier time than the transmute, since before transmute is even scanned we should be able to tell that the existential type does not have an underlying concrete type defined.

[2018-08-20 19:07] estebank commented on #53486
We would have to be careful though, as some diagnostics (specially suggestions) use the definition span being available as a proxy for the end user being able to edit those sources. Because of this, if we implement this improvement without accounting for it we would start suggesting people to modify `std`, `core` or even third party crates' code, which we should never do.

[2018-08-20 19:17] jonas-schievink commented on #53529
This hints at https://github.com/rust-lang/rust/pull/53286, which can change the behaviour of any latent UB, or https://github.com/rust-lang/rust/pull/52553, since your project uses `VecDeque` in a few places.

[2018-08-20 19:40] YorickPeterse commented on #53529
A custom version of `VecDeque` probably isn't going to work. For example, I'm using Rayon which only implements its traits for the default `VecDeque` :<

[2018-08-20 19:48] YorickPeterse commented on #53529
I ended up replacing all my uses of `VecDeque` with `LinkedList` to test if the VecDeque changes are to blame. I used LinkedList because its API is closest to VecDeque, making it easier to test things. When using LinkedList, my code runs fine. This suggests that the changes in https://github.com/rust-lang/rust/pull/52553 may have somehow broken things.

cc @Pazzaz

[2018-08-20 19:49] jonas-schievink commented on #53529
@YorickPeterse The first PR changes details about the generated code that is passed to LLVM. In fact, it just removes unneeded information. The easiest way to check if it's at fault is to manually build the compiler from `nightly-2018-08-19` with the PR reverted. If the problem stops happening, it's at fault (or more likely, UB in your code is).

It would also be helpful if you could reduce the co

[2018-08-20 19:49] YorickPeterse commented on #53529
Specifically, the patch I applied is: https://gist.github.com/YorickPeterse/940db2613c77bec9738124e6df273320

[2018-08-20 19:53] tromey commented on #48168
We'd have to survey the dependencies on the distros we care about to see if it's possible.  Note that readline in particular needn't be an issue because gdb vendors it (distros tend to disable this but we don't have to).

[2018-08-20 19:58] YorickPeterse commented on #53529
I narrowed this down to the following file being broken by the changes: https://gitlab.com/inko-lang/inko/blob/master/vm/src/mailbox.rs. If I switch back to `VecDeque` for this file, my code breaks.

There are two possibilities here:

1. There was a bug before in _my_ code that only somehow didn't get triggered before
2. The VecDeque changes themselves break things

The Mailbox data structure has

[2018-08-20 20:08] jesskfullwood commented on #50659
FWIW this error confused me a lot while trying out async/await for the first time.

[2018-08-20 20:10] YorickPeterse commented on #53529
Upon closer inspection, the VecDeque changes specifically affect `VecDeque::append`, and I happen to use that in my Mailbox structure. Specifically, I have the following:

[code]

I don't remember why this is using `self.external.drain(0..)` since `self.external` is also a `VecDeque`, probably I wrote this when not paying attention. Regardless, changing this to `self.internal.append(&mut self.exte

[2018-08-20 20:23] RalfJung commented on #52849
According to `perf` and `callgrind`, all that extra time is spent inside `core::hash::impls::<impl core::hash::Hash for (A, B)>::hash`. Unfortunately it doesn't say what `A` and `B` are...

Seems like this is somehow hitting a really bad case for the loop detector, but requires the sanity check to even happen? Isn't that odd? Somehow the static does not get properly evaluated without the sanity ch

[2018-08-20 20:25] YorickPeterse commented on #53529
There was another place where I relied on `VecDeque::append`. After also replacing that with the `self.extend(other.drain(..))` pattern my code now runs fine again, both on nightly and stable Rust.

This suggests the failure is definitely due to the changes made to `VecDeque::append`. Now to see if I can get this in a standalone example.

[2018-08-20 20:32] MaloJaffre commented on #53529
Good news: I think I found the reason for the segfault: the new `VecDeque::append` calls `unused_as_mut_slices` which unsoundly creates mutable slices to uninitialized memory.
I will try to send a fixing PR tomorrow.

[2018-08-20 20:37] glaubitz commented on #50960
I would like to test this. Where exactly is this in the Rust code?

[2018-08-20 20:38] YorickPeterse commented on #53529
@MaloJaffre Aha, thanks! I was looking at the code to see how I might be able to trigger this problem, but I hadn't made my way to `unused_as_mut_slices` just yet. Looking at the code, I'm not sure exactly how to trigger this reliably.

[2018-08-20 20:39] dtrebbien commented on #41079
I tried using the offset_from() method on a pointer today. I like the name and API; it seemed rather intuitive. The only issue I have is that the implementations of offset_from() and wrapping_offset_from() use assert!() rather than debug_assert!(). The result is that offset_from() is a bit slower than it could be when debug = false.

Is there a reason to prefer assert!()?

[2018-08-20 20:41] jonas-schievink commented on #53529
@MaloJaffre That could be it, nice find!

[2018-08-20 20:43] RalfJung commented on #52849
I think I have an idea what might be happening: These testcases might leak memory, and the hashing hashes all of memory and hence has quite a lot to do hashing all these unreachable allocations.

[2018-08-20 20:45] MaloJaffre commented on #53529
The problem AFAIK is that this function is triggering Undefined Behavior, and so can cause the program to segfault randomly, and so it may be difficult to reproduce it reliably.

[2018-08-20 20:47] aturon commented on #15872
@rfcbot concert input-output

@scottmcm can you say more about the rationale for making all positions input positions? IIRC with the original RFC we did some amount of usage analysis to inform the input/output distinction, and the feeling was that lifetime parameters in traits were most often connected (as outputs) to those in types. At an intuitive level, this makes sense to be because if a trait

[2018-08-20 20:49] nrc commented on #29154
cc @tromey DO you know what might be going on here?

[2018-08-20 20:49] durka opened #53537 "[beta regression] missing_docs lint ignores items generated by external macros"
On beta and nightly, items generated by macros in external crates do not have to be documented, even in the presence of `#![deny(missing_docs)]`.

Observe this code: https://gist.github.com/0dda35f371bdde94780fc65bb99c4bf0

Compiling with stable:

[code]

And with beta:

``
$ cargo +beta build
   Compiling b v0.1.0 (file:///Users/alex/Documents/work/macdoc/b)
   Compiling a v0.1.0 (file:///Users/a

[2018-08-20 20:51] leonardo-m opened #53538 "insert for slices"
While working with slices and arrays I sometimes need a slice function similar to Vec::insert:

[code]

All the items gets shifted on the right, and the last item of the slice drops down.

[2018-08-20 20:55] scottmcm commented on #41079
@dtrebbien The assert is on the size of the type, which is a compile-time constant, so I would expect it to always get optimized out.  Are you seeing otherwise?

[2018-08-20 20:56] aturon commented on #53128
@joshtriplett

To be clear, when you say "this" do you mean specifically the deprecation? The title and description on this tracking issue are at odds over exactly what's covered. I agree re: deprecation (at least for the macro case) but feel we need to stabilize the path part of this with Rust 2018.

[2018-08-20 20:58] djrenren opened #53539 "Add a lint for test attributes before #[test]"
`#[test]` currently allows authors to write something like:

[code]

We should probably lint this so that `#[ignore]` and friends must come after `#[test]`. This is because `#[test]` violates the mental model of procedural macro attributes where `#[test]` would have to on the outside.

[2018-08-20 21:01] joshtriplett commented on #53128
@aturon Yes, sorry. We need to avoid having deprecation warnings for `extern crate` if you still need `#[macro_use] extern crate` for macros. But I think the changes to support `use` for all macros are on track at this point.

[2018-08-20 21:13] RalfJung commented on #52849
Confirmed: If I make it hash only `machine` and `stack`, the regression goes away.

@oli-obk @ecstatic-morse What do you think the tradeoff is about including vs not including the memory in the hash?

It would likely also help to plug the leak, but even then we will leak static memory as e.g. we do not try to deduplicate strings AFAIK. A middle-ground might be to hash stack memory only (which curr

[2018-08-20 21:15] Nemo157 commented on #53130
@eddyb `futures-rs` uses the opposite (accessing `std` with `#![no_std]`) a lot for supporting an optional `std` feature, a good example is [`futures-core::stream`](https://github.com/rust-lang-nursery/futures-rs/blob/6f60ab33d0cb3c148ce34af49a8af38f5487dcd4/futures-core/src/stream.rs), this has all the `core` supported code first, then [near the bottom](https://github.com/rust-lang-nursery/future

[2018-08-20 21:22] jrtc27 commented on #50960
If you're extending a bool, it would be zero-extended, not sign-extended (and if you bool as char rather than a bit, it doesn't matter which you do as the sign bit is always 0).

[2018-08-20 21:30] CAD97 commented on #48075
rustdoc doesn't consider `?` a macro repetition operator, thus chokes on any macro including it.

[2018-08-20 21:31] eddyb commented on #49441
My idea is to diff what WF needs (i.e. the things that would error if not satisfied) with the predicates (bounds) written by the user.

Without Chalk this is going to be tricky, but we can manually run trait selection (or just plug something optional into the fulfillment context) to peek at *how* each WF requirement is satisfied, and mark every predicate that *actually ends up used* as part of tha

[2018-08-20 21:31] alexreg commented on #53128
@joshtriplett But `#[macro_use] extern crate` is only needed in Rust 2015, right?

[2018-08-20 21:32] Centril commented on #15872
@aturon that usage analysis seems reasonable to me. However, while this is probably vague... I would not expect traits to count as output positions because they do not feel like outputs while associated types do.

I think that makes sense.

[2018-08-20 21:36] dtrebbien commented on #41079
It looks like I am seeing a slight difference, but I am not entirely sure.

I am currently working on a piece of code where offset_from() would be used rather frequently. When I run my benchmark using:

[code]

.. then my benchmark numbers are:

<pre>
bench:   6,136,818 ns/iter (+/- 344,438) = 751 MB/s
bench:   6,156,946 ns/iter (+/- 349,123) = 748 MB/s
bench:   6,140,547 ns/iter (+/- 298,704) = 7

[2018-08-20 21:36] eddyb commented on #53486
@estebank Right, we'd have to distinguish those more carefully. One thing I should note is that we *should* be making edit suggestions cross-crate *within a workspace*, at least IMO.

[2018-08-20 21:40] g4jc commented on #53287
Just received a response. It seems a TRADEMARK.md may be useful to direct people to the appropriate [information](https://www.rust-lang.org/en-US/legal.html) from github.

This issue can be closed once trademark notification is included or mentioned on README.md.
Thank you.

[2018-08-20 21:47] cuviper commented on #50960
Yes, Rust should zero-extend `bool` -- see the `i1 zeroext` that @nagisa demonstrated.

My point was that if you don't extend at all, then the significant 0 or 1 of the `bool` would be written at the word's lowest address `136(r1)`, rather than the highest address `139(r1)` where it should be on big-endian.  I suppose if it somehow extended like little-endian, you would also have this problem.

FW

[2018-08-20 21:59] Nemo157 commented on #53457
Minimized example ([playground](https://play.rust-lang.org/?gist=0d056f4ae21a7bc25df74fc122842254&version=nightly&mode=debug&edition=2015))

[code]

[code]

Removing the `cx` parameter everywhere makes this work, at a guess it seems like existential types are incorrectly attributing the lifetime of the `&mut ()` that should be hidden in the closure to the concrete type.

[2018-08-20 22:01] pnkfelix commented on #43234
@alexreg wrote:

I don't remember anymore who came up with the particular labels we are using, but the idea (in the context of type-systems) that "soundness" is about rejecting erroneous programs, while "completeness" is about accepting the error-free ones, is pretty [well-established][wiki].
 * A rule of thumb I like to keep the terms straight: a hypothetical type-system that rejects all programs

[2018-08-20 22:01] estebank commented on #53486
As soon as we involve other crates, I would reduce the weight of the text from a suggestion to a merely informative explanation of the failure, like we see in your example. We need to add a way to check for this in the diagnostics api. I'm not opposed at all to the idea and think it'd be useful.

[2018-08-20 22:10] alexreg commented on #48075
@CAD97 Would you kindly submit a PR for that over at the rustdoc repo?

[2018-08-20 22:19] alexreg commented on #43234
@pnkfelix Yeah, I see they're correct now. Just the phrasing caught me off guard, since a) I am more used to talking about soundness and completeness of logical systems (even though I know that using these terms for type systems is equivalent via the Curry-Howard correspondence), and moreover b) the soundness definition as you stated was the contrapositive of the standard definition (at least the

[2018-08-20 22:33] LionNatsu commented on #50960
@nagisa Yes. I found `Bool, True, False` in ffi.rs, it was introduced from 8 years before, before Rust 0.1.

It did a type hack for FFI to enforce them to c_uint, completely worked for that time. We can see, 8 years later, now there are many bool, true, false in these code, they triggered the issue.

Now it is weird:
1. Rustc compiles the right and ABI compatible LLVM bytecode and the bundled LLVM

[2018-08-20 22:34] clarcharr commented on #53485
At the time I made that comment, I didn't realise that `max_by_key` and `min_by_key` were already stable (as of 1.6, which is a while ago). Basically, there are two options:

1. Deprecate `max_by_key` and `min_by_key` and don't add `is_sorted_by_key`.
2. Add `is_sorted_by_key`.

I feel like the usefulness of these should be re-evaluated, as it forces the key to outlive any reference to `self` rath

[2018-08-20 22:35] Havvy commented on #53539
The snippet will actually work as an ignored test. As it's not a procedural macro, I'm not quite sure it matters that it follows their mental model.

In any case, this sounds like a `clippy` lint over a `rustc` lint.

[2018-08-20 22:38] LionNatsu commented on #50960
The ad-hoc binary hack I posted fixed this function call (in callee side, you can do it on caller side anyways) but I am afraid there are some other bugs are still hidden.

[2018-08-20 22:44] LionNatsu commented on #50960
The most weird things is the official console-based LLVM compiler `llc` compiled wrong.
It ignores the `datalayout` and uses a default setting from somewhere. BTW, PowerPC should have a "S32".

[2018-08-20 22:45] djrenren commented on #53539
The problem is that it works but it's inconsistent with how attributes work everywhere else where attributes have order.

I think we should migrate people toward a consistent use of attributes whether they're built-in or proc macros.

[2018-08-20 22:45] Havvy commented on #53531
The `test` attribute seems to be similarly ignored.

[2018-08-20 22:45] otavio commented on #53531
I could give it a go. As a first time contributor please be patient 😉

[2018-08-20 22:46] eddyb commented on #53130
You can just write `use ::std::...` and it still works with `uniform_paths`, btw.
That syntax works with `::core::...` as well, too, irrespective of `#![no_std]`.
(paths starting with `::` explicitly look up a crate and are not limited to the `extern_prelude` filter)

[2018-08-20 22:50] Havvy commented on #53539
If we want to migrate people in that direction, then IMO, we should make it a warning in the 2018 edition and then forbid it in the 2021 edition. But that's only if we want to migrate in that direction.

[2018-08-20 22:52] ExpHP commented on #53538
Implementation in terms of stable functions:

[code]

I don't have a strong opinion about it right now as it's not something I ever found myself reaching for.
 Can you share your use cases?

[2018-08-20 22:55] Havvy opened #53543 "rustdoc: Add crate=crate_name,file=filename.rs options to doctests for displaying in output"
Sometimes we write code samples where the crate the example is in and/or the file the example is in matters. Right now we just have to include that information outside of the code sample, but it can be easier to read (especially for people just looking at the example code) if it's included in the example itself. As such, I'm suggesting adding two more attributes to the doctests, `crate` and `file`

[2018-08-20 22:56] alexcrichton commented on #51342
@phil-opp oh dear! Is it possible to get an example I could poke around with?

[2018-08-20 22:57] djrenren commented on #53531
@Havvy Yeah, though that's not by necessity, so I wanna do a crater run and see if we could give it normal resolution.

[2018-08-20 22:59] petrochenkov commented on #53539
I don't think it's correct to model `#[test]` or similar attributes like `#[proc_macro]` after procedural macros.

These attributes do not expand items they are applied to, they are rather passive attributes that are to totally separate whole-crate expansion passes like test harness generation or plugin registrar generation.

(The special treatment of `#[test]` in expand.rs is rather a hack that s

[2018-08-20 23:02] leonardo-m commented on #53538
Yes, the rotate is good enough.

[2018-08-20 23:02] #53538 closed

[2018-08-20 23:06] LionNatsu commented on #50960
@cuviper

Yes sir. It didn't properly extend. We can patch from either callee side or caller side. I simply chose callee side.

[2018-08-20 23:06] cuviper commented on #50960
I think we're in agreement actually, and I just didn't express myself well enough.

The caller _should_ be zero-extending that `i1` to 32-bit.  Doing so would write a `true` in memory like a `u8` array `[0, 0, 0, 1]`, since this is big-endian.  If the callee was reading `139(r1)`, this checks out.  Your patch changed the callee to `136(r1)` to make it work, which implies that the caller wrote the

[2018-08-20 23:10] cramertj commented on #53491
@RalfJung

You've participated in discussion about this before, but I'll post here to circulate more widely: this is already something we have many existing use-cases for in Fuchsia, and we have a trait for this (`FromBytes`) and a derive macro for these types. There was also [an internals Pre-RFC](https://internals.rust-lang.org/t/pre-rfc-frombits-intobits/7071) for adding these to the standard l

[2018-08-20 23:39] Arnavion commented on #53443
My real code's existential types do not have lifetimes, though they do have `'static` bounds.

[code]

Adding `'static` bounds to the OP code did not repro the same crash.

The concrete type for the first one is compiler-created because it's the return type of an async block.

[code]

I believe this is sugar for `std::future::GenFuture`, so that should also not have any lifetimes.

The second one'

[2018-08-20 23:40] petrochenkov commented on #53481
Unfortunately, feature gate errors are fatal (this needs to be fixed), so in this case they hide the true issue:

[code]

All in all, this happens due to `#[derive(Deserialize)]` being in the same scope with `use file::Deserialize;`, but I'm not yet sure about details.
I'll try to minimize the issue and find out why resolution is stuck.

The workaround is to avoid `use file::Deserialize;` imports

[2018-08-20 23:46] Arnavion opened #53546 "Existential type complains about private type in public interface if concrete type is not pub"
[code]

gives

[code]

Returning `impl ::std::fmt::Debug` does not have this restriction.

[2018-08-20 23:50] djrenren commented on #53537
Yeah looks like the lint here: https://github.com/rust-lang/rust/blob/1558ae7cfd5e1190d3388dcc6f0f734589e4e478/src/librustc_lint/builtin.rs#L295-L299

needs `report_in_external_macro: true`.

So it would be:

[code]

(yeah the syntax is super funky).

Would be a good first issue for someone, if they're so inclined.

[2018-08-20 23:55] est31 commented on #24111
@RalfJung I'm still not convinced that e.g. spilling and then loading it back into the FPU registers in between some operations gives the same results as the same computation without that spilling.

How would transcendental functions mean a problem?

IIRC, while some transcendental functions are supported by common x86 processors, those functions are slow and eschewed, and only included for comple

[2018-08-20 23:57] gnzlbg commented on #53491
@cramertj

Those discussions were about ways of allowing safe `memcpy`s across types, but I think that's pretty much orthogonal to whether the memory was initialized or not - if you put uninitialized memory in, you get uninitialized memory out.

The consensus also was that it would be unsound for any approach discussed to allow reading padding bytes, which are a form of uninitialized memory, in sa

[2018-08-21 00:00] shepmaster commented on #29722
Additionally, most things can be done using the exposed platform intrinsics. [x86](https://doc.rust-lang.org/std/arch/x86/index.html) and [x86_64](https://doc.rust-lang.org/std/arch/x86_64/index.html) have been stabilized and other platforms are in progress. It's most people's expectation that these are going to accomplish 95-99% of the goals. You can see my own crate [jetscii](https://github.com/

[2018-08-21 00:04] estebank commented on #53466
We should collect borrow errors by definition span and emit a single diagnostic:

[code]

Also, we probably should bound how many lines of incorrect mutable borrow attempts are displayed, show only up to three(?) primary spans, and if more, display:

[code]

After all, once the binding is fixed all of those errors would go away, so we're not hiding useful information from the user.

[2018-08-21 00:09] tromey commented on #29154
Not offhand but it's worth trying the lldb from rustup (if it's available now, I haven't been able to check).  If that still fails, I will take a look when I'm better.

[2018-08-21 00:09] joshlf commented on #53491
To drive the point home a bit more, LLVM defines uninitialized data as Poison, which is distinct from "some arbitrary but valid bit pattern." Branching based on a Poison value or using it to compute an address which is then dereferenced is UB. So, unfortunately, "types where all bit patterns are okay" are still not safe to construct because using them without separately initializing them will be U

[2018-08-21 00:10] bheisler commented on #38789
@denzp - I don't think it's caused by the target JSON, unfortunately. When I add the `obj-is-bitcode` flag to my target file it compiles without segfaulting, but that means it no longer writes PTX files but instead writes LLVM bitcode.

[2018-08-21 00:32] joshlf commented on #53491
Thank god there are people who can read, because apparently I can't...

[2018-08-21 00:47] petrochenkov commented on #53481
Minimized:
[code]

[2018-08-21 01:08] epage commented on #53120
@steveklabnik

Is the context of this comment mostly from RustConf or does it does it take into account this thread and presuppose a disagreement with it?  Earlier, I provided an alternative solution, not to `pub(crate)` but to the requirements driving any of the `pub` changes and I am hopeful it would satisfy people's needs.

See
- [my concerns](https://github.com/rust-lang/rust/issues/53120#issu

[2018-08-21 01:16] epage commented on #53120
@superseed

RE "Parenthesized keywords really feel hairy though"

While personally I thought they were neat when I found out about them (much better than all-or-nothing `friend`), my bigger concern is we don't create a parallel syntax but either embrace what we have or find an alternative solution.

On the other hand...

RE Or `export` actually,

I don't think adding an `export` contradicts my ear

[2018-08-21 01:43] mcr431 commented on #53525
@varkor GenericArgMismatchErrorCode struct is also used for E0088 and E0090 -- too many lifetime arguments and too few lifetime arguments respectively. Is this supposed to convert those to use E0107 as well as its pretty much the same use case?

[2018-08-21 02:18] josevalaad commented on #29722
@eddyb Well, I'm writing a small matrix algebra library. Inside that library, I'm implementing the BLAS, maybe some LAPACK (not there yet) routines in Rust, because I wanted the library to be a pure rust implementation. It's nothing serious yet, but anyway, I wanted the user to be able to opt for some asm speed and fun, specially with the GEMM operation, that use to be essential (the most used, an

[2018-08-21 02:18] CAD97 commented on #48075
Is rustdoc not part of the rust-lang/rust repo? I thought it was (or at least there are T-rustdoc issues in this repo and I didn't find a rustdoc repo elsewhere other than the rustdoc2/doxidize one). I could open an issue for that specifically if that's what you're asking?

[2018-08-21 02:46] Valloric commented on #29722
@shepmaster There are _plenty_ of use-cases for which intrinsics aren't enough. Of the top of my head of recent stuff where I thought "why oh why doesn't Rust have stable asm?", there's no XACQUIRE/XRELEASE intrinsics.

Stable inline asm is critical and no, the intrinsics aren't enough.

[2018-08-21 02:50] mark-i-m commented on #53128
Huh? I was under the impression that you still need macro_use in 2018 (for now).

[2018-08-21 02:52] mark-i-m commented on #43234
FYI, i believe this is called Perl

[2018-08-21 02:59] mark-i-m commented on #48075
It is a part of this repo. But frankly, I'm confused as to why it doesn't work. rustdoc uses the compiler.

What errors are you seeing exactly?

[2018-08-21 02:59] joshtriplett commented on #53130
@eddyb Is there any particular reason *not* to have `core` accessible even without `#[no_std]`?

[2018-08-21 03:01] shepmaster commented on #43234
@mark-i-m please remember to keep the Code of Conduct in mind. Denigrating other languages, even jokingly, can negatively impact those developers who use those languages and makes us all look bad.

[2018-08-21 03:04] mark-i-m commented on #43234
Sorry, no harm meant. And I certainly do appreciate the contributions of devs from other languages.

[2018-08-21 03:05] CAD97 commented on #48075
Using the exact nightly I was, a `cargo check` passed but a `cargo doc` complained that "`?` is not a macro repetition operator". This no longer happens on the current nightly, so is no longer an issue.

[2018-08-21 03:15] shepmaster commented on #29722
My original point was attempting to help someone have the ability to write faster code. They made no mention of knowing that intrinsics were even available, and that's all I sought to share. The rest was background information.

I'm not even advocating for a specific point of view, so please don't attempt to argue with me — I have no stake in this race. I'm simply repeating what the current point

[2018-08-21 03:47] CAD97 commented on #53501
Don't forget to make it trailing-comma-accepted: `$(,)?` with the kleene op or just another arm if not.

[2018-08-21 03:58] alexreg commented on #53128
@mark-i-m No. You can employ `use` syntax to import macros from other crates, even `macro_rules!` ones. It's only if you want to use `macro_rules!` internally that you need to employ `macro_use`. But the recommended way forward is to use Macros 2.0 `macro` declarations. That's how I understood it at least... someone correct me if I'm horribly mistaken!

[2018-08-21 04:14] dtolnay opened #53547 "Remove mem.rs line numbers from const-size_of-cycle.stderr"
https://github.com/rust-lang/rust/blob/1558ae7cfd5e1190d3388dcc6f0f734589e4e478/src/test/ui/consts/const-size_of-cycle.stderr#L5

It is not nice for this test to fail any time we insert a line in mem.rs, as happened in https://github.com/rust-lang/rust/pull/53503. Please implement this test in a way that does not hardcode a line number.

Please also try to find standard library line numbers in oth

[2018-08-21 04:34] dtolnay commented on #53547
`rg SRC_DIR/lib src` turns up only one other case:

https://github.com/rust-lang/rust/blob/1558ae7cfd5e1190d3388dcc6f0f734589e4e478/src/test/ui/impl-trait/impl-generic-mismatch.stderr#L33

[2018-08-21 04:45] Ekleog opened #53548 "async/await: “the requirement `for<'r> 'r : 'static` is not satisfied” with `'static` across await point"
(continuation of https://github.com/rust-lang-nursery/futures-rs/issues/1199 as it looks like a compiler bug after all, important points repeated here)

### Problem

There appear to be an issue in handling traits that have a parent `'static` bound boxed through an await point: the following example fails to compile with `the requirement `for<'r> 'r : 'static` is not satisfied` (note: I'm using gen

[2018-08-21 04:50] Ekleog commented on #53259
Potentially related issue: https://github.com/rust-lang/rust/issues/53548 (has the same `for<'r>` bound appearing out of seemingly nowhere)

[2018-08-21 04:50] CAD97 commented on #38356
[`#![feature(proc_macro)]` is marked as stabilized since 1.29.0.](https://play.rust-lang.org/?gist=fda121bf2ce8fc09a9a5497b270d39fe&version=nightly&mode=debug&edition=2015) Is this intended?

[2018-08-21 05:08] durka commented on #53537
Needs to be done in time to be backported. Next release is 9/13.

[2018-08-21 05:34] durka opened #53549 "[nightly regression] E0639 + adding #[non_exhaustive] to io::ErrorKind is a breaking change"
In stable and beta, you can write `ErrorKind::Other {}`, but in nightly this triggers E0639: cannot create non-exhaustive variant using struct expression. (As an aside, that error message should be rephrased and examples added to `--explain`.)

This is either a bug with `#[non_exhaustive]`, or it means that the attribute can't be applied to public enums without creating a breaking change.

[2018-08-21 05:35] jan-hudec commented on #38356
@CAD97, definitely. See https://github.com/rust-lang/rust/commit/65f3007fa8a08daf77f2b8382a56eb80cb277131 and https://internals.rust-lang.org/t/help-stabilize-a-subset-of-macros-2-0/7252

[2018-08-21 05:39] durka commented on #53549
I noticed this due to Travis tests of [this code here](https://github.com/durka/macrolisp/blob/e3719827c4ef22bfb4c51ff8a47dc2486c08e71e/examples/tokio_echo.rs#L41). This is obviously(?) not a serious crate, but illustrates that this restriction is problematic for macros. That line expands to

[code]

[2018-08-21 05:42] LionNatsu commented on #50960
Goodness... it turns out to be a much deeper issue.
It is not a bug of Rust, but of LLVM, about optimisation in instruction selection. I am trying to find it out now.

-O0 and -O1 select the correct instructions (stw, store a word) while -O2 and -O3 select incorrectly (stb to the little-endian location).

`llc` uses -O2 as default optimisation level, no wonder it generated the wrong assembly.

[2018-08-21 05:43] jan-hudec commented on #38356
@Ekleog, the `TokenStream` is a stream of `TokenTree`s and each `TokenTree` has associated `Span`, which carries the scoping information. Except there is currently no way to create a Span for any other scope than “call site” (or empty). Basically coming up with a reasonably ergonomic way of creating `Span`s referring to specific crate is what is needed.

[2018-08-21 05:49] LionNatsu commented on #50960
So FFI breaks if two parts use different optimisation level. There is a C++ example.
**Library**
[code]
**Main program**
[code]
![screenshot_20180821_133200](https://user-images.githubusercontent.com/6694582/44382625-4776da80-a548-11e8-8b9f-e6b39f5ea6f8.png)

[2018-08-21 05:53] cuviper commented on #50960
I believe I've tracked it down in LLVM.  Can you try with the following patch?

[code]

[2018-08-21 05:57] Havvy commented on #53549
This is a bug. Adding `#[non_exhaustive]` to an enum should not prevent the creation of enum variants, although adding the attribute to an enum variant explicitly allows for that. Especially since `ErrorKind::Other` without the `{}` is still valid.

[2018-08-21 06:01] CAD97 commented on #38356
The reason I asked is that the checkbox isn't ticked. Would be nice to tick it off then!

With `#![feature(proc_macro)]` stabilized, what's left of this issue?

[2018-08-21 06:06] eddyb commented on #53130
@JoshTriplett Not really any that I can think of (maybe modules named `core` causing ambiguities?).
We might want to keep only one to avoid confusion over which to use, but it also seems useful to have both.
I wonder what @rust-lang/lang and @rust-lang/libs think of allowing `core`, as well as `std`, to be used everywhere without `#![no_std]`.

[2018-08-21 06:07] cuviper commented on #50960
That patch only addresses the caller.

There still appears to be some problem with the callee, e.g.

[code]

produces

[code]

... loading bytes from the wrong offset.  I think this is consistent with what you found about mismatched optimization levels in either direction.

[2018-08-21 06:09] cuviper commented on #50960
And BTW, we don't see that the problem in the function definition in `RustWrapper.cpp`, because it's currently compiled with GCC, not Clang.

[2018-08-21 06:11] samsartor commented on #53488
I would love to follow this through and give the code a shot, but it's probably too big of a first contribution to the compiler. Maybe I'll take a swing at [some starter issues](https://www.rustaceans.org/findwork/starters/compiler) and then come back if no one else has gotten it done.

@eddyb Yes, this definitely should be built on NLL.

[2018-08-21 06:14] eddyb commented on #29722
I still don't understand what instructions you need to access that you can't without inline assembly. Or is it just a specific sequence of arithmetic instructions?
If so, have you benchmarked an equivalent Rust source against the inline assembly?

[2018-08-21 06:54] jonhoo commented on #50297
@djrenren finally had a chance to read your proposal. I'm excited by the progress on this, though your write-up did raise some questions for me:

 - Early on, you say that "Annotated items must be a nameable `const`, `static`, or `fn`.". Further down, when you discuss the use-case of a framework that supports test suites, you show a `#[test_suite]` annotation on a `mod` with `#[suite_member]` on t

[2018-08-21 07:02] parched commented on #53366
Thanks, I see the problem now, so something like
[code]
should be guaranteed to exit, but it currently isn't?

Would this work, or am I forgetting something?
park:
[code]
unpark:
[code]

[2018-08-21 07:03] MSleepyPanda commented on #52873
Hit this on the newest nightly (33b923fd4 2018-08-18)

[2018-08-21 07:05] Centril commented on #53130
I think allowing `core` everywhere sounds like a good idea. In particular, it seems to me like it would make it easier to transition to `#![no_std]` support.

[2018-08-21 07:08] CAD97 commented on #50297
I think in most cases the CUT won't need to change itself to integrate with the IDE test runner, so long as the IDE understands the test runner you're working with. As I understand how JetBrains' IntelliJ IDEA integrates with both JUnit and Rust's libtest is that it communicates using the standard API and stdin/out. JUnit's integration is obviously tighter, as IDEA was a Java IDE first, but the in

[2018-08-21 07:14] oli-obk commented on #52849
@brunocodutra was working towards following only allocations reachable from the stack (in https://github.com/rust-lang/rust/pull/52626) We're only halfway there unfortunately.

Well, we should fix the leaks for sure, but also stop hashing the memory directly.

That makes no sense. The sanity checker runs after the loop checker and can't trigger the loop checker itself.

[2018-08-21 07:14] Nemo157 commented on #53130
How would it affect the plans for a [stable `alloc` crate](https://github.com/rust-lang/rfcs/pull/2480), that RFC is based on using `extern crate`?

I assume a std-aware cargo would subsume this functionality, and you could explicitly list which facade crates you depend on in your `Cargo.toml` (hopefully with optionality based on features).

[2018-08-21 07:27] brunocodutra commented on #52849
I'm mostly finished by the way, the only missing piece is to write a convenience macro to avoid code duplication, but I've been lacking the time to work on it. Hopefully by the end of the week I'll have it ready for review.

[2018-08-21 07:34] VictorKoenders commented on #52873
Same issue, slightly different line number

[code]

Filtered log:
[code]

[2018-08-21 08:05] michaelwoerister commented on #52452
I would be awesome to mostly base our tests on `gimli` or `llvm-dwarfdump`...

[2018-08-21 08:17] eddyb commented on #53531
I'd do it during name resolution instead, so you can do `#[foo::cfg(...)]` just fine, but not import it unqualified.

cc @petrochenkov

[2018-08-21 08:28] oli-obk opened #53552 "CTFE interns allocations multiple times"
This is refactoring fallout during the miri merger.

First it is interned in https://github.com/rust-lang/rust/blob/1558ae7cfd5e1190d3388dcc6f0f734589e4e478/src/librustc_mir/interpret/memory.rs#L604 and then again in https://github.com/rust-lang/rust/blob/1558ae7cfd5e1190d3388dcc6f0f734589e4e478/src/librustc_mir/interpret/const_eval.rs#L98

The second place is wholly unnecessary barring bugs in th

[2018-08-21 08:29] oli-obk commented on #53443
Rust + factorio? <3

the issue you are hitting is that a `delay_span_bug` is hidden from you. I'm fixing that later today

[2018-08-21 08:33] eddyb opened #53553 "Pass closure captures explicitly in HIR, and refer to them by index, not local ID."
HIR lowering happens after name resolution, so we know the set of captures (aka "upvars" aka "freevars") of each closure. We could write them out in the closure expression/"definition" instead of keeping an extra map around, and we could also change the `Def::Upvar` of their uses in the body, to use an index instead of referring to each captured local's original `NodeId` / `HirId`.

This way I thi

[2018-08-21 08:34] oli-obk commented on #53457
This might be because existential types skip (https://github.com/rust-lang/rust/blob/6bf6d50a6ff7685b4aa09172d9d09f03f250da9d/src/librustc/middle/resolve_lifetime.rs#L637) the lifetime hacks (https://github.com/rust-lang/rust/blob/6bf6d50a6ff7685b4aa09172d9d09f03f250da9d/src/librustc/middle/resolve_lifetime.rs#L656) that `impl Trait` does

[2018-08-21 08:44] nrc commented on #53463
@rust-lang/infra IS there a downside to doing this?

[2018-08-21 08:46] nrc commented on #53440
oh crap, sorry!

That's correct.

[2018-08-21 08:55] michaelwoerister commented on #53553
Sounds good.

[2018-08-21 08:55] kennytm commented on #53463
No problem for me.

[2018-08-21 09:04] ehiggs opened #53554 "Building basic program using datafusion results in linker panic"
[code]

[code]

[code]

[code]

[2018-08-21 09:11] PramodBisht commented on #53359
@estebank I have created a basic structure to fix the issue, now I am stuck in a situation where I need to show help like `did you mean ...?` How I should display that?

[2018-08-21 09:13] Centril opened #53555 "Tracking issue for a minimal subset of RFC 911, const fn"
This is a tracking issue for the RFC "Const functions and inherent methods" (rust-lang/rfcs#911).

This issue only tracks a minimal subset of the proposal in 911 that we are (hopefully) comfortable with stabilizing. To opt into the minimal subset, use `#![feature(min_const_fn)]`. To use the more expansive feature set, you can continue using `#![feature(const_fn)]` and other associated feature gate

[2018-08-21 09:13] Ekleog commented on #38356
@jan-hudec Oh, I thought `Span`s were only for error reporting, as early blog posts mentioned a `Hygiene` (or similarly named) struct that played this role. I had assumed that these had vanished, and was apparently wrong. Thanks! :)

[2018-08-21 09:14] Centril commented on #53555
Also cc: @eddyb, @RalfJung, @est31, @durka, @mark-i-m, @japaric

[2018-08-21 09:39] petrochenkov commented on #53130
The question of `core` in prelude was briefly discussed recently in https://internals.rust-lang.org/t/2018-edition-end-of-week-post-2018-07-20/8019.
I see no problems with adding it.

The only restriction that, I think, we need to enforce is not adding crates that are not dependencies of `std` into prelude (e.g. `proc_macro`), and not adding crates that are not dependencies of `core` when `no_std`

[2018-08-21 09:40] leonardo-m opened #53556 "Transition graph of some of the most common stdlib types"
In the Rust documentation I'd like an image similar to the graph of page 71 in "How to think in Rust" by Nick Cameron, RustConf 2018:

https://github.com/nrc/talks/blob/master/rustconf-2018-pub.pdf

The slide: https://imgur.com/a/Y5E8qn3

[2018-08-21 09:41] varkor commented on #53525
@mcr431: oh, I forgot about those — yes, these should be merged with E0107 too. Then we'll just have a single error for "you didn't give the right number of generic arguments" (the actual error message itself will give the details about which kind of generic argument, and how many, so we don't need to separate the error codes too). Thanks!

[2018-08-21 09:43] petrochenkov commented on #53130
I haven't seen one more option mentioned.

`--extern` currently has the next syntax:
[code]
We can make the `PATH` optional
[code]
and search the crate `NAME` in library search directories in this case, and if it's not found then it's an error.
The crate `NAME` would still be added into extern prelude.

[2018-08-21 09:47] ehiggs commented on #53554
bt

[code]

[2018-08-21 09:47] rkruppe commented on #24111
@est31 While most transcendental functions are ultimately just library code composed of primitive integer and float operations, these implementations are not standardized and in practice a Rust program can interact with maybe three different implementations throughout its lifetime, some of which also vary by host or target platform:

- There's the runtime implementation the program uses on the tar

[2018-08-21 09:54] davidtwco commented on #53547
@eddyb I think it could make sense to keep line numbers for paths like it is now - I think there could be an (admittedly rare) case where a change causes an error to be reported on an incorrect line and that wouldn't be spotted (although, the highlighted code from the error would need to be the same on both lines - which isn't impossible, just unlikely).

Either way, I'll put together a PR that no

[2018-08-21 09:55] petrochenkov commented on #53531
I have a PR in progress that resolves the penultimate item in https://github.com/rust-lang/rust/pull/50911#issuecomment-411605393 and passes all attributes through name resolution, that includes `cfg` as well.

(Disallowing proc macros named `cfg` is both too much - `#[foo::cfg]` is ok, and not enough - `use my_non_cfg_attr_macro as cfg;`).

[2018-08-21 10:04] petrochenkov commented on #38356
Ideally, fresh issues need be filed for all individual remaining issues and not stabilized features, and then this issue can be closed (in the same way like it was done for https://github.com/rust-lang/rust/issues/44660).

[2018-08-21 10:07] RalfJung commented on #53555
This includes `where` clauses I assume?

I do not understand what this means. What will not work?

Was anything supposed to go there?

[2018-08-21 10:17] Centril commented on #53555
@RalfJung

Indeed. Also `arg: impl Trait` and `-> impl Trait` should probably also be verboten.

From the #24111 issue:

I assume so 😆 I'm waiting for @oli-obk to complete their fleshing out of my initial issue description :)

[2018-08-21 10:28] Centril commented on #53555
Some concerns noted over at #24111:

+ design (https://github.com/rust-lang/rust/issues/24111#issuecomment-376829588)
+ priority (https://github.com/rust-lang/rust/issues/24111#issuecomment-376652507)
+ runtime-pointer-addresses (https://github.com/rust-lang/rust/issues/24111#issuecomment-386745312)
+ everything-const (https://github.com/rust-lang/rust/issues/24111#issuecomment-376652507)
+ ~~para

[2018-08-21 10:37] earthengine commented on #53469
If move the closure inside the `main` function, the following error occurs:

[Playground](https://play.rust-lang.org/?gist=10fd168975e76b094970370071e26dbf&version=nightly&mode=debug&edition=2018)
[code]
Compiling playground v0.0.1 (file:///playground)
warning[E0161]: cannot move a value of type dyn std::ops::FnOnce(): the size of dyn std::ops::FnOnce() cannot be statically determined
 --> src/mai

[2018-08-21 10:37] phil-opp commented on #51342
I created a minimal embedded project here: https://github.com/phil-opp/rust-issue-51342-example

[code]

[2018-08-21 10:41] jq-rs commented on #42849
@Mark-Simulacrum I could take a look to BtreeMap retain(), if there is some guidance/mentoring available. As a first Rust PR it may be otherwise a bit too steep effort.

[2018-08-21 10:52] Dylan-DPC commented on #53537
I'll add the key now. I don't now how do we test this though

[2018-08-21 10:52] eddyb commented on #53130
If we have a mechanism like `--extern proc_macro` we could add Cargo support like this:
[code]
Although it seems more bikesheddy than the `--extern` side.

[2018-08-21 10:57] elichai opened #53557 "Nightly toolchain version different than rustc version"
Hi,
So I noticed it in nightly `2018-04-12` but I'm sure this apply to other nightlys.
I install toolchain `rustup override set nightly-2018-04-12-x86_64-unknown-linux-gnu`
But the rustc version is different `rustc 1.27.0-nightly (ad610bed8 2018-04-11)`.

On the IRC people told me the reason is because the CI starts deployment at 11:00PM and it doesn't end until after the next day starts, this see

[2018-08-21 11:01] davidtwco commented on #53547
Submitted #53558 that adds normalization for this case to `compiletest` as I think we wouldn't ever want to assert that line numbers from compiler source do not change in error messages.

[2018-08-21 11:17] eddyb commented on #53557
Note that the date in `(ad610bed8 2018-04-11)` is *not* a version, it's the timestamp of the last commit (from the last merged PR) *before* the nightly, i.e. ad610bed8. If no PRs get merged, *it doesn't change*.

cc @SimonSapin @alexcrichton This has been discussed before.

[2018-08-21 11:37] RalfJung commented on #53491
Right, so what I meant to say is: We definitely have types where all *initialized* bit patterns are okay -- all the `i*` and `u*` types, raw pointers, I think `f*` as well and then tuples/structs only consisting of such types.

What is an open question is under which circumstances which of these types are allowed to be *uninitialized*, i.e., poison. My own preferred answer is "never".

Reading pad

[2018-08-21 11:50] SoniEx2 commented on #50297
I'm gonna assume this isn't for me, as a crate author, but for IDE developers.

Let me know when crate authors are part of the plan.

[2018-08-21 11:52] oli-obk commented on #53555
does not apply here, because we neither stabilize `union` field accesses which could be used to transmute between any pointer and an integer, nor do we stabilize casting `*const T` to `usize`.

The 2018 edition takes precedence over this feature. Since it has been minimized to a very small surface area which will be enforced by a feature whitelist, it seems plausible that we can get everyone on bo

[2018-08-21 11:57] SimonSapin commented on #53557
The previous attempt at fixing this broke some infra things and was reverted: https://github.com/rust-lang/rust-central-station/pull/27

[2018-08-21 12:02] eddyb opened #53560 "Experiment with a hybrid bitfield + range encoding for Span / DefId."
Roughly, if you have a "container" (file/crate/etc.), and sequential indices in it:
* you can use `(container_index, intra_container_index)` (but that takes 2x space)
* you can split an integer's *bitwidth* into two bitfields, one for each half of the pair above
  * the point where you choose to split is a tradeoff and you can run out of either half
* you can split an integer's *range*, with each

[2018-08-21 12:04] oli-obk opened #53561 "Constant validation is not cached"
Constant validation is not part of the query that evaluates constants, because it would cause cycle errors in case a static directly or transitively contained a pointer back to itself.

One possible solution is to wrap another query around the `const_eval` query, not exposing the `const_eval` query to regular callers (similar to `is_freeze_raw`) and having a wrapper query around it that does the v

[2018-08-21 12:09] PramodBisht commented on #53359
Now this type of output we are getting
[code]
instead of
[code]

[2018-08-21 12:12] RalfJung commented on #53198
`x[i].foo(x[j])` becomes

[code]

but yeah, once we want to do this for more complex paths (in particular, once there are disjoint paths) this becomes more "interesting". `x.a[i].foo(&mut x.b, x.a[j])` we could handle by saying "we apply the rewriting based on the path before the first `Index`", but that might fail otherwise.

Yeah, this will never be as powerful as "full" 2-phsae borrows.

Funny

[2018-08-21 12:13] Mark-Simulacrum commented on #53463
Slightly increased file sizes, but presumably not that big a problem.

[2018-08-21 12:25] josevalaad commented on #29722
Well, when you are talking about assembly in math, you are basically talking about using the SIMD registers and instructions like _mm256_mul_pd, _mm256_permute2f128_pd, etc. and vectorization operations where it proceed. The thing is that you can take different approaches for vectorization, and usually it's a little trial and error until you get an optimized performance for the processor you are t

[2018-08-21 12:33] RalfJung commented on #53555
We do not? I see you sneakily added that to the first post.^^

These are already stable for `const`. Why not allow the in `const fn`?

[2018-08-21 12:48] Centril commented on #53555
@RalfJung

@oli-obk added that part, but I think about it like this: given union field accesses, you can perform `&[mut] T -> usize` and so you may violate our plans for CTFE correctness [per your blog post](https://www.ralfj.de/blog/2018/07/19/const.html). Now, we can say that the operation `*(const/mut) T -> usize` is UB in `const fn`, but I would like to wait with that because:

1. It gives us

[2018-08-21 12:50] earthengine commented on #53469
@oli-obk

Please check #53526 . By adding one more `syntax::with_global` even the error was emitted too late it will still be contained. And a "no errors encountered even though `delay_span_bug` issued" shows up.

[2018-08-21 12:55] nikomatsakis commented on #44524
Hmm. I haven't had time to fully catch up on this thread. I feel wary, though, of giving up on the "use `'_` everywhere a lifetime would appear" rule. I feel though that there is value in having the struct declaration (`Foo<'a, T>`) match up closely with references to the struct (`Foo<'_, u32>`).

That said, if I recall I [made similar arguments to @stjepang some time back](https://internals.rust-

[2018-08-21 13:03] RalfJung commented on #53555
I see. I don't like these inconsistencies but oh well. Looks like `qualify_consts` will be cleaned up... another time.^^

In terms of teaching, again we have the same problem for `const`... I thought the sanity check might help (unlike a `const fn`, a `const` has a very simple "observable behavior" so we can actually test for these things statically) but it seems it does not complain about
[code]

[2018-08-21 13:27] dtrebbien commented on #41079
Thanks for looking into this. I can see that you are right; there isn't an effect of debug_assert!() vs. assert!(). There must be something else at play.

My benchmark is not public at the moment, but I am working to try to clean up everything so that I can eventually publish it.

[2018-08-21 13:34] nikomatsakis commented on #15872
@aturon @scottmcm

I can confirm @scottmcm's interpretation. @aturon, I did indeed change the RFC. I left a few comments along the way (e.g., [a](https://github.com/rust-lang/rust/issues/15872#issuecomment-283977762) and [b](https://github.com/rust-lang/rust/issues/15872#issuecomment-338700138)), but let me summarize:

- The analysis in the RFC was dated.
  - I looked at libstd and found that **al

[2018-08-21 13:38] nikomatsakis commented on #53555
To expand a bit on something:

I had initially considered suggesting that we allow auto traits as well, but I do not think this is a good idea. For one thing, unlike `Sized` ,auto traits may have custom impls, and that might constrain us in ways that we do not want. e.g., you can have

[code]

Now, if you have a `const fn foo<U: Send>(...)` where `U = Foo<T>`, and we accept it, we will therefore b

[2018-08-21 13:41] Centril commented on #53555
@RalfJung

Hehe; I don't like them either, but I fully intend for many of the restrictions to be temporary ^.^

-------------

@nikomatsakis

Right; so I think lifetimes in bounds + `Sized` + `?Sized` (which is the true "no bound") would be permitted.

[2018-08-21 13:51] mark-i-m commented on #53555
I'm curious about the UX side of things. Some of the limitations might be surprising to people. For example, being able to write a generic but not bounds.

I can imagine it being frustrating to start implementing my program and then all of a sudden something doesn't work because it requires nightly. I either have to change to nightly or change my implementation approach.

Of course, it could be on

[2018-08-21 13:54] RalfJung commented on #53555
My long-term plan (which I still did not get around to submit to the const RFC repo...) was that a call to  a *safe* `const fn` would get promoted whenever all its arguments would get promoted. Notably, we do not look into the body.

I originally thought we could not look into the body for promoting uses of `const` either, but IIRC there are problems then because we *do* want to promote
[code]
but

[2018-08-21 14:01] QuietMisdreavus commented on #53543
cc'ing all of @rust-lang/docs because i consider this a docs display request? I'm on board with this, but it also seems like a niche feature to support, i guess.

[2018-08-21 14:05] mark-i-m commented on #48075
Hmm how interesting. It sounds like rustdoc was not getting the correct edition/feature gates or something. That error is emitted only on 2015 or without the feature gate.

Glad it's working now.

[2018-08-21 14:19] alexreg commented on #48075
@CAD97 Yeah, it was pretty late when I wrote that; please ignore me!

[2018-08-21 14:42] oli-obk commented on #53555
A const fn call is "always" promoted right now. If the creation of its arguments involves unions, raw pointer to `usize` casts or raw pointer derefs, then the analysis doesn't even consider the the call for promotion. So it's not a question of whether to promote a const fn call, but whether its arguments seem promotable.

`min_const_fn` does not change this, but it also restricts the function body

[2018-08-21 14:50] GuillaumeGomez commented on #53543
I don't have any objection either. Just a bit weird but doesn't seem like it requires great changes so why not.

[2018-08-21 14:59] RalfJung commented on #53555
So we check the type to be frozen recursively?

Oh so currently we do not do any value-based analysis, and could go entirely off of the type of the `const`, not entering its body?

No that's not true, the following works
[code]

[2018-08-21 15:09] oli-obk commented on #53555
No, I implemented a prototype for checking the constant's final *value* for promotability. So the body is ignored, but we check the value similarly how the const sanity checks work.

[2018-08-21 15:15] RalfJung commented on #53552
The interning in `memory.rs` is also fishy. It determines once, using `is_freeze()`, whether there is interior mutability, and then recursively uses that information when interning stuff behind references. However, `is_freeze()` does not say anything about what is behind references: It is guided by the `Freeze` marker trait, which has
[code]
So really it has to check again after following any poin

[2018-08-21 15:16] RalfJung commented on #53561
The same mechanism is also needed for generic constants to get any validation at all.

Also, when we are adding "wrapper queries", it might be a good idea to have separate queries for const and static. The current situation there (about who reports which errors when, and about whether the result *must* be `ByRef` or *must* be normalized to use `Scalar` where possible) is rather messy.

[2018-08-21 15:17] RalfJung commented on #53555
Well that's still looking "into" the constant, breaking the abstraction.

OTOH it enables reasonable code, so we likely want it. You said you "implemented a prototype", but something seems to already have landed?

[2018-08-21 15:18] Centril commented on #15872
To make sure that @aturon's concern doesn't go unregistered...

@rfcbot concern input-output

[2018-08-21 15:18] oli-obk commented on #53555
No, we've had body-revealing checks since forever. This is nothing new.

[2018-08-21 15:25] durka commented on #53555
Also, has there been an audit of which const fns in std/crates.io can be implemented according to these restrictions?

[2018-08-21 15:26] alexreg commented on #38356
@mark-i-m Kind of. They include both source code location information (for user-facing messages/diagnostics) and syntax context (i.e. hygiene information).

[2018-08-21 15:26] dancrossnyc commented on #29722
Taylor Cramer suggested I post here. Forgive me as I haven't read through all comments to come up to speed with the current state of the discussion; this is only a voice of support and statement of our situation.

For a bare-metal project at Google, we'd love to see some movement on stabilizing inline and module-level assembler. The alternative is using the FFI to call functions written in pure as

[2018-08-21 15:31] michaelwoerister commented on #53560
Sounds like a good idea. For incremental compilation we'd eventually like to have offset relative to item-likes (or something similarly stable). Maybe that could be backed right into such a scheme?

[2018-08-21 15:32] Centril commented on #53555
@durka I've skimmed the const fns in libstd and I think it should all work with these restrictions.
However; if it does not work for some of the stable ones, we will have to create some sort of exemption mechanism for those (think `rustc_const_stable`).

Wrt. control flow and destructuring, see:
+ https://github.com/rust-lang/rust/issues/49146
+ https://github.com/rust-lang/rust/issues/52000
+ htt

[2018-08-21 15:36] oli-obk commented on #53555
@durka this is not the issue for discussing what to *add* to the minimal const fn (control flow isn't even in full const fns yet), but for discussing what to *remove* to make it forward compatible to every possible scheme.

So. @RalfJung has noted that `NonZero::new_unchecked` is not const safe, so the question is whether to ban `unsafe const fn` under this feature gate.

[2018-08-21 15:43] est31 commented on #24111
@rkruppe is there a reason for lowering the transcendental functions to llvm intrinsics? Can't we just avoid the entire problem by lowering them to well known, native implementations?

[2018-08-21 15:48] denzp commented on #38789
@bheisler I can confirm that `obj-is-bitcode` indeed helps to avoid segfault (that's the reason I've never seen the problem before, I always use the flag). But it doesn't affect assembly file creation for me. Let's move further discussion into #53099

[2018-08-21 15:51] gnzlbg commented on #53491
The discussion in a nutshell was about providing a trait, `Compatible<T>`, with a safe method `fn safe_transmute(self) -> T` that "reinterprets"/"memcpys" the bits of `self` into a `T`. The guarantee of this method is that if `self` is properly initialized, so is the resulting `T`. It was proposed for the compiler to fill in transitive implementations automatically, e.g., if there is an `impl Comp

[2018-08-21 16:04] #48589 closed

[2018-08-21 16:07] durka commented on #44109
In the currently implementation, E0639 fires when the attribute is applied to enums, while it should only be relevant when the attribute is on a specific variant: #53549

[2018-08-21 16:16] gnzlbg commented on #29722
The last pre-RFC (https://internals.rust-lang.org/t/pre-rfc-inline-assembly/6443) had pretty much achieved consensus, so the next step is to submit an RFC that builds on that. If you want this to happen faster I'd recommend contacting @Florob about it.

[2018-08-21 16:33] RalfJung commented on #53491
@gnzlbg back then [you were talking](https://internals.rust-lang.org/t/pre-rfc-frombits-intobits/7071/54?u=ralfjung) about `FromBits<T> for [u8]`. That is where I say we have to use `[MaybeUninit<u8>]` instead.

[2018-08-21 16:34] SimonSapin commented on #53120
@superseed

I think that your understanding of the meaning of these two keywords may be the exact opposite of what is proposed here, which is that `pub` means public to everyone while `crate` means accessible from the same crate.

[2018-08-21 16:36] alexreg commented on #48589
Merged! I think some boxes can be ticked off now, @Centril. :-)

[2018-08-21 16:43] joshlf commented on #53491
I discussed this proposal with @nikomatsakis at RustConf, and he encouraged me to go forward with an RFC. I was going to do it in a few weeks, but if there's interest, I can try getting one done this weekend. Would that be useful for this discussion?

[2018-08-21 16:45] Mark-Simulacrum commented on #42849
cc @rust-lang/libs would someone be able to provide some mentoring for @jq-rs?

[2018-08-21 16:45] RalfJung commented on #53555
Instead of banning random subsets of unsafe operations, I'd prefer -- if we want to keep the space open for how we resolve "const safety" -- to just not allow unsafe blocks in `const fn`, period. That would cover both union field access, raw pointer deref and calling `unsafe const fn`.

I think the only safe operation we are worried about is raw ptr to `usize`, and AFAIK that is not even allowed i

[2018-08-21 16:47] RalfJung commented on #53491
@joshlf which proposal are you talking about?

[2018-08-21 16:48] gnzlbg commented on #53491
@RalfJung

Gotcha, fully agree here. Had completely forgotten that we also wanted to do that 😆

[2018-08-21 16:50] michaelwoerister commented on #50960
@LionNatsu or @cuviper, would one of you be willing to report the bug with LLVM? You seem to have the best handle on the issue.

[2018-08-21 16:52] joshlf commented on #53491
A `FromBits`/`IntoBits` proposal. TLDR: `T: FromBits<U>` means that any bit pattern which is a valid `U` corresponds to a valid `T`. `U: IntoBits<T>` means the same thing. The compiler automatically infers both for all pairs of types given certain rules, and this unlocks lots of fun goodness that currently requires `unsafe`. There's a draft of this RFC [here](https://github.com/joshlf/rfcs/blob/jo

[2018-08-21 16:53] gnzlbg commented on #29722
@MSxDOS

It shouldn't be hard to add that one to `stdsimd`, clang implements these using inline assembly (https://github.com/llvm-mirror/clang/blob/c1c07cca8cae5f924cedaac7b202b0f3c167111d/test/CodeGen/bittest-intrin.c#L45) but we can use that in the std library and expose the intrinsic to safe Rust.

[2018-08-21 16:58] RalfJung opened #53566 "vec_deque::Iter has unsound Debug implementation"
Found by @MaloJaffre: The following code causes UB (not observable through crashes, but still):
[code]
This will create a `VecDeque` ring with capacity 8, then turn that into a slice for `Iter`, and then print that entire slice. [Run it in Miri](https://play.rust-lang.org/?gist=d335741994d2e93b78a576c5fa7bdbfb&version=nightly&mode=release&edition=2015) to see for yourself (Miri is in the "tools" m

[2018-08-21 16:58] mark-i-m commented on #53128
Woah, you are right! That's a major ergonmics improvement I'M HOME :)

[2018-08-21 17:04] cuviper commented on #50960
I'm filing it right now.

[2018-08-21 17:04] LionNatsu commented on #50960
@michaelwoerister Filing it right now. I registered a new LLVM Bugzilla account a few hours before.

[2018-08-21 17:05] RalfJung commented on #53491
@joshlf I think such a pair of traits would more build on top of this discussion than be part of it. AFAIK we have two open questions in terms of validity:

* Does it recurse below references? I more and more strongly think it should not, as we see more examples. So likely we should adapt the `MaybeUninit::get_mut` docs accordingly (it is not actually UB to use that before completing initializatio

[2018-08-21 17:06] cuviper commented on #50960
@LionNatsu sorry to race you -- I just filed https://bugs.llvm.org/show_bug.cgi?id=38661

[2018-08-21 17:07] LionNatsu commented on #50960
Oh @cuviper It is okay. I'll add me to CC of your issue page.

[2018-08-21 17:09] alexreg commented on #48589
As for the unresolved questions:

* Do macros need any special care with such identifier tokens?
  No, I can't see how this would affect macros. Perhaps @petrochenkov could second this, however.
* Should diagnostics use the r# syntax when printing identifiers that overlap keywords?
  Yes, I think so, although possibly we should not do this if we're using an old edition and the keyword was only int

[2018-08-21 17:11] aidanhs commented on #53463
Discussed this in an infra team meeting, we don't see any issues.

[2018-08-21 17:12] rkruppe commented on #24111
Besides the simplicity of not implementing a whole cross platform libm, the intrinsics have advantage in LLVM's optimizer and codegen that an ordinary library function won't get. Obviously constant folding (& related things like value range analysis) is a problem in this context but it's quite useful otherwise. There are also algebraic identities (applied by the SimplifyLibCalls pass). Finally, a

[2018-08-21 17:31] alexreg commented on #48589
@cuviper Right, makes sense. I think the rules should be the same as what I proposed for diagnostics, in that case.

[2018-08-21 17:31] Centril commented on #44489
@rfcbot poll libs compiler Can we find consensus around the name `#[panic_handler]`?

[2018-08-21 17:32] joshlf commented on #53491
FWIW, two of the benefits of this not being UB are that a) it lines up with what LLVM does and, b) it allows more flexibility wrt optimizations. It also seems more consistent with your recent proposal for defining safety at use time, not at construction time.

Why would you want to be able to match on something that's uninitialized? Defining it as UB to branch or index based on uninitialized value

[2018-08-21 17:40] SimonSapin commented on #44489
I’ve added the attribute name to the agenda for tomorrow’s libs triage meeting.

[2018-08-21 17:40] est31 commented on #24111
I've thought that such optimizations are only being enabled if fast math is turned on?

Sure. There should always be an *option* to trade this rather academic property -- referential transparency -- in favour of things that matter more like improved speed of the compiled binary or smaller binaries. E.g. by using platform `libm` or by turning on fast math mode. Or do you suggest that we should disa

[2018-08-21 17:42] nikomatsakis opened #53568 "[nll] unresolved inference variable in outlives: _#3t"
The latest crater run reported some ICE errors that look very similar to #52057 (but are potentially different).  This crate is small but pretty involved with its wrappers over hyper, tokio, and futures, resulting in a lot of associated types and bounds, and some of those 'static bounds might have a weird interaction with the NLL typeck, `impl Trait`, and maybe `delay_span_bug`.

@lqd minimized it

[2018-08-21 17:43] gnzlbg commented on #53491
I didn't say I wanted to, I asked that if this cannot be done, what is the difference between `MaybeUinit<u8>::uninitialized().into_inner()` and just `mem::uninitialized()` ?

[2018-08-21 17:45] nikomatsakis opened #53569 "[nll] attr-0.1.0 regression"
Found during a crater run

[Minimized reproduction](https://play.rust-lang.org/?gist=46146e256a3e138cbd42d0ee34b43571&version=nightly&mode=debug&edition=2015)

[2018-08-21 17:48] RalfJung commented on #53491
Essentially, the question is whether we allow the following:
[code]
If we decide that a reference is valid only if it points to something valid (that's what I mean by "recursing below references"), this code is UB.

You cannot inspect an uninitialized `u8` in any way. `match` can do many things, both binding names and actually testing for equality; the former is okay but the latter not. But you *c

[2018-08-21 17:55] gnzlbg commented on #53491
Gotcha.

`mem::uninitialized` also has the problem that you pointed out above: that creating a reference to an uninitialized value might be undefined behavior (or not). So is the following UB?

[code]

I thought that one of the reasons for introducing `MaybeUninit` was to avoid this problem by always having the union initialized (e.g. to unit), which allows you to take a reference to it, and mutat

[2018-08-21 17:55] joshlf commented on #53491
If we say that undefined memory has some value, and thus you're allowed to branch on it according to the Rust semantics, then we can't lower it to LLVM's version of undefined, because it'd be unsound.

That's fair.

Do any of these use cases include having byte slices which hold uninitialized values?

[2018-08-21 17:55] nikomatsakis opened #53570 "[nll] overly strict `T: 'static` bound arising from closure"
The recent crater run found an incorrect `T: 'static` bound compiling [cswinter.locustdb.c5942997e6bdbb94fe0920e67bd96b0637399b97](https://github.com/cswinter/LocustDB/tree/c5942997e6bdbb94fe0920e67bd96b0637399b97) ([log](https://crater-reports.s3.amazonaws.com/pr-53426/a5d98b025f62ace80fe9d2a15781f900fc42515e-alt/gh/cswinter.LocustDB/log.txt)). This looks perhaps like a variant of https://github.

[2018-08-21 17:57] sfackler commented on #53491
One place that an uninitialized-but-not-poison `&mut [u8]` could be valuable is for `Read::read` - we'd like to be able to avoid needing to zero the buffer just because some weird `Read` impl could read out of it rather than just writing into it.

[2018-08-21 17:58] nikomatsakis commented on #53114
Hmm, that's surprising to me. Maybe I'm forgetting which bits of desugaring are done on HAIR vs MIR -- I would think that the field accesses would be quite easy to spot.

[2018-08-21 17:59] spwitt opened #53572 "Bad "Ambiguous Numeric Type" Recommendation from Compiler in for loop"
The `pow` function cannot be called on an ambiguous numeric type. If `pow` is called on the variable of a `for` loop, the compiler's recommended solution to add a concrete numeric type does not compile.

Example code with ambiguous numeric type:
[code]

Gives the error:
[code]

Implementing this recommendation by adding type to variable `i` as shown in the compiler recommendation and trying to com

[2018-08-21 18:07] joshlf commented on #53491
I see, so the idea is that `MaybeUninit` would represent a type which is initialized, but with undefined contents, while other types of uninitialized data (e.g., padding fields) would still be fully uninitialized in the LLVM poison sense?

[2018-08-21 18:07] djrenren commented on #50297
@jonhoo

I don't want to get too bikesheddy on how that particular macro would work but basically we'd just produce a single const that had the `#[test_case]` annotation. The children would be aggregated inside it.

`Fn(&[&Foo]) -> ()` is a subtype `Fn(&[&mut Foo]) -> impl Termination`. It's not required that Foo be a Trait but if it is, then you need `dyn`, so those two lines aren't in contradict

[2018-08-21 18:09] djrenren commented on #50297
@SoniEx2 It is for crate authors! 😄

For most crate authors (unless you're authoring test machinery), you'll just import any macros you want for declaring tests or benchmarks, and then you'll pick a test runner. For most cases the built-in one should be fine though.

[2018-08-21 18:11] superseed commented on #53120
@epage

In the case of `pub(crate)`, it *does* offer a really neat feature, and actually reads well, but looks too much like a function call in my eye. i.e. without syntactic highlighting I'd probably be really confused, and highlighting shouldn't be necessary to understand the semantics of a language.

@SimonSapin

Indeed, and I realize that's the way it's supposed to be understood, but `crate` -

[2018-08-21 18:11] sfackler commented on #53491
I don't think it'd need to apply to MaybeUninit generally. There could in theory be some API to "freeze" the contents from undefined to defined-but-arbitrary.

[2018-08-21 18:11] nikomatsakis commented on #53570
The following errors look similar, but it's hard to tell if it's the same problem:

/crates/proptest-arbitrary/0.2.2): [log](https://crater-reports.s3.amazonaws.com/pr-53426/a5d98b025f62ace80fe9d2a15781f900fc42515e-alt/reg/proptest-arbitrary-0.2.2/log.txt)

[2018-08-21 18:13] rkruppe commented on #24111
Constant evaluation of these functions and emission of `sqrtss` is easy to justify without -ffast-math, since it can be made correctly rounded.

I am not suggesting anything, nor do I have an opinion (atm) on whether such a property should be guaranteed. I am simply reporting constraints.

[2018-08-21 18:13] aturon commented on #52040
This issue is not currently actionable. I've removed from the milestone but tagged for @rust-lang/lang team discussion.

[2018-08-21 18:16] #44582 closed

[2018-08-21 18:16] #49694 closed

[2018-08-21 18:16] #52806 closed

[2018-08-21 18:16] #53291 closed

[2018-08-21 18:16] RalfJung commented on #53491
That was never the proposal. It is and will remain UB to *branch on* `poison`.

The question is whether it is UB to merely "have" a `poison` in a local `u8`.

Slices are like references, so `&mut [u8]` of uninitialized data is fine as long as it is only written into (assuming that is the solution we take for reference validity).

[2018-08-21 18:19] #53176 closed

[2018-08-21 18:26] djc commented on #52133
So can we please get some clarity on why this got changed/what the policy should look like? I'm happy to help clarify a policy and/or put it in writing, I just don't want to encode stuff now that might turn out to be wrong later because I'm guessing at motivations for this particular change.

[2018-08-21 18:28] orium commented on #53097
I think I have hit the same bug, and I have a minified example.  I'm not 100% sure it is the same, but it likely is.  It also has two macros with the same name, it seems to ICE in `CacheDecoder`, and it only happens in the second iteration when incremental compilation kicks-in.

`Cargo.toml`:
[code]

`src/lib.rs`:
[code]

This bug is non-deterministic.  It sometimes takes me a few tries to make th

[2018-08-21 18:31] rpjohnst commented on #53120
`pub` has always meant "this is exported out of the crate"- this isn't a change at all. The fact that so many assume otherwise is why the `pub(crate)` visibility level is being pushed at all.

[2018-08-21 18:38] Pazzaz commented on #53529
I can verify that this is because of my PR. Minimal example that segfaults for me:
[code]
And the reason for the segfault is apparent when run with simpler types
[code]
This will print
[code]
and continue in such a loop forever, printing the buffer over and over again. This happens because of line [1119](https://github.com/rust-lang/rust/blob/9f9f2c0095cd683b94adca133f2733aa1f88bb19/src/liballoc/c

[2018-08-21 18:41] SoniEx2 commented on #50297
but how do you run tests inside a hexchat instance, considering the whole hexchat plugin loading system and stuff?

[2018-08-21 18:43] SoniEx2 commented on #50297
I mean you can't (easily) run hexchat (a GUI-based networked program) in cargo, can you?

[2018-08-21 18:44] seanmonstar commented on #53120
I think this understanding may also cause some confusion, because it's not the full picture. `pub` truly means "I don't care who outside of this module accesses this item/field/method". To be exported from the crate, it still requires that a path to the item also has the same `pub` modifiers on them.

This detail is pretty usual in many languages. It's also why I'm not keen on the `unreachable_pub

[2018-08-21 18:45] LionNatsu commented on #50960
These two issues can be marked as duplicated:
- powerpc32: Expected no forward declarations! LLVM ERROR: Broken function found, compilation aborted! #41253
- '-g' flag causes crash in PowerPC rustc for certain inputs. #31302

BTW, should we change the title of the issue a little bit?

[2018-08-21 18:46] nikomatsakis commented on #53182
Closing as a duplicate of https://github.com/rust-lang/rust/issues/52992 -- thanks all!

[2018-08-21 18:46] #53182 closed

[2018-08-21 18:48] nikomatsakis commented on #53004
@pnkfelix I am doing a triage sweep and am not sure where to put this -- going to put in Edition Release for now I guess.

[2018-08-21 18:51] nikomatsakis commented on #52934
Based on the contents of rust-lang-nursery/rust-clippy#2982, it appears @pnkfelix that you now believe these to be *legitimate regressions* (i.e., NLL-fixed-by-NLL)? I'm inclined therefore to close this issue? Or am I wrong...

[2018-08-21 18:51] nikomatsakis commented on #52934
Leaving untriaged for now.

[2018-08-21 18:52] matthewjasper commented on #53569
Assigning myself since I've done some work in this locally. But I have a lot going on ATM, so anyone else can feel free to take it.

The issue is the same as #47917, #49822 and #52782 but for enums. I have plans to move all of this checking to happen in/after `places_conflict` which should also handle this case correctly.

[2018-08-21 18:53] nikomatsakis commented on #52742
We now get:

[code]

This seems pretty reasonable. Going to mark as NLL-deferred for now.

[2018-08-21 18:54] nikomatsakis commented on #52669
I would classify this as a "minor diagnostic improvement". I'm moving to the Milestone and marking as E-needs-mentor.

[2018-08-21 18:58] nikomatsakis commented on #52534
I'm repurposing this issue slightly. I think the general problem here is this note:

[code]

in particular, it would be great if we could explain *why* this is the case. We have some of the machinery that we need now, which we use as part of region errors. To start though it'd be good to brainstorm just what this would look like.

cc @davidtwco @estebank

[2018-08-21 18:59] nikomatsakis commented on #52708
I'm marking this as NLL-deferred -- not because I don't want to see it done, but because I don't think it quite rises to the level of a milestone issue. @csmoe is still hard at work here though as far as I know!

[2018-08-21 19:05] Centril commented on #53555
Update:

+ `unsafe { .. }` is now banned.

+ lifetimes, `Sized`, and `?Sized` in bounds (either implicitly / explicitly) is now permitted.

[2018-08-21 19:05] LionNatsu commented on #50960
By the way, there was another ICE panic issue on `rand` module about syscall number: https://github.com/rust-random/rand/pull/589 fixed and released version 0.4.3 last week.

rustc calls rand for incremental build and temporary filenames, so if your rust program on powerpc has not been fixed (migrated to 0.5 or recompiled with rand 0.4.3), it probably doesn't work. I have a patch here: https://pas

[2018-08-21 19:07] comex commented on #53366
@parched

Yep, that looks right.

I'm actually a bit surprised, but I think your basic approach, where you end up swapping from `NOTIFIED` to `NOTIFIED`, is sound.

1. One unparker

1. Thread 2 unparks Thread 1, swaps from `PARKED` to `NOTIFIED` and proceeds to wake up Thread 1
2. Thread 3 unparks Thread 1, swaps from `NOTIFIED` to `NOTIFIED` … but the
3. Thread 1

[2018-08-21 19:11] parched commented on #53366
@comex Actually I spotted a bug, I think it should be
park:
[code]

[2018-08-21 19:15] estebank commented on #52534
Nightly emits

[code]

It could be (the text would need more effort):

[code]

[2018-08-21 19:36] varkor commented on #53572
If https://github.com/rust-lang/rfcs/pull/2522 is accepted, the suggestion should work as is.

[2018-08-21 19:41] comex commented on #53366
On second thought (and after reviewing [cppreference's summary of modification order](https://en.cppreference.com/w/cpp/atomic/memory_order) a bit more), I'm pretty sure it is sound with respect to that issue.

On the other hand, it seems a bit suboptimal that your revised version has park do two CASes in a row.  It might be better to start with the existing implementation and make `unpark` do an

[2018-08-21 19:55] nikomatsakis commented on #53569
Further minimized:

https://play.rust-lang.org/?gist=3381ab532d051339d34a57a7ba395ec8&version=nightly&mode=debug&edition=2015

[2018-08-21 19:56] scottmcm commented on #15872
Good catch, @nikomatsakis!  The RFC was merged 2014-07-09; in 2014-09 `Add` was still

https://github.com/rust-lang/rust/blob/98fff20a7c95bdbb32652a95fd3211f743218b46/src/libcore/ops.rs#L114-L118

Another thing I noticed: eliding a lifetime parameter to a trait is often useless, since it needs to be mentioned later in a method signature.  For example, [`rustc::mir::visit::Visitor<'tcx>`](https://d

[2018-08-21 19:59] nikomatsakis commented on #53171
I'm going to close this -- @lqd did the crater run, and we've analyzed the results and opened the requisite issues. The following links contain the analyzed results:

- [hackmd document](https://hackmd.io/yK9YhE8-TGGA79tqOpkoCA?both)
- https://github.com/nikomatsakis/nll-crater-run-results/pull/1
- ICEs are found in https://github.com/rust-lang/rust/issues/53482

[2018-08-21 19:59] #53171 closed

[2018-08-21 19:59] ashtneoi commented on #53365
So far I've managed to fix the most obvious limitations of #53147, at the expense of a couple silly suggestions involving block expressions. Working on fixing those. Then I'll take a stab at actually searching the AST for more appropriate places to suggest things (like inside tuples, arrays, and structs), and if that doesn't pan out I'll just submit a PR for what I have (if it looks useful enough)

[2018-08-21 20:01] eddyb opened #53576 "Rename "anonymized types" internally (TyAnon & friends) to "opaque types" (TyOpaque etc.)."
~~Now that we're settling on "static existentials" for the generalized version of `-> impl Trait`, I think it's time to retire my original nomenclature and use the official(?) one uniformly in the compiler.~~

**EDIT**: going with "opaque", see below.

cc @cramertj @oli-obk @aturon @Centril

[2018-08-21 20:04] cuviper commented on #50960
@LionNatsu Were you able to test if that LLVM patch is enough to fix `rustc` overall?  It's clear to me that it fixes the narrow IR test case, but it's always possible that there's more going on.  I'm especially wondering since this bug report only appeared fairly recently in Rust, but my bisection of the LLVM codegen goes all the way back before LLVM 3.5!

[2018-08-21 20:11] cuviper commented on #50960
Well, I guess the other bugs you just referenced are much older, so maybe this has indeed been a long problem, just somehow it's been good enough to limp along anyway...

[2018-08-21 20:12] joshtriplett commented on #53130
@eddyb Big fan of that syntax, and the `--extern NAME` syntax.

[2018-08-21 20:26] parched commented on #53366
Looking at the revised version of park now I realise it's basically just the original version with the swap added like @stjepang did in his [PR](https://github.com/tokio-rs/tokio/pull/528), the only difference being locking the mutex later. So, assuming the usual case of unpark not being called at the same time as park, there's 1 CAS if notified and 2 when empty (swap never called). If you removed

[2018-08-21 20:27] eddyb commented on #53576
Alternatively, since @varkor protests, I'd be fine with `TySome` and "some type" in error messages (okay maybe it's just that I find this part amusing).
cc @aturon @Centril

[2018-08-21 20:43] glaubitz commented on #50960
@cuviper Testing the patch now. Will report back ASAP.

[2018-08-21 20:48] LionNatsu commented on #50960
Emmm.. `rustc` compiles my Rust code without error message now. Yes, but I am not sure if it was completely working as intended. The bug can silently change the logic... This time we found it because it marked a function definition as declaration then LLVM complained "Are you adding stuff in a function definition?" aka. "Expected no forward declarations!".

Yes.

BTW, I ran `grep -lr 'extern "C"'|

[2018-08-21 20:55] superseed commented on #53120
@rpjohnst Is it really what it always meant? Wasn't it the chain of "visible from `super`"  from the top of the crate which made an element exported, and not qualifying the leaf element itself as `pub`?

[2018-08-21 20:56] alexreg commented on #53130
Same.

[2018-08-21 21:04] Nemo157 commented on #53130
With a potential extension to replace `no_std`:

[code]

Although this will conflict with having a `std` feature that activates other dependencies features... (but hopefully that can be fixed for optional dependencies in general) and my first thoughts on implementation seem difficult to make backwards compatible with existing `no_std` crates.

[2018-08-21 21:05] nikomatsakis commented on #53569
Hmm, looking a bit more closely, I would say that this is a subtle situation. I agree with @matthewjasper that this is basically a "dangly paths" situation (cc #52782). That said, @matthewjasper, I'm not sure I understood the fix you were proposing. =)

Let me lay out what is happening, as best as I understand it:

- First, the call to `self.get` returns a `Result<&'0 mut Value, String>`
- Then, t

[2018-08-21 21:09] CryZe commented on #48649
It seems to me like eddy's comment doesn't apply (anymore?) because the problematic case shown throws the following warning:
[code]
indicating that the variable is indeed not mutated.

[2018-08-21 21:15] parched commented on #53366
And doing an extra CAS before wait which is only needed because the mutex is locked later. So @stjepang's version of park is probably best.

[2018-08-21 21:20] GuillaumeGomez commented on #50542
Seems to be working so I close it.

[2018-08-21 21:20] #50542 closed

[2018-08-21 21:28] SoniEx2 commented on #50297
can I assume this won't help test integrations (how your plugin behaves running inside a host program) and is more geared towards testing your plugin's independent parts?

[2018-08-21 21:32] naufraghi commented on #44800
This bug is referenced in [ CVE-2018-1000657](https://cve.mitre.org/cgi-bin/cvename.cgi?name=%20CVE-2018-1000657):

[2018-08-21 21:50] rpjohnst commented on #53120
No, that's not the whole story, and @seanmonstar's clarification hints at the rest. The biggest exception is reexports- you can `pub use` something whose parent modules are private. A weirder example is something like [this](https://play.rust-lang.org/?gist=3ac86f5b0b440afa9d5b97fb332586c6&version=stable&mode=debug&edition=2015), where you're allowed to use a `pub` item in a public interface even

[2018-08-21 21:50] Pratyush commented on #53555
If I understand correctly, one still cannot mark trait functions as `const`. If so, how is integer arithmetic `const`? Doesn't the implementation go through the arithmetic traits?

[2018-08-21 21:51] tomhoule commented on #53481
I believe my project is hitting the same issue: see the travis CI runs for this PR: https://github.com/tomhoule/graphql-client/pull/79

[code]

[2018-08-21 21:59] Centril commented on #53555
@Pratyush so what happens essentially is that we route integer arithmetic and other overloaded operations on primitive types to their intrinsic operations. For example, see the comment [here](https://github.com/rust-lang/rust/blob/2d6d3acf4f6f405af1fcf178300a0728496de138/src/librustc_typeck/check/writeback.rs#L115-L118)

You can observe that integer arithmetic works fine in `const` contexts becaus

[2018-08-21 22:13] petrochenkov commented on #53512
Fixed in https://github.com/rust-lang/rust/pull/53471

[2018-08-21 22:15] superseed commented on #53120
Oooh okay, thanks for the clarification! I had a much more naive model in mind. It makes more sense regarding previous comments about "the current meaning of pub".

[2018-08-21 22:48] #53269 closed

[2018-08-21 22:48] #53512 closed

[2018-08-21 22:48] ms2300 commented on #53576
@eddyb Can I take this ticket on? As it'd be the first ticket I'd take here is there anything I should know beyond the contributing.md?

[2018-08-21 22:54] CodeSandwich commented on #29625
@alexreg Ok, I'll prepare it in spare time. Unfortunately I lack knowledge and experience to actually implement it or even fully understand the idea.

[2018-08-21 23:02] eddyb commented on #44662
We need to make sure that we handle `dyn<` correctly: currently it's treated as a generic type named `dyn` but in the new edition it should be a syntax error.

I have a suggestion for the Rust 2018 side of this, that's *maybe* a bit late:
We can replace the wordy `dyn for<'a> Fn(&'a T) -> &'a U` with `dyn<'a> Fn(&'a T) -> &'a U`.
(and then turn the former into a syntax error)
I don't know why we d

[2018-08-21 23:28] leonardo-m commented on #53572
Beside rfc2522, it's better to minimize the usages of as casts, so this is better:

`for i in 0i32 .. 1000 {`

[2018-08-21 23:35] eddyb commented on #53576
@varkor wants it to be `TyOpaque`, so maybe we should do that instead instead of my half-baked ideas.

@ms2300 Seems good! Searching for `Anon` and `anon` should find you all of the relevant places in the codebase (you can ignore `AnonConst` - if you see more that you're not sure about, feel free to ask).

[2018-08-21 23:35] Centril commented on #53576
I, like @varkor, would be most happy with `TyOpaque` instead of vocabulary reminiscent of existential types (e.g. `TySome`, `TyExists`, ..)

[2018-08-21 23:37] ms2300 commented on #53576
Sounds good, I'll let you all know if I have more questions

[2018-08-21 23:38] lucatrv commented on #53474
Thanks for the explanation.

The content of `C:\Program Files (x86)\Microsoft Visual Studio\2017\WDExpress\VC\Auxiliary\Build\Microsoft.VCToolsVersion.default.txt` is:

Here is the output of `Get-ChildItem -Recurse`: [Get-ChildItem-Recurse.txt](https://github.com/rust-lang/rust/files/2308358/Get-ChildItem-Recurse.txt)

[2018-08-21 23:43] djrenren commented on #50297
For those worried about stdout capture, I've just demonstrated how this proposal can allow for @CAD97's style of multiprocess stdout capturing:
https://github.com/djrenren/rust-test-frameworks/blob/master/multiprocess_runner/src/lib.rs

This code compiles and runs under my PR: https://github.com/rust-lang/rust/pull/53410

The output of `cargo test` is available in the same directory and is called

[2018-08-21 23:44] alexreg commented on #44662
I like the explicitness of `dyn for<'a> ...` personally.

[2018-08-21 23:45] alexreg commented on #29625
@CodeSandwich Don't worry, so do I! Maybe get yourself on Rust's Discord (#design channel) and we can discuss it with some people who really know the nitty gritty? You can ping me there, same username.

[2018-08-21 23:46] estebank commented on #53560
@michaelwoerister [as I mentioned in the incr.comp thread](https://github.com/rust-lang/rust/issues/47389#issuecomment-360038983), I would very much be in favor of making `Span`s offsets off their containers, but implementing it is _not_ going to be trivial, I believe.

[2018-08-21 23:55] spwitt commented on #53572
Is there a reason to avoid `as` other than `0i32` being cleaner and more idiomatic?

Given there is a good workaround and a forthcoming change, should this issue stay open or be closed? This is my first github issue and second week using Rust.

[2018-08-21 23:56] Centril commented on #44662
With respect to @eddyb's comment:

+ I agree that `dyn<` should be a syntax error in Rust 2018.
+ I think `dyn<'a> Fn(&'a T) -> &'a U` is nice as a shorthand and may lead us to `dyn<T: Bar>` long term.
+ I don't think we need to make `dyn for<'a> Fn(&'a T) -> &'a U` illegal. Having it, even tho redundant, is good for consistency and preserving the property that `dyn $bound` works as much as possib

[2018-08-21 23:58] estebank commented on #53510
I believe that the only way to improve this will require stabilizing [`rustc_on_unimplemented`](https://doc.rust-lang.org/unstable-book/language-features/on-unimplemented.html).

@dtolnay I'm not sure it it's possible, but could `serde` optionally use `rustc_on_unimplemented` in nightly? It would improve the situation for a subset of users (at the expense of having to keep track of the feature's c

[2018-08-22 00:08] varkor commented on #53572
@spwitt: this issue can stay open! This is currently a valid issue with the diagnostics: it might just be worth waiting for the RFC (or making a temporary fix now).

In this example, no: all `as i32` is doing is directing the type inference. `0i32` just looks slightly cleaner.

[2018-08-22 00:28] varkor commented on #53525
@mcr431: if you run the tests with `--bless`, it should update most of them automatically. In some places you might need to modify the `//~ ERROR` comments in the test itself though. I'd expect quite a lot of test output to change, so don't worry if you end up needing to modify some of the tests.

[2018-08-22 00:33] dtolnay commented on #53510
If it gets stabilized I would be happy to use it. Before then, it would need to be behind our `features = ["unstable"]`. Development on nightly is unstable enough without major crates opportunistically enabling unstable features automatically.

Could you recommend a `rustc_on_unimplemented` message that would improve the error here?

I would ideally also like to add a message when specifically `De

[2018-08-22 00:38] Mark-Simulacrum opened #53582 "Stop passing stage1/stage2 to compiler build"
We should only pass stage0 in general, `cfg(not(stage0))` should be sufficient for all use cases.

cc @rust-lang/compiler for awareness and in case there's any concerns

[2018-08-22 00:40] estebank commented on #53510
With `rustc_on_unimplemented` you can target the main message, the label, add a custom note and display different messages depending on the type of `Self` and the type arguments (I have no idea if it'd work with lifetimes, but I doubt it).

That being said, looking at the code more closely I can see that we should improve the error message regardless, as this is a bad interaction of typeck with tr

[2018-08-22 00:45] eddyb commented on #53560
@estebank I'd start with splitting the "file" component out first (because it *is* the implicit "container" of each span's lo/hi "indices"), and then we can try to do something of finer granularity.

[2018-08-22 00:52] mcr431 commented on #53525
@varkor understood. How should I handle the errors such as ui/error-codes/E0244.rs (as well as all other removed error codes). Should these tests be removed (and then added to ui/error-codes/E0107.rs) or should I just edit them to use 0107 error code? Not super familiar with the testing structure so not sure if this question makes any sense.

[2018-08-22 00:53] estebank commented on #53572
The incorrect suggestion [is "fixed" in nightly](http://play.rust-lang.org/?gist=7078e92575be7b9885a53fa297cdd7b0&version=nightly&mode=debug&edition=2015) since #51670:

[code]

[Casting (`as`) has some tricky semantics](https://doc.rust-lang.org/reference/expressions/operator-expr.html#semantics). I particularly prefer using `.into()` when available (and that conversion is available only when `as

[2018-08-22 00:57] #53374 closed

[2018-08-22 01:00] varkor commented on #53525
@mcr431: ah, I forgot about those. I would edit them to use the `E0107` error code (the other deprecated error codes still seem to have tests).

[2018-08-22 01:01] CAD97 commented on #50297
And just for clarity, the example does spawn a process for each test, [which is suboptimal on OSes where process creation is slow, e.g. Windows](https://github.com/rust-lang/rust/issues/50297#issuecomment-389059878). A real runner would implement a scheme like I described earlier to avoid spawning more processes than necessary. (And actually parallelize the running of tests.)

[2018-08-22 01:02] mcr431 commented on #53525
@varkor Thank you!

[2018-08-22 01:02] estebank commented on #53572
@varkor I'm inclined to close this as duplicate of #51972 and #51634, but we probably should still improve the output to be

[code]

cc @zackmdavis who proposed that in one of the linked tickets.

[2018-08-22 01:37] eddyb commented on #53130
@Nemo157 Ohhhh right, having both `name = "foo"` and `name = { foo = true }` is fine!
I updated my original comment, I like this *a lot*.

cc @rust-lang/cargo

[2018-08-22 01:39] jchlapinski opened #53583 "[nightly regression] rustc incorrectly parses attributes as macro invocations in nightly-2018-08-18"
In the newest nightly all attributes with names identical to existing macros are parsed as macro invocation (note the lack of `!` at the front of `dummy` in the example below).
Previous version `nightly-2018-08-17` works as expected.
This breaks compilation of some of our custom derives, using same name for attributes and macros, which was previously allowed.

I tried this code:

[code]

I expecte

[2018-08-22 01:46] mcr431 commented on #53525
Didn't realize you said I should remove E0001 and already submitted PR. let me know If i should modify to remove it

[2018-08-22 01:56] eddyb commented on #53114
@nikomatsakis Patterns are probably the biggest thing that still exists in HAIR but not MIR. But if we have types in every node then it's probably plausible to handle it.

[2018-08-22 01:59] alexreg commented on #48055
@mikeyhew Sadly @alercah just postponed their `DerefMove` RFC, but I think a separate RFC for `&move` that complements that (when it does get revived) would be very much desirable. I would be glad to assist with that even, if you're interested.

[2018-08-22 02:09] petrochenkov commented on #53583
Currently this is expected behavior - fn-like macros, attribute macros and derive macros share single namespace and can shadow each other (similarly to types being able to shadow traits etc).
See https://github.com/rust-lang/rust/issues/53205#issuecomment-411599806 for some motivation.

This change shouldn't affect stable Rust since attribute macros were stabilized only few days ago.

[2018-08-22 02:46] scottmcm commented on #44662
@eddyb I don't think `dyn<'a>` is important enough to try to rush it into the edition (without prejudice).

Maybe start an IRLO thread or RFC issue to discuss it?  I'm not convinced here is the best place.

[2018-08-22 02:56] petrochenkov commented on #53481
Fixed in https://github.com/rust-lang/rust/pull/53587

[2018-08-22 02:59] retep998 commented on #53474
Are you on 32-bit Windows or 64-bit Windows? It appears you *only* have `Hostx86` toolchains. If you're on 32-bit Windows, that's fine, but if you're on 64-bit Windows (which seems likely given the existence of `C:\Program Files (x86)`) then Rust is trying to look for the `Hostx64` toolchains and failing. Please let me know as there may need to be a fallback implemented.

[2018-08-22 04:49] eddyb commented on #44662
As long as `dyn<` is an error and we don't plan to deprecate `for<'a>` then it's a non-issue.

[2018-08-22 04:59] eddyb commented on #29722
@josevalaad

Ah, I suspected that might be the case. Well, if you want to give it a try, you could translate the assembly into `std::arch` intrinsic calls and see if you get the same performance out of it.

*If you don't*, please file issues. LLVM isn't magic, but *at least* intrinsics should be as good as asm.

[2018-08-22 05:02] eddyb commented on #29722
@dancrossnyc If you don't mind me asking, are there any usecases/platform features in particular that *require* inline assembly, in your situation?

@MSxDOS Maybe we should expose intrinsics for reading the "segment" registers?

<hr/>

Maybe we should do some data collection and get a breakdown of what people *really* want `asm!` for, and see how many of those could be supported in some other way.

[2018-08-22 05:37] eddyb commented on #53560
Hmm there's something weird we can do with spans: all top-level declarations today end in `;` or `}`, so *while lexing* we can split a file into one chunk/container per top-level declaration.

Then we'd never have "true files" for spans within Rust modules.
Alternatively, we can just make fake files when converting AST into HIR, by translating all the spans into item-relative ones.

Or we can make

[2018-08-22 05:52] pthariensflame commented on #53322
Problem still present with `rustc 1.30.0-nightly (33b923fd4 2018-08-18)` and:

[code]

This is especially weird as it accepts it for printing the configuration, but then doesn't when actually compiling.  😫

[2018-08-22 06:04] chisophugis opened #53589 "confusing "unused type parameter" diagnostic"
I really don't get this diagnostic. It says that U is unused, but removing U causes a " cannot find type `U` in this scope" diagnostic. Is U used or not? I feel like this diagnostic could be improved.

(btw, I arrived at this code while reading https://doc.rust-lang.org/book/2018-edition/ch13-01-closures.html#limitations-of-the-cacher-implementation)

[code]

([Playground](https://play.rust-lang.o

[2018-08-22 06:05] eddyb opened #53590 "incremental: hash items' source tokens to generate DefId's."
We should strive to handle the "only touched one item" case *very well*, which means *either* knowing the exact modified range, *or inferring it* through a series of heuristics.

The current `DefPath` machinery doesn't know how to properly understand things like e.g. `impl`s haven't changed, and would assume that adding an impl invalidates further ones in the same module.

If we *only* apply the e

[2018-08-22 06:17] eddyb opened #53591 "Separate the Def::{Local,Upvar} cases from hir::ExprKind::Path."
All other things an expression can refer to, have `DefId`s.
If we separate them, then we can use a proper `HirId` for `hir::ExprKind::Local`, and maybe even refactor the current `hir::def::Def` enum away.

cc @nikomatsakis @michaelwoerister

[2018-08-22 07:18] kud1ing opened #53593 "Documentation: add goal-oriented method tables to the API documentation"
I've recently struggled to use `HashMap` in a certain way.

To help me, i've assembled the methods in goal-oriented tables:

![HashMap](https://user-images.githubusercontent.com/391975/58480897-96970f00-815b-11e9-9308-6139789dca0c.png)

I think it would be beneficial to both users and Rust developers to have something like this in the API docs.

The tables show some empty cells, which means the fu

[2018-08-22 07:58] leonardo-m commented on #53572
The use of "as" should be minimized in Rust code because Rust doesn't perform overflow tests for "as" casts even in debug builds. It's a significant Rust design mistake.

[2018-08-22 07:58] eddyb commented on #53590
@oli-obk It wouldn't be *that* direct. You can basically ignore such items until you've guessed their respective modules, which should narrow it down.

[2018-08-22 08:06] Cyres commented on #53555
Does this include `wrapping_add`, `checked_add`, `rotate_left/right` etc.?

[2018-08-22 08:14] eddyb commented on #53590
Another experiment idea: just... don't hash identifiers (maybe only keywords?). This would give you some stability across renames.

[2018-08-22 09:03] #53140 closed

[2018-08-22 09:49] shawnscode opened #53595 "Values are not dropped in the opposite order after a `if let`."
[code]

([Playground](https://play.rust-lang.org/?gist=c1de20e85024a34c913bb485f12c5902&version=nightly&mode=debug&edition=2015))

It seems that `num` is dropped before the temporary RwLockGuard which is counter intuition.

[2018-08-22 10:42] RalfJung opened #53596 "Tidy CTFE/miri"
CTFE/miri (the code in `src/librustc/mir/interpret` and `src/librustc_mir/interpret`) is currently exempt from tidy:

https://github.com/rust-lang/rust/blob/24bc544db4238a8248be7d6e7eae893cf945f1f2/src/tools/tidy/src/lib.rs#L79-L80

That should not be hard to fix, it is mostly a matter of adding a license header everywhere and breaking long lines into less than 100 characters. Basically, start by

[2018-08-22 10:42] sanmai-NL commented on #53125
@Centril,
Maybe I’m naive about the process here. How come this has been accepted so quickly, right away before any comment was posted? The concern about teachability hasn’t been addressed by @joshtriplett. Maybe this can be pushed through like that, just want to ask what the process is supposed to be?

[2018-08-22 10:46] csharad opened #53597 "Bug: No error when type is leaked from private mod"
The compiler does not error on leakage of  type from private mod.

Code:
[code]

This lib compiles without a problem (no private type leaked error).
But there is no way to use it in other libs/bins or in tests, as the types are actually private.

Compiled on:
[code]
and
[code]

[2018-08-22 10:52] andreytkachenko opened #53598 "ICE: Existential type (w/ and w/o NLL)"
here is the example:
[code]

this example will compile well if you remove `nll`

[2018-08-22 10:56] willmo commented on #53366
It looks like the troublesome store was added just recently in #51290 to avoid spurious wakeups, but those are supposed to be allowed anyway.

[2018-08-22 10:59] earthengine commented on #53448
@matthewjasper
Please add "nll" tag because this is emitted by `rustc_mir::borrow_check::nll::type_check::Locations::span`

[2018-08-22 11:01] earthengine commented on #53420
Please add "nll" tag as this is emmited by `rustc_mir::borrow_check::nll::type_check::TypeChecker::typeck_mir`

r? @matthewjasper

[2018-08-22 11:03] matthiaskrgr commented on #53598
Backtrace:
[code]

[2018-08-22 11:11] #53263 closed

[2018-08-22 11:12] petrochenkov commented on #53125
Be it good or bad, the normal RFC process kinda goes out of the window with deadlines being close.

[2018-08-22 11:31] matthiaskrgr opened #53601 "COPYRIGHT url 404s"
A lot (at least 11.000) of files, for example
https://github.com/rust-lang/rust/blob/d96cc6e2865ff2cc77f061ae97e58aae50f5a1e9/src/test/run-pass/issue-12133-3.rs#L3
link to http://rust-lang.org/COPYRIGHT but the page ````404````s.

[2018-08-22 11:41] varkor commented on #53601
The simplest solution is to make http://rust-lang.org/COPYRIGHT redirect to https://github.com/rust-lang/rust/blob/master/COPYRIGHT.

[2018-08-22 11:48] matthiaskrgr commented on #53601
Ah, I didn't see the rust-www repo... :/

[2018-08-22 12:01] csmoe commented on #52669
this issue may caused by `Place` checking I guess:
https://github.com/rust-lang/rust/blob/71a1ef181683615f1c8da5efb3d8617c0b743009/src/librustc_mir/borrow_check/mod.rs#L1620
the comment reasons why the `uninitialized` lint emitted here: for place `a.b`, if `a` is moved, then the usage of projection `a.b` will be marked as `uninitialized`, let's take an experiment:
https://play.rust-lang.org/?gist=

[2018-08-22 12:05] varkor commented on #53601
I think that's probably the right place for it to belong. Let's close this one to stop anyone getting any ideas about editing 11k files... 😅

[2018-08-22 12:05] #53601 closed

[2018-08-22 12:08] varkor commented on #50907
This will be usable on the next Nightly under `#![feature(exhaustive_integer_patterns)]` now that https://github.com/rust-lang/rust/pull/50912's merged!

[2018-08-22 12:16] XOSplicer commented on #53505
I can reproduce this error on `nightly-x86_64-pc-windows-msvc` with MINGW64

[code]

[2018-08-22 12:26] XOSplicer commented on #53505
possible duplicate of #52873

[2018-08-22 12:26] gnzlbg commented on #29722
I want `asm!` for:

* working around intrinsics not provided by the compiler
* working around compiler bugs / sub-optimal code generation
* performing operations that cannot be performed via combinations of single intrinsics, e.g., `__readeflags`/`__writeeflags` where a read-modify-write sequence is invalid because LLVM is allowed to modify the eflags register after reading it while it also assume

[2018-08-22 12:34] Amanieu commented on #29722
Copied from my post in the pre-RFC thread, here is some inline assembly (ARM64) which I am using in my current project:

[code]

[2018-08-22 12:46] denzp commented on #53099
Did you disable LLVM assertions in order to get the stacktrace? I'm facing failed assertion earlier:
[code]

Looks like some edge case of `i128` support from #38824. Right now I'm trying to figure out a minimal reproducible example to fix this on LLVM side.

 `llc` suggests it's related to `core::num::from_str_radix`
[code]

[2018-08-22 12:52] bjorn3 opened #53602 "Mir: unsize trait object -> same trait object"
Imporant lines:

[code]

Full mir:

[code]

[2018-08-22 13:07] andreytkachenko commented on #53598
Hmm I reproduced  same ICE with next snippet without `nll`:
[code]

[2018-08-22 13:11] oli-obk commented on #53555
No, this only includes basic integer operators for now

[2018-08-22 13:13] varkor commented on #53525
Don't worry about it; it's technically unrelated.

[2018-08-22 13:16] Cyres commented on #53555
Thanks! Will they be added at a later point then?

[2018-08-22 13:23] lu-zero opened #53603 "ICE triggered by rustc-ap-rustc_data_structures-230"
[code]

[2018-08-22 13:27] oli-obk commented on #53555
This issue is about the very minimal `const fn` feature. Any additional extensions should be discussed in their own issues or on the const fn tracking issue (https://github.com/rust-lang/rust/issues/24111)

But yes, there's basically no future where we'll not be making them const fn

[2018-08-22 13:30] jchlapinski commented on #53583
Ok, but how is this `#[dummy("aaa")]` a "attribute macro" instead of just an fn-like attribute? My understanding is that in order for it to be an attribute macro it should read `#[dummy!("aaa")]`, no?

[2018-08-22 13:49] gnzlbg commented on #29722
@shepmaster

It is worth remarking that:

* this work doesn't replace inline assembly, it merely complements it, and it is already insufficient: this approach implements vendor APIs in std::arch, these APIs are insufficient for some people already.

* this approach is only usable when a sequence of intrinsic calls like `foo(); bar(); baz();` produces code indistinguishable from that sequence of in

[2018-08-22 13:55] matthiaskrgr commented on #53603
Could be another case of https://github.com/rust-lang/rust/issues/52992 ?

[2018-08-22 14:02] main-- commented on #29722
What can be very surprising about LLVM's implementation of intrinsics (SIMD especially) is that they do not conform to Intel's explicit mapping of intrinsics to instructions at all - they are subject to a wide range of compiler optimizations. For instance I remember one time where I attempted to reduce memory pressure by calculating some constants from other constants instead of loading them from

[2018-08-22 14:15] shepmaster commented on #29722
That's *all I've been saying* [at first](https://github.com/rust-lang/rust/issues/29722#issuecomment-414502791)

[and again](https://github.com/rust-lang/rust/issues/29722#issuecomment-414536445)

This is the same thing that @eddyb is saying in parallel. I'm unclear why multiple people are acting like I'm completely disregarding the usefulness of inline assembly while trying to point out *the real

[2018-08-22 14:18] TheDarkula opened #53605 "Tracking Issue for using std::mem::transmute() in const fn (const_fn_transmute)"
Using `std::mem::transmute()` in constant functions is behind the `const_transmute`/`const_fn_transmute` feature gate.
(In constants, it is stable.)

Blocked on https://github.com/rust-lang/const-eval/issues/14.

[2018-08-22 14:36] oli-obk opened #53606 "NLL promotes arbitrary code to be evaluated by miri if the result is unused"
This takes a while to compile. I presume because `loop {}` needs to hit the loop checker in miri. Changing the `_` to `_foo` or `foo` will immediately bail out due to `&(loop{}, 1).1` not living for the `'static` lifetime.

[code]

([Playground](https://play.rust-lang.org/?gist=be2c247285593a5cc54019d953408b34&version=nightly&mode=debug&edition=2015))

Errors:

[code]

[2018-08-22 14:39] eddyb commented on #29722
What I was trying to say was that we should have a more organized approach to this, a proper survey, and gather up *a lot more data* than the few of us in this thread, and then *use that* to point out the most common needs from inline assembly (since it's clear that intrinsics can't fully replace it).

I *suspect* that each architecture has a tricky-to-model subset, that gets some use from inline

[2018-08-22 14:40] dancrossnyc commented on #29722
@eddyb _require_ is a strong word, and I would be compelled to say that no we're not strictly required to use inline assembler. As I mentioned earlier, we _could_ define procedures in pure assembly language, assemble them separately, and link them into our Rust programs via the FFI.

However, as I said earlier I know of no serious OS-level project that does that. It would mean lots of boiler plate

[2018-08-22 14:43] kzys commented on #24473
Yep. I couldn't reproduce the issue on master (786ccc336d).

The only concern I have is that tests.reproducible-builds.org still shows `rust-​doc_1.​28.​0+dfsg1-​2_all.​deb` is different.
https://tests.reproducible-builds.org/debian/rb-pkg/unstable/arm64/diffoscope-results/rustc.html

[2018-08-22 14:51] eddyb commented on #29722
@dancrossnyc I am specifically curious about *avoiding* separate assembling, that is, what kind of assembly you need *at all* in your project, no matter how you link it in.

In your case it seems to be a supervisor/hypervisor/enclave privileged ISA subset, is that correct?

Is this by necessity, i.e. do the instructions have requirements which are unreasonably difficult or even impossible to uphol

[2018-08-22 15:37] bemeurer commented on #53596
@RalfJung I'd like to take this, if that's OK :)

[2018-08-22 15:42] Centril commented on #53125
@sanmai-NL with respect to process, we are, *unfortunately*, under time constraints to ship the edition so we may sometimes speed up the process more so than normally done. However, this does not mean that decisions should be rushed just because of time constraints.

That said, this has already been extensively discussed on the RFC before it. The main decision to accept this was made there and the

[2018-08-22 15:47] RalfJung commented on #53596
That's perfect :) Let me know if you need anything!

[2018-08-22 15:53] mirh commented on #33863
Glibc added this in [2.27](https://sourceware.org/bugzilla/show_bug.cgi?id=22707) (not sure why readelf has proceeded it by [two happy years](https://sourceware.org/bugzilla/show_bug.cgi?id=22707))

Aside of that though, I don't think that makes it any less unsupported flag. What's setting it?

[2018-08-22 16:07] bjorn3 opened #53608 "Unnecessary closure in rustc_mir/build/mod.rs"
It`unsupported` is only called on line 53:

https://github.com/rust-lang/rust/blob/a05f82fd2d6ffdaa4f220e3f1c1a060fe6886dfd/src/librustc_mir/build/mod.rs#L40-L53

[2018-08-22 16:09] dancrossnyc commented on #29722
@eddyb correct; we need the supervisor subset of the ISA. I'm afraid I can't say much more at the moment about our specific use case.

To some extent both are true, but on balance i would say the latter is more relevant here. Some things are microarchitecture specific and dependent on specific processor package configurations. Would it be reasonable for a compiler to (for example) expose something

[2018-08-22 16:15] gnzlbg commented on #29722
We already do. For example, the `xsave` x86 instructions are implemented and exposed in `core::arch`, not available on all processors, and most of them require privileged mode.

[2018-08-22 16:26] bemeurer commented on #53596
@RalfJung Is this the correct license header?
[code]

[2018-08-22 16:29] cramertj commented on #47659
@ZerothLaw I'm not sure-- it's hard to know exactly what to report. You know that an overflow has occurred, but not that it is necessarily due to recursive use of `impl Trait`. [This is where the current overflow reporting is triggered](https://github.com/rust-lang/rust/pull/47529/files#diff-d78d7264a4b7f0f246355cec0c7e3298R304)-- we could add a suggestion hinting that this may be the result of at

[2018-08-22 16:39] Centril commented on #53224
Since I don't have time to fix @rfcbot... I'll just have to:

@rfcbot cancel
@rfcbot merge

[2018-08-22 16:49] nagisa commented on #53224
To ensure that concerns are retained:

---

@rfcbot concern tying compiler to stdlib implementation details 2

Many of these lints are libstd specific (mostly pertaining to iterators). What mnemonic does clippy use to figure out what libstd items are what and whether the actual libstd is used at all and not e.g. `use my_funky_crate as std;`? How would the *compiler* deal with this without making h

[2018-08-22 17:32] matthewjasper commented on #53606
The following code times out with either borrow checker:

[code]

[2018-08-22 17:34] dancrossnyc commented on #29722
@gnzlbg `xsave` isn't privileged; did you mean `xsaves`?

I took a look through https://rust-lang-nursery.github.io/stdsimd/x86_64/stdsimd/arch/x86_64/index.html and the only privileged instructions I saw in my quick sweep (I didn't do an exhaustive search) were `xsaves`, `xsaves64`, `xrstors`, and `xrstors64`. I suspect those are intrinsics because they fall into the general `XSAVE*` family and d

[2018-08-22 17:41] matthewjasper commented on #53602
This looks like it's working as intended. Unsized coercions are also used to remove auto traits and shorten lifetime bounds from trait objects.

[2018-08-22 17:43] joshtriplett commented on #53125
This was proposed previously in an RFC, the RFC was accepted, the result was implemented, this change was widely discussed as part of the edition, and quite a bit of feedback already happened during that long process. The previous tracking issue incorporated plenty of discussion as well. No part of the process has been bypassed here; if anything, this change has had *closer* scrutiny and more exte

[2018-08-22 17:53] gnzlbg commented on #29722
@dancrossnyc yes some of those are the ones I meant (we implement `xsave`, `xsaves`, `xsaveopt`, ... in the `xsave` module: https://github.com/rust-lang-nursery/stdsimd/blob/master/coresimd/x86/xsave.rs).

These are available in `core`, so you can use them to write an OS kernel for x86. In user-space they are useless AFAICT (they'll always raise an exception), but we don't have a way to distinguis

[2018-08-22 18:10] alexreg commented on #53469
This doesn't cause an ICE for me. https://play.rust-lang.org/?gist=9f0b8f5ce57015a0d70b0e3bfd208811&version=nightly&mode=debug&edition=2015

[2018-08-22 18:14] lqd commented on #53469
@alexreg the ICE is with [the 2018 edition](https://play.rust-lang.org/?gist=f403338cb99d8be1a3cd42b37c0ad533&version=nightly&mode=debug&edition=2018)

[2018-08-22 18:17] arielb1 commented on #53224
Sure. This would complain about `RefCell<T>` and any other type that implements a `RefCell`/`Mutex`, so all the

[2018-08-22 18:18] arielb1 commented on #53224
`#[rustc_XYZ]` attributes? I agree that these sound like a better idea than doing name comparisons.

[2018-08-22 18:27] bemeurer commented on #53596
@RalfJung Yeah, I had `2013-2015` before, since I just pasted it from some random file, but I updated it to just say `2018`

[2018-08-22 18:29] bjorn3 commented on #53602
I understand.

[2018-08-22 18:29] #53602 closed

[2018-08-22 18:32] gnzlbg commented on #29722
@dancrossnyc when I mentioned `xsave` I was referring to some of the intrinsics that are available behind the CPUID bits XSAVE, XSAVEOPT, XSAVEC, etc. Some of these intrinsics require privileged mode.

We already do and they are available in stable Rust.

I added these intrinsics. We realized the privilege issues and decided to add them anyways because we can't know where a program depending on `c

[2018-08-22 18:35] Havvy commented on #53595
It's any expression, not just an `if let`. It's sort of not a bug, although the issue open for it says C-Bug. See [my explanation on Reddit](https://www.reddit.com/r/rust/comments/6dynjz/psa_temporaries_in_final_expression_in_block_live/). There's still an issue for it open as #21114. As such, closing as a duplicate.

[2018-08-22 18:35] #53595 closed

[2018-08-22 18:36] Arnavion commented on #53469
This also happens with stage1 builds of the compiler when using it to compile crates that use custom derives. Two different copies of `libsyntax_pos` get used (one from `stage1/bin` used by the compiler and the other from `stage1/lib/rustlib/$triple/lib` used for macro expansion), so the `scoped_tls::ScopedKey<syntax_pos::Globals>::set` from the former has no effect on the `scoped_tls::ScopedKey<s

[2018-08-22 18:47] eddyb opened #53613 "Lifetimes get replaced with 'static in Self within (return position) impl Trait."
[code]
[code]

I didn't write `'static` anywhere - it comes from part of the implementation of `impl Trait`, and `Self` references lifetimes (from the `impl` header) "indirectly", hiding them from `impl Trait` logic.

cc @cramertj @oli-obk @nikomatsakis

[2018-08-22 18:52] SimonSapin commented on #44489
The libs team discussed this during today’s triage meeting. We’re happy with renaming to `panic_handler`, which is consistent with `alloc_error_handler`.

@rfcbot resolve attribute name

Anyone feels up to making a PR to rename? If that’s easy enough to implement, let’s also keep the old name for a while and make it emit a deprecation warning.

[2018-08-22 18:52] dancrossnyc commented on #29722
@gnzlbg sorry, I don't mean to derail this by rabbit-holing on `xsave` et al.

However, as near as I can tell, the only intrinsics that require privileged execution are those related to `xsaves` and even then it's not *always* privileged (again, real-mode doesn't care). It's wonderful that those are available in stable Rust (seriously). The others might be useful in userspace and similarly I think

[2018-08-22 18:54] ZerothLaw commented on #47659
That's a good point. So before working on it, one should first figure out what the acceptable solution would be?

[2018-08-22 19:09] Manishearth commented on #53224
I've suggested this before somewhere, we should have a concept of "diagnostic item" like lang item, which isn't required by the compiler but helps lints and diagnostics find things.

There are a bunch of diagnostics that could already benefit from this.

[2018-08-22 19:11] gnzlbg commented on #29722
FWIW per the `std::arch` RFC we can currently only add intrinsics to `std::arch` that the vendors expose in their APIs. For the case of `xsave`, [Intel exposes them on its C API](https://software.intel.com/sites/landingpage/IntrinsicsGuide/#text=xsave), so that's why it is ok that's there. If you need any vendor intrinsics that are not currently exposed, open an issue, whether it requires privileg

[2018-08-22 19:12] SimonSapin commented on #44489
Ping @Zoxc @michaelwoerister @nikomatsakis @pnkfelix @sfackler @withoutboats for your checkboxes in https://github.com/rust-lang/rust/issues/44489#issuecomment-398965881

[2018-08-22 19:16] japaric commented on #44489
I'll make a PR.

[2018-08-22 19:27] RalfJung commented on #29625
With every unsafe function comes a manually written "contract" saying when that function may or may not be called.

With `UnsafeFn`, who is setting that contract?

[2018-08-22 19:35] Arnavion commented on #53443
@oli-obk The #53469 I started hitting was because of two different versions of libsyntax_pos in stage1 builds, as I described [here.](https://github.com/rust-lang/rust/issues/53469#issuecomment-415135116) So with stage2 builds I don't have that problem,

So I've got a repro for the issue where `as_local_node_id` returns `None`. It happens when using the imported existential type in a struct or enu

[2018-08-22 19:35] dancrossnyc commented on #29722
Sorry, I understood you saying you wrote the intrinsics for `xsave` to mean the Intel intrinsics; my earlier comments still apply as to why I think `xsaves` is an intrinsic then (either an accident by a compiler writer at Intel or because someone wanted it for real mode; I feel like the former would be noticed really quickly but firmware does weird stuff, so the latter wouldn't surprise me at all)

[2018-08-22 19:44] joshtriplett commented on #29722
When you're writing an operating system, firmware, certain types of libraries, or certain other types of system code, you need *full* access to platform-level assembly. Even if we had intrinsics that exposed every single instruction in every architecture Rust supports (which we don't come anywhere close to having), that *still* wouldn't be enough for some of the stunts that people regularly pull w

[2018-08-22 19:49] dancrossnyc commented on #29722
+1e6

[2018-08-22 20:15] Shnatsel commented on #41758
I see people frequently use unsafe `.set_len()` because the safe `.resize()` is not fast enough. I've already talked about how this has almost resulted in a vulnerability in my [Auditing popular crates](https://www.reddit.com/r/rust/comments/8zpp5f/auditing_popular_crates_how_a_oneline_unsafe_has/) post, but now I have discovered an _actual_ vulnerability in another crate.

So I am _very_ interest

[2018-08-22 20:55] glennpratt opened #53615 "UnixStream does not have connect_timeout as Socket does."
https://doc.rust-lang.org/std/net/struct.TcpStream.html#method.connect_timeout

vs

https://doc.rust-lang.org/std/os/unix/net/struct.UnixStream.html

Is this something that could be added directly without and RFC?

[2018-08-22 21:39] glaubitz commented on #50960
@edelsohn Did you see: https://reviews.llvm.org/D51108 and https://bugs.llvm.org/show_bug.cgi?id=38661

[2018-08-22 21:51] lucatrv commented on #53474
Yes I am on Windows 7 64-bit. I do not see any options in the VS Express 2017 installer to choose the x86 or x64 toolchains, moreover on the [VS Express website](https://visualstudio.microsoft.com/vs/express/) I read:

so I guess VS Express 2017 is limited to Win32.

[2018-08-22 22:08] #53534 closed

[2018-08-22 22:08] #53547 closed

[2018-08-22 22:40] earthengine commented on #53469
@alexreg

To trigger this you have to set edition to 2018, rather than 2015. https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018

[2018-08-22 22:44] japaric commented on #44489
See #53619

[2018-08-22 22:45] mthgr commented on #53130
Absolute beginner perspective: I find the anchored_use_paths clearer and easier to understand. I've been dabbling in and out of Rust for over 2 years now reading all the articles I can find etc. Admittedly, I did very little actual coding other than to try the exercises in books etc. So take my opinion for what it's worth... I think it's more approachable especially in conjunction with all the oth

[2018-08-22 23:00] Mark-Simulacrum commented on #53495
Hm, so the atom macro and the atom module are public API for the string-cache crate so it's unclear to me that we can easily fix this in source unless I'm missing something -- @petrochenkov, do you have any guidance on the best way to apply a fix?

[2018-08-22 23:15] withoutboats commented on #53130
We discussed this in the cargo meeting today and felt that we should not make a decision for the unstable crates now, and that we should put `proc_macro` in the prelude. Possibly, we should rename it.

[2018-08-22 23:56] jonas-schievink commented on #44136
Yeah this really should imply `--passes strip-priv-imports`. Private imports are just visual noise even when I'm interested in the guts of the crate I work on.

[2018-08-23 00:06] TheIronBorn commented on #53322
Still seeing this with `nightly-x86_64-apple-darwin rustc 1.30.0-nightly (33b923fd4 2018-08-18)` (sandybridge)

[2018-08-23 03:17] sparecycles opened #53625 "Sync/Send mismatch for Iter?"
There are a few places where an `Iter` implements `Send` when the item/key/value traits are `Sync`.  The other related types (`IterMut`, etc...) implement `Sync` for `Sync` items and `Send` for `Send` items.

See line 1209 in
https://github.com/rust-lang/rust/blob/917945d662c42053383fe3e71cb0f313d585e459/src/liballoc/collections/linked_list.rs#L1202-L1218

and also in
https://github.com/rust-lang/

[2018-08-23 03:43] qnighy commented on #53625
They just inherit the item type's sendability/syncability, not the generic parameter's. `&mut T: Send` if `T: Send` and `&T: Send` if `T: Sync`.

[2018-08-23 03:53] mikeyhew commented on #48055
@alexreg I would definitely appreciate your help, if I end up writing an RFC for `&move`.

The idea I have so far is to treat unsized rvalues as a sort of sugar for `&move` references with an implicit lifetime. So if a function argument has type `T`, it will be either be passed by value (if `T` is `Sized`) or as a `&'a move T`, and the lifetime `'a` of the reference will outlive the function call,

[2018-08-23 04:01] jhod0 commented on #45510
I've run into a problem that I think is the converse of this. I am trying to implement wrappers for an integration library, and want to automatically handle functions of any number of dimensions, so something like this:

[code]

But the compiler gives me a "conflicting implementation" error, since it sees both cases as `impl<A> Integrand for Fn<A>`. Is there any way for me to fix this, or will I n

[2018-08-23 04:29] sparecycles commented on #53625
Thanks, I see now why `Iter<Sync>` could be Send, but I'm not sure about related structs like `Drain` or `IntoIter`s.

It's interesting that `Iter<T: Send>` is not Send, but `IterMut<T: Send>` is.

[2018-08-23 04:59] tikue commented on #49150
@Redrield `send()` takes `&mut` self in futures 0.3.

[2018-08-23 05:32] kzys commented on #52774
#52517 is similar but we need to have the same code for `hashchange` to address the issue.

https://developer.mozilla.org/en-US/docs/Web/Events/hashchange

[2018-08-23 06:48] SimonSapin commented on #53130
What does this mean? Most crates do not want to link to the compiler.

`proc_macro` and `core` are stable.

[2018-08-23 07:03] glaubitz commented on #50960
I have tested @LionNatsu 's patch and I can confirm that Rust works again for me \o/. Great job!

[2018-08-23 07:38] eddyb commented on #53130
@withoutboats Uff, but for non-`proc_macro` crates, I feel like we should limit it, and not load arbitrary things off the disk just because they happen to "fit".
Maybe someone has an `alloc` or `syntax` or `test` crate-level module and they accidentally put `::` in front out of it (e.g. out of habit), now they're getting some random internal crate!

Maybe I should've poked around and asked to join

[2018-08-23 07:41] oli-obk commented on #53555
I feel very innocent here. I assumed it was an oversight since I told @Centril about this before the rfcbot was triggered while we were still wildly editing the issue text.

I'll see how to disable them entirely. Note that constants already fully support them without having short circuiting behaviour. See https://play.rust-lang.org/?gist=48a7eaa253d1ff0467b4e4b4f1c564d4&version=nightly&mode=debug&

[2018-08-23 07:55] LukasKalbertodt commented on #53130
I agree with @mthgr: I really like `anchored_use_paths`. They make reading code much clearer. I often tried to read through foreign code bases and the imports were all over the place. So I had to manually check which extern crates are added and which modules exist.

Also, I don't get the argument about being "verbose" or hard to write. I have been using nested imports since they landed (and I don'

[2018-08-23 07:58] eddyb commented on #53130
@alexcrichton Would it be realistic to turn off "plain" `-L` in the new edition (IIUC, `-L deps=` is needed by `Cargo` and we don't have a way around it)? We can tell people to migrate to `--extern foo=...` (we should even be able to print out where Rust2015 would find each of them, just not allow it by default anymore) and keep `--extern foo` unstable, for sysroot crates?

Eventually, if we want

[2018-08-23 08:05] Centril commented on #53555
@oli-obk

Alright; I'll happily take the blame... ;)

So we'll ban `&&` and `||` in `min_const_fn` so that we don't introduce [broken behavior](https://play.rust-lang.org/?gist=9c9687835d183d39bf19256f67d562bf&version=stable&mode=debug&edition=2015) in `const` to `const fn`.

@eddyb [noted](https://discordapp.com/channels/442252698964721669/443151243398086667/482096806004785152) that we can do thi

[2018-08-23 08:17] manuelVo opened #53627 "Iterating over ranges generates overflow check with opt-level = "z" and lto enabled"
The following code generates an overflow check, when `opt-level="z"` and `lto=true` are set in the `Cargo.toml`. As the implementation of `Iterator` for `Range` states this check shouldn't actually be there: https://doc.rust-lang.org/src/core/iter/range.rs.html#215

My build target is `x86_64-unknown-linux-gnu`. I'm building with `cargo build --release`.

This is the code producing the bug:
[code]

[2018-08-23 08:38] #52913 closed

[2018-08-23 08:38] sanmai-NL commented on #53125
@Centril: as for PEP 20-like principles. It seems to me teachability and simplicity haven’t been prioritized in Rust. Please note: not being prioritized does not mean being ignored completely. I deeply regret that. Here is another case where with deliberation and specific attention to teachability and simplicity (two separate but related concerns) would makes us conclude rust-lang/rfcs#2126 is not

[2018-08-23 08:43] sanmai-NL commented on #53125
@Centril, @joshtriplett: thanks, your explanations answer my question. Note that I didn’t claim parts of the process have been bypassed, I just how quickly things seemed to go when you do not know the process that it seems to have went through. @joshtriplett: In hindsight you entering the thread stating this ‘seems uncontroversial’ and ‘ready to commit to’, suggested this is not just about impleme

[2018-08-23 09:13] eddyb opened #53630 "Support a TUI "live view" version of -Z self-profile."
Using [`tui`](docs.rs/tui) and by passing, say, the entire query stack to an "UI" thread 60 times per second, we can provide both a live view of the query stack, including when each entry started, *and* overall stats.

cc @nikomatsakis @michaelwoerister @wesleywiser @solson

[2018-08-23 09:40] RalfJung commented on #53515
So where is the tracking issue to allow `if` in `const` so that we can get rid of this hack?

`if` seems like a fairly innocent feature.

[2018-08-23 09:43] eddyb opened #53631 "Remove -Z time-passes and error with "-Z self-profile should be used instead"."
Remaining issues with `-Z self-profile`:
* [ ] at least as much granularity as `-Z time-passes` had pre-queries
* [ ] trigger on unsuccessful compilation / ICE / Ctrl+C, as well
* [ ] real-time progress indicator (#53630 perhaps?)

cc @steveklabnik @wesleywiser @alexcrichton @rust-lang/compiler

[2018-08-23 10:29] llogiq opened #53632 "Extension: iter::Take.into_inner()"
If the `Take` type had an `.into_inner()` method, it would allow the following pattern:

[code]

[2018-08-23 10:29] retep998 commented on #53630
But would it work on Windows?

[2018-08-23 11:15] oli-obk commented on #53515
`if` is very innocent if you ignore associated constant bodies and using associated constants in generic functions (where the associated constant is taken from a generic parameter).

@eddyb can we just mark any MIR containing `SwitchInt` to be `NOT_PROMOTABLE`, `NEEDS_DROP` and `MUTABLE_INTERIOR` (https://github.com/rust-lang/rust/blob/master/src/librustc_mir/transform/qualify_consts.rs#L51) even

[2018-08-23 11:42] RalfJung commented on #53515
What is the problem there?

[2018-08-23 12:04] oli-obk commented on #53224
@petrochenkov I have addressed the naming convention issues

@nagisa wrt descriptions being too concise for decision making. Assume that there are no additional checks. The lint addresses all code that matches the description.

@nagisa wrt platform opinions, we can silence some lints on non-host platforms, but your example makes me want to lint this even more. While it is sound, it is most certain

[2018-08-23 12:11] matthiaskrgr opened #53633 "const fold .repeat() of same-char string literals"
````rustc 1.30.0-nightly (33b923fd4 2018-08-18)````

[code]
this currently generates
[code]

now if we used ````.repeat(3)```` (this only applies for strings consisting only of one character sort),
[code]

we get this monster:
[code]

altough we could have had
[code]
(diff to the first version)
[code]

[2018-08-23 12:27] nagisa commented on #53630
My personal preference is that we output some sort of file that can be inspected with some external tool instead (either live or after-the-fact). This generally allows way more control and significantly greater insight into operation of the code.

This is [fairly popular](https://percepio.com/wp-content/uploads/2018/08/Tracealyzer-4.png) [in embedded](https://mcuoneclipse.files.wordpress.com/2017/

[2018-08-23 12:29] ExpHP opened #53634 "Box docs don't mention that you can move out of them"
I wanted to link somebody to documentation explaining that you can dereference a `Box` to move the value onto the stack, but... neither the `boxed` module nor `Box` mention this or show any examples!

https://doc.rust-lang.org/stable/std/boxed/index.html
https://doc.rust-lang.org/stable/std/boxed/struct.Box.html

[2018-08-23 12:37] Michael-F-Bryan commented on #29625
I'd say this is done on a case-by-case basis. It's really hard to specify the various invariants and assumptions you make in `unsafe` code in something as rigid as a type system, so anything that accepts an `UnsafeFn` would probably also need to document its assumptions.

Before writing up a RFC I thought I'd make [a post] on the internal forum. It'd be nice to hear what opinions other people have

[2018-08-23 12:38] edelsohn commented on #50960
@glaubitz Thanks for opening the LLVM buf and creating a patch.  I'm glad the combined effort could track this down.

[2018-08-23 13:10] glaubitz commented on #50960
@edelsohn All credits go to @LionNatsu :)

[2018-08-23 13:15] oli-obk commented on #53515
We need to check whether

[code]

results in a `Freeze` value or not. While this example is fairly easy, once you get local variables and mutable state it gets very messy and needs a proper dataflow analysis.

Since `(Some(Cell::new(42)), None).1` currently counts as "contains interior mutability", imo we can just say that `if true { None } else { Some(Cell::new(42)) }` also does

[2018-08-23 13:22] jens1o opened #53635 "Panicking when adding a unexpected keyword in a struct"
[code]

The code:
[code]

Simply add the `mut ` keyword to the `command: Command,` line and it is panicking.

[2018-08-23 13:47] gnzlbg commented on #53485
@SimonSapin would you like to be the reviewer of a PR implementing this ? If so, I'd like to discuss with somebody first how the is_sorted crate is structure, and how to best implement this functionality in the std library.

[2018-08-23 14:00] chrivers opened #53637 "Incorrect warn(unused_assignments) when assigned valued is compared with reference, but not read for value"
I found a spurious warn(unused_assignments) which I've condensed into the following small test case:

[code]

[code]

It complains that the value of `old_fullscreen` is never read, but surely it is, since I'm comparing to it. In the real program, this is part of a main loop for a graphical application, and the value is checked like this in each iteration.

I checked for duplicated, and this does *

[2018-08-23 14:01] RalfJung commented on #53515
Oh, we are already more precise than the type is?

[2018-08-23 14:05] RalfJung commented on #53515
I think the place that has the best information about this kind of stuff is the sanity check. So if we make that part of the query for constants, it could probably do this.

[2018-08-23 14:14] nikomatsakis commented on #52966
OK, closing. Thanks @cuviper!

[2018-08-23 14:14] #52966 closed

[2018-08-23 14:16] nikomatsakis commented on #52849
According to @oli-obk, @RalfJung [has turned this from a perf regression into a perf win](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/subject/weekly.20meeting.202018-08-23/near/132639967). Way to go!

[2018-08-23 14:29] nikomatsakis commented on #53537
triage: P-high

[2018-08-23 14:30] wesleywiser commented on #53630
FYI, passing `-Zprofile-json` causes a `self_profiler_results.json` file to be created in the working directory with all of the same info presented in the `-Zself-profile` option.

[2018-08-23 14:31] nikomatsakis commented on #52873
@GuillaumeGomez any idea what's going on here? let us know if you need T-compiler help :)

[2018-08-23 14:34] nikomatsakis commented on #53583
@jchlapinski can you say a bit more about the actual code that is breaking for you?

cc @rust-lang/lang

[2018-08-23 14:35] arthurprs commented on #46016
Found this out today when piping stdout to head.

Any ideas how to fix it nicely? Maybe we can take inspiration from other languages implementations.

[2018-08-23 14:37] nikomatsakis commented on #52363
@petrochenkov

So do we want to remove the assertion and file a follow-up issue to resurrect it? Seems like we should "close the issue" by doing that?

[Some discussion here](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/subject/weekly.20meeting.202018-08-23/near/132641048)

[2018-08-23 14:38] nikomatsakis commented on #52363
(In particular, it seems a bit odd to have a `debug_assert` that we know fails sometimes.)

[2018-08-23 14:39] nikomatsakis commented on #52363
Bumping up to P-high to "stop the bleeding"

[2018-08-23 14:39] arielb1 commented on #52363
For easy reference: we are referring to the following assertion:
https://github.com/rust-lang/rust/blob/20ce91076af125eda82bb36e446e67b1c7af4218/src/libsyntax_pos/hygiene.rs#L107-L116

[2018-08-23 14:42] nikomatsakis commented on #53583
Flagging this for @rust-lang/lang discussion -- do we want all `macro_rules` and other macros to be usable as macros in attribute position? It's certainly something we've talked about, but I thought it'd be good to "check in" on this.

[2018-08-23 14:44] coriolinus commented on #46016
Until someone implements and merges `unignore_sigpipe()`, your best bet will be to use the `write!()` macro instead of the `print*!()` family of macros, and then handle errors appropriately.

[2018-08-23 14:45] nikomatsakis commented on #53583
In particular, if this is regressing code, it may not be something we can't really do. (Especially stable code -- it's still not clear to me just what the regressed code looks like.)

[2018-08-23 14:46] Centril commented on #53583
The error message seems a bit confusing as I think it leads the user to believe that `dummy` was called inside the attribute (so it would have been expanded to `#[println!("dummy: {}", "text")]`.

If you *actually* wanted that behavior then the invocation should have been `#[dummy!(text)]` which may be useful for some sort of attribute-aliasing. However; I think such a step would require some more

[2018-08-23 14:52] jchlapinski commented on #53583
@nikomatsakis basically we have custom derive for our diagnostic type trait `Diag`, which is using an fn-like attribute named `diag` and also a macro (defined with `macro_rules`) with that same name. Macro is for instantiation of out diagnostic type, where we do some backtrace generation, logging, etc.

Now we can of course change either name, however I still do not understand why using same name

[2018-08-23 14:52] nikomatsakis commented on #34981
Have there been any recent changes here that might be responsible for https://github.com/rust-lang/rust/issues/53298?

----

[2018-08-23 14:52] nikomatsakis commented on #53298
Hmm. This looks bad!

[2018-08-23 14:53] nikomatsakis commented on #53298
cc @SergioBenitez

[2018-08-23 14:54] jchlapinski commented on #53583
@Centril I am not blaming, I am just reasoning on why those things are sharing that namespace. In my mind an attribute is something completely different that a macro. same logic for fields and methods as in my comment above.

[2018-08-23 14:54] nikomatsakis commented on #53298
@SergioBenitez @nrc -- any chance one of you has a clue what might have changed here? Or the desire to look into this? It seems like a pretty serious compatibility risk

[2018-08-23 14:57] Centril commented on #53583
@jchlapinski

Oh; I didn't mean that you are blaming the compiler devs for breaking your code or something, just that I don't think there has been breakage of our stability promises in this case :)

[2018-08-23 14:58] nikomatsakis commented on #53631
I'm in favor!

[2018-08-23 15:02] petrochenkov commented on #53583
Ah, I see this is an inert attribute white-listed by a derive macro, not an attribute macro.
Then this is indeed a regression affecting stable.

My preferred solution would be to increase priority of derive helper attributes during resolution (item 6 in https://github.com/rust-lang/rust/pull/50911#issuecomment-411605393), rather than introducing more namespaces.
[code]

[2018-08-23 15:02] nikomatsakis commented on #53322
cc @nagisa @alexcrichton -- anybody have any ideas what's going on here? Could this be related to an LLVM upgrade or something?

[2018-08-23 15:04] nikomatsakis commented on #53322
Marking as P-high for now. This is a regression, but on the other hand, if the message is coming from LLVM, there may not be a lot we can do here? Would be nice to get some more insight into what might be happening here.

[2018-08-23 15:13] nikomatsakis commented on #53181
Discussed at the @rust-lang/compiler meeting today. We're going to mark this as P-medium for now. Can anyone with access to a sparc validate whether @glaubitz's workaround does indeed resolve the problem:

That would be very helpful, thanks!

[2018-08-23 15:14] RalfJung commented on #52849
Uh, I think it is still slower than without the sanity check...  but that is expected.

However, there is also a known actual issue still open: https://github.com/rust-lang/rust/issues/52849#issuecomment-410635683. I am going to reopen this issue until we got that solved. I think we should stop hashing memory, also see https://github.com/rust-lang/rust/pull/52626#issuecomment-414600735.

[2018-08-23 15:14] nikomatsakis commented on #53181
To really track this down more effectively we would need some way to reproduce -- nobody has access to SPARC hardware.

[2018-08-23 15:15] Zoxc commented on #53631
I'm against. I use `-Z time-passes` all the time when doing any performance work.

[2018-08-23 15:16] jchlapinski commented on #53583
@petrochenkov In short, thanks, that solution would solve our problem, and of course it is one way to do it.

But please, if I could take a few more minutes of Your time, explain why You keep referring to attributes, written as `#[attribute(...)]` as "attribute *macros*"? Are those really "macros" in rust? A macro is something that gets expanded into code in place it is invoked (with `!`), exactly

[2018-08-23 15:27] eddyb opened #53639 "Consider deprecation of UB-happy `static mut`"
`static mut` is almost impossible to use correctly, see https://github.com/rust-lang-nursery/lazy-static.rs/issues/117 for an example in the widely-used `lazy-static`.

You **must** be able to show that *every borrow* of the `static mut` is **not reentrant** (as opposed to regular interior mutability, which only requires reentrance-freedom when accessing data), which is almost entirely impossible

[2018-08-23 15:30] Centril commented on #53639
I don't know at all whether we should do this or not atm. But to make this decision I have an...

...Idea: We should do a crater run to scrutinize how many legitimate usages there are and how many ones there are that have UB.

[2018-08-23 15:30] nikomatsakis commented on #53639
cc @rust-lang/wg-unsafe-code-guidelines -- we have this group just for this sort of thing =)

[2018-08-23 15:43] alercah commented on #53639
I'm 100% behind getting rid of `static mut`. Any attempt to use it which isn't UB is replaceable with something else which is safe, likely a `Mutex` or something thread local. Or, per the original comment, a custom alternate type implementing `Sync` directly.

[2018-08-23 15:49] SimonSapin commented on #50412
I was mislead by the title of this RFC. I thought it was only about reserving the keyword to have another option available. The title should have indicated that it also makes a "normative" change to syntax introduced in a previously-accepted RFC.

[2018-08-23 15:50] tirr-c commented on #53498
Interesting point: in this code, `Foo<A>` doesn't have method `foobar` but the compiler reports that it exists but is private.

[code]

[code]

However, with `pub fn foobar()`, the compiler reports error correctly.

[code]

[2018-08-23 16:00] joshtriplett commented on #53639
We should clearly document the undefined behavior, but I don't think we should remove the ability to have (unsafe) global mutable locations directly, without any layer of indirection. That would make it more difficult to build certain types of lock-free synchronization, for instance.

[2018-08-23 16:12] eddyb commented on #53639
@joshtriplett But you can always use `unsafe impl Sync` + `static`?

[2018-08-23 16:12] alercah commented on #53639
Can you give an example of what you mean? You can't do much more with `static mut` than you could with a static `UnsafeCell`.

[2018-08-23 16:14] joshtriplett commented on #53130
cc @rust-lang/cargo

Regarding crates in the sysroot, in the Cargo meeting we agreed that long-term we want to find a solution for those that involves explicitly specifying them in `Cargo.toml`. However, there was some hesitation to adopt something like `proc_macro = "builtin"` or `proc_macro = { builtin = true }`, primarily because people wanted something that would align with the future xargo-st

[2018-08-23 16:16] joshtriplett commented on #53125
@sanmai-NL Fair enough. In hindsight, I could have laid out some of the history more explicitly; in fact, I think it makes sense to edit in the explanations of that history near the top of the thread.

By "ready to commit to", I meant "ready to get on a path to stabilization as part of the edition".

[2018-08-23 16:19] RalfJung commented on #53639
Yeah, and that's just as unsafe. So TBH I do not see the point.

[2018-08-23 16:28] eddyb commented on #53639
@RalfJung No, it's not, and I've explained why. With `unsafe impl Sync`, you only have to check the *data accesses*, but with `static mut`, the *references themselves* can conflict.

[2018-08-23 16:30] bemeurer commented on #53631
I'd like to take this on if that's okay :)

[2018-08-23 16:31] alercah commented on #53639
It's not actually different from an `UnsafeCell` if we replace each `&var` with `unsafe {&*var.get()}`, right? Then the aliasing rules would be the same; the difference is that with the `UnsafeCell` you can still keep references to the cell itself?

[2018-08-23 16:33] RalfJung commented on #53355
I think I'd like the same for `RUST_LOG`... something that makes miri set that variable once compilation is done.

Of course, in a query-based compiler, I don't even know what that means...

[2018-08-23 16:34] RalfJung commented on #53639
@eddyb Ah okay I see -- that has nothing to with with `unsafe impl` tough and everything with `&UnsafeCell`.

I agree `&UnsafeCell` is safer than `static mut`.

[2018-08-23 16:34] eddyb commented on #53639
@RalfJung Okay I should make it clearer that the `unsafe impl` is for "custom synchronization abstraction". I'll go edit the issue description.

[2018-08-23 16:42] petrochenkov commented on #53130
As I previously said in https://github.com/rust-lang/rust/issues/53130#issuecomment-414615070, I'm wary of adding `proc_macro` into extern prelude because `proc_macro` is not a dependency of `std` and this means it cannot be added to `std` prelude, so this means it has to be hardcoded into the compiler.

I made an experiment yesterday and confirmed that `use crate as std;` placed into `rust/src/li

[2018-08-23 16:47] RalfJung commented on #53639
If we could weaken `static mut` to only give you raw pointers, that could help...

... tough people would probably still turn them into references ASAP.

[2018-08-23 16:52] bjorn3 commented on #53631
`-Z self-profile` provides a much less detailed output

[2018-08-23 16:55] kennytm commented on #53631
I'm mildly against if the replacement can't print some compilation progress at real time.

[2018-08-23 16:57] alexcrichton commented on #53322
I've bisected this to https://github.com/rust-lang/rust/pull/53031 and can reproduce this with a simple `fn main() {}`. It looks like LLVM doesn't recognize the `"native"` CPU in function attributes, only in the target spec presumably!

cc @michaelwoerister (as a heads up)

I'll look into seeing if we can extract the name of the CPU from LLVM and see if we can set that instead.

[2018-08-23 16:59] jkarns275 commented on #52000
Would an iteration limit be an acceptable solution to the the infinite loop problem? If the iteration limit is actually reached the code can just be compiled instead!

Though this may be deceptive since the const fns wouldn't really be const if the limit is reached.

[2018-08-23 16:59] RalfJung commented on #53552
Ah and because I don't know there else to dump this: `const_to_allocation` is a strange beast; it seems to be called for statics only so the logic that copies is unnecessary (and it is non-recursive anyway which seems incomplete).

Likely we want a query for statics that just returns an allocation, or maybe an `AllocId` instead, done?

[2018-08-23 17:10] ms2300 commented on #53576
So I'm looking into it and AnonConst, AnonPipe, LateBoundAnon, BrAnon, and Anon (in the FileName sense) don't need to be changed right? Really all that needs to be changed is the internal type of Anon -> Opaque which used to be TyAnon correct?

[2018-08-23 17:13] #51640 closed

[2018-08-23 17:19] varkor commented on #53576
That's right.

Yes, and anything that might refer to `TyAnon` as an "anonymous type" (for example in error messages or diagnostics), as well as variable and function names, such as anything containing `anon_ty`, or `mk_anon`, etc. It's quite hard to find all of these, but if you search for `anon` (case insensitive, but possibly mid-word), you should find most of them.

[2018-08-23 17:39] est31 commented on #53555
@oli-obk you misunderstood my suggestion: I didn't suggest that `const fn` should get `&&` and then it should become short-circuited. I suggested that we make the `&&` short-circuited in statics and constants before it is too late and they get the ability to mutate. This is unrelated to `const fn` *per se* (yes we are in the issue thread of `const fn` but it's here where the `&&` behaviour came up

[2018-08-23 17:45] japaric commented on #53639
How would they instantiate their custom type in stable Rust? User  `cons fn`s are unstable and even if we do stabilize `min_const_fn` that doesn't include anything that has bounds so even with that your example won't compile on stable.

To me this sounds like it would reduce what you can do in the 2018 edition. In the 2015 edition you can create `static mut` variables that contain primitive types

[2018-08-23 17:46] eddyb commented on #53630
@wesleywiser Can you mention that in #53631 as well?

For the record, this issue is about an *user-friendly* live view that can give you "a feel" for what the compiler is doing, at an insignificant cost (i.e. *without* recording every single relevant event).
We can do *multiple* things here, but among them I also want *this*.

[2018-08-23 17:48] eddyb commented on #53631
@bjorn3 How so, does it not have a per-query breakdown? I'll shamefully admit I opened this issue away from my laptop when I remembered `-Z self-profile` landed, and I haven't played with it yet.

Either way, we should track the remaining problems with `-Z self-profile` in this issue, and remove `-Z time-passes` when they're resolved.

@Zoxc also mentioned on IRC that it doesn't work when there ar

[2018-08-23 17:51] kennytm commented on #53631
@eddyb works for me 😃

[2018-08-23 17:51] estebank commented on #52000
It could be a compilation error, which would let the `const fn` continue to be `const` (code that fails to compile has no bearing in execution time ^_^).

[2018-08-23 17:52] wesleywiser commented on #53631
@eddyb We don't have per-query breakdown yet, just broad level categorization. Per-query is the next thing I plan on working on.

[2018-08-23 18:03] jkarns275 commented on #52000
True! Perhaps it would be worth adding a compilation option of some sort that would make it just a warning for edge cases.

[2018-08-23 18:04] eddyb commented on #53639
@japaric Okay, that's a good point. I removed the bound from the `struct` definition, does that help? If you use it with a `T: !Sync` type you just can't put it in a `static`, but it should be fine otherwise.

Note that you can use an associated constant if you don't need arguments in your constructor (e.g. `lazy-static` already uses `Lazy::<T>::INIT` for this pattern).
Otherwise, yes, the `min_co

[2018-08-23 18:05] alexcrichton commented on #53322
This should be fixed in https://github.com/rust-lang/rust/pull/53642

[2018-08-23 18:10] eddyb commented on #53639
@rfcbot poll @rust-lang/libs @rust-lang/lang Should we add `RacyUnsafeCell`?

[code]

[2018-08-23 18:13] eddyb commented on #53639
@RalfJung What we want is `&'static Abstraction`, I think, and `*mut` *only in methods* of it.

That is, the user of the abstraction should be outside of the "unsafe zone" and be able to use only safe code to interact with the abstraction, *otherwise it's not really a good abstraction*.

[2018-08-23 18:17] GuillaumeGomez commented on #52873
@nikomatsakis I didn't check yet, still on my todo list. I'll give it a look this week-end.

[2018-08-23 18:17] japaric commented on #53639
@eddyb

In embedded we use `static mut` variables with interrupt handlers. These
handlers are invoked by the hardware and non-reentrant by hardware design (while
executing an interrupt handler the same handler will *not* be invoked again if
the interrupt signal is received. Also the devices are single core). So we have a
pattern like to let users add state to their interrupt handlers:

[code]

Thi

[2018-08-23 18:17] SimonSapin opened #53643 "MIR/two-phase borrowck takes a lot of time and memory for the ucd crate"
Setup:

[code]

Baseline: 7.10s, peak RSS 542,664 KB

[code]

<details>
<summary>Output</summary>

[code]

</details>

-----

With MIR-based two-phase borrowck: 67s, peak RSS 2,347,764 KB. A 9× increase in time and 4× increase in memory.

[code]
<details>
<summary>Output</summary>

[code]

</details>

----

Note however that the current Nightly (tested above) is already a lot better than nightly-2

[2018-08-23 18:18] scottmcm commented on #53639
If there's an API that @japaric and libs are happy with, I'm happy to remove `static mut`.

[2018-08-23 18:28] nikomatsakis commented on #53583
@jchlapinski I know you said ignore, but I'll just expand briefly ;) in short, yes, we are aiming to allow macros to be used in those positions which would edit or alter the struct definition and expand it. `#[derive]` is one such macro, but it happens to not modify the struct definition but rather just produce extra items alongside (impls, specifically). Think "decorators" in Python, in any case.

[2018-08-23 18:31] nikomatsakis commented on #53583
That said, I myself am not entirely clear on the current contours of this design. So perhaps I will pose a few questions that I would like clarified:

- can you actually *use* a macro-rules macro in this position, or is it an error if a decorator resolves to a macro-rules macro?
    - presumably proc macros *can* be used
- can macros beyond derive macros add these "whitelisted attributes"?

[2018-08-23 18:36] QuietMisdreavus commented on #51737
@Mark-Simulacrum @kennytm I'm not sure what needs to happen to get this included in the compiler docs that get posted there, but it seems like this is a bit of an oversight there?

[2018-08-23 18:39] QuietMisdreavus commented on #51985
We don't even display docs on `use` statements to begin with, so that would need to happen as well.

I don't think allowing attributes inside a grouped `use` statement requires an RFC, per se, but it will need to be explicitly added. @rust-lang/compiler?

[2018-08-23 18:42] QuietMisdreavus commented on #51735
cc @rust-lang/rustdoc for changing how we package JavaScript, and @rust-lang/infra and @rust-lang/release for the issue of wanting to add a new build dependency.

As for `resource-suffix`, that was added so that docs.rs could have a per-release suffix it could use to aggregate rustdoc's static files into a global cache. If you want to remove `--resource-suffix`, you'll need to work the new build h

[2018-08-23 18:43] cramertj commented on #51985
+1 for allowing attributes on use-statement subitems/groups.

[2018-08-23 18:46] nikomatsakis commented on #53639
Personally, I think we should just deprecate `static mut` across the board, but not remove it from Rust 2018. We don't gain much by making it a hard removal, really -- we don't want to "make space" for some other meaning.

[2018-08-23 18:53] joshtriplett commented on #52040
We do need to fix the edition lints and rustfix suggestions for the edition, especially with `uniform_paths`.

[2018-08-23 18:55] nikomatsakis commented on #48216
@eddyb I would suggest preparing a "stabilization report" that contains summary of what behavior is to be stabilized, what corner cases were uncovered, what changed with respect to the RFC, etc. Given that you wrote "Rust 2018-only" that seems to imply to me that there have been *some* corner cases or other things discovered? Or some interaction with the module system changes?

[2018-08-23 19:02] QuietMisdreavus commented on #50023
To me this issue seems like it doesn't have a concrete suggestion to make? At best it's an aggregation of other issues that were reported elsewhere. If you have issues to report, report them separately, so that we can tackle them one-by-one.

As for the thrust of the OP, rustdoc doesn't have the same "stability" concerns that the compiler does; we add features as we see fit and change the display

[2018-08-23 19:05] nagisa commented on #53631
I want some way to output various "events" pertaining to the query system (query X start, query X end, query X etc) in whatever format, as they occur. Preferably the format would target some tooling that already exists, but I cannot really advise on anything in particular at the moment. See [this comment](https://github.com/rust-lang/rust/issues/53630#issuecomment-415396437) for examples of what I

[2018-08-23 19:05] eddyb commented on #53639
@japaric Ah, if you're doing code generation, you can have your own version of `RacyUnsafeCell` with a public field and no `const fn` constructor, would that work for you?
`UnsafeCell` being `!Sync` isn't *necessary*, but it does avoid forgetting to impl `!Sync`.

<hr/>

There's a more powerful pattern I prefer using in those situations:
[code]
[code]
There's another variation on this, where you m

[2018-08-23 19:07] Centril commented on #15872
On behalf of @aturon:

@rfcbot resolve input-output

[2018-08-23 19:08] nikomatsakis commented on #15872
One more point that I forgot to add. I thought that the elision rules as originally written would require you to sometimes use disjoint names just to force disjointness, which is weird. e.g. you might need to write this:

[code]

to permit two references with distinct lifetimes to be used.

[2018-08-23 19:11] QuietMisdreavus commented on #49514
@rust-lang/rustdoc What do y'all think? Should we try to compile `no_run` doctests to completion, or is this issue moot?

[2018-08-23 19:14] BatmanAoD commented on #51735
I'm not sure I understand; is this just a request to add a recommendation to the Rust documentation to use webpack to bundle and deploy WASM code? Or are we talking about changing the behavior of the `wasm32-unknown-unknown` target, and adding Node.js and NPM as dependencies for using that target?

[2018-08-23 19:17] #53529 closed

[2018-08-23 19:17] #53566 closed

[2018-08-23 19:17] Nemo157 commented on #53639
@eddyb note that the non-reentrancy that @japaric describes is _for that particular interrupt handler_ (and any lower priority, but that’s hard to do anything useful with). Interrupts are _not_ globally disabled during an interrupt handler on architectures like ARMv6-M. It might be possible to use a more complicated token scheme where each interrupt has its own token type, but I don’t know if anyo

[2018-08-23 19:18] QuietMisdreavus commented on #49554
I *think* this should have been fixed with https://github.com/rust-lang/rust/pull/51011 (and later https://github.com/rust-lang/rust/pull/51611). However, now the proc-macro re-export may not appear? IIRC, rustdoc doesn't even try to document proc-macros. Can you try running docs for your demo crate with the latest nightly?

[2018-08-23 19:26] eddyb opened #53646 "Replace std::io::lazy::Lazy with a copy of lazy-static's similar, but Once-using, type."
It's not clear why `std::io::lazy` doesn't use `Once`, as that was available at the time when it was introduced.

#53108 marked `Lazy::new` as `unsafe` because of the lack of reentrance safety in the mutex being used, but `Once` *specifically doesn't* have reentrancy issues.

`lazy_static` version: https://github.com/rust-lang-nursery/lazy-static.rs/blob/13159c2b615903d93b4cd4f98d17fdfe70392a3a/sr

[2018-08-23 19:34] ptal opened #53647 "Usage of proc_macro library for programming compilers that are not procedural macros"
The Rust error messages library (`Diagnostic` and the like) could be very convenient and useful to developers of compiler's prototypes. Unfortunately, `proc_macro` keeps private a bunch of functions that would be necessary to use it outside of the context of a macro. It is as simple as creating a `Span`, but also more complex as keeping track and managing source files.

Compiler developers have on

[2018-08-23 19:34] nikomatsakis commented on #52040
Nobody can tell what this was about. Maybe it doesn't apply. We're going to close it for now until we have some actionable bug.

[2018-08-23 19:34] #52040 closed

[2018-08-23 19:34] Nemo157 commented on #49554
I've regenerated and pushed the docs to the link in the OP. The normal macro is fixed, but the proc-macro re-export has stayed the same (including #49553 messing up the link).

[2018-08-23 19:46] nikomatsakis commented on #48216
It seems like the behavior is the same when you use `macro_rules!`, presumably because of hygiene. e.g., this works either with or without `_`:

[code]

decl macros are not stable, so I guess the hygiene interactions there don't matter too much.