[2022-06-07 17:05] cjgillot commented on #96956
https://github.com/rust-lang/rust/pull/93803 made this warning more precise, so it triggers more often.
This is a hard-warning.  Fixing it requires to turn it into a lint.

Steps:
- declare the lint in `rustc_lint_defs::builtin` and write a proper explanation;
- in `rustc_resolve::late::lifetimes`, replace the call to `struct_span_warn` by `struct_span_lint_hir`, the reference `HirId` is the bound

[2022-06-07 17:15] pnkfelix commented on #54185
@JohnTitor that's right: at this point, we would welcome a Pull Request that removes the `#![feature(infer_static_outlives_requirements)]` and all the code guared by that feature gate.

As a related task, we would also want to update https://github.com/rust-lang/rfcs/pull/2093 ("Infer T: 'x outlives requirements on structs") to explicitly state that we decided not to move ahead with the `infer_sta

[2022-06-07 17:25] joshtriplett commented on #49453
We discussed this in today's @rust-lang/lang meeting.

An omnibus issue with a variety of items in it is hard to make progress on. We're going to close this issue, *however*, we'd like to add links to the items in this list that are official (under the rust-lang organization): the API guidelines, and (if the team maintaining it thinks it's ready for this) the async programming guide.

[2022-06-07 17:25] #49453 closed

[2022-06-07 17:26] Mark-Simulacrum commented on #49453
For helpful reference: https://github.com/rust-lang/rust/blob/master/src/doc/index.md is the file which generates this page; offline availability currently means a submodule imported into this repo.

[2022-06-07 17:51] tanriol commented on #87074
I'd still suggest stating somewhere in the documentation that if safety of your type depends on some properties (filesystem, device driver, etc.) of the underlying file descriptor that can not hold for a reasonable FD (where "reasonable" means "not `/proc/self/mem` or something like it"), then implementing `From<OwnedFd>` is *not* appropriate and, if needed, you should make an unsafe associated fu

[2022-06-07 18:03] rschulman commented on #41841
@Dylan-DPC Honestly, I haven't tried since much after I filed this issue, sorry!

[2022-06-07 18:10] jhpratt commented on #85204
This is definitely expected behavior and not a bug, as inherent associated types are not implemented. In my opinion this should be closed in favor of the tracking issue (#8995).

@rustbot label -C-bug

[2022-06-07 18:23] joshtriplett commented on #94501
@SimonSapin They were, but that was reverted in 07ea143f96929ac7f0b7af0f025be48a472273e5 because it caused breakage; we can re-add it as re-exports when we stabilize this.

[2022-06-07 18:29] joshtriplett commented on #47027
libc currently does rustc version detection, so libc *could* turn these into re-exports when built on a sufficiently new rustc.

[2022-06-07 18:30] ehuss commented on #97549
@badboy Can you confirm that you have 3 CPUs? In the error message in your log, I see 9 process errors which implies that more than 3 processes were running concurrently.  Usually, if Cargo is limited to building 3 jobs in parallel, and one of them fails, it will halt immediately and not try any more.  1.61 changed to use the standard library [`available_parallelism`](https://doc.rust-lang.org/std

[2022-06-07 18:52] SimonSapin commented on #47027
Do the definitions agree for all targets? As long as they do there’s no effect for users, for type aliases to primitive integers (as opposed to `c_void` which is defined as an `enum`), so choosing to reexport or not might only be a question of what makes maintenance easier. For example when adding support for a new target.

[2022-06-07 19:10] antmelnyk commented on #65143
Quite sad it's not stabilized yet. Are there any issues? 🥲 I find the method would be pretty convenient when cloning of the content under `Cow` is bad and has to be double-checked for being `Owned` in critical places.

Example:

[code]

[2022-06-07 20:16] ehuss commented on #97549
OK.  My suspicion is that CircleCI's Docker uses cgroups v1 (as does my local system), and #92697 doesn't help.

@the8472 is it feasible to support cgroups v1 in `available_parallelism`?

If not, I'm inclined to revert https://github.com/rust-lang/cargo/pull/10427.  cc @joshtriplett @weihanglo

[2022-06-07 20:33] sunfishcode commented on #87074
On Unix-family platforms, `std`'s types don't statically require specific types of file descriptors. Even specialized types like `std::fs::File` may safely hold non-file things like sockets or directories or timer fds or process fds or devices or many other things. Before `OwnedFd`, people have been known to deliberately use `File` in this way, as a makeshift `OwnedFd`. It's safe to do this, becau

[2022-06-07 20:35] the8472 commented on #97549
Should be feasible, yes. But taking a look at the `num_cpus` implementation it could end up being more complex because cgroupv1 has a more configurable directory structure that might require scanning `/proc/mountinfo` to find the place where cpu controller is mounted, which is something @joshtriplett wanted to avoid for performance reasons.

[2022-06-07 20:38] nbdd0121 commented on #93740
We don't have priority inheritance for our futex implementation either.  The doc deliberately says that locking behaviour is unspecified so we can be flexible about implementation.

For most users, a small and lightweight mutex would outweight the lack of priority inheritance. (There's no way to set priority with just std anyway, so I'd argue that users shouldn't expect anything about priority inh

[2022-06-07 20:41] m-ou-se commented on #93740
How important priority inheritance is, depends on the platform. Both macOS+iOS and Fuchsia folks have told me it's very important on their platforms.

[2022-06-07 21:02] the8472 commented on #87074
I see several overlapping cases

* The file descriptor is extremely hazardous. `/dev/mem` and the block devices underpinning mounted filesystems are such examples. Passing those around too liberally is indeed a fault of the caller
* The library does some very unsafe things such as `mmap` or reading bytes and transmuting them into `repr(C)`. It's probably the library's fault for exposing `From<Owne

[2022-06-07 21:05] sternj opened #97847 "Error when compiling with serde_hex"
### Code

[code]

### Meta

[code]

### Error output and Backtrace
The backtrace was printed without any separate intervention
[code]

</details>

[2022-06-07 21:08] kprotty commented on #93740
Is the main goal of priority inheritance to avoid priority inversion? If so, priority inversion feels like anti-pattern inherently due to requiring threads in different priorities contending on the same lock.

[2022-06-07 21:13] nnethercote commented on #97549
The comments above make it sound like the memory problems are not the compiler's fault per se, but rather changes in how many compiler processes Cargo is spawning.

https://perf.rust-lang.org/compare.html?start=2022-01-01&end=2022-06-06&stat=max-rss is a quick sanity check, comparing the max-rss measurement for the development compiler from Jan 1st (definitely before the 1.61 cutoff) and June 6th.

[2022-06-07 21:27] joshtriplett commented on #97549
Supporting cgroupv1 should still be possible without scanning /proc/mountinfo, by looking in the standard location where it's generally mounted. Could you post the output of `mount` on CircleCI.

[2022-06-07 21:29] compiler-errors commented on #97847
Possibly fixed by #97703

[2022-06-07 21:29] compiler-errors commented on #97820
Possibly fixed by #97703

[2022-06-07 21:29] compiler-errors commented on #97806
Possibly fixed by #97703

[2022-06-07 21:33] sunfishcode commented on #87074
I'm having difficulty translating these into specific areas in the documentation that could be modified, and specific points to make. Would anyone be able to suggest wording here?

I'm not aware of any system calls which behave like this. Does anyone have specific examples of this?

[2022-06-07 21:44] #95271 closed

[2022-06-07 21:44] #96299 closed

[2022-06-07 21:44] #96512 closed

[2022-06-07 21:44] #97378 closed

[2022-06-07 21:50] nagisa commented on #97723
So the short summary is basically: something changed in how we emit the uwtables between 1.55 and 1.56. uwtables are clearly still “valid”, at least for the purposes of the unwinder used by gdb, but not so for the purposes of whatever unwinding implementation dtrace uses. Ultimately it is LLVM that's emitting the tables so…

* I wonder if dtrace fails the same way with clang 13 (note: make _sure_

[2022-06-07 22:07] the8472 commented on #87074
https://lore.kernel.org/lkml/1276525077-26347-1-git-send-email-tytso@mit.edu/

The ioctl 2 has different meanings for regular files and some character device drivers. That was about a kernel bug where the kernel misinterpreted it, but they fixed that which still means that it can cause different behavior (or error out because the ioctl is not supported) depending on what file descriptor you call i

[2022-06-07 22:08] kupiakos commented on #64162
Rustdoc auto-treating indented text as a Rust code block has been a massive pain point for us transitioning from C code with existing documentation. The default _should_ be to treat _all_ indented code blocks as if it were the `text` language were specified:

[code]

should be treated semantically identically to:

    Syscall info:
[code]
rather than trying to interpret the indents as Rust code. I

[2022-06-07 22:50] zachwolfe opened #97850 "Misleading diagnostic when passing a doc comment to macro"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=ef09a8b3babfcc78309404420421b477
[code]

The current output is:

[code]

Replacing the empty macro pattern with `#`, `#[]`, `#[doc]` or `#[doc=]` will result in near-identical error messages about the `[`, `doc`, `=` or string literal tokens, respectively. This is misleading, because these tokens do

[2022-06-07 23:27] clarfonthey commented on #84605
So, I thought about it a bit, and I've gone back on whether the `#[no_coverage]` attribute should be renamed, and I think it should keep its existing name. If there were other options for a potential `#[coverage(...)]` attribute, they would be processed by completely different code and/or tools, and it wouldn't make sense to group them under the same name. Additionally, there's the precedent of `#

[2022-06-08 00:34] jgoerzen commented on #58326
This led to an otherwise-unnecessary use of `std::io::copy` for me.  I have data that I want to pipe to a command.  This data may come from stdin, or it may come from some other Read.  I can't just call `.stdin()` on this with a handle that comes from `io::stdin()` if I've read anything from that handle, because the first read, even if read_exact on 1 byte, will have read 8K and the remainder of t

[2022-06-08 01:05] oeed commented on #96479
I am also running to this issue when building in Docker on an M1 in an x86 container. It's happening on various different crates, differing each build, so appears to be a compiler issue as a opposed to a specific crate.

[2022-06-08 02:02] RalfJung commented on #63085
FWIW, that is exactly how I am treating place alignment in [MiniRust](https://github.com/RalfJung/minirust).

[2022-06-08 02:03] programmerjake commented on #77234
ping

[2022-06-08 02:03] nnethercote commented on #97549
FWIW, people like me who work on compiler performance certainly do care about memory usage. It's [tracked continously](https://perf.rust-lang.org/?start=&end=&kind=raw&stat=max-rss) and [triaged weekly](https://github.com/rust-lang/rustc-perf/tree/master/triage), and we're always happy to hear about regressions.

[2022-06-08 02:04] programmerjake commented on #93157
ping

[2022-06-08 02:18] ChayimFriedman2 opened #97854 "Recovering from keyword identifier mentions raw identifier that never appeared in the source code later"
[code]
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=92d99a1b9f37c71ce9f5a5b26f511489
[code]
The second error refers to `r#while` while we wrote `while`, because we recover as if we've written a raw identifier. Feel free to close if this is not a problem.

[2022-06-08 02:26] spastorino commented on #96346
@raiyansayeed feel free to ping me too on Zulip if you need help or something.

[2022-06-08 02:28] mbartlett21 commented on #61137
Copy the test, specifically line 8:

https://github.com/rust-lang/rust/blob/673d0db5e393e9c64897005b470bfeb6d5aec61b/src/test/ui/variance/variance-regions-direct.rs#L6-L13

[2022-06-08 02:47] jgoerzen opened #97855 "process::Command data loss when using Stdio::inherit for stdin and stdin has been read from"
I tried this code:

[code]

In this case, I had already read a few bytes from stdin using `stdin()` and `read_exact`.  strace showed that it read 8K from stdin, and that the command started missed the remainder of the 8K.  #58326 discusses this in a roundabout way, but fundamentally it should be safe to read from stdin and then subsequently use it as input to a Command.  The workaround was to use

[2022-06-08 03:07] #95307 closed

[2022-06-08 03:41] compiler-errors commented on #97854
This is not ideal, but pretty difficult to fix IMO.

[2022-06-08 04:11] ChayimFriedman2 commented on #97854
Yes, I also think that, but maybe we can see if the identifier was written raw. I'll take a look later.

[2022-06-08 04:17] compiler-errors commented on #97854
I'm hesitant to suggest fixing this, because it would require fixing (and thus complicating)  _every_ case where we rely on being able to print the the ident of an variable expression in a suggestion.

The only possible fix I would recommend investigating would be suggesting `r#while`, but keeping the variable's own ident as `while` instead of replacing it with the recovery `r#while`. However, the

[2022-06-08 04:23] JakobDegen commented on #97092
Yes, that is what I am saying.

So, straying a little bit off-topic, but what I was getting at above is that under SB a "logical read" and a `&x` (ie a retag) are not the same, and actually cannot be, because of `UnsafeCell`. (`&(foo: Mutex<u8>)` cannot read into the `Mutex`). In any case though, I think the right idea for now is to make this equivalent to `&*x` (ie a reborrow). That will be enoug

[2022-06-08 04:37] gimbles commented on #96956
@rustbot claim

[2022-06-08 04:37] ChayimFriedman2 commented on #97854
This is what currently happens: https://github.com/rust-lang/rust/blob/47aee31b2a89cb7de97d779869a30b046632b6af/compiler/rustc_parse/src/parser/mod.rs#L535. I guess that the printing machinery automatically adds `#`.

[2022-06-08 04:46] compiler-errors commented on #97854
Ah, makes sense. Seems like someone else also thought that we should render `r#while` for the ident always :stuck_out_tongue_winking_eye:

[2022-06-08 04:50] ChayimFriedman2 commented on #97854
Seems to me more like someone that though that if you have an identifier as a keyword, it was obviously escaped. Can't blame them :)

[2022-06-08 04:58] kkaatii opened #97858 "Compiler error that only occurs occasionally"
Note that the below error cannot be repeated by myself anymore...I tried minimizing the bug but then it disappeared and even after reverting back to the original troublesome code cargo no longer complains.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-08 06:37] apiraino commented on #94564
Adjusting priority after further discussion [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2394564.20Binary.20crashes.20when.20statically.20linked.20with.20LTO.20turne.E2.80.A6).

@rustbot label -P-high +P-medium -I-prioritize

[2022-06-08 07:37] m-ou-se commented on #94564
@apiraino That works fine here too (glibc 2.35), but running `./x.py test src/test/ui/issues/issue-94564.rs` here still fails. Looks like x.py test isn't running the exact same command.

[2022-06-08 07:49] m-ou-se commented on #94564
It breaks only with `-Crpath`.

[2022-06-08 07:57] badboy commented on #97549
[code]

[2022-06-08 08:07] m-ou-se commented on #94564
[code]

Looks like there's simply an `assert` that checks that there's no rpath when statically linked:

[code]

https://github.com/bminor/glibc/blob/4f7b7d00e02e22acdda8c13e6db47d12a791c5e3/elf/get-dynamic-info.h#L133

[2022-06-08 08:09] m-ou-se commented on #94564
So that's a separate issue from the one reported here. The original report was without `rpath`, and that now works fine.

[2022-06-08 08:10] badboy commented on #97549
Explicitly limiting cargo to 6 jobs (`--jobs 6`) seems to give us back about the same run time, while not running into memory or cpu exhaustion, so for now I'll probably go with that.

[2022-06-08 08:22] m-ou-se commented on #94564
I've updated https://github.com/rust-lang/rust/pull/96208 to include `-Crpath=no` in the test. Then it passes.

[2022-06-08 09:10] amunra opened #97866 "TryFrom / TryInto API Docs and Infallible"
I had a hard time figuring out how design a function signature to pass an object to a method that can take either a `Thing` or a `TryInto<Thing, Error=MyError>`.

I think there should be an example on how to do this somewhere in the API docs, probably under `TryInto`.

Here's what it took me to get this working:

[code]

[2022-06-08 10:24] #97421 closed

[2022-06-08 10:24] #80112 closed

[2022-06-08 10:24] #97788 closed

[2022-06-08 10:42] the8472 commented on #97855
There's #78515 for switchable buffering for stdout. A similar API to switch to unbuffered IO could added for stdin.

[2022-06-08 11:04] JohnTitor commented on #94378
Duplicate of #67498

[2022-06-08 11:13] JohnTitor commented on #67498
Triage: Fixed by #95565, marking as `E-needs-test`.

[2022-06-08 11:32] Globidev commented on #91639
Rust currently does not allow any kind of type elision in paths though, which is the only scope affected by this lint. You always have to explicit the types in your function's signature and we don't allow eliding any kind of type or const generic parameters either.
[code]
is not valid and probably for a good reason: it would be hard to see at a glance that `foo` is actually generic
We can probably

[2022-06-08 12:27] djc opened #97877 "Limiting deprecated lint output"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f4b5234e06a28be1f975034f107e1367

[code]

The current output is:

[code]

I would argue that this code should not output any warnings, since all usages of deprecated items are, themselves, deprecated; there is no non-deprecated code using deprecated code.

[2022-06-08 13:54] jplatte opened #97881 "Rustdoc flag --enable-index-page no longer works consistently"
For two project I maintain, the docs generated by CI no longer includes an index file despite the appropriate nightly flags being used. Here is a reproduction:

* Clone https://github.com/ruma/ruma/tree/rustdoc-bug
* With the environment variable `RUSTDOCFLAGS` set to `'--enable-index-page -Zunstable-options'`, run `cargo +nightly doc --no-deps`
* Observe *no* `index.html` file in `target/doc`

##

[2022-06-08 13:55] jplatte commented on #97881
To be clear, the title says "consistently" at the end because I have tried to reproduce this in a Cargo project with just one package as well as a smaller Cargo workspace, but couldn't.

[2022-06-08 14:14] jgoerzen commented on #97855
That would provide a more elegant workaround for sure, but as a resolution it would be incomplete, since the default situation would still lead to data loss.

I would argue the default should be unbuffered, and a buffered stdin should be wrapped in BufReader by the user, that being a type that would be unsuitable for conversion to Stdio for a Command.  That would go a long way towards preventing t

[2022-06-08 15:05] the8472 commented on #97855
Currently you can access the underlying file directly this way:

[code]

The underlying syscalls are, sure. But most languages provide buffering and possibly thread-safety around stdio to avoid line-tearing and to speed up small reads/writes.

Even libc has buffering. https://man7.org/linux/man-pages/man3/setbuf.3.html

[2022-06-08 15:25] romanzac opened #97884 "Incomplete error message "future created by async block is not `Send`""
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-06-08 15:48] LaoLittle opened #97885 "thread `rustc` panicked at `Box<dyn Any>`"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

`cat /proc/version`
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-08 16:01] rust-highfive opened #97886 "`miri` no longer builds after rust-lang/rust#97873"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#97873, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-06-08 16:12] apiraino commented on #97607
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2397607.20regression.3A.20parameter.20type.20may.20not.20live.20long.20enough) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2022-06-08 16:15] apiraino commented on #97723
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2397723.20dtrace's.20ustack.28.29.20function.20cannot.20unwind.20stack.20frame.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2022-06-08 16:28] computergeek12 commented on #97885
Same error here, but with `aes_gcm` library.

[code]
<details>
    <summary>Backtrace</summary>
[code]
</details>

[2022-06-08 16:30] computergeek12 commented on #97885
Function causing this issue:
[code]

[2022-06-08 16:49] wtfsck commented on #97222
Any news on this? This is a regression since 1.61.0 (latest version).

Rustc 1.45 crashed too, but that got fixed. I reported it to wasm-bindgen https://github.com/rustwasm/wasm-bindgen/issues/2244 and it got reported here https://github.com/rust-lang/rust/issues/74564 and later fixed.

[2022-06-08 16:57] yaahc commented on #67644
Fantastic report, thank you

@rfcbot merge

[2022-06-08 17:11] joshtriplett commented on #54727
There are a number of features tracked in this issue. It sounds like some have been stabilized, while others (like `def_site`) haven't. Would it be possible to get a summary of the remaining work needed for proc macro hygiene? (It may also make sense to break this issue up into multiple tracking issues, or alternatively, get an issue with a checklist.)

[2022-06-08 17:21] joshtriplett commented on #54882
In 2019 @nagisa mentioned that the propagation mechanism was not implemented. Is that still the case?

We discussed this in today's @rust-lang/lang meeting, and we're interested in getting this over the finish line.

We also do see the multiple people asking after `optimize(none)`, and we'd be open to that, but we feel that that needs a follow-up RFC or MCP defining the exact expectations there, s

[2022-06-08 17:26] spastorino commented on #77608
If someone wants to work on this, feel free to use my code, I don't remember anymore because it has more than 1 year :). Feel free to contact me on a Zulip topic.

[2022-06-08 17:41] joshtriplett commented on #56414
We discussed this in today's @rust-lang/lang meeting. We *think* that this could potentially be removed at this point, but we'd like to confirm which cases still produce errors, and whether further changes have reduced the set of things that produce errors.

[2022-06-08 17:43] pnkfelix commented on #56414
Another way of putting this:
* Is the check sufficiently annoying to users that we should remove it?
* Another take: does it provide so little utility that we should remove it because it is more trouble to continue supporting it?

[2022-06-08 17:48] joshtriplett commented on #56975
We discussed this in today's @rust-lang/lang meeting. The only part of this that seems lang-specific is the intrinsics; everything else appears to be the domain of libs.

Of the intrinsics, we were wondering, since we have subsequently shipped `asm!`, is there substantial value in having intrinsics for SGX-specific instructions, or can we just ask the SGX libraries to use `asm!` and provide wrappe

[2022-06-08 17:56] #57240 closed

[2022-06-08 17:57] Enselic opened #97889 "Tracking Issue for `no_ignore_sigpipe`"
The feature gate for the issue is `#![feature(no_ignore_sigpipe)]`.

A new top-level binary crate attribute `#![no_ignore_sigpipe]` will be added. When activated, programs don't have to explicitly handle `ErrorKind::BrokenPipe` any longer. Currently, the program

[code]

will print an error if the output is redirected to a short-lived pipe, e.g.

    % ./main | head -n 1
    hello world
    thread

[2022-06-08 17:58] Mark-Simulacrum commented on #57224
Closing this issue after brief discussion in lang backlog bonanza. It doesn't seem like this is driving any real improvement here. Today the unstable book appears auto-generated, at least for lang features, which likely means we have at least *a* page for each item.

If we want to drive more meaningful content, I think we likely need either automation or better process around updating these pages

[2022-06-08 17:58] #57224 closed

[2022-06-08 18:05] jethrogb commented on #56975
Sure, but couldn't you ask the same question of every other intrinsic?

[2022-06-08 18:19] dtolnay commented on #67644
Both is correct given that this affects meaning of `.await` language syntax.

[2022-06-08 18:27] joshtriplett commented on #97549
Regarding groupv1 support in libs: Since this is not the common case, and on most systems processes aren't in a cgroupv1, I think we should try to minimize the amount of time this takes, even if that means it's best-effort-only.

[2022-06-08 18:38] hkratz commented on #97885
Could be related to #89862.

[2022-06-08 19:00] the8472 commented on #97549
We can check `/proc/self/cgroup` first and if the process is in the root cgroup or there is no cgroup support compiled into the kernel then we don't need to scan mountinfo either. We could check cgroupv2 first, then fixed cgroupv1 list and then fallback to mountinfo scan.
So we could have a thorough and fast for most configurations implementation, at the price of complexity.

But yeah, I guess I'l

[2022-06-08 19:47] yaahc commented on #84186
moving the FCP to the new partial stabilization

@rfcbot cancel

[2022-06-08 19:55] joshtriplett commented on #83186
We discussed this in today's @rust-lang/libs-api meeting.

We're in favor of stabilizing `Path::try_exists`. We'd support a partial stabilization for that.

We had a long conversation about whether we should stabilize `std::fs::try_exists` as-is, stabilize it as `std::fs::exists` (with the same signature), or providing both `std::fs::exists` and `std::fs::try_exists` (with the same signature).

[2022-06-08 20:26] #84634 closed

[2022-06-08 20:26] #95136 closed

[2022-06-08 21:10] ehuss commented on #97549
I'm not sure I agree that most systems are using cgroups v2.  My own system does not, and support has only recently been added.  I posted https://github.com/rust-lang/cargo/pull/10737 with a revert on beta.  If we can get (however basic) cgroups v1 support in 1.63, that would make me feel a lot more comfortable with using the std implementation.

[2022-06-08 21:40] estebank commented on #23481
This code now compiles since 1.56. On 1.55, the error was:

[code]

[2022-06-08 21:40] #23481 closed

[2022-06-08 21:42] estebank commented on #31022
Triage: no change.

[2022-06-08 21:44] estebank commented on #30597
[The current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=0d827d8311cb6a40d8941d306c717f1e) provides an incorrect suggestion:

[code]

[2022-06-08 21:50] estebank commented on #34905
[Current output](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=690cb33079029d2cbaf4aacc428c6af1):

[code]

I believe that the other open tickets linked above are better for tracking the outstanding work needed to improve these errors.

[2022-06-08 21:50] #34905 closed

[2022-06-08 21:52] estebank commented on #33624
Triage: [no change](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=35c69a6d1bcf13d28755b27353b0c32f).

[2022-06-08 21:55] #37474 closed

[2022-06-08 22:00] estebank commented on #41261
Output has regressed to the original output on nightly.

[2022-06-08 22:02] estebank commented on #41343
Current output:

[code]

[2022-06-08 22:03] StephanvanSchaik opened #97898 "ICE: deconstructing a pattern with multiple variable bindings of OR'ed strings."
### Code
This ICE triggers for the following code, in which the pattern involves two variable bindings, each for two strings OR'ed together:

[code]

If you put them all on a single line as follows, then the code compiles fine:

[code]

In addition, without the variable bindings, the code also compiles fine:

[code]

### Meta

`rustc --version --verbose`:
[code]

`rustc --nightly --version --verbo

[2022-06-08 22:07] kupiakos commented on #48214
There's a particular pain point in the trait system that this feature enables: impossible-to-satisfy bounds on impls of trait items.

It's standard practice to have some items on a trait "opt-out" of making the trait object-unsafe with a `where Self: Sized` bound. But what if you're implementing on a concrete DST?

[code]

Theoretically, we **shouldn't** have to specify `fn foo` for our `impl Foo

[2022-06-08 22:11] estebank commented on #42259
Current output:

[code]

[2022-06-08 22:11] #42259 closed

[2022-06-08 22:13] estebank opened #97899 "Redundant suggestion on E0283"
[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=459892bb874954bdc6749fea03bfcf6d

[2022-06-08 22:17] estebank commented on #43013
Triage: a few cosmetic changes, but otherwise it's the same.

[2022-06-08 23:04] kupiakos commented on #57900
For reference, you can also work around this on stable with an unused [HRTB][hrtb]:
[code]

[hrtb]: https://doc.rust-lang.org/nomicon/hrtb.html

[2022-06-08 23:14] sunfishcode commented on #87074
APIs for `ioctl`s that have multiple meanings, where it's possible to get Undefined Behavior when the wrong meaning is invoked, should either use `unsafe` or `fstat` to ensure that they only operate on the types of descriptors they expect.

`From<OwnedFd>` does not put any conditions on the types of file descriptors it can accept. To be sound, users of `From<OwnedFd>` must not permit undefined beh

[2022-06-08 23:18] Amanieu commented on #96797
This is fixed by #97900.

The proper behavior for LLVM is still unclear, but at least #97900 fixes the immediate issue since those symbols now have external linkage.

This is a separate issue, but I think the proper way to fix this is to ensure that the `global_asm!` itself reaches the linker. The problem here is that if there are no symbols to pull in the object file containing a `global_asm!` fr

[2022-06-08 23:22] jonhoo opened #97901 "Can't return reference to passed-in referent that is assigned in a loop"
I tried this code:

[code]

I expected to see this happen: it compiles and runs

Instead, this happened: it [fails to compile](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=16baa5da9afc285b01d8a351bdd28bbd) with the error:

[code]

It's worth noting that the code builds fine if the `break` is unconditional.

Even though the reproduction is somewhat different, this _feels_

[2022-06-08 23:36] nbdd0121 commented on #96797
It's of a different cause, but will have the same effect. I prefer to have it tracked in the same issue (but different work items).

The problem is two fold. For the normal non-LTO linking, what you described is sufficient.

The major issue is LTO. Because LTO works on IR but not binary, it doesn't know if a symbol is being used in `global_asm`. We need to pass a list of symbols to LLVM to ensure

[2022-06-08 23:39] nagisa commented on #54882
The propagation mechanism still hasn't been implemented and at this point I'm quite confident that it is going to be something we will want to have as a more general mechanism (e.g. this is desirable for attributes such as `#[no_coverage]` as well.)

My feeling is that we should actually remove the part about propagation from the RFC scope for this specific attribute and work on it separately, def

[2022-06-08 23:55] kulicuu opened #97902 "bug"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-09 00:36] raiyansayeed commented on #96346
@rustbot claim

[2022-06-09 01:29] ChayimFriedman2 commented on #97899
It duplicates the suggestion even without the `.filter()` call (https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=61df79395f43232a9d13a924c2ac860c) and on any iterator type I tried (not just `IntoIterator`).

[2022-06-09 01:49] ChayimFriedman2 commented on #97866
I don't think this usage is common enough that we need to put an example on the docs. Most of the times you're generic over the error type, or need a concrete error type, but not either of error types.

[2022-06-09 01:52] #97484 closed

[2022-06-09 01:52] #67498 closed

[2022-06-09 01:52] #97810 closed

[2022-06-09 02:03] Mark-Simulacrum commented on #94564
Is there a reason that we're not statically forbidding (or at least linting?) on such a configuration? It seems like if it's going to (likely) lead to an assertion at runtime, it'd be better for rustc to avoid letting you compile in such a mode, rather than accepting it. In general I think we try to hide this kind of sharp edge from users with better compiler error messages.

[2022-06-09 02:28] onlineSoftwareDevOK commented on #61137
@mbartlett21 Thank you, it worked. Can you explain how the correct version of this code would look like, please? I guess this is a contravariant error (since I am getting three - ) but I am not sure

[2022-06-09 02:45] TennyZhuang commented on #94047
I'd like to share a benefit from `try_collect` vs `collect::<Result<?, ?>>`. `try_collect` allows me to hide the concrete type of the `Result::E` type, which is convenient when we want to split an error from a more extensive scope to a smaller one. If we use `try_collect`, we don't need to change every code that uses the `Result`, and `?` will do the implicit cast from the low-level error to the h

[2022-06-09 03:10] jonhoo commented on #97901
Ah, hello #51545/#54463 my old friend.

[2022-06-09 03:22] compiler-errors commented on #97884
I'm not sure I understand what's wrong with the first error. Does the `rocket::main` macro require that the main function is `Sync`? That is -- if you fix the `async fn main` to be `Send + !Sync`, does it give another error saying "future created by async block is not `Sync`"?

[2022-06-09 04:15] mbartlett21 commented on #61137
@onlineSoftwareDevOK
Perhaps you didn't understand properly. It is not an error that needs to be fixed as such. It only exists so that variance can be tested with the rest of the test suite.

See for example:
https://github.com/rust-lang/rust/blob/b97dc20784698730bd7bc1a20eabdcd32066d174/src/test/ui/feature-gates/feature-gate-rustc-attrs-1.rs#L3
https://github.com/rust-lang/rust/blob/b97dc20784698

[2022-06-09 04:32] #73283 closed

[2022-06-09 04:55] dtolnay commented on #97549
I am seeing the same symptom (builds failing due to enormously increased memory usage in 1.61.0) but in a **non-Cargo** environment. I am still investigating but I notice that rustc calls `available_parallelism()` too, not just Cargo. Cargo's use has been reverted to `num_cpus` in https://github.com/rust-lang/cargo/pull/10737 but it's possible that https://github.com/rust-lang/rust/pull/94524 will

[2022-06-09 05:40] leakingtapan opened #97906 "Rustc paniced after enum rename"
### Code
I have an enum like below
[code]

I rename the enum to:

[code]

That's the only change I made. After the rename, I recompiled my code and rustc paniced. See below for stack trace. The panic happens consistently afterwards.

I tried several ways to reproduce the bug:
1. copy the whole source tree (with the new enum name) to a new cargo project, but this doesn't reproduce
2. `cargo clean`

[2022-06-09 05:50] tmiasko commented on #96797
Do you have an example demonstrating the LTO related issue?

Optimizations during LTO cannot remove the symbols from `llvm.compiler.used` yet, since as you describe the references to the symbol from the inline assembly are still opaque to it. For example, the internalize pass in LLVM comments:

[code]

[2022-06-09 06:17] xldenis commented on #97799
I think I'm encountering the same issue, I've noticed that the variables inside an `if let` block don't have nested scopes in their `VarDebugInfo`, that is:

[code]

has the following scope tree:

[code]

instead of
[code]

[2022-06-09 07:03] DemiMarie commented on #94564
This seems like a plain bug in glibc.  At the very least it should not be segfaulting trying to print an assertion failure message.

[2022-06-09 07:51] amunra commented on #97866
I'm not _intentionally_ trying to be generic over multiple error types here, but rather just I'm trying to get a function to take either `T` or something that can try into `Result<T, MyError>`.

This works out of the box with `From`/`Into` and is pretty surprising it doesn't with `TryFrom`/`TryInto`: I think it's a pretty major gotcha.

As far as I understand, these types are provided to allow des

[2022-06-09 08:26] Kixunil commented on #83186
@joshtriplett can I send a stabilization PR now or is something else needed first?

[2022-06-09 08:34] Amanieu commented on #96797
That comment suggests that even with internal visibility, LLVM isn't supposed to delete a symbol that is used by `llvm.used`. So perhaps the issue really is in the MergeFunctions pass which should be fixed to preserve a symbol alias if that symbol is used by `llvm.[compiler].used`.

[2022-06-09 08:58] m-ou-se commented on #93203
NLL has been stabilized/merged. The examples that broke before now compile fine on the latest nightly. :)

[2022-06-09 09:05] m-ou-se commented on #83186
@Kixunil We usually do the FCP on the tracking issue, before opening the stabilization PR. But in this case, since it's a partial stabilization, it's probably better to open a stabilization PR first and do the FCP there. Then it's very clear what exactly we are and aren't stabilizing.

So yes, go ahead. :) (Thanks!)

[2022-06-09 09:11] JohnTitor commented on #97491
Fixed by #97595, adding E-needs-test.

[2022-06-09 09:12] JohnTitor commented on #97491
Wait, it has a [regression test covering this case](https://github.com/rust-lang/rust/pull/97595/files#diff-f6fc312d53bc686c4d391e17876f38984491c4fac2af82eb20dbac2f74c3adae), closing.

[2022-06-09 09:12] #97381 closed

[2022-06-09 09:51] 450220020 commented on #54725
stable version required

[2022-06-09 10:39] apiraino commented on #97836
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2397836.20ICE.3A.20'no.20entry.20found.20for.20key'.20when.20using.20.60for.3CT.3E.20T.3A.20.E2.80.A6)).

@rustbot label -I-prioritize +P-low

[2022-06-09 10:44] steffahn commented on #97836
Regression in #95779, cc @cjgillot @petrochenkov

[2022-06-09 10:48] Kixunil commented on #83186
Yeah, I suspected something along those lines, submitted!

[2022-06-09 11:05] Genysys commented on #97884
I think the OP is referring to the fact that the since the Trait requires both `Send and Sync` , the compiler error should show that .
i.e.

[code]

[2022-06-09 11:18] RalfJung commented on #97167
With https://github.com/rust-lang/rust/issues/73283 resolved, this should have gotten better. Can you update the OP to reflect how the message currently looks (after the next nightly is released)?

However, you made a bunch of (great) suggestions that go well beyond this -- they would require some fundamental rework of how cycle errors are rendered in general.

[2022-06-09 11:47] eggyal commented on #97906
@rustbot label +A-incr-comp

[2022-06-09 11:55] eggyal commented on #97866
You'll still need to parameterise on an `E: Into<ModError>` type, you just won't need to provide an `impl From<!> for ModError` as there's a blanket `impl<T> From<!> for T`.

[2022-06-09 12:06] AronParker opened #97914 "Suggestion: Add ExitCodeExt for Windows"
I welcome the newly stabilized `ExitCode` which allows Termination with an exit code.

I am facing some difficulties using it on Windows however, most programs on Windows if they use the exit code at all return an `HRESULT` or `DWORD`, neither of which are constructible from the current only available impl `From<u8> for ExitCode`. Right now I resort to using pointers to access the internals of `Ex

[2022-06-09 12:23] eggyal commented on #97914
I think this is already understood/desired (see https://github.com/rust-lang/rust/pull/93445#issue-1117891580) but what's been stabilised so far is an MVP?

[2022-06-09 12:33] ojeda commented on #91262
From the MCP/Zulip discussion, `-Dwarnings` is not intended to cover all warnings and changing that could potentially break existing users. Thus the next step would be identifying:

  - Whether there are warnings that are not covered by `-Dwarnings` but should be (e.g. https://github.com/rust-lang/rust/issues/94500).

  - For those that are not intended to be covered by `-Dwarnings`, whether new o

[2022-06-09 12:47] eggyal commented on #97914
See also https://github.com/rust-lang/rust/pull/93840#issue-1129209143 (emphasis added):

[2022-06-09 13:24] jgoerzen commented on #62569
I'd like to add that it seems this discussion is missing the reason SIGPIPE exists; https://stackoverflow.com/questions/8369506/why-does-sigpipe-exist does a good job of explaining it.

The point is /not/ to save you from having to check the exit status from write().  Rather, the point is to kill the whole pipeline immediately, *even of some components are blocking on a read()* (or doing other wor

[2022-06-09 13:53] wesleywiser commented on #97799
Yeah, that looks like the same issue. I hadn't dug in further to see how deep the problem ran. Based on what you're seeing, this might be happening during MIR building or perhaps even earlier in (T)HIR.

[2022-06-09 13:53] AronParker commented on #97914
Thank you! That comment is a very nice find, I wrote a pull request and referenced that comment.

[2022-06-09 14:07] jgoerzen commented on #97855
You are correct that this issue does exist in other languages in some cases;  for instance, this from the popen(3) manpage on Linux:

[code]

However, there are several differences to note:

1. At least in my experience, when dealing with pipes/forks/etc, the usual way is to stick completely with the POSIX API (read/write/etc) rather than the ANSI C API (fdopen, fread, fwrite, etc) because of the

[2022-06-09 15:02] Nilstrieb commented on #97902
Seems to be s duplicate of #97885 (which is probably a duplicate of some other issue as well)

[2022-06-09 15:14] onlineSoftwareDevOK commented on #61137
@mbartlett21 Thanks for clarifying. I will prepare the documentation and create a PR in the next days

[2022-06-09 15:18] JohnTitor commented on #97906
Seems you're using an old Rust, and it looks like a duplicate of #94185 and similar issues.

[2022-06-09 15:30] aedoq opened #97918 "Rustdocs directly link to doc.rust-lang.org, breaking offline docs"
The docs for the standard library often link to other rust documentation items, like the reference or "Rust by Example". However, most/many of these links link to the versions hosted at [doc.rust-lang.org](https://doc.rust-lang.org). This causes problems when browsing a version of the docs hosted somewhere else, for instance the offline version installed via rustup. In that case, the linked versio

[2022-06-09 15:42] apiraino commented on #97428
As per T-compiler meeting ([Zulip notes](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.5D.202022-06-09/near/285546090)), lowering priority of this issue since it's hard to reproduce (though quite difficult to diagnose), has been there for a long time and the "illegal hardware instruction" mentioned is the `ud2` we generate [intentionally](https://githu

[2022-06-09 15:44] nmattia opened #97919 "Mismatched wasm output on darwin vs Ubuntu"
I tried this code:

[code]

[code]

When building using the `wasm32-unknown-unknown` target, I expect the output to be the same on Ubuntu and macOS. Instead, I'm getting different outputs. I've tried on different Ubuntu and macOS versions, and the output is consistent across all versions of the same platform. What's really odd is that the slightest various of the code above makes the output match

[2022-06-09 16:15] jethrogb commented on #41261
It's not quite the same as the original:
[code]

[2022-06-09 16:32] nikomatsakis commented on #67644
@rfcbot reviewed

This is great, looking forward to this.

[2022-06-09 16:51] eggyal commented on #97919
When you refer to "matching outputs" do you mean the compiled wasm binaries?

I don't think rustc guarantees stability between compilations performed on the same machine, let alone those performed across different ones.

[2022-06-09 16:58] infiniwave commented on #97820
Likely duplicated by #97885 and #97902

[2022-06-09 17:16] xldenis commented on #97799
Ok, a little more digging has led to me confirming the proximal cause of this issue: `if let` statements turn their bindings into _match guards_ rather than _match patterns_. My guess is that the scope rules are handled differently between those two cases.

This can be confirmed by replacing your example with the following:

[code]

[2022-06-09 17:54] compiler-errors commented on #97884
@genysys and @romanzac

I'm not sure how to glean this from the example provided. Presumably if the code required the future to be both `Send` _and_ `Sync`, then it would be raising two errors: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=fe265b4af656aa39dee2e07768bf53f6

(As a side-note, deduplicating these errors certainly would be a diagnostic improvement, but it's pr

[2022-06-09 18:20] #97886 closed

[2022-06-09 18:25] infiniwave commented on #97885
It seems that this issue may be caused by a bug in your code, you can try reverting to `nightly-2022-06-02`, fixing the errors, then setting it back to latest nightly.

[2022-06-09 19:05] the8472 commented on #97549
cgroupv1 PR: #97925

[2022-06-09 19:14] ChayimFriedman2 commented on #97866
You'll still need it because it's only a reserved impl (unless it'll be a blocker for stabilization).

[2022-06-09 19:27] dullbananas commented on #97643
It should be even more compact, like this:

[code]

[2022-06-09 19:55] sunfishcode commented on #87074
The 2 remaining items in the Steps / History at the top are completed:
 - Final comment period (FCP): [completed](https://github.com/rust-lang/rust/issues/87074#issuecomment-1146748575)
 - Stabilization PR: https://github.com/rust-lang/rust/pull/95118

The 2 Unresolved Questions are questions are questions for the future, and not questions that I expect need to be answered for this feature to proc

[2022-06-09 20:49] #97549 closed

[2022-06-09 20:51] inglorion commented on #97713
We somehow end up running sancov-module on an input that already has @sancov.module_ctor_8bit_counters defined. For the example IR below, the following happens:

 1. We generate a new @sancov.module_ctor_8bit_counters.NN, which has a numeric suffix (".19" in the error message above). This is part of the $sancov.module_ctor_8bit_counters (no suffix) comdat.
 2. The suffixed @sancov.module_ctor_8bit

[2022-06-09 20:51] bdrewery commented on #92466
#89058 discusses removing the compat.

[2022-06-09 20:53] bdrewery commented on #89058
What's the holdup here? Does someone just need to submit a PR? I pushed in a lot of this compat to get things working but am not a fan of it.

[2022-06-09 20:54] Storyyeller opened #97930 "Confusing error message when future borrows value that is moved into map() closure"
When you call an async function on a borrowed function and then map() the resulting future with a closure that moves the borrowed value, the result is a confusing error message.

It took me a while to realize that even though the closure is _executed_ after the future completes, it is _constructed_ before the future runs. This is especially counter-intuitive because the equivalent non-async code w

[2022-06-09 22:02] jonhoo commented on #70263
Another example where closure type inference works _only_ if the closure is not assigned to a variable:
[code]

[2022-06-09 22:21] rdxdkr opened #97932 "Producing better output in case of "error[E0277]: the size for values of type `dyn std::error::Error` cannot be known at compilation time""
Given the following code: ([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=16bc3de98bdd8816f23b0863cf5fa85e))

[code]

The current output is:

[code]

I think the output should point more clearly to the solution, which is to declare `x` as `Box<dyn Error + Send + Sync>`. Now that I know what's going on I understand why the compiler complains like that , but in

[2022-06-09 23:54] ehuss commented on #97918
I have considered adding a post-processing step in the docs building that makes the links relative, but that can be difficult. There may be some cases where it really wants to intentionally link to the live site. It would also need to be smart about the channel link (like https://doc.rust-lang.org/nightly/… vs https://doc.rust-lang.org/stable/… vs https://doc.rust-lang.org/1.60/… etc.). I'm not su

[2022-06-10 00:13] ChayimFriedman2 commented on #97932
In general the ergonomics around the missing impl `From<E: ?Sized> for Box<dyn Error>` is lacking.

[2022-06-10 00:16] Amanieu commented on #96797
Here's my attempt at a fix in LLVM, but I'm not too happy about the code. It could use some review by someone more familiar with LLVM.

https://github.com/Amanieu/llvm-project/commit/b28663331346c9e354eac3432c3c89f91d57bf5f

[2022-06-10 00:16] romanzac commented on #97884
Sorry for late reply. Initially I had no limitation for my trait "pub trait Trait {}".  I've done what compiler told me and checked "Send" for all the chain related to dyn trait which is instantiated for interactor object living in main thread.

It would be great if compiler either inform I need both "Send + Sync" traits restriction or just infer for me and not complain at all.

[2022-06-10 00:54] dtolnay opened #97933 "Rustdoc displays private internals of associated constants (regression)"
[code]

<br>

### Correct:

<img width="300" src="https://user-images.githubusercontent.com/1940490/172968557-6f9c81bf-5d60-4280-8242-8a5fffefaeda.png">

<br>

### Incorrect:

<img width="300" src="https://user-images.githubusercontent.com/1940490/172968565-2f68b309-d3f6-40e0-b067-5c481aa7ca08.png">

<br>

I used the following script to bisect:

[code]

[code]

It bisects to nightly-2022-04-14 and

[2022-06-10 01:18] lengyijun opened #97934 "typo in `src/test/ui/hrtb/hrtb-just-for-static.rs`"
[code]

[2022-06-10 03:13] filip-hejsek commented on #93050
I often define similar functions in my code as an extension trait, and `is_some_or` is exactly the name i used (before it was added to nightly rust). I think it's a very intuitive name.

I would like to also see the `is_none_or` counterpart added to Rust. Note that `is_none_or` cannot be easily expressed using if-let chains.

[2022-06-10 05:11] eggyal commented on #97858
@rustbot label +A-incr-comp

[2022-06-10 09:05] #37403 closed

[2022-06-10 09:37] fmease commented on #97933
#95316 is indeed the cause. More specifically the following line: https://github.com/rust-lang/rust/blob/3dea0033f7f40fc3a96b728cb2095da91135f0a4/src/librustdoc/html/render/mod.rs#L715.

If we “fail” to evaluate (“failure” also includes “the constant is a struct”) the const value of a provided associated const with `.value()`, fall back to `.expr()` which prints the constant in raw uncensored form

[2022-06-10 09:39] GuillaumeGomez commented on #97933
Maybe we could update the `.expr()` method so that it can only show the public items to fulfill our need?

[2022-06-10 09:41] fmease commented on #97933
The ideal solution (non-hotfix) would be to generally improve the printing of constants. [I already talked about it on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/266220-rustdoc/topic/private.20fields.20in.20associated.20constants/near/282801784). Not sure how easy it is to implement though.

[2022-06-10 09:42] GuillaumeGomez commented on #97918
If it's not "rustdoc generated resources", it makes sense to link to the website in my opinion as we cannot be sure that the resource actually exists locally. However, a lot of doc links use `doc.rust-lang.org` links whereas they should use either intra doc links or relative links. I'll send a PR for these cases.

[2022-06-10 09:48] fmease commented on #97933
I might as well try. If successful, my PR needs backporting.

@rustbot assign

[2022-06-10 09:59] GuillaumeGomez commented on #97918
I opened https://github.com/rust-lang/rust/pull/97940. It seems like there is only one link in the public API that was not relative. There is another one in `fmt` private API so I don't think it's worth it to change it.

[2022-06-10 10:51] sweetyoru opened #97942 "Wrong implicit elided lifetime error"
Given the following code:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=874a4f25b353fcb64d497c0c65ec19f4

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-06-10 10:55] sweetyoru commented on #97942
Wrong error, can't reproduce. I'll close this.

[2022-06-10 10:55] #97942 closed

[2022-06-10 11:50] #85821 closed

[2022-06-10 11:50] #95540 closed

[2022-06-10 11:50] #97836 closed

[2022-06-10 11:50] #97934 closed

[2022-06-10 12:30] chrysn commented on #64295
TrustedLen is an unsafe trait, which I understand is there to catch cases when wrong lengths would result in soundness holes. The size hint is a bit more than a hint -- an iterator that does not adhere to the bounds is considered buggy by [size_hint's documentation](https://doc.rust-lang.org/core/iter/trait.Iterator.html#method.size_hint). I'd place returning false to `eq_by` on an erroneous itera

[2022-06-10 13:26] nirvana-msu opened #97945 "Misleading description of PartialEq derived implementation for enums in docs"
Current docs on `PartialEq` derive [state](https://doc.rust-lang.org/std/cmp/trait.PartialEq.html#derivable):

I interpret the above statement as "`PartialEq` compares enum discriminants", which is not the case.

This is true for enums variants with no data, however for enum variants that are struct-like or tuple struct-like, derived  `PartialEq` actually compares the fields (which is expected) an

[2022-06-10 14:03] nikomatsakis commented on #23012
We discussed this in the types team 'backlog bonanza' meeting today.

Our conclusion was that this is a "nice to have" and that directly fixing this issue felt like a types team FCP, because it's a tweak to the inference rules.

TL;DR right now we say

* If there is some trait obligation `?T: FnOnce(A...)`, then we take the args from `A...`

...but it seems reasonable to say

* If there is some tr

[2022-06-10 14:16] menixator opened #97946 "rustc panics with 'no label after fn' when attempting to create a thread local with a generic parameter"
### Code
[Playgound Permalink](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=127e705e61eaeae2e3f7b5a627f0477a)
[code]

### Meta

`rustc --version --verbose`:
[code]

I checked with the following rustc beta and nightly versions as well. The issue exists in both of them.
Beta:
[code]

Nightly:
[code]

### Error output

Output and backtraces are from the stable version.
<det

[2022-06-10 14:16] Lokathor opened #97947 "std::fs::write should document that it doesn't create directories"
The docs for `std::fs::write` state that the target file will be made if it doesn't exist. However, at least on linux, if the directory path leading to the target file does not exist then the call will fail rather than first creating the necessary folders and then creating the file.

This is not strictly speaking wrong, but should likely be at least documented.

[2022-06-10 14:21] eggyal commented on #97945
@rustbot label: +A-docs +C-cleanup +E-easy +T-libs-api

[2022-06-10 14:23] pnkfelix commented on #64340
I'll add this to a slate of linker-related issues that I'm reviewing.

Also, it sounds like the real ask being made here is to make an upstream change to `bindgen` itself. So maybe the remaining step is to file an issue with `bindgen`, link it from here, and leave it at that.

@rustbot assign pnkfelix

[2022-06-10 14:28] eggyal commented on #97947
Related: #83186

[2022-06-10 14:46] #96621 closed

[2022-06-10 14:47] tmiasko commented on #97713
Passes configured with `-Cpasses` should probably be included only in pre-link optimization stage in:

https://github.com/rust-lang/rust/blob/f19ccc2e8dab09e542d4c5a3ec14c7d5bce8d50e/compiler/rustc_codegen_llvm/src/back/write.rs#L470

Similarly to sanitizer passes configured a few lines earlier:

https://github.com/rust-lang/rust/blob/f19ccc2e8dab09e542d4c5a3ec14c7d5bce8d50e/compiler/rustc_codegen

[2022-06-10 14:56] wesleywiser commented on #70022
Assigning to @pnkfelix per the ["I-unsound issues" 2022 initiative](https://blog.rust-lang.org/inside-rust/2022/02/22/compiler-team-ambitions-2022.html#i-unsound-issues-).

[2022-06-10 15:28] yarenty opened #97951 "Bug connected with probably ambiguous data type when parsing string into i32 from &str from clap - fixed easily, however Cargo told me to post it here"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-10 15:50] eggyal commented on #97951
Reduced example:

[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=5bc8ef48088f6050b939796574e95a99

[2022-06-10 16:33] matthiaskrgr commented on #97951
another duplicate of https://github.com/rust-lang/rust/issues/97698 ?

[2022-06-10 16:51] jplatte commented on #97881
This is a cargo bug, closing in favor of https://github.com/rust-lang/cargo/issues/10744.

[2022-06-10 16:51] #97881 closed

[2022-06-10 17:20] estebank opened #97954 "`Box` `DiagnosticMetadata` field in `LateResolutionVisitor`"
We should experiment with making the `rustc_resolve::late::DiagnosticMetadata` field in `rustc_resolve::late::LateResolutionVisitor` boxed and run perf to see if that improves compilation times.

[2022-06-10 17:21] inglorion commented on #97713
Thank you. I was thinking along the same lines. I have a patch that does this, which I will send for review once I've tested it. I am wondering if there is value in also being able to specify passes specifically for the LTO stage; perhaps with a new -Zlink-passes flag. What do you think?

[2022-06-10 17:48] david-a-wheeler opened #97955 "Builds not reproducible because full path to the source code is in the panic and debug strings"
Hi, currently Rust builds are not reproducible, at least in part because the full path to the source code is recorded in the produced executable (such as in the panic and debug strings). Could this be fixed so that builds can be much more easily reproduced on other computers?

Here's the background. One of Rust's general advantages is countering bugs that can lead to security vulnerabilities. Howe

[2022-06-10 17:50] cuviper commented on #55005
I managed to create an `Arc::drop` test that miri will complain about:

[code]

I had to use `crossbeam_channel` because miri kept telling me that `mpsc` was deadlocked in `futex_wait`. But the error here is not under crossbeam, so I hope that detail doesn't really matter.

[code]

I'm not sure why disable-isolation matters here -- I had just copied that from invocations I used for rayon. I haven'

[2022-06-10 17:53] the8472 commented on #97955
Are you aware of the [--remap-path-prefix](https://doc.rust-lang.org/rustc/command-line-arguments.html#--remap-path-prefix-remap-source-names-in-output) feature?

[2022-06-10 17:55] jonhoo opened #97956 "Possibly-uninitialized error message doesn't indicate where value isn't initialized"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d0d96c280bcde85e4d524178fefca741

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

Because it can be difficult to figure out exactly which branch is failing to initialize a value, especially if it's not as simple as one `if` as above. For example, there may be a w

[2022-06-10 18:11] cjgillot commented on #97946
Minimal fix: replace the `expect` by a `?` in `rustc_span::source_map::generate_fn_name_span`.

Better fix: remove `rustc_span::source_map::generate_fn_name_span` and `generate_local_type_param_snippet`.
We should avoid re-parsing code for diagnostics, the parser already gives us plenty of accurate spans to play with.

This function is used in 2 places: late resolution diagnostics and typechecking

[2022-06-10 18:13] bjorn3 commented on #95527
Should this be closed now that https://github.com/rust-lang/rust/pull/95565 has been merged?

[2022-06-10 18:29] jonhoo commented on #97956
Here's a more elaborate case simplified from where this originally hit me: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0a43b50d67a4b2f30f06b9b8f2efb7af

[2022-06-10 18:34] kulicuu opened #97959 "error: internal compiler error: compiler\rustc_infer\src\infer\error_reporting\need_type_info.rs:856:33: unexpected path"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-10 18:48] eggyal commented on #97959
@rustbot label +ICEBreaker-Cleanup-Crew +E-needs-mcve

[2022-06-10 18:49] Skallwar commented on #21903
I just encounter a case where depending on conditional compilation, my type alias could change but I wanted to make sure that whatever concrete type was chosen, at the end it will implement a trait. I posted about it [here](https://users.rust-lang.org/t/trait-bound-on-type-alias/76682/2)

[2022-06-10 18:50] eggyal commented on #97954
@rustbot claim

[2022-06-10 18:52] cjgillot commented on #97678
This is very weird.  The backtrace points to incremental compilation, but the error comes from serialization/deserialization.
Did this bug start to appear just after a compiler upgrade?
(This might be related to the fact that you upgraded, not to the version itself.)

[2022-06-10 19:01] nagisa commented on #97955
Hi, as mentioned above the `--remap-path-prefix` solves this problem and has been used to great effect in build systems that rely on reproducibility (Bazel, Nix) to work at all. There are efforts to teach cargo about it [here](https://github.com/rust-lang/rfcs/pull/3127). With that in mind this issue doesn't appear to track anything actionable, so I'll close it.

Thanks for taking time to contribu

[2022-06-10 19:01] #97955 closed

[2022-06-10 19:05] nagisa commented on #97919
Rust does not guarantee reproducible builds between compilers built from different commits, but you should be able to rely on getting reproducible builds given the same target, same toolchain versions and some `--remap-path-prefix` action.

---

Are you sure this isn't just an example of some host paths leaking into the wasm output?

[2022-06-10 19:14] compiler-errors commented on #97959
I don't think this needs MCVEing, this is very common to some other issues recently posted due to `need_type_info`

[2022-06-10 19:31] eggyal commented on #97954
Actually, I'm not sure I understand how this (alone) could yield any improvement; is there something more to the proposed changes?  As it stands, purely boxing the `diagnostic_metadata` field will surely only add heap allocation cost?

[2022-06-10 19:35] rseymour commented on #97956
Would a successful fix for this step you through the locations more than blast out all of them? i.e. `hint: the value is *first* not assigned in the branch starting on` ...

[2022-06-10 19:36] xFrednet commented on #97660
The next step for this issue is to adapt the linting interface of rustc to allow the manual fulfillment of expectations. Then I have to take a look at the last few lints, but they should all be covered by these changes.

@Jarcho, have you also looked at rustc lints or just at Clippy's lints? :upside_down_face:

[2022-06-10 19:41] eggyal commented on #97946
@rustbot claim

[2022-06-10 19:58] jonhoo commented on #97956
It's a good question. I _think_ you would actually want all of them at once, because you _will_ have to fix each one anyway. One possible exception is if the value isn't set in _any_ branch, in which case I think just pointing out that it needs to be set is sufficient.

[2022-06-10 20:03] xfix opened #97965 "Rust doesn't warn about never read fields in unreachable pub structures"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

When using `pub(crate)` the warnings appear, which suggests to me that the same should be the case when having unreachable `pub`.

[code]

[2022-06-10 20:09] DanielJoyce opened #97966 "Rustdoc: When using #![doc = include_str!("../BUGGY.md")], conversion of MD to html can fail for first line of the includerd"
BUGGYmd:
[code]

WORKS.md:
[code]

src/main.rs:
[code]

Its seems Markdown expansion of the first line of an included file will fail if the previous comment line in the including rust source included a html tag

Including an empty comment line fixes it, but some rust format or editor settings will remove the ones right before an include

Please see the attached sample project

[rustdoc-bug.zip](ht

[2022-06-10 20:13] cjgillot commented on #96886
This ICE appears to be related to incremental compilation.  Do you remember the difference between this ICy version of the code and the last version that successfully compiled?

[2022-06-10 20:56] saethlin commented on #55005
My instinct is that the 480 is just you getting "lucky" as a result of the impact the turning off isolation has on Miri's initial state, and the right `-Zmiri-seed` value might produce a much earlier protector error. I tried a few and didn't find anything that crashes faster.

I also ran this a few times without disabling isolation and it eventually deadlocks at iteration 3999. Now that doesn't ma

[2022-06-10 21:01] RalfJung commented on #55005
The deadlocks are strange, but the error @cuviper found is exactly what I would expect for this bug -- deallocation of an active protected shared reference.

If we weakened the requirements on deallocation so that they are equal to those on writing (which IMO makes a lot of sense), then this error would no longer arise. But that would of course mean we cannot tell LLVM that such references are der

[2022-06-10 21:07] m-cat opened #97973 "`unreachable!()` or `unimplemented!()` for consts"
# ISSUE

## Overview

I ran into a situation where it would have been really useful to have something like <title>. Specifically, we have a `GENESIS_TIMESTAMP` const in a blockchain we're building, but as the chain hasn't been launched we cannot define this const right now. We can't run the risk of adding a dummy value, and it is a pain to comment it out because there is some code that relies on i

[2022-06-10 21:25] SpriteOvO opened #97976 "Rustdoc should ignore unresolved imports in function bodies"
I tried this code:

Cargo.toml

[code]

src/main.rs

[code]

Run
[code]
on platforms other than Windows.

---

I expected to see this happen: No errors in the terminal, the `doc_me` function should be displayed in the documentation page. (According to the Rustdoc documentation [Interactions between platform-specific docs](https://doc.rust-lang.org/rustdoc/advanced-features.html#interactions-betwee

[2022-06-10 22:07] nikomatsakis commented on #59159
@TonalidadeHidrica the warning will be going away in a future release, yes.

[2022-06-10 22:10] epage commented on #44663
We might want to update `cargo add` so that when it infers a dependency version, it checks from among its dependencies' public dependencies.  This will make it more likely that a compatible version will be selected.

[2022-06-10 22:36] eggyal commented on #97976
You've included your stable rustc version, but the given instructions use nightly.  Does the issue also exist on stable?  If not, could you just confirm the nightly version at issue?

[2022-06-10 22:43] eggyal commented on #97973
If you just want a placeholder then I suppose you could use [`compile_error!("TODO")`](https://doc.rust-lang.org/std/macro.compile_error.html), but obviously compilation will fail so it's not really gaining you anything over `unimplemented!()`.

If you just want compilation to succeed, then perhaps something like `unsafe { std::mem::MaybeUninit::new().assume_init() }` (but obviously it'd be UB to

[2022-06-10 23:21] eggyal commented on #97973
This isn't straightforward, because constants are evaluated during compilation whereas you're after a language item whose evaluation can be deferred to runtime (such that not having a value would then panic).

The most similar thing to this in Rust today would probably be a constant of `Option` type, where you immediately unwrap the constant at every usage site.  You would then have:

[code]

Of c

[2022-06-10 23:41] m-cat commented on #97973
Thanks @eggyal! That's a good explanation and I totally see why something like <title> doesn't really make sense. I like that solution - nice and simple. I'll go with that.

Cheers!

[2022-06-10 23:41] #97973 closed

[2022-06-11 01:39] #54378 closed

[2022-06-11 01:50] megahomyak commented on #97678
Probably yes, I don't remember seeing it before. Right now I accidentally moved my `target/` directory from `C:\Users\megahomyak\YandexDisk\projects\rust\redis_practice\target` to `C:\root\rustc_target_dirs\blog\target\`, while trying to speed up builds on WSL and the problem seem to disappear (on WSL, this problem wasn't appearing, or I just don't remember it; on WSL, going to the Windows filesys

[2022-06-11 03:26] overhacked opened #97978 "Confusing "conflicting implementations" error when conflict occurs via `Into<...>` constraint"
Given [the following code on Rust Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=6563d311412de66f8eb8eede9bb30a6b):

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

Adding to the above code an implementation on a concrete type:
[code]
Gives the following, more helpful error message.
[code]

Both implementations are in [the

[2022-06-11 06:58] lengyijun opened #97981 "Typo in `src/test/ui/variance/variance-object-types.rs`"
[code]

[2022-06-11 07:00] SpriteOvO commented on #97976
@eggyal Yes, it is also exist on stable. Issue edited.

[2022-06-11 07:28] TaKO8Ki commented on #97899
#93506 is related to this.

[2022-06-11 07:29] SkiFire13 commented on #97978
Note that the implementation for the tuple type is not necessary for the error to occur, see for example [this playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=931b3972ac92887eb23c727df3e2eb22). The reason is that there could be a type `BadType` that implements both `Into<WrapByteTuple>` and `IntoIterator<Item = BadType>` and thus would be a valid candidate for b

[2022-06-11 07:46] TheIronBorn opened #97982 "select_nth documentation is insufficient"
The documentation's description of the return values is slightly incorrect.
https://github.com/rust-lang/rust/blob/c84594661c1b51feb539b479b58bb551fcf8e19a/library/core/src/slice/mod.rs#L2631-L2633

The following code however, produces `([1, 1], 1, [1, 1])`:
[code]
(playground link: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=3c68d77916745c6442866324d675755d)

[2022-06-11 07:46] ben0x539 opened #97983 "confusing "borrowed data escapes outside of closure/function" with nll"
Given the following code:

[code]

The current output is:

[code]

I think this is very confusing because nothing is "escaping" from anywhere here, neither from the closure (it just returns bool! nothing is going anywhere!) not from the enclosing function (it doesn't even _do_ anything).

Before nll, the error used to look like (arbitrarily my previously installed nightly-2022-04-14, if you add `#

[2022-06-11 07:59] ben0x539 opened #97984 "weird "private trait" errors around ptr::metadata for public struct wrapping private trait object"
I tried this code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=bf288d74a24e2a8d9f6c22d96d7e2f39

[code]

I expected to see this happen: it'd just compile

Instead, this happened:

[code]

I guess it doesn't like inferring `DynMetadata<dyn P<'a>>` since `P` is private, but I don't understand why that happens since I'm not naming `P` there, and even if I was, the error h

[2022-06-11 08:46] #97698 closed

[2022-06-11 08:46] #89590 closed

[2022-06-11 08:46] #97806 closed

[2022-06-11 09:01] TaKO8Ki opened #97985 "Silence `trait objects must include the `dyn` keyword` error when a trait and a self type are misplaced"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-06-11 09:02] #95527 closed

[2022-06-11 09:04] cjgillot commented on #44752
@est31 what is the remaining false positive?

[2022-06-11 09:05] Enselic opened #97986 "rustdoc-json: ICE when same item is represented in different ways"
Minimal reproducer:
[code]
[code]

The panic happens because `ResolvedPath { name: "S"` != `ResolvedPath { name: "m::S"`, but they are of course equivalent, so we should not panic because of that.

This is (at least partially) a minimal reproducer for https://github.com/rust-lang/rust/issues/93588.

@rustbot labels +A-rustdoc-json +I-ICE +T-rustdoc

[2022-06-11 09:07] Enselic commented on #93588
I found at least one variant of a minimal reproducer: https://github.com/rust-lang/rust/issues/97986

Not sure solving that will solve all of the ICEs we see with `diesel` though. I actually used https://github.com/serde-rs/serde/tree/master/serde to find this reproducer, because `serde` suffers from this problem too.

[2022-06-11 11:56] est31 commented on #44752
@cjgillot I was referring to:

I'm waiting for #96529 to be fixed to have a clean and proper solution here.

Or is the false positive fixed now?

[2022-06-11 14:46] RalfJung commented on #55149
FWIW, when the `untagged_unions` feature is removed, the `AssignToDroppingUnionField` unsafety kind can also be removed -- it is impossible to trigger without that feature.

[2022-06-11 14:55] RalfJung commented on #55149
In https://github.com/rust-lang/rust/pull/97995 I am suggesting to allow a few more types for union fields on stable (specifically: mutable references), before we entirely remove the `untagged_unions` feature.

[2022-06-11 15:31] Angr1st commented on #27114
With the current nightly the message is now:
[code]
Is this good enough? This was changed by #95565. I tested it again after reading the blog post by [Jack Huey](https://jackh726.github.io/rust/2022/06/10/nll-stabilization.html).

[2022-06-11 16:29] madsmtm opened #97997 "Duplicated `implementation is not general enough` error on function pointers"
Given the following code ([playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=0bd9d21018e75ff5f68b491bfd51bed4)):

[code]

The current (`nightly` ec55c6130 `2022-06-10`, regressed in the past week) output is:

[code]

Ideally the output should look like:

[code]

The desired result can be achieved by swapping the order of the two statements `<fn(&u8) as Foo>:

[2022-06-11 16:30] david-a-wheeler commented on #97955
Thanks for the reply, and I wasn't aware of `--rename-path-prefix`. However, that isn't the default, so builds are normally *not* reproducible.

I think it'd be much better to ensure builds are *normally* reproducible, not merely to make it possible with special effort.

[2022-06-11 17:04] the8472 commented on #97955
The RFC linked by nagisa addresses just that.

[2022-06-11 17:23] kckeiks commented on #95004
@cjgillot I think #96825, #96531, and #95655 have address the tasks in this issue. We have created `hir_crate_items`, replaced code with it where possible, and retired `ItemLikeVisitor`. Please let me know if we can close this issue or if there is anything else we should address.

If the parallelization development still in early stages, maybe it would be better to address them in a future issue a

[2022-06-11 18:56] david-a-wheeler commented on #97955
Ah, great! Thank you & good to hear. Thanks for all you do. Take care!

[2022-06-11 19:22] matthiaskrgr opened #98001 "rustdoc should not require a file to display -Whelp"
`$ rustc -Whelp`
`<lint list>`

`$ rustdoc -Whelp`
`error: missing file operand`

You have to do something like `rustdoc file.rs -Whelp` in order to see the lint list which is a bit weird :smile: (it does not seem to actually process the file then at least...)

[2022-06-11 20:08] #97713 closed

[2022-06-11 20:18] nikic commented on #97804
Please provide a self-contained godbolt reproducer.

[2022-06-11 20:31] LegionMammal978 commented on #55005
I ran into this bug when trying to run the tests on the [`desync`](https://crates.io/crates/desync) crate under Miri. The crate uses several threads with `mpsc` channels for communication, and some of the tests are repeated 1000 times to account for variation. This bug reliably occurs within a few hundred iterations, making it difficult to find actual data races in the test cases.

Here's an MRE I

[2022-06-11 20:57] matthiaskrgr opened #98002 "rustdoc json ice: is not supported in json output"
### Code
`./src/test/rustdoc/keyword.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustdoc -Zunstable-options   --output-format json <file>`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-11 21:02] matthiaskrgr opened #98003 "ICE: rustdoc json: segments were empty"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustdoc  -Zunstable-options  --output-format json  ./src/test/ui/imports/auxiliary/glob-conflict.rs`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-11 21:43] matthiaskrgr opened #98006 "rustdoc json ice: assertion failure: different Item visibility (Crate vs Public)"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustdoc -Zunstable-options  --output-format json --cap-lints warn --document-private-items ./src/test/rustdoc/auxiliary/primitive-doc.rs`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-11 21:43] madsmtm commented on #74990
Should probably also be blocked on https://github.com/rust-lang/rust/pull/92964 (`"C-unwind"` fn-pointers don't implement common traits).

[2022-06-11 21:48] matthiaskrgr opened #98007 "rustdoc json ice: assertion failure: different Item.inner.id with `--document-private-items --document-hidden-items`"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustdoc -Zunstable-options  --output-format json --cap-lints warn --document-private-items --document-hidden-items ./src/test/rustdoc/infinite-redirection.rs`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-11 21:56] matthiaskrgr opened #98009 "rustdoc json ice: assertion failure: different Output: Generics"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustdoc -Zunstable-options  --output-format json --cap-lints warn --document-private-items --document-hidden-items ./src/test/ui/borrowck/mut-borrow-in-loop-2.rs`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-11 22:14] Zymlex opened #98010 "ICE: no_core"
### Code

[code]
similar https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=7a195a8a96465739641bc5b737854d10

### Cargo.toml:
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

![image](https://user-images.githubusercontent.com/25817412/173206588-146cd86e-4c61-49

[2022-06-11 23:39] Coder-256 commented on #55005
Perhaps `fetch_sub` should be changed to the underlying `core::intrinsics::atomic_xsub_rel` until there is a consensus on how to permanently fix this? I would be happy to open a PR. It is a bit scary that such widely-used code could possibly be unsound; even if it seems to work today, I worry that someday an upstream change to LLVM could make this trigger real UB.

[2022-06-11 23:56] compiler-errors commented on #98010
This ICE is expected because there are certain assumptions the compiler makes about built-in types. In this case, it's that `u32` implements `Copy`. For example, that assumption is hard-coded here, in [`Ty::is_trivially_pure_clone_copy`](https://doc.rust-lang.org/nightly/nightly-rustc/src/rustc_middle/ty/sty.rs.html#2312).

I think there's a general assumption that `#![no_core]` programs will ICE

[2022-06-12 00:47] #96878 closed

[2022-06-12 03:28] #97677 closed

[2022-06-12 03:28] #97760 closed

[2022-06-12 03:45] jnordwick commented on #86715
Well, *I* was looking for it because the example I was looking at called it. It has been a while, but I think it might have been on an async-related trait was implicit, and I didn't know where to look.

This whole issue is because lexical analysis of code by humans isn't really possible in rust, and an IDE doesn't always help (having to use an IDE to get a list of methods you can call on a value i

[2022-06-12 03:58] eggyal commented on #98010
Contradicts https://github.com/rust-lang/rust/issues/29639#issuecomment-1108749814

[2022-06-12 04:07] compiler-errors commented on #98010
@eggyal, this summarizes my opinions on `#![no_core]` ICEs a bit better:

https://github.com/rust-lang/rust/issues/92495#issuecomment-1006193883

And regardless, this is a duplicate of that issue #92495.

[2022-06-12 04:12] eggyal commented on #29639
Contradicts https://github.com/rust-lang/rust/issues/92495#issuecomment-1006193883:

[2022-06-12 04:13] eggyal commented on #98010
Ah, thanks for that.  I've quoted it over in the tracking issue too.

[2022-06-12 04:18] compiler-errors commented on #97997
searched nightlies: from nightly-2022-06-07 to nightly-2022-06-08
regressed nightly: nightly-2022-06-08
searched commit range: https://github.com/rust-lang/rust/compare/50b00252aeb77b10db04d65dc9e12ce758def4b5...5435ed6916a59e8d5acba2149316a841c3905cbd
regressed commit: https://github.com/rust-lang/rust/commit/bb55bd449e65e611da928560d948982d73e50027

<details>
<summary>bisected with <a href='http

[2022-06-12 04:27] Pegasust opened #98014 "E0502: Borrow checker fails when borrowing with opposite conditions"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

The problem still exists in the beta and nightly versions.
[Illustrated code in Godbolt for different versions](https://rust.godbolt.org/#z:OYLghAFBqd5QCxAYwPYBMCmBRdBLAF1QCcAaPECAMzwBtMA7AQwFtMQByARg9KtQYEAysib0QXACx8BBAKoBnTAAUAHpwAMvAFYTStJg1DEArgoKkl9ZATwDKjdAGFUtEywYgATKUcAZPAZMADl

[2022-06-12 04:32] scottmcm commented on #29639
I think getting ICEs in `no_core` for not providing all the things is absolutely to be expected, and not something that needs to be fixed.  For example, `u32` *is* `Copy`, and if you don't include that and thus get an ICE, too bad.  We should not expend any effort at all to improve that situation.

[2022-06-12 05:17] programmerjake commented on #97804
I added it to the top comment.

[2022-06-12 05:42] RalfJung commented on #55005
That won't help since `fetch_sub` itself still takes a shared reference.

I think we should
- change Miri to treat deallocation like any write
- change rustc to not emit `dereferenceable` for shared references that might have `UnsafeCell` (it looks like LLVM still has no way to represent "dereferenceable on function entry")

[2022-06-12 05:44] leakingtapan commented on #97906
My version is the same as https://github.com/rust-lang/rust/issues/94185 and the exception also looks similar, close this and will upgrade the rust version.

[2022-06-12 05:44] #97906 closed

[2022-06-12 05:47] RalfJung commented on #55005
Ah actually this would also lose the `dereferenceable` attribute on mutable references -- they can be written to, and hence they can be deallocated during the function call. So we should talk to some of our LLVM folks to figure out if removing `dereferenceable` for all mutable pointers is an option.

We could of course also say we do the change in Miri but leave LLVM codegen as-is, and argue that

[2022-06-12 06:03] Enselic commented on #98009
@rustbot labels +A-rustdoc-json

[2022-06-12 06:03] Enselic commented on #98007
@rustbot labels +A-rustdoc-json

[2022-06-12 06:03] Enselic commented on #98006
@rustbot labels +A-rustdoc-json

[2022-06-12 06:03] Enselic commented on #98003
@rustbot labels +A-rustdoc-json

[2022-06-12 06:04] Enselic commented on #98002
@rustbot labels +A-rustdoc-json

[2022-06-12 06:17] TaKO8Ki commented on #97997
@compiler-errors
I've been working on it a bit, but please feel free to take over this issue!

[2022-06-12 06:18] matthiaskrgr opened #98016 "portable simd: -Zmir-opt-level=3 causes LLVM ERROR"
I tried this code:
code originally from `./src/test/codegen/simd-wide-sum.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

When compile with `-Zmir-opt-level=3`, there is a `LLVM_ERROR` which does not occur with `-Zmir-opt-level=2`
` rustc ./src/test/codegen/simd-wide-sum.rs  --edition=2021 -Zmir-opt-level=3 -Zvalidate-mir`

[code]

[2022-06-12 07:09] compiler-errors commented on #97997
This actually looks like a particularly difficult issue.

I think it's either a bug in `RegionInferenceContext::find_constraint_paths_between_regions`, or something weird with the `RegionInferenceContext.constraint_graph` that is convincing us that the correct source for this region error is through the `TypeAscription` on line 12 of the example.

It may also be notable that we end up going thru a

[2022-06-12 08:01] joshtriplett commented on #93857
T-libs-api, shall we stabilize `process_group`?

@rfcbot merge

[2022-06-12 08:10] nikic commented on #97804
Final IR: https://llvm.godbolt.org/z/5vq8scP6q Pretty wild shuffle sequence.

[2022-06-12 08:12] compiler-errors commented on #97997
Actually, what I said was totally wrong. This is definitely because we're passing in the wrong `Location` when [visiting consts here](https://doc.rust-lang.org/nightly/nightly-rustc/src/rustc_middle/mir/visit.rs.html#302). I think I have a fix for this, though I probably want to eliminate other dummy locations we're passing around mir borrowck...

cc @TaKO8Ki sorry for all the pings, but don't kee

[2022-06-12 08:21] nikic commented on #97804
The pattern gets recognized in the backend: https://llvm.godbolt.org/z/zPojvdWzs But the variant with the bitcast at the start only works in LLVM 15, not LLVM 14.

I've opened https://github.com/llvm/llvm-project/issues/55994 for the missing middle-end fold.

[2022-06-12 09:50] danielhenrymantilla opened #98023 "Incorrect `help:` suggestion for immediately called `async_closure`s"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

@rustbot modify labels +F-async_closure +requires-nightly

[2022-06-12 09:52] danielhenrymantilla commented on #98023
@rustbot modify labels +F-async_closure +requires-nightly

[2022-06-12 09:54] GuillaumeGomez commented on #86715
The idea I had was to load `search-index.js` from other crates to enable search in dependencies. It would require to add a new rustdoc parameter (or attribute) to give a relative path to let the JS know where to look it up.

[2022-06-12 10:07] differentprogramming opened #98024 "Failing to build compiler on windows"
simply trying to build from source on windows inside the x86 Native Tools Command Prompt for either Visual Studio 2017 or Visual Studio 2019 fails with the following message:

C:\rust\rust-1.61.0>python x.py build
downloading https://static.rust-lang.org/dist/2022-04-07/rust-std-1.60.0-x86_64-pc-windows-msvc.tar.xz
extracting C:\rust\rust-1.61.0\build\cache\2022-04-07\rust-std-1.60.0-x86_64-pc-win

[2022-06-12 10:41] withoutboats commented on #89780
(NOT A CONTRIBUTION)

In my opinion, this is worse than the ready macro in every way. I have a strong preference that the ready macro be stabilized and this API be removed from std.

First, I second @cramertj's comment that low level poll methods return result the majority of the time, so the ready operation is being combined with `?` more often than not, leading to a confusing and unclear `ready(

[2022-06-12 10:51] eggyal commented on #98016
Due to inlining of [`Simd::to_array`](https://doc.rust-lang.org/core/simd/struct.Simd.html#method.to_array):

[code]

[2022-06-12 10:57] PaulDotSH commented on #36629
Is this still not fixed?

[2022-06-12 11:30] eggyal commented on #98016
MIR diff from before and after that pass is run:

[code]

[2022-06-12 11:58] klensy commented on #98024
If you trying to build rust from [releases](https://github.com/rust-lang/rust/releases) - it wont work, you should clone repo.

[2022-06-12 12:17] cjgillot commented on #44752
Indeed, the remaining false positive is:
[code]

Where the lifetime cannot be elided.  There is an inconsistency here between plain functions and async functions (which allow elision). I suggested to allow elision in https://github.com/rust-lang/rust/pull/97720.

If that change is accepted, there won't be a false positive any more, and the suggestion will be correct.

[2022-06-12 12:52] Nemo157 commented on #86715
There's still also the question of which dependencies need to be loaded. One option would be all (recursively) public dependencies (once public/private deps are stabilized...); that way you have all the types which might potentially appear in the public API available. For the given `tungstenite` usecase, that was based on code from the examples, which would require loading all _dev dependencies_ a

[2022-06-12 13:10] eggyal commented on #98016
I don't read MIR very well, but `_4 = (_5.0: [u8; 8]);` is surely the culprit.  Presumably that is "bitcast place _5 (a `Simd<u8, 8>`) to `[u8; 8]`, precisely the error at issue?  I'll try and figure out what MIR the non-inlined function translates to...

[2022-06-12 13:18] matthiaskrgr commented on #98016
does the no_mangle attr have done kind of effect? can't check on mobile right now

[2022-06-12 13:33] eggyal commented on #98016
I think it's more likely the `Simd` struct's `repr(simd)` being ignored when performing that field access.

[2022-06-12 14:31] pro465 commented on #96374
if the name as it is gets stabilized, that'd be the greatest to ever happen in CS history.

everybody, pleeeease dont suggest changing the name so that i can witness the moment 🙏

[2022-06-12 14:38] mpfaff commented on #97492
Sorry for the late response. I have restarted my browser since the issue first cropped up.

This is my local storage in Firefox:
<img width="280" src="https://user-images.githubusercontent.com/23013931/173237329-0ea3fcfc-15b1-42eb-ba82-eee2ebeb3aeb.png">

I found that the tracking protections on Brave were breaking automatic dark mode, so I have gotten the dark mode to work on there now.

As for F

[2022-06-12 14:38] #97492 closed

[2022-06-12 15:05] #93988 closed

[2022-06-12 16:56] joshtriplett opened #98029 "proc-macro-hack takes excessively long to check with polonius"
[code]

101x longer to check with polonius than without.

I've run into a few other crates with similar issues, some of which have been reported elsewhere:

[`serde_derive`](https://github.com/rust-lang/rust/issues/81303)
[`tinyvec`](https://github.com/rust-lang/polonius/issues/162)

[2022-06-12 17:23] crlf0710 commented on #98024
Indeed, there's a topic at https://github.community/t/create-release-that-contains-submodule/1329 .

Anyway, closing as non-issue.

[2022-06-12 17:23] #98024 closed

[2022-06-12 17:42] BurntSushi commented on #93857
This LGTM, but can we improve the docs for `process_group` please? I think it should at least mention:

* Why this routine might be useful. When does someone want to use process groups?
* Why it's superior to setting the process group via `pre_exec`. (I don't think we want to be overly specific here, but a hint saying something like, "this may allow the implementation to use a faster path" would b

[2022-06-12 17:50] bjorn3 commented on #98010
@Zymlex Using `#![no_std]` in combination with LTO to allow whole program dead code elimination should give the same size benefits as using `#![no_core]` I think.

[2022-06-12 17:51] bjorn3 commented on #97959
(edited the issue title to be more useful when searching if an issue is already reported)

[2022-06-12 18:07] RalfJung commented on #55005
If you are affected by this in Miri, my current recommendation would be to use `-Zmiri-preemption-rate=0`. That will get you back the previous behavior where Miri did not detect this problem.

[2022-06-12 18:19] John-Nagle commented on #74465
What's the status on this? I wanted to use it for something that generates strings for internationalization, but it's still unstable. Is this going to become stable soon?

[2022-06-12 18:25] RalfJung commented on #55005
I am doing a perf experiment at https://github.com/rust-lang/rust/pull/98017, and the LLVM implications are being discussed [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/187780-t-compiler.2Fwg-llvm/topic/dereferenceable.20attribute).

[2022-06-12 18:27] benburk commented on #90080
Any updates or blockers for this feature? Would love to be able to use these in my projects.

[2022-06-12 18:35] hoodmane opened #98030 "wasm32-emscripten stability issues (exception handling)"
There have been repeated issues with Rust support for the wasm32-emscripten target, particularly involving exception handling #97888 #85821, but also involving dynamic linking #92738. Building a rust program as a wasm32-emscripten dynamic library is currently a very delicate business which I would like to see get better.

The main issue here is one of coordination between the Emscripten and rust t

[2022-06-12 18:47] joshtriplett commented on #93857
:+1:

Some suggested documentation:

"Process groups determine which processes receive a signal when the user kills a process from its controlling terminal (e.g. hitting Ctrl-C to generate SIGTERM or Ctrl-\ to generate SIGQUIT). Shells and other programs that launch other programs use process groups to partition launched programs, such as foreground and background processes."

As well as being saf

[2022-06-12 18:51] matklad commented on #74465
This is blocked on implementation work. I feel this can become stable fairly soon, if this issue gets someone who'd champion remaining implementation&stabilization work. So far this didn't happen.

[2022-06-12 18:52] Saxarok opened #98031 "Compiler panicking due to unsuccessful type parameter resolution"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-12 18:55] djc commented on #74465
(But you can use the once_cell crate in the meantime?)

[2022-06-12 19:08] eggyal commented on #98016
A slightly simplified example:

[code]

It only arises when `Simd` is generic over `T`.

[2022-06-12 19:44] bjorn3 commented on #98016
The difference seems to be that `x.0` bitcasts a pointer to a vector, while the inlined `to_array_inner` bitcasts a vector directly. I suspect that the extra move that happens when `to_array_inner` is inlined causes vector value to be stored behind a pointer. I can reproduce the crash using just

[code]

to force an extra move. As for why `to_array_inner` puts the vector behind a pointer, the defa

[2022-06-12 19:46] bjorn3 commented on #98016
With `--emit llvm-ir -Cno-prepopulate-passes -Zverify-llvm-ir` that crashes at

[code]

and without `-Zverify-llvm-ir` it gives the following LLVM ir:

[code]

[2022-06-12 19:58] Xiretza commented on #94902
Here's a standalone reproducer:

[code]

Here, `T` is inferred to be `()` for no obvious reason. I expected this to produce a compile error along the lines of "type annotations needed".

[2022-06-12 19:58] AlexApps99 commented on #90080
I was originally planning to make tests, but I don't think that making any would be useful as it doesn't add any new functionality, and it relies on arithmetic already working in const.

Assuming tests aren't needed, the only other thing would be checking that it's ok to make this trait const. There was some debate when this PR was first made, I'm not sure what the policy is around const traits no

[2022-06-12 20:21] Xiretza commented on #96927
Duplicate of #94902.

[2022-06-12 20:30] eggyal commented on #98016
It's interesting that the failure (in my example) required `to_array_inner` to be generic—that shouldn't affect the ABI of the monomorphized function, should it?

[2022-06-12 20:45] matthiaskrgr commented on #98031
should be fixed with `rustc 1.63.0-nightly (99930ac7f 2022-06-11)`

[2022-06-12 20:48] bjorn3 commented on #98016
Indeed. It shouldn't affect the ABI.

[2022-06-12 20:53] NukeManDan opened #98032 "`cargo doc` panic on Polkadot build"
## Originally reported: https://github.com/paritytech/polkadot/issues/5665

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-12 21:04] John-Nagle commented on #74465
True. The use case involves Egui, the menu system often used for games. On every frame, it goes through the items it needs to display. Those are **&str** parameters. If I add internationalization, there's a lookup for every menu item on every frame. Hence the need for some kind of memoization.

[2022-06-12 21:16] joshtriplett commented on #94501
Following up from Zulip:

@rust-lang/libs-api, shall we stabilize the `core::ffi::c_*` types?

@rfcbot merge

[2022-06-12 21:23] ehuss commented on #35853
Yea, with `$$` from [RFC 3086](https://rust-lang.github.io/rfcs/3086-macro-metavar-expr.html) now stabilized in 1.63 via #95860, I'm going to go ahead and close this.

[2022-06-12 21:23] #35853 closed

[2022-06-12 21:46] aaronjanse opened #98035 "ICE during type checking"
### Code

Using the following dependency:
[code]

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-12 21:53] Saxarok commented on #98031
Yes, you're right.

[2022-06-12 21:53] #98031 closed

[2022-06-12 21:57] compiler-errors commented on #98035
This is fixed by the latest nightly.

[2022-06-12 22:09] Coder-256 commented on #55005
Sorry if I was unclear, I meant replacing `fetch_sub` with `core::intrinsics::atomic_xsub_rel` in the body of `Arc::drop` :)

[2022-06-12 23:25] rust-highfive opened #98036 "`miri` no longer builds after rust-lang/rust#98018"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#98018, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @scottmcm, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-06-13 02:30] mbartlett21 commented on #98014
Perhaps there should be a clippy lint for having the same condition multiple times.

[2022-06-13 03:07] jnordwick commented on #86715
When looking through some code, and you see a method and need to look it up to see what it does or how it is used, but there isn't really a way of reliably doing that, it becomes frustrating and a huge time suck. It knocks you out of your concentration and makes the language very unpleasant.

The Rust documentation reminds me of the CMake docs. It you know CMake, it's great, but then you don't nee

[2022-06-13 03:23] Manishearth commented on #86715
It sounds like this is an indicator that perhaps _trait methods_ should be indexed when implemented.

Probably deprioritized somehow, perhaps as a single entry in the search that takes you to an "implementors in this crate" page.

[2022-06-13 04:25] #97945 closed

[2022-06-13 04:57] alirstm commented on #96486
I've also encountred this while compiling for arm-linux-gnueabi with lto+build-std+optimize-s/zt

[2022-06-13 06:12] bkchr commented on #98032
Did you try the latest nightly?

[2022-06-13 08:38] WaffleLapkin commented on #74465
Can someone outline what implementation work is needed? This issue has quite a few of comments and it's somewhat hard to get what is needed to be done :')

[2022-06-13 08:39] gimbles commented on #96956
I really apologize for this, I'm mostly busy with life and can't really find the time for working on this, feel free to pick it 💜

[2022-06-13 09:18] dust1 commented on #97981
@rustbot claim

[2022-06-13 09:26] mladedav opened #98048 "Manual send implementation with partial captures produce hard to read diagnostics"
Given the following code: [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=18a79c890fbd3689b2bcf57b92b50e36)

This does not compile with no features enabled but does with the `foo` feature (which forces capture of the whole object).

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

The help text should be improved to make it

[2022-06-13 09:42] matklad commented on #74465
I'd start with the following plan, adjusting according to reality:

1. Do the rename proposed in https://github.com/rust-lang/rust/issues/74465#issuecomment-1095665053, that is

[code]

2. Re-read the disucssion here and on the RFC to make sure nothing is missed.

3. Take a critical look at the naming, signatures and semantics of `OnceX` methods, update the summary comment in the tracking issue.

[2022-06-13 11:31] theduke opened #98052 "Unexpectedly long lifetime of values created in let bindings"
Today I stumbled over an unexpected deadlock related to lifetime scoping of values inside a let binding.

It seems like values created in a let binding are kept alive until the end of the inner block, even if the value is surrounded by a block.

I'm not sure if this is the expected behaviour, but it is counter to my expectation of "values live until the end of the surrounding block".

To illustrat

[2022-06-13 12:19] eggyal commented on #98052
It's not so much the inner block as it is the `MutexGuard` being created and dropped in the same expression.  For example, breaking it up works okay ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7b2ce24398d331014e1c3456e2f6f593)):

[code]

[2022-06-13 12:29] DzenanJupic commented on #96645
@rustbot label +A-NLL +NLL-complete

[2022-06-13 12:30] GuillaumeGomez commented on #97986
In this case, the problem is that the generic impl (and therefore its method) has the same `DefId` for all types (because it's implemented on all of them). In this case I think it's fine to just ignore it as it's the same method in any case.

[2022-06-13 12:51] BurntSushi commented on #94501
To be clear, this also includes adding these types to `std::ffi` too?

[2022-06-13 13:08] eggyal commented on #98052
The Rust Reference on [Temporaries](https://doc.rust-lang.org/reference/expressions.html#temporaries) states:

In this case, when the `MutexGuard` is part of the final expression in the block, the "enclosing statement" is the `if let`.

[2022-06-13 13:16] Edgeworth commented on #96645
By the way, I just found a breaking case for this even in the explicitly specified lifetimes case.

Originally, I had this, which sometimes produced the error message in the original post.
`pub async fn rs(&mut self, key: &RecKey) -> Result<&RecSeries>`

The frequency of this error decreased after I changed it to this signature:

`pub async fn rs<'a, 'b>(&'a mut self, key: &'b RecKey) -> Result<&'

[2022-06-13 13:27] Super-Pizza opened #98055 "ICE force-linking resource using `winres`"
### Code

build.rs:
[code]

cargo.toml:
[code]
Running `cargo rustc -- -l static:+whole-archive=resource` ICEs

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[code]

[2022-06-13 13:28] eggyal commented on #98052
Related: https://internals.rust-lang.org/t/pre-pre-rfc-yet-another-discussion-of-if-let-and-while-let-lifetime/16805 (and linked discussions/issues).

[2022-06-13 13:36] petrochenkov commented on #98055
This ICE was fixed in https://github.com/rust-lang/rust/pull/97328.

[2022-06-13 13:37] oli-obk commented on #96267
cc @lqd who is looking into some improvements here.

[2022-06-13 13:41] DzenanJupic commented on #96645
Looks like one of the new error messages of the NLL borrow checker: https://jackh726.github.io/rust/2022/06/10/nll-stabilization.html

[2022-06-13 13:53] krasimirgg opened #98056 "ICE during custom bootstapping with latest beta rustc `thread 'rustc' panicked at 'invalid enum variant tag while decoding `MacroKind`, expected 0..3',`"
### Code
We're hitting an ICE with latest beta in our custom rustc bootstapping process when we try it with latest rustc 1.62.0-beta.4 (but also with all previous candidates 1.62.0-beta.*) at roughly stage0 rustc. I tried as much as possible to minimize the reproducer but it's still a bit involved:
we first build the rust standard libs with beta, then we use the newly built standard libs and try t

[2022-06-13 14:23] jonas-schievink commented on #95822
More weirdnesses:

In non-closure code, it is fine to "use" an uninitialized variable via `let _`, for example this compiles:

[code]

but if the use is in a closure it doesn't work:

[code]

Also, a closure like this appears to *still capture the variable*, since it doesn't coerce to an fn pointer:

[code]

[code]

...except that the capture is neither by-value (since the captured value is droppe

[2022-06-13 15:33] Urhengulas opened #98062 "Unclear error when implementing both `From<T> for U` and `TryFrom<T> for U`"
Given the following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e3aa90a7aa73e047e643f2a72c79add5)):

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

Me and a colleague hit this problem while refactoring some code from `From` to `TryFrom`. We kept the `From` implementation around and additionally implemented `TryFr

[2022-06-13 15:41] Neutron3529 commented on #98052
That's not always true, since
[code]
does not painc. Since `x.borrow().is_negative()` is not a statement, its "enclosing statement" is the `if`, it *should not* drop as that early as the document documented.

[2022-06-13 15:46] mogery commented on #91704
Fixed for me on 1.61.0. Might be a different issue though (i just get the same error message)

[2022-06-13 15:56] alisomay commented on #97520
This file helped me to resolve the issue btw.
https://github.com/jdrouet/jolimail/blob/main/multiarch.Dockerfile

[2022-06-13 16:30] tower120 commented on #93367
Hi, I [encountered this warning here](https://github.com/tower120/any_vec/blob/95252dcfad691c6d8aa451052be35e60ed6525ce/src/iter.rs#L96-L100) .

I can't make smaller case yet, but [this one compiles without warnings](https://github.com/tower120/any_vec/blob/95252dcfad691c6d8aa451052be35e60ed6525ce/src/element.rs#L109-L110).

I have feeling that my implementation is correct though...

[2022-06-13 17:18] tlively commented on #98030
One problem here is that we don't have a good way to automatically ensure or even document that users' Emscripten versions are compatible with their Rust versions. New versions of Emscripten breaking things with Rust is WAI because it is not possible for Rust to be compatible with arbitrary Emscripten versions. There have been multiple attempts to improve the documentation situation (https://githu

[2022-06-13 17:35] ckiee opened #98063 "stmt_expr_attributes attempts to parse a simple doc-comment"
I added the `/// XXX: Compile` comment to this code: (inside a `match`)

[code]

I expected to see get better diagnostics now that one more build issue is out of the way, but instead it tried to parse the doc-comment for some reason, and failed:

[code]

Is this intended? Can someone from #15701 weigh in? Is it a regression?

### Meta

`rustc --version --verbose`:
[code]

[2022-06-13 17:55] lukas-code opened #98064 "Wrong diagnostic for zero-sized array in transparent struct"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-06-13 18:10] SpriteOvO commented on #43781
Does `cfg_hide` currently not support hide `not()` feature?

[code]

I need `not(doctest)` here because without it `cargo test` will run doctests in the `win_debug_sink` mod on a platform other than Windows.

In the head of my `lib.rs`:

[code]

It generates badge: `Available on Windows and crate feature winapi, or non-doctest only.`

It's good that the `doc` is properly hidden. But if I add a `do

[2022-06-13 18:13] Jules-Bertholet commented on #98030
The unwinding breakage wasn't an LLVM compatibility issue as far as I can tell, it was due to a change in Emscripten's `libunwind`.

[2022-06-13 18:32] SpriteOvO opened #98065 "Remove `cfg(doc)` and `cfg(doctest)` from `doc_auto_cfg`, fix `not()` making badge disappear"
Context: https://github.com/rust-lang/rust/issues/43781#issuecomment-1154226733

CC @GuillaumeGomez

[2022-06-13 18:34] GuillaumeGomez commented on #98065
Thanks for opening this issue! Someone from the rustdoc team will try to get back to it whenever possible.

[2022-06-13 18:43] tlively commented on #98030
Right. More generally, we have to periodically do work on the Rust side to upgrade the known-compatible Emscripten version. In principle we could do that in response to Emscripten changes like the change to `libunwind`, but it would be much more scalable to do that in response to changes on the Rust side such as pulling in a new LLVM.

[2022-06-13 18:57] SpriteOvO commented on #98065
@GuillaumeGomez It doesn't look too difficult. I'm going to try to make a PR for it myself, and I'll update here with or without progress.

[2022-06-13 19:11] compiler-errors commented on #88021
This has changed to being denied on nightly:

[code]

[2022-06-13 19:31] #98055 closed

[2022-06-13 20:19] yaahc commented on #89780
Going back to my original quote

The conversation may have gotten away from us but I don't think we ever progressed far enough into the follow up discussion to get to a point where anyone should be expected to have a fully fleshed out proposal. I pointed out an issue that I thought should block the API, scott suggested some potential paths to resolving that blocker, and since then nobody has taken

[2022-06-13 20:21] nagisa opened #98068 "x86_64-gnu-aux/x86_64-msvc-cargo: xsv test appears to fail spuriously"
Instances of this occurring:

https://github.com/rust-lang/rust/pull/95542#issuecomment-1120237681
https://github.com/rust-lang/rust/pull/95897#issuecomment-1153206866
https://github.com/rust-lang/rust/pull/94272#issuecomment-1060116375
https://github.com/rust-lang/rust/pull/92589#issuecomment-1006363237

Not sure if a xsv problem or bors problem, but here goes: cc @BurntSushi.

(NB: it appears th

[2022-06-13 20:40] joshtriplett commented on #94501
@BurntSushi Yes.

[2022-06-13 20:52] aheejin commented on #98030
@Jules-Bertholet

Can you point out which change in libunwind is this about? I don't think we have changed libunwind in a long while, and we didn't touch the API side so far AFAICT.

[2022-06-13 20:53] joshtriplett opened #98070 "Tracking Issue for IsTerminal / is_terminal"
Feature gate: `#![feature(is_terminal)]`

This is a tracking issue for the `IsTerminal` trait and its `is_terminal` method, to determine if a descriptor/handle refers to a terminal.

### Public API

[code]

### Steps / History

- [x] Implementation: #98033
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

[2022-06-13 20:54] aheejin commented on #98030
Hello, I work on Wasm exception handling. I mainly worked on [the new Wasm EH proposal](https://github.com/WebAssembly/exception-handling) and its toolchain support, but I also worked on the old Emscripten EH support for our LLVM backend as well. I am happy to be cc'ed on or review any EH related changes, but I don't know much about Rust or Rust toolchain, with which I may need help.

[2022-06-13 21:11] jonhoo commented on #63012
I wonder if `binary-dep-info` should also be taught specifically about the [hashes in `rustc` metadata](https://github.com/rust-lang/rust/blob/fee75fbe11b1fad5d93c723234178b2a329a3c03/compiler/rustc_metadata/src/locator.rs#L665-L674) so that it doesn't _just_ use timestamps for artifacts where a more reliable metric is readily available (without going all the way to https://github.com/rust-lang/ru

[2022-06-13 21:14] jonhoo commented on #63012
I wonder if the Cargo side of `binary-dep-info` could also be taught specifically about the [hashes in `rustc` metadata](https://github.com/rust-lang/rust/blob/fee75fbe11b1fad5d93c723234178b2a329a3c03/compiler/rustc_metadata/src/locator.rs#L665-L674) so that it doesn't _just_ use timestamps for artifacts where a more reliable metric is (I think?) readily available (without going all the way to htt

[2022-06-13 21:16] jonhoo commented on #63012
Separately, repeating the sentiment from https://github.com/rust-lang/cargo/issues/10664#issuecomment-1125438398 that tracking codegen backends should probably not be considered a blocker for landing this — the feature can very much be useful without that I think, and it could be added later on.

[2022-06-13 21:26] abrowne2 commented on #91499
Also having this issue. Was it ever resolved for you?

[2022-06-13 21:31] bjorn3 commented on #63012
1. That requires some way for cargo to read it directly from the metadata file.
2. It shouldn't be tied to -Zbinary-dep-depinfo IMO.

[2022-06-13 21:40] ehuss commented on #98068
See also #73514.

[2022-06-13 21:52] dns2utf8 commented on #43781
Is the way with defining a `doc_auto_cfg` feature still supported currently? And in the future?

[2022-06-13 22:00] dns2utf8 commented on #43781
There used to be a feature the the docs.rs renderer enabled, like play.rust-lang.org, so as a crate author I could enable specific features for the respective builds.

Also, I found this example that could solve the same problem: https://github.com/rust-lang/docs.rs/blob/369e1bb0ed5f0b4c14f6ecaa01013094c7d234dd/templates/core/Cargo.toml.example
[code]

[2022-06-13 22:01] GuillaumeGomez commented on #43781
I am very lost. This is not linked to that (at least not directly). `doc(cfg(...))` is used to show the `cfg`s independently or the current `cfg`.

[2022-06-13 22:17] #54185 closed

[2022-06-13 22:17] #97007 closed

[2022-06-13 22:17] #67945 closed

[2022-06-13 22:17] #97981 closed

[2022-06-13 22:17] #98036 closed

[2022-06-13 22:28] John15321 opened #98074 "{{produces}} In many places in docstrings instead of code or documentation"
https://github.com/rust-lang/rust/blob/ca122c7ebb3ab50149c9d3d24ddb59c252b32272/compiler/rustc_lint/src/builtin.rs#L74

Hi, I cant see that in many places in the rust docstring in this whole file instead of actual code or whatever there is simply "{{produces}}". Shouldn't there be something?

It renders like this:
![image](https://user-images.githubusercontent.com/56229312/173458054-d16e83a2-2bc6-

[2022-06-13 22:33] erikdesjardins commented on #96497
Yeah, that would likely work, or equivalently `std::intrinsics::assume(x.len() <= x.capacity())`. Might be worth opening a PR to run perf and make sure it's not too disruptive (assumes can interfere with other optimizations).

[2022-06-13 22:36] erikdesjardins commented on #96497
I'm working on this, should be straightforward to use unchecked multiplication in that size calculation

[2022-06-13 23:06] saethlin opened #98076 "LLVM assertion failed when attempting to install cargo-criterion"
I install all my utilities in a bit of a unique setup with the goal of finding bugs. Perhaps like this one. I pull the latest rust commit, set
[code]
And run `x build`, with a custom toolchain set up called `master-stage1` to the stage1 artifacts. Then I install utilities with this:
[code]
A long list of binary crates follows. But currently, `cargo-criterion` does not build. I see this error:
[cod

[2022-06-13 23:08] saethlin commented on #98076
@rustbot labels +A-llvm

[2022-06-14 01:29] ComputerDruid commented on #54910
Quick note: `elided_lifetimes_in_paths` as warn-by-default is tracked in https://github.com/rust-lang/rust/issues/91639

[2022-06-14 01:56] thalesfragoso opened #98077 "Variable lifetime is wrongly tracked in async fn"
[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=bc834d9ff3768fef435ea392b843835d). Error:
[code]

`f` is manually moved with `drop` and could not be dropped at the end of the scope after `value`.

Some bonus weird behavior, this works:
[code]
But if you add `#[derive(Copy, Clone)]` to `Foo`, then it fails with the same error. However, this also does not

[2022-06-14 02:17] #93867 closed

[2022-06-14 02:17] #88643 closed

[2022-06-14 05:26] newpavlov commented on #93333
It does not look like this feature currently works correctly with `#[thread_local]` statics. The following code:
[code]

Compiles down to:
[code]
Which looks quite wrong to me. Also when code like this gets used in a binary it results in a linker error.

[2022-06-14 07:17] bjorn3 commented on #93333
You have to explicitly specify the right symbol relocation kind and use the instruction sequence necessary for getting tls variables on your platform.

[2022-06-14 07:40] aprotyas opened #98089 "Regression: "SIGFPE: erroneous arithmetic operation" while compiling Exa in release mode"
I tried to build and install [`exa`](https://github.com/ogham/exa) through cargo as such:

[code]

I expected the build/install process to proceed without any hiccups.

Instead, rustc aborted with a SIGFPE signal and the following error message:

<details><summary>Error message</summary>
<p>

[code]

</p>
</details>

### Meta

I'm using a stable version of the compiler, but unfortunately don't hav

[2022-06-14 07:43] lcnr commented on #93367
@tower120 A minimization of your code would be something like
[code]
Here `CustomSend<SomeSendTy, OtherSendTy>` still implements `Send` on stable, which will change in the future.

As afaict there isn't really any `SomeSendTy` in your code which implements `IAnyVecRawPtr` you should just be able to ignore the warning. Either by silencing the lint or bvy changing the `phantom` field of `Iter` to al

[2022-06-14 07:44] eggyal commented on #98089
@rustbot label: +regression-untriaged

[2022-06-14 07:54] eggyal commented on #98089
Apologies, looks like a possible dupe of #97255

[2022-06-14 08:11] tu6ge opened #98090 "Why not support default parameters, such as Option type, which default to None"
I am developing a library. When adding feature, it is inevitable to add parameters to functions or methods. However, this will lead to that the developers who used my library must make corresponding adjustments before they can use the new features . so, many library is not release 1.x version. This is not conducive to rust ecosystem grow .

[2022-06-14 08:28] apiraino commented on #98089
no worries :) and yes, looks like a duplicate

@rustbot label -I-prioritize

[2022-06-14 08:28] #98089 closed

[2022-06-14 08:42] MatrixDev commented on #74465
Why `CellLazy` instead of `LazyCell` (same for lock)?
It is harder to pronounce (triple consecutive L) and also all other cells are suffixes instead of prefixes.

[2022-06-14 10:13] oli-obk commented on #97607
This got fixed on nightly by enabling nll by default

[2022-06-14 10:40] HTG-YT opened #98093 "Unable to Utilize `unsafe {}` Blocks as an Expression"
I tried this code:

[code]

I expected to see this happen: compilation succeeds.

Instead, this happened: two errors are emitted.

[code]

### Meta

`rustc --version --verbose`:
[code]

</p>
</details>

Even though I know that I can simply wrap the entire `unsafe` block with parentheses, but this still doesn't seem right when an `if` block can be combined with boolean expressions in a similar fash

[2022-06-14 10:42] matthiaskrgr commented on #98090
I guess your function could take something like `Option<T>`where `T` implements `std::default::Default`?

[2022-06-14 11:10] withoutboats commented on #89780
@yaahc When I talk about the project's relationship to churn I don't mean this issue in particular, but the attitude I see expressed again and again that if you can find a technical way to meet the edition requirements, you can make a change that makes existing code invalid in the next edition. Instead, it should always be recognized and centrally considered that the social cost of invalidating ex

[2022-06-14 11:22] jplatte commented on #89780
@withoutboats I agree with you that the macro is overall the better solution given `?` has an existing meaning and both `??` and getting rid of the existing meaning of `?` across an edition boundary are rather problematic, but this:

is rather dismissive of other people's opinions.

[2022-06-14 11:33] tu6ge commented on #98090
But I don’t know count of args in previous version，I add arg in new version is breaking chang

[2022-06-14 11:43] HTG-YT commented on #98093
Here is the error I am currently running into in my codebase:
https://github.com/IronVM/IronJVM/blob/a59f3f516e6f1beb2abb0c8d53d7bacb1db81b9b/ironjvm/ironjvm_javautil/src/cf.rs

![image](https://user-images.githubusercontent.com/39023054/173569237-b1aa8129-e1d6-482b-aa92-b4e1826a01ee.png)

Not sure if it is my problem or not.

[2022-06-14 11:48] eggyal commented on #97933
I'm not convinced that displaying the value of (provided associated) constants in rustdoc is ever worthwhile and indeed it could be harmful.  Users should not need to know what value a constant holds, only what it represents; indeed they should only ever be using the constant itself to represent that value when it's required—that is to say, the value assigned is an implementation detail and nobody

[2022-06-14 11:53] GuillaumeGomez commented on #97933
I strongly disagree. Associated constants are meant to be used by externals users, otherwise they'd not be created. They are definitely not an implementation detail and they are part of the public API so everyone should rely on them.

There are a lot of examples so I'll just take one: all [`SystemExt`](https://docs.rs/sysinfo/latest/sysinfo/trait.SystemExt.html) associated constants in the `sysinf

[2022-06-14 11:59] TDecki opened #98094 "inline assembly accepts invalid assembly, changing it"
The following code

[code]

creates the following assembly

[code]

Note that `[rax - 8 * rdx]` turned into `[rax + 8*rdx]`. The former version is illegal, since registers can only be added, not subtracted
when calculating an address. Given that gcc rejects a similar attempt with its inline assembly, as well as the general confusion anyone
uninitiated to the specifics of `lea` might get, I highly

[2022-06-14 12:14] eggyal commented on #98093
That issue has nothing to do with `unsafe`.  `{ 0 } == 0;` also fails ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=fca697d49251cdcef70cbb812de4943a)).

[2022-06-14 12:23] eggyal commented on #97933
Isn't that just relying on an implementation detail in order to work-around current limitations in the language?  If/when `adt_const_params` lands, the constant *should* be used in place of its value?

[2022-06-14 12:32] eggyal commented on #98094
@rustbot label +A-inline-assembly +T-compiler

[2022-06-14 12:41] tower120 commented on #93367
@lcnr I see. Thanks for explanation.

[2022-06-14 12:45] withoutboats commented on #89780
(NOT A CONTRIBUTION)

Yes, I am dismissive of an argument for blocking stabilization of a widely used API and considering major idiom churn that has never been expressed in more convincing detail than "it looks better," "its quite nice," and "it seems better in every way."  This should not be the standard for decision making in this project.

[2022-06-14 12:50] aliemjay opened #98095 "NLL: unsound verification of higher ranked outlives bounds"
This code now passes under under NLL after #95565:  ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=e4d68f7aec3814820e945ad4d0253a7c))
[code]

`assert_static` should be able to infer that `T: 'static` because, in the language of Chalk, I believe the bound `for<'a> T: 'a` should be lowered to `forall<'a> { Outlives(T: 'a) :- WellFormed(T). }` and because the w

[2022-06-14 12:52] metasim commented on #74465
`LazyCell` is also more coherent with `RefCell`....

[2022-06-14 13:14] fmease commented on #97933
What I am saying is that changing the value of a public constant is a breaking change since it is part of the public API.

As a simplified example, consider the case where a crate called `constants` exports two constants of type `bool`, named `X` and `Y`.

Crate `user0` depending on crate `constants` contains the following code:

[code]

Crate `user1` also depending on `constants`:

[code]

In ver

[2022-06-14 13:24] eggyal commented on #97933
Ah, understood!  Sorry for being slow on the uptake :).  That all makes sense now.

[2022-06-14 13:28] aganders3 commented on #96755
I'm interested to claim and take this on but may need some guidance/mentoring.

Looking at the files, the important documentation in `config.toml.example` is in the comments but I don't think there's a way to include comments by deriving `Serialize`. This does seem like useful feature but generalizing would make it a much bigger project (it has been asked but deemed out of scope on a number of ser

[2022-06-14 13:33] tu6ge commented on #98090
In previous version, I have a function like this:
[code]
 and I plan add third parameter with next version. but other developer used this function .  the change is destroyed other developer 's code .

[2022-06-14 13:37] #91173 closed

[2022-06-14 14:09] m-ou-se commented on #93203
Merged and stabilized in 1.63!

[2022-06-14 14:19] steffahn commented on #98095
[code]
[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=3cfbde59f0355491c7ec7df8d2e4d35e))

@rustbot label unsound

[2022-06-14 14:24] #96755 closed

[2022-06-14 14:49] de-vri-es commented on #78485
Looks to me that it does handle it by comparing old versus new filled length:
https://doc.rust-lang.org/src/std/io/mod.rs.html#830-832

[2022-06-14 14:54] oli-obk commented on #98095
Yea `fn foo<T>() where for<'a> T: 'a { foo::<T>() }` fails to compile on stable right now, because higher kinded outlives bounds don't satisfy themselves

[2022-06-14 14:58] Jules-Bertholet commented on #98030
Sorry, I was wrong, the change that led to the breaage was https://github.com/emscripten-core/emscripten/commit/b43d3dee52dedd1ecbe2c99157d28740347d7bf9.

[2022-06-14 14:59] yaahc commented on #89780
Again, the comment you linked is my opinion, not the opinion of the libs team. If I was representing the stance of the libs team I would have used "we" instead of "I".

I don't agree with your assessment that I was advocating for idiomatic churn. I was advocating for more strongly de-duplicating APIs when we add new APIs that supersede old APIs rather than just marking them deprecated and softly e

[2022-06-14 15:05] lqd commented on #98095
This is used to be rejected, and started being accepted in `nightly-2020-07-28` ([commit range](https://github.com/rust-lang/rust/compare/6c8927b0cf80ceee19386026cf9d7fd4fd9d486f...76e83339bb619aba206e5590b1e4b813a154b199)).

<details>
<summary>List of merged PRs for that nightly</summary>

- #74792 - flip1995:clippyup, r=Manishearth
- #74708 - kanru:issue-74564, r=davidtwco
- #72121 - Aaron1011:f

[2022-06-14 15:08] apiraino commented on #98095
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2398095.20NLL.3A.20unsound.20verification.20of.20higher.20ranked.20outlives.20.E2.80.A6)).

@rustbot label -I-prioritize +P-critical

[2022-06-14 15:15] aganders3 commented on #96755
Well bummer - maybe I'll still explore this as an experiment in writing proc-macros, but I understand the tradeoff being out of scope here. I'll poke around for other E-easy/E-medium issues to work on.

Thanks!

[2022-06-14 15:18] nikomatsakis commented on #98095
Discussed with @oli-obk and @lcnr -- we believe the problem is that the outlives code isn't handling placeholder regions correctly... they are in this fallthrough

https://github.com/rust-lang/rust/blob/edab34ab2abbafc16a78daedf71dbacd2eb0b7bf/compiler/rustc_infer/src/infer/outlives/components.rs#L180

but they should be handled more like [parameters](https://github.com/rust-lang/rust/blob/edab34a

[2022-06-14 15:26] withoutboats commented on #89780
(NOT A CONTRIBUTION)

We shouldn't conflate these two issues, there's no doubt the `OnceCell<()>` API *will exist*, so users could use that instead of `Once`, and people will have to be familiar with both (though in my opinion this a bit is like saying we should deprecate `HashSet` since its just an alias for `HashMap<T, ()>`). In this case, the situation is dramatically different: you would chang

[2022-06-14 15:29] sbc100 commented on #98030
Assuming we can re-add this symbol, along with some kind of test, and some justification as to why we should include it all, I'm happy to see it return.

[2022-06-14 15:31] hoodmane commented on #98030
I will open a PR then. Ideally we can drop it again when the LLVM version of Emscripten is next updated (since the next version of Rust won't need the patch).

[2022-06-14 15:40] jplatte commented on #89780
At the expense of possibly creating yet another parallel track to an already non-trivial discussion, I would like to point out that `ready!()` might be a prime use case for [simple postfix macros (RFC 2442)](https://github.com/rust-lang/rfcs/pull/2442).

[2022-06-14 15:40] onlineSoftwareDevOK commented on #61137
I am preparing documentation for E0279. If I compile this:

[code]

I get this:

[code]

The following links seem to explain this: https://github.com/rust-lang/rust/issues/35180#issue-168838480, https://github.com/rust-lang/rust/issues/35180#issuecomment-526994483, https://github.com/rust-lang/rust/pull/64085

My question is: Does E0279 still exist? I tried replicating it but it seems it does not

[2022-06-14 15:41] tlively commented on #98030
Emscripten's LLVM is continuously updated, usually multiple times per day. Did you mean Rust's LLVM?

[2022-06-14 15:51] Jules-Bertholet commented on #98030
Emscripten (as far as I can tell) uses the latest LLVM nightly (currently 15.x), so it will have a higher major version than Rust's LLVM (currently 14.0).

[2022-06-14 16:22] m-ou-se commented on #89780
@withoutboats I think you're providing valuable feedback, and you make a lot of great points, but I agree with Jane that you're mischaracterizing what's happening by saying

That's not quite what happened for Rust 2021 at all. We've been extremely careful, and rejected quite a few ideas based on the same points that you're making in this thread. The transition to Rust 2021 has been very smooth. I

[2022-06-14 17:36] Mark-Simulacrum opened #98102 "Unions require Copy fields, but ignore regions in the check"
[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=4cc269cb234497a007039d6ddbc41943

It seems to me that the above code should probably be rejected, since in general `Foo<'a>` doesn't implement Copy in the above code.

The compiler check is checking for "is_copy_modulo_regions" specifically https://github.com/rust-lang/rust/blob/master/compiler/rustc_passes/src/stabili

[2022-06-14 17:49] eggyal commented on #98102
But you can't actually instantiate a `Bar<'a>` unless `'a: 'static`: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=be17b59739998c7bb8dfd4411ea25c91).

[2022-06-14 17:57] chloekek commented on #69835
Perhaps it should be called `Layout::for_value_raw_unchecked`, so that a fallible version `Layout::for_value_raw` can be added later. (Although it is confusing to have an unchecked version without a checked version.)

[2022-06-14 18:08] GuillaumeGomez commented on #61137
`E0279` is emitted from `compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs` apparently.

[2022-06-14 18:18] mqudsi commented on #74465
From a usability/ergonomics perspective, is there any chance of adding a `set(value: T)` method to `Lazy<T>` that would be used if-and-only-if the lazy value hasn't already been initialized with the constructor-provided lazy init method (panicking/failing otherwise)?

The idea is that you could specify a default value and override it "in-place" rather than needing to use a `OnceCell<T>` and a sepa

[2022-06-14 18:43] lukas-code opened #98104 "Cannot transmute between ZST and zero-sized generic array"
I tried this code: [(Playground)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=c0dd2ea0152ef4893b98adf42aeacbfd)
[code]

I expected this to compile, because `[T; 0]` is always zero-sized.

Instead, it fails to compile with this error:
[code]

### Meta

`rustc --version --verbose`:
[code]

somewhat related: #98064

[2022-06-14 19:06] seanmonstar commented on #96921
It seems it is used in hyper currently, to create a type that can satisfy some trait bounds, but that is otherwise never actually constructed. It was linked further up, here's a PR that discussed it in hyper: https://github.com/hyperium/hyper/pull/2831

[2022-06-14 19:14] nikic commented on #98076
Can you please run cargo under `-v`, take the last `rustc` command and rerun it with `-C save-temps` and attach the `.bc` files that produces (maybe with a different output directory to separate them)?

[2022-06-14 19:50] rust-highfive opened #98107 "`miri` no longer builds after rust-lang/rust#96591"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#96591, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @b-naber, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-06-14 20:06] lyming2007 commented on #98062
after adding  `use std::convert::TryFrom;` in the beginning of the file, the error was reproduced

[2022-06-14 20:10] saethlin commented on #98076
Do you mean `CARGO_TARGET_DIR`?

[2022-06-14 20:27] #97517 closed

[2022-06-14 20:27] nikomatsakis commented on #98095
So @compiler-errors and I did a deep dive here. What we found is that:

* There is a bug in the NLL type check (which @compiler-errors described above) that is causing it to be unsound.
* However, fixing that bug exposes a (pre-existing) bug around how we handle `for<'a> T: 'a` bounds, particularly with projections, causing regressions.
*
* The good news is that I think fixing this bug will benefi

[2022-06-14 20:48] steffahn commented on #93203
Do we have a test case for the [“borrow function arg ref example” code](https://github.com/rust-lang/rust/issues/93203#issuecomment-1084630290)? I’m asking because apparently there’s [additional work on NLL](https://github.com/rust-lang/rust/issues/98095#issuecomment-1155679967) happening, and we probably wouldn’t want that test case to break before scoped threads are released, or otherwise (in ca

[2022-06-14 22:17] TethysSvensson commented on #97205
This bug seems to affect the current beta release. Has the fix been backported?

[2022-06-14 22:32] lukas-code commented on #94313
This would be another application of an `unsafe impl Copy`, as proposed in #62835 and #25053.

[2022-06-14 23:38] saethlin commented on #98076
Oh you must mean `--out-dir` :facepalm:

[cargo-criterion-assertion.tar.gz](https://github.com/rust-lang/rust/files/8904486/cargo-criterion-assertion.tar.gz)

[2022-06-14 23:51] anp opened #98116 "Licensing of Unicode-related functionality?"
In the course of reviewing licenses for Fuchsia's external dependencies, we've noticed that some crates in the ecosystem, [including std](https://github.com/rust-lang/rust/blob/master/src/tools/unicode-table-generator/src/unicode_download.rs), make use of [Unicode data files](https://www.unicode.org/Public/UCD/latest/ucd), but don't seem to treat the code generated from those data files as bound b

[2022-06-14 23:57] jackh726 commented on #93203
Reopening for now. Can be closed with a test case added.

[2022-06-15 00:14] aliemjay opened #98117 "Unsoundness due to where clauses not checked for well-formedness"
This code does pass:  ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=4225e75d1514837fb4df4d35ee880f55))
[code]
But according to [RFC 1214](https://github.com/rust-lang/rfcs/blob/master/text/1214-projections-lifetimes-and-wf.md) functions are responsible for checking the well-formedness of their own where clauses. So this should fail and require an explicit bo

[2022-06-15 01:51] jyn514 commented on #69952
@dylni points out this is not actually fixed: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=3dcd3a8a7f8b85cc732d738bf6e57dc2
cc @cjgillot

[2022-06-15 01:56] steffahn commented on #98117
This works, too
[code]

[2022-06-15 02:01] eggyal commented on #98117
Also, it's on stable (unlike #98095).

[2022-06-15 02:02] steffahn commented on #98117
Seems to compile since `1.14` (obviously without the `dyn` keyword, and without the `"{s}"`).

[2022-06-15 02:51] eggyal commented on #98116
@rustbot label +A-meta +T-core

[2022-06-15 02:53] KarlWithK opened #98122 "`and_modify` method should be part of the HashMap's Documentation."
I understand that `and_modify` deals with the `Entry` enum; however, I believe the method would be advantageous to developers when dealing with HashMaps.

A common pattern I see when using hashmaps is something like this:

[code]

However, with `and_modify` this turns into this:
[code]

Which leans more into idiomatic rust. I just learned of `and_modify` today, and I believe more rust users would

[2022-06-15 03:04] eggyal commented on #98122
To be clear, are you suggesting that the documentation for [`HashMap::entry`](https://doc.rust-lang.org/std/collections/hash_map/struct.HashMap.html#method.entry) should include an example using `and_modify`?  That seems pretty reasonable.

@rustbot label +A-docs +E-easy

[2022-06-15 04:37] compiler-errors commented on #98117
@steffahn's minimized example is much easier to work with:

[code]

Somewhere we're throwing bounds on the floor that we should be checking. Which function is responsible for ultimately checking that `T: 'static` is really is a mess to keep track of, honestly.

I guess it's worthwhile nominating this for T-types discussion.

[2022-06-15 04:51] hudson-ayers commented on #68262
Is it correct this was closed by #96285 ? While dead virtual function elimination is awesome, it is not the same as whole program devirtualization, which can replace actually-called virtual functions with static calls. Supporting the first is not equivalent to supporting the second. And if `-Zvirtual-function-elimination` actually enables both, then it seems it should have a name that indicates as

[2022-06-15 05:06] KarlWithK commented on #98122
Yes, I am. Can I work on the PR for the issue? Thanks!

[2022-06-15 05:09] KarlWithK commented on #98122
@rustbot claim

[2022-06-15 05:33] HTG-YT commented on #98093
Consider that
[code]
is allowed, is it wrong to consider that the `unsafe {}` block is in fact an expression, given that it is "assigned to a `let` binding"?

Additionally, I am quite sure that it is common for programmers to flatten the condition, writing something like
[code]
for the return value of a function, etc.

Is my interpretation incorrect or am I misunderstanding something? If so I am m

[2022-06-15 05:49] sundeepkokkonda commented on #97260
What is the reason for disabling the static linking of libstdc++ on Solaris instead of building a static libstdc++?

[2022-06-15 06:09] PrestonFrom commented on #95665
@rustbot claim

[2022-06-15 06:30] gco commented on #97260
Solaris generally prefers dynamic linking and does not ship system libraries in static form.  There are no first-party packages to install to get a static libstdc++, only shared objects are provided.

[2022-06-15 07:22] eggyal commented on #98093
The block *can be* an expression, but in some contexts it's ambiguous whether it's an expression or a statement and in those cases Rust opts for it to be a statement.  Basically, it's as if there was a `;` there after the block.

[2022-06-15 07:36] flip1995 commented on #68262
This shouldn't have been closed, because it isn't quite finished yet. IIRC (it has been some time since I actively worked on this) it only enables VFE, not WPD. Though WPD is enabled by default (for LTO at least) and VFE is only an extension of the WPD optimization.

[2022-06-15 07:38] flip1995 commented on #68262
For what is missing, see https://github.com/flip1995/rust/blob/195f2082002c9db456e0fde8c1d5db79929ae293/src/doc/unstable-book/src/compiler-flags/virtual-function-elimination.md and soon the unstable book.

[2022-06-15 08:20] #97618 closed

[2022-06-15 08:20] #97628 closed

[2022-06-15 09:12] eggyal commented on #98093
I've opened https://internals.rust-lang.org/t/expression-vs-statement-ambiguities/16823 to discuss this, potentially with a view to a language RFC if the idea is well received.

[2022-06-15 09:22] coldnight opened #98127 "ICE thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', compiler/rustc_metadata/src/rmeta/def_path_hash_map.rs:18:85"
### Code

https://github.com/starcoinorg/starcoin/tree/master/network

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-15 09:29] macmv opened #98128 "`>=` typo gives unclear error message"
Given the following code:

[code]

The current output is:

[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=524ff9f12a75ace09945812df9c9c3b9)

This had me very confused for a surprising amount of time. It would be nice if the compiler would give a suggestion to replace `=>` with `>=`. In my opinion, this would help a lot for someone typing quickly, and wo

[2022-06-15 10:43] JohnTitor commented on #93022
Fixed by #96591, marking as E-needs-test.

[2022-06-15 10:45] JohnTitor commented on #93775
Fixed by https://github.com/rust-lang/rust/pull/96591, marking as E-needs-test.

[2022-06-15 11:14] matthiaskrgr opened #98132 "-Zvirtual-function-elimination miscompiles simple hello world program if other optimizations are turned on"
[code]
cc https://github.com/rust-lang/rust/pull/96285
[code]

[2022-06-15 11:52] Urhengulas commented on #98062
Yes, while `TryFrom` is included in the prelude of the 2021 edition, in the 2018 edition you need to import it.

[2022-06-15 12:12] Ayush1325 opened #98133 "Compiling std for UEFI with panic=abort fails"
I am trying to implement std for the UEFI targets as a part of my GSoC project. I am currently trying to build std using the `#![feature(restricted_std)]`. When I try to compile `std` along with `panic_abort`, I get the following error:
[code]

This error of course is caused due to the UEFI target having `"is-like-msvc": true` in the `target.json`.

I know it can be fixed by adding a blank impleme

[2022-06-15 12:14] joboet commented on #93740
If priority inheritance is implemented, the pattern can be quite useful. For example, in an audio player, the decoding of the next song could be run in a background thread while holding a mutex. If the song needs to be played but it has not finished decoding, the high-priority player thread can lock the mutex, thereby raising the priority of the background thread until it finishes. This pattern is

[2022-06-15 12:15] TuxThePenguin0 opened #98134 "Cross compile to ppc fails"
I have been trying to get rust to cross-compile from an x86 system to a ppc32 host/target but the build process errors out in the stage1 phase.
My experience is fairly limited but it looks like it might be trying to use x86 headers for a ppc compile?

### Meta
Version being built is 1.60.0 through the Alpine Linux aports repo and using abuild

<details><summary>Error</summary>
<p>

[code]

</p>
</

[2022-06-15 13:04] apiraino commented on #97255
Will revisit this once the new stable is out (beta and nightly do not reproduce the issue)

@rustbot label -I-prioritize

[2022-06-15 13:16] kprotty commented on #93740
One would argue that you shouldn't be using mutexes for such scenarios. Instead, boosting the background thread's priority directly then waiting for it to complete or having the audio thread take over the decoding work itself via work stealing. PI-mutexes  in general (excluding `os_unfair_lock`) have too high of a throughput cost for general use so a crate, as you've mentioned, is a good alternati

[2022-06-15 13:20] yoshuawuyts commented on #67644
ping @Amanieu, @cramertj, @m-ou-se - can I ask you to take a look at this when you have time?

[2022-06-15 13:45] #87074 closed

[2022-06-15 14:08] hoodmane commented on #80775
As an update, the solution to this is to use `-sSIDE_MODULE=2`. If you also want everything to be exported, you could try `-sSIDE_MODULE=2 -sEXPORT_ALL`.

[2022-06-15 14:08] hoodmane commented on #92738
As an update, the solution to this is to use `-sSIDE_MODULE=2`. If you also want everything to be exported, you could try `-sSIDE_MODULE=2 -sEXPORT_ALL`.

[2022-06-15 14:26] hoodmane commented on #66916
I think the problem is that `cargo web start` uses Emscripten v.1.38.19 which came out on Nov 15 2018. With a more recent version of Emscripten this works fine.

[2022-06-15 14:45] sbc100 commented on #41750
`-sERROR_ON_UNDEFINED_SYMBOLS=1` should not be needed anymore.  Its on my default when it makes sense to be these days.   I believe it was also recently removed from the rust toolchain so I think this issue can be closes yes.

[2022-06-15 14:48] hoodmane commented on #41750
The author asserts that there is an incompatibility between `-sSIDE_MODULE` and `-sERROR_ON_UNDEFINED_SYMBOLS` which I think at least hasn't been true recently (though they are kind of contradictory).

[2022-06-15 14:50] sbc100 commented on #41750
Its true that most users don't want `-sERROR_ON_UNDEFINED_SYMBOLS=1` in combination with `-sSIDE_MODULE`.

But emcc will take care of setting the default value of `ERROR_ON_UNDEFINED_SYMBOLS` correctly in both cases.  So simply not specifying this option does the right thing in most cases, which is why I recommended removing this from the default set of rustc options:

https://github.com/emscripte

[2022-06-15 15:09] cherryleafroad commented on #66916
Personally I was also trying the latest version and got these errors. But I was also using it with an already existing library (tree-sitter), and trying to compile it together with the rust module.

[2022-06-15 15:11] sbc100 commented on #41750
Indeed.   But I guess this bug I believe should still be marked as fixed?  (since it is now fixed as HEAD, and no further action is planned/needed).

[2022-06-15 15:20] QuarticCat opened #98138 "Local struct variables are over-aligned"
See https://godbolt.org/z/7Gocsz4Ge and https://rust.godbolt.org/z/bEonzKzjh

When alignment is specified in struct, both clang and rustc will waste extra 128 bytes on stack.

See also https://github.com/llvm/llvm-project/issues/56020. There someone pointed out that it could be an LLVM IR generation issue.

[2022-06-15 15:20] nikic commented on #98076
Thanks, I can reproduce an assertion failure under `lto<O3>`, though it's a different one:
[code]
This is likely https://github.com/llvm/llvm-project/issues/51333.

[2022-06-15 16:23] QuarticCat commented on #98138
@eggval Is there a way to declare a local variable like `alignas(128) int a = 1;` which allows the compiler to reuse the padded space?

[2022-06-15 16:24] eggyal commented on #98138
Why do you want to change its alignment in the first place?

[2022-06-15 16:32] Mark-Simulacrum commented on #98102
Yeah. I think it's a breaking change potentially to change this now, so it might not be worth making any movement here.

I think in practice there's no risk here, since I believe any Copy impl *does* forbid all Drop impls, since Drop must be implemented modulo regions always.

[2022-06-15 16:39] compiler-errors commented on #98128
This is complicated, given that `=>` is parsed as its own token as opposed the equivalent typo `=<` for the lt operator. I'm not confident that fixing this (at least in the `macro_rules!` case, but possibly in arbitrary positions) is possible, because this is a valid macro:

[code]

[2022-06-15 16:45] QuarticCat commented on #98138
SIMD/Vector, GPU, avoid false sharing, pointer tricks, etc. But yes, most of them are not allocated on the stack. You make me realize that it is a rare case.

[2022-06-15 16:45] #98138 closed

[2022-06-15 17:05] estebank commented on #97954
@eggyal Thanks for looking into this!

It depends entirely on the access patterns. Some of the diagnostic metadata substructs we have elsewhere in the compiler are accessed very rarely, while their parent struct is moved/copied/cloned often, so moving those into the heap provides improvements due to better caching/inlining. I had a hunch that this particular case might not be too impactful, but it

[2022-06-15 17:17] scottmcm commented on #57289
This appears to compile today: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=8171ccfef9558bc62896f1c530b903d8

[2022-06-15 17:20] #57289 closed

[2022-06-15 17:26] compiler-errors commented on #98134
`tracing_attributes` is a proc-macro, so it should be compiling for the host architecture.

[2022-06-15 17:29] joshtriplett commented on #58278
(Tagging as "design concerns" only because it sounds like this still needs some design work, not just implementation work.)

[2022-06-15 17:32] joshtriplett commented on #58314
Closing because https://github.com/rust-lang/rfcs/pull/2633 was closed. (The ffi-unwind project is looking at this.)

[2022-06-15 17:32] #58314 closed

[2022-06-15 17:34] joshtriplett commented on #58328
Is this fully implemented and ready for potential stabilization, or is there any blocker?

[2022-06-15 17:35] joshtriplett commented on #58329
Is this fully implemented and ready for potential stabilization, or is there any blocker?

[2022-06-15 17:38] joshtriplett commented on #58713
Tagging as impl-incomplete based on the checklist in the top comment, but also, a question for the windows-rs folks and others: with the known bugs fixed (e.g. ICEs), would there be value in a partial stabilization even without vectorcall?

[2022-06-15 17:40] dbodden-pesa opened #98142 "rust-1.61-i686-unknown-linux-gnu rustc --version fails w/ kernel panic on Centos 7 32-bit"
rust-1.61-i686-unknown-linux-gnu rustc --version fails w/ kernel panic on Centos 7 32-bit.

I installed to a few different VMs and a physical host, had Centos 7 32-bit running. Downloaded the offline installer for rust-1.61-i686-unknown-linux-gnu and the install.sh works. rustc --version immediately fails with a kernel panic, hard-hang on all 4 systems I tried out.

I tried this code:

rustc --ver

[2022-06-15 17:43] kennykerr commented on #58713
Absolutely, only stdcall is essential for windows-rs.

[2022-06-15 17:45] joshtriplett commented on #60553
There are a set of changes related to enums that we need to make, including discriminants, `as` casts, `AsRepr`, and similar. Lang has had a design meeting on that, and needs to have another once someone supplies a complete design that fits these pieces together.

[2022-06-15 17:49] Mark-Simulacrum commented on #61053
Visiting this in T-lang backlog bonanza, we think the majority of the checks here are currently implemented, and it makes sense to file new issues for concrete additions (perhaps like #95943).

Closing this issue for now since it seems like this is no longer actively tracking something.

[2022-06-15 17:49] #61053 closed

[2022-06-15 18:06] ChrisDenton commented on #58713
So to be clear, would this now be ready for std's internal use? Last time I asked I think there were outstanding issues.

[2022-06-15 18:26] dtolnay commented on #91789
@rfcbot resolve do we need better docs about what the argument value means (not bytes)

[2022-06-15 18:41] yaahc commented on #43596
@Amanieu what's the current status of this tracking issue? It looks like you implemented the feature in https://github.com/rust-lang/rust/pull/88098, what are the next steps?

[2022-06-15 18:53] #97899 closed

[2022-06-15 18:58] Ayush1325 commented on #98133
Hi @eggyal , I no longer seem to be getting the error from the latest master.

Previously I was using a v1.61.0 commit. So maybe it was fixed after that?

[2022-06-15 21:01] jswrenn commented on #60553
Would anyone like to collaborate with me on this design? I'm very familiar with these issues, and have some design sketches on hand, but would love a collaborator help construct a cohesive vision of the future.

[2022-06-15 21:04] newpavlov commented on #93333
@bjorn3 Can't compiler insert those automatically? The problem is that the instruction sequence [may depend](https://github.com/rust-lang/rust/issues/29594#issuecomment-843790757) on compilation options and visibility of the static variable, so it could be impossible to write portable code dependent on thread local statics outside of very controlled environments.

[2022-06-15 21:33] nikomatsakis commented on #98095
Fix is in #98109

[2022-06-15 21:56] eggyal commented on #98133
Possibly fixed by #96959 ?

[2022-06-15 22:22] pnkfelix opened #98151 "riscv codegen oddity: emits (hopefully no-op) signext for a u32 param."
I tried this code:

[code]

Note the compile flags; thus I invoked the compiler like so:

[code]

I expected to see this happen:

Semi-uniform handling of unsigned and signed extension of the arguments/return values. Namely, I would expect `uN` types to be (at most) zero-extended, and `iN` types to be (at most) signed-extended.

Instead, this happened:  The u32 handling emits a signext attribute,

[2022-06-15 23:34] cbeuw commented on #75362
I made a CI test suite that runs Debian's `reprotest` on compiling the most downloaded crates from crates.io (currently top 100): https://github.com/cbeuw/lotus

This is not quite CI for reproducibly bootstrapping rustc, though clearly Rust and Cargo being able to reproducibility build arbitrary things is a necessary condition for that.

The good news is, out of the top 100 crates, 91 are fully re

[2022-06-15 23:39] pnkfelix commented on #98151
(my current guess is that this supposedly incorrect `signext` attribute actually has no effect and thus this issue is super-low priority. but it would be nice to get independent confirmation of that guess...)

[2022-06-15 23:39] pnkfelix commented on #98151
(this was spawned off my attempt to craft a more general test case for #97800)

[2022-06-16 01:49] Amanieu commented on #93333
If you want the compiler to resolve the address of a TLS variable for you then you should do so in Rust code and pass the address as an input register.

[2022-06-16 01:50] nbdd0121 commented on #98151
In RISC-V all 32-bit operations will be sign-extend to 64-bit, unlike other platforms. (The intention being that this will 64-bit comparison also work directly on 32-bit values, so no need for additional branch instructions)

[2022-06-16 01:53] nbdd0121 commented on #98151
8-bit and 16-bit values are essentially zero-extended into 32-bit values (regardless RV32 or RV64), and then in RV64 the zero-extended value is then sign-extended into 64-bit, which effectively make them being zero-extended directly into 64-bit.

[2022-06-16 02:05] hoodmane opened #98155 "Emscripten dynamic linking and libc"
When dynamically linking Emscripten modules, Rust passes `-lc` to Emscripten. This causes `wasm-ld: error: unable to find library -lc-debug`. I see that `-lc` is coming via `EmLinker.link_dylib`. If I make `link_dylib` into a no-op this fixes the problem, though maybe that has other bad side effects. I am not sure how to filter out libraries that shouldn't be statically linked into a dynamic libra

[2022-06-16 02:12] hoodmane commented on #98155
For a reproduction:
[code]
using tip of tree emcc and nightly rust.

[2022-06-16 02:13] #93775 closed

[2022-06-16 02:13] #97986 closed

[2022-06-16 02:13] #93022 closed

[2022-06-16 03:09] erikdesjardins opened #98156 "Temporaries used for indirectly-passed const arguments should get lifetime markers"
See https://godbolt.org/z/Kn7b7nTnd.

Basically, this function:
[code]

uses twice as much stack space as this function:

[code]

This happens because:

In `copy_local`, locals get lifetime markers (`@llvm.lifetime.start`/`@llvm.lifetime.end`, or `StorageLive`/`StorageDead` in MIR), so `a` and `b` can reuse the same stack slot.

In `copy_const`, the temporaries created to copy `A` to the stack bef

[2022-06-16 03:14] Emilgardis commented on #96306
The issues mentioned here might've been issues with QEMU 3.0.1 and fixed with QEMU 5.1.0, see discussion in https://github.com/cross-rs/cross/pull/803#issuecomment-1157174559

It seems this specific case has not been tested on real hardware, but on newer QEMU versions this works just fine.

[2022-06-16 03:17] NobodyXu commented on #96306
Out of curiosity, does rust-lang run CI on actual powerpc machine?

If not, then is this the reason for powerpc to be a tier 2 platform?

[2022-06-16 03:40] nnethercote commented on #73933
Note: once `nt_pretty_printing_compatibility_hack` is removed, then `Group::flatten` can be removed, along with `tokenstream::Cursor::append`.

[2022-06-16 03:43] TuxThePenguin0 commented on #98134
I tried again with rust 1.61.0 and got pretty much the exact same error
<details><summary>Error</summary>
<p>

[code]

</p>
</details>

[2022-06-16 03:44] compiler-errors commented on #98134
does the compiler let you build itself? like not targeting ppc32, but the host architecture?

[2022-06-16 04:14] JRAndreassen opened #98158 "`"0_DISCRIMINANT"` is not a valid identifier"
### Code

[code]
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-16 04:38] TuxThePenguin0 commented on #98134
Yes rust builds fine when targeting the host architecture

[2022-06-16 05:35] sundeepkokkonda commented on #97138
I am also facing this issue on Fedora and Ubuntu as well. The static libs should be installed on the Host machine (Fedora/Ubuntu) or the static libs to be made available in the native sysroot path?

[2022-06-16 05:36] Ayush1325 commented on #98133
@eggyal. Maybe, and it seems to be a much better approach than what I was doing. I am closing this issue for now.

[2022-06-16 05:36] #98133 closed

[2022-06-16 06:53] Dylan-DPC commented on #98117
Marking this as p-high based on the [discussion here](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2398117.20Unsoundness.20due.20to.20where.20clauses.20not.20checked.20for.20wel.E2.80.A6)

[2022-06-16 07:21] InfRandomness commented on #97138
The libraries should be installed on the host machine.

[2022-06-16 07:45] #98065 closed

[2022-06-16 08:38] eggyal commented on #98158
Reduced example (still using proc macro—about to investigate within that macro):

``rust
#[derive(strum_macros::FromRepr)]
pub enum Tinyint {
    _0,
}
[code]

[2022-06-16 09:31] Xuanwo commented on #86442
First of all, as advised by @m-ou-se, we are on the way to stabilizing part of `io_error_more` install all of them like `NotADirectory` and `DirectoryNotEmpty`. This can prevent us kept blocking without any progress. And we will not stabilize `ErrorKind:CrossesDevice` for now. (Please correct me if I understand wrongly).

Then, for this problem:

Which variant do you check before?

As described in

[2022-06-16 09:44] JohnTitor opened #98163 "Flaky test on CI: `search-tab-change-title-fn-sig.goml`"
The failure is:
[code]

That test has failed several times:
- https://github.com/rust-lang/rust/pull/97410#issuecomment-1138063653
- https://github.com/rust-lang/rust/pull/97717#issuecomment-1146456078
- https://github.com/rust-lang/rust/pull/98144#issuecomment-1156953356

[2022-06-16 09:59] JohnTitor commented on #75550
Closing as fixed.

[2022-06-16 09:59] #75550 closed

[2022-06-16 10:30] eggyal commented on #97946
Sorry, finding the "better fix" a bit more involved than originally anticipated and don't have enough time to delve into this right now.  Unassigning in case someone else wants to pick it up, but also happy to return to it when I have more time.

[2022-06-16 10:47] codecheck01 commented on #29602
I just wanted to add that I have never been able to make it work the same as [_ReturnAddress()
](https://docs.microsoft.com/en-us/cpp/intrinsics/returnaddress?view=msvc-170)

**Rust**, Not working, I should get the same address as I get with _ReturnAddress()...
[code]
**C++**, Working fine, I get the correct return address of my function
[code]

[2022-06-16 11:05] newpavlov commented on #93333
Unfortunately, it's not quite possible in my case. I place pointer to a global asm block on a custom stack, so code which gets executed on it automatically jumps to the block after simple `ret`. Inside this block I read another pointer from thread local variable and jump to it. I can not pre-compute the offset during stack creation since it may change or even get executed on a different thread fro

[2022-06-16 11:16] roblabla commented on #93333
AFAIK the correct sequence to access thread_local on x86_64 (on linux, at least) is:

[code]

That is, you have to split the access in two instructions: One that gets the offset, and one that actually dereferences. Trying to do it in a single instruction (something like `mov r8, [fs:{}@TPOFF]`) is invalid, because there are no instructions of the form `mov REG, [fs:IMM]`. At least, that's my under

[2022-06-16 11:19] Amanieu commented on #93333
You can use `-Z tls-model=local-exec` to force the use of a particular TLS model. This is useful if you are building an executable since you know all crates are going to be part of the local executable.

[2022-06-16 11:51] bjorn3 commented on #93333
It depends on the tls model, but for the global dynamic model, which rustc defaults to, it involves a function call, two different relocations and a bunch of padding to allow the linker to relax it to the sequence for a quicker tls model sequence if applicable. See https://github.com/bytecodealliance/wasmtime/blob/c7be93753ac9fcdff816eaccad00986a6ac06b27/cranelift/codegen/src/isa/x64/inst/emit.rs#

[2022-06-16 11:54] bjorn3 commented on #29602
What do you actually need it for? Also what would you expect it to return in case a part of a function is outlined by LLVM to improve cache locality? Do you expect the return address of the outlined function or the function out of which it was outlined? And what do you expect it to return in case the current function was inlined?

[2022-06-16 12:06] ChayimFriedman2 commented on #98128
If this is possible, it would also be nice to mention closures there, since `a => b` is the closure syntax in many languages.

[2022-06-16 12:09] newpavlov commented on #93333
@bjorn3

I mean allowing compiler to insert prelude which computes address of thread local data and places it into register, which then gets used by the asm block. Something like this would be sufficient for my use-case:
[code]
Instead of `in(reg)` it could be something like `sym(reg)`.

[2022-06-16 12:20] matthiaskrgr commented on #98007
You mean https://github.com/rust-lang/rust/pull/98053 , right? ^^

Looks like I can still reproduce this:
$`~/.rustup/toolchains/master/bin/rustdoc --version`
`rustdoc 1.63.0-nightly (d40f24e95 2022-06-16)`

`~/.rustup/toolchains/master/bin/rustdoc -Zunstable-options --output-format json --cap-lints warn --document-private-items --document-hidden-items ./src/test/rustdoc/infinite-redirection.rs`

[2022-06-16 12:23] GuillaumeGomez commented on #98007
No no, I meant https://github.com/rust-lang/rust/pull/93518 as "it will be fixed by this one" (hence why I didn't close it :wink: ).

[2022-06-16 12:24] matthiaskrgr commented on #98007
ooh I didn't see it was a pr, not an issue 😂🙈
my bad!

[2022-06-16 12:25] ChayimFriedman2 commented on #98102
You can instantiate it, and even work with it, but you can't move the maybe-`Copy` value. This is not related to the union even: for example,
[code]
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=e841837a7c635fb568db6814608b66cb
[code]

[2022-06-16 12:41] ChayimFriedman2 commented on #98074
This is filled with the result of the lint by a script in the [lint documentation](https://doc.rust-lang.org/rustc/lints/listing/warn-by-default.html#deprecated-cfg-attr-crate-type-name), but apparently not in rustdoc. I don't know how much important this is, however.

[2022-06-16 12:45] Ayush1325 commented on #29633
I would also like to have a way to define a custom function that replaces the `crt0` and basically allows calling the `lang_start` after the platform stuff is done.

I am currently trying to port the `std` to UEFI targets. It expects a function with the following signature:
[code]
I would like the users to be able to just use the normal `main()`. But since even `lang_start` has a predefined type s

[2022-06-16 12:51] Xuanwo commented on #86442
`ErrorKind` does marked as `#[non_exhaustive]`:

![image](https://user-images.githubusercontent.com/5351546/174073529-aa2677cc-2fe5-46de-9d6e-9b8429320f21.png)

Reference: https://doc.rust-lang.org/std/io/enum.ErrorKind.html

[2022-06-16 13:04] RJudgeII commented on #97946
@rustbot claim

[2022-06-16 13:11] bjorn3 commented on #93333
That would not be valid. For naked functions it is not know which registers need to be preserved and which can be clobbered. It is also not guaranteed that there is a valid stack pointer. This makes it impossible for the compiler to calculate the tls address in a prelude without potentially breaking things as the calculation may need to call a function like `__tls_get_addr` on ELF or call the func

[2022-06-16 13:25] ClementNerma commented on #86442
Oh yes sorry, I confused `#[non_exhaustive]` and having a non-matchable variant.
Nevermind.

[2022-06-16 13:33] mutantbob opened #98167 "Code generation error on AVR using u16::to_be()"
I tried this code on AVR (arduino Uno = atmega328p) with opt-level="z":

[code]

I expected to see this happen:
`debug buf [248, 57351, 7936] mapped`

Instead, this happened:
`debug buf [0, 57568, 7967] mapped`

An alternate code that emits the correct output is

[code]

This compiler error is corrupting the pixel stream transmitted via SPI to an ST7789 display from an Arduino Uno.  What appears t

[2022-06-16 13:47] Dylan-DPC commented on #45541
This seems to be no longer an issue. Closing

[2022-06-16 13:47] #45541 closed

[2022-06-16 14:26] Kile-Asmussen commented on #25053
I think the argument that a `Copy` interior mutability primitive is a 'potential footgun' can be alleviated with a `deny(implicit_copy)` lint.

[2022-06-16 14:46] pnkfelix opened #98168 "compile-time regression from switch from num_cpus to available_parallelism needs a regression test"
#97549 flagged a regression injected by PR https://github.com/rust-lang/rust/pull/94524

The problem was fixed by https://github.com/rust-lang/rust/pull/97911, but we should try to put a test in *somewhere* that catches if something similar crops up again.

[2022-06-16 14:47] pnkfelix commented on #98168
See also conversation from triage meeting https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.5D.202022-06-16/near/286362341

[2022-06-16 15:06] rickardnorlander opened #98170 "rustc panic"
### Code

[code]

### Meta

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-16 15:10] pierwill commented on #94456
@rustbot release

[2022-06-16 15:12] rickardnorlander commented on #98170
Changing Self{field} to MyStruct{field} makes it build btw.

[2022-06-16 15:17] nagisa commented on #96306
We don't run CI on a PowerPC host at all, emulated or baremetal, afaik. There are insufficient engineering resources for setting everything up and maintaining and there hasn't been a motivated party who would pick this sort of work up either.

16 Jun 2022 06:17:53 Jiahao XU ***@***.***>:

[2022-06-16 15:30] cuviper commented on #60896
FYI, I've opened a pull request for a set `Entry` API in `hashbrown`, which may be propagated to `std`:
https://github.com/rust-lang/hashbrown/issues/274

[2022-06-16 15:34] stevenroose opened #98172 "Should Result where E: Infallible implement Deref<Target = T>?"
When a trait forces you to return a `Result<T, Self::Err>`, but you make `Err = Infallible`, it would be nice if you could use that object as if it wasn't a `Result`, using `impl<T> Deref for Result<T, Infallible> { type Target = T; ... }`..

[2022-06-16 15:36] SkiFire13 commented on #98122
I would shorten this to:
[code]

IMO this is more idiomatic than the `and_modify` example, but this is probably subjective. It just seems more linear and thus simplier to me:
- if an entry is empty the default value is 0 (this is in addition to what normally happens)
- then increase it (this always happens)

In contrast with `and_modify`:
- if there's an entry increase it (which is conditional on

[2022-06-16 15:38] compiler-errors commented on #98158
This doesn't seem like a rustc bug, since `0_DISCRIMINANT` is, in fact, an invalid ident. If it's not a bug, then could we close this one?

[2022-06-16 15:47] KarlWithK commented on #98122
So honestly, I agree with what you are saying! However, if we look at the HashMap documentation right now we see this:

[code]

I believe that `and_modfiy` should be used for this type of example. However, for the example I gave which was not the best I admit, I agree that it would be simpler than to do it in one liner.

[2022-06-16 15:47] #98122 closed

[2022-06-16 15:57] eggyal commented on #98158
@compiler-errors: it still shouldn't ICE though; but I think that's a dupe of the issue mentioned above?

[2022-06-16 16:01] mark-i-m commented on #95943
@jyn514 It's not an error or a warn-by-default because MBE macros are unbelievably permissive, which makes it impossible to detect things like this without false positives. For example, it is hard to determine such a snippet is occurring inside a nested macro definition, in which case the outer macro may be defining the meta-variable.

We spent a lot of time trying to figure out what we can check

[2022-06-16 16:05] nagisa commented on #96306
FWIW I’ve just tested the affected crate on a real ppc64le-linux machine running a POWER9 chip. All of 1.58.0, 1.59.0, 1.60.0, 1.61.0, nightly-2022-05-{11,15} successfully ran

[code]

to completion at both [master](https://github.com/ParkMyCar/compact_str/commit/8449fb1c4ea820237e44ae6fcbfb8854f2d06d3a) and 0ed53d042202550091a71980458d18cbb3919e64.

[2022-06-16 16:11] jamesmunns commented on #98167
Since I looked it up, here's the expected/actual in hex, which makes the bug more clear:

input:

[code]

expected:

[code]

actual:

[code]

[2022-06-16 16:40] eggyal commented on #98172
On nightly, there's [`Result::into_ok`](https://doc.rust-lang.org/1.61.0/core/result/enum.Result.html#method.into_ok).

[2022-06-16 16:47] NickHu commented on #96672
Apologies for the noise, but did this fix make its way into 1.61? I'm still getting similar issues there.

[2022-06-16 16:56] jyn514 commented on #95943
I thought the issues you ran into were because you were trying to check it statically at definition time, right? I think giving an error about undefined metavariables should be easier at expansion time.

[2022-06-16 17:05] mark-i-m commented on #95943
Possibly, but is that useful? As a macro user, what would you do if you found that the macro author made a mistake? I suppose you would just report the bug and hope they fix it. I suppose that's marginally better than getting the error above...

[2022-06-16 17:56] BGR360 commented on #80127
Can anybody give a description of what would have to be changed in order to fix this? This just bit us in the butt again in our production code base and we'd like to put some engineering time towards fixing it if it sounds doable.

[2022-06-16 18:00] madsmtm commented on #93333
Different question: Since this doesn't include the ability to specify GOT/PLT, is that a feature request that is being tracked somewhere? Or is it already possible to specify in some other way (if so, would be nice to have that as an example somewhere)?

[2022-06-16 18:06] RalfJung opened #98176 "ICE: invalid scalar pair layout"
[This test in Miri](https://github.com/rust-lang/miri/blob/3d634c975c7d7faf92a46d7d9a1a0267bd48e86a/tests/pass/btreemap.rs) recently started ICEing:
[code]
So we have a ScalarPair value with Scalar layout. Clearly something went wrong somewhere earlier when that value was constructed.

<details><summary>Backtrace</summary>

[code]

</details>

Good commit: 1f34da9ec8a85b6f86c5fa1c121ab6f88f2f4966

[2022-06-16 18:07] RalfJung commented on #98107
Blocked by https://github.com/rust-lang/rust/issues/98176; not sure where that ICE is now coming from.

[2022-06-16 18:09] jyn514 commented on #95943
@mark-i-m not all macros are defined cross-crate; IME most of them are local to the current crate because people don't want to expose macros in the API. Having the better error is very useful for local macros, or just when testing your public macro.

[2022-06-16 18:13] afetisov commented on #71146
My understanding is that this issue is blocked purely on the autodereference issues in #73987. But deref coercions only apply to methods, not functions. What if `len` is initially turned into an associated function or a free function?

[code]

If a solution to the autoref issue is ever invented, I believe this can be turned into a method in a backwards-compatible way.

I'll just note that the abse

[2022-06-16 18:20] b-naber commented on #98176
ICE: [6ec3993](https://github.com/rust-lang/rust/commit/6ec3993ef4a4eb72bc20477fe9a4d92acd53f2c6)

Is that a typo? Seems like the first commit you mentioned is more likely to be the cause for this.

[2022-06-16 18:31] RalfJung commented on #98176
The ICE happens while popping a stack frame, here in the interpreter:
https://github.com/rust-lang/rust/blob/282445a288b3c409a998eb72e51827537e81abd3/compiler/rustc_const_eval/src/interpret/eval_context.rs#L814

Specifically this is while returning from `MaybeUninit::<alloc::collections::btree::node::LeafNode<Foo, ()>>::as_mut_ptr`. The call site is here in the btree code: https://github.com/rust-

[2022-06-16 18:33] RalfJung commented on #98176
(IOW, this is an instance of https://github.com/rust-lang/rust/issues/95453, but usually that bug can only be triggered by actually using a custom allocator -- whereas now with this btree implementation it can be triggered even on code not using any unstable features.)

[2022-06-16 18:34] bjorn3 commented on #93333
@madsmtm You can explicitly specify the kind of relocation you want in the inline assembly. If you choose the right kind you will get a GOT or PLT reference. For example you could do

[code]

if you need a GOT access on x86_64.

[2022-06-16 18:41] cuviper commented on #92675
Once they're called `cast_`, I wonder if we should also add a type parameter like the existing `cast` method, so you don't have to double up `.cast().cast_const()` etc.

[2022-06-16 18:47] exrook commented on #98176
The reason for the `&A` is because BTreeMap holds the allocator within its top level struct, but needs to use the same allocator to allocate nodes through `Box::new_in(x, &self.alloc)`, the other option here would be to require the `Allocator` to be `Clone` so we can call `Box::new_in(x, self.alloc.clone())` which seems overly restrictive unless we require every `Allocator` to be clone.

[2022-06-16 18:55] estebank opened #98177 "On functions with return type and no returned value, point at appropriate bindings to be returned"
When encountering a function with an explicit return type, but the function body doesn't return anything, we should inspect the body's bindings and point out all that have an appropriate type:

[code]
[code]

Potentially consider the implications of lifetimes, particularly for bindings that are a borrowed value. Also make an effort not to drown the output if more than N bindings would apply in rea

[2022-06-16 19:01] RalfJung commented on #98176
https://github.com/rust-lang/rust/pull/98178 is my proposal for fixing this.

[2022-06-16 19:02] yaahc commented on #71146
I'm sorry if this has already been addressed because I haven't taken the time to go back and review the full history, but as anyone already discussed updating the impl to internally use the [`ptr::metadata`](https://doc.rust-lang.org/stable/std/ptr/fn.metadata.html) API? I know @SimonSapin was involved in the earlier review stages for this API and noted how they're related, but I didn't find any f

[2022-06-16 19:05] B-Reif opened #98179 "Panic occurred while running `cargo check`"
Panic occurred while running `cargo check`.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-16 19:50] Patryk27 commented on #98167
Hi,

To be sure - have you checked on the latest nightly? (e.g. from yesterday)

[2022-06-16 19:52] Patryk27 commented on #98167
Hi,

Could you please check with `opt-level = 1`? It feels like a but nonetheless, but I'm curious about the result 🙂

[2022-06-16 19:59] Patryk27 commented on #98167
Also:
@rustbot claim

[2022-06-16 19:59] afetisov commented on #71146
@yaahc The `<*(const/mut) [T]>::len` function already internally delegates to `ptr::metadata`.

[2022-06-16 20:13] compiler-errors commented on #98177
This seems like a fun one. Maybe I'll give it a stab.

@rustbot claim

[2022-06-16 20:16] ijackson commented on #86442
Highly relevant to this concern is the discussion starting here: https://github.com/rust-lang/rust/pull/79965#issuecomment-832771472

In particular, I would like to (re)propose the principles I set out here https://github.com/rust-lang/rust/pull/79965#issuecomment-833422225

I think what you mean is whether there are platforms where you can try to remove a non-empty directory, and get an error bec

[2022-06-16 20:19] compiler-errors commented on #98102
@Mark-Simulacrum: In https://github.com/rust-lang/rust/issues/55149#issuecomment-1150197680, @joshtriplett said:

I think promoting this to do a copy check considering regions is probably still worth considering here?

[2022-06-16 20:30] RalfJung commented on #98176
If someone has an A: Allocator that is not Copy, they can use &A to get a Copy allocator and pay the cost of the indirection.
But your current approach forces *everyone* to pay that cost, even if their allocator is Copy. That is in violation of the zero cost principle.

[2022-06-16 20:54] madsmtm commented on #93333
Ah cool, that was exactly what I was looking for, thanks!

[2022-06-16 20:55] Mark-Simulacrum commented on #98102
It's probably worth a crater run, at least, but I'm not sure how that comment is relevant. It would be (IMO) the right behavior, but it would also be a breaking change in theory, at least, which makes me reluctant to move ahead with it.

[2022-06-16 21:09] SoniEx2 commented on #55005
We'd like to attempt a fix for this by adding an `AtomicPtr` to the `ArcInner`. It'd make `Drop` significantly slower in the heavy contention case, but microbenchmarks aren't real. The main benefit is that it should work.

[2022-06-16 21:25] compiler-errors commented on #98179
@B-Reif, you'e building with an older version of rustc which has known incremental compilation issues. Feel free to re-open this task if you see this happening on 1.61, beta, or nightly.

[2022-06-16 21:25] #98179 closed

[2022-06-16 22:40] Arnavion commented on #97601
Sure, but the current implementation makes things more difficult for people who want to do multiple lookups in parallel and then do some mutations based on which keys exist and don't exist.

Returning `[Option<&mut>]` would not only provide strictly more information, but can be converted to `Option<[&mut]>` using `result.try_map(std::convert::identity)` (as suggested by AstrallyForged on IRC).

--

[2022-06-16 22:53] BGR360 commented on #80127
What does it mean "see what Clang does in that case for alignment"?

[2022-06-16 22:56] jhpratt commented on #98170
I haven't done a search for the exact commit, but on the playground this regressed between beta and nightly.

@rustbot label +regression-from-stable-to-nightly

[2022-06-16 22:59] compiler-errors commented on #98170
This is due to the NLL stabilization, since it manifests with `#![feature(nll)]` on 1.61 (with `env BOOTSTRAP_RUSTC=1` to allow feature flags). I'll be looking at it in a few hours when I get home!

[2022-06-16 23:01] 8573 opened #98182 "Documentation: Evaluation order of procedural macros"
As far as I see, neither the Book nor the Reference document the order in which procedural derive macros and procedural attribute macros are evaluated if multiple such macros are used on an item.  Is the order defined?  I would like to suggest that at least the Reference document the evaluation order, or that the order is undefined, if it is.

[2022-06-16 23:26] mark-i-m commented on #95943
That's fair enough.

[2022-06-16 23:38] eggyal commented on #98182
The [Meta Item Attribute Syntax](https://doc.rust-lang.org/reference/attributes.html#meta-item-attribute-syntax) section of The Rust Reference states:

[2022-06-17 00:16] mark-i-m commented on #95943
It looks like this is the code you would want to change:

https://github.com/rust-lang/rust/blob/3bebee73397b692e84b9cc1b6af439fae78918c9/compiler/rustc_expand/src/mbe/transcribe.rs#L249-L254

I'm not sure how you could tell if you were in a nested invocation or not, though. One option is to just make it an error and do a crater run to see how wide the impact is.

Maybe the AST Validation might be

[2022-06-17 00:23] yanchen4791 commented on #93581
This problem still exists with stable rustc 1.61.0 and 1.63.0-nightly (ee160f2f5 2022-05-23).

It seems the stack overflow problem happened caused by probably infinite recursion of nested calls when compiling the test program.
Tried increasing the stack size with "RUST_MIN_STACK=419430400 rustc main.rs" and the problem remains.

Using rust-gdb, we can see a very deep function calling stack (depth

[2022-06-17 01:39] dtolnay commented on #97124
Closing in favor of keeping discussion about the path forward in https://github.com/tokio-rs/tokio/issues/4670 + https://github.com/rust-lang/rust/pull/97149 + https://github.com/rust-lang/rust/pull/97150.

[2022-06-17 01:39] #97124 closed

[2022-06-17 01:47] codecheck01 commented on #29602
Hey @bjorn3, thanks for your answer and asking to clarify a couple of points, well first of all, I am not expert with both Rust/LLVM, but I really enjoy Rust and the community behind it, and want it to be my main programming language and drop C/C++.

Nevertheless, I do know my work environment well which is mainly reverse-engineering and memory editing, thus creating softwares that affect live pro

[2022-06-17 02:16] VixieTSQ commented on #96374
As much as I love the name `yeet`, and I would not be mad if it gets stabilized as yeet, the name should probably be `throw`, or if we *must* be different then the anyhow crate already has a cool name: `bail`. In that case I'm not sure what the `catch` counterpart would be named. But those are the two names I'm putting on the table.

[2022-06-17 02:32] #91800 closed

[2022-06-17 02:32] #93203 closed

[2022-06-17 02:32] #98009 closed

[2022-06-17 02:58] jackh726 commented on #93203
Err I guess I should have reopened the other issue. Whoops. Oh well.

[2022-06-17 03:21] NobodyXu commented on #96306
@nagisa You would need to remove the cfg [here](https://github.com/ParkMyCar/compact_str/blob/8449fb1c4ea820237e44ae6fcbfb8854f2d06d3a/compact_str/src/tests.rs#L657) and [here](https://github.com/ParkMyCar/compact_str/blob/8449fb1c4ea820237e44ae6fcbfb8854f2d06d3a/compact_str/src/repr/traits.rs#L106).

Mind you that these implementation uses crate ryu to provide better performance.

It will still b

[2022-06-17 03:30] NobodyXu commented on #96306
@nagisa Checkout this [repository](https://github.com/NobodyXu/rustc-powerpc-foat-bug-reproduce) I used to reproduce the bug.

[2022-06-17 03:33] shkoo opened #98185 "Non-reproducible builds when depending on local crates"
It looks like meta fingerprints are not particularly stable when it comes to depending on local crates (i.e. with a dependency specifying a "path", a "[patch.crates-io]" section or a "__CARGO_TESTS_ONLY_SRC_ROOT" environment variable); different absolute pathnames seem to produce different build fingerprints.  This makes it difficult to reproduce builds when running as a different user or on a dif

[2022-06-17 05:07] 8573 commented on #98182
Okay, while I think the quoted Reference text doesn't directly address my question (it directly addresses attributes in macros and macros in attributes but not _attribute macros_), that second example does appear to imply that procedural attribute macros are evaluated in the order in which they appear in the source code.  However, I think the expansion order of derive macros versus attribute macro

[2022-06-17 06:12] yanchen4791 commented on #93581
The recursive call to Fib<> in impl for Fib caused the infinite recursion in rustc_middle::ty::relate::TypeRelation path:
[code]
Tested by taking out the recursive calls in Fib, the problem goes away.

[2022-06-17 06:42] eggyal commented on #98185
@rustbot label +A-reproducibility

[2022-06-17 06:44] eggyal commented on #98182
@rustbot label +A-docs +A-attributes +C-cleanup

[2022-06-17 07:16] aliemjay commented on #97104
The above exploit is `check-pass` and should be easier to do with #95474, where indirection through `Static` would not be necessary, so

@rustbot label I-unsound requires-nightly T-types

[2022-06-17 07:41] chansuke commented on #94307
@jackh726 Thank you so much for the explanation. I am working on this issue now and am trying to reproduce the warning, is it already fixed in latest version((rustc 1.63.0-nightly (b31f9cc22 2022-06-15)?

[2022-06-17 08:18] Kixunil commented on #92675
@cuviper yes, not changing the type is the main point because it protects against refactors. You can already do both with `as`.

[More detailed explanation](https://internals.rust-lang.org/t/casting-constness-can-be-risky-heres-a-simple-fix/15933)

[2022-06-17 08:22] dureuill commented on #73632
Hello and apologies for bumping this issue,

We're hitting this big time as we try to scale to multiple independent [CXX](cxx.rs) libraries in our CMake-based build system.

Lack of stability promises apart, are there known immediate issues to linking directly the rlibs with e.g. clang++ or g++?

As a way to avoid looking for the system rlibs, I'm experimenting with building a `libbaserust.a` thro

[2022-06-17 08:28] bsilver8192 commented on #73632
I've got it working with bazelbuild/rules_rust#1350. That's linking the rlibs, plus a .c file to handle the allocator shims. Seems to be pretty robust for Linux without sanitizers, but it does require Rust-version-specific tweaks to the ordering for the system rlibs and contents of the .c file.

bazelbuild/rules_rust#1238 has some more discussion. Somewhere in the discussion related to that (can't

[2022-06-17 08:41] dureuill commented on #73632
Ah I don't seem to be encountering the issue with allocators in the `libbaserust.a` version.

I understand that it is an issue when linking with only the rlibs?

[2022-06-17 08:46] bsilver8192 commented on #73632
Hmmm, not sure. Maybe the `staticlib` includes those symbols? But I'm not sure if it's guaranteed to include all of them or just the ones used by the Rust code in it.

[2022-06-17 08:55] kjetilkjeka commented on #97174
Short status update: I'm looking into two alternative solutions.

The most proper one is to add a `Legalizer` pass in LLVM for the ptx target. This transforms illegal instructions into something that is guaranteed to be selectable. This is what makes `i24` and friends supported on other LLVM targets.

The more hacky and "rustc-centric" solution is to add a field `backend_quirk_requires_pow_of_two_

[2022-06-17 08:55] dureuill commented on #73632
Just to make sure we're talking about the same issue, when attempting to build with the following command line:

[code]

I get linker errors like:

[code]

Is that the issue at hand with the allocators?

If so, when making an additional empty rust project `rustbase` and setting it to compile with `staticlib`, and lastly using this static lib on top of the rlibs from my actual project:

[code]

the

[2022-06-17 08:57] bsilver8192 commented on #73632
Yep, that's the allocator shims. There's more than just `__rust_alloc` and `__rust_dealloc` that you might hit with more complex code, and I'm not sure if your `staticlib` will include those or not.

[2022-06-17 09:04] dureuill commented on #73632
Could you maybe share any way of triggering the missing functions from standard code, so that I could test if the staticlib include these?

`nm` on the staticlib tells me that it contains ("T" type symbols) `__rust_alloc`, `__rust_alloc_error_handler`, `__rust_alloc_error_handler_should_panic`, `__rust_alloc_zeroed`, `__rust_realloc`, `rust_oom`, `__rdl_oom` and `__rust_dealloc`

[2022-06-17 09:56] bjorn3 commented on #29602
On nightly

[code]

works for me and prints

[code]

What is the exact issue you have?

[2022-06-17 09:59] bjorn3 commented on #80127
Looking at the abi handling code in clang for the respective calling conventions and copying the logic to set the alignment for arguments at LLVM ir level verbatim.

[2022-06-17 10:06] 5225225 commented on #66151
I was looking into this again, and wrote this pipeline to show only unique failures in dependencies: `rg '(attempted to .* which is invalid).*(registry/src/.*?):' -I -o -r '$2' | sort | uniq`

Running it on the regressions from the historical crater run (and only listing semver compatible versions once):

`array-init 0.0.4`, `arrayvec 0.3, 0.4`, `coco 0.1`, `crossbeam 0.2`, `crossbeam-channel 0.2,

[2022-06-17 10:11] nagisa commented on #96306
As I wrote in the comment above, I tested the commit [0ed53d042202550091a71980458d18cbb3919e64](https://github.com/ParkMyCar/compact_str/pull/91/commits/0ed53d042202550091a71980458d18cbb3919e64) which removes the cfg in question as well. Was that insufficient?

[2022-06-17 10:16] mayanksharma3 opened #98192 "Non-inlined recursive function produced different value when optimised"
I'm in the (fairly early) process of building a Rust fuzzer ([here](https://github.com/rustsmith/rust)) and whilst running it, it came across this discrepancy between optimization levels on the latest released Rust version (1.61.0). It generated a huge file, but this is the a reduced code snippet exhibiting the same behaviour.

I tried this code:

[code]

I expected to see this happen: Run forever

[2022-06-17 10:51] 5225225 commented on #66151
Also, that crater run didn't consider uninit `u8`s to be UB, which I know `http` did do (now fixed).

So if we want the panics to match what we call UB, I expect there to be 2 or 3 more phases of making them stricter

1. Just looking inside arrays
2. Uninit types that have no validity invariant (other than not being uninit) are UB too
3. (Maybe) that check that was mentioned in the comments about

[2022-06-17 10:54] noprofessional commented on #39232
use
[code]
instead of
[code]
can be a work around of this problem

since `Rc` does not implement `try_borrow_mut()`

[2022-06-17 10:57] codecheck01 commented on #29602
The issue is that for the same use case, I am getting two different return address when I should get the same on both C++ and Rust.

Same code, same hooking method, different result.

I think that for my use case there is something more complex going on with LLVM, is your exemple this is a plain standard function in Rust, so you are getting the return address correctly.

In my case, I am calling a

[2022-06-17 11:39] NobodyXu commented on #96306
That's sufficient.
Sorry I missed that part.

[2022-06-17 11:59] c410-f3r commented on #96997
Closing due to the lack of activeness

[2022-06-17 11:59] #96997 closed

[2022-06-17 12:10] compiler-errors commented on #94307
I think it's fixed, I was having trouble reproducing it on nightly as well...

[2022-06-17 12:22] hlopko commented on #73632
This is the file with definitions that we use with the latest rustc: https://github.com/google/crubit/blob/main/common/rust_allocator_shims.c.

This is where rustc declares them: https://stdrs.dev/nightly/x86_64-unknown-linux-gnu/alloc/alloc/index.html.

I'd expect that `staticlib` defines all of these. Still, using a mostly empty `staticlib` and then `.rlibs` is not officially supported mode, jus

[2022-06-17 12:33] bjorn3 commented on #73632
I got a PR for removing the need for the allocator shim when using `#[global_allocator]`: https://github.com/rust-lang/rust/pull/86844 I need to update it some day.

[2022-06-17 12:35] nikic commented on #98192
This is likely a duplicate of https://github.com/rust-lang/rust/issues/97428. Does it work on nightly?

[2022-06-17 12:39] bjorn3 commented on #29602
I tried both `llvm.returnaddress` from rust and `_ReturnAddress` from C++ with MSVC, and they seem to have the exact same behavior: https://rust.godbolt.org/z/G3Y4YxYrn

[2022-06-17 12:54] GuillaumeGomez commented on #98090
It's why semver and equivalent was invented. You change the API, you change the version number accordingly.

[2022-06-17 12:58] GuillaumeGomez commented on #98032
cc @petrochenkov

[2022-06-17 13:00] ouz-a commented on #97898
@rustbot claim

[2022-06-17 13:03] Sagawarrier opened #98196 "Error when I tried to compile my code???"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-17 13:06] GuillaumeGomez commented on #97976
The problem isn't rustdoc here but your `cfg`. More precisely the `doc` inside. In here, rustdoc calls rustc so it can get information and rustc cannot find the import (as expected). You need to add the `cfg` on the import as well.

If I'm completely wrong about this, don't hesitate to reopen the issue. Closing it in the meantime.

[2022-06-17 13:09] nikomatsakis commented on #27579
Discussed in @rust-lang/types triage today. Decided to close this issue -- RFC 1214 is long-since stabilized, and the work on a-mir-formality will help us deal with ensuring exhaustive testing.

[2022-06-17 13:09] #27579 closed

[2022-06-17 13:09] #97966 closed

[2022-06-17 13:12] SpriteOvO commented on #97976
@GuillaumeGomez But Rustdoc promised in [the Book](https://doc.rust-lang.org/rustdoc/advanced-features.html#interactions-between-platform-specific-docs):

This also covers import errors, doesn't it?

[2022-06-17 13:13] GuillaumeGomez commented on #97976
This is an interesting point. We need some information. This section should be updated. Reopening the issue then.

[2022-06-17 13:35] krasimirgg commented on #98056
This same error appears if using the bootstap beta version and the freshly-built "standard" stage0-stdlib sysroot via x.py. Added a reproducer doing that in:
https://github.com/krasimirgg/rust-beta-ice-2.

[2022-06-17 13:48] jackh726 commented on #45667
Visiting for types triage. This feels a bit dated to us. If this is something that is desired in the future, this should probably go throug an RFC.

[2022-06-17 13:48] #45667 closed

[2022-06-17 13:49] nikomatsakis commented on #45667
A few thoughts here:

I think we need to draft up a coherent RFC about what `'_` means in all the places. I am of the opinion that it should mean "add a region to the innermost potential binder spot", which in this case would mean `where T: Trait<'_>` would mean `where T: for<'a> Trait<'a>`. I also think `impl Foo` should follow the same rules, so that `T: Trait<'_, impl Debug>` would be short for

[2022-06-17 13:57] jackh726 commented on #46060
We talked about this in the types triage meeting today. We decided that this would be a nice enhancement, and really only needs someone to put in the time to implement it. But it's not on our roadmap.

[2022-06-17 14:06] jackh726 commented on #48049
Visiting for types triage. We feel like this issue doesn't buy us much. It feels like a general "things to make rustc behave like chalk", which is probably better tracked through individual issues + a project. We're currently pursuing a-mir-formality, which will have implications here anyways.

[2022-06-17 14:06] #48049 closed

[2022-06-17 14:30] eggyal commented on #98196
You're using an nightly from over a month ago; could you please `rustup update` and let us know if the issue is still present in the latest nightly? Thanks!

[2022-06-17 14:33] compiler-errors commented on #98196
This is indeed fixed on nightly. Closing.

[2022-06-17 14:42] ragdollfun opened #98201 "compiler suggestions lead to more buggy code"
Hello everyone !

Before I start, this bug report concerns the suggestions the compiler gives when code fails to compile and what happens when we blindly follow them, which is something someone new to the language or new to programming in general might be led to do.

I tried this code:

[code]

This one doesn't compile and the right way to make it work is the following:

[code]

The following is t