[2017-10-06 22:42] basyg commented on #38038
It has not bad perfomance, but violates the "w.r.t fusing":

[code]

test chained      ... bench:       3,115 ns/iter (+/- 266)
test chained2     ... bench:       1,378 ns/iter (+/- 153)
test chained2back ... bench:       1,189 ns/iter (+/- 38)
test unrolled     ... bench:         732 ns/iter (+/- 25)

[2017-10-06 22:50] rkruppe commented on #38913
Another (marginal) benefit, assuming `#[inline]` stops copying function bodies into multiple codegen units as discussed in the context of #44941: `#[inline]` becomes less necessary (only adds `inlinehint` instead of enabling inlining at all in certain cases) and less complicated (easier to explain, easier to tell if it's useful).

[2017-10-06 23:06] alexcrichton commented on #44941
Ok I've created a PR at https://github.com/rust-lang/rust/pull/45075

@mersinvald and @crumblingstatue, if y'all could test out that PR locally that'd be great! My hope is that it should make 32 codegen units continue to be better than 1, and perhaps give us flexibility to increase the number of cgus in the future.

[2017-10-06 23:10] dylanmckay commented on #44006
Can confirm - the entire JavaScript backend lives in`lib/Target/JSBackend/`.

Every JS-specific modification to LLVM outside of this directory is decorated like so

[code]

It is

[2017-10-06 23:15] brainlessdeveloper commented on #29586
So, I'm trying to make progress with this. I wrote the test and have its `stderr` file.

Correct me if I'm wrong, but I can't use `self.expect` to check if we have an opening brace because that give me no opportunity to recover if there's no brace? I'm doing this instead:

[code]

The rest of the work should be checking for errors during `self.parse_expr_res` and adding a note if there's an error

[2017-10-06 23:21] clippered commented on #44968
thanks for the tips. i would like to give this a go for my 1st PR, if you guys don't mind.

[2017-10-06 23:26] pcwalton commented on #45068
@jrmuizel Does WR have good serialization codegen now?

[2017-10-07 00:14] jjpe commented on #45073
Could you give the `#[no_mangle]` attribute a try instead of `#[link_name  = "..."]`, see if that works?

[2017-10-07 00:50] lfairy opened #45076 "TokenStream: Pretty-printing for string and character literals is hard to read"
When I try to `println!()` a `TokenStream` that contains a string literal, I get this back:

[code]

That's much harder to read than the unescaped equivalent:

[code]

I think we should at least render printable ASCII characters (except backslashes and quotes) without escaping, to make it easier for macro authors to debug their generated code.

[2017-10-07 02:19] jrmuizel commented on #45068
It's pretty good but could be better. If I run opt -O2 on the ir it improves:
before:
[code]

after:
[code]

[2017-10-07 03:29] retep998 commented on #45073
LLVM automatically performs calling convention decoration on symbols. This sounds like a simple case where `bindgen` should just not emit `link_name`, but if you *really* want to explicitly specify the calling convention decoration yourself then I believe prefixing the name with `\x01` should tell LLVM to not automatically decorate symbols.

[2017-10-07 03:37] bstrie commented on #45029
I don't see why we would ever add a stable `-C` flag for this. If it doesn't miscompile code, then it should be on by default, no flag needed. If it does miscompile code, then it would be an enormous departure of policy for us to offer such a flag; refusing to add memory-unsafe compiler flags is part of the reason that we've refused to add a flag to completely disable automatic bounds checks. Am I

[2017-10-07 03:54] dumindu opened #45078 "Adding more favicons to support more platforms including Firefox new tab page"
This is top sites thumbnail previews of Firefox new tab page. Most of official Rust websites are missing bigger favicons.
<img width="519" alt="screen shot 2017-10-07 at 10 46 09 am" src="https://user-images.githubusercontent.com/1280428/31304522-fb8c5e56-ab4c-11e7-97a9-18f86c836968.png">

[2017-10-07 04:05] tschottdorf commented on #42640
@nikomatsakis you can check the first box now.

[2017-10-07 04:54] cedenday commented on #44582
Is there any way to implement these as `const`ants?

I personally don't like this kind of trivial function.

[2017-10-07 05:58] U007D commented on #44842
Would `CrateName::ErrorName::MyError` be a good default `description`?  Obviously, anyone wanting a richer description could `impl Error for ErrorName` and override the default `description`.

[2017-10-07 07:02] bstrie commented on #29722
I'm all for it. +1

@parched Going by @jimblandy 's suggestion quoted above, anyone using `asm!` will happily be able to still use it.

If GCC's assembly syntax is truly not specified or documented after 30 years, then it seems safe to assume that either producing a documented assembly sublanguage is a task that is either so difficult that it is beyond Rust's ability to accomplish given our limite

[2017-10-07 08:37] nivkner commented on #44366
This kind of metabug seems like something that should be tackled continuously, as new FIXMEs are added over time, so if possible this would be better run routinely. Otherwise there really isn't much of a difference between running the script or marking FIXMEs as complete.

Since I wouldn't ask you to dedicate so much time to this one issue, I'd like to know what is your opinion on turning this scr

[2017-10-07 10:11] Freyskeyd commented on #43301
@bkchr If you need some help let me know!

[2017-10-07 10:45] nox commented on #39016
#37545 landed, what is needed to make some progress on this?

[2017-10-07 11:13] retep998 commented on #39016
@nox As I said before, someone has to find the relevant bits in #37545 and duplicate it for crt-debug.

[2017-10-07 11:49] liranringel commented on #45073
@retep998 thanks

[2017-10-07 11:49] #45073 closed

[2017-10-07 12:13] #44731 closed

[2017-10-07 13:30] rozuur commented on #44293
can i work on this?

[2017-10-07 14:08] johnthagen commented on #41555
I can confirm that #44940 fixed the compile issues I was seeing when using this feature and a simple `reqwest` application on macOS and Windows.

### Thoughts on privacy

I think this feature possesses the mechanics to be more broadly address privacy issues for closed-source code. This may be out of scope for the current issue, but I wanted to bring it up now since this feature hasn't been fully i

[2017-10-07 14:13] cypheratheist opened #45084 "Decouple NetBSD/amd64 builds from dynamic libgcc_s"
The prebuilt binaries for NetBSD x86_64 require libgcc_s.so, but the base NetBSD system can be built as a "pure" clang build; in such cases the system will not contain libgcc_s.so.

To cover non-gcc NetBSD systems the bootstrap kit should be built using -static-libgcc.

See https://gnats.netbsd.org/cgi-bin/query-pr-single.pl?number=52584

[2017-10-07 14:23] theotherjimmy commented on #44891
I'm working on `traits::get_vtable_methods`

[2017-10-07 15:11] parched opened #45085 "Consider adding load/store atomics for targets that don't support compare and swap"
Some targets, Armv6-M for example, don't support atomic compare and swap so have "max-atomic-width" set to 0 in their target specs. Often you just need to `AtomicUsize::load` and `AtomicUsize::store` and none of the other CAS dependent methods but unfortunately it's not supported by rust even if that targets natively support it.

We could add another field to the target spec, "max-atomic-load-stor

[2017-10-07 15:21] alexcrichton commented on #44655
Unfortunately it looks like we were a bit too eager to close this in #45054 :(

[2017-10-07 15:39] jacwah opened #45086 "All debuginfo-lldb tests fail (TypeError: expected string or buffer)"
All (non-ignored) debuginfo tests fail when I run

    $ ./x.py test src/test/debuginfo

Below is the message for one of the tests. They all seem to be the same.

[code]

Adding a print call to debug the Python traceback reveals that `normalize_whitespace` is called with `None` as argument.

I'm on the current master (cce93436d3628f5fa8288c7e84f4b695542c6ae3) running macOS 10.12.6 and `/usr/bin/py

[2017-10-07 15:40] Thiez opened #45087 "Nightly: unsafe code is allowed outside `unsafe` blocks when the code is unreachable"
I'm not sure if this is a feature or a bug, but the compiler behaves differently for the following program on stable, beta, and nightly:

[code]

On stable:
[code]

On beta:
[code]

On nightly:
[code]

Note that wrapping the final statement in an `unsafe` block will allow the program to compile on all three versions, *but* on nightly the compiler will complain:
[code]

I suppose that the compiler

[2017-10-07 16:00] pcwalton commented on #45068
Seems like a pass ordering issues. Perhaps the new pass manager in LLVM will help someday…

[2017-10-07 17:34] kennytm commented on #45086
Repro-ed. Looks like an issue in newer version of LLDB when the output is empty (see snare/voltron#197). I'll just add an `or ''` to fix it.

[2017-10-07 17:42] MaikKlein opened #45092 "rustc recommends specialization for type parameters inside an extern block"
[code]
[playground](https://play.rust-lang.org/?gist=ee8dd6782e34cc6929014c4a7323afa4&version=stable)

[2017-10-07 17:46] MaikKlein commented on #45092
I just realized that rustc doesn't refer to the feature specialization but 'manual' specialization.

rustc --explain E0044

---

You can't use type parameters on foreign items. Example of erroneous code:
[code]
To fix this, replace the type parameter with the specializations that you
need:
[code]

[2017-10-07 18:15] da-x opened #45093 "Borrow error when yielding with nested generators"
Hi, I got some feedback regarding the generator feature that is currently in nightly.

I am testing whether it is possible to yield out of a generator while another generator is in scope, for example:

[code]

However I am getting:

[code]

rustc: `rustc 1.22.0-nightly (05cbece09 2017-10-06)`

I am not sure what borrow this error is talking about.

Is `sub_generator` not owned?

Is there an intent

[2017-10-07 18:58] japaric commented on #44538
PR #45094 adds +strict-align to all the ARMv6 targets

[2017-10-07 19:15] sinkuu commented on #45093
This could be a bug that rustc is pointing out a wrong `yield`. If I comment out `yield x;`, which is obviously during `sub_generator` borrow, E0626 disappears.

[2017-10-07 19:50] diwic commented on #18510
@iainnicol

I have two concerns about this approach: 1) does it really work in practice, and if so what kind of exception is a Rust exception in C++ and 2) why can't you use `catch_unwind`?

[2017-10-07 19:58] diwic commented on #18510
@nikomatsakis or anyone who would like to provide mentoring/review/feedback:

So I made some progress today! (Yay!) As can be seen in https://github.com/diwic/rust/commit/729092c3e39ab95157fd58a14b04db70c1514128

It's probably not ready for PR yet, could use some mentoring / feedback:

 * Should tests be added and if so how can one test that an abort has happened? As of now I have only manually in

[2017-10-07 21:26] basyg commented on #38038
@bluss I couldn't get good perfomance for both Iterator traits at once.
Doing something little bit different returns to poor perfomance.
I tried to write some analogue code in C++ (gcc and clang) and it is all the same: adding some code (e.g std::swap()) causes big degradation of iteration speed. So it isn't only rust compiler issue.

Best solution is a compiler patching.

It must b.take() or some

[2017-10-07 22:03] bluss commented on #38038
Here's one variant, it's completely symmetric in a and b and it looks pretty good.

The benchmark results with your benchmark look like this:

[code]

So rev is still slower, for some reason.

Anyway, I switched the benchmark to use something even more cut-throat. Unfair! We use a summation instead, then the compiler can really show how many loop optimizations it can realize for a given iteration.

[2017-10-07 22:18] #44570 closed

[2017-10-07 23:16] basyg commented on #38038
Yeah! It's very nice. Something better without looping can't be expected.

What are you mean? Results of std_chain_sum() and unrolled() are same: std_chain_sum() was completely optimized.

[2017-10-08 00:48] bluss commented on #38038
std_chain_sum goes through a different path -- `fold` which doesn't pass through `iterator::next` for `std::iter::Chain`. So it just shows a completely different code path for computing the same result.

[2017-10-08 01:41] ishitatsuyuki commented on #43370
Just by the way, this will block Arch from pushing any updated Rust compiler as llvm-5.0.0-1 is already in stable repository.

If possible, I would like to see a WIP PR so I can start building dev (easily) with system LLVM.

[2017-10-08 01:49] ishitatsuyuki commented on #43370
I see, #44421 is the blocking issue instead then. Maybe we can cherry pick the fix?

[2017-10-08 03:33] clarcharr commented on #43193
See rust-lang-nursery/clippy#1454

[2017-10-08 03:57] sajattack commented on #43370
I am also unable to build due to #44421

[2017-10-08 04:09] sajattack commented on #44421
Is there a patch for this yet?

[2017-10-08 06:36] colinmarsh19 commented on #35241
Has anyone worked on this recently? I might take a crack at it. New to Rust but I'd like to learn, and start getting involved with OSS. Let me know if there are any conflicts, or if anyone is able to give me some guidance. Thanks! :)

[2017-10-08 06:47] da-x commented on #45093
#43122 @aturon

[2017-10-08 06:55] colinmarsh19 commented on #32354
I might take a look at this issue and see what I can do. Let me know if there are any conflicts --Colin

[2017-10-08 06:59] colinmarsh19 commented on #28784
This seems like an interesting fix. I'll take a look at it and see what I can figure out. -- Colin

[2017-10-08 08:21] #44105 closed

[2017-10-08 08:21] #44538 closed

[2017-10-08 09:55] rkruppe commented on #45087
Probably due to #44700, cc @arielb1

[2017-10-08 10:03] osa1 commented on #38355
This actually caused deadlocks in a program I was working on. I had something like this:

[code]

This program never returns because `match` keeps the lock longer than necessary.

[2017-10-08 10:58] petrochenkov opened #45103 "Some run-pass tests fail after recent LTO/CGU changes"
Probably https://github.com/rust-lang/rust/pull/44841, because the tests passed yesterday.
Observed on `x86_64-pc-windows-gnu`.
cc @alexcrichton @michaelwoerister

Affected tests:
[code]

Errors:
[code]

[2017-10-08 11:33] petrochenkov commented on #45103
The issue disappears after disabling `codegen-units` in `config.toml` and doing a full rebuild (modulo LLVM) and reappear after enabling `codegen-units` in `config.toml` and doing a full rebuild.

[2017-10-08 13:11] Pirh commented on #29370
Think I'm going to take a look at the Stdio links/examples.

[2017-10-08 14:46] sgrif commented on #41790
This came up on Reddit today. https://www.reddit.com/r/rust/comments/75170p/why_cant_i_assign_to_captured_outer_variable_in/

[2017-10-08 14:51] mgattozzi commented on #29370
@steveklabnik the two abort check boxes should be ticked off now that #44905 was merged

[2017-10-08 15:37] vitiral commented on #44924
#44924 is the implemenation of `call_expressions.rs`

[2017-10-08 16:19] bluss opened #45107 "Missing unnecessary unsafe block warning"
The following code uses a redundant `unsafe` block inside a closure.

This is a warning on stable but there is no warning on nightly.

To reproduce [(playground)](https://play.rust-lang.org/?gist=5533505eeb63832444b27229570838a7&version=nightly):

[code]

Probably due to #44700, cc @arielb1

[2017-10-08 16:29] dtolnay commented on #41196
I am on board with stabilizing a function with this behavior. But in general, the more a function's behavior may be confusing, the more careful we need to be in selecting a name.

- :-1: `spin_wait` because the spin loop code would read as though this call internally does a spin wait, rather than identifies the spin wait containing the call.
- :-1: `cpu_relax` because the word "relax" is already c

[2017-10-08 17:03] #30355 closed

[2017-10-08 17:03] #33241 closed

[2017-10-08 17:03] #36400 closed

[2017-10-08 17:03] #37887 closed

[2017-10-08 17:03] #44578 closed

[2017-10-08 18:20] pm215 opened #45109 "unhelpful diagnostic: trying to compare f64 and &f64 for equality gives E0277 but E0308 would be better"
If I try to compare an f64 with an &f64:
[code]
(where user.countmap is a HashMap<String, f64>) then rust tells me

[code]
helpfully pointing me to the fact I need to add an & to the constant.

However if I do the same thing for equality comparison:
[code]
the error is much more obscure:
[code]

It would be helpful if rust could produce E0308 for this mistake in all kinds of comparison.

I'm using

[2017-10-08 18:50] parkovski commented on #45067
The canonicalize code is similar to libuv but a couple flags are different - I suspect the problem has to do with those flags, but I'll need to set up a network drive to test it.

[2017-10-08 20:04] clarcharr commented on #41196
:+1: to `spin_loop_hint`

[2017-10-08 20:05] bkchr commented on #43301
I'm currently a little bit stuck, I want to create the Obligation. To create the Obligation I need a TraifRef, for a TraitRef I need a DefId. Can someone point me to some code on how to create a DefId from the Termination Trait?

[2017-10-08 20:23] eddyb commented on #43301
@bkchr The trait should be added to the lang item list, e.g.: https://github.com/rust-lang/rust/blob/ade0b01ebf18550e41d24c6e36f91afaccd7f389/src/librustc/middle/lang_items.rs#L312
and get marked with `#[termination_trait]`, e.g.: https://github.com/rust-lang/rust/blob/ade0b01ebf18550e41d24c6e36f91afaccd7f389/src/libcore/fmt/mod.rs#L525-L526

[2017-10-08 20:37] #44830 closed

[2017-10-08 20:42] nikgraf commented on #42997
I'm having the same issue.

rustup 1.6.0, emcc 1.37.21, osx 10.12.6

[code]

Code:
[code]

[2017-10-08 20:50] bkchr commented on #43301
Yeah that is not the problem, I already done that. I need to check for the termination trait in the check_fn function. I want to use register_predicate_obligation and for that I need the defid of the termination trait.

[2017-10-08 21:32] eddyb commented on #43301
Oh, then all you need is `tcx.require_lang_item(TerminationTraitLangItem)`.

[2017-10-08 22:16] Rufflewind commented on #44927
I sometimes write Rust-like pseudocode to explain concepts where normal Rust code would be too verbose or detract from the main topic.  The presence of syntax highlighting improves readability.

I find this warning rather discouraging, especially the exclamation mark that is normally used for *unsafe* code.  Besides, there's ways to work around this kind of stuff, so all it does is to force doc wr

[2017-10-08 23:05] johnthagen opened #45114 "Support running bootstrap.py with Python 3"
From the [README](https://github.com/johnthagen/rust#building-from-source):

I suggest that the Python portions of building rustc be made compatible with Python 2.7 and 3.4+.

- Python 2.7 [will not be maintained upstream after 2020](https://www.python.org/dev/peps/pep-0373/#update) (less than three years away)
- On Ubuntu [the plan is to only have Python 3 installed by default](https://wiki.ubunt

[2017-10-08 23:20] rkruppe commented on #10184
I have implemented this and will file a PR once I also fixed #41799 and have a lot more tests.

[2017-10-08 23:25] goffrie commented on #43196
The ICE is fixed in nightly.

[2017-10-08 23:31] sfackler commented on #45114
I believe bootstrap supports Python 3 but LLVM's build infrastructure doesn't.

[2017-10-08 23:36] Mark-Simulacrum commented on #45114
We gladly take patches for Python 3 compatibility for rustc's infrastructure; LLVM patches would have to be taken up with them. Python 2.7 is "guaranteed" to work (what the build infrastructure uses) whereas python 3 isn't, which is why the documentation suggests using 2.7.

[2017-10-08 23:36] #45114 closed

[2017-10-08 23:44] uzytkownik opened #45119 "Print backtrace of macros"
Currently it is very hard to debug macros as the only tools are not available on stable channel. If there is pattern match failure the backtrace of failure should be printed to ease debugging.

[2017-10-09 00:46] goffrie commented on #40003
It appears that this was fixed by #45065.

[2017-10-09 00:48] uzytkownik commented on #45119
This is effectively trace as it turns out...

[2017-10-09 00:48] #45119 closed

[2017-10-09 01:23] mrwright opened #45124 "ICE when attempting to return inside a "do catch" block (with #![feature(catch_expr)])"
It seems like a `return` in a `do catch {}` block can sometimes cause an ICE.

`catch.rs`:
[code]

I'm using `rustc 1.22.0-nightly (150b625a0 2017-10-08)`. Compiling with `rustc catch.rs` results in
[code]

The error does not occur with `Err(())` in place of the `return;`. It also does not occur if a `return;` is added after the `do catch {}` block (and in that case the compiler correctly warns th

[2017-10-09 02:39] spease opened #45126 "Optimizations not applied when separate variables are used"
I noticed a case from [this thread](https://www.reddit.com/r/rust/comments/753xqe/loop_optimization_question/) where the optimizations applied by the compiler are determined by the presence or absence of intermediate variables

[code]
[code]
Looking at the assembly in the first case, it's clearly generating the two arrays separately.
[code]

In the second case, it does not appear to generate the a

[2017-10-09 02:55] Majora320 opened #45127 "Don't enforce snake_case for binary names"
Currently, if you have a Cargo.toml like this:

[code]

rustc will complain:

[code]
I understand why this is reasonable for library crates, to enforce a common naming convention for rust libraries and source code. But it doesn't make much sense to enforce this for binaries as well, as there is no real advantage to doing so (note that the crate name isn't camelCase, only the binary name is).

---

[2017-10-09 03:17] Aaron1011 commented on #44923
I'd like to work on this.

[2017-10-09 03:41] zackmdavis commented on #45056
(duplicate of #44760)

[2017-10-09 04:22] retep998 commented on #43291
@oli-obk Is there any progress towards fixing this? Both PRs related to lints for this were closed.

[2017-10-09 04:24] ishitatsuyuki commented on #44827
Sorry no I don't.

I only know one particular kind of false positive: usage of -sys crates just for linkage, such as `git2`->`openssh`.

I haven't dig into your case, but I'm not sure why you need to put it in all the tests. What's your linkage model?

[2017-10-09 05:28] vy0b0x opened #45128 "Is this wrong warning?"
[code]
[code]
rustc 1.20.0 (f3d6973f4 2017-08-27)
cargo 0.21.0 (5b4b8b2ae 2017-08-12)
rustup 1.6.0 (a11c01e8c 2017-08-30)

[2017-10-09 05:32] sinkuu commented on #45128
No, the variable is initialized but not mutated.

https://doc.rust-lang.org/book/first-edition/variable-bindings.html#initializing-bindings

[2017-10-09 05:32] #45128 closed

[2017-10-09 05:32] vy0b0x commented on #45128
Thanks

[2017-10-09 05:47] ofek commented on #42869
@pornel I completely agree. The current behavior is unexpected in my opinion.

[2017-10-09 06:33] andjo403 commented on #45126
if you replace the a and b variables with [constants](https://doc.rust-lang.org/stable/reference/items.html#constant-items) you get the same samme assembly.
https://godbolt.org/g/xFGvvZ

[2017-10-09 06:33] bstrie commented on #38899
@Ixrec It seems that the plan is that NLL will get us most of the way towards fixing this bug.

[2017-10-09 06:41] andjo403 commented on #45126
similar to #36001

[2017-10-09 07:02] Binero commented on #44286
I will take a look at `replace_key` when I have time, probably next week.

[2017-10-09 07:22] #42420 closed

[2017-10-09 07:40] petrochenkov commented on #41821
I have a branch on which archiver and linker can be supplied to rustbuild explicitly, will send a PR soon.

[2017-10-09 07:43] michaelwoerister commented on #45103
Thanks for the bug report, @petrochenkov! Seems like a high priority issue.

[2017-10-09 08:28] arthurprs commented on #45126
Potentially related to https://github.com/rust-lang/rust/issues/41160

[2017-10-09 09:06] pnkfelix opened #45129 "MIR-borrowck: paths off of statics should not be borrow-checked"
Paths off of statics should not be borrow-checked, as they already require `unsafe`. But currently MIR-borrowck is flagging errors for them, while AST-borrowck lets them through without complaint.

(Spawned off of https://github.com/rust-lang/rust/pull/44985#pullrequestreview-67919938)

[2017-10-09 09:18] spease commented on #45126
@andjo403: Good to know, but I'd still tend to consider it unnecessarily unoptimized unless there's a good reason. Supposing even if they were mut, if the value was identical for all inputs to the function, I'd hope that the compiler would be able to automatically reduce and simplify it.

For vec! I'd be a bit more on the fence since the implementation is expected to allocate on the heap, which co

[2017-10-09 11:05] alexcrichton commented on #40003
Nice! I'll tag this as needstest so we can check in the test above

[2017-10-09 11:55] est31 commented on #44927
First, on all operating systems I've tried on you can just select code and copy it by pressing some keys, so its not really needed, second usually example code is not properly licensed. Most times its under the same license as the code around it, so you'd have to copy the entire attribution/license headers as well. So I don't think one should go down that path.

[2017-10-09 12:04] est31 commented on #44827
@ishitatsuyuki My use case has some components, including the tests, written in C, while others are written in Rust. For the tests, I took the original C tests and integrated them as cargo tests, so that I can run them using the superior cargo tooling (multiple threads, better output, etc.).

For the -sys crate, I don't really run bindgen, and in fact the C component calls into the Rust component.

[2017-10-09 12:04] MaikKlein opened #45130 "Mir passes are hardcoded in `phase_3_run_analysis_passes`"
Currently, mir passes are hardcoded in `phase_3_run_analysis_passes` and it is being used in `compile_input`.

I write a Rust -> Spirv compiler which means I need to transform the mir myself and mir passes seem to be the best place for that. Afaik I cannot easily add mir passes from the outside as they are hardcoded in `phase_3_run_analysis_passes`.

Now I could easily write my own version of  `ph

[2017-10-09 12:27] Luthaf opened #45131 "LLVM assertion with 16 codegen units and ThinLTO"
Compiling the latest master of [soa-derive](https://github.com/lumol-org/soa-derive) with 16 codegen units and thinLTO activated makes the compiler hit an LLVM assertion:

[code]

The assertion error appears when compiling syn, but I could not reproduce with the syn crate by itself.

### Meta

[code]

[2017-10-09 12:29] Thinkofname opened #45132 "LLVM assert when compiling with ThinLTO"
`RUSTFLAGS='-C codegen-units=16 -Z thinlto' cargo +nightly build --release` on my project causes:

[code]
(No backtrace)

Its a private crate that is somewhat large and I have no idea where to start to be able to reduce it down to something that still causes the issue, I'm up for suggestions though.

[code]

[2017-10-09 12:29] pnkfelix commented on #44837
To elaborate, here are some examples of the kinds of scenarios we are worried about:

## `&mut` of imm ref

For mutable borrows of immutable references, here is a case that `mir-borrowck` today does not properly catch (and, I *think*, none of the PR's in flight will fix):

[code]

Compiling this with `-Z borrowck-mir` on today's master yields this single error from the AST-borrowck alone:

[code]

[2017-10-09 12:31] Thinkofname commented on #45132
Duplicate of #45131 that was just opened and has a way to repoduce the issue. Closing this one

[2017-10-09 12:31] #45132 closed

[2017-10-09 13:26] samnardoni opened #45134 "ICE when casting float to integer (out-of-bounds)"
The following program (with perhaps undefined behaviour) causes an ICE:
[code]

Interestingly, if not wrapping the result in a `Some`, then there's no ICE.
[code]

Here's the result from running it on the playground:
[code]

[2017-10-09 13:50] vitiral commented on #44924
@michaelwoerister as part of #45104 I'll take:

- closure_expressions.rs
- consts.rs
- enum_constructors.rs
- extern_mods.rs
- inherent_impls.rs
- statics.rs
-  struct_constructors.rs
- trait_defs.rs
- trait_impls.rs
- type_defs.rs

I'm not going to leave a lot for anybody else :(

I don't forsee this taking *too long* with the new infrastructure. I think I can actually pretty much auto-write the

[2017-10-09 14:47] michaelwoerister commented on #44924
@vitiral Go for it `:)`

[2017-10-09 15:49] pnkfelix commented on #44837
@zilbuz also notes this example (though I think it might a bit different thing to check, since this AFAICT is about checking that the local `_a` has a `let mut` declaration...)

[code]

[2017-10-09 16:02] sanmai-NL opened #45140 "`unconditional_recursion` lint isn't listed"
There is talk of (rust-lang-nursery/rust-clippy#1379) a lint called `unconditional_recursion`, but it isn't listed:

[code]

## Meta
[code]

[2017-10-09 16:06] sanmai-NL commented on #45140
Do'h, inconsistent naming, it's `unconditional-recursion` there.

[2017-10-09 16:06] #45140 closed

[2017-10-09 16:43] leodasvacas commented on #45131
ping @alexcrichton

[2017-10-09 16:57] pedrohjordao opened #45142 "Broken code after 2017-09-30 nightly"
The following code was working until the 2017-09-30 nightly:

[Playground](https://play.rust-lang.org/?gist=5d5fc92da3270bf04736f943e8f236a5&version=nightly)

Maybe it's catching something I'm not seeing. If that's the case maybe someone could explain it to me?

[2017-10-09 17:11] petrochenkov opened #45144 "Grammar ambiguity with left shifts and fully qualified (UFCS) paths"
[code]

`0<<*const u8 as Trait>::CONST` here unambiguously means `0 < (<*const u8 as Trait>::CONST)` because it can't be parsed as a shift, but rustc tries to parse it as a shift and report an error:
[code]

Note that you can't detect this situation using finite lookahead in general case, for example
[code]
is unambiguously a type too, but we don't know it until we see `'static`.

This syntax allo

[2017-10-09 17:19] leonardo-m opened #45145 "A miscompilation with -C lto -O -C target-cpu=haswell"
This small program solves the Euler problem n.97:

[code]

If I compile it with normal compilation arguments like this it works correctly:
`rustc -C lto -O -C target-cpu=haswell e97.rs`

If I compile it with -C target-cpu=native or like this, it asserts at run time:
`rustc -C lto -O -C target-cpu=haswell e97.rs`

[code]

------------------------------

The asm compiling with:
`rustc -C lto -O --em

[2017-10-09 17:31] pedrohjordao commented on #45142
Notice that if I change the inner try_from call and call the function

[code]

everything is fine. The way I understand both calls should work the same way.

[2017-10-09 17:37] pedrohjordao commented on #45142
Changing a_function to

[code]

makes everything work. So I believe this is actually a bug.

[2017-10-09 17:49] alexcrichton commented on #45131
Thanks for the report! I'll try to investigate soon

[2017-10-09 17:50] Binero commented on #44286
@stepancheg I think it's probably better to have `replace_key` consume the entry, because the semantics of the function would otherwise change after the first call.

[2017-10-09 17:59] gaurikholkar commented on #44924
I'll take up ` match_expressions.rs` too

[2017-10-09 18:09] QuietMisdreavus commented on #44182
That commit (nor the current `master`) does not contain an `impl Caps` block for rustdoc to pick up. It does have an `impl GstRc<CapsRef>`, which, when changed to `impl Caps` will properly show up on the Caps page, thanks to https://github.com/rust-lang/rust/pull/42027. It does, however remove it from the `GstRc` page. If this is desired, this has been fixed. Otherwise it can be folded into https:

[2017-10-09 18:18] mikebenfield commented on #36167
I am curious what is the status of this issue: is there any likelihood this will be stable in the near future?

Also, more broadly, what is the process these things go through and how can I monitor their progress? If I see a tracking issue like this with no comments in several months, is that an indication that it has stalled, or will the process still move forward?

[2017-10-09 18:19] gaurikholkar opened #45149 "Code snippet is machine dependent"
[code]

[This](https://github.com/rust-lang/rust/pull/42669/files#diff-00751b11754fa2662bfd53bdb8105a7c) UI test was moved to compile-fail as the finer details of the error seemed to vary on different machines.

Following are the Logs
[code]

Check [here](https://github.com/rust-lang/rust/pull/42669#issuecomment-312093188) for more details

cc @nikomatsakis

[2017-10-09 18:36] QuietMisdreavus opened #45150 "rustdoc: add [src] links to provided methods on a trait's page"
For example, here's a method on Iterator right now:

![image](https://user-images.githubusercontent.com/5217170/31353027-8f3cbd80-acf6-11e7-9775-7b6cd6766220.png)

Since this is a provided method, there's a worthwhile implementation to link to, so it would be nice to be able to link to it's implementation, by adding a `[src]` link to the method header here.

[2017-10-09 18:38] QuietMisdreavus commented on #45150
(Note: I created this issue just so i could mentor someone on it, so consider it claimed!)

[2017-10-09 19:27] nikomatsakis opened #45153 "modify mir-opt testing infrastructure to require that lines appear continuously"
The mir-opt testing infrastructure ([described here](https://github.com/rust-lang/rust/blob/72d65019c789138f555c7cf7139508d2f9f0dffe/src/test/mir-opt/README.md)) allows us to write tests that do various "string matches" against the MIR output. The idea is that you can add comments at the end of [a test file like this one](https://github.com/rust-lang/rust/blob/72d65019c789138f555c7cf7139508d2f9f0d

[2017-10-09 19:27] nikomatsakis commented on #45153
cc @chrisvittal, who expressed some interest in this

[2017-10-09 19:35] chrisvittal commented on #45153
This should be straightforward. I'd love to take it on.

[2017-10-09 19:45] nikomatsakis commented on #38714
We backported a fix for this to beta. I'm going to adjust the tags to mark as regression only on nightly.

[2017-10-09 19:52] mikhail-m1 commented on #45043
my idea of fix https://github.com/mikhail-m1/rust/commit/ff15f84c0259da3dc90266a43b9db91ccc8d537a, it's for but not finished

[2017-10-09 20:10] sdroege commented on #44182
Having it only the the Caps page would be good enough for my taste. If it's on the GstRc page, there will be a lot of noise and it will be hard to find anything :)

[2017-10-09 20:12] rkruppe commented on #45145
Since the haswell version is completely constant folded and the program contains a float->int cast, I suspect #10184 is at fault. No idea why it depends on the target CPU though.

[2017-10-09 20:13] aidanhs commented on #43402
Slightly more hopeful that this is fixed this time, but again - ping me if not :)

[2017-10-09 20:15] nikomatsakis opened #45156 "use `try_mark_green` for type-checking"
Right now, the type-checker works by [iterating over over every body in the crate and invoking `typeck_tables_of` on them](https://github.com/rust-lang/rust/blob/72d65019c789138f555c7cf7139508d2f9f0dffe/src/librustc_typeck/check/mod.rs#L730-L732); it then proceeds to discard the answer, since it doesn't actually care about the result, it just wants to ensure that the result **has been** computed (

[2017-10-09 20:15] KiChjang commented on #44831
PR to make changes to the RFC: https://github.com/rust-lang/rfcs/pull/2168

[2017-10-09 20:19] QuietMisdreavus commented on #44182
Then I'll call this "fixed by https://github.com/rust-lang/rust/pull/42027". :grinning: If you change the impl blocks to point to the type alias instead of the expanded type, then render docs with a nightly compiler, the docs will show up the way you want them.

[2017-10-09 20:19] #44182 closed

[2017-10-09 20:31] keeganstothert commented on #34674
came issue on official release of high sierra. rustc errors (with above error) and cargo just hangs.

[2017-10-09 20:35] CensoredUsername commented on #36167
As far as I know, to actually get this feature into stable rust an RFC needs to be written on its inclusion in rust. I have personally not had a reason to do so since I was forced to use nightly, but as this feature has existed for quite a while now for experimentation with no issues, writing an RFC on it might be a good idea.

(I think that nowadays the idea is that RFCs should always be written

[2017-10-09 20:42] jethrogb commented on #36167
I don't think an RFC is required for this one.

[2017-10-09 20:42] petrochenkov opened #45157 "Borrow checker unsoundness with unions"
[code]

"Cousins" of borrowed union sub-fields (and their further children) are not marked as borrowed.
~~The same bug should happen with move checking as well, but I haven't made an example yet.~~

[2017-10-09 20:48] erincandescent opened #45158 "RustDoc header collapse toggles are heinously misaligned"
@QuietMisdreavus [posted a screenshot](https://twitter.com/QuietMisdreavus/status/917489552356495365) of some RustDoc updates. In it, a header collapse button is shown. It is heinously out of alignment with the header text. I will never be able to unsee this and this bug will follow me to the end of my days.

Please can some CSS wizard fix the alignment of these widgets so that I will once again b

[2017-10-09 20:51] erincandescent commented on #45158
Actually I see this is really a "description collapse" toggle and it mirrors one top-right by the source button. For further amusement, these toggles can get out of sync.

Maybe the annoying misaligned one on the left should be removed?

[2017-10-09 20:55] QuietMisdreavus commented on #45158
Nah, the one on the left only folds the crate description - it mirrors the top-level description of things like structs or traits, which stick their top-level docs there. The one on the top-right is to toggle *everything* on the page, which is more useful when there's more than one docblock to toggle.

cc @GuillaumeGomez - this should be a fairly small CSS fix, right?

[2017-10-09 21:03] sdroege commented on #44182
Perfect, thanks :)

[2017-10-09 21:17] mdevlamynck commented on #44721
I may not have time to work on this in the next few days. In the mean time if anyone wants to submit a PR before I can, feel free!

[2017-10-09 21:20] scottmcm commented on #45134
Looks like https://github.com/rust-lang/rust/issues/10184 (which is approaching its fourth birthday)

[2017-10-09 21:25] saethlin commented on #45131
Same error comes out of the crate `python3-sys`.
[code]

[2017-10-09 21:26] rkruppe commented on #45134
Same underlying issue, but a different code path than the one that's been exclusively (as far as I can tell) discussed over there. So this report was very valuable for my in-progress patch addressing #10184, thank you @samnardoni!

[2017-10-09 21:28] chrisvittal commented on #44721
@mdevlamynck I'll take a look. I may not have time either, but if I get anywhere I'll give a pointer to my work here.

[2017-10-09 21:30] cetra3 commented on #40003
How would I test it out against my code? Has this landed in nightly?

[2017-10-09 21:30] nikomatsakis commented on #45156
@Dylan-DPC I'd be inclined to do both steps together, particularly since step 2 is just a single line.

[2017-10-09 21:31] rkruppe commented on #10184
#45134 has pointed out a code path that I missed (generation of LLVM constant expressions &ndash; this is separate from rustc's own constant evaluation). I'll roll a fix for that into the same PR, but it will take a little while longer.

[2017-10-09 21:34] Dylan-DPC commented on #45156
i think you misunderstood me. I will do both the steps. I was asking if step 1 is just that or if anything further needs to be done.

[2017-10-09 21:38] goffrie commented on #40003
Yes - at least, the reduced test case compiles fine with the latest nightly.

[2017-10-09 22:15] QuietMisdreavus opened #45159 "rustdoc: "typo" searches don't include function names"
The rustdoc search script includes a Levenstein distance check so searching for items will also pull up usable results for typos. However, it seems that this check doesn't include functions:

![image](https://user-images.githubusercontent.com/5217170/31360711-49556294-ad15-11e7-9e61-63666f1d51ce.png)

![image](https://user-images.githubusercontent.com/5217170/31360727-54f6144a-ad15-11e7-9104-8fb8c

[2017-10-09 22:19] QuietMisdreavus commented on #45159
Actually, looking at it again, it seems like this is really a case of bad thresholds, or maybe poor sorting. Some functions are there - `stdin`, for example - but ones i would expect, like `into_string`, are missing. Maybe this is infeasible. :/

[2017-10-09 22:19] #45159 closed

[2017-10-09 22:27] estebank commented on #32354
@colinmarsh19 go ahead! Feel free to reach out for help here, gitter, or IRC.

[2017-10-09 22:36] eholk commented on #42420
That's correct that the PNaCl deprecation announcement is specific to PNaCl.

As far as PNaCl vs NaCl, NaCl is a sandboxing technology that uses a combination of OS sandboxing techniques and assembly validation. NaCl uses the underlying CPU's native instruction set, meaning you have to provide x64, ARM, etc. if you want to support different platforms.

PNaCl is a portable format on top of NaCl. It

[2017-10-09 22:47] chris-morgan commented on #45158
The difficulty is that the content is just generic content; it could start with an `h1`, an `h2`, a `p`, *&c.* Thanks to margin-top and line-height, positioning the toggle ideally requires knowledge of the first element in the content, and you’d need to customise it for each case.

With the way it’s all structured, there’s no way to fix this with CSS alone. The toggle is in a previous sibling of t

[2017-10-10 00:52] bstrie commented on #45045
Does this imply that this is another bug on the pile of things fixed by MIR borrowck?

[2017-10-10 01:40] theotherjimmy commented on #44891
Oh, I #45137 does the `traits::get_vtable_methods` => `VtableMethods` query conversion.

[2017-10-10 02:41] fschutt commented on #39413
I personally wish I could just see what the code is that cargo outputs for one specific file.

If I use `rustc -Z unstable-options --pretty=expanded errors.rs`, I can't use any macros that are not defined in the current crate. I've tried `cargo expand`, it does nothing (i.e. on failure, it doesn't output the expanded file).

Like, just an option to take a `my_macros.rs`. I don't necessarily need a

[2017-10-10 02:48] tlively commented on #41300
I just ran into this issue and had no idea what was going on, so it would be great if this could be fixed.

(For anyone else confused about this thin pointer help message, you can fix it by adding an intermediate cast to some primitive pointer type like *const usize)

[2017-10-10 03:00] CraZySacX opened #45161 "ICE: /checkout/src/librustc/ich/impls_ty.rs:78: TypeIdHasher: unexpected region ReLateBound(DebruijnIndex { depth: 1 }, "BrEnv")"
Received the ICE in the title when compilng [rsjni](https://github.com/rustyhorde/rsjni)

[output.txt](https://github.com/rust-lang/rust/files/1370453/output.txt)

This only occurred on the `x86_64-unknown-linux-gnu` nightly build.   I was able to successfully build and test with `i686-unknown-linux-gnu` and `x86_64-pc-windows-msvc` nightlies.

## Meta
`rustc --version --verbose`

rustc 1.22.0-nig

[2017-10-10 04:23] cuviper commented on #45145
It also works fine without `-C lto`, still with targeting `haswell`.

[2017-10-10 04:25] kennytm commented on #43402
@aidanhs 😢 https://github.com/rust-lang/rust/pull/45160#issuecomment-335355988

[2017-10-10 04:35] passerby32 opened #45164 "Cannot infer type in test from section 12.4 of rust book v2"
Hello everyone!
I'm learning Rust now using [this book](https://doc.rust-lang.org/book/second-edition/) and faced strange(as for me) error on section 12.4 when running tests.

You can reproduce a bug with next snippet of code
[code]

However, it's fairly obvious that compiler knows the type annotation that must be infered from vec![] macro. Next snippet makes it clear

[code]

I think it's a bug b

[2017-10-10 04:44] cramertj commented on #44956
`impl Trait` doesn't work (and isn't supposed to work) with elided lifetimes. Of course, we should display a real error instead of ICEing, but that's the problem here. It will work if you make the lifetimes explicit.

[2017-10-10 04:49] kennytm commented on #44956
Duplicate of #42479 / #43396.

[2017-10-10 05:34] joshlf opened #45165 "ThinLTO and multiple codegen units causes linking failure on Mac"
Compiling the `elfc` crate at [this commit](https://github.com/ezrosent/allocators-rs/tree/3acc0b33aa11fccc7bebf9a1c08c3b98e7d42e02) of elfmalloc causes a linking failure with:
- the current nightly
- on Mac
- with ThinLTO enabled
- in release mode
- with `codegen-units=16`

(`RUSTFLAGS='-C codegen-units=16 -Z thinlto' cargo build --release`)

[code]

Version: `cargo 0.23.0-nightly (e447ac7e9 2017

[2017-10-10 06:18] samnardoni commented on #45134
@rkruppe No problem at all. I'm glad it's useful.

[2017-10-10 07:30] vorner commented on #45161
Hello

I'm getting a similar backtrace with my project (gitlab.labs.nic.cz/turris/pakon-aggregator). However, I get it only with `CARGO_INCREMENTAL=1`, if I set it to `0`, the build goes through.

[2017-10-10 07:50] Arnavion commented on #42940
From some experimentation, it seems to be because `fn foo<T>(_: T) -> impl Bar` compiles to something like `fn foo<'t, T>(_: T) -> impl Bar + 't`, where `'t` is the lifetime of `T`. (I don't think this relationship can be expressed in regular Rust code.)

Thus in the original code `fn post<'a, B>(&'a self, _body: &B) -> impl Future + 'a` effectively forces the return type to be bounded by `B`'s li

[2017-10-10 08:20] aidanhs commented on #43402
Hmm, maybe need to do some testing on windows.

[2017-10-10 08:27] GuillaumeGomez commented on #45158
I'm not sure if this is such a good idea...

[2017-10-10 09:54] michaelwoerister commented on #45156
@nikomatsakis Some thoughts:
* Making decisions on whether `try_mark_green` fails or succeeds seems problematic if it is done inside a query. The state of the previous compilation session would then be an implicit input to the query, which seems like really not a good idea!
* Calling `try_mark_green` from the outside of the query system (like we do for translation) is harmless though.
* Just calli

[2017-10-10 11:07] #45086 closed

[2017-10-10 11:12] CraZySacX commented on #45161
I am also seeing the same behavior.   Setting CARGO_INCREMENTAL to 0 causes the ICE to disappear.

[2017-10-10 13:15] michaelwoerister commented on #45161
Thanks for the bug report, @CraZySacX!

[2017-10-10 14:55] malbarbo opened #45174 "link-dead-code does include symbols for unused inlined functions"
Consider a file `x.rs`:

[code]

The symbol `gggg` is not included in the compiled binary (tested with `rustc -C link-dead-code x.rs && nm x | grep gggg`). If the inline attribute is removed, the symbol is included.

[2017-10-10 15:12] petrochenkov commented on #44662
Implemented in https://github.com/rust-lang/rust/pull/45175

[2017-10-10 15:16] michaelwoerister commented on #45174
This is currently expected behavior as the compiler never generates any code for `#[inline]` functions unless they are referenced somewhere.

[2017-10-10 15:18] michaelwoerister commented on #45165
cc @alexcrichton

[2017-10-10 15:18] michaelwoerister commented on #45165
Thank you for the bug report, @joshlf!

[2017-10-10 15:24] malbarbo commented on #45174
But this seems contrary to the intent of the link-dead-code (improve coverage accuracy, see https://github.com/rust-lang/rust/pull/31368)

[2017-10-10 15:33] tromey commented on #36605
There's no real way to do that.  What I would do to debug it is something like:

* Check that the executable has the gdb section.  You can do this with `readelf -WS app | grep gdb_scripts`
* Check that `/home/japaric/.multirust/toolchains/nightly-x86_64-unknown-linux-gnu/lib/rustlib/etc` has the expected `.py` debugger-support files

If those look correct, then try loading the pretty-printers manu

[2017-10-10 15:43] michaelwoerister commented on #45174
Yes, I can see how that would make sense when you are interested in code coverage.

@rust-lang/dev-tools @rust-lang/compiler Do we have compiler options that are targeted specifically towards code coverage? Or should we just produce code for unused inline functions if `-C link-dead-code` is specified?

[2017-10-10 16:32] MaloJaffre commented on #42866
Related issue: #44629.

[2017-10-10 16:39] eddyb commented on #10184
@rkruppe You should coordinate with @oli-obk so that miri ends up with the same changes.

[2017-10-10 16:43] eddyb commented on #29723
@bstrie "later"? Are you referring to MIR borrowck? That has nothing to do with "earlier" or "later" (in fact, at least until recently, borrowck has always ran second-to-last, just before lints, which probably still are the last thing in the analysis passes, before translation), but rather the underlying abstraction on which the the checking is performed - with MIR, complex language-level construc

[2017-10-10 16:51] nikomatsakis commented on #45156
@michaelwoerister

OK, I misunderstood. =) Perhaps we need a different operation. I will call it `ensure()`.

`ensure()`  guarantees that one of two things is true after it returns:

- The query has all green inputs.
- The query has been executed.

Moreover, once we properly save/restore diagnostic output, then `ensure()` would also replay that diagnostic output if all the inputs are green.

`ensu

[2017-10-10 16:55] #43402 closed

[2017-10-10 17:03] aidanhs commented on #43402
Another fix attempt merged (third time lucky?), same drill as usual!

[2017-10-10 17:25] TimNN commented on #45164
I think this is expected behaviour, but maybe the error could be better.

The problem is that while the compiler knows that you want to compare something to `Vec<&str>`, it doesn't know what exactly: You can, for example, compare both a `Vec<String>` and `Vec<&str>`.

[2017-10-10 17:26] mikeyhew commented on #44874
I've started working on this issue. You can see my progress on [this branch](https://github.com/mikeyhew/rust/tree/arbitrary_self_types)

[2017-10-10 17:48] joshlf commented on #45165
np!

[2017-10-10 18:03] passerby32 commented on #45164
Thanks for your reply, I got the idea. Should I file a bug elsewhere for documentation team to fix their code in problematic section?

[2017-10-10 18:15] ExpHP commented on #44704
To my understanding this fix has prevented new cases of corrupted local storage from being created, but does not help the existing cases.  From what I gather, [localStorage never expires](https://stackoverflow.com/a/2327030/166765), so users who do not regularly clear their data may remain affected for arbitrarily long.

[2017-10-10 18:15] estebank commented on #29586
@brainlessdeveloper, that is correct and the appropriate way of doing looking for something that might not be there.

You can use `CodeMap::span_to_lines()` (`self.sess.codemap().span_to_lines(sp)`) and look at the `FileLinesResult.lines[0].line_index` for the line number. You can compare the line number for two spans. You can look at `self.prev_span` for the last consumed token and `self.span` fo

[2017-10-10 18:25] alexcrichton commented on #45174
@michaelwoerister AFAIK we don't have many other options for code coverage, we're definitely long overdue for a flag for "I'd like to generate code coverage", but there's lots of hairy problems about implementing such a flag (e.g. inline functions today, generics, etc)

[2017-10-10 18:29] glaebhoerl commented on #45029
Given that no one has suggested otherwise, am I right to infer that this optimization is going to be valid under any conceivable formulation of the UB guidelines / memory model we might eventually settle on?

[2017-10-10 18:31] fitzgen commented on #45174
If we don't want to extend the meaning of `link-dead-code`, perhaps it makes sense to add something equivalent to `gcc`'s/`clang`'s `-fkeep-inline-functions` flag?

I don't feel like the smaller emit-unused-inline-functions-in-the-binary feature needs to be blocked on a more general code coverage mode.

[2017-10-10 18:38] joshlf opened #45182 "Add cfg for crate_type?"
I have some code that needs to be conditionally compiled only when the artifact that's being produced is a dynamic library, and the target platform is Mac ([here's the code](https://github.com/ezrosent/allocators-rs/blob/8e835ee953f1e59755f96400c980c67fb849283e/alloc-tls/src/lib.rs#L222)). Right now, I'm accomplishing that by providing a `dylib` feature that the crate's user is responsible for ena

[2017-10-10 19:45] nagisa commented on #45144
Doesn’t seem like too much of a problem to me especially that formatting it conventionally

[code]

breaks up the `<<` token and produces "expected" results.

[2017-10-10 19:50] nagisa commented on #45145
log₂(1E10) is 33 and a little bit, so whatever value it ends up being, it should fit into u64 just fine and therefore no UB should be happening.

[2017-10-10 20:04] nagisa commented on #45145
These are results with various target-cpu supported by LLVM:

| target-cpu | result |
| ------------- | ---------- |
| amdfam10 |
| athlon |
| athlon-4 |
| athlon-fx |
| athlon-mp |
| athlon-tbird |
| athlon-xp |
| athlon64 |
| athlon64-sse3 |
| atom |
| barcelona |
| bdver1 |
| bdver2 |
| bdver3 |
| bdver4 |
| bonnell |
| broadwell | :x: |
| btver1 |
| btver2 |
| c3 |
| c3-2 |
| cannonlake | :x:

[2017-10-10 20:11] andjo403 commented on #40392
@michaelwoerister the commit 5f90947c2c27d5d4ae30ccc0e83ffc95a8597128 is the first commit where this regression is triggered.
This is still a regression https://godbolt.org/g/yAAJaJ.
Have tried to find why this is happening but I'm not that familiar with the compiler code so can not find it.

[2017-10-10 20:12] rkruppe commented on #45182
It is possible to set multiple crate types at once and get artifacts for all of them in one compilation session. That makes it kind of difficult to provide a single `crate_type="foo"` cfg, though perhaps there could still be a set of flags like `cfg_crate_type_cdylib`, `cfg_crate_staticlib`, etc.?

[2017-10-10 20:15] nikomatsakis commented on #44844
My opinion:

1. We should absolutely transition to ui tests.
    - They test the thing we really care about: the compiler's output.
    - They catch small bugs (e.g., spans that become off by one character, or weird artifacts in the compiler output) that would otherwise be invisible. Indeed, @petrochenkov's [comment that the order in which we emit errors is not stable](https://github.com/rust-lang

[2017-10-10 20:26] ofek opened #45183 "std::fs::canonicalize returns paths on Windows that itself cannot recognize"
Ref https://github.com/rust-lang/rust/issues/42869 & https://github.com/sharkdp/fd/issues/93

Windows 7:
![w7](https://user-images.githubusercontent.com/9677399/31408697-72f28eca-add7-11e7-84b9-ee7858255c15.PNG)

Windows 10:
![w10](https://user-images.githubusercontent.com/9677399/31408723-850d688c-add7-11e7-8fe8-8f9c51553934.PNG)

[2017-10-10 20:35] nikomatsakis commented on #44721
@arielb1

I've been going back and forth on this, for sure. The exact line between what should be desugaring into HIR vs into semantic types (or both) is sort of unclear to me.

I think in the end I'm up for pursuing whatever direction here and trying to judge from experience how well it goes. =)

[2017-10-10 20:41] joshlf commented on #45182
Yeah, I think that'd work. Something like `#[cfg(crate_type = "cdylib")]`, `#[cfg(crate_type = "staticlib")]`, etc (where multiple could be true at once similar to `#[cfg(feature = "...")]`).

In my particular use case, I'd probably need to ensure that only a single artifact was generated at a time by doing something like:

[code]

But yeah that'd work for me.

[2017-10-10 20:45] cuviper commented on #45145
It's fine with 1.18, but not 1.19, which corresponds to the LLVM-4 update.  I also have a RHEL7 machine, with EPEL7's rust-1.20 + llvm3.9, and it works fine.  So it seems clearly to be an LLVM regression.

[2017-10-10 20:47] nikomatsakis commented on #44904
In progress PR: https://github.com/rust-lang/rust/pull/45155

[2017-10-10 20:56] petrochenkov commented on #45144
Yeah, this is mostly a theoretical concern.

[2017-10-10 20:57] nikomatsakis opened #45184 "MIR: permit "false edges", that are only used in the analysis"
As discussed in https://github.com/rust-lang/rust/issues/45043, we sometimes want to have false edges in the MIR that are used by borrowck and other conservative safety analyses, but which are optimized away when we actually generate code. The current hack is to e.g. replace a `GOTO X` terminator with something like `IF TRUE { X } ELSE { Y }`. This works (and should be optimized away), but it's no

[2017-10-10 20:58] nikomatsakis commented on #45184
cc @pnkfelix @mikhail-m1 @arielb1

[2017-10-10 21:02] pnkfelix opened #45185 "MIR-borrowck: dereferences are printed wrapped in parens"
MIR-borrowck: In error diagnostics, derefencing expressions are printed with parentheses around them.

 For example, for `borrowck-borrow-mut-object-twice.rs`, AST-borrowck reports:
[code]
while MIR-borrowck reports:
[code]

(This is hopefully relatively simple to resolve; is there any case where we *need* the parentheses, given that we already elide dereferences when printing field accessor expre

[2017-10-10 21:13] steveklabnik commented on #44704
Yes. To be clear, fixing your localStorage is trivial: change to another theme and then change back to the theme you wanted, and all will be well.

[2017-10-10 21:18] nikomatsakis opened #45186 "[NLL] integrate liveness with inference"
Once https://github.com/rust-lang/rust/issues/44904 is fixed, the next step is to start adding constraints. I think that the liveness constraints are the easiest to add. These come in two forms. The first part are the constraints that are due to active uses, and the other are constraints due to drops.

The basic idea is this:

- If at some point P a value V may be used again (excluding future drop

[2017-10-10 21:25] #44771 closed

[2017-10-10 21:25] #45076 closed

[2017-10-10 21:25] #45062 closed

[2017-10-10 21:25] #44406 closed

[2017-10-10 21:30] cetra3 commented on #40003
I've tested my code on the latest nightly. Compiles fine now!

[2017-10-10 21:49] alexcrichton commented on #45131
I've opened up an [upstream bug](https://bugs.llvm.org/show_bug.cgi?id=34908) for this [as well as a fix](https://reviews.llvm.org/D38765), and I'll backport this to our branch once it lands.

[2017-10-10 22:03] brainlessdeveloper commented on #29586
With your help I managed to show a note in the appropriate cases - now I have to figure out which method is the one I need to use to show the note properly because it should also point where the missing comma should be added. I should be able to work on this further during the coming weekend :).

[2017-10-10 22:04] alexcrichton commented on #45103
@petrochenkov it looks like the first test, `specialization-cross-crate-defaults`, may be failing due to paths > 255 characters?

[2017-10-10 22:06] bluss commented on #45158
The `[-]` toggle is at least aligned fine when the doc comment does not start with a header, which is also a common thing like in https://doc.rust-lang.org/nightly/std/thread/struct.Thread.html

A couple of things happen if the doc comment starts with a header. This misalignment, and if you hover over the header, the collapse icon and the § icon overlap.

[2017-10-10 22:10] QuietMisdreavus commented on #44024
It's not a total fix, but https://github.com/rust-lang/rust/pull/45055 should help this out by exposing this information to the search box.

[2017-10-10 22:27] alexcrichton commented on #44941
@mersinvald can you try re-testing with tonight's nightly which should have some improvements?

[2017-10-10 22:28] alexcrichton opened #45188 "ThinLTO + O2 build time regression in rust-doom"
Creating an issue for https://internals.rust-lang.org/t/help-test-out-thinlto/6017/3 for more investigation.

cc @cristicbz

[2017-10-10 22:30] petrochenkov commented on #45103
@alexcrichton
Ha! You are right, with help of that `.rust-cgu` suffix the object file path crossed the line of 255 characters.
The test passes if the name is shortened, I'll send a PR fixing this.

[2017-10-10 22:32] alexcrichton commented on #45103
Heh yeah we also need to do something about "specialization-cross-crate-defaults.stage2-x86_64-pc-windows-gnu.run-pass.libaux", that's a huge directory name!

[2017-10-10 22:58] mersinvald commented on #44941
@alexcrichton sure, will do it tomorrow.

[2017-10-10 23:22] danielpclark commented on #42869
Hope this will be helpful…

According to Microsoft:

Source: https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247(v=vs.85).aspx

And the Ruby language uses forward slashes for File paths and that works on Windows.

[2017-10-10 23:24] danielpclark commented on #42869
I hope this is helpful…

According to Microsoft:

Source: https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247(v=vs.85).aspx

And the Ruby language uses forward slashes for File paths and that works on Windows.

[2017-10-11 01:37] ofek commented on #45183
This is a bug in https://github.com/sharkdp/fd.

[2017-10-11 01:37] #45183 closed

[2017-10-11 03:26] uzytkownik opened #45194 "Allow group capture, choice and optional arguments"
Currently I'm trying to parse following macro structure in Rust

[code]
Currently I'm doing (simplified):
[code]

This has several disadvantages such as code repetition and exponential explosion of potential options. For more complex DSL it creates a spaghetti code. It could potentially be simplified - for example using this made up syntax:

[code]

I've added following changes:

- `$(pattern)?` -

[2017-10-11 03:41] alexcrichton opened #45195 "ThinLTO linking failure"
An extracted test case from https://internals.rust-lang.org/t/help-test-out-thinlto/6017/32 can be minimized down to:

[code]

and can be reproduced with:

[code]

Oddly enough the error is slightly nondeterministic...

[2017-10-11 03:51] uzytkownik opened #45196 "pretty print during tracing macros"
It would be nice if rust considered syntax structure while printing macros during logging and tracing.

[code]
[code]

[2017-10-11 03:59] theotherjimmy commented on #45156
@nikomatsakis implementing `ensure` may not be a great idea as [`typeck_item_bodies`](https://github.com/rust-lang/rust/blob/master/src/librustc/ty/maps/mod.rs#L177), [`const_eval`](https://github.com/rust-lang/rust/blob/master/src/librustc/ty/maps/mod.rs#L201-L202) and [`layout_raw`](https://github.com/rust-lang/rust/blob/master/src/librustc/ty/maps/mod.rs#L249-L250) all return `Result` types. Ho

[2017-10-11 04:55] cuviper opened #45197 "`fmt::Arguments` is `Send+Sync` regardless of its captured arguments"
`fmt::Arguments<'a>` is only parameterized on lifetime.  The types of the captured arguments are erased in the contained `[ArgumentV1<'a>]`.  Nothing restricts the `Arguments` aggregate from being `Send` or `Sync`, so by OIBIT it's both.  Thus this compiles:

[code]

I'm not sure if there are any realistic ways to *accidentally* abuse this, but here's a deliberate example.  The spawned thread will

[2017-10-11 05:23] estebank commented on #29586
@brainlessdeveloper I'm glad I could be of help! If you feel comfortable with the code you have so far, feel free to post a PR for the new labels, referencing this issue (but not closing it), and posting a follow up PR adding the suggestion when you have the time.

[2017-10-11 05:41] wez commented on #36175
Note that the `-Z print-link-args` suggestion doesn't work if the crate-type is `staticlib`

[2017-10-11 07:15] brainlessdeveloper commented on #29586
The code is terrible - I increased the size of the method by 80% and the suggestion note does not come up where it should - I'll take some time to go over it first in the next days :)

[2017-10-11 07:42] michaelwoerister commented on #40392
I completely forgot about that. Nominating for priority assignment.

[2017-10-11 07:50] michaelwoerister commented on #45174
Yeah, adding a targeted flag instead of changing the meaning of `-C link-dead-code` seems to preferable to me.

[2017-10-11 08:21] GuillaumeGomez commented on #45158
@bluss: I don't see what overlap issue you're talking about...

[2017-10-11 09:33] pnkfelix opened #45199 "MIR-borrowck: ICE during diagnostic search for assignment (unwrap of None)"
PR #44806 added some code to search for the lexically first assignment in order to report an illegal assignment.

However, oddly enough, for some tests this search, which ends in an `unwrap`, is causing the compiler to ICE.

For example:

[code]

[2017-10-11 09:37] pnkfelix commented on #45199
Its worth noting that the diagnostic reported by AST-borrowck is very different from that for MIR-borrowck. This is almost certainly because the MIR-borrowck is seeing a desugared for-loop (and thus we're seeing reports of an assignment to `val` that does not actually occur in the surface level syntax.

Nonetheless, part of resolving this bug might include trying figure out how to make the MIR-bor

[2017-10-11 10:51] arielb1 commented on #45184
@nikomatsakis

I think a terminator wrapper would just be annoying for all analysis passes in the middle that would forget to unwrap it. I would rather have a
[code]

[2017-10-11 11:03] aidanhs commented on #40036
As a data point, this did break [some code of mine](https://github.com/aidanhs/ayzim/blob/468d9db/src/parser.rs#L48-L62) that isn't in crater, i.e. https://play.rust-lang.org/?gist=469a2c849813388f856bdacf55327d9e&version=nightly, but such is the risk of using unstable features.

[2017-10-11 11:31] michaelwoerister commented on #45156
I think that `ensure()` would be an additional primitive in the evaluation model and, while I guess that it would be a rather harmless one, I am very hesitant to add new primitives to the model. Especially since there is a clean, well-understood alternative.

I think that the queries that are just invoked by the driver (like check_item_bodies) should either be converted to simple procedures or, if

[2017-10-11 12:21] fschutt commented on #33417
I haven't read the other comments, but `TryFrom` is broken for me right now (it worked fine before).

rustc version:

[code]

The relevant code section that rust complains about is here: https://github.com/fschutt/printpdf/blob/master/src/types/plugins/graphics/two_dimensional/image.rs#L29-L39 and https://github.com/fschutt/printpdf/blob/master/src/types/plugins/graphics/xobject.rs#L170-L200 - it

[2017-10-11 13:17] nikomatsakis commented on #45156
@michaelwoerister

The alternatives I see to `ensure(Q)` where `Q` is a query are:

- You can make a new query `Q'` with unit result type that invokes `Q` and then discards its result. The result of `Q'` can be serialized (and/or we can specialize unit results) so that -- if the query is green -- it will not be re-executed. In that case, performing query `Q'` is equivalent to `ensure(Q)`.
- You ca

[2017-10-11 13:25] nikomatsakis commented on #45130
As discussed in #45147, this is basically "by design". We may wish to enable extension later, but for the time being, we'd prefer that you do this by requesting the optimized MIR (using the `optimized_mir` query), cloning the result, and then doing whatever changes you want to do. Closing this issue for now.

[2017-10-11 13:25] #45130 closed

[2017-10-11 13:47] SimonSapin commented on #33417
@fschutt The conflicting impl is probably `impl<T, U> TryFrom<T> for U where U: From<T>`, added in https://github.com/rust-lang/rust/pull/44174. There could exist a `T` such as both `T: ImageDecoder` and `Image: From<T>`.

[2017-10-11 15:18] alexcrichton opened #45201 "Codegen units break #[inline(always)] at -O0"
On the current nightly using multiple codegen units breaks #[inline(always)] in debug mode (as they could show up in different codegen units, preventing inlining). We should still treat #[inline(always)] as inline everywhere!

[2017-10-11 15:19] alexcrichton commented on #45201
cc https://github.com/rust-lang-nursery/stdsimd/pull/108

[2017-10-11 15:19] alexcrichton commented on #45201
cc @michaelwoerister

(I can work on this when I get a chance, just wanted to make sure you were aware)

[2017-10-11 16:31] rkruppe commented on #10184
Pull request is up: #45205

[2017-10-11 16:58] uzytkownik opened #45206 "rustdoc non-test examples usage is undocumented"
I tried to exclude an example from being run as a test. I tried several attributes I found on the internet/in documentations such as `rust,no_run`, `rust, no_run`, `no_run` but none of them worked. `ignore` did worked but doesn't seem to be documented anywhere.

[2017-10-11 16:58] nikomatsakis commented on #36167
@CensoredUsername I'd be in favor of stabilizing, and happy to move to FCP, but I'd like the following data and I don't have time to gather it just now. Do you think you'd be able to do so? What would be useful is:

- A (short) write-up describing the ABI, placing it in the context of other systems, giving analogous features that are already stable
    - basically [what you said on IRC](https://bo

[2017-10-11 16:59] #45194 closed

[2017-10-11 17:07] steveklabnik commented on #45206
These are documented at https://doc.rust-lang.org/beta/rustdoc/documentation-tests.html, which hits stable tomorrow! Before that, they were covered in the book.

Anyway, sorry that was hard to find, but it is there, so I'm going to give it a close.

[2017-10-11 17:07] #45206 closed

[2017-10-11 17:08] nikomatsakis commented on #45184
I'm fine with that; the only reason to have a wrapper that I can see is if we wanted to add false edges to something more complex than a GOTO. That said, I'm not sure what you mean by forget to unwrap it -- if they are doing a match, they must handle the case, and if not, they are probably using the `successors()` function which would presumably do the right thing, right?

[2017-10-11 17:20] spastorino commented on #45186
Already talk to Niko about this, I'll be working on this one.

[2017-10-11 17:32] nikomatsakis opened #45208 "[incremental] skip type-checking"
This is a kind of meta-bug aimed at skipping type-checking, which is (to some extent) the "holy grail" of incremental compilation. This bug only contains a list of issues and a task breakdown. [For background on the general approach we have in mind, see this gist.](https://gist.github.com/nikomatsakis/6e9fae5319be49c70e7efbe67c09fc1a)

Substeps:

- Introduce the `ensure` operation [first described

[2017-10-11 17:59] nikomatsakis opened #45210 "[incremental] introduce `ensure()` operation"
As part of https://github.com/rust-lang/rust/issues/45208, we would like to introduce a first-class `ensure()` operation. Invoking `Q::ensure(K)` for some query `Q` with key `K` is semantically equivalent to introducing a fresh query `Q1` that has a return type of unit and a provider like:

[code]

In other words, it executes the query `Q` but does not use the result. This is worthwhile because it

[2017-10-11 17:59] alexcrichton commented on #45195
Hm ok that's not actually a great reproduction. ThinLTO is performing as expected for that reproduction, the problem is that we just don't have dead code elimination turned on at O1 in LLVM. Going to try to re-reduce again with optimizations enabled to get closer to the original issue.

[2017-10-11 18:00] theotherjimmy commented on #45208
I have implemented ensure on a branch. I'll make a PR

[2017-10-11 18:00] hcpl opened #45211 "Error span is in incorrect place due to Unicode fullwidth characters"
[code]
Code:
[code]
rustc output:
[code]

[2017-10-11 18:01] nikomatsakis commented on #45208
@theotherjimmy great, see #45210 too =)

[2017-10-11 18:02] nikomatsakis commented on #45156
Closing in favor of #45208

[2017-10-11 18:02] #45156 closed

[2017-10-11 18:10] GuillaumeGomez opened #45213 "When width < 700px, sidebar is ugly and useless"
Instead, it'd be better to make it "hidden" on left and add a fixed button to make it show up again.

[2017-10-11 18:11] hcpl commented on #45208
@nikomatsakis for markdown working under spoilers, please also use `<p>` tag:
[code]

[2017-10-11 18:15] nikomatsakis opened #45214 "[incremental] Isolate the "used trait imports" part of typeck tables into a distinct query"
As part of https://github.com/rust-lang/rust/issues/45208, one place where `typeck_tables_of` is used that cannot easily be removed is [this call from `check_unused`](https://github.com/rust-lang/rust/blob/72d65019c789138f555c7cf7139508d2f9f0dffe/src/librustc_typeck/check_unused.rs#L69). What this code is doing is aggregating the set of trait imports that are used by all the function bodies in the

[2017-10-11 18:16] nikomatsakis commented on #45208
Added #45214, another step along the way.

[2017-10-11 18:16] uzytkownik commented on #45206
@steveklabnik They document `no_run` which doesn't seem to work...

[2017-10-11 18:16] alexcrichton commented on #45195
Er actually turns out I was testing the wrong thing! I think I've got a fix

[2017-10-11 18:25] hcpl commented on #45211
GitHub renders fullwidth characters with width less than 2 monospace cells - the span actually starts under the last string char and ends under the 1 digit.

[2017-10-11 18:29] kennytm commented on #45206
@uzytkownik Hi, could you clarify what is meant by "does not work"? Note that rustdoc will still try to compile ` ```no_run ` code, but won't run it.

[2017-10-11 18:33] #44887 closed

[2017-10-11 18:34] arielb1 commented on #45184
I mean, a pass could look for e.g. `TerminatorKind::Call` using a non-exhaustive match, but miss a call that is embedded within a `FalseEdges`.

[2017-10-11 18:37] nikomatsakis commented on #45184
@arielb1 I see, that's true. All the more reason to avoid non-exhaustive matches =)

I guess in the end it depends on whether we ever want to add false edges to anything but a plain goto. I suppose we *could* introduce dummy basic blocks too.

Do you remember where we wanted false edges for match lowering? I think the idea was to safeguard ourselves with respect to when arm guards would execute in

[2017-10-11 18:38] eddyb commented on #40036
@aidanhs Breaking that kind of code was entirely intentional! You see, if you have:
[code]
Even with no `'static` restrictions, you'd get at least an error from the fact that `&S` doesn't live longer than the `let` intializer expression - it's a temporary, for the call to `foo`.
We now apply the same rules to `static` and `const` items, so that you don't get random `&'static T` where at runtime yo

[2017-10-11 18:42] uzytkownik commented on #45206
@kennytm I missed that. So if I don't want to compile test I should use `ignore`?

[2017-10-11 18:42] zackmdavis opened #45216 "make easier/possible to detect `derive` attributes after expansion"
In the spirit of #44942, it would be nice if the `missing_debug_implementations` and `missing_copy_implementations` lints suggested adding a derive attribute (in the case where one does not already exist) or adding `Debug` (respectively `Copy`) to the list of traits in the derive attribute (in the case where it already exists). (This mostly for the sake of RLS and [other tools](https://github.com/

[2017-10-11 18:46] kennytm commented on #45206
@uzytkownik Hmm yes. But if you want to ensure the code is never compilable, you should use ` ```compile_fail ` instead of ` ```ignore `. (` ```compile_fail ` will be stabilized in 1.22.)

[2017-10-11 18:53] estebank commented on #45057
Fixed in #45058.

[2017-10-11 18:53] #45057 closed

[2017-10-11 18:55] rkruppe commented on #45201
Why do we honor `inline(always)` at -O0 at all? It should be purely an optimization, and I would have hoped we ignore it at -O0 to generate less code faster. While it's useful to have something to override inlining heuristics *if optimizations are enabled*, I am more than a bit puzzled by any functional change due to it not being honored. Can you explain why stdsimd CI breaks if inline(always) is

[2017-10-11 18:56] pnkfelix commented on #34708
Note that since #36353 prohibits moves out of slices, we could presumably fix things for arrays alone at this point without too much trouble.

[2017-10-11 19:13] steveklabnik commented on #44964
We talked about this at the docs team meeting today. The outcome was, basically, everyone is uncomfortable with framing this as "vim compatible", in the sense that we wouldn't ever be fully compatible with vim. But we already have some keyboard shortcuts, and adding more isn't a terrible idea. If we can come up with a specific list of ones, we can discuss those, but defining the scope here first i

[2017-10-11 19:31] zackmdavis commented on #45211
possibly related to #44080?

[2017-10-11 19:36] mikebenfield opened #45218 "debugging information removed from static library with -g option (or -C debuginfo=2)"
If I assemble an assembly file and put the object into a static library, then link with a  Rust program using the `-g` option, `rustc` removes some debugging information about my assembly file. Here's an example *without* the `-g` option, where things work as they should. (This is on macOS. I think this will run on Linux too, but I haven't tested there. This program won't run correctly on Windows

[2017-10-11 19:39] theotherjimmy commented on #45210
Already working on this. Thanks for the extra detail!

[2017-10-11 19:40] arielb1 commented on #45184
@nikomatsakis

IIRC the idea was to add a false edge from both the start and the "false" end of each "possible" guard to the start of the next one, so e.g.

[code]

becomes
[code]

[2017-10-11 19:40] hcpl commented on #45211
@zackmdavis yeah, totally. Also it's revealed in #8706 that this is likely the same issue which dates back to August 2013.

Should I close it to decrease the noise/signal ratio or keep it to tell maintainers that this issue is persistent?

[2017-10-11 19:44] arielb1 commented on #45184
The reason we want both edges is because we don't want to "trust" the actual internal match edges - we want to be able to do whatever we want there, so we must have a more general set of edges. The match flow can both skip a guard (because the pattern wouldn't match) and go from a failed guard to the next arm (instead of skipping over a few arms in the internal match code because we "keep track" o

[2017-10-11 19:55] CensoredUsername commented on #36167
This feature allows the System V AMD64 ABI to be explicitly specified as the calling convention for extern functions, using the `extern "sysv64"` syntax.

Description:
============

The System V AMD64 ABI is the default ABI for the AMD64 (also known as x64 or x86_64) processor architecture, it is used as the C ABI on all platforms except for Windows, which uses its own ABI that can be specified us

[2017-10-11 20:01] arielb1 commented on #45184
Note: the main reason you want the big exoskeleton is because we want a future-proof solution to #29723 - you can observe reachability by moving a variable in one match guard and accessing it in another guard/arm, or after we get a sane mutability/guards situation by reinitiallizing a variable in one match guard and accessing it in another.

[2017-10-11 20:02] arielb1 commented on #45045
Yeah.

[2017-10-11 20:11] cuviper commented on #45145
FWIW, this can be just `EXP.next_power_of_two()`, but it doesn't affect the end result.

However, adding a `println!("{}", b)` after initializing `b` either way does "fix" the issue.  The format reference probably inhibits some constant folding.

[2017-10-11 20:53] nikomatsakis commented on #45186
OK, so, ultimately I see two options here. *Either* we use the "simulate" approach I described above, where we store the live things on block entry, and then have some function that will walk the actions of a block (in reverse order), applying their effects to a starting bit set, or else we ignore basic blocks and just store the "live on entry" set for every location in the CFG.

The advantages of

[2017-10-11 21:03] sdleffler opened #45219 "std::collections::hash_map::{Entry, OccupiedEntry, VacantEntry} are never Send/Sync"
Currently, the `HashMap` entry types are never `Send` or `Sync`. It seems to me that the `Entry` types should be `Send` whenever their key/value types are `Send` and `Sync` whenever their key/value types are `Sync`. Properly implementing `Send`/`Sync` for `OccupiedEntry` and `VacantEntry` will solve the problem for `Entry` as well. Is there any known reason why `Entry` and friends should *not* be

[2017-10-11 21:13] dgreid opened #45220 "Compiling with -Z sanitizer=address aborts"
## Steps:
[code]

## Error:

[code]

## Stack trace from GDB:

[code]

[2017-10-11 21:30] rkruppe commented on #45220
cc @alexcrichton The crash is in ThinLTO code.

[2017-10-11 21:43] jethrogb commented on #45218
Works fine for me on Linux when using `gcc` and `gdb`. Note you have to compile with `-fPIC` and change the symbol on `file2.s:10` to `puts@PLT`.

[2017-10-11 21:55] #44512 closed

[2017-10-11 22:44] withoutboats commented on #34981
I've been looking at implementing this properly. My belief is that we intend the grammar for attributes to be one of:

[code]

My (ill-informed) read of libsyntax is that we parse all attributes into the Attribute struct. After parsing their contents correctly, everything after the initial path gets unparsed into a `TokenStream`.

While validating that the attributes are grammatical (as part of co

[2017-10-11 22:52] michaelwoerister commented on #45201
Yeah, I was thinking that `#[inline(always)]` functions should be duplicated to all CGU, regardless of other settings. On the other hand, as far as I know, `#[inline(always)]` is still just a hint to LLVM and does not guarantee inlining either.

[2017-10-11 22:59] theotherjimmy commented on #45210
@nikomatsakis I think there may be a few problems with the above code. I had to reorder the check for if the node is already green out of the check to see if the node has no color. Without that re-ordering, that check would always be false, and we would always execute green queries. Both are bad.

[2017-10-11 23:04] eddyb commented on #34981
I believe the intent was to have token streams inside *at least* `#[foo(...)]`, if not `#[foo = ...]`.

cc @jseyfried @nrc

[2017-10-11 23:19] leonardo-m opened #45222 "Big performance problem with closed intervals looping"
In my code I've essentially stopped using loops with ... (intervals closed on the right, recently written with the syntax ..=) because they give performance problems. This is a simple example that shows the problem:

[code]

Compiled with the last Nightly:

[code]

Compiled with:
`rustc -O test.rs`

Running it calling foo1 takes 0.02 seconds:

[code]

Running it calling foo2 takes about 13.65 seco

[2017-10-12 00:10] alexcrichton commented on #45201
@rkruppe sure yeah I can go into some more detail!

So the problem with SIMD is that we actually need these functions to always get inlined to deal with ABI issues. Otherwise we have a function like:

[code]

So in this case `foo` is using 256 bit AVX types like `i16x16` which means that if `i16x16` were actually a function call the return value would be in an AVX register. The `i16x16` function,

[2017-10-12 00:50] malbarbo commented on #37976
I was able to build x86_64-unknown-linux-gnux32 in my machine. I've submitted a [PR](https://github.com/rust-lang/rust/pull/45224) to add it to rustc.

I had to disable elf tls, maybe this is the reason you got an error.

[2017-10-12 00:56] bgermann commented on #42108
The problem seems to originate from Solaris 10. Rust 1.22.0 (will be promoted to beta these days) uses memalign instead of posix_memalign, so this is fixed there. strnlen and dl_iterate_phdr are not available on Solaris 10 as well, so maybe you used another compiler with Solaris 11 or illumos sysroot to compile the stdlib? With this setting I can reproduce parts of this issue. If that is the case,

[2017-10-12 01:01] cuviper commented on #45219
For comparison, `btree_map::Entry` has both `Send` and `Sync` -- manually implemented on `NodeRef` and then automatically propagating up.  The similar low level for `HashMap` would be the `RawBucket`.

[2017-10-12 01:46] alexander-irbis commented on #45161
The same error for me. I don't know if this is the same bug, but the minimal code to reproduce below
[code]

[2017-10-12 01:58] ExpHP commented on #45222
Performing the low-hanging fruit for minimization:

[code]

**Good:**
[code]
**Bad:**
[code]
Lost some kind of fast lane?

[2017-10-12 02:36] eddyb opened #45226 "Move layout & ABI code into s/librustc_back/librustc_target."
Blocked on #44426 / #45225.

[2017-10-12 02:40] frewsxcv commented on #44050
Opened a PR for TCP methods: https://github.com/rust-lang/rust/pull/45227

I'll do another PR for the UDP instance of this in a follow-up PR when I have some more time.

[2017-10-12 02:40] ExpHP commented on #45070
https://github.com/rust-lang/rust/compare/d93036a04...dead08cb3

Only two big merges in this timeframe. cc @alexcrichton?

[2017-10-12 03:12] Nashenas88 commented on #45186
So if I've read this correctly, the hybrid approach you're suggesting is one that produces a set of gen/kill bits where each unit of gen/kill bits corresponds to one point in the basic block, right? This would allow us to do something like the following

- Given I have a value I want to compute the lifetime for, I can walk a basic block that already has a set of gen/kill bits generated
- At each p

[2017-10-12 03:31] theotherjimmy commented on #45208
The PR I promised is #45228

[2017-10-12 03:40] #25264 closed

[2017-10-12 03:41] theotherjimmy commented on #45208
For my next trick: Isolate the "used trait imports" part of typeck tables into a distinct query

[2017-10-12 04:11] withoutboats commented on #34981
Yes, expanding it to an arbitrary token stream seems reasonable.

[2017-10-12 05:15] cjkenn commented on #45214
I think I'd like to take this on! Would be my first contribution to rust but you've laid the steps out pretty clearly and provided a lot of context so I think I would be able to work on it

[2017-10-12 06:03] #44974 closed

[2017-10-12 06:24] Havvy opened #45229 "Using super and self in middle of path gives unhelpful error message"
[code]

<details>
<summary>Current Error Message</summary>

[code]

</details>

<br>
Ignoring the warnings (they're good warnings), the errors should state that `self` and `super` are only allowed before non-`self` and `super` path components.

[2017-10-12 06:31] kennytm opened #45230 "Spurious LLDB segfault (signal 11)"
Symptom: `debuginfo-lldb` tests failed with signal 11. Only happens on macOS (others use GDB) and usually i686, and only one test is failing.

Example logs (look for "`status: signal: 11`"):

[code]

Affected PRs:

* https://github.com/rust-lang/rust/pull/44967#issuecomment-336002300 (x86_64-apple-darwin :: lexical-scopes-in-block-expression.rs)
* https://github.com/rust-lang/rust/pull/45192#issue

[2017-10-12 07:43] vorner commented on #45161
I think it is the same one. I definitely have code something like this in the project.

[2017-10-12 08:13] michaelwoerister commented on #45161
A fix for this is already in the queue: https://github.com/rust-lang/rust/pull/45176

[2017-10-12 08:44] cyplo commented on #35384
The example code from OP does not seem to compile now with rustc 1.22.0-nightly (692b94ae2 2017-10-09) (anymore?). Would that be something that is expected ?

The error:
[code]

[2017-10-12 08:50] sinkuu commented on #35384
@cyplo Yes, #42959

[2017-10-12 09:01] sanmai-NL commented on #24135
@alexcrichton: @spinda and others have brought this issue up again, but no action or explanation has followed. Moreover, this issue has only one tag. Are you the person to triage or otherwise take action on this, or perhaps someone else?

[2017-10-12 09:54] andjo403 commented on #44655
From what I have learned from the llvm maintainers I think that we have received the improvement that can be expected. The to good to be true improvements I measured was probably due to less optimizations was possible and resulted in less optimized code.

[2017-10-12 09:54] #44655 closed

[2017-10-12 10:49] mersinvald commented on #44941
@alexcrichton I've ran the tests on the `rustc 1.22.0-nightly (a47c9f870 2017-10-11)`

I've also measured the hot build time, i.e only 200LOC crate + link-time.
[code]

[2017-10-12 12:06] rkruppe commented on #45201
@alexcrichton Thanks for elaborating and, ouch, what a nasty problem!

[2017-10-12 13:45] #45161 closed

[2017-10-12 14:03] alexcrichton commented on #45070
Sorry I don't know what there may have led to this :(

[2017-10-12 14:32] newpavlov opened #45235 "Implement std::ops::*Assign traits for slices"
Quite often I need to xor two slices, but I can't write `buf1 ^= buf2;` as `BitXorAssign` is not implemented for `&[u8]` and it's quite an unpleasant papercut for me. I couldn't find a good reason why it was not done, so I would like to suggest to add generic implementations of `ops::*Assign` traits.

It can be done as follows:
<details>
  <summary>Click to expand</summary>

[code]
</details>

I a

[2017-10-12 16:20] michaelwoerister opened #45238 "incr.comp.: Implement "eval-always" queries"
For each query invocation the query system will track which other queries have been invoked by the former. We collect this data in the `DepGraph` and use it to find which queries need to be re-executed in a subsequent compilation session. However, there are some queries (like `collect_and_partition_translation_items` for example) that access pretty much everything in the current crate and therefor

[2017-10-12 16:45] shepmaster opened #45239 "Constant-evaluated integers with exceeding bitshifts have different results than runtime-evaluated integers."
From [Stack Overflow](https://stackoverflow.com/q/46714279/155423):

[code]

It is expected that the two values be the same.

/cc @oli-obk @eddyb

[2017-10-12 16:47] shepmaster commented on #45239
@eddyb states:

[2017-10-12 18:11] circuitfox commented on #45184
I'd like to work on this if no one else is already.

[2017-10-12 18:17] estebank commented on #45211
Just want to point out that the RLS, which is being distributed with the compiler, transitively depends on `unicode-width` due to a dependency on `clap`. I don't remember now if there was decision on avoiding depending on the external `unicode-*` crates that would allow the compiler to properly account for this. I _think_ part of the discussions predates building `rustc` with cargo. @alexcrichton,

[2017-10-12 18:36] mikhail-m1 commented on #45184
actually I've already started, but may be we can split it, let's discuss on [gitter](https://gitter.im/rust-impl-period/WG-compiler-nll)

[2017-10-12 18:54] johalun commented on #42681
@myfreeweb can you build cargo with openssl which seems to be standard for ports? i can't install anything from ports since it will delete libressl and cargo stops working :(

[2017-10-12 18:55] fschutt opened #45241 "CARGO_INCREMENTAL=1 crashes `wayland_kbd` @ impls_ty.rs:78 - unexpected region"
### Summary

The compiler panics when compiling `limn_layout` (https://github.com/christolliday/limn) because a dependency (wayland_kbd v0.9.1) panics:

[code]

### NOTE: This does not occur when `CARGO_INCREMENTAL=0`.

#### rustc version:

[code]

#### Full backtrace:

[code]

#### Operating system

[code]

#### Reproducing

This bug occured when compiling the samples for `limn` (https://github.c

[2017-10-12 18:58] fschutt commented on #45241
Yep. It doesn't crash with `CARGO_INCREMENTAL=0`.

[2017-10-12 19:10] myfreeweb commented on #42681
delete libressl? ports should build everything with libressl if you tell them to!

[code]

[2017-10-12 19:13] johalun commented on #42681
pkg install xxx where xxx depends on openssl will delete libressl in order to install openssl as dependency...
I rather not build all the ports myself when I can install from pkg...

[2017-10-12 19:14] johalun commented on #42681
and all prebuilt ports seem to depend on openssl and not libressl...

[2017-10-12 19:17] myfreeweb commented on #42681
huh, odd — all the pkg installed stuff i have uses openssl from base, does not require openssl from ports

[2017-10-12 19:18] alexcrichton commented on #45211
Oh certainly, adding a dependency on `unicode-width` would be totally ok!

[2017-10-12 19:22] johalun commented on #42681
Shared object "libssl.so.43" not found, required by "cargo"
that's libressl...

[2017-10-12 19:25] myfreeweb commented on #42681
not cargo! I said the stuff you install from pkg…

[code]

[2017-10-12 19:46] mmstick opened #45242 "/checkout/src/librustc/ich/impls_ty.rs:78: TypeIdHasher: unexpected region ReLateBound(DebruijnIndex { depth: 1 }, "BrEnv")"
When compiling the [calculate crate](https://github.com/redox-os/calc), I'm getting this error with `nightly-2017-10-11` and `nightly-2017-10-10`. `nightly-2017-10-09` works though.

[code]

[2017-10-12 19:51] mmstick commented on #45242
Closing as duplicate of #45241

[2017-10-12 19:51] #45242 closed

[2017-10-12 19:51] mmstick commented on #45241
I get this issue with compiling the `calculate` crate.

[2017-10-12 20:09] iitalics commented on #45056
Any progress on this?

[2017-10-12 20:17] tinaun commented on #45056
@iitalics see #45123

i'm closing this as duplicate. whoops!

[2017-10-12 20:17] #45056 closed

[2017-10-12 20:20] #44729 closed

[2017-10-12 20:37] johalun commented on #42681
For pkg install we have for example: grub2 -> gcc6 -> openssl dependency. there are more but I don't remember now...
I tried rebuilding cargo with all kinds of OPENSSL_*** env variables but couldn't get it to link only to libssl from base or do static linking. Anyhow, I could rebuild cargo to use openssl instead of libressl so at least solved that problem.

[2017-10-12 20:49] eulerdisk commented on #44924
@vitiral I was waiting for your work on `except` to land before to start but If you are on a roll you can take "my" `enum_defs.rs` too. You are certainly more productive than me at this point :smile:

[2017-10-12 21:24] pnkfelix commented on #44832
I looked a little bit into this tonight, for the specific case of `borrowck-unary-move.rs`, since that is a pretty small self-contained example.

Here is the MIR:
<details>

[code]

</details>

and here is the line from RUST_LOG (with some line breaks added by hand for presentation purposes), right before we emit the extraneous error, along with the error itself:

[code]

Two things of interest.

[2017-10-12 21:54] pnkfelix commented on #44832
Okay so next step: I made a copy of `borrowck-unary-move.rs` and added this to the top of it, right above the `fn foo`:

[code]

This special attribute tells the compiler to dump dot files summarizing the dataflow state (both before and after running the flow).

From the generated `borrows_postflow.dot`, I am able to better see how things got here.

![borrows postflow](http://svgshare.com/i/3PP.sv

[2017-10-12 22:32] cuviper opened #45246 "Consider emitting DWARF aranges"
I recently discovered that the elfutils `eu-addr2line` [doesn't resolve locations for Rust functions](https://sourceware.org/bugzilla/show_bug.cgi?id=22288).  It turns out that they are expecting `.debug_aranges` to be valid and complete, and even treat its absence as if there are no addresses covered at all.  But `rustc` doesn't emit aranges with its debuginfo, or at least not by default.

If you

[2017-10-12 22:34] daboross commented on #45241
I have this issue compiling my own crate (http://github.com/daboross/screeps-rs) on `nightly-2017-10-11`.

[2017-10-12 22:36] PeterHatch commented on #28935
Just wanted to note that I encountered this bug.

[2017-10-12 23:07] oconnor663 opened #45248 "infinite loop in a background thread turns into a segfault when building with cargo 1.21.0 --release mode"
Example:

[code]

Output:

[code]

This doesn't repro on 1.20, beta, or nightly. In all the other compiler versions I've tried, the loop seems to get optimized out, and the program exits immediately. (In all the debug builds I've tried, including 1.21, the infinite loop stays in and the program pegs a core forever.)

[2017-10-12 23:15] sfackler commented on #45248
Duplicate of #28728?

[2017-10-12 23:23] oconnor663 commented on #45248
Feels related, yeah. It seems like the difference here is that if you do the same thing that issue demonstrates, but on a background thread, the panic becomes a segfault. Not sure if that's one issue or two.

[2017-10-13 00:15] estebank commented on #22692
Current output:

[code]

---

I believe the following would be appropriate output:

[code]

[2017-10-13 00:22] estebank commented on #22488
It is, but it is a common enough pattern and such a big enhancement in end user experience that I feel it'd be worth it to add it, specially when the ctor is not public. Then, the output should be:

[code]

Similar output, but not quite the same cause in #22692.

[2017-10-13 00:35] estebank commented on #25534
Triage: no change, [same output with new style](https://play.rust-lang.org/?gist=ca7903d0fa177168bcbbdcbf9988bbc7&version=nightly). It should check wether the first move happened in a `for` loop and suggest changing both places for borrows.

[code]

---

Another case to consider is when [moving after a borrow](https://play.rust-lang.org/?gist=6224892f953f2b4ea53e1e20dbf62a60&version=stable), which

[2017-10-13 00:53] estebank commented on #20977
`librustc_typeck/astconv.rs`, methods `create_substs_for_ast_path`, `check_type_argument_count` and `conv_object_ty_poly_trait_ref` will need to be changed to not emit both errors, but rather condense them into one:

[code]

Care should be taken when some type arguments _and_ associated items _are_ expected. In those case, it's probably better to keep the current output to avoid confusion with the

[2017-10-13 01:06] cuviper commented on #45248
The symptom can be arbitrary for UB.  In cases I've seen before, LLVM doesn't generate code for the "unreachable" loop at all, which means when you do reach that loop it just falls through to whatever code happens to be next in memory.

[2017-10-13 01:08] estebank commented on #43703
The output could be close to the following:

[code]

[2017-10-13 01:13] steveklabnik opened #45249 "Provide better guidance for `Error::description`"
https://doc.rust-lang.org/stable/std/error/trait.Error.html#tymethod.description

We don't do enough to explain this method at the moment; we allude to it with the `Display` mention, but should provide better guidance.

1. this is basically regarded as a bad API
2. it's really only usable with literals
3. as such, it should contain a really simple description at best
4. `Display` on the error is m

[2017-10-13 01:28] eternaleye commented on #45235
On the one hand, I can definitely see the usefulness. On the other hand, there are some questions that I think need considered.

In `a ^= b`:

- What should happen if `a.length() < b.length()`?
    - Panic?
    - Only operate on the common prefix?
- What about the other way around?
- With `a: [T]` and `b: [U]`
   - Should this delegate to `<T as BitXor<U, Output=T>>` or `<T as BitXorAssign<U>>`?
-

[2017-10-13 01:33] #24336 closed

[2017-10-13 01:40] newpavlov commented on #45235
I personally think it should simply panic if `a.length() != b.length()`. Probably we should add `assert_eq` with an appropriate panic message.

As I wrote in the implementation the least surprising behavior  would be to use `BitXorAssign`, I don't see much reason why we should use `BitXor` here.

Yes, because `Assign` traits take `rhs` by value and not be reference, so we have to copy value. Maybe

[2017-10-13 01:56] eternaleye commented on #45235
That's the main reason that using `Op` rather than `OpAssign` might be worthwhile - those are implemented both for references and values of the primitive integer types. Another option might be to do the same for `OpAssign`.

Either of these would allow dropping the `U: Copy` requirement.

[2017-10-13 02:19] newpavlov commented on #45235
It could be definitely nice to remove `Copy` constraint, but I am not sure if there is enough merit to justify added complexity.

Also if I am not mistaken `Op` and `OpAssign` traits are currently completely independent from each other, and there is no blank implementations of one in terms of another. So I don't think it's the right place to introduce this kind of coupling between traits.

After s

[2017-10-13 02:38] oconnor663 commented on #45248
Out of curiosity, does anyone know why none of this repros on beta or nightly?

[2017-10-13 03:03] vitiral commented on #44924
I actually really wanted to do enum_defs, so I'll take it!

[2017-10-13 03:09] Havvy opened #45251 "Nonconflicting Conflicting impl in trait object when trait and object impl same item name"
[Playpen](https://play.rust-lang.org/?gist=9b204ec76dd257a2772819bcc2cedc83&version=nightly)

<details>
<summary>Source</summary>

[code]

</details>
<br>
<details>
<summary>Error Message</summary>

[code]

</details>
<br>
The error message here suggests that there are three implementations that define the associated item when in reality, there can only be two. It's not possible to call the implem

[2017-10-13 03:38] Redrield opened #45252 "Wrongly named function parameter causes compiler panic"
When trying to modularize some code I'd written using the D-Bus Rust bindings, I decided to extract closures from their DSL and put them into their own functions. The resulting files are in the included gist as handlers.rs, and main.rs

The crash seems to be caused from the parameter of the method being named info, while the code is expecting it to be named `m`. The full error log is in the attach

[2017-10-13 04:17] sfackler commented on #45248
A different revision of LLVM or the way we talk to LLVM probably.

[2017-10-13 04:26] vitiral commented on #44924
@eulerdisk done :)

[2017-10-13 04:27] Havvy commented on #45251
Actually, I'm not even sure there should be a conflict here. Inherent methods are supposed to win out over all trait methods. And since the implementations don't seem to overlap, I can only presume that the conflicting implementation are false altogether.

[2017-10-13 06:08] oli-obk commented on #45239
I'll add it to the miri PR and see whether it's fixed by that.

[2017-10-13 06:32] #44833 closed

[2017-10-13 07:13] kennytm commented on #45252
Hi. I noted that your rustc version is nightly at 2017-09-27. This issue may be a duplicate of #44814, which has been fixed by #44945 on Oct 2nd. Could you update the compiler to the latest nightly (2017-10-12) and check if the panic still exists? Thanks!

[2017-10-13 07:39] archshift opened #45254 "mem::Discriminant does not imply Send (even for types that are Send)"
Since the `Discriminant` of an enum variant is just an integer that represents its underlying index, it not implementing Send seems like a gap in the API.

Is there any underlying reason for it not doing so (aside from the `PhantomData` present inside)?

[2017-10-13 07:46] kennytm commented on #45254
This has been fixed by #45095.

[2017-10-13 08:24] rkruppe commented on #45241
Duplicate of #45161, should be fixed in current nightly or at latest in the next nightly.

[2017-10-13 08:28] kennytm commented on #45241
Closing as duplicate of #45161.

[2017-10-13 08:28] #45241 closed

[2017-10-13 08:32] petrochenkov commented on #45251
@Havvy

Trait objects are a special case, trait method and inherent method on a trait with the same name are supposed to conflict because someone (IIRC, @nrc) in the past thought it would prevent errors.
There's even test checking for this, but I can't find it without modifying the compiler.
This should be fixable backward-compatibly though.

[2017-10-13 08:46] ishitatsuyuki commented on #43370
@cuviper I have experienced failure with current nightly, even after glibc downgrade.

[code]

[2017-10-13 08:49] ishitatsuyuki commented on #43370
@alexcrichton can you backport https://github.com/alexcrichton/rust/commit/8687fa0e02061dd8d46ce805afaa75a2a93c1835? I guess it's the only blocker.

[2017-10-13 08:57] #44992 closed

[2017-10-13 09:45] stjepang commented on #27716
The documenation for `LocalKey::state` says:

But then it also mentions:

Do we really want to make the first guarantee? Is it not reasonable for `Copy` types to skip the `Uninitialized` state altogether and start right off in the `Valid` state?

[2017-10-13 10:15] SimonSapin commented on #29628
Update: I’m moving usage of nice to have but not really required (optimizations, compiler diagnostics like this, …) unstable features in Servo behind an optional Cargo feature flag.

[2017-10-13 10:40] japaric commented on #36175
@wez rustc doesn't invoke the linker when producing a staticlib, at least not on Linux. (libfoo.a is just an archive of object files; rustc uses the built-in LLVM `ar` to build the archive)

[2017-10-13 10:52] nikolads opened #45256 "Assignment inside format_args! is ignored"
Assignments inside `format_args!` are ignored. Instead only the right-hand side of the expression is used.

I tried this code:

[code]

or a similar one, using directly `format_args`:

[code]

I expected to see this:
[code]

Instead the output was:
[code]

It looks like the the assignment `x = 3` is ignored and is instead treated as if it was just `3`.
I could only replicate this with `format_args

[2017-10-13 11:34] #45000 closed

[2017-10-13 12:35] #45254 closed

[2017-10-13 12:37] sinkuu commented on #45256
`format_args` supports named arguments with `name = value` syntax. Assignments can be written as `{x = 3}` so that they won't be treated as named argument.

What's odd is that `{}` formats arguments just in the sequence of arguments, ignoring if they are named or positional. Is this intended behavior?

[code]

[2017-10-13 12:37] kennytm commented on #45256
The `x = 3` is not parsed as assignment, but [named parameters](https://doc.rust-lang.org/std/fmt/#named-parameters).

The bug here is that `println!("first: {}", x = 3);` should not compile since parameter 0 is missing.

[2017-10-13 12:54] arthurprs commented on #45222
Apparently llvm is way happier optimizing the open interval with simd .

[2017-10-13 13:22] Keruspe commented on #44859
fwiw, here is a backtrace with debug symbols, running rustc commit 9ae6ed78acf9dc865e2300a7db556389eed9692d

[code]

[2017-10-13 13:42] wez commented on #36175
Right... my point is that it is impossible to see what is being run.  It’s super frustrating on macOS where dtrace is hobbled; there’s no easy way to snoop this sort of thing at a system level

[2017-10-13 13:55] nagisa commented on #45256
What @kennytm and @sinku said is correct, but I’m not sure it can be considered a bug anymore. At least I can easily see somebody using this, intentionally or not, even if it wasn’t documented to have specifically this behaviour. Therefore nominating it for T-lang (since format_args! is a part of language) to decide what the actual behaviour should be.

[2017-10-13 13:59] nagisa commented on #45248
LLVM IR shows clear indications of the https://github.com/rust-lang/rust/issues/28728, so closing as a duplicate.

[2017-10-13 13:59] #45248 closed

[2017-10-13 14:05] nagisa commented on #45239
To my knowledge, it is UB to have shifts exceed the type’s bitwidth, which a shift of 65 certainly does in this case.

[2017-10-13 14:19] ollie27 commented on #45256
From [Positional parameters](https://doc.rust-lang.org/stable/std/fmt/#positional-parameters):

Which suggests this is working as intended.

If anything I'd say there should be a warning if you name a parameter but never reference it by its name.

[2017-10-13 14:21] wesleywiser commented on #45238
I'm working on this.

[2017-10-13 14:26] manuels opened #45259 "yield has a problem with lifetimes"
When working with `futures-await` I ran into a [problem with lifetimes](https://github.com/alexcrichton/futures-await/issues/11#issuecomment-336176056). @Arnavion was able to [pin it down](https://github.com/alexcrichton/futures-await/issues/11#issuecomment-336233770) to the implementation of generators.

I simplified the code and got rid of `futures` completely. My current minimal example to repr

[2017-10-13 14:31] oli-obk commented on #45239
@nagisa Rust doesn't have UB in safe code. Thus it wraps the argument to keep it in a useful range. I thought there was a panic in debug mode though...

[2017-10-13 14:32] rkruppe commented on #45239
@nagisa It's UB in LLVM IR, but not in Rust &ndash; neither in theory (because safe Rust shall not have UB) nor in practice ([see IR generated here](https://play.rust-lang.org/?gist=40ca291cff951e31a5763288dc62f504&version=stable)). Shift amounts are taken modulo the bit width of the shifted type (i.e., in this case, 64). I can't find this documented in the reference but it's what rustc's code gen

[2017-10-13 14:58] wesleywiser opened #45260 "Improve rustdoc's Trait Implementations section by grouping by module"
Right now, rustdoc's output for `std::option::Option` looks like this (as seen on https://doc.rust-lang.org/std/option/enum.Option.html):

![current](https://user-images.githubusercontent.com/831192/31552056-6033b71c-b004-11e7-8c0f-02fa0818671b.PNG)

This is pretty hard for me to read. I think this has been suggested before but hiding (or at least, minimizing) the trait methods makes this much eas

[2017-10-13 14:58] sinkuu commented on #45256
@ollie27 Isn't that talking only about positional parameters?

The behavior in question have been introduced in Rust 1.12. I speculate that #33642 (which seems to have added internal translation of named args into positional args) unintentionally did it.

Example:
[code]

Rust 1.11.0:
[code]

Rust 1.12.0
[code]

[2017-10-13 15:37] mikebenfield commented on #45218
Right. I carefully used both labels `asm_function` and `_asm_function`, hoping that it would work on Linux, and completely forgot about `_puts`. Brilliant.

[2017-10-13 15:57] nikomatsakis commented on #45186
@Nashenas88

I'm not sure I quite followed your example, but:

Right, so I was saying that you can imagine that for any Location we can produce a set of gen/kill bits for the statement at that location (for locations that correspond to terminators, the sets would be empty). We might precompute these and store in a hashmap, or we might just compute them on the fly, since they are probably quite che

[2017-10-13 16:08] aidanhs commented on #40036
Yeah I get that it's consistent with behavior within functions now, I have indeed replaced it with direct struct creation. `static` is probably just historical from when I was using `lazy_static`.

[2017-10-13 16:15] manuels commented on #45259
Well, this is a bit awkward: After looking at [issue 44197](https://github.com/rust-lang/rust/issues/44197) I tried to replaced `match foo.i() {` with
[code]
in the code above, and the compilation suddenly worked fine.
However, if you go back to [@Arnavion's code](https://github.com/alexcrichton/futures-await/issues/11#issuecomment-336233770) this fix is not applicable anymore and compilation fail

[2017-10-13 17:00] michaelfairley opened #45262 "jemalloc in 1.21.0 doesn't work on iOS"
Jemalloc 4.5.0 (first included in 1.21.0) immediately aborts when run on ARM iOS devices. ([Upstream issue](https://github.com/jemalloc/jemalloc/issues/608)). Fortunately, the underlying issue seems to have been fixed in jemalloc 5.0.0 and onwards. (Unfortunately, a Rust PR to upgrade to 5.0.1 just got closed: https://github.com/rust-lang/rust/pull/45163).

Using the system allocator is an okay wo

[2017-10-13 17:43] Havvy commented on #45251
If that's the case, then the error should happen without having to call the function. I'd be okay with making it a hard error to have a trait object implement an item with the same name as its trait. Just make sure there's a specific error for this. Although with `dyn Trait` becoming a thing, I don't think there would be too much confusion, and could just be relegated to a lint (possibly even a Cl

[2017-10-13 18:21] Technius commented on #29370
I'd like to help improve the module docs.

[2017-10-13 18:29] steveklabnik commented on #29370
@Technius that'd be great! Let me know if you need any help!

[2017-10-13 18:40] sfackler opened #45265 "TcpStream::connect_timeout doesn't fail to connect to a nonexistent server on Linux"
[code]

This program succeeds on Linux, even though it shouldn't (assuming you don't have a listener on 1234). Trying to do anything with the socket produces `Error { repr: Os { code: 107, message: "Transport endpoint is not connected" } }`.

[2017-10-13 18:41] sfackler commented on #45265
Interestingly it does behave as expected on macOS.

[2017-10-13 18:42] karizon commented on #45265
Works under WSL as well.  Native linux it fails spectacularly.

[2017-10-13 18:43] davidtwco commented on #44495
After discussion with @nikomatsakis [in Gitter](https://gitter.im/rust-impl-period/WG-compiler-middle?at=59e108dd81cd9a5d7e9f3e83), I'm going to take a stab at this one.

[2017-10-13 18:44] parkovski commented on #45067
I've been unable to repro this on Windows 10 - wrote a test program that canonicalizes a network path and tried running it through a symlink, hard link, .bat script, and various different startup args. All work for me. I can also build a project on a network drive with my local cargo, so whatever is causing this must have been fixed in Win10.

The one exception is if I open an admin shell, I lose

[2017-10-13 18:47] sfackler commented on #45265
From an strace, it looks like Linux sets all of `POLLOUT`, `POLLERR`, and `POLLHUP` at once. We treat `POLLOUT` as success, but it seems like we should be checking for `POLLERR` instead:

[code]

[2017-10-13 19:01] Nokel81 commented on #44495
Okay, I just haven't had time to finish my implementation what with school

[2017-10-13 19:02] davidtwco commented on #44495
If you've already started on this then I'm happy to leave it @Nokel81.

[2017-10-13 19:04] Nokel81 commented on #44495
It looks like I should have some time this weekend to finish it so from a time perspective I would prefer it if I could finish

[2017-10-13 19:06] davidtwco commented on #44495
Sure thing.

[2017-10-13 19:09] davidtwco commented on #44109
Hoping to take a stab at this after speaking with @nikomatsakis [in Gitter](https://gitter.im/rust-impl-period/WG-compiler-middle?at=59e1085497cedeb0482a9f0d). @tinaun are you still working on this?

[2017-10-13 19:12] SimonSapin commented on #29597
[The one remaining plugin](https://github.com/servo/servo/tree/ba77ffed173b3a0ed934edead419ab3919cf5147/components/script_plugins) in Servo is a `register_late_lint_pass` that analyses use of GC-managed types to make sure they’re "rooted" correctly. It traverses expressions HIR expression inside functions and methods, and requires access to the resolved type of these expressions as well as attribu

[2017-10-13 19:20] valff opened #45266 "`pub` with `macro` 2.0 breaks docs"
Using `pub` qualifier with declarative macros 2.0 breaks the `missing_docs` lint for private items, as well as exposes them with rustdoc.

The following code shouldn't produce warnings ([playground](https://play.rust-lang.org/?gist=d7a1a84c4ba8709beb946aacc4bd2238&version=nightly)):
[code]

`rustc --version --verbose`:
[code]

[2017-10-13 19:46] Arnavion commented on #45259
Reduced test case:

[code]

[2017-10-13 20:04] SimonSapin commented on #27751
I don’t know if this was always the case, but I’ve just found out that casting a raw pointer from a `?Sized` type to a `Sized` one is allowed, and for trait objects extracts the data pointer. I’ve replaced with this all uses of `std::raw::TraitObject` in Servo.

[code]

[2017-10-13 20:06] eddyb commented on #27751
@SimonSapin You're also able to make that function generic over a `T: ?Sized` pointee, right?

[2017-10-13 20:08] SimonSapin commented on #27751
@eddyb Yes, correct. In fact Servo does this, with a trait bound, to allow both trait objects and concrete types that implement that trait.

[2017-10-13 20:14] #45165 closed

[2017-10-13 20:14] #45131 closed

[2017-10-13 20:14] #41790 closed

[2017-10-13 20:14] #41879 closed

[2017-10-13 20:34] bluss commented on #45158
@GuillaumeGomez The `[-]` icon and the § symbol overlap on Firefox and Chromium (Linux), it should be visible in these screenshots:

![Overlap illustration](https://i.imgur.com/IO1jwIk.png)

From URL: https://doc.rust-lang.org/nightly/std/

[2017-10-13 20:42] durka commented on #27751
I think that's always been the case. It's a footgun because you can lose
the fat part of a fat pointer while casting. I'm not sure if it's specified
which thin part you end up with.

On Fri, Oct 13, 2017 at 10:08 PM, Simon Sapin <notifications@github.com>
wrote:

[2017-10-13 20:47] SimonSapin commented on #27751
What do you mean, which thin part? I don’t think it would make sense for this cast to extract a vtable pointer or a slice length when casting to an arbitrary pointer to a statically-sized type.

[2017-10-13 20:53] durka commented on #27751
I agree and I don't see it changing. But as long as the actual repr is
unstable I'm not sure the result of this cast would be officially set in
stone.

On Fri, Oct 13, 2017 at 10:48 PM, Simon Sapin <notifications@github.com>
wrote:

[2017-10-13 20:55] petrochenkov commented on #45266
The reason is that everything reachable from a public macro 2.0 is currently very pessimistically marked as reachable to the outer world (this affects linking in the first place, but also lints like missing docs, missing `Copy`/`Debug` impls, etc).

The solution could be to mark as reachable only items actually leaked by the macro (this can be hard), or to introduce one more [gradation of reachabi

[2017-10-13 20:57] SimonSapin commented on #27751
Even if the repr changes it has to include at least a data pointer, doesn’t it?

[2017-10-13 20:58] durka commented on #27751
The reference [says](https://doc.rust-lang.org/nightly/reference/expressions/operator-expr.html#type-cast-expressions) it is a "pointer-to-pointer cast" but doesn't say what that means. Sounds OK though?

[2017-10-13 21:00] eddyb commented on #27751
@durka The casts are properly defined and there's even fat-to-fat casts which check the metadata and whatnot - they might be described in an RFC, or not at all, but that's orthogonal.

[2017-10-13 21:19] SimonSapin commented on #27751
https://doc.rust-lang.org/nightly/nomicon/casts.html says:

and

Maybe it’s time to fix that TODO and define this more precisely?

[2017-10-14 00:36] theotherjimmy commented on #45208
It looks like @cjkenn has #45214, "used trait imports". I'll take a a look at serialization of `Vec<DefId>` and `()`.

[2017-10-14 01:44] jturner314 opened #45268 "Spurious unused import warning with trait used transitively via glob"
Under certain circumstances involving `pub(crate) use Trait`, the compiler issues an "unused import" warning even though the import is actually being used.

This is an example ([playground link](https://play.rust-lang.org/?gist=7c34534761ec61480f17b0ea8c596171&version=stable)):

[code]

Since the body of `bar::bar()` uses the `AsciiExt` trait (`AsciiExt` provides `.is_ascii()`), there shouldn't be

[2017-10-14 02:24] sfackler commented on #45262
It sounds like you tracked the commit that fixed it down? We may be able to cherry-pick that onto our 4.5.0 fork to avoid having to go debug Android.

[2017-10-14 02:27] sfackler commented on #45265
Fix here: #45269

[2017-10-14 03:37] joshlf opened #45270 "Add Alloc parameter to Arc"
I'm planning on implementing this myself, but wanted to create an issue in case somebody else is already working on it, in which case I'll hold off.

[2017-10-14 05:01] mqudsi opened #45271 "Lifetime errors for referenced objects when reference is moved are not clear"
I believe there is room for improvement here:

[code]

This is obviously not correct, since `p` depends on `pb` which may not live as long, now that `pb` has been moved to the thread's scope and shares its lifetime.

However, the error when compiling this is problematic, since it doesn't make it clear at all why this object's lifetime needs to be increased:

[code]

It's easy to imagine a case whe

[2017-10-14 05:50] joshlf commented on #27716
+1 to that.

[2017-10-14 06:01] thombles commented on #44339
I have a new solution coming together. I think it will need to be fairly conservative. The basic problem is that `parse_seq_to_before_tokens` aborts as soon as it hits a separator error. The calling code assumes that we've parsed up to the end of the sequence when really we're still in the middle of it and this creates new and confusing errors.

The general improvement is to make `parse_seq_to_bef

[2017-10-14 08:41] lolgesten commented on #31100
I stumbled upon this today. When decoding mp4 movies, the decoder will do small seeks forward to skip in the region of 100 bytes at a time. I used a BufReader with 65k capacity to avoid my underlying reader doing http requests for every seek, only to find that BufReader isn't helping at all.

I think BufReader could be more useful if it worked from the buffer also when seek fits.

[2017-10-14 10:21] stjepang commented on #36481
Any progress on this? Do we have a plan for fixing the DoS unsafety?

[2017-10-14 10:30] stjepang opened #45273 "Optimizing rustc: replace HashMap with OrderMap?"
Just for fun, I tried changing

[code]

to

[code]

Using the new compiler, compilation time of my crate went down from 28.24 seconds to 25.46 seconds. I didn't do any further benchmarks yet, but the results seem promising. Looks like we could easily shave 5-10% from compilation time simply by changing the hash map implementation.

I was wondering if anyone else considered doing the same, and whet

[2017-10-14 10:37] kennytm commented on #45273
Perhaps you could submit a PR, which we could do a benchmark using perf.rust-lang.org (cc @Mark-Simulacrum).

[2017-10-14 10:40] bluss commented on #45273
To tell the most important parts of the context for OrderMap as I understand it.

- Its key-value pairs are spaced compactly
  - **Pro** iteration is just as fast as iterating `&[(u64, K, V)]`
- Its hash buckets and its key-value pairs are stored in two separate Vecs
  - **Pro** Less data to move in `remove`
  - **Pro** Less data to move when resizing
  - **Con** Lookup always touches two places i

[2017-10-14 10:58] arthurprs commented on #36481
There's a bit of history in this thread, so I'll try to summarize the current state bellow.

https://github.com/rust-lang/rust/pull/38368 improved things immensely by detecting degenerate probe lengths and/or forward shifting on insert. There's also a check for minimum occupancy in order to trigger the early resize (so a runtime attack don't become a memory attack). This is somewhat similar to Jav

[2017-10-14 11:50] eddyb opened #45274 "Rename librustc_trans to librustc_codegen_llvm."
Then make `rustc_driver` either able to choose codegen backends, or even better, pass `rustc_codegen_llvm` to `rustc_driver` from `rustc-main`.
Possibly split the metadata reading/writing and linking parts of it.
See also #45226.

[2017-10-14 12:14] eddyb opened #45275 "Structure query engine caches around DefId being a CrateNum & intra-crate DefIndex."
Per-crate cache maps keyed on `DefIndex` may be more efficient and/or allow us to use `Vec` for queries keyed on `DefId` instead of `HashMap`.
We can use specialization (e.g. for splitting `(DefId, T)` into `CrateNum` and `(DefIndex, T)`), I think.

cc @nikomatsakis @michaelwoerister

[2017-10-14 12:39] eddyb opened #45276 "Remove librustc_codegen_utils."
Added by #44085, doesn't serve a real purpose. Common utility functions belong in `librustc`.

[2017-10-14 13:23] eddyb opened #45277 "Phase out LLVM versions older than 3.9."
See https://github.com/rust-lang/rust/pull/45225#issuecomment-336600514 for an old bug rearing its ugly head. cc @rust-lang/infra

[2017-10-14 13:43] GuillaumeGomez commented on #45158
Oh I see. I'll write a fix when I get time.

[2017-10-14 13:50] dns2utf8 opened #45278 "rustdoc search engine should stay in the same tab"
After selecting a category changing the search query will reset the tab selection.

cc @GuillaumeGomez

[2017-10-14 13:53] dns2utf8 opened #45279 "rustdoc search engine: tab key should iterate over "Types/modules", "As parameters" and "As return value""
Maybe shift+tab should jump reverse.

The arrow keys up and down are currently used to walk through the results and left right are for navigating the query. To me this feels natural so I would keep it.

cc @GuillaumeGomez

[2017-10-14 14:00] kennytm commented on #44629
I tried to reproduce it on macOS. The error emitted was:

[code]

The `libproc_macro-4a190002959d1e04.dylib` can be found in

[code]

so on macOS it should be something fixable by adjusting the rpath.

I'm not sure about the treatment on other OS.

[2017-10-14 14:04] alexcrichton commented on #45277
AFAIK we have no reason to stick to LLVM 3.7 other than "it's what we stuck to awhile ago". Along those lines I think it'd be fine to bump the minimum version to 3.9, it's already at least 2 releases old anyway.

I think so long as the builder with 3.7 pre-installed is updated to 3.9 we should be good to go!

[2017-10-14 14:11] Manishearth commented on #44629
The problem is basically that rustc doesn't really handle the `--extern` thing well when dealing with dylibs. Clippy has the same problem; if you do a build and then run cargo test the tests sometimes fail for this reason.

[2017-10-14 14:33] GuillaumeGomez commented on #45279
I like this idea so I implement it!

[2017-10-14 14:43] alexcrichton commented on #44859
This aws likely fixed by https://github.com/rust-lang/rust/pull/44525, so closing.

[2017-10-14 14:50] kennytm commented on #44629
I'm trying to see if just adding `DYLD_LIBRARY_PATH=$DYLD_LIBRARY_PATH:«sysroot»/lib/rustlib/«target»/lib` before the parsing phase will help.

[2017-10-14 15:16] Zoxc commented on #45093
The `resume` function borrows the generator and that borrow is considered to be in live for the entire match when we are looking for yields which conflicts with it. A workaround is to move that call outside the match.
[code]

[2017-10-14 15:17] ddemarco5 opened #45284 "arm-unknown-linux-gnueabihf generates armv7 instructions"
I'm working on a dual platform embedded project. One is running an ARMv7 processor, and one is running on ARMv6 (RPI1 B+).
The ARMv7 platform runs without issue, however, trying to get ARMv6 code generated has caused problems.
When running the binary on the ARMv6 target, I fail with an illegal instruction.
Tracing on it reveals `cbz    r3, 0x7f55a264`, a compare and branch on 0... an ARMv7 instruc

[2017-10-14 15:23] petrochenkov commented on #45277
cc @sanxiyn, due to https://github.com/rust-lang/rust/pull/37912, any reasons to keep compatibility now?

[2017-10-14 15:27] Zoxc commented on #45259
These are all due to borrows being considered live at a suspension point.
It should give `error[E0626]: borrow may still be in use when generator yields`.
For `match foo.i() {`, `foo` is being considered borrowed for the entire match. In @Arnavion's reduced test case, `_baz` is a borrow which is live across the `yield`.

@nikomatsakis You wrote the code that should detect these cases. @arielb1 als

[2017-10-14 15:29] dns2utf8 opened #45286 "rustdoc help function breaks exit when typing"
Steps to reproduce:

1. open [the docs](https://doc.rust-lang.org/nightly/std)
2. klick somewhere so the focus goes away from the search bar
3. press `?`
4. start typing letters or numbers, more than 3
5. see the query change in the blurred background
6. pressing `Esc` does no longer close the dialog

cc: @GuillaumeGomez

[2017-10-14 15:34] kennytm commented on #45286
Step 4 should should be "press <kbd>S</kbd>".

As a workaround, you could close by pressing <kbd>Tab</kbd> then <kbd>Esc</kbd>.

[2017-10-14 15:41] manuels commented on #45259
@Zoxc, Are you saying that this is just the wrong error message or do you agree that this is a 'real' bug?

[2017-10-14 15:53] Zoxc commented on #44437
Looks like your stack trace is useless and the unwrap isn't in the stack trace even with debug information (this is were we need https://github.com/rust-lang/rfcs/pull/2091#issuecomment-330697758) . I think the following code is the unwrap which failed, however I can't be sure without doing a debug build of rustc. This is definitely not related to generators though.
https://github.com/rust-lang/ru

[2017-10-14 15:55] Zoxc commented on #45259
It is just a wrong error message.

[2017-10-14 15:58] stjepang commented on #45273
More compilation timings:

| crate | HashMap | OrderMap |
|--|--|--|
| crossbeam | 31.94 secs | 26.44 secs |
| rayon | 9.40 secs | 8.20 secs |
| pdqsort | 0.23 secs | 0.18 secs |
| chan | 6.16 secs | 5.26 secs |
| string-cache | 10.13 secs | 9.71 secs |
| parking_lot | 5.45 secs | 4.92 secs |
| timely-dataflow | 19.69 secs | 16.55 secs |

[2017-10-14 15:58] ZhangHanDong opened #45287 "subtract with overflow in release mode"
The following code attempt to subtract with overflow in release mode.

[code]
[playground link](https://play.rust-lang.org/?gist=4b433e4c29ce7e992302a232038c0198&version=stable)

[2017-10-14 16:02] ollie27 commented on #44629
So the issue here as I understand it is that since #41991 rustdoc can't be built at stage 1. Due to https://github.com/rust-lang/rust/blob/af7de7b6774b061b7809ce9aa6db31ea29df33c8/src/bootstrap/doc.rs#L630 rustbuild is trying to build the rustdoc docs with the rustc docs but that hasn't made sense since #43482 split up rustdoc and rustc.

[2017-10-14 16:04] dns2utf8 commented on #45286
The problem is that after you press `?` you get the overlay with the help text and should not be able to submit keystrokes to the main UI. Maybe the help should close on the first keystroke.

[2017-10-14 16:04] da-x commented on #45093
I see.

Is this somewhat related to https://github.com/rust-lang/rust/issues/44100 ? I guess that the borrow checker could have narrowed the borrowing to the matched value.

[2017-10-14 16:06] dns2utf8 commented on #45279
Cool, I think #45288 fixes that

[2017-10-14 16:13] Zoxc commented on #45093
@da-x No, it's the fault of the code which finds out which values could be stored in the generator.

[2017-10-14 16:14] sfackler commented on #45287
What is the problem here? Overflow checks are only present in debug mode.

[2017-10-14 16:37] GuillaumeGomez commented on #45279
It does. :)

[2017-10-14 16:38] GuillaumeGomez commented on #45286
I'm gonna fix it soon.

[2017-10-14 16:43] dns2utf8 commented on #45286
@kennytm yes you are right. I was hammering over "S" too

[2017-10-14 17:04] ZhangHanDong commented on #45287
@sfackler I see, thanks.

[2017-10-14 17:07] Arnavion commented on #44437
[code]

[code]

[2017-10-14 17:17] Mark-Simulacrum commented on #45277
It'd be good to reach out to distros as well, in case any of them need the LLVM 3.7 dependency, but I don't know how best to do that.

[2017-10-14 17:19] ZhangHanDong commented on #45287
@sfackler  The problem is that the following code didn't overflow checks in debug mode.

[code]
 Normal compilation , but it should be emit  warning info:
[code]
But  it will be panic when run .
[playgroud](https://play.rust-lang.org/?gist=14ddffe90a6769c8b49822c974f80173&version=stable)

[2017-10-14 17:21] sfackler commented on #45287
The panic is the overflow check.

[2017-10-14 17:22] ZhangHanDong commented on #45287
@sfackler  overflow check in runtime?

[2017-10-14 17:23] sfackler commented on #45287
Yes.

[2017-10-14 17:25] ZhangHanDong commented on #45287
the following code will be emit warning info in compile time.

[code]
like this:

[code]

[2017-10-14 17:31] ZhangHanDong commented on #45287
@sfackler  I got it.  thanks.

[2017-10-14 17:31] #45287 closed

[2017-10-14 18:30] manuels commented on #45259
I do not see why this code should not work. The mutual reference of `self` is only used for the `baz()` call and `baz` is dropped.
Can you elaborate why this code is invalid?

[2017-10-14 19:43] crypto-universe commented on #31436
@nikomatsakis , #42526 is merged, you can mark it as done in tracking list :)

[2017-10-14 20:09] Zoxc commented on #45259
There actually seem to be something interesting going on here. Here is a reduced test case:
[code]
`_baz` now stores a reborrow of `bar`, but because of the `yield` expression, this reference gets stored in the generator, and because of that, the borrow lasts for the entire generator. Now we get an error when we try to mutate `bar` because it's borrowed immutably for the entire duration of the gen

[2017-10-14 20:11] seventh-chord commented on #44239
Just to note, a slightly simpler case which triggers the same error is to have the associated const in a impl block for the struct directly:

[code]

Error message:

[code]

[2017-10-14 21:42] chrisvittal opened #45292 "Better Integrate MIR dump in `rustc_mir::util::liveness` into the wider dump infrastructure"
Opening this so it doesn't get lost.

In the WG-compiler-nll gitter, @nikomatsakis mentioned that we should possibly update [liveness.rs](https://github.com/rust-lang/rust/blob/ec016f80cf725a9c8a613cdcd2ac97588d5f9af2/src/librustc_mir/util/liveness.rs#L180) so that it uses the infrastructure from #45013.

[2017-10-14 21:56] parkovski commented on #31436
Is it possible to make the `catch` keyword contextual but disable it if a `struct catch` is in scope, and issue a deprecation warning?

[2017-10-14 22:16] MaikKlein commented on #44334
I talked with eddyb on irc about this issue.

* moving the collector to src/librustc_mir/monomorphize/collector.rs
* changing terminology from "trans collector" to "monomorphization collector"

I am happy to do provide a PR myself.

[2017-10-15 04:22] Havvy opened #45296 "Outer attribute where outer attributes considered as inner attribute by statement after attribute error"
[code]

[code]

The second error shouldn't occur.

[2017-10-15 07:25] ishitatsuyuki opened #45300 "rustbuild: don't fetch jemalloc if it's disabled"
Currently jemalloc is skipped if system library is specified. We should also do so when use_jemalloc is False.

[2017-10-15 08:17] parched commented on #45284
Hi @ddemarco5, just to be sure, have you checked if this happens in rust code not C code?

Also, the target cpu you want for the RPi1 is `arm1176jzf-s`.

[2017-10-15 08:40] arthurprs commented on #45262
I don't think that change can be backported  easily. I guess the best option would be to use system allocator in this platform.

[2017-10-15 09:17] Arnavion commented on #45093
Duplicate of #44197

[2017-10-15 09:43] arielb1 commented on #44197
@Zoxc

That's not actually correct. `&baz` is a vexpr (rvalue in C++-speak) which is never converted to a lexpr, so the destruction scope is not relevant. vexprs are destroyed at the end of their *parent expression* (in your case, at the end of `foo(&bar)`), so they wouldn't be alive at the yield.

[2017-10-15 09:55] stjepang commented on #45273
Closing because we didn't get good results. See #45282.

[2017-10-15 09:55] #45273 closed

[2017-10-15 09:57] vyings opened #45302 "Path::new(".").is_dir() and Path::new("..").is_dir() always return true?"
It seems this problem originates in the underlying system `stat`. What is the recommended method to check their existence? Is this considered a bug?

[2017-10-15 09:59] arielb1 commented on #44197
If you'll use expr_use_visitor, you should be able to identify all lexpr spots by looking for when the `ExprUseVisitor::borrow` function is called. Or you could just wait for MIR-based inference.

[2017-10-15 10:36] retep998 commented on #45302
This is a unix specific issue. The current directory on Windows always has an open handle and as such always exists.

[2017-10-15 10:38] arielb1 commented on #44437
with lines:
[code]

[2017-10-15 10:44] manuels commented on #45259
Thanks, @Zoxc for your explanation. I see now why this code won't compile.
But this seems to be a limitation of the current implementation of generators.
From a user's point of view, I think, there should be no reason why this shouldn't be valid code.
Do you see any possibility to modify the current implementation of generators to make the code work?

I don't know if it's possible to make the comp

[2017-10-15 10:58] retep998 opened #45303 "Rust 1.14.0 fails to install"
https://travis-ci.org/retep998/winapi-rs/builds/287856444

[code]

[2017-10-15 11:10] kennytm commented on #45303
Recently we've moved the S3 bucket, which probably invalidated some working URLs. This particular file is now served from https://rust-lang-ci2.s3.amazonaws.com/cargo-builds/298a0127f703d4c2500bb06d309488b92ef84ae1/cargo-nightly-x86_64-unknown-linux-gnu.tar.gz. I think this is a [`rustup`](https://github.com/rust-lang-nursery/rustup.rs) problem.

[2017-10-15 11:31] #45265 closed

[2017-10-15 12:50] whitequark commented on #45303
Workaround:
[code]

[2017-10-15 12:53] whitequark commented on #45303
Wait, that's a workaround for building a rustc from Dec 2016.

[2017-10-15 13:28] est31 commented on #45303
Given that there is this requirement for contributors to submodules of Rust to create an extra branch and not just point to some commit that may be deleted in the future, might it be a good idea to also require that the URLs don't change? That you e.g. can download and build such an old compiler *without* having to patch stuff? Some stability promise or something?

[2017-10-15 14:00] #44760 closed

[2017-10-15 15:06] alexcrichton commented on #45303
Looks like the 1.14 manifest is the only one with S3 bucket URLs in the manifest, all other releases are on static.rust-lang.org (as they should be).

[2017-10-15 15:08] alexcrichton commented on #45303
Fixed.

[2017-10-15 15:08] #45303 closed

[2017-10-15 15:14] tpgxyz opened #45309 "Can't build with LLVM-5.0.0"
Hi,

i cant build rust-1.21.0 with system-wide LLVM/clang-5.0.0

Full logs can be found here http://file-store.openmandriva.org/api/v1/file_stores/c2556f0322987eef8b2b894e1180aceff35a2222.log?show=true

[code]

[2017-10-15 15:37] ddemarco5 commented on #45284
@parched this is compiling rust code with rustc via cargo, not compiling any C code to my knowledge.

I set the target cpu to arm1176jzf-s, outcome didn't change.

[2017-10-15 15:38] shepmaster commented on #43475
/cc @arielb1 you wanted to ensure this test case fell into the trait system rewrite.

[2017-10-15 15:50] arielb1 commented on #45284
@ddemarco5

Could you find out from which function did the problem instruction come from?

[2017-10-15 16:27] #45210 closed

[2017-10-15 17:54] davidtwco commented on #44109
@nikomatsakis @eddyb @arielb1 @pnkfelix (I'm not sure who I should be pinging about this, apologies)

So far I've done [the following changes](https://github.com/rust-lang/rust/compare/master...davidtwco:rfc-2008?expand=1) but there are a few things I've run into issues with.

In [this section](https://github.com/davidtwco/rust/blob/e5ecdeb9600877cf08106b041b6d7d6029e82667/src/librustc_typeck/chec

[2017-10-15 18:30] ddemarco5 commented on #45284
The instruction that hits in in "deregister_tm_clones", but it appears elsewhere as well. I'll edit this comment with the full list of where it occurs once the dumping is complete.

[2017-10-15 18:46] parched commented on #45284
Yes but the standard library depends on C code, e.g., libc, and the compiler also generates calls to it's own runtime, some of which are written in C.

`arm-unknown-linux-gnueabihf` _should_ just work anyway so I wouldn't expect setting the target cpu to make a difference here, it just helps the compiler possibly generate more optimal code for that cpu.

[2017-10-15 18:51] parched commented on #45284
I think that's in the C runtime startup code so I suspect you are using a Armv7 toolchain (which most named `arm-unknown-linux-gneabihf-gcc` are). Where did you get this compiler from?

[2017-10-15 18:54] parched commented on #45284
Also what Linux distribution are you using on the RPi1? To my knowledge, there aren't any hard-float distros for RPi1, so maybe you want to use the `arm-unknown-linux-gnueabi` rust target.

[2017-10-15 18:55] ddemarco5 commented on #45284
I pulled gcc-arm-linux-gnueabihf from the standard debian repos. I'm using the newest version of raspbian on the pi. I'll try without the hardfloat.

[2017-10-15 19:00] jonas-schievink commented on #45284
There are plenty of hard-float distros, Raspbian uses hard floats, as does Arch Linux ARM. I'm deploying to a similar target locally (RPi 1 Model B) and successfully use the `arm-unknown-linux-gnueabihf` target.

[2017-10-15 19:08] ddemarco5 commented on #45284
I checked my distro and it does in fact use hardfloat.

[2017-10-15 19:12] goffrie commented on #42475
I guess this was probably related to #40003 - seems to compile fine on nightly now.

[2017-10-15 19:16] jonas-schievink commented on #45284
Sure:
[code]

Note that I'm using `nightly-2017-09-15`, not the current nightly (haven't checked if that one works).

[2017-10-15 19:18] Ixrec commented on #44793
What's the exact use case you're looking for that you're saying C handles better? Some parts of your comments make it sound like you just want to pass a "string" of arbitrary foreign bytes around without worrying about what encoding it has, and others make it sound like you want a way to guess what the encoding is for some arbitrary bytes. If it's the former, I think the answer is just "use `std::

[2017-10-15 19:42] ddemarco5 commented on #45284
I'm building a toolchain specific to the RPI B+. If that solves the issue I'll go ahead and close the issue, as it appears to be a problem of libc being compiled for ARMv7.

[2017-10-15 19:45] parched commented on #45284
Ah yes you're quite right, I was just thinking of the standard debian ports armel and armhf.

@ddemarco5 Yes, I think the debian `gcc-arm-linux-gnueabihf` toolchain is for the `armhf` port. Possibly try this one https://github.com/raspberrypi/tools/tree/master/arm-bcm2708/arm-rpi-4.9.3-linux-gnueabihf.

[2017-10-15 19:46] aidanhs commented on #45277
Looking at some popular distros and versions of LLVM available:

 - Ubuntu 14.04, the oldest non-EOL version of Ubuntu (https://www.ubuntu.com/info/release-end-of-life), has LLVM 3.3/3.4/3.5/3.6/3.7/3.8/3.9 in default repositories. So they can just install the 3.9 package if they've been using one of 3.7/3.8.
 - Centos 6(/RHEL 6) has no llvm in the default repositories and 3.4 in the EPEL reposito

[2017-10-15 20:00] jonas-schievink commented on #45284
My project works fine with the current nightly, but I'm using the libc that's installed on the Pi.

[2017-10-15 20:05] goffrie commented on #45302
This isn't a bug - `.` is indeed always a directory, even if it's been deleted. The inode hangs around until all references (processes' working directories count as references) are gone.

[2017-10-15 20:23] infinity0 opened #45313 "./configure options not supported by config.toml"
At the moment we're forced to use both ./configure and config.toml because the latter doesn't contain everything we need:

[code]

[2017-10-15 21:12] ddemarco5 commented on #45284
Built a toolchain with libc included targeted toward ARMv6 and the Pi B+ and that fixed the issue, thanks for the help guys.

[2017-10-15 21:12] #45284 closed

[2017-10-15 21:29] Ixrec commented on #44933
I wouldn't call it _misleading_ either, but "overflow while adding drop-check rules" certainly isn't as clear and to the point as, say, "Stuff<T> is unrepresentable". It also seems bad that we don't emit this error until the type gets used somewhere.

[2017-10-15 21:44] iology commented on #45302
I can understand the result is not intuitive. Currently I combine is_dir() and cononicalize() to check both of them. Need a documentation update?

[2017-10-15 21:53] est31 commented on #45277
Which clang version does llvm 3.9 require? Is it newer or older than the one provided by centos 6? Also ping @infinity0 @cuviper

[2017-10-15 22:21] cuviper commented on #45277
I think EL6's gcc is already too old for even LLVM 3.7. For internal builds I've been using devtoolset-gcc and just the bundled rust-llvm.

For EPEL7 I use 3.9, as you said, and same for Fedora 25.  F26+ and the coming rust-toolset for RHEL7 are all on 4.0. So a minimum of 3.9 is fine for me.

[2017-10-15 22:34] #45195 closed

[2017-10-15 22:40] infinity0 commented on #45277
Sounds good to me - the Debian and Ubuntu rustc package already uses the same specific version of LLVM as what rustc uses, just minus most of the rust patches. (As opposed to the default Debian system version.)

TBH I was not even aware that Rust supported LLVM 3.7. Quite often some tests break when I run the build against an unpatched-but-otherwise-same-version of LLVM that rust uses - currently

[2017-10-15 22:48] uzytkownik commented on #44793
@Ixrec sort of kind of no. The problem is that `std::ffi::CStr` and `str` live in two different worlds and essentially cannot interact in rust. This is a big problem as they must and do interact in Rust and it creates situation where Rust essentially _pretends_ to care about encoding leaving most of the details to programmers which might not even know there is an issue.

Take `std::io` - it assume

[2017-10-15 22:55] vakimov opened #45314 "The macro_rules treat `Ok(n)` as not a pattern"
The macro_rules treat `Ok(n)` as not a pattern

Macro for example:

[code]

Compilation error:

[code]

[2017-10-15 23:35] est31 commented on #45309
see  #43370

[2017-10-15 23:55] aidanhs commented on #45277
@infinity0 my personal perspective is that tier 1 platforms implicitly include the LLVM version they're built with as part of the platform - I don't know if we want to gate on lots of LLVM versions on different distros given that the submodule is the only recommended one. Making sure things work on one vanilla LLVM with reasonably broad support (3.9 appears to be the inclination) seems like a reas

[2017-10-15 23:56] CherryMan commented on #44964
The goal here is to allow for faster and smoother movement in documentation, not necessarily to be "vim compatible"

My main suggestion is to add hjkl for moving through search results and methods, although this would require the search box to be de-selected after searches. I don't think is too much of a concern since it can easily be selected using "s", but that's just me.

If anyone has any sugg

[2017-10-16 00:41] cramertj commented on #45314
In this line:

You've told the compiler to parse `$expr` as an expression. You want to parse it as a pattern-- try `$(my_pattern:pat)` instead. For more information, check out the [Little Book of Rust Macros section on `macro_rules!`](https://danielkeep.github.io/tlborm/book/mbe-macro-rules.html).

[2017-10-16 00:47] vakimov commented on #45314
Thx, my bad

[2017-10-16 00:47] #45314 closed

[2017-10-16 01:22] infinity0 commented on #45277
Whose convenience, though? At the moment it's testing Ubuntu LLVM 3.7 from 16.04 and (if I understand correctly) the proposal is to change this to 3.9. But this doesn't match any distribution's current configuration - Ubuntu 16.04 already has LLVM 4.0 so the rustc package (which it takes from Debian) would eventually just use that instead of 3.9.

It seems very strange to gate merges on tests pass

[2017-10-16 01:39] #45309 closed

[2017-10-16 01:46] infinity0 commented on #45277
So as a proposal, maybe (a) add the ability for `min-llvm-version` to distinguish between vanilla LLVM and rust's fork, e.g. `// min-llvm-version 4.0+rust` and (b) prioritise vanilla-but-current LLVM versions in CI tests because that is what most distributions are targeting, and where the "main work" is done. Then if resources allow, perhaps (c) have a second CI test for an older version but only

[2017-10-16 03:02] #41821 closed

[2017-10-16 04:43] eddyb commented on #45277
I don't understand why the extreme complication or why Ubuntu in particular matters.

[2017-10-16 04:50] eddyb commented on #45277
I proposed 3.9 because that's the first version which doesn't miscompile rustc itself aftee my changes. We need to test that minimum version, so we allocate one configuration to it (i.e. the one currently testing 3.7).

That's it. Nothing else in our policy changes. If I had any say, I'd suggest "just" dropping support for non-bundled LLVM as this sort of thing keeps happening, but some distros ha

[2017-10-16 04:55] cuviper commented on #45277
The docker image is based on Ubuntu - that all that makes it special here.

I think all we really *need* is to make sure that the stated minimum LLVM works, for some definition of "works" that may or may not include tests. It's nicer if we do ensure testing too, of course.  Using Ubuntu's LLVM to represent "vanilla" LLVM would be OK (is that what we use now?), but could carry its own quirks. An up

[2017-10-16 04:58] cuviper commented on #45277
(I don't think it's worth debating distro unbundling here.)

[2017-10-16 06:16] Zoxc commented on #45259
@manuels I'm working on a way to make this work.

[2017-10-16 06:40] #42384 closed

[2017-10-16 09:13] michaelwoerister commented on #45275
Sounds like a good idea if the lookup array ends up being densely populated enough. In general, we should provide a way to implement customized in-memory caching for specific queries.

[2017-10-16 09:15] #35600 closed

[2017-10-16 09:15] #44247 closed

[2017-10-16 09:37] arielb1 commented on #45259
@Zoxc

This is basically non-lexical lifetimes. The borrow is inferred to be potentially live over a yield point, and therefore it's potentially live while the generator is used

[2017-10-16 09:40] arielb1 commented on #45259
Or you could attack the "both `'a` and `'b` can live as long as the generator, but both can be live at the same time" angle:

[code]

[2017-10-16 09:50] tpgxyz opened #45317 "Rust does not build with rust"
Hi,

i'm trying to build rust-1.21.0 without bootstrap mode, so rust should compile with rust-1.21.0

Unfortunately this does not work. Please help.

Full logs:
http://file-store.openmandriva.org/api/v1/file_stores/dfe43b7ab055ca3c597d750d6415287a24e9b554.log?show=true

[code]

[2017-10-16 09:50] petrochenkov commented on #45103
Fixed by https://github.com/rust-lang/rust/pull/45215!
Closing.

[2017-10-16 09:50] #45103 closed

[2017-10-16 10:02] gnzlbg commented on #29931
I am working on this. If anyone interested and with experience would like to mentor me please let me know.

[2017-10-16 10:12] azdlowry opened #45318 "BufWriter::write panics during flush_buf"
I'm still investigating this but it seems if we have a `BufStream `around a ~~UnixStream~~ `openssl::ssl::SslStream<std::net::TcpStream>`, and we write to it too quickly it panics.

The `std::net::TcpStream` is non-blocking which might be relevant.

[code]

[code]

I'll add more details as I investigate more.

[2017-10-16 10:43] eddyb commented on #45277
@petrochenkov We were actually sync'ing our LLVM updated with emscripten for a while (maybe we still are?), as an interesting data point. But yeah, sure, that's a valid niche usecase.

[2017-10-16 10:47] arielb1 commented on #44109
@davidtwco

To check whether an ADT is within the same crate, find the def-id of the ADT and check whether it's local - e.g. if you have an `adt: &AdtDef`, you can check `adt.did.is_local()`.

[2017-10-16 10:49] arielb1 commented on #44109
For the visibility, you can ask @petrochenkov but I think you want to set the visibility to `pub(crate)` aka `ty::Visibility::Restricted(DefId::local(CRATE_DEF_INDEX))`

[2017-10-16 10:49] arielb1 commented on #44109
If you can find me, feel free to ping me on IRC.

[2017-10-16 10:51] davidtwco commented on #44109
Thanks, that's super helpful.

With regards to the visibility, that's what I was setting the visibility to, but I'll take another stab at it and see what I can come up with.

[2017-10-16 10:58] pnkfelix commented on #45153
I believe this is resolved by #45162

[2017-10-16 10:58] #45153 closed

[2017-10-16 12:39] arielb1 commented on #45277
The tests that break when an unpatched LLVM is used test for the absence of a few miscompilation bugs we have encountered. For each such bug, we make sure it is patched on upstream LLVM and backport the fix to our LLVM version. Most fixes don't appear to be very Rust-specific - they can be encountered through clang too.

I don't believe either us or a distro should regard a compiler as "supported"

[2017-10-16 12:42] kennytm commented on #45317
Hi, could you show your `config.toml` and how the command that performs the compilation?

[2017-10-16 12:52] shepmaster commented on #45277
Yes, and that causes friction when upgrading LLVM, as we cannot "just" update LLVM anymore, [we are blocked on emscripten](https://github.com/rust-lang/rust/issues/43370) to update first. This is also annoying for other forks (e.g. AVR) as we find we sometimes need to combine Rust's fork, our own changes as well as upstream LLVM, a trifecta of fun.

[2017-10-16 13:03] infinity0 commented on #45277
There are other things in the LLVM fork like fastcomp and, at least in the past, various other optimisation patches. It would be easier for distros to include the critical patches in our LLVM packages if Rust distinguishes them from the non-critical ones I just mentioned. (Of course it is better if they made their way into a minor release, but it is good already that they are submitted upstream an

[2017-10-16 13:31] nikomatsakis commented on #44494
@pietroalbini how's it going? I'm just checking in -- I know you've been hard at work on this, I was just wondering if you could give a quick status update.

[2017-10-16 13:48] nikomatsakis commented on #44690
@rep-nop hey, I'm just checking in -- are you still hacking on this? How's it going?

[2017-10-16 13:49] nikomatsakis commented on #44752
@gaurikholkar hey, just checking in! How's it going? Any blockers?

[2017-10-16 13:59] nikomatsakis commented on #44101
@rfcbot fcp merge

I propose that we **stabilize** this (rather small) feature. The implementation has been done for some time now. At present, there is only one test:

- [feature-gate-match_beginning_vert](https://github.com/rust-lang/rust/blob/master/src/test/compile-fail/feature-gate-match_beginning_vert.rs) shows that we parse the `|` in the right spot (and, in this case, issue an error as the

[2017-10-16 14:16] azdlowry commented on #45318
Apologies, I originally said this was wrapping a UnixStream, but it's actually wrapping an SslStream<TcpStream>. This is easily reproducible in our application. Trying to reduce the code down to the bare minimum required to reproduce.

[2017-10-16 14:25] aidanhs commented on #45277
To take a single personal perspective - when I make small changes to rustc and want to make sure my changes compile and a couple of relevant tests pass, I don't want to compile LLVM myself and am fine with the resulting rustc being 'unsupported'.

Perhaps we're getting off track of the original proposal to upgrade LLVM to 3.9, given that what you're suggesting involves adding more builders (which

[2017-10-16 14:26] arielb1 commented on #34708
This is the last thing that is stopping slice patterns from being stabilized, so I think we should go forward with it. I would like to mentor this issue so that I will not be the sole maintainer of the drop elaboration code.

## Mentoring Notes

The issue is that drop elaboration does not handle arrays correctly.

### Background

During MIR generation, `Drop` terminators are generated for each loc

[2017-10-16 14:30] azdlowry commented on #45318
The wrapped SslStream::write had returned 'Error { repr: Os { code: 11, message: "Resource temporarily unavailable" } }' for the previous few writes.

[2017-10-16 14:32] alexcrichton commented on #45103
Thanks for checking! I meant to come back and test to see if this was fixed, but glad you beat me to it!

[2017-10-16 14:37] alexcrichton opened #45320 "Tracking issue for enabling multiple CGUs in release mode by default"
I'm opening this up to serve as a tracking issue for enabling multiple codegen units in release mode by default. I've written up a [lengthy summary](https://internals.rust-lang.org/t/help-test-out-thinlto/6017) before but the tl;dr; is that multiple codegen units enables us to run optimization/code generation in parallel, making use of all available computing resources often speeding up compilatio

[2017-10-16 14:37] alexcrichton commented on #35996
This has been implemented, and I've opened up https://github.com/rust-lang/rust/issues/45320 to enable it by default.

[2017-10-16 14:37] #35996 closed

[2017-10-16 14:49] alexcrichton commented on #39773
ThinLTO is now implemented and available to test this. Compiling in release mode [the above benchmark](https://github.com/rust-lang/rust/issues/39773#issuecomment-279284755) I get:

[code]

Compiling in release incremental mode I get:

[code]

Compiling in release incremental mode with ThinLTO I get:

[code]

It's not 100% the same but I'd be pretty willing to bet that it's "close enough"

[2017-10-16 14:52] alexcrichton commented on #45313
This should be fixed on master, where config.mk/configure are "no longer a thing" and there's only one configuration system through config.toml (which the configure script now generates)

[2017-10-16 15:15] michaelwoerister commented on #39773
This looks very promising!

[2017-10-16 15:34] alexcrichton commented on #27716
@stjepang sounds reasonable to me!

[2017-10-16 16:14] vitiral commented on #44924
@michaelwoerister with https://github.com/rust-lang/rust/issues/45104 merged, the tutorial in this issue should probably be updated!

[2017-10-16 16:18] aturon commented on #36342
I think we could approach the procedural issue here in a few ways:

 1. We could land the functionality under a feature gate, and have an RFC prior to stabilization
2. We could have a public discussion on thread, involving lang team, with fcp signoff
3. We could just do an RFC :)

It's not like RFCs are *prohibited* per se, more that we're trying to focus the teams on executing already-planned wor

[2017-10-16 16:21] sfackler commented on #45318
From looking at the code, I would only expect this to happen if the underlying writer said that it wrote more bytes than the input buffer contained.

[2017-10-16 16:25] azdlowry commented on #45318
Seconds ahead of me :D. Looks like SslStream is returning Ok(24999) for a write of buf.len() = 8192.

Doesn't sound like is something that should be handled in BufStream. I'll investigate what is happening in the OpenSsl crate.

[2017-10-16 16:41] cuviper commented on #45277
@infinity0

Sorry, I don't mean to trivialize to effort required.  I just worry about pushing too much of distro-level concerns back onto the Rust community.

Can you ask your LLVM maintainer to watch pull requests on the rust-lang/llvm repo?  I'm sure that person is busy too, but it's actually pretty low traffic.

To be clear, I do try to pay attention to test failures, otherwise I'd save half th

[2017-10-16 16:45] michaelwoerister commented on #44924
@vitiral Yes, that's a good idea. Will do so soon.

[2017-10-16 17:02] sfackler commented on #45318
Cool - I'm going to close this issue since it doesn't seem to be an issue with BufWriter.

[2017-10-16 17:02] #45318 closed

[2017-10-16 17:08] alexcrichton commented on #27389
@rfcbot fcp merge

I think the `#[global_allocator]` has baked for long enough now at this point, and I've overall been quite happy with the current design and its possibility for future extensions. Overall I got the same feeling during the initial RFC process that the current design is overall well accepted.

Note that stabilization of this feature will require #32838 to be stable as well, and I'

[2017-10-16 17:16] alexcrichton commented on #32838
@rfcbot fcp merge

Ok this trait and its types have bake for awhile now and also been the underlying implementation of the standard collections since its inception. I would propose starting out with a particularly conservative initial offering, namely only stabilizing the following interface:

[code]

Notably:

* Only stabilizing `alloc` and `dealloc` methods on the `Alloc` trait for now. I think

[2017-10-16 17:20] SimonSapin commented on #27389
Doesn’t this depend on on `allocator_api`? https://github.com/rust-lang/rust/issues/32838

[2017-10-16 17:21] sfackler commented on #27389
@SimonSapin We can stabilize `#[global_allocator]` and alloc_system to enable people to at the very least select the system allocator.

[2017-10-16 17:42] pietroalbini commented on #44494
@nikomatsakis sure!

I fixed a few days ago a bunch of errors related to `self`, and now there is an bug with the hir nodes. I plan to try fixing that tomorrow, and then _hopefully_ all the errors will be fixed. After that I'll need to update all the tests (and write new ones) and feature gate the thing, and then the feature will be ready to be merged.

[2017-10-16 17:45] nikomatsakis commented on #43302
How are people feeling about this? Shall we consider stabilization? Are we using this for the various iterator methods and other purposes that it was envisioned for?

[2017-10-16 17:51] joshlf commented on #32838
+1 to getting something stabilized!

Does this eliminate the option for allocators to specify `Unsupported`? At the risk of harping more on something I've been harping on a lot, I think that #44557 is still an issue.

It looks like you've removed some of the methods from `Layout`. Did you mean to have the ones you left out actually removed, or just left as unstable?

[2017-10-16 18:00] kennytm commented on #43302
It is currently applied on methods in `PartialOrd` and `PartialEq` only :S

[2017-10-16 18:04] nikomatsakis commented on #43302
@kennytm was there a plan to use it elsewhere? I forget. If so, is there any reason we are not doing so?

[2017-10-16 18:04] alexcrichton commented on #45320
cc @michaelwoerister

[2017-10-16 18:08] infinity0 commented on #45313
Oh that looks good, closing and sorry for the noise. Looks like --local-rust-root has been replaced by "rustc" and "cargo" and --llvm-root by "llvm-config".

[2017-10-16 18:08] #45313 closed

[2017-10-16 18:13] alexcrichton commented on #45313
Ah yeah a few options may have changed, but it should be easy enough to add them back if needed!

[2017-10-16 18:15] SimonSapin commented on #32838
Is this a constructor for what’s today `AllocErr::Exhausted`? If so, shouldn’t it have a `Layout` parameter?

[2017-10-16 18:19] kennytm commented on #43302
@nikomatsakis There was a plan to add `#[must_use]` to `Result::ok` rust-lang/rfcs#886.

rust-lang/rfcs#1940 only suggests applying to `eq()` and friends (which turns out [isn't enough to fulfill the RFC's motivation](https://github.com/rust-lang/rust/issues/43302#issuecomment-321169882)).

I don't think there were any plans to use it on iterator methods coming from these two RFCs. IIRC there's so

[2017-10-16 18:36] infinity0 commented on #45277
Understood @ both of the above, sorry for hijacking this thread. I'll think of a better way of bringing this up elsewhere / some other time.

[2017-10-16 18:43] fintelia opened #45323 "BufReader/Writer extension methods: is_empty, buffer"
**Update:** this is the tracking issue for:

[code]

`is_empty` is both unstable and deprecated, it should be removed.

----

There is currently no way to tell whether there is any data buffered inside a BufReader. This is unfortunate because it means that an application has no way to know whether calls to read() and fill_buffer() will return instantly or trigger a potentially expensive call to th

[2017-10-16 18:52] #45201 closed

[2017-10-16 19:00] cramertj commented on #32838
I'm really excited about getting to stabilize some of this work!

One question: in the above thread, @Ericson2314 [raised an interesting point](https://github.com/rust-lang/rust/issues/32838#issuecomment-292254121) about the possibility of separating the `Alloc` and `Dealloc` traits in order to allow optimization of arena-allocation. During `alloc`, a reference to the arena is needed, so the `Allo

[2017-10-16 19:05] alexcrichton commented on #32838
@joshlf

Yes and no, it would mean that such an operation is not supported in *stable* rust immediately, but we could continue to support it in unstable Rust.

Indeed! Again though I'm just proposing a stable API surface area, we can leave all the other methods as unstable. Over time we can continue to stabilize more of the functionality. I think it's best to start as conservative as we can.

---

[2017-10-16 19:17] rep-nop commented on #44690
@nikomatsakis sorry, school has been keeping me fairly busy lately but things look like they're starting to lighten up for now! I spent ~2ish hours about 2 weeks ago on it and was getting somewhere I think, but I'm going to be hopefully trying a new approach that I hope will work better within the week (if not today even!)

[2017-10-16 19:41] joshlf commented on #32838
@cramertj @alexcrichton

In general I agree that it's not worth it with one glaring exception: `Box`. `Box<T, A: Alloc>` would, given the current definition of `Alloc`, have to be at least two words large (the pointer that it already has and a reference to an `Alloc` at the very least) except in the case of global singletons (which can be implemented as ZSTs). A 2x blowup in the space required to

[2017-10-16 19:43] nikomatsakis commented on #44109
@davidtwco glad to see that @arielb1 got you unblocked! Looking forward to seeing the PR. =) Let us know if you hit any other problems (are here or [on gitter](https://gitter.im/rust-impl-period/WG-compiler-middle))

[2017-10-16 19:48] nikomatsakis commented on #44690
@rep-nop great =) Let me know if I can be of any assistance.

[2017-10-16 20:01] nikomatsakis commented on #44490
What do we want to do around stabilization here? @cramertj was floating the idea of stabilizing only the **clone** impl for closures, not the **copy** one, at least until such time as we have a workable "unexpected copy" lint that would push you to invoke `clone` when copying closures (but that lint probably wants a bit of design).

Personally, I think I'd be ok stabilizing copy/clone closures in

[2017-10-16 20:03] nikomatsakis commented on #43301
@bkchr how goes? Just checking in again. =) No worries if you are busy, just want to make sure you're getting all the help you need.

[2017-10-16 20:28] cramertj commented on #44490
I've been messing with it in some personal stuff, and I've really enjoyed having the feature. I'd be in favor of stabilizing both `Copy` and `Clone`.

[2017-10-16 20:38] cramertj commented on #32838
@alexcrichton

Bikeshed: we could add something like this:
[code]

[2017-10-16 20:41] alkis commented on #42555
This was fixed in cmake 3.9.0 onwards: https://gitlab.kitware.com/cmake/cmake/issues/16991.

[2017-10-16 20:46] steveklabnik opened #45327 "docs for str::find say closure but don't use a closuer"
https://doc.rust-lang.org/stable/std/primitive.str.html#examples-21

... but it uses point-free style, not closures.

We should probably show both.

[2017-10-16 21:03] SimonSapin commented on #32838
Only when you use a custom allocator that is not process-global. `std::heap::Heap` (the default) is zero-size.

[2017-10-16 21:07] SimonSapin commented on #32838
@alexcrichton I don’t really understand why this proposed first pass is at it is at all. There’s barely more than could already be done by abusing `Vec`, and not enough for example to use the `jemallocator` crate.

[2017-10-16 21:08] bstrie commented on #45320
Presumably this will remain a stable compiler flag, but what else will change by default? Is the plan to make this only affect `cargo build --release`, or is the plan to also make this affect `rustc --opt-level=2`? Do we want to make `--opt-level=3` continue to use only a single CGU, to hedge against regressions for people who are already willing to trade off compiler time for runtime?

[2017-10-16 21:30] arielb1 opened #45328 "Generators sometimes skip dropping"
This code prints `malloc` twice and `free` once:

[code]

[2017-10-16 21:31] joshlf commented on #32838
That seems like the primary use case of having parametric allocators, no? Imagine the following simple definition of a tree:

[code]

A tree constructed from those with a 1-word `Alloc` would have a ~1.7x blowup in size for the whole data structure compared to a ZST `Alloc`. That seems pretty bad to me, and these kinds of applications are sort of the whole point of having `Alloc` be a trait.

[2017-10-16 21:40] glaebhoerl commented on #32838
@cramertj

We're also going to have actual trait aliases :) https://github.com/rust-lang/rust/issues/41517

[2017-10-16 21:47] est31 commented on #36887
I think this feature is very useful for API evolution e.g. when you add a generic type parameter and want to keep stability, and I think much better than inferring the type instead.

Apparently there are some issues with the implementation. Can they maybe be fixed instead of removing the feature? Would that require an RFC?

[2017-10-16 22:24] alexcrichton commented on #45320
I would specifically propose that any opt level greater than 1 uses 16 codegen units and ThinLTO enabled by default for those 16 codegen units.

[2017-10-16 22:27] matklad commented on #44732
cc @joshtriplett

At today's Cargo meeting, and interesting question was raised how Cargo should check if it should rebuild the docs when an external file with docs changes.

Here's some info on how dependency-tracking works today:

When doing `cargo build`, Cargo [passes](https://github.com/rust-lang/cargo/blob/2f779743f4579febf674dbbb6e24bb2e709a7982/src/cargo/ops/cargo_rustc/mod.rs#L744) an `--

[2017-10-16 22:34] pietroalbini opened #45330 "Extra bits returned by the Permissions struct on unix"
Until September, `PermissionsExt::mode` on unix returned the permissions of the file masked with `0o777`, which was hiding the set{u,g}id/sticky bits. Then, #44147 and #44624 changed the standard library to avoid masking the permissions at all.

The fix indeed exposed the missing bits, but it also exposed some extra ones, like the ones specifying if the node is a file or a directory. For example,

[2017-10-16 22:42] retep998 commented on #36342
Currently the recommended way to export a function that you define yourself from a `cdylib` or `staticlib` is a `#[no_mangle] pub extern fn foo(...) { ... }` at the crate root. So I'd like to propose a solution that is as close to the existing forms as possible:

* Declare the external functions directly at the crate root and make them public: `extern { pub fn foo(...); }`
* If the external functi

[2017-10-16 22:48] aturon commented on #36342
cc @rust-lang/lang, adding this to our list of issues that need to be triaged.

[2017-10-16 22:51] Phlosioneer commented on #44844
@nikomatsakis Where is the test runner for `ui`? I've looked in the bootstrap folder and I can't figure out the execution path when passing in the "test" argument. I'd like to help and contribute here, because it's labeled I-EASY; I'm not really familiar with the compiler but I want to learn.

[2017-10-16 22:51] joshlf commented on #45330
The name `mode` for a method like this implies to me that it returns the full mode including all "non-permissions" bits. Perhaps a new method ought to be added (e.g., `perm_mode`), but I think having `mode` return only _some_ of the mode bits would be surprising behavior.

[2017-10-16 23:03] Phlosioneer commented on #41834
Triage: I think this should be closed now, because #45178 has now been merged into master as of 3 days ago.

[2017-10-16 23:06] joshtriplett commented on #44732
@matklad So, it sounds like the current behavior is *correct* but could be made more efficient. That's better than being incorrect.

[2017-10-16 23:10] #41834 closed

[2017-10-17 00:04] SimonSapin opened #45334 "Making alt build available together with Nightly"
In https://internals.rust-lang.org/t/updates-on-rusts-ci-uploads/6062 I found out that the `rust-lang-ci` S3 bucket, which Servo relies on, is ephemeral. Only nigthlies are kept around long-term. I’ll switch Servo to download from `http://static.rust-lang.org/dist/` where possible, but there’s one thing missing: tarballs for [rustc "alt" builds](https://github.com/rust-lang/rust/pull/39754). I’d l

[2017-10-17 00:05] cramertj commented on #32838
@glaebhoerl Yeah, but if we disable manual impls of `Allocator` I think we can switch to trait-aliases backwards-compatibly when they eventually arrive ;)

[2017-10-17 00:37] SimonSapin commented on #45334
Hmm maybe `rust-nightly-$HOST.*` is not, but neither rustup nor Servo uses those IIRC.

[2017-10-17 01:12] pnkfelix commented on #44832
Okay I think I am on the road to fixing this.

Namely, I have a local branch that modifies we emit `EndRegion`, specifically how we handle the diverge-path (i.e. unwinding) with respect to EndRegion. If you look at the control-flow graph in my previous comment, you might be able to tell that some EndRegions were dropped on the floor on one particular control-flow involving unwind.

I believe this

[2017-10-17 01:56] Ryan1729 commented on #44365
I don't understand what's going on either, but I've managed to cause the symptoms with this [42 line diff](https://gist.github.com/Ryan1729/5b3e774ad1dfb11a3b5906cbf04eddc7).

You can checkout [4c225c4](https://github.com/rust-lang/rust/commit/4c225c4d1732537aff63dd97c2b7ac681fd3d188) and note that using that version to compile [this version of the test](https://github.com/Ryan1729/tiny-live-code-

[2017-10-17 02:56] Zaerei opened #45336 "Lint against the use of ? in places where Err is expected"
I did, this, got really confused trying to fix the "erroneous error" that was happening, and then laughed when I realized what I'd done.

Minimized code with a bogus error message:

[code]

However, my colleague made the same exact error independently and it still took me a minute to see it, so it may be worth linting against.

We knew that a `String` could become a boxed error, and independently

[2017-10-17 03:12] christianpoveda commented on #45327
I'd like to take care of this one

[2017-10-17 03:13] Phlosioneer commented on #44844
Alright, I've upgraded the test runner for `ui` to parse test commands.
That's broken about 85 tests that have either:

- improper synax for test commands
- slight text differences (e.g. adding a colon at the end)
- shorthand (e.g. saying "moved" instead of "captured outer variable"

I'm going through and fixing each one right now. This might take some time.

[2017-10-17 03:30] Phlosioneer commented on #44844
Also, there doesn't appear to be any way to check "did you mean" stuff... it's categorized by the json as kind: None, but there's no command //~ NONE.

[2017-10-17 03:38] aturon commented on #45334
cc @rust-lang/infra, nominating for discussion in tomorrow's meeting.

[2017-10-17 04:30] Phlosioneer commented on #44844
There's 78 ui tests to fix, and a few features and special cases need to be added to my ui test runner code. Here's my work-in-progress stuff: https://github.com/Phlosioneer/rust

Should I set up a pull request and just let it sit there while I work on this, for feedback? Or should I wait until I'm actually ready to submit the code?

[2017-10-17 05:28] matklad commented on #44732
There's an edge case where it might not do rebuild when it should, if in `src/lib.rs` you have something like

[code]

Or

[code]

That is, if you touch files outside of the Cargo package directory.

Other than that yes, current behavior is correct!.

[2017-10-17 06:16] bkchr commented on #43301
Sorry, busy at the moment :/ Up to now, I got all the help I needed :)

[2017-10-17 06:27] oli-obk commented on #45336
I think this would be something that clippy would lint against. Feel free to open an issue at https://github.com/rust-lang-nursery/rust-clippy/issues

[2017-10-17 09:14] stjepang commented on #27716
This issue should be resolved now that we have `LocalKey::try_with`.

`borrow_state` was rejected in favor of `try_borrow`.
Apart from `Unitialized`, `Valid`, and `Destroyed` state, what may the additional states even be? Is this still a concern? If not, are we ready to kick off FCP?

[2017-10-17 10:07] michaelwoerister commented on #45188
We should definitely re-investigate this with different settings for `-Z inline-in-all-cgus` since I don't think that existed yet when the initial benchmark was done.

[2017-10-17 11:41] #40003 closed

[2017-10-17 12:57] bvssvni opened #45341 "Implement `std::fmt::Display` for `()`"
In generic code, I `()` as a "default type". I would like to write code which represents a custom `Display` with special behavior for `()` and default behavior for other types. The check can be done using `TypeId`, but since `()` does not implement `Display` it can not be used as constraint on the type parameter.

[Link to playground example](https://play.rust-lang.org/?gist=5de086aabfe18e03c4359b

[2017-10-17 13:20] Keruspe commented on #44859
@alexcrichton this is not fixed, I get exactly the same backtrace with a freshly built rustc from the master branch.

[2017-10-17 13:37] qmx commented on #15872
heads up, I'm working on this one

[2017-10-17 13:42] tpgxyz commented on #45317
@kennytm Where to find it ?

cat path_to_that_file

[2017-10-17 13:45] tpgxyz opened #45342 "Can't build stylo in FF 56.x"
I'm trying to build FF 56.0.1 with rust-1.21.0.

Full logs can be found here http://file-store.openmandriva.org/api/v1/file_stores/1e85cf22a732ff76c55f52625dfab10fbfcaac23.log?show=true

error: failed to run custom build command for `style v0.0.1 (file:///builddir/build/BUILD/firefox-56.0.1/servo/components/style)`
[code]

[2017-10-17 14:07] steveklabnik commented on #45327
@christianpoveda that'd be great! Do you know what needs to be done, or do you need some help/advice?

[2017-10-17 14:10] kennytm commented on #45342
This sounds like a bug in [bindgen](https://github.com/rust-lang-nursery/rust-bindgen/issues), not Rust itself.

[2017-10-17 14:13] kennytm commented on #45317
@tpgxyz `/builddir/build/BUILD/rustc-1.21.0-src/config.toml`. But never mind, looks like it is built using `./configure`.

[2017-10-17 14:25] christianpoveda commented on #45327
If I understand, you want to change `s.find(char::foo)` by

[2017-10-17 14:26] christianpoveda commented on #45327
If I understand, you want to change `s.find(char::foo)` by `s.find(|x| x.foo())`, right?

[2017-10-17 14:54] LeopoldArkham commented on #45327
It would be nice to have both so people still know they can use UFCS syntax (as long as it  takes a char and returns a boolean) which is cleaner in trivial cases.
Perhaps add an example that looks for a delimiter symbol (`-/_.`)

[2017-10-17 14:58] joshtriplett commented on #41079
@pornel made the point that this should be `offset_from`, with the order of the subtraction reversed, which I agree with. (Or, perhaps, both methods should exist.)

[2017-10-17 15:00] joshtriplett commented on #41079
Also, I find it unfortunate that this forces handling the ZST case even if you *know* the pointer type and know that it doesn't point to a zero-sized type.

Could we use traits to provide a method that only *exists* for non-zero-sized types, and then returns `isize`?

[2017-10-17 15:02] oli-obk commented on #45239
LLVM really doesn't like these overflows:

[code]

for

[code]

[2017-10-17 15:31] #45286 closed

[2017-10-17 16:23] main-- commented on #43370
On Arch Linux with stable Rust+LLVM right now:

[code]

[2017-10-17 16:38] steveklabnik commented on #45327
I'd say "add" rather than change, it's nice to show both.

@LeopoldArkham just so you know, it's not UFCS anymore, but [fully qualified syntax](https://doc.rust-lang.org/book/second-edition/ch19-03-advanced-traits.html#fully-qualified-syntax-for-disambiguation).

[2017-10-17 17:15] hussamT commented on #43370
Archlinux's rust doesn't actually depend on llvm-libs. it links statically against llvm.
You can downgrade to llvm4/llvm-libs4, recompile rust (edit out llvm-libs dependency from rust PKGBUILD) and then upgrade back to llvm5.

[2017-10-17 17:24] o01eg opened #45345 "Custom libdir breaks std crate"
I maintain live-ebuild for dev channel. To avoid collision between different rust channels `libdir` should be set to different subdirectory: https://github.com/gentoo/gentoo-rust/issues/287
It worked with `configure` script but was broken after moving to `x.py` script.

`config.toml` file:
[code]
Compiling hello world project:
[code]
If I set `libdir` to `lib64` then rustc works.

`rustc --version

[2017-10-17 17:28] pietroalbini commented on #45330
But that's not the behavior the method had in the previous releases. Isn't better to add a `full_mode` method which returns the unmasked mode? This way existing code doesn't break.

[2017-10-17 17:28] alexcrichton commented on #45188
Ok here's what I did:

* [this script](https://gist.github.com/alexcrichton/9afe958b4b095478e846219c92888088)
* cristicbz/rust-doom@51e88df
* `rustc 1.22.0-nightly (4e9527cf6 2017-10-16)`
* 8-core (4x cores + hyperthread) + SSD + 32GB RAM
* Ubuntu Linux

[Results](https://gist.github.com/alexcrichton/c8fc931019f6f34ba2b425ead5910af1):

**Build entire project from scratch**

Here I just ran `cargo

[2017-10-17 17:32] tpgxyz commented on #45317
@kennytm do you want me to do anything ?

[2017-10-17 17:35] durka commented on #45341
What should it print? `""`? It sounds like you might want to use specialization.

[2017-10-17 17:38] alexcrichton commented on #45188
In the thread about testing ThinLTO some main conclusions I had was:

* Enabling multiple CGUs and ThinLTO requires the compiler to perform more work overall. In general there's just some more management, some synchronization, and especially handling of `#[inline]` in release mode.
* It's not a 100% win for all projects. Some got over 2x faster to compile, some got a few dozen or so percent slower

[2017-10-17 17:53] joshlf commented on #41220
This is now supported by the [sysconf](https://crates.io/crates/sysconf) crate.

[2017-10-17 17:57] joshlf commented on #27716
In #43491, I proposed adding a fourth `Initializing` state between `Uninitialized` and `Valid`. The idea was to allow detection of initialization loops. My particular goal was to support allocators (e.g., elfmalloc relies on crossbeam, which in turn allocates, etc), and I opened PR #43550, but it was eventually closed when we discovered that there was no good way to transition keys into `Initializ

[2017-10-17 18:08] cristicbz commented on #45188
I'm doing another run with the newest nightly, more values for the number of `cgus` and `inline-in-all-cgus`. I'll report back for posterity's sake.

I want that engraved on my tombstone :P

[2017-10-17 18:12] Gankro opened #45346 "borrowck freaks out with patterns in closure args"
The following (valid) program fails to compile with a borrowck error.

[code]

[code]

Removing the pattern match from the closure arguments removes the problem (which doesn't make sense?):

[code]

Random Notes:

* Whether func is passed `&mut` or `&` doesn't matter.
* Whether `for query.iter().enumerate() { ... }` or `query.iter().position(|| { ... })` is used doesn't matter.
* Same on stable an

[2017-10-17 18:13] Gankro commented on #45346
cc @kvark

[2017-10-17 18:15] Gankro commented on #45346
Similar program from @kvark

[code]

[2017-10-17 18:17] Manishearth commented on #27389
Looks like this can be stabilized?

Both Tor and Firefox need this (Firefox needs to be able to ensure the allocator is system, tor needs to be able to set it to tor_malloc and tor_free).

The docs are already written and need to be moved.

There is a small bug in https://github.com/rust-lang/rust/issues/44113 but we can ship with this bug. I can also try to fix that.

Anyone mind me making a stab

[2017-10-17 18:19] joshlf commented on #45330
Sure, but it sounds like what you're proposing is still a backwards-breaking change, right? The set{g,u}id/sticky bit wasn't exposed before either.

[2017-10-17 18:20] Gankro commented on #45346
Further reduced:

[code]

[code]

[2017-10-17 18:23] Gankro commented on #45346
Adding a type annotation makes it compile(???):

[code]

[2017-10-17 18:44] alexcrichton commented on #45188
Fair point!

[2017-10-17 18:47] kennytm commented on #45317
Nope for me.

[2017-10-17 18:54] alexcrichton commented on #27389
@Manishearth ah that's what [the ticky boxes](https://github.com/rust-lang/rust/issues/27389#issuecomment-336957393) are for (although help with the actual PR when that's ready would be greatly appreciated!)

[2017-10-17 19:25] arielb1 commented on #44832
I have a fix for this in a local branch

[2017-10-17 19:26] alexcrichton opened #45347 "ThinLTO breaks MSVC `_imp_` symbols"
I believe this is a minimization of [this reported issue](https://internals.rust-lang.org/t/help-test-out-thinlto/6017/51?u=alexcrichton):

[code]

[2017-10-17 19:50] pietroalbini commented on #45330
Yeah, even that is a breaking change, but it affects way less use cases (things breaks only if the node has the set{g,u}id/sticky bit, which isn't so much common), while the current code affects all the calls to the method. Also, I think the motivation in #44147 is still valid, and that needs only a `0o7777` mask.

I'm ok with either masking to `0o7777` or reverting to the previous behavior, it's

[2017-10-17 19:59] nikomatsakis commented on #44721
@chrisvittal @mdevlamynck did either of you wind up with any time to take a look? I'm trying to decide if I should be hunting for someone else to take on this task. =)

[2017-10-17 20:05] chrisvittal commented on #44721
@nikomatsakis I have not had any chance to look at it. The mentoring instructions seem straightforward. I'll try to take a look tonight. If I get anywhere, I'll let you know here.

[2017-10-17 20:08] mdevlamynck commented on #44721
@nikomatsakis I may have some time this weekend. And as I said, I really don't mind if someone else is taking over :)

[2017-10-17 20:12] Manishearth commented on #27389
uh lol I wrote that comment two days ago and then left it in a tab and submitted it today. Didn't notice we were in the ticky box phase. great! :D

[2017-10-17 20:15] alexcrichton commented on #45347
I've got a fix for this in the works.

[2017-10-17 20:21] alexcrichton commented on #40921
In https://github.com/rust-lang/rust/pull/45285#issuecomment-337357481 I've discovered something slightly more worrisome (but perhaps not so bad in the long run?). Right now clippy is its own workspace with its own Cargo.lock, but in general we're trying to get all our tools into the same workspace to ensure dependencies are the same. This is mostly a problem for dependencies like Cargo where we d

[2017-10-17 20:21] #45296 closed

[2017-10-17 20:21] #45300 closed

[2017-10-17 20:27] Manishearth commented on #40921
Nope.

I think clippy doesn't particularly need a lockfile, really. It's fine if y'all use your own.

[2017-10-17 20:29] alexcrichton commented on #32838
@joshlf

I'd imagine all implementations today are just a zero-size type or a pointer large, right? Isn't the possible optimization that some pointer-size-types can be zero sized? (or something like that?)

---

@cramertj

Indeed! We've then taken one trait to **three** though. In the past we've never had a great experience with such traits. For example `Box<Both>` does not cast to `Box<OnlyOneTra

[2017-10-17 20:33] joshlf commented on #32838
Yeah, the idea is that, given a pointer to an object allocated from your your type of allocator, you can figure out which instance it came from (e.g., using inline metadata). Thus, the only information you need to deallocate is type information, not runtime information.

[2017-10-17 20:39] ruuda commented on #32838
To come back to alignment on deallocate, I see two ways forward:

 * Stabilize as proposed (with alignment on deallocate). Giving away ownership of manually allocated memory would be impossible unless the `Layout` is included. In particular, it is impossible to build a `Vec` or `Box` or `String` or other `std` container with a stricter alignment than required (for instance because you don't want t

[2017-10-17 20:44] alexcrichton commented on #40921
Oh the worry is less so about lock files but the fact that clippy is its own workspace (so it's not a member of the main rustc workspace)

[2017-10-17 20:48] Manishearth commented on #40921
@oli-obk if we remove the clippy workspace will that break things?

[2017-10-17 20:51] joshlf commented on #32838
I think we may actually be Just Fine (TM). Quoting the [`Alloc` docs](https://doc.rust-lang.org/nightly/alloc/allocator/trait.Alloc.html):

Note that last bullet. If I allocate with a layout with alignment `a`, then it should be legal for me to deallocate with alignment `b < a` because an object which is aligned to `a` is also aligned to `b`, and thus a layout with alignment `b` fits an object all

[2017-10-17 20:59] cristicbz commented on #45188
So using your script (thanks btw!), this what I've got (with `rustc 1.22.0-nightly (4e9527cf6 2017-10-16)`):

|config / cgus|1|2|4|8|16|32|
|-|-|-|-|-|-|-|
|fresh, debug #1|84.241|78.396|66.445|64.908|66.476|67.808|67.748|
|fresh, debug #2|84.017|70.373|66.309|66.053|65.734|68.415|68.423|
|fresh, release #1|164.202|135.773|129.870|122.565|114.855|116.007|126.889|
|fresh, release #2|163.273|143.971

[2017-10-17 21:02] alexcrichton commented on #45188
Ok awesome! Thanks so much for gathering that data! In that case I'll...

[2017-10-17 21:02] #45188 closed

[2017-10-17 21:31] oli-obk commented on #40921
Nope. Let's do it. That was just an optimization for developing inside the clippy repo. But it's not really necessary.

[2017-10-17 21:41] Pirh commented on #29370
The `ExitStatus`, `Output`, and `Stdio` can be checked off now, as well as the default behaviour of `stdin/stdout/stderr`.

The `Command` box can possibly also be checked off (at least it looks good to me, not sure what other detail is needed).

All that's left (I think) is module level documentation, and an explanation of how stdio works in different Windows subsystems.

[2017-10-17 22:15] davidtwco commented on #44109
@nikomatsakis @arielb1

Apologies for how long this is taking and for a further query.

Since my previous comment here I think I've got it working with structs and after speaking with @nikomatsakis in Gitter earlier today, I've added a bunch more tests for cases that I hadn't considered. There are only four tests that still don't pass:

The first of which is related to instantiating a tuple struct

[2017-10-17 22:27] iology commented on #45302
Please note that if you check with the absolute path `Path::new("/path/to/directory").is_dir()`, then the result is "correct".

[2017-10-17 23:19] glaebhoerl commented on #32838
There was an RFC for this recently and it seems very unlikely that it could be done due to compatibility concerns: https://github.com/rust-lang/rfcs/pull/2040

Trait object upcasting on the other hand seems uncontroversially desirable, and mostly a question of effort / bandwidth / willpower to get it implemented. There was a thread recently: https://internals.rust-lang.org/t/trait-upcasting/5970

[2017-10-18 00:02] MCluck90 commented on #45127
I've actually been digging in to this one and would be happy to take it on, if the Rust team agrees it should happen.

Right now, building a binary passes `[[bin]]::name` as the `--crate-name` argument. I've thought of two ways of tackling this.

1.  Don't enforce the snake_case rule when building a binary
2.  Add an optional `--bin-name` flag which can be used for naming the resulting binary. Def

[2017-10-18 01:18] alexcrichton commented on #36897
This is [done now](https://github.com/rust-lang/rust/blob/f6d7514545cbe83e771a400d04049b96dfb210cd/src/librustc_trans/back/linker.rs#L671-L683)

[2017-10-18 01:18] #36897 closed

[2017-10-18 01:18] alexcrichton commented on #37130
I'm going to close this because unfortunately the pastebins are gone

[2017-10-18 01:18] #37130 closed

[2017-10-18 01:21] alexcrichton commented on #37952
Looks like this has since been fixed! Doesn't crash on today's stable.

[2017-10-18 01:21] #37952 closed

[2017-10-18 01:23] alexcrichton commented on #38724
Nowadays we even have more special treatment of `emcc.bat`, so I think this may just be a necessary evil for now :(

[2017-10-18 01:23] #38724 closed

[2017-10-18 01:24] alexcrichton commented on #38803
I believe we've since implemented the "runner" configuration in Cargo, which I believe solves this.

[2017-10-18 01:24] #38803 closed

[2017-10-18 01:45] alexcrichton opened #45351 "LLVM assert with SIMD and Emscripten"
Fails with:

[code]

full error:

[code]

[2017-10-18 02:05] scottmcm commented on #45336
Did you get any warnings?  `foo(Err(bar)?)` ought to know that `foo` is dead there...

[2017-10-18 02:58] QuietMisdreavus commented on #44229
Update: [The blog post is live](https://blog.guillaume-gomez.fr/articles/2017-09-18+New+rustdoc+rendering+common+errors), and points to this tracking issue. There's an accepted (but not yet merged, as of this writing) PR (https://github.com/rust-lang/rust/pull/45324) that will switch on the warnings all the time. At that point, it's a matter of waiting for our desired warning cycle.

[2017-10-18 03:13] retep998 commented on #32838
@ruuda I was the one who wrote that `alloc_system` implementation originally. alexcrichton merely moved it around during the great allocator refactors of `<year>`.

The current implementation *requires* that you deallocate with the same alignment specified that you allocated a given memory block with. Regardless of what the documentation may claim, this is the current reality that you must abide b

[2017-10-18 03:28] wesleywiser commented on #45238
I've pushed up a commit for review that implements the first two parts of this. I'd like to get some feedback on that and make sure I'm doing this correctly before continuing with the rest. I called these queries "untracked queries" instead of "eval always queries". If you like the other name better, I'd be happy to change it.

[2017-10-18 04:03] LinearZoetrope commented on #45336
Nope, no warnings were generated.

[2017-10-18 06:46] retep998 commented on #27438
As an extreme solution to the problem of `dllimport`/`dllexport` between crates, we can ditch the `dylib` crate type completely. Thus rust crates will always be statically linked together so we can simply never apply `dllimport` or `dllexport`.

FFI currently has this working *mostly* thanks to `kind=dylib` applying `dllimport` and `kind=static-nobundle` not applying `dllimport`. We just need `kin

[2017-10-18 09:21] pnkfelix opened #45357 "clippy_lints is breaking the stage1 build"
Atop commit f6d7514545cbe83e771a400d04049b96dfb210cd , I am trying to build Rust. I have deleted my `build/` subdirectory, and I have even attempted to build from the root directory (`rust.git`), even though I usually put specific `config.toml` into subdirectories (to maintain separate debug and release builds)...

But on both Linux and Mac OS X, I am getting the same basic end result when I try t

[2017-10-18 09:24] pnkfelix commented on #45357
cc @Manishearth @llogiq @mcarton @oli-obk

[2017-10-18 09:30] pnkfelix commented on #45357
cc @45177

[2017-10-18 09:33] michaelwoerister commented on #45238
Thank you, @wesleywiser! I'll comment on the PR.

[2017-10-18 09:33] kennytm commented on #45357
@pnkfelix Could you show your `config.toml`, if any, and how the `x.py` command is executed?

[2017-10-18 09:35] pnkfelix commented on #45357
@kennytm yeah I just realized I should add that info.

I added the command invocation to the transcript. There is no `config.toml` in my root directory.

The relevant part of the command invocation, I think, is: `RUST_BACKTRACE=1  ./x.py build --stage 1`

[2017-10-18 09:36] kennytm commented on #45357
@pnkfelix thanks!

----

cc #44629 — building compiler doc also failed by "libproc_macro" not found, may be relevant.

[2017-10-18 09:37] pnkfelix commented on #45357
ah so this might be specific to stage 1. I'll add that to the title

[2017-10-18 09:38] Manishearth commented on #45357
This isn't a clippy issue, this is  a bug with rustc/cargo wrt dylibs that's been around for ages. It's only cropping up now more because custom derives are a thing (but it always used to be a problem with plugins)

[2017-10-18 09:39] Manishearth commented on #45357
This same issue breaks the internals rustdoc build.

[2017-10-18 09:45] pnkfelix commented on #45357
@Manishearth its a clippy issue if clippy being added to our tree breaks the work flow for stage1 builds. :(

[2017-10-18 09:52] Manishearth commented on #45357
Yes, I mean that this isn't a bug that can be fixed in clippy; it's a longstanding bug with dylib loading with rustc.

[2017-10-18 09:57] arielb1 commented on #45357
So this is a rustbuild bug - we should just avoid building clippy in stage1.

[2017-10-18 10:14] hannobraun opened #45358 "Struct field documentation and `#[cfg(...)`"
Consider the following code:
[code]

I would expect this to compile in any configuration. Only one version of `field` can ever exist. The doc comment should apply to the version of `field` that is being compiled.

However, if I compile this (without specifying any features), it fails:
[code]

If I specify `feature`, it builds without problems:
[code]

`cargo doc`'s behavior is consistent  with the

[2017-10-18 10:16] kennytm commented on #45357
It is also breaking stage0. I agree with @arielb1, `build` without any path should only build `src/librustc` and `src/tools/rustdoc`, nothing more.

@pnkfelix You could workaround by explicitly passing the path, i.e. `./x.py build --stage 1 src/librustc`.

[2017-10-18 10:20] pnkfelix commented on #45357
Should the `ToolStates` structure be a mapping `(tool, stage) -> ToolState` instead of just a mapping from `tool -> ToolState`? I'm trying to figure out the right way to represent this knowledge about which tools can be built via the stage1 rustc vs which ones require the stage2 rustc.

[2017-10-18 10:24] kennytm commented on #45358
It is working as expected. The doc-comment is only attached to `field: u32`. If you don't supply the feature, the field alongside the doc-comment will be removed. If you need to retain the doc-comment in both configurations, duplicate it.

[code]

[2017-10-18 10:34] hannobraun commented on #45358
Hmm, that's what I feared.

I encountered this problem in a situation where it's important for the user to know that the field can appear in different versions. Hence, both versions of the documentation need to reference both versions of the field. Which means, I effectively need the same doc comment twice.

Probably not a big deal though. Thanks for your reply!

[2017-10-18 10:34] #45358 closed

[2017-10-18 10:37] kennytm commented on #45358
@hannobraun If all those fields only differ by `u32` vs `u64`, you could define a common type alias, so you only need to document once:

[code]

[2017-10-18 10:41] hannobraun commented on #45358
@kennytm Oh, that's a neat idea! The `u32`/`u64` thing was just for the sake of example, but your technique could apply to my real-life problem anyway. Thank you!

[2017-10-18 11:07] michaelwoerister commented on #45320
This is very interesting. One would think that ThinLTO-driven inlining should always have to do less work when our much more conservative pre-LLVM inlining. But that doesn't always seem to be the case, as in the [rust-doom crate](https://github.com/rust-lang/rust/issues/45188#issuecomment-337305956). Most tests on the [irlo thread](https://internals.rust-lang.org/t/help-test-out-thinlto/6017) seem