[2021-04-03 15:11] chemsaf3 commented on #83635
@ehuss @ChrisDenton already provide exact steps

[2021-04-03 15:15] tyt2y3 commented on #25517
Thanks a lot! You saved my day :)

[2021-04-03 15:59] ChrisDenton commented on #83635
@chemsaf3 I'm an unable to reproduce this issue without the `rust-src` component installed. It would help if you could create your own issue with the exact steps you've taken so I can try to reproduce that.

[2021-04-03 16:17] Jaimeloeuf opened #83812 "Conflicting compiler type inference result"
Hello, thanks for taking your time to read this issue. I believe I am facing a compiler bug issue, but if it is not, please do let me know and would be great if you can point me to some resource regarding this! Thanks 🙏🏻

---

I am trying to convert methods on a Compiler struct of type ParseFnBase into functions of type ParseFn using a macro. The way I want to do this, is to create a wrapper funct

[2021-04-03 16:32] the8472 commented on #77404
Optimizations are far from perfect, we have a lot of code that aims to make things more efficient.

There always has to be a first, so that's not a strong argument. `advance_by` basically is a seeking method for the explicit purpose of skipping further ahead into an iterator. So it's the ideal place for not doing unnecessary work.

There's prior art for that, the java stream API explicitly [doesn'

[2021-04-03 16:41] SNCPlay42 commented on #83812
I suspect that the types of `parse_fn` are inconsistent between different invocations of the macro. The diagnostics should have notes saying which invocations of the macro actually caused the error, but they don't appear to have their locations noted in your screenshots (rust-analyzer/rls bug? Are the locations themselves highlighted?). Are they indicated if you run `cargo check` in a terminal?

[2021-04-03 17:04] petrochenkov commented on #80251
Fixed in https://github.com/rust-lang/rust/pull/83814.

[2021-04-03 17:14] Frizi commented on #62529
I've got two new reproductions, smaller than anything previously on the list.

One with lifetime on the impl type and one trait.

Example with lifetime on the trait: ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=881d9d9cf3cf7599099fd272926e6ea2))
[code]

Example with lifetime on the impl: ([playground](https://play.rust-lang.org/?version=stable&mode=debug&ed

[2021-04-03 17:26] sollyucko commented on #77404
Perhaps it could be useful to have a version of `Iterator`, `map` (this is what makes the most sense to me), or `advance_by`, or a method on `Iterator` similar to Java's `ordered` and `parallel`, that allows skipping or duplicating side-effects, where that behavior is useful, while retaining the current behavior for code that doesn't opt in?

[2021-04-03 17:43] torhovland opened #83817 "ICE: unstable fingerprints for optimized_mir(rustc_middle)"
This is happening when building Rust on WSL2 on Windows. `./x.py build` completes successfully, but `./x.py install` fails.

My `config.toml` looks like this:

[code]

### Error output

[code]

[2021-04-03 17:48] the8472 commented on #77404
Since `advance_by` is a new method I am suggesting making its use that opt-in.

Having separate opt-in methods would be a lot trickier in rust because Java has a private default implementation which examines and optimizes the whole stream pipeline while in Rust the adapters operate more independently and talk less to each other. Propagating behavior backwards without introducing new fields in each

[2021-04-03 17:48] recatek commented on #40552
This is a significant footgun for those just learning Rust, without extensive technical backgrounds. Windows explicitly prompts you to use your real name as your username, and includes that as part of your path, so it's a reasonable expectation that newer users of Rust will have a username containing personal information. Rust tutorializes users to build on their own machine by opening a terminal

[2021-04-03 17:53] Darthfett opened #83818 "Panic using rocket-include-static-resources on nightly rust"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

[code]

</p>
</details>

[2021-04-03 17:56] kevincox commented on #77404
Also note that the compilers definition of side effects is very different than a programmers may be. For example you may use `.map()` to map ids to objects by looking them up from the filesystem, a database or a network request. It would be very helpful to avoid these calls when the result isn't necessary.

[2021-04-03 18:02] sollyucko commented on #77404
Hmm, that's true... But what about `map_assume_no_side_effects` (bikeshed) only affecting *its* mapping function? It would also have the advantage of guaranteeing that if you use the normal version of `map`, the side effects always happen sequentially, even if you allow calling code to use the iterator.

Unless there are any cases where you would want to sometimes skip side effects and sometimes e

[2021-04-03 18:08] AngelicosPhosphoros commented on #73338
Created PR with fix.

[2021-04-03 18:22] petrochenkov commented on #83311
I'm seeing this error again after updating the compiler/library from upstream and rerunning the test suite.

[2021-04-03 18:22] eggyal commented on #83812
It's also a bit odd that the `$parse_fn` meta-variable is of type `expr`, when it appears to be expanded as (a path to) a function name?

[2021-04-03 18:22] the8472 commented on #77404
There also are `intersperse` (we could skip a lot of `.clone()` calls there) and `intersperse_with`.

So duplicating those would require several adapter structs and copy-paste (or macros) rather than just implementing `advance_by` on existing adapters. And of course we would have to repeat that exercise for any new adapters that take functions.

[2021-04-03 18:24] petrochenkov commented on #83311
Another one from `src/test/ui/async-await/issues/issue-64964.rs` (also disappears after removing the incremental directories):
[code]

[2021-04-03 18:26] Timmmm commented on #83805
Aha, that worked perfectly, thanks! Are the options for `build-std` documented anywhere? I guess I'll close this since it is tracked elsewhere.

[2021-04-03 18:27] #83805 closed

[2021-04-03 18:27] sollyucko commented on #77404
Hmm, that's true... I guess you could instead make wrapper structs, but there would still be a lot of boilerplate, although probably per-method rather than per-implementor... Also, for `map`/etc. callers that want to opt out, that could also be added, by delegating everything except `advance_by`, which would use the default instead...

[2021-04-03 18:28] jyn514 commented on #83817
@torhovland as a workaround, you could set `incremental = false` in config.toml.

[2021-04-03 18:29] eggyal commented on #83808
In the general case, it is of course impossible to statically check (at compile-time) for overflow: the exceptions are where operations involve only const expressions: which is of course what's happening here.  It's nice that the compiler is able to spot many of those cases and provide a compile-time error, but if your arithmetic might overflow you really ought to be using checked operations anywa

[2021-04-03 18:29] the8472 commented on #77404
Actually there are hypothetical optimizations that could skip those. E.g. if you take an iterator from a sorted collection such as `BTreeSet` and do `.filter(...).min()` then it can bail out as soon as it finds the first filtered element without evaluating the rest because it knows that the source is sorted and the min elements come first.

The same can be done with `DoubleEndedIterator` on a sort

[2021-04-03 18:34] Jaimeloeuf commented on #83812
@SNCPlay42 thanks for getting back!

1. To prevent inconsistencies, I have already tested by removing all except 1 invocation of the macro. And made sure that the macro invocation does indeed match function type ```ParseBaseFn```
2. No the locations are not highlighted. Only the single line in the macro.
3. I stripped out all other invocations to the macro and reverted the macro code to be the sam

[2021-04-03 18:34] petrochenkov commented on #29596
Cargo now supports passing `-C link-arg` options to `rustc` in reasonable way via `cargo:rustc-link-arg*` directives in build scripts, so   the attribute can be removed now.

I've submitted a PR doing that - https://github.com/rust-lang/rust/pull/83820.

[2021-04-03 18:41] Jaimeloeuf commented on #83812
@eggyal thanks for pointing that out!

I am not exactly aware that I can use ```path```. So I gave it a try. After converting all to path, it the same issue still exists.

Also, from my understanding of [meta-variables](https://doc.rust-lang.org/reference/macros-by-example.html#metavariables) and [expr](https://doc.rust-lang.org/reference/expressions.html) meta-variable type, isnt a "function poin

[2021-04-03 18:43] the8472 commented on #77404
For an opt-out we could do  `.map(...).has_sideffects()` which indicates that the previous adapter has side-effects that must be evaluated as if the iterator were driven to completion by a dumb `while let Some(_) = iter.next() {}` loop without any smartness in the other adapters (other than short-circuiting guaranteed by those adapters). It *may* also disable some optimizations in preceding or fol

[2021-04-03 18:48] ehuss commented on #83805
`build-std` documentation is at https://doc.rust-lang.org/nightly/cargo/reference/unstable.html#build-std

[2021-04-03 18:52] Aaron1011 commented on #83311
The second issue seems like an issue with the incremental cache not getting invalidated when the compiler version is changed. Normally, that happens because the nightly compiler date changes, but I think it might not be happening with a locally built compiler (since the version suffix is always `-dev`). I don't think it has anything to do with the original issue.

[2021-04-03 19:00] torhovland commented on #83817
@jyn514 Thanks, that works!

[2021-04-03 19:36] r00ster91 commented on #83808
Fair enough! Rust already does a nice enough job anyway.

[2021-04-03 19:36] #83808 closed

[2021-04-03 19:43] camelid commented on #83035
👍

Hmm, what do you mean? Are you saying I should show only the computed value, or should not?

[2021-04-03 19:57] XX opened #83823 ""Use after free" bug with closure args lifetime casting"
When I cast closure with references to the function pointer with static lifetime, use after free occurs instead of a compile error:

[code]
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4912715c86b8cee5680758d3ee484f88

[2021-04-03 20:04] GuillaumeGomez commented on #83035
The computed value, you said:

So I guess it's up to debate and not decided yet. ;)

[2021-04-03 20:13] camelid commented on #83035
Yeah, perhaps let's cc @rust-lang/rustdoc for discussion.

[2021-04-03 20:31] jonas-schievink commented on #83823
Duplicate of https://github.com/rust-lang/rust/issues/25860

[2021-04-03 20:31] #83823 closed

[2021-04-03 20:44] slightlyoutofphase commented on #83133
Got busy with some other stuff, but I've now opened a PR that make those changes, which do accomplish what you thought they would.

[2021-04-03 21:27] torhovland commented on #10971
@rustbot claim

[2021-04-03 22:11] SkiFire13 commented on #83782
I think the problem is that `wfcheck::check_item_fn` calls `normalize_associated_types_in` with the span of the whole function:

https://github.com/rust-lang/rust/blob/97717a561844eccbb6d6cc114adb94a8fa4e0172/compiler/rustc_typeck/src/check/wfcheck.rs#L613

Then that span ends up in `<InferCtxt as InferCtxtExt>::partially_normalize_associated_types_in` where it is used to create an `ObligationCaus

[2021-04-03 22:16] jyn514 commented on #83035
I think we should normalize the constant wherever possible. Ideally I'd like the show the original source as a comment, but I would rather omit that than have it be inconsistent if it's a cross crate reexport.

[2021-04-03 22:23] AngelicosPhosphoros commented on #80989
It looks like adding `loop-unswitch` pass puts this comparison out of the loop.
[godbolt link](https://godbolt.org/#z:OYLghAFBqd5QCxAYwPYBMCmBRdBLAF1QCcAaPECAM1QDsCBlZAQwBtMQBGAFlJvoCqAZ0wAFAB4gA5AAYppAFZdSrZrVDEArkIKkR7ZATx1KmWugDCqVpoC2tEAGYZpM%2BgAyeWpgBydgEaYxCAATKQADqhChMa0Vjb2Ti6R0UZ0nt5%2BtoHBYfqYhrEMBMzEBPF2Ds56mAZptMWlBBm%2BAUGheiVlFYnVOk0tWTmhAJR6qJrEyBxS4Zr%2BANRUtAsEmDoQqjog2ngAXpikC8i

[2021-04-03 22:53] AngelicosPhosphoros commented on #79308
It looks like that this removed on nightly now.
[godbolt link](https://rust.godbolt.org/#z:OYLghAFBqd5QCxAYwPYBMCmBRdBLAF1QCcAaPECAM1QDsCBlZAQwBtMQBGAFlJvoCqAZ0wAFAB4gA5AAYppAFZdSrZrVDEArkIKkR7ZATx1KmWugDCqVpoC2tEACZSZ9ABk8tTADk7AI0xiEABWUgAHVCFCY1orG3sncMjoug8vX1sAoND9TEMYhgJmYgI4uwdnXPy6QuKCNJ9/QJC9IpKyhMq2%2Bs9GzObggEo9VE1iZA4pAFIZAEEpxwBmKeCAIU9WXogvADdAwZWAERnZsM0/AGoqWgu95AB9Fh0ITzOCEAuANTyp

[2021-04-03 23:01] Aaron1011 commented on #71249
There are a lot of items under 'Unresolved Questions', but I don't think most of them need to block stabilization. Integrating cargo warnings and emitting JSON messages can all be added later - displaying some future-incompat messages is better than displaying none.

Performance-wise: we are already unconditionally replaying the output cache regardless of whether or not the feature is enabled, and

[2021-04-03 23:29] the8472 commented on #79308
That's true for `Copy` types because I implemented a specialization for that purpose. It's still true for types not implementing Copy, e.g. newtypes. I'll update my initial post.

[2021-04-03 23:32] davidspies commented on #82406
@tgnottingham Is there a way to ask someone else to take it on? Also, how do I get rid of the "needs-mcve" tag?

[2021-04-03 23:42] richkadel opened #83830 "Move coverage tests from run-make-fulldeps to run-make"
I tried to do this recently and it failed. Some things to remember:

- Search for and replace references to `run-make-fulldeps`
- Update path to `../../run-make-fulldeps/tools.mk` from just `../tools.mk`
- `bootstrap` has an explicit reference to `fulldeps` in `test.rs` to build `RustDemangler` and set `--rust-demangler-path`, which should be changed to support the move to `run-make` without `full

[2021-04-03 23:54] jyn514 commented on #82406
@davidspies do you mean https://github.com/rust-lang/rust/issues/82406#issuecomment-783664175 for the MCVE? I think it might still be nice to get it smaller (at least no dependencies).

[2021-04-04 00:27] AngelicosPhosphoros commented on #78745
Clang fails that too but GCC doesn't. Likely to be LLVM missed optimization.
[godbolt](https://godbolt.org/#z:OYLghAFBqd5QCxAYwPYBMCmBRdBLAF1QCcAaPECAM1QDsCBlZAQwBtMQBGAFlJvoCqAZ0wAFAB4gA5AAYppAFZdSrZrVDIApACYAQjt2kR7ZATx1KmWugDCqVgFcAtrRDaA7KSvoAMnlqYAHLOAEaYxG4ArKQADqhChOa0do4ubp5xCWZ0fgHBTmER2tHGmKZJDATMxAQpzq4eRpgm2bSV1QS5QaHhUUZVNXVpjUIDnf7dBb3FAJRGqA7EyBxSAPSrANQAKgCeMZgbOwvEG2hYGwjhmKQbJBus

[2021-04-04 00:37] AngelicosPhosphoros commented on #75598
This is not true for `opt-level=1`, AFAIK. In this mode, LLVM runs [always-inline](https://llvm.org/docs/Passes.html#always-inline-inliner-for-always-inline-functions) which inlines functions without much thinking.
In higher optimization levels this pass doesn't run and `inline(always)` becomes hint.

[2021-04-04 00:39] AngelicosPhosphoros commented on #74362
It would be cool if this calls get inlined in `-C opt-level=1`. This would improve performance of debug builds of engines like bevy, compiled with weak optimizations.

[2021-04-04 00:42] AngelicosPhosphoros commented on #75052
Only if code builded with `-C codegen-units=1` because otherwise crate splitted into few translations units and compiler cannot inline between them.

[2021-04-04 01:16] RDambrosio016 opened #83832 "Rustdoc should show Unstable notices next to re-exported items"
See https://doc.rust-lang.org/std/prelude/v1/index.html
`asm` is unstable, however there is no unstable tag showing that, it would be nice if it would, just so it can be seen at a glance without going to their respective pages.

cc @jyn514

[2021-04-04 01:19] jyn514 commented on #83832
Note that rustdoc already does something similar for `doc(cfg)`: ![image](https://user-images.githubusercontent.com/23638587/113495852-4d841480-94c2-11eb-9a05-8be8e5ae3221.png)
It could use a similar format for re-exports.

[2021-04-04 01:20] jyn514 commented on #75760
@emanuellima1 I'm not sure how to fix the underlying issue that diagnostics aren't deduplicated, but another short-term fix is to not send the duplicates to rustc_error in the first place somehow.

[2021-04-04 01:21] RDambrosio016 commented on #83832
Really could just copy the existing `Experimental` tags (see https://doc.rust-lang.org/std/index.html -> asm) and put em after the path.

[2021-04-04 02:21] jyn514 commented on #83761
Done in https://github.com/rust-lang/rust/pull/83833 (although I need to clean it up before it can be merged).

[2021-04-04 02:26] carado commented on #83291
(for anyone running into this issue often enough that `cargo clean -p` is annoying to run every time, if you don't mind the recompilation time you can use `export CARGO_INCREMENTAL=0` to disable incremental compilation)

[2021-04-04 02:32] coolreader18 opened #83834 "False positive for unstable_name_collisions lint"
Cargo.toml:
[code]
lib.rs:
[code]
on `cargo c`:
[code]
Fixing the original error by adding a suffix to the integer literal gets rid of the unstable_name_collisions warning as well. This doesn't give the unstable_name_collisions warning:
[code]
Maybe rustc is noticing that `Integer` is implemented for exactly the same set of types that a bare integer literal could be? And it assumes that since that

[2021-04-04 03:01] jyn514 commented on #83761
This isn't currently possible because resolving `Self` goes through the TyCtxt to get the name instead of the resolver: https://github.com/rust-lang/rust/blob/2616ab1c57e2d69f989307389b27ee996ed82575/src/librustdoc/passes/collect_intra_doc_links.rs#L868-L885

Here is a fix (it uses a tcx currently, but the same API is available on CStore): https://github.com/rust-lang/rust/commit/5d5be028b318ed7e5

[2021-04-04 03:05] jyn514 commented on #83761
Oh wait no I'm dumb, https://github.com/rust-lang/rust/commit/5d5be028b318ed7e542bf238ebf2fc009a830a5a only helps if the item isn't an impl block. @petrochenkov Is there a way to resolve the `Self` type of an impl block? I tried `resolver.resolve_str_path_error(DUMMY_SP, "Self", TypeNS, self_id)`, but that panics because it's not a module.

If not it's not a *giant* deal, I'll just have to figure

[2021-04-04 03:52] chengniansun opened #83836 "ICE: compiler/rustc_metadata/src/rmeta/decoder.rs:1233:18: cannot get associated-item of `DefKey { parent: Some(DefIndex(37465)), disambiguated_data: DisambiguatedDefPathData { data: TypeNs("None"), disambiguator: 0 } }`"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-04-04 04:01] chengniansun opened #83837 "ICE: 'Index `320440878` must be in bounds of vector type `u16`: `[0, 2)`', compiler/rustc_mir/src/interpret/intrinsics.rs:419:17"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-04-04 04:04] pickfire commented on #83232
Just saw this in the wild.

[code]

But clap aliases rather than doc aliases. https://github.com/clap-rs/clap/blob/6ce1e4fda211a7373ce7c4167964e6ca073bdfc1/clap_derive/examples/subcommand_aliases.rs#L13

So it is still possible someone might try this.

[2021-04-04 04:13] jyn514 commented on #83761
Ugh, I have to figure out how to replicate this bit somehow: https://github.com/rust-lang/rust/blob/2616ab1c57e2d69f989307389b27ee996ed82575/src/librustdoc/passes/collect_intra_doc_links.rs#L1824-L1833
Maybe the early pass could do that? I think the late pass for type-relative paths will need to have a partial resolution anyway, so it shouldn't be *too* much more work.

[2021-04-04 04:18] the8472 opened #83838 "UI tests `linkage-detect-local-generated-name-collision.rs` and `linkage-detect-extern-generated-name-collision.rs` trigger LLVM asserts when compiled with CGUs = 1"
This was discovered in https://github.com/rust-lang/rust/pull/81942#issuecomment-812958466 which lowers the default CGU count to 1. The tests were modified to explicitly request 16CGUs to make them pass, but the underlying issue remains.

This should be reproducible by setting `assertions = true` in config.toml and running `./x.py test --stage 1 src/test/ui` on commit 01c682043d3632dab421c263b8a22

[2021-04-04 06:56] rainliu opened #83840 "error: internal compiler error: compiler/rustc_mir/src/transform/generator.rs:751:13: Broken MIR: generator contains type"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-04-04 08:22] petrochenkov commented on #83761
`rustc` keeps the "current impl" (or other item providing `Self`) in the late resolution visitor walking AST (see `fn with_self_rib_ns`).
The analogous visitor in rustdoc is `IntraLinkCrateLoader` right now.

I'm not sure how rustdoc resolves `Self` now, but it cannot do it through `Resolver` because resolver doesn't provide any methods able to resolve it. So it's probably fine for rustdoc to just

[2021-04-04 09:05] SNCPlay42 commented on #83840
Reduced:

[code]

So this is a duplicate of #83737.

[2021-04-04 09:12] nikic commented on #78745
Upstream fix for the additional case mentioned in https://github.com/rust-lang/rust/issues/78745#issuecomment-721878988: https://github.com/llvm/llvm-project/commit/72e0846ef87d0d3b5960238bc47fc0cc6f04d848

[2021-04-04 09:22] SNCPlay42 commented on #83836
Output on stable 1.51 and beta:

[code]

---
searched nightlies: from nightly-2021-03-20 to nightly-2021-04-04
regressed nightly: nightly-2021-04-01 (#76814)
searched commits: from https://github.com/rust-lang/rust/commit/74874a690bc95443292496ff5df5cc5c8cb56e0b to https://github.com/rust-lang/rust/commit/4fdac23f3171e2f8864d359a21da600dd3faafc9
regressed commit: https://github.com/rust-lang/rust/

[2021-04-04 09:24] SNCPlay42 commented on #83836
This looks very similar to #83753.

[2021-04-04 09:37] Nemo157 commented on #83035
Normalization sounds good to me too, except for byte strings, these do have some major utility from being shown as their written form.

[code]

[2021-04-04 10:03] Amanieu commented on #80268
[code]
Trying to reduce...

[2021-04-04 10:17] jrandall commented on #83686
That's very helpful insight, thanks @alexcrichton!

Not sure why I didn't think to mention it, but we did also update to the latest released wasi-sdk at the same time as updating rust 1.50 and clang 11, so this signature mismatch was observed with wasi-sdk 12.0 (https://github.com/WebAssembly/wasi-sdk/releases/download/wasi-sdk-12/libclang_rt.builtins-wasm32-wasi-12.0.tar.gz), rust 1.50, and clang

[2021-04-04 10:57] Amanieu commented on #80268
Found a different crash while trying to reduce. This seems to be a regression in LLVM 12.

[code]

[code]

[2021-04-04 10:59] eggyal commented on #83834
What version of rustc is this?  1.51 and nightly both produce [E0689](https://doc.rust-lang.org/stable/error-index.html#E0689) instead, at least on [a pared down example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4cfe901b53568a53740e128d1a50bd80).

[2021-04-04 11:36] Frago9876543210 opened #83845 "Compiler cannot statically determinate when destructor for enum actually needed if `#[inline(never)]` used"
In libstd we have enums, that use `Box<T>` inside it's declaration, such as `borrow::Cow` and `io::Error`.
This applies not only to `Box <T>`, but also to types that has `impl Drop for T {}` and used in enums.

This code shows that compiler cannot analyze possible returned enums members and always adds destructor for `Drop` types.
[code]

Assembly:
[code]
The compiler could just skip this check in

[2021-04-04 11:45] SNCPlay42 commented on #83845
No call to `__rust_dealloc` is emitted if `black_box` isn't used. That just seems like `black_box` is working as intended to me - it prevents the compiler from reasoning what `test` actually returned.

[2021-04-04 11:57] ABouttefeux commented on #59053
@rustbot claim

[2021-04-04 11:59] Amanieu commented on #80268
- https://bugs.llvm.org/show_bug.cgi?id=48825
- https://bugs.llvm.org/show_bug.cgi?id=45721 (though not an exact match)

[2021-04-04 12:09] Frago9876543210 commented on #83845
@SNCPlay42
https://godbolt.org/z/3jYcY3W9d
[code]

[code]

[2021-04-04 12:37] jyn514 commented on #83761
Thanks, this is helpful!

Hmm, ok. It can't do precisely the same thing because it uses the tyctxt to look up the type - maybe it could look up the DefKind while visiting the parent item? I have a few different ideas that could work (but I will probably end up just going with "use the DefId directly instead of stringifying" since I think I'll need it anyway).

[2021-04-04 12:42] jyn514 commented on #10971
I had trouble reproducing with `--crate-type lib` and `--crate-type rlib`, but changing rlib to `cdylib` consistently gives
[code]

[2021-04-04 12:44] jyn514 commented on #10971
I think hashing the command line arguments would work.

[2021-04-04 12:45] Frago9876543210 commented on #83845
It seems like this only happens when function not inlined. I updated example code.

[2021-04-04 12:55] torhovland commented on #10971
OK, I just checked that my PR does fix that (using `--temps-dir`).

[2021-04-04 13:09] SkiFire13 commented on #83845
Here the compiler correctly optimized the `drop` in the happy path. Notice how the `call core::ptr::drop_in_place<example::CompilerCheck<i32>>` is only executed during unwinding:

[code]

I don't think you should expect constant folding when explicitly telling LLVM to not inline the function

[2021-04-04 13:27] eggyal commented on #83834
Okay, what's happening here...

In `rustc_typeck::check::method::probe::consider_candidates`, there are two `applicable_candidates`:
* `compiler_builtins::int::Int::wrapping_sub`; and
* `lexical_core::util::num::Integer::wrapping_sub`.

The first of these is unstable:

``DEBUG rustc_middle::middle::stability stability: inspecting def_id=DefId(3:285 ~ compiler_builtins[702f]::int::Int::wrapping_sub

[2021-04-04 14:41] ldm0 commented on #26978
This PR should be reopened:
[code]

[2021-04-04 15:39] nikic commented on #73338
Upstream fix for LLVM: https://github.com/llvm/llvm-project/commit/9bad7de9a3fb844f1ca2965f35d0c2a3d1e11775

[2021-04-04 15:41] jonas-schievink commented on #83834
None of those traits are in scope though, so I'm not sure why they would ever even be considered for method dispatch

[2021-04-04 16:08] GuillaumeGomez opened #83852 "Invalid rendering for function parameters using destructuring"
This code:

[code]

renders the same in rustdoc, whereas it should be rendered like this:

[code]

[2021-04-04 16:13] Jaimeloeuf commented on #83812
@SNCPlay42 and @eggyal I tried to add type annotations to it and now, the conflict/difference is better shown in the pictures below.

![8](https://user-images.githubusercontent.com/44993072/113514821-57ca0f80-95a3-11eb-92e5-09338aa79d9d.PNG)
![9](https://user-images.githubusercontent.com/44993072/113514822-5a2c6980-95a3-11eb-957b-647887e16775.PNG)

As you can see, when I annotate the return value

[2021-04-04 16:37] Amanieu commented on #83495
I'm considering just outright banning the use of `ah` on x86_64 with a note to use `ax` instead.

[2021-04-04 16:38] Amanieu commented on #82886
@tmiasko Is this issue considered fixed by #83328?

[2021-04-04 17:02] the8472 opened #83854 "UI test `issue-64655-extern-rust-must-allow-unwind.rs#thin0` triggers LLVM assert when compiled for i586 target with CGUs = 1"
This was discovered in https://github.com/rust-lang/rust/pull/81942#issuecomment-813048100 which lowers the UI test default CGU count to 1. The test was modified to explicitly request 2CGUs to make it pass, but the underlying issue remains.

A similar errors but affecting different test-cases was also encountered in https://github.com/rust-lang/rust/pull/81825#issuecomment-808791588

Steps to repr

[2021-04-04 17:48] #83268 closed

[2021-04-04 18:03] camelid commented on #83035
Showing evaluated strings and slices seems to be trickier since you have to deal with rustc `Allocation`s.

Yeah, I agree. One issue is that we can't get the information of whether a `&[u8]` came from a byte string from the type system. Would we get that information by looking it up in the HIR?

[2021-04-04 18:09] eggyal commented on #83834
@jonas-schievink:

It's [only for diagnostics](https://github.com/rust-lang/rust/blob/62a49c3bb8e0c82ee40b482f08a21a65f90b874b/compiler/rustc_typeck/src/check/method/probe.rs#L1047)...

<pre>
├─31ms DEBUG rustc_typeck::check::method::probe pick_method(self_ty={integer})
├─31ms DEBUG rustc_typeck::check::method::probe searching inherent candidates
├─31ms DEBUG rustc_typeck::check::method::probe app

[2021-04-04 18:11] RalfJung opened #83856 "Add lint to detect dereferencing of NULL pointers"
I propose we add a lint that detects code like
[code]
Some people seem to think that this is okay in contexts like `&*(0 as *const i32)` or `addr_of!(*(0 as *const i32))`, but that is not the case -- `*` on a NULL pointer is UB even as a place expression.

To implement this, you can use the `invalid_value` lint as a template:

https://github.com/rust-lang/rust/blob/9d8f833e0587b9c3991f94b227369f38

[2021-04-04 18:12] RalfJung commented on #83856
Ah, turns out clippy already has a lint for this `zero_ptr`, so maybe we should just move that to rustc? Cc @rust-lang/clippy

[2021-04-04 18:59] Darthfett commented on #83818
Didn't realize I hadn't upgraded to latest rustc (`cargo update --force` was needed as rustfmt isn't available with any newer version than posted).  This builds with latest version.

[2021-04-04 18:59] #83818 closed

[2021-04-04 19:17] ABouttefeux commented on #83856
@rustbot claim

[2021-04-04 19:20] jyn514 commented on #83035
Could we instead show both by using `span_to_snippet` or something to show the original?

[2021-04-04 19:20] quadruple-output commented on #80967
I usually prefer starting a statement with the variable which is being _assigned_, _checked_, or _iterated_ on. This can increase readability, once you get used to it.

I have to say that I even prefer
`players.iter().for_each(|p| p.take_turn)` _(I wourd like to get rid of `.iter()`, though)_
over
`for p in players { p.take_turn }` _(here, readers have to mentally skip three symbols (`for p in`) u

[2021-04-04 19:24] lopopolo opened #83859 "rustdoc is parsing email link literals in docs as intradoc links in the latest nightly"
I tried this code:

[code]

I expected to see this happen: rustdoc parses the link as an email address and renders it as a mailto: link.

Instead, this happened:

- https://twitter.com/artichokeruby/status/1378788852261736450
- https://github.com/artichoke/artichoke/pull/1152

[code]

### Meta

[code]

(from a GitHub Actions run, the latest nightly won't install on my Arch box due to broken compon

[2021-04-04 19:25] the8472 commented on #76314
I think the following two make sense.

* `from_mut(&mut _) -> &mut Self`, inverse of `get_mut`
* `unsafe from_mut_ptr(*mut _) -> &Self`, inverse of `as_mut_ptr` and does not allow `get_mut`

[2021-04-04 19:25] androm3da commented on #77647
I minimized the failure I'm seeing in rustdoc and it looks like it's this issue and not a separate one.  Is there any workaround or is any `const_evaluatable_checked` expected to see this breakage w/rustdoc?

[code]

[2021-04-04 19:27] lopopolo commented on #83859
This turned out to be a bug in my docs; I didn't intend for this to be rendered as a `mailto:` link, but I was hoping for a better error message.

[2021-04-04 19:32] ABouttefeux commented on #83856
Thanks :)

[2021-04-04 19:38] estebank opened #83860 "E0658 should suggest `if Some(foo) == expr`"
The following output should have emitted a single error and suggested an equality check instead:

[code]

[2021-04-04 19:39] jyn514 commented on #77647
No, there's no workaround that I know of. I don't understand the implementation const generics very well, nor does anyone else on the team.

[2021-04-04 19:49] lopopolo commented on #83859
I think this PR introduced this new behavior: https://github.com/rust-lang/rust/pull/83543.

[2021-04-04 20:25] slightlyoutofphase commented on #83856
@RalfJung

Did you mean something slightly different with your "okay in contexts like" examples, perhaps? Neither of those two actually compile as written, since they're just attempts to deference something that isn't even a pointer. You get:

`error[E0614]: type `usize` cannot be dereferenced`

in both cases.

[2021-04-04 21:19] jyn514 opened #83862 "Rustdoc doesn't warn if links to associated items are ambiguous if primitives are involved"
Rustdoc should give an error if the base res is ambiguous, but it doesn't:
[code]

This was originally discovered through the special case
[code]
which I think *should* continue working, rustdoc shouldn't give an ambiguity error if the module has `doc(primitive)` on it.

_Originally posted by @jyn514 in https://github.com/rust-lang/rust/pull/83849#discussion_r606850759_

## Meta

HEAD is 2616ab1c5

[2021-04-04 21:23] jyn514 commented on #83859
This is weird - rustdoc should be ignoring any link that has `.` in it: https://github.com/rust-lang/rust/blob/8ad6a443cfee83e1f7d29c9ec0de26143c54a617/src/librustdoc/passes/collect_intra_doc_links.rs#L988

[2021-04-04 21:31] jyn514 commented on #83859
Ah I see the issue - `disambiguator_error` should only be reported if the link isn't ignored. @camelid do you have time to fix it? It should be as adding the same check here: https://github.com/rust-lang/rust/blob/8ad6a443cfee83e1f7d29c9ec0de26143c54a617/src/librustdoc/passes/collect_intra_doc_links.rs#L983

[2021-04-04 21:40] eggyal commented on #83852
@rustbot claim cat

[2021-04-04 21:40] eggyal commented on #83852
@rustbot claim

[2021-04-04 22:05] eggyal commented on #83860
I think you must mean for `E0308`(not `E0658`) to suggest `==` whenever a `bool` is expected but an assignment expression found instead?

[2021-04-04 22:10] Flying-Toast commented on #73662
We should probably add a deny lint to rustc that prevents calling `variant_count::<T>()` where `T` is not an enum.

Regarding the API itself though, IMO it feels a bit janky:
- Calling `variant_count` where T isn't an enum is unspecified behavior (a lint would help with this)
- Getting the variant count of an enum with > `usize::MAX` variants is unspecified (although practically impossible, it see

[2021-04-04 23:00] camelid commented on #83035
I feel somewhat opposed to showing both computed and source/pretty-printed constants. In many cases, it's redundant, and it also adds complexity to both the implementation and the behavior of rustdoc.

[2021-04-04 23:03] camelid commented on #83859
Assigning `P-medium` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2383859.20rustdoc.20is.20parsing.20email.20link.20literals.20in.20docs.20as.20in.E2.80.A6) in the prioritization working group.

@rustbot label: +P-medium -I-prioritize

[2021-04-04 23:03] jyn514 commented on #83035
I would rather it be complicated than inconsistent, using HIR means it will be different if you re-export it. If you want rustdoc could hide the comment if it's the same as the pretty-printed expression?

[2021-04-04 23:10] RalfJung commented on #83856
*oops* I screwed up the casts, should be fixed now.

[2021-04-04 23:12] camelid commented on #83035
Hmm, HIR will be have different behavior but the source map will have the same behavior? How does the source map interact with `#![doc(html_no_source)]`?

The issue with that is that floating-point numbers will have different precision depending on whether they came from source or from const-eval: https://doc.rust-lang.org/nightly/std/f32/consts/constant.PI.html. Also, it seems weird that changing

[2021-04-04 23:14] camelid commented on #83035
Interestingly, we seem to never show the value of statics, re-export or not. So, another option is to just never show the value of a constant—though I'm guessing we wouldn't want to do this.

[2021-04-04 23:17] Manishearth commented on #83856
Yeah, happy to have Clippy lints upstreamed to rust, let us know when it's done so we can deprecate it on our end

[2021-04-04 23:19] jyn514 commented on #83035
It doesn't. html_no_source is about the HTML file rustdoc generates, it has no relation to metadata (right now rustdoc doesn't even store it across crates: https://github.com/rust-lang/rust/issues/55957).

I feel like that's useful information though? Hiding that the behavior is inconsistent doesn't make it any less inconsistent: that's something that affects the end-behavior, as opposed to just d

[2021-04-04 23:22] lopopolo commented on #83859
@jyn514 @camelid can part of the fix here be to improve the error message?

"Unknown disambiguator" doesn't tell me much about what is wrong or how to fix it.

[2021-04-04 23:25] jyn514 commented on #83859
@lopopolo I'm confused. After https://github.com/rust-lang/rust/pull/83865 there won't be an error message, because the link shouldn't have been treated as an intra-doc link in the first place. Are you asking for a lint that warns about docs that will be rendered as mailto: links? I'm not sure how useful that is, mailto: links are normal and reasonable to write.

[2021-04-04 23:28] lopopolo commented on #83859
@jyn514 based on the UI tests that are checked in, if I actually intend to use an intradoc link with a disambiguator and fat finger `mod@` as `nod@`, the error message is not super friendly.

[2021-04-04 23:35] jyn514 commented on #83859
Hmm, what would you like to see instead? There's quite a few valid disambiguators, I'm not sure it makes sense to list them all. Maybe we could add a header to the disambiguator section of https://doc.rust-lang.org/rustdoc/linking-to-items-by-name.html and link there?

[2021-04-04 23:39] lopopolo commented on #83859
Ideally I'd like to see a suggestion to use a disambiguator that corresponds to an item that is currently in scope or otherwise resolvable via the path after the invalid disambiguator.

[2021-04-04 23:43] jyn514 commented on #83859
Hmm, that seems useful, although I think it should be a separate issue. Maybe we could try resolving without a disambiguator and see if there are any results? That would need a pretty significant overhaul of how it works currently, right now all the errors are emitted eagerly which would end up with a lot more verbose output that might not be relevant.

What would you expect to see if the link isn

[2021-04-04 23:51] lopopolo commented on #83859
@jyn514 I think an extra `note` to more docs on intradoc link disambiguators would be helpful per your previous comment.

The idea to attempt to resolve items for all invalid disambiguators feels similar to the Ruby CLI and REPL's "did you mean" feature, which I find quite useful.

[2021-04-05 00:32] estebank commented on #83860
I meant on the first one and silencing the second one, but if we only keep the second one and silence the first, that'd be fine with me too, and probably better long term.

[2021-04-05 00:36] jyn514 opened #83867 "rustdoc: Suggest a correct disambiguator if the link is otherwise correct"
Given the following code:
[code]

The current output is:

[code]

Ideally the output should look like:

[code]

This will be tricky because right now resolving links is intermingled with emitting warnings, there's no way to say "will this link resolve".

cc @lopopolo, #83859

[2021-04-05 03:08] hi-rustin commented on #83158
@rustbot claim

[2021-04-05 03:09] Aaron1011 opened #83868 "Duplicate error when impl associated type is not well-formed"
The following code:

[code]

produces the following two errors:

[code]

Only the first error is useful - the second error occurs because we're trying to use the 'malformed' associated type. This can be especially bad when proc-macros are involved, since the span of the return type might not be meaningful. See https://github.com/rust-lang/rust/issues/83383

We should suppress the second error.

[2021-04-05 03:28] vikrantrathore opened #83869 "Rust compiler takes over 26 hours to compile on iMac i5 2012 edition"
Rust compiler is extremely slow and takes over 15 hours to compile on iMac 2012 with i5 processor and 20 GB RAM

[code]

The dependency which triggered the compilation of rust on iMac is rav1e used by formula of ffmpeg.

Because of rust dependency the rust compiler updates to 1.51. 0 version and needs over 26 hours and 23 minuted to compile on iMac and then subsequently update the curl.

Is there

[2021-04-05 03:55] #29596 closed

[2021-04-05 04:05] hi-rustin commented on #78482
Do you mean that we are missing generic_params? I tried constructing generic_params, but it still doesn't seem to work.

[2021-04-05 06:15] eggyal commented on #83869
Homebrew's [curl formula](https://formulae.brew.sh/formula/curl) certainly doesn't depend on Rust—but even if it did, there are official Rust binaries for MacOS so building from source is something only compiler developers typically need to do...

Can you provide some more information around what exactly is taking place here?  If Rust is genuinely being built from source: how is it being bootstrap

[2021-04-05 06:21] #73338 closed

[2021-04-05 06:53] vikrantrathore commented on #83869
This has been running for more than 8 hours now and still ongoing similar to last time when it took over 26 hours.

This is due to brew formula of other software which requires rust compiler.

This kind of rust compiler upgrade is automatically triggered by some of the brew formula which needs rust. As I do not control the brew formula's cannot make that change myself. Although I do not use rust m

[2021-04-05 07:00] vikrantrathore commented on #83869
It's due to upgrade of ffmpeg which uses rav1e as dependency which triggers rust compiler upgrade.

[code]

[2021-04-05 07:06] pksunkara commented on #83227
I just came across this. How does this change the `CARGO_PKG_AUTHORS`? I would need to update [`clap`](https://github.com/clap-rs/clap/blob/master/src/macros.rs#L112-L124) for this.

[2021-04-05 07:15] TrolledWoods opened #83871 "Tracking Issue for CharIndices::offset function"
Feature gate: `#![feature(char_indices_offset)]`

This is a tracking issue for the function ``CharIndices::offset``. It returns the byte position of the next character, or the length of the underlying string if there are no more characters. This is useful for getting ranges over strings you're iterating over.

### Public API

[code]

### Steps / History

- [X] Implementation: https://github.com/ru

[2021-04-05 07:35] eggyal commented on #83869
Looks like that formula will build LLVM from scratch, and then compile to stage-2 (so basically compiles Rust three times)?  Perhaps Homebrew should tweak their formula.  That said, they provide bottles (pre-built binaries) for Big Sur, Catalina and Mojave—so I presume you're on an older version of MacOS than that?  Upgrading would help.  Alternatively, you could try [installing Rust from Rustup](

[2021-04-05 07:38] lf- commented on #83227
Hi! This does not change CARGO_PKG_AUTHORS. All the current changes do is hide the authors field in various websites' UI and make it much harder to accidentally include it in a package as cargo-new does not introduce it. If you handle CARGO_PKG_AUTHORS being empty already (it was allowed to be before these changes, you just couldn't upload such crates to crates.io), you don't have to change anythi

[2021-04-05 07:58] vikrantrathore commented on #83869
iMac 2012 with i5 and 20GB RAM is a reasonably powerful machine and rust takes over 24 hours to compile. So if compilation speed of rust is not an issue it's fine, let me know and will close the issue.

I believe rust should have a good developer experience, but it seems the compilation speed is among the slowest.

[2021-04-05 08:15] slightlyoutofphase commented on #83869
Do you have an SSD in there? Or is it just running the 5400 RPM HDD that iMacs shipped with at that time? `rustc` certainly writes a heck of a lot to disk very often, so mechanical storage of that kind would not exactly be helping the issue in general. Also I believe the i5 in question is an [i5-3330](https://ark.intel.com/content/www/us/en/ark/products/65510/intel-core-i5-3330s-processor-6m-cache

[2021-04-05 08:17] eggyal commented on #83869
Compiling LLVM from scratch and then bootstrapping to a stage-2 compiler is a significant task, one that's only really necessary in rare situations (basically, if you're a compiler developer or are using a platform for which there aren't any pre-built binaries). In those circumstances, it's expected that a build will take some time—although I agree 24 hours seems rather excessive (but there are al

[2021-04-05 08:30] eggyal commented on #83868
Of course, it's perfectly valid for the `impl` to have explicitly replaced the `Self::Assoc` in `my_method`'s return type with `AssertCopy<String>` ... presumably the error should still be suppressed in that case, but doing so presumably requires checking the signature in the trait?

[2021-04-05 08:38] ABouttefeux commented on #83856
@RalfJung for detecting a call like `ptr::null()` you said to use [`TyCtxt::is_diagnostic_item`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/ty/context/struct.TyCtxt.html#method.is_diagnostic_item). However I do not know what to use for the symbol argument. There is `compiler\rustc_span\src\symbol.rs` that defines symbol but nothing looks like creating a null ptr. Should I add one

[2021-04-05 08:40] vikrantrathore commented on #83869
Not sure if compiling from scratch is reserved for compiler developer. I am a user of GNU Guix (https://guix.gnu.org/), and many of my scheme files for building and updating system requires compiling from scratch regularly. Indeed it's very common to compile go or Python in my workflow from sources to produce container images with the philosophy of reproducible computations (http://guix.gnu.org/en

[2021-04-05 08:44] vikrantrathore commented on #83869
I am on 7200 RPM HDD, but feel if go language takes 2 min 46 seconds, python with all its libraries takes 8-9 minutes, nodejs takes 13 minutes, dart takes 13-15 minutes to compile. Rust should be able to compile in a similar way.

[2021-04-05 09:01] hameerabbasi commented on #83764
Bisected:

[code]

[2021-04-05 09:17] RalfJung commented on #83856
You first need to add the diagnostic item attribute to the relevant function inside `library`, like so:

https://github.com/rust-lang/rust/blob/58e71896506edb701f276158bd2f47e8788a1133/library/core/src/mem/mod.rs#L621

This name must be globally unique, e.g. `ptr_null` and `ptr_null_mut`.

Then you add those names to the list in `compiler\rustc_span\src\symbol.rs` (please keep it alphabetically so

[2021-04-05 09:36] torhovland commented on #83860
A similar fix is here:
https://github.com/rust-lang/rust/commit/ea7e885204e1ed6b18406e84708abef748925ec5

I had a look, but couldn't figure out an easy way to detect from one of the error conditions whether or not the other is also triggered.

[2021-04-05 09:39] jyn514 commented on #78482
@hi-rustin I don't know, that's what I mean by investigate. You could start by checking if `generic_params` is empty or not, or whether this code path is being taken at all.

[2021-04-05 09:52] the8472 commented on #83869
If you compile your software from source I assume you already have an LLVM build compiled. You can in principle reuse that for building rust (assuming it's recent enough), but then you'll risk miscompilations since a vanilla LLVM may be lacking backported fixes.

Additionally you can cut some corners by building a stage1 compiler instead of stage2, that'll significantly reduce compile times.

For

[2021-04-05 10:13] thedrow commented on #80967
What do you guys think? I think it's the most ergonomic option as of yet.
It's very common to do these type of things in C++ for example.

[2021-04-05 10:26] jhpratt commented on #80967
@thedrow that wouldn't be unambiguous in all cases. What if you wanted to obtain `Some(closure)`?

[2021-04-05 10:39] vikrantrathore commented on #83869
Correct pre-compiled LLVM and Rust will reduce the time, but this is a workaround for a problem of slow compilation in Rust.

Given rust focus on reproducible builds they needs very specific LLVM version to avoid bugs and this will mean that to have reproducible binary using rust, it's a necessary to spend a lot of money in beefy hardware to compile. It will still take longer than competing system

[2021-04-05 10:49] thedrow commented on #80967
Can you demonstrate how that would be ambiguous?
In the case you're proposing, you'll get a closure just like with any other `Some(closure)` you'd instantiate, no?

[2021-04-05 10:58] nagisa opened #83879 "`cfg(wasm)` unifying `target_arch="wasm32"` and `target_arch="wasm64"`"
In https://github.com/rust-lang/rust/pull/80525 we added to nightly a `cfg(wasm)` which is set when either wasm32 or wasm64 targets are used. We don't have top-level cfg values for other architectures in a similar situation, only for windows vs unix which is set based on the OS.

This ended up being an insta-stable addition due to oversight of mine.

This issue is in order to gather consensus from

[2021-04-05 10:58] nagisa commented on #83879
@rfcbot merge

[2021-04-05 11:00] nagisa commented on #83879
@rfcbot fcp merge

[2021-04-05 12:25] MaikKlein opened #83882 "Private supertraits are not callable on concrete types"
[code]
[code]
![playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=879393576cf236cd81613efe8be51363)

I am reporting this because I believe this is a bug.

Both `meow_dyn` and `meow_static` type check, but calling `.bar()` on a concrete type is currently not possible. Is there a reason for that?

I would expect any of those two cases:

1. `meow_u32` should actually

[2021-04-05 12:33] jyn514 opened #83883 "Rustdoc ignores -W help"
I tried this code: `rustdoc -W help`
I expected to see this happen: Rustdoc prints a list of all lints, the same way rustc does.
Instead, this happened: Rustdoc ignored the flag.

### Meta

`rustdoc --version`: rustdoc 1.53.0-nightly (0b417ab5c 2021-04-03)

[2021-04-05 12:44] leonardo-m opened #83886 "Array-bounds-less Idx wrapper struct?"
This is the current version of my Idx wrapper. Surely this code can be further improved. Its purpose is similar to crates like https://crates.io/crates/index-ext , but its usage is cleaner. It just encodes that an index is in-bounds for an array. Each index gets tested when it is created. Then it's usable without bound tests for any array of the same length or longer. This is useful because LLVM i

[2021-04-05 12:52] virtualritz opened #83887 "Internal compiler error: unexpected panic"
### Code

[code]

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

[2021-04-05 13:18] jyn514 opened #83888 "Incorrect 'unused extern crate warning' with `extern crate alloc`"
I tried this code:

[code]

I expected to see this happen: No warning, because removing the extern crate gives an error:

[code]

Instead, this happened:
[code]

I think either the lint shouldn't fire or the compiler should somehow know the available feature gates ahead of time.

### Meta

`rustc --version --verbose`:
[code]

[2021-04-05 13:34] Amanieu commented on #76738
I've added a version check for LLVM 10.0.1 in #83889.

[2021-04-05 13:47] #77583 closed

[2021-04-05 13:47] #81522 closed

[2021-04-05 13:47] #83852 closed

[2021-04-05 13:47] #83133 closed

[2021-04-05 13:49] Amanieu commented on #83879
Related: https://github.com/rust-lang/stdarch/pull/974

[2021-04-05 13:58] jyn514 commented on #81930
Huh, #82739 seems to have also fixed `x.py check --stage 0`.

[2021-04-05 14:01] JohnTitor commented on #83504
Triage: Indeed this should be a duplicate of #82290, and #82308 has a regression test that should cover the issue, closing as fixed/duplicate.

[2021-04-05 14:01] #83504 closed

[2021-04-05 14:01] jyn514 commented on #81930
`x.py check --stage 1 src/tools/rustdoc` seems to still be broken. But that seems weird to need, almost nothing in rustdoc should need cfg(bootstrap).

[2021-04-05 14:12] Amanieu commented on #76738
It turns out this check is not needed, intel syntax works fine on 10.0.0.

[2021-04-05 14:12] #76738 closed

[2021-04-05 14:13] eggyal commented on #83883
`-W help` option is parsed into `librustdoc::config::Options::describe_lints`, but is then ignored:

https://github.com/rust-lang/rust/blob/39eee173fbcc21462d255b364b87715cd33b62db/src/librustdoc/config.rs#L100-L102

It should be pretty straightforward to instead call `rustc_driver::describe_lints` when this flag is set.

@rustbot claim

[2021-04-05 14:15] alexcrichton commented on #31343
Unfortunately there's no real story for something like `println!` to work on the wasm32-unknown-unknown target. Panics can work, but only via the panic hook mechanism. It's not a fantastic situation for for better support I'd recommend the wasm32-wasi target or your own custom `println` macro which goes to the console.

[2021-04-05 14:18] slightlyoutofphase commented on #83869
I think that concretely arriving at what actually constitutes "beefy hardware" is quite difficult, for what it's worth. For example, I do the majority of my development in both C++ and Rust (including building both C++ compilers and `rustc` from source relatively often as I like to "stay on top of things") on a custom-built desktop PC from 2013 (so not much newer than what you're running) that has

[2021-04-05 14:21] jyn514 commented on #83883
Make sure you call init_lints first, or it will be missing rustdoc's own lints.

[2021-04-05 14:26] pnkfelix opened #83891 "lldb debuginfo test failure, hash_set/hash_map of size 0 instead of expected size 4?"
I tried this code:

[code]

I expected to see this happen: successful test suite run

Instead, this happened: debuginfo test failure for pretty-std-collection.rs, saying that an expecting output from the debugger was not found.

[code]

The specific line it seemed be this one:

[code]

----

<details>
<summary>Click to see transcript that includes the full stdout/stderr output as reported by `x.y`

[2021-04-05 14:27] jyn514 commented on #81930
Err it looks like `x.py build library/std` always does nothing. So --target is also ignored.

[2021-04-05 14:28] eggyal commented on #83883
Re adding a test for this... is there any way to have `compiletest` check only for whether some substring appears within stderr?   Else every time a lint is added/removed, or its level modified, the test will need updating—which seems far too brittle to me?

[2021-04-05 14:29] pnkfelix commented on #83891
Incidentally, when I tried to run the test by hand (which admittedly I *might* have messed up in some way), I saw this:

[code]

It seems pretty suspicious that lldb was reporting `size=0` for the hash_set and hash_map in these cases, when the unit test expects both their sizes to be 4.

(But that also doesn't actually  seem to be the behavior that x.py is observing, so that might be user error, o

[2021-04-05 14:29] The6P4C opened #83892 "Error from function call with incorrect return type outside braces in unit valued match suggests semicolon to be added; suggestion is incorrect"
This small snippet

[code]

suggests adding a semicolon after the function call to rectify the mismatched types.

[code]

However, this is also a syntax error (below), and the correct suggestion would be to wrap the function call in braces.

[code]

### Meta
Using rustc nightly `2021-04-04 c755ee4ce8cae6ea977d` (playground)

[2021-04-05 14:30] jyn514 commented on #83883
I mean, personally that seems ok to me as long as you can update it with `--bless`. But if you think it's a hassle you could use `--error-pattern`.

[2021-04-05 14:40] jonas-schievink commented on #83886
Hi! Additions or changes to the language need to go through our [RFC process](https://github.com/rust-lang/rfcs). Before an RFC is written, the feature can also be discussed in our [internals forum](https://internals.rust-lang.org/) to find other people interested in it.

Closing in favor of an RFC.

[2021-04-05 14:40] #83886 closed

[2021-04-05 14:54] jonas-schievink commented on #79741
This is now fixed, so closing

[2021-04-05 14:54] #79741 closed

[2021-04-05 15:00] chengniansun opened #83893 "ICE: panicked at 'index out of bounds: the len is 1 but the index is 1', compiler/rustc_typeck/src/check/method/mod.rs:318:32"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-04-05 15:10] ehuss commented on #83891
I'm not sure if you've seen #81813, but the lldb tests only run on macOS on CI.  It looks like you are maybe using linux, so this is exercising untested code.  In particular, pretty-std-collections is disabled on macOS, so it is not tested anywhere.  It's not too surprising that it may have bitrotted.

I'm also curious, are you using lldb installed on your system?  Is it the same version of LLVM t

[2021-04-05 15:22] awoimbee commented on #51716
Fixed

[code]

[2021-04-05 15:38] jyn514 commented on #82385
@calebcartwright what's the current status of this? It looks like you've since changed the default branch away from rustup 2.0 and to the version published by rustup?

[2021-04-05 15:57] alexcrichton commented on #83686
You're right yeah that `build-wasi-toolchain.sh` is where Rust pulls in a particular commit. So far we've been using raw git sha's and updating as necessary. AFAIK there's not a tagging/branching scheme for what's maintained with wasi-sdk, I think wasi-sdk is just updated periodically. We try to keep things at least roughly in sync but we don't always do the best job unfortunately. I think the lat

[2021-04-05 16:08] AngelicosPhosphoros commented on #75598
Example of prevented optimization.
[godbolt](https://godbolt.org/#g:!((g:!((g:!((h:codeEditor,i:(fontScale:14,fontUsePx:'0',j:1,lang:rust,selection:(endColumn:16,endLineNumber:8,positionColumn:16,positionLineNumber:8,selectionStartColumn:16,selectionStartLineNumber:8,startColumn:16,startLineNumber:8),source:'%23!!%5Bfeature(core_intrinsics)%5D%0A%0Apub+fn+method_a(a:+u16)%7B%0A++++let+b+%3D+a+as+u

[2021-04-05 16:39] #83495 closed

[2021-04-05 16:48] koivunej commented on #35016
Found this issue from a tail end of E-mentor issues, seems like something I could help solve. As far as I understand the situation is illustrated by the original issue description, a file ends up being opened at a non-canonicalized path showing an error like:

[code]

* [last comment by GuillaumeGomez](https://github.com/rust-lang/rust/issues/35016#issuecomment-278296679) had this should be a bett

[2021-04-05 17:47] Flying-Toast commented on #73662
RE: @doctorn's comment in [73418](https://github.com/rust-lang/rust/pull/73418#discussion_r445374601):

We could also use a similar API like my previous comment, but without a trait:
[code]
Combined with a rustc lint for non-enum `T`s,  I think that would get rid of all unspecified behavior. Thoughts?

[2021-04-05 17:50] joshtriplett commented on #83879
Based on discussions on Zulip, it sounds like we don't want to have this be insta-stable. However, I do think we want to have `cfg(wasm)`, it just needs a feature-gate for a little while. (And we may want to stabilize it sooner rather than later, if there are no issues, so that people can start using it rather than writing wasm32-specific code.)

Gathering consensus on adding a feature-gated `cfg(

[2021-04-05 17:56] pnkfelix commented on #83891
Yeah I knew the debugger test suite i only enabled in certain contexts, but I couldn't remember the details.

My runs of `rust-lldb` are using the wrapper from 1.50 stable. Of course that's just a wrapper over what's in my PATH (`/usr/bin/lldb` in this case), right? lldb version 11.0.0 in this case.

I should probably see if things change if I set `llvm-tools=true` in my `config.toml`.

(In any ca

[2021-04-05 18:20] doctorn commented on #73662
Honestly the `Enum` trait sounded better to me. I much prefer having the number of variants returned rather than the maximum repr.

[2021-04-05 18:22] ehuss commented on #83891
`lldb` was removed from rustbuild a long while back, so this shouldn't have any impact.

Agreed, I ran into a similar problem (#81814).  As long as the test is disabled in CI, it'll probably keep breaking unfortunately.

I'm pretty certain I tested #81834 locally, and it worked, so somehow it broke again.  Maybe @ortem has some insight?

[2021-04-05 18:32] ehuss commented on #83879
I'd like to note that having bare aliases like this can be confusing for some users. I occasionally run into users who get tripped up by unix/windows, and don't understand why other things like `macos` don't work, or just in general don't understand what "families" are. Having these bare aliases masks what the underlying fields are (`target_family`, `target_os`, `target_arch`), which I think contr

[2021-04-05 18:32] Flying-Toast opened #83899 "Uplift clippy::mem_discriminant_non_enum into rustc"
The [clippy::mem_discriminant_non_enum](https://rust-lang.github.io/rust-clippy/master/index.html#mem_discriminant_non_enum) lint seems like it should be directly in rustc. The lint prevents doing something like:
[code]
which causes unspecified behavior.

[2021-04-05 18:38] Flying-Toast commented on #83899
I'd like to try implementing this myself, if would be likely to be accepted - do people think this would this be useful?

[2021-04-05 18:39] jyn514 commented on #83899
I think this is a great idea, it's clearly wrong code with no false positives.

[2021-04-05 18:44] torhovland commented on #83832
@rustbot claim

[2021-04-05 18:57] Aaron1011 commented on #83887
@virtualritz: Could you post the entire `cargo build` output, and upload a zip file of your entire `target` directory somewhere?

[2021-04-05 19:11] joshtriplett commented on #83879
@ehuss I would be in favor of adding aliases for other common cases, to make them simpler to write and simpler to read.

[2021-04-05 19:44] ehuss commented on #83879
I agree that they look easier to read (and are more aesthetically pleasing), but I am concerned that they are harder to *understand*, especially when they are "common" exceptions.  Users sometimes learn by looking at existing code to build their mental model of how things work (instead of reading or remembering documentation), and when they try to apply their mental model to new situations (like w

[2021-04-05 19:50] Aaron1011 commented on #83868
I would argue that we shouldn't suppress the error when `AssertCopy<String>` is explicitly written in the return type. In general, we shouldn't deduplicate well-formed errors for the same type - `AssertCopy<String>` could be written in two completely unrelated in the project, and we'd want to tell the user that there are two distinct problems with their code.

With an associated type, the error is

[2021-04-05 19:56] virtualritz commented on #83887
Edited the original. I will update this once `target` is uploaded. It will take a while. Germany countryside cro-magnon network infrastructure ...

[2021-04-05 19:59] Flying-Toast commented on #83899
Should I make this a hard error instead of a lint?

[2021-04-05 20:00] jyn514 commented on #83899
No, I think this should be a lint. Hard errors are a breaking change and are almost never accepted.

[2021-04-05 20:24] virtualritz commented on #83887
Here you go: https://www.filemail.com/d/lkjfupbexzjtstc

Warning: will expand to >1.5GB.

I also tried a `cargo clean` & `cargo build` and a can't reproduced this. Good I took the snapshot.

[2021-04-05 21:01] 5hir0kur0 opened #83904 "Write to Closed stdout Succeeds"
I tried this code:

[code]

I ran it with a closed `stdout` file descriptor from bash:
[code]

I expected to see this happen:
The program should print "`failure`" to `stderr` (and nothing to `stdout`).
Note that this behavior is actually what happens in other programs, such as `/usr/bin/echo`:
[code]

Instead, this happened:
The program prints "`success`" to `stderr`. Note that the `writeln` does

[2021-04-05 21:04] udoprog commented on #54725
So tentatively it seems like the proposed blockers for stabilizing a subset of `proc_macro_span` as I detailed in https://github.com/rust-lang/rust/issues/54725#issuecomment-647140141 (i.e. `min_proc_macro_span`) have either been discussed or no one has raised much interest in them (e.g. if spans should be reported macro-relative or be 1 or 0-based).

The biggest discussion seems to be about incre

[2021-04-05 21:14] #83150 closed

[2021-04-05 21:16] pnkfelix commented on #83891
I can bisect, thanks for the link @ehuss !

[2021-04-05 21:23] ortem commented on #83891
@ehuss @pnkfelix  I checked the latest changes briefly and it looks like #77566 broke `HashMap` LLDB pretty-printing on Rust 1.51. Note that [this line](https://github.com/rust-lang/rust/pull/77566/files#diff-847f0831b8de5d7cd123ade703217edc5e139851dad2a8c83f5901b5f0c6b9baR566) should be used only on the newest versions of `HashMap`. I'll open a PR to fix this soon.

[2021-04-05 21:35] 38 commented on #83904
I think this is by design. See this RFC https://rust-lang.github.io/rfcs/1014-stdout-existential-crisis.html

[2021-04-05 21:51] 5hir0kur0 commented on #83904
Thank you. Ah, OK. I see. Then I will close this issue.

I think this is unfortunate, though. Maybe it would make sense to make this configurable or to have the macros that do not return a result such as `println` ignore this kind of error and only report it in `write` calls/macros.

[2021-04-05 21:51] #83904 closed

[2021-04-05 21:55] ehuss commented on #83891
Thanks @ortem, that was quick!  And please don't feel obligated to investigate when I ping. It was just a wild guess if you might know what was up.

[2021-04-05 22:04] chengniansun opened #83907 "ICE: compiler/rustc_resolve/src/late/lifetimes.rs:2706:32: In fn_like_elision without appropriate scope above"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-04-05 22:06] ortem commented on #83891
@ehuss No problem, please feel free to mention me in case of any debugger pretty-printers problems! I'm working on the debugging support in IntelliJ Rust and I'm interested in fixing issues like this ASAP.

[2021-04-05 23:01] Aaron1011 commented on #83538
Many people are running into us, and this is blocking us from getting full `syn` benchmarks on the perf server. I'm not familiar enough with the releveant trait system code to propose a fix (other than https://github.com/rust-lang/rust/pull/83719, which has a very bad oerf impact).

[2021-04-05 23:14] ortem commented on #83891
By the way, `rust-lldb` from Rust 1.50 does not include #81834 as far as I understand, so probably this causes the problem.
@ehuss WDYT?

[2021-04-05 23:18] kornelski commented on #51245
I think `set` should always return the previous hook it replaced (`Option<fn>`). Having `set` and `take` as separate functions makes "patching" an existing hook a technically unreliable operation, because someone else could register a hook between a call to `take` and `set`.

[2021-04-06 00:22] jackh726 commented on #83907
From #76814

[2021-04-06 00:32] morriswinkler commented on #83741
related to #83710

[2021-04-06 00:34] eggyal commented on #78918
Bisected this regression to nightly-2020-05-22; alas CI artefacts from back then are no longer available (to me?), but looking at [the commits](https://github.com/rust-lang/rust/commits/master?before=9310e3bd4f425f84fc27878ebf2bda1f30935a63+35&branch=master) that made it into that nightly release (c7813ff to 9310e3b, inclusive) the one that most immediately jumps out as likely responsible is 82911

[2021-04-06 00:34] jessa0 commented on #82631
Following the git blame, looks like @estebank added support for pointing to a single argument causing an item obligation failure in 02e3fb8, so this issue would be expanding that to figure out which out of multiple parameters referencing a type variable caused the obligation failure.

Another note: it doesn't look possible to change the span of the `::std::fmt::ArgumentV1::new` to the format argum

[2021-04-06 00:43] jonasmalacofilho opened #83911 "High memory use on Rust 1.51.0 with thin LTO and debuginfo"
Rust 1.50.0 is able to link the example bellow using a few GB of memory, but 1.51.0/nightly needs at least 30 GB, at which point either I or the OOM killer has to abort it.

[code]

[code]

I wasn't able to reduce it beyond this, at least for now.  Removing the _unused_ dependency to reqwest, changing the LTO setting to false or fat, disabling debuginfo, or using `-Clinker-plugin-lto` are, each, e

[2021-04-06 01:09] programmerjake opened #83912 "Path::components("///a/b").as_path() failing to normalize multiple slashes for root dir on Unix"
I'd expect the path to be normalized to `"/a/b"` since that is a substring of `"///a/b"`.

On some Unix implementations a leading `//` is special, but the Unix and POSIX specs state that a leading `///` is equivalent to just one `/`. On Linux, `//` is also the same as `/`, though it has been proposed for that to change.
[Stack Exchange: On what systems is //foo/bar different from /foo/bar?](https:

[2021-04-06 01:51] camelid opened #83914 "`doc.rust-lang.org/nightly/nightly-rustc` is down"
I think it was working yesterday, but https://doc.rust-lang.org/nightly/nightly-rustc/ is giving a "Not Found" response for me. https://doc.rust-lang.org/beta/nightly-rustc/ works fine, however.

[2021-04-06 01:55] Mark-Simulacrum commented on #83914
Hm, I wonder if this is a similar bug to the one fixed due to link check failure during the bootstrap bump.

[2021-04-06 01:59] Aaron1011 commented on #83538
I've opened https://github.com/rust-lang/rust/pull/83913 with a potential fix

[2021-04-06 02:02] camelid commented on #83914
FYI, `/nightly/std` works fine—it seems to just be `/nightly/nightly-rustc`.

[2021-04-06 02:09] #79736 closed

[2021-04-06 02:09] #80251 closed

[2021-04-06 02:09] #83621 closed

[2021-04-06 02:10] Mark-Simulacrum commented on #83914
Yeah, almost certainly the bootstrap bump. cc @ehuss (just a heads up, I plan to submit a patch soon, though haven't written it yet)

[2021-04-06 02:14] Mark-Simulacrum commented on #83914
My guess without too much investigation is that the symlink_dir_force which intends to share the compiler-doc directory between rustdoc and rustc docs is ending up clobbered. I likely won't get around to a fix tonight but may be able to do so tomorrow, we'll see how much time I have.

[2021-04-06 02:23] ehuss commented on #83914
I'm also happy to revert the change on beta, if you want, so there isn't a rush to fix things.

[2021-04-06 02:24] glandium commented on #51245
Note this was modeled on the panic hook API https://doc.rust-lang.org/beta/std/panic/fn.set_hook.html https://doc.rust-lang.org/beta/std/panic/fn.take_hook.html

[2021-04-06 02:25] the8472 commented on #83912
`components()`

`.as_path()`

Since slices are contiguous they cannot be the result of parsing and thus don't include normalization.

[2021-04-06 02:32] Flying-Toast commented on #73662
Ok.

One more thing - the [`discriminant_value`](https://doc.rust-lang.org/std/intrinsics/fn.discriminant_value.html) intrinsic uses `u64`s for discriminants, so maybe `variant_count` should return a `u64` to be consistent with that?

[2021-04-06 02:41] Mark-Simulacrum commented on #83914
Yeah, I think we should do that - there's enough stuff broken in rustbuild that's not really of the too unusual kind (well, really just two cases, but they seem fairly typical). I'd rather we drop it from beta and either pursue resource-suffix as suggested by @jyn514 or at least tackle the bugs in rustbuild on a less urgent timescale before relanding. (Ideally we should figure out what people shou

[2021-04-06 03:16] estebank commented on #82633
@joshtriplett published https://github.com/rust-lang/rust/pull/83915. Sorry it took me so long, I had multiple false starts. It might need some changes to be good enough for merging, but that PR enforces `Out: Sized` for all `Out`s except `impl Trait` and projections.

As follow up work, I would like to change the spans to be tighter/easier to understand, but for now this is good enough:

[code]

[2021-04-06 03:44] programmerjake commented on #83912
@the8472

That's not correct, normalization can be done as long as the result is either a substring of the input or a static string.

For example, `"a/./b/./."` *is* normalized to `"a/./b"` since `components()` can just reduce the length to removing the trailing `"/./."`:
https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=0730bdbe3f6dc1dc17b46b7bd8c5bfdb

[2021-04-06 03:45] erikdesjardins commented on #83657
NB: while #83698 fixes this issue _as written_, it likely does not fix the arrayvec regression, since `ArrayVec { xs: MaybeUninit::uninit().assume_init(), len: 0 }` is only partially uninit (see #83698 description).

[2021-04-06 04:11] ehuss commented on #83914
OK, I have posted https://github.com/rust-lang/cargo/pull/9332.  I'll push through the changes, though it may take at least a few days to get beta updated and then bump the version.

[2021-04-06 04:16] jhpratt commented on #80967
If I understand what you said correctly, you were suggesting that `bool.then(val)` would be permitted via specialization, yes? If this is the case, what if `val` was a closure? This would be equivalent to `bool.then_some(|| || ret)` (note that the closure returns a closure). From my understanding of what you said, this would be replaced by `bool.then(|| ret)`, which is _not_ the same thing.

[2021-04-06 04:35] #83335 closed

[2021-04-06 04:58] the8472 commented on #83912
Sure, but in the general case it *cannot* guarantee normalization, therefore the question is where does the expectation come from? It's not part of the API.

[2021-04-06 05:08] Amanieu commented on #83169
I made an attempt at switching `const` operands to use inline consts (well, `AnonConst` to be precise) in #83916.

[2021-04-06 05:18] rodrimati1992 commented on #83657
@erikdesjardins How so? Only the MaybeUninit is a constant.

[2021-04-06 06:42] t-rapp commented on #59359
I assume an optimized implementation of `stream_position` could be done, similar to how it was done to [`BufReader`](https://doc.rust-lang.org/std/io/struct.BufReader.html#impl-Seek) in #74366.

[2021-04-06 07:02] XAMPPRocky commented on #27060
@RalfJung Now that #82525 has been merged should we close this issue?

[2021-04-06 07:09] programmerjake commented on #83912
The docs for `Path::components` state that:

I'd argue that all but the first slash in `///a//b/.` (switching to a better example) are separators, so the Path should be normalized such that only the necessary separators show up: `/a//b` -- the initial slash is needed to denote the root dir, and the slashes between `a` and `b` are necessary to avoid allocating. All other slashes are trimmed from th

[2021-04-06 07:12] programmerjake commented on #83912
alternatively, if separator is interpreted to mean the `/` character specifically (on Unix), then that makes an even better argument for normalizing `///a//b/.` to `/a//b`

[2021-04-06 07:16] #75072 closed

[2021-04-06 07:17] the8472 commented on #83912
My argument is that the normalization described in `Path::component` logically cannot be part of the `Components::as_path` contract because separators in the middle cannot be normalized if the returned value is a slice. Therefore we can only rely on what `as_path` itself promises, which doesn't mention any normalization.

[2021-04-06 08:07] RalfJung commented on #27060
This issue here is only truly fixed once that lint has been turned into a hard error.

[2021-04-06 08:28] Mubelotix commented on #75277
There should be no warning of unreachable code with `todo!`, but there should be a warning for unimplemented code. It's easy to forget that there are still `todo!`s in the code.

[2021-04-06 08:51] apiraino commented on #83737
Assigning priority as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2383737.20rustc.20panic.20after.20merge.20of.20PR.20.2376814.20.28refactor.20Binde.E2.80.A6) and removing `I-prioritize`.

@rustbot label -I-prioritize +P-high

[2021-04-06 08:52] 1c7718e7 opened #83919 "ICE: compiler/rustc_mir/src/borrow_check/universal_regions.rs:533:26: expected defining type for `DefId(0:21 ~ testint[7f45]::ice::{impl#0}::get_fut::{closure#0})`: `[type error]`"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-04-06 08:56] apiraino commented on #83911
Assigning priority as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2383911.20High.20memory.20use.20on.20Rust.201.2E51.2E0.20with.20thin.20LTO.20and.20deb.E2.80.A6) and removing `I-prioritize`.

@rustbot label -I-prioritize +P-high

[2021-04-06 09:15] eggyal commented on #83912
For the sake of absolute clarity: what the8472 is saying is that `components()` already normalizes repeated path delimiters (wherever they arise, prefix or not) and does not emit any empty component here; your problem is that `as_path` then collapses what remains of the components, effectively discarding any normalization that the iterator would have performed thereafter.  If you want to construct

[2021-04-06 09:19] apiraino commented on #83907
Assigning priority as discussed as part of the [Prioritization Working Group procedure](https://github.com/rust-lang/rust/pull/76814#issuecomment-811881218) and removing `I-prioritize`.

@rustbot label -I-prioritize +P-medium

[2021-04-06 09:20] apiraino commented on #83309
Assigning priority as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2383309.20thread.20'rustc'.20panicked.20at.20'assertion.20failed.3A.20!self.2E.E2.80.A6) and removing `I-prioritize`.

@rustbot label -I-prioritize +P-medium

[2021-04-06 09:21] apiraino commented on #83753
Assigning priority as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2383753.20ICE.3A.20compiler.2Frustc_ty_utils.2Fsrc.2Fty.2Ers.3A209.3A14.3A.20assoc.E2.80.A6) and removing `I-prioritize`.

@rustbot label -I-prioritize +P-medium

[2021-04-06 09:24] programmerjake commented on #83912
I think everyone can agree that `.components().collect()` does a full normalization (to the extent specified by `components`'s docs). The issue here is that `.components().as_path()` does less normalization than expected even when considering the constraints of not allocating.

[2021-04-06 09:27] eggyal commented on #83912
Apologies, clearly I'd missed the point here!!

[2021-04-06 09:28] programmerjake commented on #83912
nope, I'm writing a reimplementation of `Path` for use in a virtualized/sandboxed Linux filesystem (even if the host OS isn't Unix), I definitely don't want it to access the host's filesystem.

[2021-04-06 09:32] programmerjake commented on #83912
no problem! If I weren't writing a virtual filesystem, `canonicalize` or `components().collect()` would definitely be useful!

[2021-04-06 09:41] apiraino commented on #83836
Also, bisection of #83753 points to the same commit: could this issue be a duplicate?

[2021-04-06 09:42] apiraino commented on #83836
Assigning priority as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2383836.20ICE.3A.20compiler.2Frustc_metadata.2Fsrc.2Frmeta.2Fdecoder.2Ers.3A12.E2.80.A6) and removing `I-prioritize`.

@rustbot label -I-prioritize +P-medium

[2021-04-06 09:43] the8472 commented on #83912
What I am trying to say is that one shouldn't expect anything from it since the `components()` contract is clearly not applicable.  `as_path()` itself on the other hand only promises to return the tail of whatever remains in the iterator. And since iterators are lazy (per `core::iter` module documentation) one can't expect it to do any work to do additional parsing or normalization.

So the defaul

[2021-04-06 09:56] apiraino commented on #83764
Assigning priority as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2383764.20Stable.20ICE.20with.20fieldless.20enums.20and.20dyn.20traits) and removing `I-prioritize`.

@rustbot label -I-prioritize +P-medium

[2021-04-06 09:59] ortem commented on #83891
I investigated the problem with a clear mind and found out that LLDB pretty-printer was updated improperly in #77566 (although GDB pretty-printer is OK). Please check the new PR.

@ehuss It would be so great to have LLDB pretty-printers tests on CI. In IntelliJ Rust, we [run them](https://github.com/intellij-rust/intellij-rust/blob/2d80f50bfad2cc4e72aeae733bbe1bccd1e695dc/.github/workflows/check.y

[2021-04-06 10:02] ortem commented on #81813
A related and possibly helpful comment: https://github.com/rust-lang/rust/issues/83891#issuecomment-813994524

[2021-04-06 10:06] eggyal commented on #83912
So feature request then?

@rustbot label: +T-libs +C-feature-request

[2021-04-06 10:22] apiraino commented on #83887
Building the code in the repository needs some external dependencies. Perhaps good candidate to try to restrict to a smaller reproducible sample (ideally, independent) - is it possible @virtualritz to try isolating the code causing the panic?

Also @rustbot ping icebreakers-cleanup-crew perhaps can help

[2021-04-06 10:45] hellow554 commented on #83887
The problem is, this is an incr compiling error. @virtualritz do you know what you have done before you did `cargo build`, e.g. renaming a struct, adding a type to a trait, ...?
This kind of errors do occur if you have state A, change something and build state B without doing cargo clean in the meantime.
They are somewhat hard to figure out. I'm downloading your target folder to see, what I can do

[2021-04-06 10:48] klensy commented on #83460
Almost 2 weeks no rustfmt, that prevents default nightly update process via `rustup update` (without manually selecting components) and generates some number of duplicated issues, as some reporters use default nighly-2021-03-24.

[2021-04-06 10:49] matthiaskrgr opened #83921 "ICE: "unrecognized representation hint" with -Z unpretty=everybody_loops"
### Code
code from `./src/test/ui/error-codes/E0565.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./src/test/ui/error-codes/E0565.rs  -Zunpretty=everybody_loops`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-04-06 10:51] matthiaskrgr commented on #83921
According to the bisect, this was caused by #81234

[code]

[2021-04-06 10:54] virtualritz commented on #83887
As I said, I can't reproduce this.

I ran into it when I noticed I broke some example. So I went back to the first commit I made after forking the repo. When I did a `cargo build` after the `git checkout` I ran into this issue.

I.e. no code was changed by me. Git changed the code from the commit I was on back to the commit in question.

And no, as I have zero idea where this came from I can't mak

[2021-04-06 11:01] Aaron1011 commented on #83887
This should be fixed by https://github.com/rust-lang/rust/pull/83901, but I haven't been able to create a minimal reproducer.

[2021-04-06 11:20] thedrow commented on #80967
The specialization would only handle types of `Some<T>` and `None`.
`bool.then(|| || ret)` accepts a closure as an argument which means it should be handled by another specialization (or possibly the default implementation) that expects a callback. The result of `bool.then(|| || ret)` would be `Some(|| ret)` if bool is `true` and `None` if it is `false`.

I don't see a reason why we'd need both a

[2021-04-06 11:20] eggyal commented on #83882
#67105 seems related.

This is the solution proposed by https://github.com/rust-lang/rfcs/pull/2845

[2021-04-06 11:28] crlf0710 opened #83923 "Non-ASCII identifiers should be restricted within extern blocks."
It was mentioned in https://github.com/rust-lang/reference/pull/999 that in the original RFC text, there's text that said the
non-ASCII identifiers should be disallowed within extern blocks.

This is a niche use-case and i believe this doesn't need to block stablization. Creating this issue here to track it.

[2021-04-06 11:28] koivunej commented on #35016
Continued exploration on this.

It would seem that `#[path = "/tmp/this_is_ok.rs"]` works at the moment. So would the adding of error be to only give a better error to when escaping inline modules with all or non-navigable *relative* paths?

This wouldn't work without removing the current behaviour of giving inline modules a directory path. As in the modified original example of:

[code]

Here a d

[2021-04-06 11:34] njor opened #83924 "Unhelpful / misleading error message and help message when using a reference to a vector"
Hello,
There is a case where the Rust compiler error message is misleading. I tried this code :

[code]

…which gives the following error message, and misleading « help » message :
[code]
Especially, the `help: consider borrowing to avoid moving into the for loop: '&v'` is the misleading part, does not help solve the problem at all, and sent me an a wrong path.
As I am new to Rust, this got me scr

[2021-04-06 11:37] benma opened #83925 "no_std: binary size blowup using Result::unwrap since 1.49.0"
Needed toolchains and targets to run the examples (nightly instead of 1.49.0 also works, 1.49.0 is the first release with the regression):

[code]

### Code

[code]

[code]

Compiled with:

[code]

I expected the all functions related to panics to be optimized away and the binary size to be relatively small:

Output with toolchain 1.48.0, everything is as expected:

[code]

The same output when co

[2021-04-06 11:46] f32by opened #83926 "Incorrect example code in `library/core/src/raw.rs`"
[code]

[2021-04-06 11:56] Mark-Simulacrum commented on #83914
Yeah. I think I'm not sure there's as easy a fix in this case (unlike the simple add of a double core build), as the clobbering occurs over two different steps I believe. So I think we'll wait for that patch to land and bump beta. (We could also temporarily remove, say, rustdoc or rustc docs - but that doesn't seem like a real benefit).

[2021-04-06 11:56] hi-rustin commented on #83926
It calls bar fn, so it is 457.

[2021-04-06 12:06] f32by commented on #83926
Sorry for my blind eyes

[2021-04-06 12:06] #83926 closed

[2021-04-06 12:31] jrandall commented on #83686
That makes sense. I wonder if there would be an appropriate place in the rust release process to add some test cases that would validate the wasm32-wasi libc it includes against a (perhaps particular documented-to-work) wasi-sdk release?

Perhaps it could explicitly be tested against the latest release of wask-sdk and would be a test that all signatures match (either by doing a static comparison o

[2021-04-06 12:43] eggyal commented on #83925
Bisected this regression to nightly-2020-10-17.

[2021-04-06 12:45] eggyal commented on #83925
@rustbot label: +I-heavy +regression-from-stable-to-beta

[2021-04-06 12:45] eggyal commented on #83925
@rustbot label: -regression-from-stable-to-beta +regression-from-stable-to-stable

[2021-04-06 12:53] memoryruins commented on #75072
The tracking issue for `#![feature(fn_align)]` is now https://github.com/rust-lang/rust/issues/82232

[2021-04-06 12:54] tvallotton opened #83929 "type parameter `E/#1` (E/1) out of range when substituting"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-04-06 13:09] jonas-schievink commented on #83923
What will something like

[code]

actually link against? This seems like it might be a forward-compatiblity hazard when linking to external code, since the precise mangling/encoding isn't clear

[2021-04-06 13:09] tvallotton commented on #83929
I tried on stable cargo 1.51.0 (43b129a20 2021-03-16), and it didn't work either.

[2021-04-06 13:09] eggyal commented on #83924
I'm actually surprised that you got E0277 when doing `for n in &v` since I'd have expected that to resolve (via deref coercion) to the impl of `IntoIterator` for `&Vec`.

[2021-04-06 13:17] eggyal commented on #83924
@rustbot label: +T-libs +A-iterators +A-coercions

[2021-04-06 13:43] eggyal commented on #83924
Okay, this is due to the desugaring in `rustc_ast_lowering::expr::lower_expr_for`:

https://github.com/rust-lang/rust/blob/e1d49aaad4fde33469fdb786c29838a95a5d8a11/compiler/rustc_ast_lowering/src/expr.rs#L1710-L1728

Because `into_iter` is invoked as a trait function `IntoIterator::into_iter(<head>)` rather than a method, deref coercion does not occur.  It would be nicer if this could instead desu

[2021-04-06 13:48] thomcc commented on #39699
So, if you use `#[cfg(sanitize = "thread")]` (or, pick your fav sanitizer) on stable/beta, it produces a feature gate error rather than just evaluating to false.

I think we should considering removing the feature gate from just the `#[cfg(sanitize = "...")]` used to test if a particular sanitizer is enabled, and allow use of that cfg, even on stable, where (until the rest of the sanitizer stuff m

[2021-04-06 13:49] jyn514 commented on #83929
Slightly smaller:
[code]

[2021-04-06 13:51] SNCPlay42 commented on #83929
Another version:

[code]

`impl Trait` should probably not be allowed in generic param defaults, right?

[2021-04-06 13:52] ehuss commented on #55467
A concern has been raised in #83923 that extern blocks are not handled as described in the RFC.  I would appreciate considering addressing that before this is stabilized. I suspect a validation check would be easy to add if that indeed should be rejected.

[2021-04-06 13:55] tvallotton commented on #83929
Mmm, I intended to write `Box<dyn Error>` instead of `impl Error`. Idk if it is still a bug though.

[2021-04-06 14:30] eggyal commented on #83924
@rustbot label: -T-libs +T-compiler

[2021-04-06 14:36] simvux opened #83931 "Misleading compiler errors from match expressions inside loops with branches of infallible"
Given the following code:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=83112e42531e00a584b38696d5997e54

[code]

The current output is:

[code]

I suspect the infallible branch is instead assigned the type `()` due to the expected type from the for loop. Causing the misleading help and arrows.

Changing `todo!()` into `Ok(())` produces the expected error output of:
[cod

[2021-04-06 14:42] Manishearth commented on #83923
I think we should just disallow for now; and later check out what C does and match that.

[2021-04-06 14:42] Manishearth commented on #83923
@crlf0710 do you want to implement this?

[2021-04-06 14:59] eggyal commented on #83931
It's also interesting that the problem does not arise [when the infallible arm is not a block expression](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=607661eb8a5f80b8b173a4bd6dc96413), which suggests the type of the block is also not being correctly determined.

[2021-04-06 15:04] devsnek commented on #83879
One thing to note specifically in the case of wasm is that wasm32 and wasm64 are not actually separate architectures, it is just a weird abstraction in llvm to represent wasm memory64 types. I would like to provide a very ergonomic way for the rust ecosystem to quickly coalesce on wasm-supporting crates targeting the wasm architecture without having to write out `cfg(any(target_arch = "wasm32", ta

[2021-04-06 15:07] crlf0710 commented on #83923
@Manishearth Sure, let me give it a try.

[2021-04-06 15:31] mqudsi commented on #50145
This is maybe off topic, but is there a reason we use the same naming convention as llvm for our f64 functions? `f64::copysign` breaks rust naming conventions and should be `f64::copy_sign()`, no?

[2021-04-06 15:52] JohnTitor commented on #74713
Triage: This still triggers ICE with a debug assertion, see #83746 for details.

[2021-04-06 15:52] crlf0710 commented on #83923
Implemented in #83936 .

[2021-04-06 16:13] tmiasko commented on #83923
On the other hand the use of non-ASCII symbol names is already stable through link_name attribute.

[2021-04-06 16:24] ogoffart commented on #83923
Out of curiosity, I checked how Clang and GCC mangle the symbol: they simply use UTF-8.
MSVC doesn't seem to allow non-ascii in identifier.

[code]
(Notice how the byte-length encoding in C++ is using the UTF-8 byte count, and not the code point count, as I would expect)
https://godbolt.org/z/bK8P71P46

[2021-04-06 16:46] repnop commented on #40180
After discussing this on the Rust Community Server #os-dev channel with some folks (cc @Soveu @asquared31415), and checking out the LLVM patch that includes the ABI, it seems like taking the struct by-reference is incorrect and leads to undefined behavior (as seen in https://github.com/rust-osdev/x86_64/issues/240). This seems to have worked previously, but I suspect the upgrade to LLVM 12 may hav

[2021-04-06 16:47] Manishearth commented on #83923
Yeah I feel like the functionality can be re-added with an FCP without much work, there just needs to be some research on how stable those mangling schemes are around this.

[2021-04-06 16:48] Manishearth commented on #83923
As for `link_name`, my take on that is that once you're using that you're trying something weird and know what you're doing; there is no point restricting it further since it's very easy to accidently block out legit use cases.

[2021-04-06 16:50] Soveu commented on #40180
By the way, if the function signature contains more than 2 arguments LLVM crashes with
[code]

[2021-04-06 17:00] joshtriplett commented on #82633
Is there any way the exceptions for `impl Trait` or projections could be used to generate unsoundness in the same style as the PoCs in this thread?

[2021-04-06 17:01] DzenanJupic opened #83937 "ICE: evaluation of constant value failed | #[inline] causes compiler panic when bench-marking"
I'm currently experimenting with a bunch of sorting algorithms. To reduce boilerplate, I made use of the `const_trait_impl` feature.

It seems like this feature breaks when benchmarking an `#[inline]` function. It however works well when not using `#[inline]`, or when not benchmarking.

Minimal example:

### Code
<details><summary>Cargo.toml</summary>

[code]

</details>

[code]

<details><summary

[2021-04-06 17:06] jplatte commented on #83428
This also affects re-exports of entire crates. Unfortunately there the fix is not clear at all, since the "parent" crate is obviously not guaranteed to have the same features as the crate being re-exported.

[2021-04-06 17:15] estebank commented on #82633
@joshtriplett I could envision that being the case, but haven't come up with a way to trigger it.

[2021-04-06 17:16] HeroicKatora opened #83938 "ICE using const_generics_defaults"
### Code

[code]
([Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=69c97be3247f805358d8f924eabfe383))

I'm not sure how to treat this. It seems that we can sneakily misuse defaults in type definitions to insert a dependent computation on a const parameter which definitely should be forbidden at the moment.

### Meta

`rustc --version --verbose`:
[code]

##

[2021-04-06 17:25] jplatte opened #83939 "`#[doc(hidden)]` doesn't work on module or crate re-exports"
Minimal reproduction:

[code]

I expected to see this happen: No docs for the `#[doc(hidden)]` re-exports

Instead, this happened: Both re-exports show up in the generated doc page

### Meta

<summary> <details>

`rustc --version --verbose`:
[code]

`rustc +nightly --version --verbose`:
[code]

</details></summary>

[2021-04-06 17:27] jplatte commented on #83939
Luckily, there is an easy workaround: a `#[doc(hidden)]` module containing `pub use thing_to_be_reexported::*;`.

[2021-04-06 17:34] protheory8 opened #83940 "Compiling std with multivalue feature on wasm32-unknown-unknown target fails"
I tried this code:

`src/lib.rs`:
[code]
and compiled it with `RUSTFLAGS="-C target-feature=+multivalue" cargo build -Z build-std=std,panic_abort --target=wasm32-unknown-unknown `

Expected: to compile and link it without any errors

Instead, this happened: It seems like everything compiles successfully, but linking fails
[code]

### Meta
`rustc --version --verbose`:
[code]

`Cargo.toml`:
[code]

[2021-04-06 17:53] bjorn3 commented on #83940
This may be related to rustc not following the basic C abi for wasm32-unknown-unknown.

[2021-04-06 18:09] Flying-Toast commented on #82987
I think I can tackle this one - should I start a PR?

[2021-04-06 18:20] phil-opp commented on #40180
@repnop Thanks a lot for investigating this! I'll look into it and update the description of this issue if I can confirm that it works with a by-value parameter. Given that the Rust implementation just sets the LLVM calling convention, this shouldn't require any changes on the Rust side to fix it. We should adjust the `x86_64` crate though.

To prevent issues like this (and wrong number of argumen

[2021-04-06 18:41] Soveu commented on #40180
Also, we have found with @asquared31415 that using the second argument can cause stack corruption, because LLVM does _not_ check if there is an error code and just pops unconditionally

[2021-04-06 18:58] jyn514 commented on #81930
Oh huh, this is an unexpected side-effect: since https://github.com/rust-lang/rust/pull/82739, building compiletest also requires building stage0 std first. I think using master libstd intentional since https://github.com/rust-lang/rust/issues/59264? I don't think it necessarily needs to change, maybe just documented somewhere?

[2021-04-06 19:07] joshtriplett commented on #55467
Thanks for calling attention to that, @ehuss!

@rfcbot concern extern-blocks

[2021-04-06 19:08] qarmin commented on #40119
I can't reproduce this with `rustc 1.51.0 (2fd73fabe 2021-03-23)`

[2021-04-06 19:08] jyn514 commented on #83939
@jplatte your example doesn't compile:
[code]

[2021-04-06 19:14] Manishearth opened #83942 "Allow non-ascii-idents in extern blocks"
[RFC 2457](https://github.com/rust-lang/rfcs/pull/2457) disallows non-ascii idents in extern blocks and `no_mangle`.

We added an error for extern blocks in https://github.com/rust-lang/rust/issues/83923 (`no_mangle` already errors).

We should figure out if we can allow these -- we'd need to make sure the name mangling schemes consistently handle non-ASCII. I believe at the moment MSVC gets grump

[2021-04-06 19:14] noeddl opened #83943 "E0308 suggests to use `to_string()` in wrong position if `if` and `else` have incompatible types"
Given the following code:

[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=78d185647e3370e312d4cd675d94230e

The current output is:

[code]

Ideally the output should look like:

[code]

This might be related to #83320.

[2021-04-06 19:18] lcnr commented on #73662
https://doc.rust-lang.org/nightly/std/intrinsics/fn.discriminant_value.html

it does not, the docs are outdated on stable though '^^

[2021-04-06 19:23] jplatte commented on #83939
Sorry, fixed the module part of the example. But re-exporting an external crate should always work, no?

[2021-04-06 19:27] jyn514 commented on #83939
@jplatte now it compiles, but rustdoc hides all the examples as I'd expect:
![image](https://user-images.githubusercontent.com/23638587/113767223-6cfe8580-96ec-11eb-957c-365754428937.png)
[code]

See https://github.com/rust-lang/rust/issues/34537, I don't have opinions. Rustdoc doesn't emit that lint which I consider a bug, working on a PR for that now.

[2021-04-06 19:59] jyn514 commented on #83939
Oh, it turns out this is already a hard error on nightly: https://github.com/rust-lang/rust/pull/80763

[2021-04-06 20:57] hderms opened #83949 "Rust compiler error: 'rustc' panicked at 'Box<Any>',"
### Code

[code]
https://gist.github.com/hderms/06ab3dfcb50ef3bc01173205e5959d61

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-04-06 21:03] hderms commented on #83949
This may actually not be an issue on the latest nightly release

[2021-04-06 21:03] #83949 closed

[2021-04-06 21:10] richkadel commented on #83737
@jackh726 @nikomatsakis - We found a second compiler failure that only crops up when enabling `-Zinstrument-coverage`:

It breaks when compiling a third-party crate--arbitrary--for at least some versions of that crate. We are currently locking in version `0.4.0`, but the `arbitrary` repo only tags back to `0.4.1`. Fortunately, I can easily reproduce the error on both versions, so the instructions

[2021-04-06 21:24] erikdesjardins commented on #83657
Ah, you're right of course, I wasn't thinking

[2021-04-06 21:31] #83883 closed

[2021-04-06 21:31] #83891 closed

[2021-04-06 21:58] Deisss opened #83950 "Different version in dev-dependencies and dependencies seems to cause a crash"
### Code

First, feel free to close or something, it just said to report a bug but I'm not sure it should be reported...

The bug appears after changing Cargo.toml:

[code]

Failing to compile, but "working", and this is the one breaking it:
[code]

The add of mismatched `actix-service` in dev-deps cause the crash,  the code hasn't changed in between (and was not compiling before and after of cour

[2021-04-06 22:19] nikomatsakis commented on #79813
Hey @Aaron1011! Sorry for the late notice, but any chance you can post an update as a comment on this issue sometime before the lang-team planning meeting tomorrow? [Here are some prompts and questions.](https://hackmd.io/BurZQXKST6i0vFVWn61Vaw?view#Questions-to-consider-for-updates)

[2021-04-06 22:29] richkadel commented on #83737
@jackh726 - So, I cherry-picked your proposed fix #83870 and unfortunately it still fails (for the problem I reported initially).

However it _does_ fix the error I just reported above, with `-Zinstrument-coverage`.

I'll add a note to your PR, and provided the updated verbose output.

[2021-04-06 22:31] Aaron1011 commented on #79813
Sure!

This is currently blocked on bumping the `stdarch` submodule to include https://github.com/rust-lang/stdarch/pull/1080. Once that's done, I'll do a Crater run to determine how many crates need to be updated.

Before we make this warn-by-default, we'll probably want to fix `lint_node_id` to allow placing `semicolon_in_expressions_from_macros` closer to the offending macro call - currently, i

[2021-04-06 22:32] MarijnS95 commented on #83428
@jplatte Within the same crate as well; it's not about the features that are enabled (though it is relevant which are available) but about the combined `#[cfg]` restrictions that are placed on the definition and reexport. Simplest I can think of is a union of all features (but gets complicated quick when inversions and `all` vs `any` is used) and later perhaps simplifying based on feature relation

[2021-04-06 22:53] Sakul6499 opened #83951 "rustc 1.53.0-nightly panics on "computing predicates of `std::ops::FnMut`""
I am following the [Bevy Tutorial](https://bevyengine.org/learn/book/getting-started/) and encountered the following compiler panic.

I followed the suggested compilation time optimisations from Bevy: [Bevy Tutorial - Setup (Scroll down to "Enable Fast Compilation")](https://bevyengine.org/learn/book/getting-started/setup/).
Furthermore, I am using [sccache](https://github.com/mozilla/sccache).
Ho

[2021-04-06 22:59] Aaron1011 commented on #83951
You can run `cargo clean` to work around this. A full fix is being worked on in https://github.com/rust-lang/rust/pull/83591

[2021-04-07 00:01] bstrie commented on #81088
If an instance of this can't result in anything other than a compilation error then I think it's reasonable to merely document this and leave it as-is. Or is there some worse failure case that I'm not seeing?

I'm not necessarily opposed to a warning here, but I would say that warnings must be actionable somehow. The user isn't capable of controlling whether or not the block gets duplicated, right

[2021-04-07 00:23] tmandry commented on #83737
Cross posting from https://github.com/rust-lang/rust/pull/83870/files#issuecomment-814514317

We found the [code that was triggering this](https://cs.opensource.google/fuchsia/fuchsia/+/master:src/ui/bin/brightness_manager/src/main.rs;l=187-191;drc=ac45cc43108978f7b313a2664d4e93f9b2fbb97e). A closure was being coerced to a function pointer in an async fn. The unused `for<'r>` came out of that coer

[2021-04-07 01:36] Lokathor commented on #74727
# Update 2021-04-06

Picking a target that supports using both a32 and t32 code, and that is tier2 so we can see it on goldbolt, please look at the following code: <https://rust.godbolt.org/z/9v914d8fe>. Note the build args.
* `-Copt-level=3`: this is as release as it gets
* `--target armv5te-unknown-linux-gnueabi`: all code (including `core`) is a32 by default, and t32 can be used.

The exact det

[2021-04-07 01:37] calebcartwright commented on #82385
I do not know whether any discussion/thumbsup/etc. is needed (and if so from whom) here, but moving ahead on the rustfmt side under the presumption that we're going to move to the subtree model. Just moving somewhat slowly, and lost a couple cycles dealing with the current broken tool state.

Not yet but planning to do so shortly. We do have a few folks building the 2.0rc directly from source and

[2021-04-07 02:09] asomers commented on #67153
@paulfloyd Your patch works for me.  HOWEVER, even without your patch, valgrind works for me on executables built with the latest Rust compiler (`rustc 1.53.0-nightly (d32238532 2021-04-05)`).  And that's true both for the valgrind in your GH repo and the valgrind-devel in ports.  I think the problem is probably fixed by #83771 .

[2021-04-07 02:16] asomers commented on #55461
What would it take to get this done?  Cirrus CI is pretty easy to use.

[2021-04-07 02:24] repnop commented on #74727
one thing for consideration is having this not be its own stand-alone attribute applied to functions, but being an available option as a `#[repr(instruction_set = "...")]` instead since its affecting the representation of the function. food for thought :)

[2021-04-07 02:49] jrmuizel commented on #71997
Adding `-mllvm -enable-constraint-elimination` to the first C++ example eliminates the bounds check: https://gcc.godbolt.org/z/13bMsa7hM.

It doesn't help the second example and `-C passes=constraint-elimination` doesn't help the Rust example.

[2021-04-07 03:48] Amanieu commented on #74262
This no longer seems to crash. Probably fixed by LLVM at some point.

[2021-04-07 03:50] Amanieu commented on #74262
Actually it seems to still be crashing on `x86_64-pc-windows-gnu` and `x86_64-pc-windows-msvc`.

[2021-04-07 04:00] Amanieu commented on #81088
LLVM has been know to crash in some cases: #74262.

The tricky part is that you only get a compilation error if the function containing the `asm!` gets inlined into another function multiple times. So your code could appear to work fine until the optimizer eventually makes a different choice and then your code breaks.

The reason I would like to have this issue resolved before stabilization is tha

[2021-04-07 04:08] bstrie commented on #81088
Would this be paired with completely banning ordinary labels?

[2021-04-07 04:22] programmerjake opened #83957 "Incorrect lifetime bug"
As far as I can tell the following code shouldn't cause a lifetime error but it does. If `Iter::Item` is changed to `&'a ()` instead of `PhantomData<&'a ()>` the error goes away.

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d27af5bf15b5ca4328b034316ef4aa64))

Errors:

[code]

[2021-04-07 04:22] Amanieu commented on #81088
Quick recap of 3 different options:

### Option 1: do nothing

The only correct way to write inline assembly is to use GAS-style numbered local labels.

[code]

- This can cause issues on x86 with intel syntax: LLVM will sometimes parse `0b` and `1b` as binary literals.
- Perhaps we can attempt to scan the assembly code to look for things resembling labels and lint against them, but make no attemp

[2021-04-07 04:25] programmerjake commented on #83957
@rustbot label: +C-bug

[2021-04-07 04:35] #63284 closed

[2021-04-07 04:38] 72siddharth opened #83958 "Fish shell error while sourcing ~/.cargo/env"
I recently switched to Arch and decided to download Rust. Rustup and Cargo commands seem to work fine, but everytime I start Fish this message pops up:
[code]
Fish Version --> 3.2.1
Rustup Version --> 1.23.1
I'm kind of a newbie to Linux so I would be grateful for any help.

[2021-04-07 04:45] #83914 closed

[2021-04-07 04:46] Manishearth commented on #82385
Mostly just check with the infra team to make sure they're okay with the plan, but I think it's fine to move forward.

[2021-04-07 06:18] wezm commented on #79609
Hi all, this issue has remained open for a number of releases now and is preventing us from using Rust > 1.43.0 in [Prince](https://www.princexml.com/). What would be the best way to help find a solution? I'm not sure I am in position to find and fix the issue myself (due to my lack of experience working on the compiler) but I could try to bisect changes to work out what change introduced the issu

[2021-04-07 06:26] wez commented on #69267
This is a pretty terrible UX wart.  The error message gives advice that does not work.  Can this be re-opened and re-assessed?
I feel like the error message should give clearer directions, as the current state is very frustrating.

FWIW, I believe this is a way to pass these flags down:

[code]

[2021-04-07 06:29] chengniansun commented on #83921
A duplicate

[code]

[code]

[2021-04-07 06:45] wezm commented on #79609
In case it's helpful here's a `Dockerfile` that can be used to reproduce the issue (without messing with your local system):

[code]

Build that image with: `docker build -t mingw-i686-rust .` It fails as-is but succeeds with <= 1.43.0.

[2021-04-07 07:10] paulfloyd commented on #67153
I've integrated my fix to Valgrind as well.

[2021-04-07 07:16] djc opened #83959 "rustdoc: improve src link/add edit link"
If I read documentation on docs.rs and find a typo or some other small issue in documentation, the number of steps involved in sending a PR for a fix feels not worth it (for projects where I don't already have a contributing role). It would be great if there was maybe an `[edit]` link next to `[src]` that would link to the proper place, for example

https://docs.rs/tonic/0.4.1/tonic/transport/stru

[2021-04-07 08:05] markbt commented on #83527
### Update (2021-04-07)
I've not yet started work on productionizing the prototype on the [`markbt/rust/metavariable_expressions` branch](https://github.com/markbt/rust/tree/metavariable_expressions).  I plan to start later this month, free time permitting.

[2021-04-07 08:24] larswirzenius opened #83960 "rustc segfaults on small program using rayon"
### Code

The attached tarball has two versions of my program, reduced as much as I can. In the `build` subdirectory the program works fine. In `fails` building it causes a segfault. In both, build command was `cargo build`. This is entirely reproducible for me.

[rustc-bug.tar.gz](https://github.com/rust-lang/rust/files/6269897/rustc-bug.tar.gz)

### Meta

`rustc --version --verbose`:
[code]

###

[2021-04-07 08:34] ftvkyo opened #83961 "ICE when moving bin to a new place when having a bin and a lib in one project"
### Reproducing
#### Step 1
Run `cargo new ice && cd ice`
Run `cargo test`

#### Step 2
Append to `main.rs` (this example won't get tested anyway)
[code]
Run `cargo test`

#### Step 3
Append to `Cargo.toml`
[code]
Remove `fun` from `main.rs` and add this to `lib.rs`
[code]
Rename `main.rs` to `bin.rs`
Run `cargo test`

#### Step 4
Move `bin.rs` to `bin/main.rs`
Update Cargo.toml
Run `cargo test`

[2021-04-07 08:41] lcdr commented on #83882
rust-lang/rfcs#2845 actually is only concerned with the case of a subtrait having an item with the same name as one in a supertrait (i.e. both `Foo` and `Bar` defining a `bar` method), and is unrelated here.

The real issue here is that in generics/trait objects `Bar` is automatically brought into scope when `Foo` is used, even when `Bar` should not be visible (and thus usable) in that context.

[2021-04-07 08:46] eggyal commented on #83882
Aye, that's why I had struck out that comment.  ☺️

[2021-04-07 08:57] mbargull commented on #80684
FYI, https://github.com/rust-lang/rust-installer/pull/106 addresses this (not the underlying cause of the inefficiency but the majority of its extent).

[2021-04-07 10:20] smmalis37 commented on #83960
If I did this right, the backtrace I'm getting says this is happening inside llvm:

[code]

[2021-04-07 10:33] apiraino commented on #79609
@wezm thanks for the latest comment with a way to reproduce the issue

@rustbot ping icebreakers-cleanup-crew

is this something that can be nailed to some past changes?

[2021-04-07 10:40] eddyb commented on #60553
So I was wondering why `#[repr(inttype)]` is required and came across https://github.com/rust-lang/rust/pull/60732#issuecomment-491880240.

I believe this fails to account for e.g. `mem::Discriminant`, and also usecases where you *don't* need to extract the discriminant as a tag at all, just to specify the value.

[2021-04-07 10:40] igolane36 opened #83962 "rustc panicked when processing codegen_fn_attrs query"
### Code
N/A.
Command:
`RUST_BACKTRACE=1 CARGO_MSG_LIMIT=1 CARGO_ASC=true cargo lcheck`

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-04-07 10:48] MouseProducedGames opened #83963 "Error for const generic trait impl'd for () is incorrect (v1.51)."
The error message provided when attempting to implement a const generic trait on (), does not explain the problem well, and also provides an incorrect solution.

Playground link:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9f13fd2b46d8fbcad14e57184d499b3e

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

The error should also referen

[2021-04-07 11:05] jplatte commented on #83939
Okay, found out why my minimum example is wrong: This bug needs another re-export level to trigger. So I guess it's a duplicate of #53417.

[2021-04-07 11:05] #83939 closed

[2021-04-07 11:12] mati865 commented on #79609
I think you should start bisection with https://github.com/rust-lang/rust/pull/67502, my gut says this PR changed it.

[2021-04-07 11:48] asomers commented on #67153
Now that I see the full version of Paul's fix I understand why #83771 "fixed" the problem.  After #83771 , Rustc no longer tries to add a guard page on FreeBSD.  However, it still needs to know the address of the stack for the purposes of stack overflow detection.  So without Paul's fix in https://github.com/paulfloyd/freebsd_valgrind/commit/592323706b66dbf73e739d89da2d52cd65c0a34f stack overflow

[2021-04-07 12:00] #67153 closed

[2021-04-07 12:17] Alexendoo commented on #83691
Fixed by #83734

[2021-04-07 12:17] #83691 closed

[2021-04-07 12:18] jonas-schievink commented on #83958
That's a bash script, you cannot use it with fish

[2021-04-07 12:18] #83958 closed

[2021-04-07 12:38] Sakul6499 commented on #83951
Thank you!

[2021-04-07 12:38] #83951 closed

[2021-04-07 12:46] hameerabbasi commented on #79609
Using the following `Dockerfile`, I was able to pinpoint it to between `nightly-2020-03-14` and `nightly-2020-03-15`.

[code]

#67502 was merged on 21 Jan, modulo timezones. So that likely isn't the cause.

[2021-04-07 12:53] crlf0710 opened #83966 "Allowing using registers more often for small structs and enum return values."
I think Rust ABI could be more aggressive for small structs and enum return values, using registers more and stack less,
since this is very frequently used:

currently under debug mode:

[code]

MIR:
[code]
LLVM IR
[code]
ASM:
[code]

[2021-04-07 13:27] eggyal commented on #79609
I concur with @hameerabbasi.  I adapted the `Dockerfile` to run a bisection (specifically testing for failures due to `libunwind` being absent during linking, rather than anything else):

[code]

Bisecting over calendar 2020 identified `nightly-2020-03-15` as the first with the regression.  Obviously CI artefacts from back then are no longer available (to me, at least) for easy bisection of the in

[2021-04-07 13:28] eggyal commented on #79609
Actually, #67502 is amongst those so @mati865's suspicion was probably right.

[2021-04-07 13:45] Mark-Simulacrum commented on #82385
I don't think there's any blockers on the infra side of things, should be a pretty transparent change to our build infrastructure and rustbuild.

[2021-04-07 13:47] jyn514 opened #83968 "Take doc(alias) into account when providing typo suggestions"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a5d74dbaa80fd7833c2b937fc94f58fa

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

Searching for `length` will already bring up `len` in the docs: https://doc.rust-lang.org/std/?search=length
It would be nice if the CLI errors had feature parity.

## Meta

`rustc -

[2021-04-07 13:50] lcnr opened #83969 "`Iterator::fuse` is not guaranteed to fuse a generic iterator."
[code]
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fab7453baf537ad797ee2efbd0f0830c)

This means unsafe code may not rely on `iter.fuse()` to actually fuse the iterator if `iter` is generic, which is unexpected to me.
I personally would like us to either add a note to `Iterator::fuse` mentioning this or to remove the specialization for `std::iter::Fused`.

[2021-04-07 14:05] klensy commented on #83966
For start, what rustc vesion and flags?
If you use at least non zero opt level `-Copt-level=1` you will get
[code]
[code]

[2021-04-07 14:26] AVee commented on #63033
Found this after pulling my hair out for a few hours. At least I've got a workaround now, but I'd have to say this behavior is really unexpected.

Of those two workarounds @wigy-opensource-developer mentions only the first seems to be actually usable if you actually want to do something with those parameters:

    // Compiles
    async fn foo<'a>(x: &'static str, y: &'a str, z: &'a str) {

[2021-04-07 14:33] dlan17 opened #83970 "Native bootstrap for RISC-V on Gentoo Linux (failure)"
Trying to do the native rust bootstrap on Gentoo Linux for RISC-V ARCH, but fail at 'compiler_builtins' crate.

I tried this code:
both tried & failed for rust-1.50.0 and 1.51.0, same error

the downstream bug report can be found here:
https://bugs.gentoo.org/747460

the full build log for 1.51.0:
https://bugs.gentoo.org/attachment.cgi?id=698247

any suggestion for how I could further debug this?

[2021-04-07 14:34] crlf0710 commented on #83966
I was using `opt-level=0`. What i was thinking is that ensuring such behavior as a promise at ABI level, but after some thought into this now i feel that maybe this isn't very actionable/worthwhile for now. I'll close this issue.

[2021-04-07 14:34] #83966 closed

[2021-04-07 15:02] alexcrichton commented on #83686
I think that'd be nice to have, yeah, but I'm unfortunately unsure where that would live or how it would fit best in CI. For now we're sort of relegated to manual checks unfortunately.

[2021-04-07 15:07] langbamit opened #83971 "ICE: Broken MIR: generator contains type (on build)"
Minimal example
### Code
[Playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=a4e9cadebe5bffb98e9f1c3333471a34)

`cargo run`: ok.
`cargo build`: failed.
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-04-07 15:34] estebank commented on #82631
The code pointing at the arg is a _hack_. We don't keep good enough tracking of obligations as they propagate to be able to point at specific type parameters or arguments. I would love to see that change. If we fixed the general case, this ticket would also get resolved.

[2021-04-07 15:41] eggyal commented on #79609
[This additional requirement](https://github.com/rust-lang/rust/pull/67502/files#diff-a3d7a7540207bbf360bbfb5f500ced9e04552feafc72eb677b4d5f30da52aa77L121-R115) for `#[cfg(bootstrap)]` in order for `extern fn rust_eh_unwind_resume()` to be defined looks suspect to me.

[2021-04-07 15:53] Amanieu commented on #79609
The issue here seems to be that `std` is compiled with unwinding and therefore has several references to `_Unwind_Resume`. One way to avoid this would be to use `-Z build-std` which recompiles `std` without unwinding support.

[2021-04-07 15:56] SNCPlay42 commented on #83971
Duplicate of #83737

[2021-04-07 16:10] Dirbaio opened #83972 "const_generics: link fails with undefined reference, hidden symbol isn't defined"
This code [(playground)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=95832c231ba907ef3491428a04f0f0f8)

[code]

fails to link with

[code]

`rustc --version --verbose`:
[code]

[2021-04-07 16:12] eggyal commented on #79609
Since unwinding is unavailable on that target, I guess this is actually a CI issue because the distributed `std` is being built incorrectly?

[2021-04-07 16:17] Dirbaio commented on #83972
Builds correctly with `rustc 1.53.0-nightly (5e65467ef 2021-03-26)`
Fails with `rustc 1.53.0-nightly (9b0edb7fd 2021-03-27)`

[2021-04-07 16:18] mati865 commented on #79609
@eggyal unwinding is perfectly fine on that target if you have proper C toolchain.
MSYS2 provides Dwarf-2 enabled 32-bit from the beginning I think, Fedora and Arch Linux provide that toolchain since last year and recently Debian (and therefore Unbuntu) has also switched: https://salsa.debian.org/mingw-w64-team/gcc-mingw-w64/-/commit/8da432fefb792fbe2f9fec2f15278d02e86e6281

[2021-04-07 16:32] eggyal commented on #79609
Okay, thanks @mati865.  So the fix is in gcc-mingw-w64-i686 v24, [Debian packages of which](https://packages.debian.org/search?keywords=gcc-mingw-w64-i686&searchon=names&exact=1&suite=all&section=all) are currently available on bullseye and sid (but not buster, which the `Dockerfile`s in this issue have been using).

[2021-04-07 16:46] mqudsi opened #83973 "Missing f32/f64 euclidean remainder with integral divisor"
I was writing some machine learning code and found that I was severely bottlenecked by some of the limitations of the available floating point operations in the rust standard library. In particular, rust currently only affords a euclidean remainder operation where both the dividend and the divisor are floating point values, however it is often the case that one has a floating point dividend but an

[2021-04-07 16:57] mattico opened #83975 "ARM target-feature cfgs are not enabled when the target-feature is enabled"
[code]

To the best of my knowledge, all of the above features are valid for my target, an STM32H743XIH6. At the very least `fp-armv8d16` [is valid for Cortex-M7 targets](https://github.com/rust-lang/llvm-project/blob/171991e30966695fd118c90ebbb2eeec5098ccce/llvm/lib/Target/ARM/ARM.td#L1196-L1199): fpv5 [has the same instructions as ARMv8](https://reviews.llvm.org/D5537). If any of the target feat

[2021-04-07 17:11] eggyal commented on #83972
@Dirbaio are you sure about that?  I see it succeeding with 2021-03-27 but failing with 2021-03-28.

searched nightlies: from nightly-2021-03-26 to nightly-2021-04-07
regressed nightly: nightly-2021-03-28
searched commits: from https://github.com/rust-lang/rust/commit/5e65467eff3d1da4712586d8402d1d2e1d6654bc to https://github.com/rust-lang/rust/commit/9b0edb7fddacd6a60a380c1ce59159de597ab270
regre

[2021-04-07 17:24] eggyal commented on #83972
Since const generics stabilised in 1.53, `#![feature(const_generics)]` is no longer necessary—and, strangely, the link error disappears without that feature flag (whether on stable or nightly).

[2021-04-07 17:32] SamRodri opened #83976 "rustdoc: Incorrect intra-doc link to item when the item is reexported and inlined"
Building the documentation of this code using `cargo doc` generates a link to the wrong page:

[code]

I expected a link to the `some/path/struct.Foo.html` page, but got a link to the `some/struct.Bar.html` page.

### Meta

The error happens in the stable `1.51.0` and nightly `2021-04-07` versions.

[2021-04-07 17:32] Dirbaio commented on #83972
The code I originally found this in does require `#![feature(const_generics)]` and `#![feature(const_evaluatable_checked)]`, but while minimizing it I arrived to this.

The error also disappears when removing the braces in `{ 4 }`

[2021-04-07 17:33] mattico commented on #83975
This seems relevant: https://github.com/rust-lang/rust/blob/b97fd3e5a1545ab02e18c52e7f3d2e78a5c960bf/compiler/rustc_codegen_ssa/src/target_features.rs#L12-L51

I didn't know that [cfg_target_feature isn't stabilized yet](https://github.com/rust-lang/rust/issues/44839), which is easy to miss since I didn't need to enable any unstable features. That list of supported features seems to line up with t

[2021-04-07 17:48] mattico commented on #44839
I was building with `--target=thumbv7em-none-eabihf -Ctarget-feature=+armv7e-m,+m7,+v7clrex,+fp-armv8d16,+hwdiv,+fp64,+fpregs,+fpregs64,+noarm,+db,+thumb2` and then checking literally every arm target-feature using `cfg!()` and `#[cfg()]` without enabling `arm_target_feature`.

[2021-04-07 18:02] #83613 closed

[2021-04-07 18:02] #83768 closed

[2021-04-07 18:02] #83169 closed

[2021-04-07 18:02] #83923 closed

[2021-04-07 18:02] #83929 closed

[2021-04-07 18:05] Manishearth commented on #55467
@joshtriplett https://github.com/rust-lang/rust/pull/83936 has merged now

[2021-04-07 18:06] mattico commented on #83975
LLVM has `ArmTargetParser::getFpuSynonym` which converts `vfp4` to `vfpv4`, but it might not be used consistently. Some places in LLVM use `vfp4` and some use `vfpv4`.

Also, despite the `thumbv7em-none-eabihf` target already having `+vfp4`, if you then manually enable it again it actually works:
[code]

[2021-04-07 18:21] ehuss commented on #44839
@mattico This issue is about stabilizing the `#[target_feature]` attribute.  The `-C` flag has been stable since 1.0.

[2021-04-07 18:30] tmiasko commented on #83972
`const_generics` feature enables lazy normalization. It seems that in one place a symbol name is constructed using an unevaluated const, while the other uses the evaluated one. This crates a mismatch in legacy symbol mangling scheme which hashes the substs. The issue also disappears in `-Zsymbol-mangling-version=v0` which evaluates the const during mangling.

[code]

[2021-04-07 18:33] jyn514 commented on #83976
I think the issue is that rustdoc tracks URLs by item, not by re-export: https://github.com/rust-lang/rust/blob/e9cdcccfa8321363999a43ee30a18b3aadbc20de/src/librustdoc/html/format.rs#L504
So the URL gets overridden because the re-export and the original item have the same DefId.

[2021-04-07 18:34] jyn514 commented on #83976
Note this isn't specific to intra-doc links, this also links to `Bar`:
[code]

[2021-04-07 18:37] mattico commented on #44839
@ehuss Ah, yes. Was confused because the same whitelist is used for both purposes.

[2021-04-07 18:47] jyn514 commented on #83959
I think this is a duplicate of https://github.com/rust-lang/docs.rs/issues/1007.

[2021-04-07 18:49] mattico commented on #83975
So the target_features allowed in `cfg` are (I think deliberately) limited to a specific whitelist which is also used for `#[target_feature]`, though this isn't documented anywhere that I can find. So that resolves the original issue. I'm going to close this and create new issues for the more specific issues that were identified.

[2021-04-07 18:49] #83975 closed

[2021-04-07 19:19] mattico commented on #49653
One thing which would help would be to separate `--print target-features` into those supported by rustc and those which are just passed to LLVM. It could also explain the context around why and warn that it may change in the future.

I'll see if I can implement that.

[2021-04-07 19:33] djc commented on #83959
Yup, that's fair.

[2021-04-07 19:33] #83959 closed

[2021-04-07 20:01] yaahc opened #83982 "breaking change on stable: handling of block doc comments"
This issue was discovered in this PR on displaydoc https://github.com/yaahc/displaydoc/pull/22#issuecomment-797668433 and previously reported in this zulip thread https://rust-lang.zulipchat.com/#narrow/stream/266220-rustdoc/topic/block.20doc.20comments.20broken.3F.

To summarize the issue, previously if you had a multiple line block doc comment that had asterisks on the start of each line the ast

[2021-04-07 20:18] #64460 closed

[2021-04-07 20:27] jyn514 commented on #83982
Hmm, so it turns out this is specific to proc-macros, it shows up fine in the docs:
![image](https://user-images.githubusercontent.com/23638587/113929521-2c6f3c80-97be-11eb-8fa9-188b653fcd5a.png)
So I don't think this is actually related to rustdoc.

cc @Aaron1011 @petrochenkov does this change look familiar?

[2021-04-07 21:07] alex commented on #71997
Converted to C++ (turned out basically identical to @joshtriplett's) and filed as an llvm optimizer bug: https://bugs.llvm.org/show_bug.cgi?id=49885

[2021-04-07 21:15] thomcc opened #83984 "Float min/max/clamp follow IEEE754-2008 (and not IEEE754-2019) WRT negative zeros"
In a [blog post](https://shift.click/codelet/codelet-saturate) (shameless plug) I wrote on clamping between 0.0 and 1.0, I noticed that we don't treat `-0.0` as less than `+0.0`. Instead, we return whichever is the first argument:

[code]

That behavior is kinda incoherent, probably unintentional, and seems highly unlikely that anybody is relying on it, so I suspect we're free to fix it.

While IE

[2021-04-07 21:34] ehuss commented on #83982
I believe this was changed as part of #74627.

[2021-04-07 21:43] joshtriplett commented on #55467
@rfcbot resolved extern-blocks

[2021-04-07 21:52] wpbrown opened #83985 "Source-code based coverage is failing to identify some executable lines"
I tried to generate test code coverage with this source file using `-Zinstrument-coverage` and the LLVM tools.

Source File:
https://github.com/wpbrown/rust-codecov/blob/main/codecovsample/src/main.rs

I expected to see this happen: `76% line coverage`

Instead, this happened: `83% line coverage`.

cargo-kcov, -Zprofile+grcov, and tarpaulin agree on 76%.

In the output below lines `65-67`, `116-11

[2021-04-07 21:53] eggyal commented on #83984
@rustbot label: +A-floating-point +C-bug

[2021-04-07 21:55] eggyal commented on #83985
@rustbot label: +A-code-coverage
cc @richkadel

[2021-04-07 21:56] amorison commented on #83969
Well, by implementing `std::iter::FusedIterator`, you declare that `S` is already fused but it doesn't respect the contract. You should remove the line `impl std::iter::FusedIterator for S {}` to get the expected behaviour. Implementing `FusedIterator` on `T` is only here to tell `Iterator::fuse` that there is nothing to do because the type `T` is already fused.

(On a side not, `unsafe` code shou

[2021-04-07 21:59] eggyal commented on #83970
@rustbot label: +A-rustbuild +T-compiler +O-linux +O-riscv

[2021-04-07 22:13] eggyal commented on #83957
The [sole implementation](https://doc.rust-lang.org/std/marker/struct.PhantomData.html#impl-PartialEq%3CPhantomData%3CT%3E%3E) of PartialEq for `PhantomData<T>` is where `Rhs` is also `PhantomData<T>`, so the call to `g` requires the lifetimes to match.

[2021-04-07 22:25] eggyal commented on #83973
@rustbot label: +A-floating-point

[2021-04-07 22:31] est31 commented on #83984
Rust just calls the `llvm.minnum.f64` or `llvm.minnum.f32` intrinsics. Quoting [the language reference](https://llvm.org/docs/LangRef.html#llvm-minnum-intrinsic):

There are also `llvm.minimum.f64` and `llvm.minimum.f32` intrinsics (needed to squint the first time, it's min*num* vs min*imum*). [Quoting its docs](https://llvm.org/docs/LangRef.html#llvm-minimum-intrinsic):

Maybe rustc should be cha

[2021-04-07 22:36] eggyal commented on #83984
The docs for [`f32::min`](https://doc.rust-lang.org/std/primitive.f32.html#method.min) and [`f64::min`](https://doc.rust-lang.org/std/primitive.f64.html#method.min) both state:

Which this proposed change would break.

[2021-04-07 22:39] thomcc commented on #83984
LLVM's minnum says

which is incorrect for -0.0, what this bug is. So maybe this is an LLVM bug.

[2021-04-07 22:40] est31 commented on #83984
More reading:

* [`llvm.minimum.*` introduction commit from 2018](https://github.com/llvm/llvm-project/commit/16c349d892d4e2870c8bf73f943e37310a0d45ff)
* [`llvm.minnum.*` introduction commit from 2014](https://github.com/llvm/llvm-project/commit/d6511b49ace8e3d55ad43beb2cb142022a8032cc)

The minimum intrinsic seems to exist since LLVM 8.0, while the [minimum LLVM that rustc supports is 10](https:/

[2021-04-07 22:42] thomcc commented on #83984
I think this is a bug in `llvm.minnum`, although it's unclear which of

and

is more important. If there's a performance cost to the latter, I could imagine it's more important. That said, for them it wouldn't be breaking to fix the bug so that they're in compliance with IEEE minNum, since they don't specify the result.

[2021-04-07 22:47] programmerjake commented on #83957
hmm, I had changed it to `PhantomData` in an attempt to reduce the problem, it had before been an enum like so:
[code]

I'd expect to be able to compare two different instances of `MyItem` with differing lifetimes...

[2021-04-07 22:50] eggyal commented on #83984
I _think_ `-0.0 < +0.0` and `NaN` propagation were both introduced in the 2018 revision of IEEE-754, and were considered a breaking change in LLVM hence new functions were added instead.  So `minnum` did indeed follow earlier versions of the spec, whilst also no longer being consistent with the latest version.

[2021-04-07 23:06] jturner314 commented on #62175
This appears to be resolved, so this issue can be closed.

(The [reference now specifies the rounding mode](https://doc.rust-lang.org/stable/reference/expressions/operator-expr.html#type-cast-expressions). See rust-lang/reference#607.)

[2021-04-07 23:08] programmerjake commented on #83957
That produces
[code]

So, I think `#[derive(PartialEq)]` should instead let the lifetimes be unequal when comparing, producing:
[code]

[2021-04-07 23:15] est31 commented on #83984
For Rust, I don't know how much the documentation mentioning this behaviour prevents a change. It might just be that it only means that the documentation needs to be changed as well, nothing more.

The sentence seems to have been introduced by commit f44d287a769765862518c0de82d87bef4cca2670 .

[2021-04-07 23:18] eggyal commented on #83957
I think whether two types that have different lifetimes can be considered equal or not is application-dependent.  If, in your case, they are equal then you merely need implement `PartialEq` yourself rather than using the default derive implementation.

[2021-04-07 23:19] thomcc commented on #83984
I filed an LLVM bug: https://bugs.llvm.org/show_bug.cgi?id=49886

And yeah, I just busted out my old copy of IEEE 754-2008 and can confirm that it doesn't specify the sign of -0.0. I mentioned maybe a new intrinsic could be added instead.

IMO it would be a breaking change (even if it weren't documented, but *especially* given that it is). Faking Ord for floats by a.partial_cmp(b).unwrap() isn't u

[2021-04-07 23:30] wezm commented on #79609
I confirmed that basing the Docker image on Debian bullseye (`FROM rust:1.51-slim-bullseye`) does successfully build the binary. However, bullseye is the Debian testing release, which ["does not get security updates in a timely manner"](https://www.debian.org/releases/bullseye/). It would be ideal if it worked on the stable release (`buster`) but at least that option is available.

[2021-04-07 23:31] programmerjake commented on #83957
Hmm, I'd argue that you'd have some field's `PartialEq` that requires matching lifetimes if you wanted to have `derive(PartialEq)` require matching lifetimes...I think the default should be to just match the `PartialEq` implementations of all fields:
[code]

[2021-04-07 23:40] richkadel commented on #83985
Thanks for the bug report @wpbrown !

There was a recent bug fix (PR #83774) that addresses most of the missing coverage in your example (except for 1).

I just tested with `rustc 1.53.0-nightly (c755ee4ce 2021-04-04)` and I see the expected coverage now for the first three ranges you reported seeing no coverage. These three are now showing coverage (with 0 executions) as expected:

I was surprise

[2021-04-07 23:44] RDambrosio016 opened #83987 "Rustc should hint at accidental member access instead of associated function call on local variables"
I tried this code:

[code]
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=69cea2de96d73a7c2c8f4ca0af0cf702

I expected to see this happen:
[code]

Instead, this happened:
[code]
No hint that maybe they meant to call bar as an associated function.

### Meta

`rustc --version --verbose`: Playground 1.51 stable, doesnt work on nightly 1.53 either

[2021-04-07 23:48] RDambrosio016 commented on #83987
@rustbot label: +T-compiler +A-diagnostics

[2021-04-07 23:50] eggyal commented on #83957
@rustbot label: +A-macros +T-libs

[2021-04-08 00:10] tdelabro commented on #76704
@GroteGnoom would this do the trick ?
If yes I will claim it and proceed to create the MR

## Labels

The compiler is allowed to instantiate multiple copies of the asm! block, for example when the function containing it is inlined in multiple places.
As a consequence, you should only use GNU assembler [local labels] inside inline assembly code. Defining symbols in assembly code may lead to assembl

[2021-04-08 00:19] richkadel commented on #83985
cc: @tmandry @wesleywiser

Note, here is a snippet showing the missing coverage and code relevant to its codepath.

I haven't thoroughly investigated this. I should be able to reproduce this in a simplified test (without the async_trait and executor dependencies) that I can add to our unit tests.

I don't have a theory yet. It could either be the closure's MIR is not included in coverage (seems un

[2021-04-08 00:28] eggyal commented on #83957
See also #27950.

[2021-04-08 00:43] eggyal commented on #79609
To be fair this issue was specifically about SLJL mingw32 whereas the "fix" in v24 drops SLJL for Dwarf2; I should have called it a "workaround" instead, sitting alongside @Amanieu's alternative suggestion of using `-Z build-std` (which is of course only available when using a nightly toolchain).

[2021-04-08 00:56] camelid commented on #83982
FWIW, #80545 was prioritized as `P-medium`.

[2021-04-08 00:58] camelid commented on #83982
Hmm, no WG-prioritization stream was created for this issue. I'll try re-applying the label:
@rustbot label: -I-prioritize +I-prioritize

[2021-04-08 01:04] wesleywiser commented on #81163
Thanks for the reminder! I've opened #83785 which shows some small, positive improvements to compilation time.

[2021-04-08 01:06] camelid commented on #83914
Thanks for the speedy fix! The docs are back online now (because it's a bit after midnight UTC). I'm glad they're back :)

[2021-04-08 01:24] jrmuizel commented on #71997
I filed a gcc bug for fun too: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=99966

[2021-04-08 02:02] jcdickinson commented on #81823
I just tested this theory, the confusing error message is gone. The TODO remains.

[code]

[2021-04-08 02:05] jyn514 commented on #83982
Closing as a duplicate of https://github.com/rust-lang/rust/issues/80545.

[2021-04-08 02:05] #83982 closed

[2021-04-08 02:43] #83943 closed

[2021-04-08 04:04] camelid commented on #83887
Should that PR be marked as fixing this issue so we don't forget to close this issue?

[2021-04-08 04:19] sunfishcode commented on #72175
My understanding of the meaning of `from_raw_fd` being unsafe comes from [these comments](https://github.com/bytecodealliance/wasi/issues/8#issuecomment-525711065) from @RalfJung. I was unsure at the time, but have come to see how it makes sense.

I agree with the assessment [above](https://github.com/rust-lang/rust/issues/72175#issuecomment-663682767) about `mmap`, however there are other problem

[2021-04-08 04:23] jyn514 commented on #83862
Oof I just realized this is a lot harder than I expected. For the case where `usize` is a module, `usize::MAX` resolves normally with `resolve_path`, before the hacky string splitting for `resolve_associated_item`. So to support `prim@usize::MAX` I need to do the string splitting *before* resolve_path ever runs, and call `resolve_primitive_associated_item` instead.

@Manishearth btw do you *want*

[2021-04-08 04:44] asg0451 opened #83988 "Failed to automatically apply fixes suggested by rustc"
I ran this command:
[code]

and it told me to file a bug ;). Output below as requested:
[code]

rustc nightly version: rustc 1.52.0-nightly (51748a8fc 2021-03-05)
Ubuntu 20.04

The code might be confidential... but I might be able to provide it on request.
I am in a project within a cargo workspace, if that helps. I typically use stable, but use nightly for this command.

Let me know if you have a

[2021-04-08 04:47] asg0451 commented on #83988
adding return type to the fn in question fixed it:
[code]
->
[code]

why did that fix it?

[2021-04-08 05:09] the8472 opened #83989 "UI test `sanitize/hwaddress.rs` fails with linker error on aarch64 when executed with 1 CGU"
This was discovered in https://github.com/rust-lang/rust/pull/81942#issuecomment-815350545 which lowers the UI test default CGU count to 1. The test was modified to explicitly request a higher CGU count to make it pass, but the underlying issue remains.

Steps to reproduce:

1. add the compile flag `-C codegen-units=1` to `src/test/ui/sanitize/hwaddress.rs`
2. run test on an aarch64 target, e.g. v

[2021-04-08 05:23] Amanieu commented on #79609
As a workaround you could just define your own `_Unwind_Resume` function with `#[no_mangle]` so libunwind doesn't get pulled in. The contents don't matter since it won't even get called.

[2021-04-08 07:48] #43974 closed

[2021-04-08 07:49] DomantasJ commented on #65816
`Vec::into_raw_parts` is currently defined in `impl<T, A: Allocator> Vec<T, A>`. Isn't this a potential footgun? The pointer you get is generally only usable with that specific allocator, so a function that throws it away seems to encourage doing the wrong thing.

[2021-04-08 07:55] SimonSapin commented on #65816
That’s a good point. We could limit `Vec::into_raw_parts` to `A = Global` and have an additional method that also returns the allocator handle. It still wouldn’t really *prevent* misusing the raw pointer but would nudge into considering the allocator compatibility.

[2021-04-08 08:20] DomantasJ commented on #65816
That method, [`Vec::into_raw_parts_with_alloc`](https://doc.rust-lang.org/beta/std/vec/struct.Vec.html#method.into_raw_parts_with_alloc), already exists. I suspect this problem was just an oversight when adding allocator support.

[2021-04-08 09:11] SkiFire13 commented on #83988
Minimal reproducible example:

[code]

Previously the closure return type was inferred, which prevented deref coercion from happening. By specifying the return type you removed the type inference step and allowed deref coercion to occur. See the [nomicon](https://doc.rust-lang.org/nomicon/coercions.html) for more details.

[2021-04-08 09:13] RalfJung commented on #72175
At the time that comment was written, nix also had a safe `fork`. Luckily, this was [fixed since then](https://github.com/nix-rust/nix/issues/1030). But based on this I'd be cautious to give much weight to the argument that "if nix has a safe way to do this, it's probably okay" -- there's also a high chance that nix should make more operations unsafe.

Yeah, that is also what I said back then and

[2021-04-08 09:17] RalfJung opened #83991 "rustdoc links to type aliases that don't exist in search results"
There are bad (404) links in search results with nightly rustdoc. E.g. go to https://doc.rust-lang.org/nightly/std/?search=as_raw_fd and then click the `std::RawFd::as_raw_fd` result. This leads to https://doc.rust-lang.org/nightly/std/type.RawFd.html#method.as_raw_fd which does not exist.

Cc @rust-lang/rustdoc

[2021-04-08 09:17] RalfJung commented on #83991
Actually, this issue seems to exist even on stable -- somehow it went unnoticed for quite a while, it seems.

[2021-04-08 09:19] GuillaumeGomez commented on #83991
I think it's because we are badly handling a reexport/type alias.

[2021-04-08 09:56] tdelabro commented on #78459
It seems that @glandium is the one that developed the feature, in https://github.com/rust-lang/rust/pull/50882.
He had been warned of the incomming issue, https://github.com/rust-lang/rust/pull/50882#issuecomment-457358184, and opt for a "workaround", https://github.com/rust-lang/rust/pull/50882#issuecomment-463440500.

@glandium can you give us more information about the problem you faced, the wo

[2021-04-08 10:03] GroteGnoom commented on #76704
I don't know, I just wanted to clear up who was working on this issue. I guess you can just claim it anyway, since @castarco didn't respond.

[2021-04-08 10:09] matthiaskrgr commented on #79565
smaller example from glacier/fixed/74255.rs
[code]

[2021-04-08 11:35] DutchGhost opened #83993 "ICE: index out of bounds: the len is 0 but the index is 18446744073709551615"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-04-08 11:48] DemiMarie opened #83994 "Exiting a process calls exit() which isn’t thread-safe"
On Unix-like platforms, `std::process::exit` [calls `libc::exit()`](https://github.com/rust-lang/rust/blob/db492ecd5ba6bd82205612cebb9034710653f0c2/library/std/src/sys/unix/os.rs#L634).  However, this can lead to undefined behavior in a multithreaded process.

In my case, this showed up as use-after-free crashes when running the testsuite for [RPM Oxide](/QubesOS/RPM-Oxide).  `librpm` registers an

[2021-04-08 12:13] jyn514 commented on #83994
Hmm, it seems really weird to me for exit() not to call libc::exit. It seems like the issue is libraries shouldn't be registering exit handler that aren't thread safe?

[2021-04-08 12:14] hyd-dev commented on #83994
cc sfackler/rust-openssl#1293

[2021-04-08 12:14] jyn514 commented on #83994
I'm going to move this from T-libs-impl to T-libs because not calling libc::exit is user-facing.

[2021-04-08 12:20] Alexendoo commented on #82952
Fixed by #83935

[2021-04-08 12:20] #82952 closed

[2021-04-08 12:44] hyd-dev commented on #83994
I don't see how would `quick_exit` be different from `exit` if you registered a non-thread-safe exit handler (by `at_quick_exit`). You should either use [`_Exit`](https://en.cppreference.com/w/cpp/utility/program/_Exit) or not registering one *at all*.

[2021-04-08 12:44] hameerabbasi commented on #83994
Removing `I-prioritize` and adding `I-nominate` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2383994.20Exiting.20a.20process.20calls.20exit.28.29.20which.20isn.E2.80.99t.20thread-sa.E2.80.A6) on Zulip.

@rustbot labels -I-prioritize +I-nominate

[2021-04-08 13:12] steffahn opened #83995 "Documentation of `mem::uninitialized` potentially confusing for ZSTs"
I recently wanted to create a value of a zero-sized type. (Making sure that the type is `'static` and `Copy` and my API already got passed an instance of it at some point earlier.) After some thinking, I’ve ended up using `MaybeUninit::uninit().assume_init()` to create a value of the type. But I don’t feel 100% satisfied with this choice. The reason is the following: The [`mem::unitialized`](https

[2021-04-08 13:40] igolane36 commented on #83962
Few more details:

1. Compiling the same code with version 1.50.0 *works* .
2. Compiling the same code with version 1.51.0 on Ubuntu *works* .
3. The bug occurred on multiple Macs.
So the issue seems to be with version 1.51.0 and macOS.

[2021-04-08 13:41] vmalloc commented on #83962
I can confirm this reproduces for me as well on macOS. Does not happen in 1.50.0.

We also get the additional information:
[code]

[2021-04-08 13:45] CoffeeBlend opened #83996 "core::slice::Iter::new is unsound for non-ZSTs"
The current implementation uses `pointer::add` to compute the end pointer for the bounds check:
https://github.com/rust-lang/rust/blob/69e1d22ddbc67b25141a735a22a8895a678b32ca/library/core/src/slice/iter.rs#L88-L102
The method requires that the calculation will not overflow a `usize`, however that is not always the case. For instance, an allocator might return the last available page (`0xfffff000`

[2021-04-08 13:57] tspiteri opened #83997 "Documentation: inline code with links split into multiple blocks"
**EDIT(camelid): ⚠️ Please do not open a PR for this! It is still under discussion.**

-----

Right now in the standard library documentation, when a piece of inline code has part of it linked, the code is split into multiple `<code>` blocks, which renders poorly. For example the [`Arc` thread safety section](https://doc.rust-lang.org/nightly/std/sync/struct.Arc.html#thread-safety) contains

![ima

[2021-04-08 14:13] tdelabro commented on #76704
@rustbot claim

[2021-04-08 14:15] ABouttefeux commented on #81576
@rustbot claim

[2021-04-08 14:18] Mark-Simulacrum commented on #76704
cc @Amanieu who's likely  good reviewer for the PR, and may be able to give feedback on the preliminary summary above

[2021-04-08 14:28] WaffleLapkin commented on #75899
I'd like to work on this. I haven't worked on the compiler yet, so not sure I'll be able to fix this in a reasonable time. But since it's labelled `E-easy` it's worth giving a try, right? Any advice is appreciated :)

@rustbot claim

[2021-04-08 14:30] pnkfelix commented on #83139
discussed at team compiler meeting. A partial solution, addressing solely the case where the loop is unrolled, has landed in LLVM in https://reviews.llvm.org/D99579

We would probably be in favor of backporting D99579, even though it is only a partial solution  to the problem here.

[2021-04-08 14:42] r00ster91 opened #83998 "The compiler should complain about unknown features before complaining about missing crate attributes"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

I think it would be much more helpful if the compiler complained about the unknown feature before it complains about me needing to add the feature. This led to a very confusing moment when I was missing the `s` at the end of `custom_test_frameworks` which the compiler didn't tell me abo

[2021-04-08 14:42] steveklabnik commented on #83995
This is for the libs team to decide what the docs should say (I think the intent is that the "basically" implies things like your situation, but am not sure), and for them and the lang team to decide if what you're doing is legal.

[2021-04-08 14:56] eggyal commented on #83998
Unknown *attributes* [already](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5e5494df2f837854ae80d2045d0d2887) trigger `cannot find attribute` errors.  The problem here is that the attribute `feature` is known, but *it* didn't complain about an unrecognised token in amongst its arguments.

[2021-04-08 15:00] gribozavr opened #83999 "Docs for `CStr.as_ptr()` are describing `CString`"
The documentation for [CStr.as_ptr()](https://doc.rust-lang.org/std/ffi/struct.CStr.html#method.as_ptr) is identical to docs for [CString.as_ptr()](https://doc.rust-lang.org/std/ffi/struct.CString.html#method.as_ptr) and does not work for `CStr`. For instance, the provided code samples don't even create a `CStr`.

[2021-04-08 15:01] r00ster91 commented on #83998
Oh, right, I meant unknown attribute arguments, not unknown attribute.

[2021-04-08 15:07] DemiMarie commented on #83994
The assumption (from an old C++ proposal I read) is that doing so is considered a bug on the part of the caller of `at_quick_exit`.
 In particular, `quick_exit` does *not* call C++ static destructors for this reason.

[2021-04-08 15:12] eggyal commented on #83998
That's down to the implementation of each individual attribute, though... they receive an opaque token stream and can do whatever they want (or don't want) with it.

[2021-04-08 15:16] eggyal commented on #83998
Also, libraries can define their own `#![feature]`s so I don't think the compiler can in general know whether a given feature name exists or not (at least not without distinguishing builtin and library features in some way, which is not a bad idea but would be a breaking change).

[2021-04-08 15:19] eggyal commented on #83998
https://github.com/rust-lang/rust/blob/69e1d22ddbc67b25141a735a22a8895a678b32ca/compiler/rustc_passes/src/stability.rs#L957-L958

[2021-04-08 15:20] eggyal commented on #83998
Duplicate of https://github.com/rust-lang/rust/issues/44232

[2021-04-08 15:22] #83998 closed

[2021-04-08 15:25] jyn514 commented on #83999
@gribozavr are you interested in making a PR to fix it? :)

[2021-04-08 15:31] jyn514 commented on #83997
Yes, I think this is a good change - one like it has already been accepted (https://github.com/rust-lang/rust/pull/80720) and I need to merge the other, thanks for reminding me (https://github.com/rust-lang/rust/pull/80733). I need to open an issue for rustdoc to do this automatically - I don't know if it's worth spending time to convert the whole standard library by hand in the meantime.

See htt

[2021-04-08 15:36] eggyal commented on #83999
Sorry, I should have done this earlier!
@rustbot claim

[2021-04-08 15:41] Manishearth commented on #83862
Hmm, this sounds like a pretty big complication; unsure if we should.

We can just special case the primitives and do both lookups.

[2021-04-08 15:44] jyn514 commented on #83862
Sorry, I don't follow - what should happen if it's ambiguous (both resolve)?

[2021-04-08 15:45] jyn514 commented on #83862
I would also be ok with saying "don't name modules after primitives", that seems confusing anyway.

[2021-04-08 15:46] guysoft commented on #46090
Getting the same when building cryptography for python.
[code]

Source at this project:
https://github.com/guysoft/MagicMirrorOS

[2021-04-08 16:15] Amanieu commented on #76704
@tdelabro The example looks good!

Keep in mind the documentation may have to change in the future depending on what we decide to do with labels in https://github.com/rust-lang/rust/issues/81088#issuecomment-814589056.

[2021-04-08 16:21] Manishearth commented on #83862
I mean, don't name modules after primitives such that the names clash. Fine with wontfixing

[2021-04-08 16:24] tdelabro commented on #76704
@Amanieu Yeah I saw this thread while doing my researches. Do you suggest I include a link to this issues, or that I delay this #76704 until the resolution of #81088 ?

Imo the best would be for future release on this subject to also amend this section. Is there a way to make sure this happens every time ?

[2021-04-08 16:31] a1phyr opened #84003 "Misleading diagnostics with missing bounds when deriving a trait"
Given the following code: https://play.rust-lang.org/?edition=2018&gist=5f8c9b8b72174c48746e236c827ab881

[code]

The current output is:

[code]

The proposed solution is obviously wrong, the compiler should suggest a manual impl instead.

[2021-04-08 16:31] #83862 closed

[2021-04-08 16:52] Amanieu commented on #76704
I'll make sure the documentation is updated when #81088 is resolved. In the meantime it would be best to add your section to the documentation.

[2021-04-08 17:38] richkadel commented on #82144
@catenacyber - Did you propose or submit a patch to upstream LLVM to change how it handles missing functions (to make it a warning but not an error)?

Reading the comments on various PRs and Issues, it looks like you did not follow through with this, but I'm considering making that change to `llvm-cov`.

I'm still seeing this error triggered, very infrequently, and I'm not sure under what circumst

[2021-04-08 17:45] chipsenkbeil opened #84006 "LLVM ERROR: fixup value too large for data type"
Moving from user forum: https://users.rust-lang.org/t/llvm-error-fixup-value-too-large-for-data-type/58059

---

Platform: Apple M1 (Mac Mini & Macbook Air)
Operating System: Mac OS X Big Sur 11.2.2
Host: aarch64-apple-darwin
Rust: 1.51.0 (stable)

Works fine on other systems such as Ubuntu with x86_64.

---

When building a release version of my binary, I'm encountering, "LLVM ERROR: fixup value

[2021-04-08 17:46] jyn514 commented on #83991
I think this is a duplicate of https://github.com/rust-lang/rust/issues/78724.

[2021-04-08 17:49] korken89 commented on #53639
Hi, I'm one of the developers of RTIC ([rtic.rs](https://rtic.rs)) which is a popluar embedded RTOS/kernel.
We have made an implementation where we have removed `static mut` and replaced it with `static` and a `RacyCell` implementation.

What we see is that there were minimal code changes, in `--release` we see 0 bytes difference of all examples :tada: :tada: , and ~1-2% bloat worst case for debug

[2021-04-08 17:51] jyn514 commented on #78467
So no: https://github.com/rust-lang/rust/pull/82014#issue-572242853

[2021-04-08 17:51] PatchMixolydic commented on #35853
Due to the acceptance of [RFC 3086] (tracking issue #83527), a resolution to this issue seems to be forthcoming in the form of [`$$`] (with this issue in particular being a motivating example for that feature).

[RFC 3086]: https://github.com/rust-lang/rfcs/blob/master/text/3086-macro-metavar-expr.md
[`$$`]: https://github.com/rust-lang/rfcs/blob/master/text/3086-macro-metavar-expr.md#dollar-dolla

[2021-04-08 17:52] briansmith commented on #53639
The one use of `static mut` I have is:

[code]

Where some C/assembly code accesses `PREFIX_Foo` as `uint32_t`. It's not clear what the proposed replacement for this would be. Any replacement would need to be ABI compatible with `uint32_t`.

[2021-04-08 17:55] Aaron1011 commented on #53639
@briansmith You should be able to use `#[repr(transparent)]` on your wrapper to get the desired effect.

[2021-04-08 17:58] jyn514 commented on #66164
Duplicate of https://github.com/rust-lang/rust/issues/61592, fixed by https://github.com/rust-lang/rust/pull/80267.

[2021-04-08 17:58] #66164 closed

[2021-04-08 18:00] jyn514 commented on #56900
I'm going to close this, since it seems like people aren't running into it anymore. Feel free to reopen if you're still having trouble.

[2021-04-08 18:00] #56900 closed

[2021-04-08 18:02] jyn514 commented on #54316
This was fixed by https://github.com/rust-lang/rust/pull/56689; you can now use `#[allow(rustdoc)]` or `#[allow(rustdoc::all)]` to ignore rustdoc warnings (the attributes do the same thing, but the second only works on 1.52 and later).

[2021-04-08 18:02] #54316 closed

[2021-04-08 18:05] jyn514 commented on #52509
This is working on master:
![image](https://user-images.githubusercontent.com/23638587/114075310-6bab9500-9873-11eb-9e81-8602d0f85037.png)

[2021-04-08 18:05] #52509 closed

[2021-04-08 18:09] Aaron1011 commented on #83962
@igolane36 @vmalloc: Can either of you share the repository you're using to reproduce this crash?

[2021-04-08 18:12] the8472 commented on #83996
`vec::IntoIter` is constructed in a similar fashion

https://github.com/rust-lang/rust/blob/010c2368fa33ef08df3080228498db8d2ba5a93b/library/alloc/src/vec/mod.rs#L2429-L2439

`array::IntoIter` on the other hand uses a different idiom

https://github.com/rust-lang/rust/blob/010c2368fa33ef08df3080228498db8d2ba5a93b/library/core/src/array/iter.rs#L26-L33

[2021-04-08 18:14] briansmith commented on #53639
Which wrapper would I use that's `#[repr(transparent)]`? I think you're saying I'd need to write a wrapper, in which case, how would one do so?

[2021-04-08 18:15] lnicola commented on #53639
@briansmith there's one in https://github.com/rtic-rs/cortex-m-rtic/pull/469/files#diff-b1a35a68f14e696205874893c07fd24fdb88882b47c23cc0e0c80a30c7d53759.

[2021-04-08 18:16] jyn514 commented on #41903
This is the same as  https://github.com/rust-lang/rust/issues/22083, but for crates other than the standard library.

There are three ways rustdoc could behave:
1. All [src] links go to the place they're defined (the current behavior). If so both this issue and https://github.com/rust-lang/rust/issues/22083 should be closed as wontfix.
2. libstd links go to the re-export, but all other links go to

[2021-04-08 18:17] rodrimati1992 opened #84007 "RELEASE.md does not mention the change to allow adding docs to reexported items"
At some point between Rust 1.34.0 and 1.39.0, the ability to add documentation to reexported items was added, but I can't find it mentioned in either [the RELEASE notes](https://github.com/rust-lang/rust/blob/master/RELEASES.md) or the rust-lang.org blog posts.

Maybe this should be mentioned in the RELEASE notes for the version that added that feature?

I have a `foo` crate that I use to test stu

[2021-04-08 18:19] GuillaumeGomez commented on #41903
I'd be more inclined to link to the reexport but otherwise no strong feeling about it...

[2021-04-08 18:19] SimonSapin commented on #53639
This wrapper has a `pub unsafe fn get_mut_unchecked(&self) -> &mut T` method. Doesn’t that have the same issues as directly taking `&mut` of a `static mut`?

[2021-04-08 18:22] Lokathor commented on #53639
Yeah you should very likely be returning *mut T instead.

[2021-04-08 18:24] jyn514 commented on #39437
I think this has the same cause as https://github.com/rust-lang/rust/issues/60686 - rustdoc should find somewhere to put the docs for reachable public items that are in private modules.

[2021-04-08 18:27] jyn514 commented on #32553
This is fixed on master:
![image](https://user-images.githubusercontent.com/23638587/114078083-7fa4c600-9876-11eb-877f-0cea42b9a9ef.png)

[2021-04-08 18:27] #32553 closed

[2021-04-08 18:29] jyn514 commented on #32130
Triage: this is *almost* working, these are the last broken links left in the standard library: https://github.com/rust-lang/rust/blob/010c2368fa33ef08df3080228498db8d2ba5a93b/src/tools/linkchecker/main.rs#L33-L40

[2021-04-08 18:30] jyn514 commented on #32130
I'm going to mark this as a standard library bug; the rustdoc half of it is tracked at https://github.com/rust-lang/rust/issues/74481.

[2021-04-08 18:33] jyn514 commented on #26560
This is fixed on master.
![image](https://user-images.githubusercontent.com/23638587/114078798-5cc6e180-9877-11eb-81c3-50dd83f09588.png)

[2021-04-08 18:33] #26560 closed

[2021-04-08 18:34] jyn514 commented on #36722
These are all fixed on master. Here's assert as an example:
![image](https://user-images.githubusercontent.com/23638587/114078972-97c91500-9877-11eb-8379-b92336350f91.png)

[2021-04-08 18:34] #36722 closed

[2021-04-08 18:41] jyn514 commented on #18370
Triage: This is happening on docs.rs too: https://docs.rs/mbedtls-sys-auto/2.26.0/src/mbedtls_sys/opt/rustwide/target/debug/build/mbedtls-sys-auto-bbf58e089d61f478/out/bindings.rs.html

[2021-04-08 18:41] the8472 commented on #84006
Looks like it has been fixed upstream https://github.com/llvm/llvm-project/commit/38348fa26548fdcdbc1ae18c6e612d67f103ee37 and isn't in the rust-lang llvm repo.

[2021-04-08 18:42] catenacyber commented on #82144
I did not

You are welcome to do it.
My quick and dirty patch is in the first comment of this issue.
I am not sure about this deserves warning vs error...
So I did not push it upstream

Indeed, maybe the coverage about the whole static library/rust crate is wrong, but the other ones look correct.

[2021-04-08 18:45] jyn514 commented on #18370
I'm not sure this is rustdoc's fault - it does the same thing for build scripts as for anything else: https://github.com/rust-lang/rust/blob/010c2368fa33ef08df3080228498db8d2ba5a93b/src/librustdoc/html/sources.rs#L48
Maybe there's some bug in `span_to_filename`? https://github.com/rust-lang/rust/blob/010c2368fa33ef08df3080228498db8d2ba5a93b/compiler/rustc_span/src/source_map.rs#L473-L475

[2021-04-08 18:47] the8472 commented on #84006
Nevermind, github search doesn't find it when it's on branches, it's in the rust llvm repo on the llvm12 branch: https://github.com/rust-lang/llvm-project/commit/38348fa26548fdcdbc1ae18c6e612d67f103ee37

The bump to [llvm12 happened recently](https://github.com/rust-lang/rust/pull/81451), it's not in a stable release yet. You could try nightly.

[2021-04-08 18:49] jyn514 commented on #81311
If https://github.com/rust-lang/rust/issues/41903 is implemented, it should also fix this issue.

[2021-04-08 18:49] petrochenkov commented on #61657
This is not something that is supposed to be tracked by an issue in this repo.
If IBM or enthusiasts are interested in implementing such support, the patches will be accepted if they meet conditions of the target tier policy (https://github.com/rust-lang/rfcs/pull/2803).

[2021-04-08 18:49] #61657 closed

[2021-04-08 18:51] petrochenkov commented on #49653
cc https://github.com/rust-lang/rust/issues/44815

[2021-04-08 18:59] jyn514 commented on #84007
This was changed in 1.38 (coincidentally also the release rust-std spiked from a 61.2 MB to 173.3 MB download).

@rodrimati1992 are you interested in making a PR?

[2021-04-08 19:01] PatchMixolydic opened #84009 "Incorrect span for GAT equality bound with missing type parameter in `where` clause"
Given the following code (taken from https://github.com/rust-lang/rust/issues/79636#issuecomment-748633505, [playground]):

[playground]: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=31138aa6fa43d0d3f4221d64d7589bf6

[code]

The current output is:

[code]

Note that the suggestion is syntactically invalid:
[code]

[code]

The problem is that the span is pointing at the

[2021-04-08 19:02] PatchMixolydic commented on #84009
@rustbot modify labels: +A-associated-items +F-generic_associated_types

[2021-04-08 19:02] korken89 commented on #53639
Indeed one could do it, now we have a 1:1 interface port of what we had.

[2021-04-08 19:03] PatchMixolydic commented on #84009
Duplicate of #81801 :sweat_smile:

[2021-04-08 19:03] #84009 closed

[2021-04-08 19:05] rodrimati1992 commented on #84007
@jyn514 Sure, what are PRs that made this possible?

[2021-04-08 19:08] jyn514 commented on #84007
Oh I have no idea :laughing: I found it by bisecting.

[2021-04-08 19:13] rodrimati1992 commented on #84007
Looks like #63048 is it

[2021-04-08 19:49] mulchy opened #84011 "'rustc' panicked at 'forcing query with already existing `DepNode`"
### Code
I don't have a minimal code example, but I ran into this by cloning bevy and trying to run an example.

Steps to reproduce:
Clone `git@github.com:bevyengine/bevy.git`
Checkout commit `bc13d11c78c0593e6bce61b65ec3bfc1da7842df`
Run `cargo run --example breakout`

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<

[2021-04-08 19:58] mulchy commented on #84011
There is no panic on stable or on `1.53.0-nightly (361bfce30 2021-04-07)` so I'm going to close this.

[2021-04-08 19:58] #84011 closed

[2021-04-08 20:06] richkadel commented on #82144
Thank you! I just wanted to make sure I wasn't duplicating effort. Thanks so much for your time and effort helping to find this root cause. It meant a lot!

[2021-04-08 20:10] jyn514 opened #84012 "Rename `--show-coverage` to `--output-format coverage` (and `coverage-json`)"
Right now, `--output-format` is greatly overloaded (as seen by https://github.com/rust-lang/rust/pull/82497). `--output-format json` is unstable, except when you use it with  `--show-coverage`. Also, `--show-coverage` is not great at conveying that it stops documentation from being generated at all.

I suggest that we rename `--show-coverage` to `--output-format coverage` and `--show-coverage` to

[2021-04-08 20:36] Nemo157 commented on #41903
I don't necessarily agree that `[src]` and type/intra-doc links should behave the same. For facade's having the links to inlined re-exports allows control of the presentation of the docs, while using `[src]` normally means you want to actually see the source defining the type; and only the top-level `[src]` link could link to the re-export, all the other `[src]` links on the page (associated items

[2021-04-08 20:44] CraftSpider commented on #41903
I think option 1 is the way to go, `[src]` should always link to the place it's defined. For reasons similar to what Nemo just said, as well as my anecdotal opinion on how I use `[src]`: If I click it, I want to see the actual code. To click it and see a re-export would be immediately frustrating, and require putting in additional work to find what the link claimed by name to be giving me.

[2021-04-08 20:54] jyn514 commented on #41903
This is an excellent point. I agree [src] should go to the definition and "documentation" links should use the facade.

[2021-04-08 20:54] #41903 closed

[2021-04-08 21:01] p0lunin commented on #83321
I have a similar issue.
[code]
erorr locates here: https://github.com/rust-lang/rust/blob/stable/compiler/rustc_query_system/src/dep_graph/graph.rs#L477
but i upgrade my rustc toolchain and i can't reproduce this bug now, and can't show the backtrace.

[2021-04-08 21:35] richkadel opened #84018 "Show zero coverage for unreachable blocks (e.g., dropped after const evaluation)"
Source-based code coverage (via `-Z instrument-coverage`) does not show coverage for unreachable blocks that were optimized out during MIR transformations. For example:

[code]

Ideally the second line would show a coverage execution count of `0`, but, assuming this snippet is executed, it would instead show something like:

[code]

The coverage percentage for this block would be computed as 100%,

[2021-04-08 21:52] nikomatsakis commented on #75899
@WaffleLapkin I'm not sure if that E-easy label is really accurate! That said, you could try to drop by in #wg-traits on Zulip at some point during one of my morning office hours times, if that works for you (9am-10 US Eastern Time, every day but Tuesday), and we could talk it over.

[2021-04-08 21:54] #62175 closed

[2021-04-08 21:57] richkadel commented on #79617
This issue described a general problem that has been resolved by PR #83774. I confirmed this by re-running the test in this issue's description.

(Note there is a separate, related issue, that was also mostly resolved by #83774, except for one case. See https://github.com/rust-lang/rust/issues/83985#issuecomment-815340178. So issue #83985 remains open to address that specific edge case.)

@tmandry

[2021-04-08 21:57] nikomatsakis commented on #63033
I'm going to remove the "async await triaged" label so that we take a second look at this. Maybe worth reprioritizing. I'll see if I can post some mentoring instructions.

[2021-04-08 22:07] #78302 closed

[2021-04-08 22:07] #77501 closed

[2021-04-08 22:07] #83598 closed

[2021-04-08 22:15] chipsenkbeil commented on #84006
Tried nightly, but it's failing to compile because of issues with version 0.7.4 of lexical-core, some transitive dependency. So unable to verify whether upstream changes would fix, but crossing fingers 😄

[2021-04-08 22:47] eggyal commented on #58612
See also #27738

[2021-04-08 23:14] tdelabro commented on #76704
My PR is here: https://github.com/rust-lang/rust/pull/84015

I have question: Why other examples have their `#[feature(asm)]` line commented ? I make them fail to compile and run in the playground.
![Capture d’écran 2021-04-09 à 01 13 05](https://user-images.githubusercontent.com/34384633/114107204-cf17e000-98d0-11eb-8f4e-8079831da5dd.png)

[2021-04-08 23:29] bstrie opened #84019 "Namespace the `asm!` macro"
### Click [here](https://github.com/rust-lang/rust/issues/84019#issuecomment-875101919) for the final summary report.

Original issue preserved below:

---

As of today, most macros in Rust, despite being declared by the stdlib, are not properly namespaced in the sense that every other type, function, and trait in the stdlib is namespaced. Instead, historically, macros "live" in the crate root due

[2021-04-08 23:30] bstrie commented on #72016
For the open question of in what namespace the `asm!` macro should live, I've opened https://github.com/rust-lang/rust/issues/84019 to collect the various arguments.

[2021-04-08 23:34] calebzulawski opened #84020 "Segmentation fault during optimization pass with aarch64 simd"
The following code seg faults during optimization.  I've produced it on both macOS and Linux.

Discussions:
https://rust-lang.zulipchat.com/#narrow/stream/257879-project-portable-simd/topic/2021-03-29.20Meeting
https://rust-lang.zulipchat.com/#narrow/stream/257879-project-portable-simd/topic/Aarch64.20LLVM.20bug
https://rust-lang.zulipchat.com/#narrow/stream/187780-t-compiler.2Fwg-llvm/topic/Debug

[2021-04-08 23:38] asquared31415 commented on #81088
I would much rather be able to use more descriptive labels in inline asm, however, I don't think there's a way to do this without a lot of parsing of inline assembly, which I think should be avoided, and even if that were done, I don't think that it can be done perfectly.

With this in mind, I think I am in favor of doing nothing, specifying in documentation that local labels are **required** and

[2021-04-08 23:38] calebzulawski commented on #84020
@nagisa filed https://bugs.llvm.org/show_bug.cgi?id=49867 with the reduced LLVM IR from rustc, but I was only able to reproduce the segfault from rust with SIMD intrinsics with 64-length vectors, so I wonder if we have two separate bugs in the optimizer.

[2021-04-08 23:45] ExpHP opened #84021 "E0195 on where Self: 'a bounds when they are unconditionally satisfied by Self"
[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=20c86d957686548c5d95c5b279493ab7

I expected this to succeed.  And in fact, the first impl (the generic one) succeeds!  (i.e. the compiler is able to successfully determine that `Self: 'ctx` given `A: 'ctx` and `B: 'ctx`)

However, an error is emitted on the impl for `()`:

[code]

In order to make this one compile, w

[2021-04-08 23:50] Andy-Python-Programmer commented on #40180
It does work by-value parameter!

![image](https://user-images.githubusercontent.com/62820092/114109593-e7abe880-9918-11eb-8512-4407f0d4c780.png)
Everything now seems to be correct. Eg the stack segment is (16) => 0x10 which is valid

[2021-04-09 01:21] ExpHP commented on #84021
Possibly related:

[code]

[2021-04-09 01:37] asg0451 commented on #83988
Interesting. i dont quite follow, but that's fine. Nevertheless, clippy asked me to file this issue, so I did ;)

[2021-04-09 01:49] #83709 closed

[2021-04-09 02:21] BartMassey commented on #84019
Strongly support `std::arch::foo64::asm`.

I find the kind of issue discussed in "3. Error reporting in the event of unguarded asm: having arch::asm" to be determinative.

I'm less worried about error reporting, though, than about having something accidentally cleanly assemble with different semantics because of the wrong architecture.

I have an example lying around somewhere in the issue tracker

[2021-04-09 02:23] the8472 opened #84025 "UI test `asm/sym.rs` fails with a linker error when executed with 1 CGU"
This was discovered in #81942 which lowers the UI test default CGU count to 1. The test was modified to explicitly request a higher CGU count to make it pass, but the underlying issue remains.

Steps to reproduce:

1. add the compile flag `-Ccodegen-units=1` to `src/test/ui/asm/sym.rs`
2. run UI test

output

[code]

[2021-04-09 02:34] Andy-Python-Programmer commented on #40180
Discovered something more:
As we are writing to 0xdeadbeaf the stack segment should be 0x00. For example this is a right interrupt stack:
![image](https://user-images.githubusercontent.com/62820092/114120471-e76b1780-992f-11eb-95fe-8a2a5d639e6b.png)
As you can see the image below its 0x10.
![image](https://user-images.githubusercontent.com/62820092/114120493-f356d980-992f-11eb-85f5-514d71206293.pn

[2021-04-09 02:38] jonasmalacofilho commented on #83911
Bisected:

searched nightlies: from nightly-2021-01-01 to nightly-2021-03-24
regressed nightly: nightly-2021-02-06
searched commits: from https://github.com/rust-lang/rust/commit/4f4656d46d84a488ae3df34b08f362d7071036a0 to https://github.com/rust-lang/rust/commit/23adf9fd843da7a3394c824b056f93151aaa40ad
regressed commit: https://github.com/rust-lang/rust/commit/5605b5d693ac0aba5b506923e3e99ec92796

[2021-04-09 02:45] the8472 commented on #84019
Another approach is to have arch-specific implementations in separate modules where the whole module is cfg'd, so you can use regular imports inside.

[2021-04-09 05:55] Krysme opened #84026 "2021-03-24 nightly compiler crashes when building proc-macro-error"
rustc version 07e0e2ec2

How it is reproduced:

OS: Ubuntu 18.04.5 LTS (it can also be reproduced on Arch Linux)
export RUSTFLAGS='-g -C target-cpu=native -Zsanitizer=address'

compile `proc-macro-error` (git version: `a3bad9a2507f0c3b318111297ef6654acca97c37`)

and then I get this error message:

[code]

[2021-04-09 07:00] #83892 closed

[2021-04-09 07:11] Soveu commented on #40180
Shouldn't 0x0 segment be null descriptor? (which iirc is invalid, it should be a 64bit data segment)

[2021-04-09 07:23] wigy-opensource-developer commented on #63033
@AVee Oh, my fault. And indeed. after "fixing" the async block it definitely looks worse than the async fn one.

[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a219da926d3ec71c8cf1b1466e70917c)

[2021-04-09 08:09] vmalloc commented on #83962
Our current reproduction is a repo we cannot disclose. I will try to strip it down to a minimum subset that still reproduces it, but it might take me a while. In the mean time if there is some additional artifact that can help pin it down I will gladly provide it

[2021-04-09 08:10] vmalloc commented on #83962
Our current reproduction is a repo we cannot disclose. I will try to strip it down to a minimum subset that still reproduces it, but it might take me a while. In the mean time if there is some additional artifact that can help pin it down I will gladly provide it

[2021-04-09 08:16] Amanieu commented on #76704
That just hides the line. If you click on the eye icon on the top right it will reveal the line.

However it seems that this gets put inside `main` which makes the attribute ineffective.

We didn't catch this because the tests were disabled on CI (it was using LLVM 9 at the time which didn't support the necessary features for `asm!`). However since we are now using LLVM 10 on CI you can now remove

[2021-04-09 08:39] jethrogb commented on #84019
When you write `std::arch` I assume you mean `core::arch`, right?

[2021-04-09 09:18] ammkrn opened #84027 "ICE: index out of bounds: the len is 0 but the index is 0"
To reproduce:
1. create a new library crate `cargo new --lib bugtest`
2. create a tests folder and a new test file `a.rs`
3. put either a line comment or a block comment in `a.rs` and run `cargo test`
4. remove the comment and run `cargo test` again.

Nightly doesn't seem to have this problem, and if I delete `target` between builds, no error occurs.

### Code

[code]

### Meta
`rustc --version --

[2021-04-09 09:20] #84007 closed

[2021-04-09 09:49] Amanieu opened #84028 "LLVM 12 regression (GlobalISel): AArch64 backend generates incorrect code for ashr <i8 x 16>"
This is causing test failures in `stdarch` (https://github.com/rust-lang/stdarch/pull/1111).

Upstream LLVM bug: https://bugs.llvm.org/show_bug.cgi?id=49904

[2021-04-09 09:49] gilescope commented on #31844
It would be great if we had #![feature(min_specialization)] for inclusion in Rust 2021. The bigger the rust project the more this feature is typically needed. Is there a working group focused on delivering specialisation? / Is there anything we can do to help?

[2021-04-09 11:01] CoffeeBlend commented on #83996
@rustbot label A-iterators C-bug

[2021-04-09 11:23] aobatact commented on #53485
Why not return `Option<bool>` with `PartialOrd`?
If some `partial_cmp` return `None` during the check, we can return `None` instead.

[2021-04-09 11:51] Soveu commented on #29594
With `relocation-model=static` compiler uses fs "segment" to access thread local variable like expected, but with `pic` it uses `__tls_get_addr()`
Shouldn't it use fs in both situation?

[code]
[code]

[Link to godbolt](https://godbolt.org/z/fnP4h6r9o)

[2021-04-09 13:15] jyn514 commented on #84026
@krysme do you still get the same ICE with `CARGO_INCREMENTAL=0`?

[2021-04-09 13:27] ghost opened #84031 "Floating point math uses a lot of integers in memory when compiled to wasm."
### Code
[code]
</p>
</details>

[2021-04-09 13:32] saqlainisrar opened #84032 "first rust practic"

[2021-04-09 13:33] #84032 closed

[2021-04-09 13:44] 12101111 opened #84033 "bootstrap: copy_self_contained_objects can't find crtbegin.o when cc=clang"
https://github.com/rust-lang/rust/commit/c7091f5a07fa665344d0ebafae5480f54337ef88 add "crtbegin.o", "crtbeginS.o", "crtend.o", "crtendS.o" to self-contained object files, but it don't works for me.

Add some code to print the command line:

[code]

[code]

It seems the `--target=x86_64-unknown-linux-musl` argument cause clang omit the path of those files.

[code]

### Meta

`rustc --version --verb

[2021-04-09 14:33] the8472 commented on #84031
You could try creating an artificial test-case demonstrating the issue if you can't share your original code.

[2021-04-09 14:37] tmiasko commented on #82886
@Amanieu I left this open in the case there is an interest in fixing the underlying cause, if not feel free to close.

[2021-04-09 14:40] konan8205 opened #84035 "Wide characters in rustdoc: Fall-back to default CJK serif font on Windows is ugly"
In Windows, browsers like Chrome and Firefox use legacy fonts as default serif font to render.
rustdoc uses its custom serif fonts, but these do not support CJK glyph, so the browser renders CJK characters as default one.

The problem is that **the default serif font in Windows is so ugly and not clear**.
The default sans-serif font looks just ok.

Take a look at this screenshot after matching the

[2021-04-09 14:44] konan8205 commented on #84035
I'm using Windows 10 20H2, Firefox 87.0, with clean installation.

[2021-04-09 14:46] konan8205 commented on #84035
label would be `A-doc`, but I cannot add it.

[2021-04-09 14:46] Aaron1011 commented on #83962
@vmalloc: Can you try reproducing this on the latest Nightly?

[2021-04-09 14:57] gilescope commented on #31844
Nothing, just 2021 we roll up all the things that have happened to rust since 2018 and explain them all in one place. If we can have it earlier I wouldn't be complaining, but it's as good a target as any to aim for.

[2021-04-09 15:04] jyn514 opened #84036 "x.py test src/tools/clippy shouldn't build rustdoc"
I tried this code: `x.py test src/tools/clippy`
I expected to see this happen: bootstrap builds the compiler and clippy
Instead, this happened: bootstrap builds the compiler, clippy, and rustdoc

### Meta

`git merge-base HEAD origin/master` is 69e1d22ddbc67b25141a735a22a8895a678b32ca

[2021-04-09 15:19] bstrie commented on #84019
Yes, this would technically live in `core`, I was merely ignoring the facade for simplicity.

[2021-04-09 15:21] konan8205 commented on #84035
The label would be `T-rustdoc`, but I cannot add it.

[2021-04-09 15:33] shepmaster commented on #31844
That is [not the plan](https://github.com/rust-lang/rfcs/pull/3085):

[2021-04-09 15:39] infinity0 opened #84038 "1.50 added asm tests without architecture gates for those that don't support asm"
New tests, since 1.49:
- ui/asm/naked-invalid-attr.rs

Changed tests (added `asm`):

- ui/rfc-2091-track-caller/error-with-naked.rs
- ui/feature-gates/feature-gate-naked_functions.rs

On architectures that don't support asm these tests error with `asm! is unsupported on this target`

[2021-04-09 15:40] Berrysoft commented on #83460
Seems that `rustfmt` has [fixed](https://github.com/rust-lang/rustfmt/pull/4786) that. Any progress?

[2021-04-09 15:46] asquared31415 commented on #40180
On x86_64 architecture, the stack segment is *supposed* to be always forced to zero

[2021-04-09 15:49] Soveu commented on #40180
Yes, segmentation is unused, _but_ you have to define at least null, 64bit data and code segments

[2021-04-09 15:54] calebcartwright commented on #83460
Folks as always there's a sequence of PRs that have to be made across various repos before the submods can be updated with the fix here. Those PRs have been linked and can be seen above, but will explicitly enumerate them in a comment for reference

At a minimum the steps will include:
* [x] (1) bump rustc-ap* in racer and publish new version on crates.io (https://github.com/racer-rust/racer/pull/

[2021-04-09 15:55] calebcartwright commented on #83460
Want to note that the PR linked to there doesn't have anything to do with the broken toolstate

[2021-04-09 15:58] asquared31415 commented on #40180
As per [this](https://en.wikipedia.org/wiki/X86_memory_segmentation#Later_developments) wikipedia article, "Four of the segment registers, CS, SS, DS, and ES, are forced to 0, and the limit to 2^64".  Additionally the AMD manual says that those segments are unused.  It's curious that the cpu is reporting a non-zero value, however from testing their code in the community discord, everything seems t

[2021-04-09 16:00] ckaran commented on #27738
Well, it's been about 4.5 years, can we look at this again?

[2021-04-09 16:03] Krysme commented on #84026
Yes, with CARGO_INCREMENTAL=0 exported before `cargo build` the compiler still crashes.

[2021-04-09 16:05] ckaran commented on #58612
@eggyal Thank you for link!

[2021-04-09 16:08] dhardy commented on #31844
@shepmaster you're splitting hairs. In effect, [that is what happened with Rust 2018](https://doc.rust-lang.org/edition-guide/rust-2018/index.html).

Per @gilescope's original question, there is a rough summary [a few posts up](https://github.com/rust-lang/rust/issues/31844#issuecomment-767256375). Regarding working groups I don't know.

[2021-04-09 16:13] est31 commented on #83996
@rustbot label I-unsound 💥

[2021-04-09 16:19] SimonSapin commented on #27738
This thread can be informative for historical context but it is marked as closed, let’s discuss in https://github.com/rust-lang/rust/issues/58612.

[2021-04-09 16:21] ehuss commented on #84036
This is normal for running `x.py test`, since it runs doctests on the libraries.

You can pass `--no-doc` to skip building rustdoc.

[2021-04-09 16:24] SimonSapin commented on #58612
The fact that an implementation already exists inside `std` may help a little but it’s not the most important point. This would add non-trivial new API surface to the standard library, so it should likely go through the RFC process to consider questions like: what are the details of new APIs? What are their semantics? Why is making these choices preferable over alternatives? Is this a commonly-use

[2021-04-09 16:27] estebank commented on #84021
I thought that `implied_bounds` would make the code not fail, but it also fails. We could reliably detect the case and suggest the extra bound on the lifetime to match the impl, if that's how we want to solve this.

[2021-04-09 16:33] nikomatsakis commented on #83879
@rfcbot reviewed

Speaking personally, I am *so happy* I can write 'unix' vs 'windows', and I would be very happy to be able to type 'wasm'.

[2021-04-09 16:48] nbdd0121 commented on #84019
I'd like to see it in `core::arch`, so `asm!` macro's stabilisation is not tight to a specific ISA's `core::arch::<isa>` being stable. There are also archs that Rust can target but does not yet have a presence in `core::arch`, e.g. RISC-V.

[2021-04-09 16:50] Kixunil commented on #31844
@dhardy I believe that the point was that yeah it happened in 2018 but it's not intended to happen this time?

[2021-04-09 17:02] eggyal commented on #58612
Worth noting that @Amanieu's [parking_lot](https://crates.io/crates/parking_lot) crate provides a [`ReentrantMutex`](https://docs.rs/parking_lot/0.11.1/parking_lot/type.ReentrantMutex.html).

[2021-04-09 17:12] bstrie commented on #84019
I don't think this is actually a requirement; `arch::x86::asm` could be stabilized independently of `arch::riscv::asm`. The converse is also true: `arch::asm` could be stabilized only on certain targets via selective use of `#cfg`.

[2021-04-09 17:15] nagisa commented on #83879
An update on the current state:

We have removed the `cfg(wasm)` for reasons outlined in the PR above (#83981). We'll be looking into repurposing `target_family` for this purpose instead. Slightly more typing, but no backward compatibility hazards.

[2021-04-09 17:25] nbdd0121 commented on #84019
Oh another think I think it probably does make sense to have them in `core::arch::<isa>`, as not all `asm!` does not support all ISAs at the moment. It seems that nothing prevents us from having `core::arch::riscv` stablised with just `asm!` in it.

[2021-04-09 17:57] eggyal commented on #84038
@rustbot label: +A-inline-assembly +A-testsuite +T-compiler

[2021-04-09 18:14] workingjubilee commented on #56354
I believe that if `half_open_range_patterns` receive partial or total stabilization as discussed in #67264, it might allow for patterns that more usefully handle various cases here. This could be particularly useful when you want to match on e.g. the length of an array, Vec, or anything else that would produce an ExactSizeIterator (an example I have seen is matching against the count of arguments

[2021-04-09 18:16] joshtriplett commented on #79024
Some [discussion on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async-foundations/topic/renaming.20stream.20to.20async.20iterator) raised the question of naming. With full acknowledgement to the fact that the name `Stream` has a long history in the async ecosystem, multiple people observed that something like `AsyncIterator` or similar might be much more evocative for new users

[2021-04-09 18:47] #81946 closed

[2021-04-09 18:49] 12101111 opened #84040 "Refactor the linkage handling of libunwind"
[`libunwind`](https://github.com/rust-lang/rust/tree/master/library/unwind) currently need a c/cpp library that provide `_Unwind_*` symbols to work. `libgcc_s.so/libgcc_eh.a` from gcc or `libunwind.so/libunwind.a` from llvm can provide those symbols.

The `libunwind` crate is built when compiler bootstrap, and there is a flag in `config.toml` that choose which implementation to use. User can't cha

[2021-04-09 18:58] workingjubilee commented on #84035
Huh. I have a recently installed Windows, and on both Firefox and Edge, I see:
![image](https://user-images.githubusercontent.com/46493976/114226954-2e094380-9929-11eb-8b65-7d0cd94c5451.png)

This looks much more similar to your second image. I wonder if #83156 or #82315 affected this? Or maybe it is because I do not have `batang.ttc` installed? Windows says the only Korean font I have is "Malgun

[2021-04-09 19:04] konan8205 commented on #84035
Legacy fonts like `batang.tcc` maybe installed on Korean Windows.

[2021-04-09 19:06] konan8205 commented on #84035
"Malgun Gothic" is default non-legacy sans-serif font, so your browser maybe render that font instead of `batang.tcc`.

[2021-04-09 19:12] workingjubilee commented on #84035
Oh I see, that makes sense. So because it can't find a Korean serif font, it might have used a Korean sans serif font.
Checking... yep, Firefox says that it is using Malgun Gothic instead on https://docs.rs/xingapi/0.2.6/xingapi/, and obviously "have no meh-looking Korean serif fonts" is not really a reasonable expectation.
![image](https://user-images.githubusercontent.com/46493976/114229355-8ee6

[2021-04-09 19:28] konan8205 commented on #84035
![화면 캡처 2021-04-10 042344](https://user-images.githubusercontent.com/11029378/114230818-918c8300-99b4-11eb-92dd-5d0e19e8f2c8.png)
![화면 캡처 2021-04-10 042738](https://user-images.githubusercontent.com/11029378/114231233-1f686e00-99b5-11eb-9799-2422267df6ee.png)

[2021-04-09 19:32] workingjubilee commented on #83993
This index is at 2^64-1 aka "-1" (for an `i64`).

[2021-04-09 19:39] ckaran commented on #58612
@SimonSapin I agree that it should go through the RFC process, if for no other reason than the fully refine the API and ensure it is *exactly* what we want to expose.  Unfortunately, I don't have the time to push for it (too many deadlines at work right now).

[2021-04-09 19:51] petrochenkov commented on #84040
If this is implemented, then I suggest following the approach from https://github.com/rust-lang/rust/issues/72274 ("Distribute libc.a as a separate library instead of bundling it into liblibc.rlib on musl and wasi") for the in-tree case.

[2021-04-09 20:06] andrewbanchich opened #84041 "Internal compiler error when building docs in GH Actions"
Using this GitHub Actions workflow file:

[code]

originally worked, but then started failing with the following error.

[code]

Downgrading to a previous nightly release fixed this for me.

[2021-04-09 20:15] jonas-schievink commented on #84041
duplicate of https://github.com/rust-lang/rust/issues/83737

[2021-04-09 20:15] #84041 closed

[2021-04-09 20:15] #83840 closed

[2021-04-09 20:15] #83971 closed

[2021-04-09 20:16] Shadlock0133 opened #84042 "_mm_loadu_epi64 has error in implementation"
When playing around with x86_64 SIMD intrinsics, I found that `_mm_loadu_si64`, which loads 64-bit value into 128-bit vector register, work incorrectly compared to intel's intrinsic guide. According to guide, value should be put in lower half of register. Intrinsic puts it into upper half.

[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=99d78bb276fd62de

[2021-04-09 20:52] sunfishcode commented on #72175
Thanks for the suggestion; I may be interested in doing this. I wrote up a draft of an RFC here:

https://github.com/sunfishcode/rfcs/blob/main/text/0000-rawfd-ownership.md

As a caveat, I haven't written a Rust RFC before, and I'd appreciate any feedback!

[2021-04-09 21:34] camelid commented on #83997
I think we should open a separate issue for changing rustdoc's behavior so it does this automatically, and then close this one. What do you think?

[2021-04-09 21:40] camelid opened #84043 "rustdoc: Use CSS to "merge" sequential inline code spans"
This is essentially an issue to track https://github.com/rust-lang/rust/pull/80733#issuecomment-770297395.

I seem to recall an issue being opened a while ago about this (maybe by
@Nemo157?), but I can't find it, so I'm opening a new one.

[2021-04-09 21:41] camelid commented on #83997
Okay, I opened another issue: #84043. I'm not going to close this one without hearing back from other people on what they think, but I added a warning to the top of this issue so someone doesn't put energy into a PR before it is decided what we want to do.

[2021-04-09 21:52] Nemo157 commented on #84043
Probably https://github.com/rust-lang/rust/issues/62867

[2021-04-09 21:59] trtsl opened #84044 "ICE on 1.51.0 stable: 'LocalTableInContext: key not found'"
I get the following ICE with `rustc` 1.51.0 stable (but not on nightly).  The ICE can currently be reproduced on the [playground].

[playground]: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&code=fn%20foo%3CF%3E(_%3A%20%26mut%20F)%0Awhere%0A%20%20%20%20F%3A%20FnMut()%2C%0A%7B%0A%7D%0A%0Afn%20main()%20%7B%0A%20%20%20%20let%20f%20%3D%20%7C%7C%20%7B%7D%3B%0A%20%20%20%20foo(%26mu

[2021-04-09 21:59] programmerjake commented on #56058
Would this open a path for running proc-macros as separate processes communicating with rustc over a pipe or unix-socket-like thing? That would be handy for being able to run statically linked versions of rustc on platforms without a dynamic linker. I'd imagine each proc-macro process should be able to handle multiple macro expansions without having to terminate and respawn for each one.

[2021-04-09 22:04] comex commented on #81088
For Option 3, why not do it like this?
[code]
Then you still have a single string literal.

[2021-04-09 22:05] camelid commented on #84043
Ah, that's it! Thanks :)

[2021-04-09 22:05] #84043 closed

[2021-04-09 22:06] camelid commented on #62867
I had an idea on how to implement this in https://github.com/rust-lang/rust/pull/80733#issuecomment-770297395. I think I might try doing that.

[2021-04-09 22:07] trtsl commented on #84044
Even simpler: [playground].

[playground]: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&code=fn%20main()%20%7B%0A%20%20%20%20let%20f%20%3D%20%7C%7C%20%7B%7D%3B%0A%20%20%20%20drop(%26mut%20f)%3B%0A%7D%0A

[code]

[2021-04-09 22:09] 38 commented on #83993
I think this one is a better repo, as

[code]

Seems that if HRTB contains a const expr and the const expr uses HRTB lifetimes. It will complain that escaping bound var in predict for "let _:&'b()"

[2021-04-09 22:27] camelid commented on #81311
It looks like that issue has been closed as intended behavior?

[2021-04-09 22:32] ExpHP commented on #83812
I tried checking out the link-backed commit https://github.com/Jaimeloeuf/SS/commit/b056e8f87f99772b8bdff11d67d49a3e83491962 of your project as well as the commit before it, and was unable to reproduce the errors you are reporting.  (I did not get any error when annotating `let () = $parse_fn(compiler);`.  If you are still having trouble with this, you should provide a link to a minimized code sam

[2021-04-09 22:42] jyn514 commented on #81311
Yup, I commented here before it had been closed.

[2021-04-09 23:11] ExpHP commented on #83969
Of course, the option of making the trait unsafe was discussed [as part of the RFC](https://github.com/rust-lang/rfcs/pull/1581), but it seems that the use case for the guarantees of `Fuse` in `unsafe` code were unclear at the time.

That said, I do kind of see how somebody might look of the signature of `fuse`:

[code]

and think, "ah, this returns a standard library type, so I should be able to